Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

Fix shield publishing for CLI (#5577)
  eng/pipelines/templates/stages/publish.yml
Due: none

Add .tar.gz support for Linux extension development and installation, fix extension registry (#5531)
  cli/azd/extensions/microsoft.azd.extensions/CHANGELOG.md
  cli/azd/extensions/microsoft.azd.extensions/extension.yaml
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/pack.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/publish.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/release.go
  cli/azd/extensions/microsoft.azd.extensions/internal/helpers.go
  cli/azd/extensions/microsoft.azd.extensions/internal/helpers_test.go
  cli/azd/extensions/microsoft.azd.extensions/version.txt
  cli/azd/extensions/registry.json
  cli/azd/pkg/extensions/manager.go
  cli/azd/pkg/extensions/manager_test.go
  cli/azd/pkg/rzip/rzip.go
  cli/azd/pkg/rzip/rzip_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

Automatically remove temp package after deploy when not using `--from-package` (#5445)
  cli/azd/internal/cmd/deploy.go
  cli/azd/pkg/project/service_target_appservice.go
  cli/azd/pkg/project/service_target_functionapp.go
Due: eng/pipelines/release-cli.yml

Update changelog
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

Remove name
  .vscode/cspell-github-user-aliases.txt
Due: none

return default value in ProjectInfrastructure
  cli/azd/pkg/project/importer.go
Due: eng/pipelines/release-cli.yml

feature flagged
  cli/azd/cmd/down.go
  cli/azd/cmd/env.go
  cli/azd/internal/cmd/provision.go
  cli/azd/resources/alpha_features.yaml
  schemas/v1.0/azure.yaml.json
Due: eng/pipelines/release-cli.yml

update snapshots
  cli/azd/cmd/testdata/TestUsage-azd-down.snap
  cli/azd/cmd/testdata/TestUsage-azd-env-refresh.snap
  cli/azd/cmd/testdata/TestUsage-azd-provision.snap
Due: eng/pipelines/release-cli.yml

ruler
  cli/azd/cmd/down.go
  cli/azd/cmd/env.go
  cli/azd/internal/cmd/provision.go
Due: eng/pipelines/release-cli.yml

warning during init
  cli/azd/internal/repository/app_init.go
  cli/azd/internal/repository/detect_confirm_apphost.go
  cli/azd/internal/repository/detect_confirm_apphost_test.go
Due: eng/pipelines/release-cli.yml

use apphost pkg to generate the warnings
  cli/azd/internal/repository/detect_confirm_apphost.go
  cli/azd/pkg/apphost/manifest.go
  cli/azd/pkg/apphost/manifest_test.go
Due: eng/pipelines/release-cli.yml

list
  cli/azd/pkg/apphost/manifest_test.go
  cli/azd/pkg/project/dotnet_importer.go
Due: eng/pipelines/release-cli.yml

Update to 1.18.2 and add entry
  cli/azd/CHANGELOG.md
  cli/version.txt
Due: eng/pipelines/release-cli.yml

update test
  cli/azd/pkg/apphost/manifest_test.go
Due: eng/pipelines/release-cli.yml

t
  cli/azd/pkg/apphost/manifest_test.go
Due: eng/pipelines/release-cli.yml

update test
  cli/azd/pkg/project/importer.go
  cli/azd/pkg/project/importer_test.go
Due: eng/pipelines/release-cli.yml

deprecate message for aspire less than 9.4 (#5582)
  cli/azd/internal/repository/app_init.go
  cli/azd/internal/repository/detect_confirm_apphost.go
  cli/azd/pkg/apphost/manifest.go
  cli/azd/pkg/apphost/manifest_test.go
  cli/azd/pkg/project/dotnet_importer.go
Due: eng/pipelines/release-cli.yml

Add change and update wording
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

Update entry
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

Enhance log statement when deployment fails
  cli/azd/pkg/azsdk/zip_deploy_client.go
Due: eng/pipelines/release-cli.yml

Alternative shell support (#5570)
  cli/azd/pkg/tools/powershell/powershell.go
  cli/azd/pkg/tools/powershell/powershell_test.go
Due: eng/pipelines/release-cli.yml

Adds warnings for missing powershell
  cli/azd/cmd/hooks.go
  cli/azd/cmd/middleware/hooks.go
  cli/azd/cmd/middleware/hooks_test.go
  cli/azd/pkg/exec/command_runner.go
  cli/azd/pkg/ext/hooks_manager.go
  cli/azd/pkg/ext/hooks_manager_test.go
  cli/azd/pkg/ext/hooks_runner_test.go
  cli/azd/pkg/ext/models.go
  cli/azd/pkg/helm/cli.go
  cli/azd/pkg/kubelogin/cli.go
  cli/azd/pkg/kustomize/cli.go
  cli/azd/pkg/tools/az/az.go
  cli/azd/pkg/tools/docker/docker.go
  cli/azd/pkg/tools/dotnet/dotnet.go
  cli/azd/pkg/tools/git/git.go
  cli/azd/pkg/tools/kubectl/kubectl.go
  cli/azd/pkg/tools/npm/npm.go
  cli/azd/pkg/tools/powershell/powershell.go
  cli/azd/pkg/tools/powershell/powershell_test.go
  cli/azd/pkg/tools/python/python.go
  cli/azd/pkg/tools/python/python_test.go
  cli/azd/pkg/tools/swa/swa.go
  cli/azd/pkg/tools/terraform/terraform.go
  cli/azd/pkg/tools/tool.go
  cli/azd/pkg/tools/tool_test.go
  cli/azd/test/mocks/mockexec/mock_runner.go
Due: eng/pipelines/release-cli.yml

auth: add claims support for devicecode flow
  cli/azd/cmd/auth_login.go
  cli/azd/pkg/auth/azd_credential.go
  cli/azd/pkg/auth/manager.go
  cli/azd/pkg/auth/manager_test.go
Due: eng/pipelines/release-cli.yml

Adds warnings for missing powershell (#5585)
  cli/azd/cmd/hooks.go
  cli/azd/cmd/middleware/hooks.go
  cli/azd/cmd/middleware/hooks_test.go
  cli/azd/pkg/exec/command_runner.go
  cli/azd/pkg/ext/hooks_manager.go
  cli/azd/pkg/ext/hooks_manager_test.go
  cli/azd/pkg/ext/hooks_runner_test.go
  cli/azd/pkg/ext/models.go
  cli/azd/pkg/helm/cli.go
  cli/azd/pkg/kubelogin/cli.go
  cli/azd/pkg/kustomize/cli.go
  cli/azd/pkg/tools/az/az.go
  cli/azd/pkg/tools/docker/docker.go
  cli/azd/pkg/tools/dotnet/dotnet.go
  cli/azd/pkg/tools/git/git.go
  cli/azd/pkg/tools/kubectl/kubectl.go
  cli/azd/pkg/tools/npm/npm.go
  cli/azd/pkg/tools/powershell/powershell.go
  cli/azd/pkg/tools/powershell/powershell_test.go
  cli/azd/pkg/tools/python/python.go
  cli/azd/pkg/tools/python/python_test.go
  cli/azd/pkg/tools/swa/swa.go
  cli/azd/pkg/tools/terraform/terraform.go
  cli/azd/pkg/tools/tool.go
  cli/azd/pkg/tools/tool_test.go
  cli/azd/test/mocks/mockexec/mock_runner.go
Due: eng/pipelines/release-cli.yml

Create changelog for v1.18.2 release (#5579)
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/CHANGELOG.md
  cli/version.txt
Due: eng/pipelines/release-cli.yml

fix: cloudshell telemetry check
  cli/azd/internal/telemetry/telemetry.go
Due: eng/pipelines/release-cli.yml

Make warning message prefix all caps
  cli/azd/pkg/output/ux/warning.go
Due: eng/pipelines/release-cli.yml

Add comments
  cli/azd/pkg/output/ux/warning.go
  cli/azd/pkg/output/ux/warning_alt.go
Due: eng/pipelines/release-cli.yml

Display hook warning suggestions with neutral formatting
  cli/azd/cmd/middleware/hooks.go
  cli/azd/pkg/ext/hooks_manager.go
Due: eng/pipelines/release-cli.yml

Improve warning message formatting (#5590)
  cli/azd/cmd/middleware/hooks.go
  cli/azd/pkg/ext/hooks_manager.go
  cli/azd/pkg/output/ux/warning.go
  cli/azd/pkg/output/ux/warning_alt.go
Due: eng/pipelines/release-cli.yml

update azd to go 1.25
  .devcontainer/devcontainer.json
  .devcontainer/light/devcontainer.json
  .github/workflows/cli-ci.yml
  .github/workflows/copilot-setup-steps.yml
  cli/azd/CONTRIBUTING.md
  eng/pipelines/templates/steps/setup-go.yml
  go.mod
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml

revert
  .gitattributes
Due: none

UX updates, tool JSON payloads
  cli/azd/extensions/azd.ai.start/internal/agent/agent.go
  cli/azd/extensions/azd.ai.start/internal/agent/prompts/default_agent_format_instructions.txt
  cli/azd/extensions/azd.ai.start/internal/cmd/enhanced_integration.go
  cli/azd/extensions/azd.ai.start/internal/cmd/root.go
  cli/azd/extensions/azd.ai.start/internal/logging/logger.go
  cli/azd/extensions/azd.ai.start/internal/tools/io/directory_list.go
  cli/azd/extensions/azd.ai.start/internal/tools/io/file_info.go
  cli/azd/extensions/azd.ai.start/internal/tools/io/file_search.go
  cli/azd/extensions/azd.ai.start/internal/tools/io/read_file.go
  cli/azd/extensions/azd.ai.start/internal/tools/io/write_file.go
  cli/azd/extensions/azd.ai.start/internal/tools/mcp/mcp.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Upadates agent and tools
  cli/azd/extensions/azd.ai.start/go.mod
  cli/azd/extensions/azd.ai.start/go.sum
  cli/azd/extensions/azd.ai.start/internal/agent/agent.go
  cli/azd/extensions/azd.ai.start/internal/agent/prompts/default_agent_format_instructions.txt
  cli/azd/extensions/azd.ai.start/internal/agent/prompts/default_agent_prefix.txt
  cli/azd/extensions/azd.ai.start/internal/agent/prompts/default_agent_suffix.txt
  cli/azd/extensions/azd.ai.start/internal/cmd/enhanced_integration.go
  cli/azd/extensions/azd.ai.start/internal/logging/logger.go
  cli/azd/extensions/azd.ai.start/internal/tools/change_directory.go
  cli/azd/extensions/azd.ai.start/internal/tools/command_executor.go
  cli/azd/extensions/azd.ai.start/internal/tools/copy_file.go
  cli/azd/extensions/azd.ai.start/internal/tools/create_directory.go
  cli/azd/extensions/azd.ai.start/internal/tools/current_directory.go
  cli/azd/extensions/azd.ai.start/internal/tools/delete_directory.go
  cli/azd/extensions/azd.ai.start/internal/tools/delete_file.go
  cli/azd/extensions/azd.ai.start/internal/tools/directory_list.go
  cli/azd/extensions/azd.ai.start/internal/tools/file_info.go
  cli/azd/extensions/azd.ai.start/internal/tools/file_search.go
  cli/azd/extensions/azd.ai.start/internal/tools/http_fetcher.go
  cli/azd/extensions/azd.ai.start/internal/tools/move_file.go
  cli/azd/extensions/azd.ai.start/internal/tools/read_file.go
  cli/azd/extensions/azd.ai.start/internal/tools/write_file.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Adds MCP tool support
  cli/azd/extensions/azd.ai.start/go.mod
  cli/azd/extensions/azd.ai.start/go.sum
  cli/azd/extensions/azd.ai.start/internal/agent/agent.go
  cli/azd/extensions/azd.ai.start/internal/agent/prompts/default_agent_format_instructions.txt
  cli/azd/extensions/azd.ai.start/internal/agent/prompts/default_agent_prefix.txt
  cli/azd/extensions/azd.ai.start/internal/cmd/enhanced_integration.go
  cli/azd/extensions/azd.ai.start/internal/cmd/root.go
  cli/azd/extensions/azd.ai.start/internal/session/action.go
  cli/azd/extensions/azd.ai.start/internal/session/session.go
  cli/azd/extensions/azd.ai.start/internal/tools/dev/command_executor.go
  cli/azd/extensions/azd.ai.start/internal/tools/dev/loader.go
  cli/azd/extensions/azd.ai.start/internal/tools/http/http_fetcher.go
  cli/azd/extensions/azd.ai.start/internal/tools/http/loader.go
  cli/azd/extensions/azd.ai.start/internal/tools/io/change_directory.go
  cli/azd/extensions/azd.ai.start/internal/tools/io/copy_file.go
  cli/azd/extensions/azd.ai.start/internal/tools/io/create_directory.go
  cli/azd/extensions/azd.ai.start/internal/tools/io/current_directory.go
  cli/azd/extensions/azd.ai.start/internal/tools/io/delete_directory.go
  cli/azd/extensions/azd.ai.start/internal/tools/io/delete_file.go
  cli/azd/extensions/azd.ai.start/internal/tools/io/directory_list.go
  cli/azd/extensions/azd.ai.start/internal/tools/io/file_info.go
  cli/azd/extensions/azd.ai.start/internal/tools/io/file_search.go
  cli/azd/extensions/azd.ai.start/internal/tools/io/loader.go
  cli/azd/extensions/azd.ai.start/internal/tools/io/move_file.go
  cli/azd/extensions/azd.ai.start/internal/tools/io/read_file.go
  cli/azd/extensions/azd.ai.start/internal/tools/io/write_file.go
  cli/azd/extensions/azd.ai.start/internal/tools/loader.go
  cli/azd/extensions/azd.ai.start/internal/tools/mcp/loader.go
  cli/azd/extensions/azd.ai.start/internal/tools/mcp/mcp.json
  cli/azd/extensions/azd.ai.start/internal/tools/weather/loader.go
  cli/azd/extensions/azd.ai.start/internal/tools/weather/weather.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

WIP: azd ai chat
  cli/azd/extensions/azd.ai.start/AZURE_AI_SETUP.md
  cli/azd/extensions/azd.ai.start/README.md
  cli/azd/extensions/azd.ai.start/USAGE.md
  cli/azd/extensions/azd.ai.start/build.ps1
  cli/azd/extensions/azd.ai.start/build.sh
  cli/azd/extensions/azd.ai.start/changelog.md
  cli/azd/extensions/azd.ai.start/extension.yaml
  cli/azd/extensions/azd.ai.start/go.mod
  cli/azd/extensions/azd.ai.start/go.sum
  cli/azd/extensions/azd.ai.start/internal/agent/agent.go
  cli/azd/extensions/azd.ai.start/internal/agent/factory.go
  cli/azd/extensions/azd.ai.start/internal/agent/response.go
  cli/azd/extensions/azd.ai.start/internal/agent/stats.go
  cli/azd/extensions/azd.ai.start/internal/cmd/enhanced_integration.go
  cli/azd/extensions/azd.ai.start/internal/cmd/root.go
  cli/azd/extensions/azd.ai.start/internal/logging/logger.go
  cli/azd/extensions/azd.ai.start/internal/session/action.go
  cli/azd/extensions/azd.ai.start/internal/session/session.go
  cli/azd/extensions/azd.ai.start/internal/tools/change_directory.go
  cli/azd/extensions/azd.ai.start/internal/tools/copy_file.go
  cli/azd/extensions/azd.ai.start/internal/tools/create_directory.go
  cli/azd/extensions/azd.ai.start/internal/tools/current_directory.go
  cli/azd/extensions/azd.ai.start/internal/tools/delete_directory.go
  cli/azd/extensions/azd.ai.start/internal/tools/delete_file.go
  cli/azd/extensions/azd.ai.start/internal/tools/directory_list.go
  cli/azd/extensions/azd.ai.start/internal/tools/file_info.go
  cli/azd/extensions/azd.ai.start/internal/tools/http_fetcher.go
  cli/azd/extensions/azd.ai.start/internal/tools/move_file.go
  cli/azd/extensions/azd.ai.start/internal/tools/read_file.go
  cli/azd/extensions/azd.ai.start/internal/tools/weather.go
  cli/azd/extensions/azd.ai.start/internal/tools/write_file.go
  cli/azd/extensions/azd.ai.start/internal/utils/helpers.go
  cli/azd/extensions/azd.ai.start/internal/validation/parser.go
  cli/azd/extensions/azd.ai.start/internal/validation/types.go
  cli/azd/extensions/azd.ai.start/internal/validation/validator.go
  cli/azd/extensions/azd.ai.start/main.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

azd agent
  cli/azd/extensions/azd.ai.start/go.mod
  cli/azd/extensions/azd.ai.start/go.sum
  cli/azd/extensions/azd.ai.start/internal/agent/agent.go
  cli/azd/extensions/azd.ai.start/internal/agent/factory.go
  cli/azd/extensions/azd.ai.start/internal/agent/prompts/default_agent_prefix.txt
  cli/azd/extensions/azd.ai.start/internal/agent/response.go
  cli/azd/extensions/azd.ai.start/internal/agent/stats.go
  cli/azd/extensions/azd.ai.start/internal/cmd/enhanced_integration.go
  cli/azd/extensions/azd.ai.start/internal/cmd/root.go
  cli/azd/extensions/azd.ai.start/internal/logging/logger.go
  cli/azd/extensions/azd.ai.start/internal/tools/change_directory.go
  cli/azd/extensions/azd.ai.start/internal/tools/copy_file.go
  cli/azd/extensions/azd.ai.start/internal/tools/create_directory.go
  cli/azd/extensions/azd.ai.start/internal/tools/delete_directory.go
  cli/azd/extensions/azd.ai.start/internal/tools/delete_file.go
  cli/azd/extensions/azd.ai.start/internal/tools/directory_list.go
  cli/azd/extensions/azd.ai.start/internal/tools/file_info.go
  cli/azd/extensions/azd.ai.start/internal/tools/http_fetcher.go
  cli/azd/extensions/azd.ai.start/internal/tools/move_file.go
  cli/azd/extensions/azd.ai.start/internal/tools/read_file.go
  cli/azd/extensions/azd.ai.start/internal/tools/weather.go
  cli/azd/extensions/azd.ai.start/internal/tools/write_file.go
  cli/azd/extensions/azd.ai.start/internal/validation/validator.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Adds sampling handler
  cli/azd/extensions/azd.ai.start/internal/agent/agent.go
  cli/azd/extensions/azd.ai.start/internal/logging/logger.go
  cli/azd/extensions/azd.ai.start/internal/tools/mcp/loader.go
  cli/azd/extensions/azd.ai.start/internal/tools/mcp/sampling_handler.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Fixed sampling
  cli/azd/extensions/azd.ai.start/README.md
  cli/azd/extensions/azd.ai.start/USAGE.md
  cli/azd/extensions/azd.ai.start/internal/agent/agent.go
  cli/azd/extensions/azd.ai.start/internal/cmd/enhanced_integration.go
  cli/azd/extensions/azd.ai.start/internal/cmd/root.go
  cli/azd/extensions/azd.ai.start/internal/logging/logger.go
  cli/azd/extensions/azd.ai.start/internal/tools/mcp/sampling_handler.go
  cli/azd/extensions/azd.ai.start/internal/utils/helpers.go
  cli/azd/extensions/azd.ai.start/internal/validation/parser.go
  cli/azd/extensions/azd.ai.start/internal/validation/types.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml
