Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      demands: ImageOverride -equals windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-azdo-setupazd.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: BuildAndTest
        variables:
        - template: /eng/pipelines/templates/variables/image.yml
        jobs:
        - job: BuildSetupAzd
          displayName: BuildSetupAzd
          variables:
  ...

eng/pipelines/release-azuredevops.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/azuredevops-build-and-test.yml
      - template: /eng/pipelines/templates/stages/azuredevops-sign.yml
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-ai-agents
  ...

eng/pipelines/release-ext-azure-ai-models.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.models
          SanitizedExtensionId: azure-ai-models
  ...

eng/pipelines/release-ext-azure-appservice.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.appservice
          SanitizedExtensionId: azure-appservice
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

Remove the root one.
  .github/scripts/ext-registry-check.js
Due: none

feat: prepare Foundry extensions patch release (#9059)
  .vscode/cspell-github-user-aliases.txt
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/extension.yaml
  cli/azd/extensions/azure.ai.agents/version.txt
  cli/azd/extensions/azure.ai.connections/CHANGELOG.md
  cli/azd/extensions/azure.ai.connections/extension.yaml
  cli/azd/extensions/azure.ai.connections/version.txt
  cli/azd/extensions/azure.ai.inspector/CHANGELOG.md
  cli/azd/extensions/azure.ai.inspector/extension.yaml
  cli/azd/extensions/azure.ai.inspector/version.txt
  cli/azd/extensions/azure.ai.projects/CHANGELOG.md
  cli/azd/extensions/azure.ai.projects/extension.yaml
  cli/azd/extensions/azure.ai.projects/version.txt
  cli/azd/extensions/azure.ai.routines/CHANGELOG.md
  cli/azd/extensions/azure.ai.routines/extension.yaml
  cli/azd/extensions/azure.ai.routines/version.txt
  cli/azd/extensions/azure.ai.skills/CHANGELOG.md
  cli/azd/extensions/azure.ai.skills/extension.yaml
  cli/azd/extensions/azure.ai.skills/version.txt
  cli/azd/extensions/azure.ai.toolboxes/CHANGELOG.md
  cli/azd/extensions/azure.ai.toolboxes/extension.yaml
  cli/azd/extensions/azure.ai.toolboxes/version.txt
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Going back to the hardcoded list, for now, as reading from an organization group requires more permissions for a small, mostly static, list of people.
  .github/scripts/src/ext-registry-check.js
Due: none

Some more cleanup since we're back to the hardcoded list of team members.
  .github/scripts/src/ext-registry-check.js
  .github/scripts/test/ext-registry-check.test.js
  .github/workflows/ext-registry-check.yml
Due: none

Address review: reuse defaultResourceGroupName and trim env values
  cli/azd/extensions/azure.ai.agents/internal/project/resource_group_location_check.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Add resource group location mismatch preflight check (azure.ai.agents)
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/project/resource_group_location_check.go
  cli/azd/extensions/azure.ai.agents/internal/project/resource_group_location_check_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Register RG location check under provider-agnostic provision type
  cli/azd/extensions/azure.ai.agents/extension.yaml
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/project/resource_group_location_check.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Address review: bump requiredAzdVersion and skip brownfield projects
  cli/azd/extensions/azure.ai.agents/extension.yaml
  cli/azd/extensions/azure.ai.agents/internal/project/resource_group_location_check.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Address review: trim context values, namespace rule ID, quote RG, add Validate tests
  cli/azd/extensions/azure.ai.agents/internal/project/resource_group_location_check.go
  cli/azd/extensions/azure.ai.agents/internal/project/resource_group_location_check_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/resource_group_location_check_validate_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

arbitrary change.
  cli/azd/AGENTS.md
Due: eng/pipelines/release-cli.yml

[azure.ai.connections] Registry update for 1.0.0-beta.2
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.routines] Registry update for 1.0.0-beta.2
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

[azure.ai.toolboxes] Registry update for 1.0.0-beta.2
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.inspector] Registry update for 1.0.0-beta.2
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.agents] Registry update for 1.0.0-beta.5
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

[azure.ai.skills] Registry update for 1.0.0-beta.2
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.projects] Registry update for 1.0.0-beta.2
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.projects] Registry update for 1.0.0-beta.2 (#9068)
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.skills] Registry update for 1.0.0-beta.2 (#9067)
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.connections] Registry update for 1.0.0-beta.2 (#9062)
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.agents] Registry update for 1.0.0-beta.5 (#9066)
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

[azure.ai.routines] Registry update for 1.0.0-beta.2 (#9063)
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

[azure.ai.toolboxes] Registry update for 1.0.0-beta.2 (#9064)
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.inspector] Registry update for 1.0.0-beta.2 (#9065)
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

Adding in CI for my...CI.
  .github/workflows/scripts-ci.yml
Due: none

Limit AI agents live PR trigger paths
  eng/pipelines/ext-azure-ai-agents-live.yml
Due: none

Classify invocations_ws routing as other change
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Add in some more checks for fields that might show up in extensions. TBH, most of them aren't used, but just being thorough.
  .github/scripts/src/ext-registry-check.js
  .github/scripts/test/ext-registry-check.test.js
Due: none

Document live pipeline PR comment name
  eng/pipelines/ext-azure-ai-agents-live.yml
Due: none

Temporarily add my test branch in again for the CI workflow testing.
  .github/workflows/scripts-ci.yml
Due: none

Switch invocations_ws agent endpoint to path-based routing (#9049)
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

ci: associate AI agents live pipeline with main PRs (#9039)
  eng/pipelines/ext-azure-ai-agents-live.yml
Due: none

[azure.ai.agents] Nightly registry update for 1.0.0-beta.5.nightly.6545219
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.rle] Nightly registry update for 0.1.0-preview.nightly.6545220
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.connections] Nightly registry update for 1.0.0-beta.2.nightly.6545227
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.inspector] Nightly registry update for 1.0.0-beta.2.nightly.6545235
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.projects] Nightly registry update for 1.0.0-beta.2.nightly.6545257
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.routines] Nightly registry update for 1.0.0-beta.2.nightly.6545296
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.skills] Nightly registry update for 1.0.0-beta.2.nightly.6545331
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.toolboxes] Nightly registry update for 1.0.0-beta.2.nightly.6545350
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
