Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      vmImage: windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
        PublishAnalysisLogs: false
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-coding-agent.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.coding-agent
          SanitizedExtensionId: azure-coding-agent
  ...

eng/pipelines/release-ext-azure-foundry-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-foundry-ai-agents
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

eng/pipelines/release-ext-microsoft-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: microsoft.ai.agents
          SanitizedExtensionId: microsoft-ai-agents
  ...

eng/pipelines/release-ext-microsoft-azd-ai-builder.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: microsoft.azd.ai.builder
          SanitizedExtensionId: microsoft-azd-ai-builder
  ...

Add tests
  cli/azd/internal/cmd/errors_test.go
  cli/azd/pkg/azdext/extension_error_test.go
  cli/azd/pkg/grpcbroker/message_broker_test.go
Due: eng/pipelines/release-cli.yml

Fix lint
  cli/azd/pkg/azdext/extension_error.go
Due: eng/pipelines/release-cli.yml

address comment
  cli/azd/cmd/middleware/error.go
Due: eng/pipelines/release-cli.yml

lll
  cli/azd/cmd/middleware/error.go
Due: eng/pipelines/release-cli.yml

improve prompt
  cli/azd/cmd/middleware/error.go
Due: eng/pipelines/release-cli.yml

fix bug
  cli/azd/cmd/middleware/error.go
Due: eng/pipelines/release-cli.yml

fix tests
  cli/azd/cmd/middleware/error_test.go
Due: eng/pipelines/release-cli.yml

Refactor agent API response handling to use runtime status code checks
  cli/azd/extensions/azure.ai.agents/go.mod
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

implement three solutions prompt on error handling flow (#6313)
  cli/azd/cmd/middleware/error.go
  cli/azd/cmd/middleware/error_test.go
  cli/azd/go.mod
  cli/azd/go.sum
Due: eng/pipelines/release-cli.yml

Propagate trace context to the extension process
  cli/azd/cmd/extensions.go
  cli/azd/docs/extension-framework.md
  cli/azd/pkg/azdext/trace_context.go
Due: eng/pipelines/release-cli.yml

Support debug logging during `init`
  cli/azd/extensions/azure.ai.agents/internal/cmd/debug.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Add TODO to inject traceparent into context
  cli/azd/extensions/azure.ai.agents/main.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Refactor debug logging
  cli/azd/extensions/azure.ai.agents/internal/cmd/debug.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/azure/logging.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

add more details for infra fix in error_troubleshooting instructions.
  cli/azd/internal/mcp/tools/prompts/azd_error_troubleshooting.md
Due: eng/pipelines/release-cli.yml

cspell
  cli/azd/internal/mcp/tools/prompts/azd_error_troubleshooting.md
Due: eng/pipelines/release-cli.yml

add infra fix instructions for error handling workflow (#6329)
  cli/azd/internal/mcp/tools/prompts/azd_error_troubleshooting.md
Due: eng/pipelines/release-cli.yml

Update documentation
  cli/azd/docs/extension-framework.md
Due: eng/pipelines/release-cli.yml

Support azure.yml in addition to azure.yaml (#6285)
  cli/azd/pkg/environment/azdcontext/azdcontext.go
  cli/azd/pkg/environment/azdcontext/azdcontext_test.go
  ext/vscode/package.json
  ext/vscode/src/commands/cmdUtil.ts
Due: eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml

Prompt to create directory when using -C/--cwd with non-existent path (#6266)
  .gitignore
  cli/azd/cmd/root.go
  cli/azd/test/functional/init_test.go
Due: eng/pipelines/release-cli.yml

Use gRPC metadata to pass trace context
  cli/azd/.vscode/cspell.yaml
  cli/azd/cmd/middleware/extensions.go
  cli/azd/docs/extension-framework.md
  cli/azd/grpc/proto/event.proto
  cli/azd/grpc/proto/framework_service.proto
  cli/azd/grpc/proto/service_target.proto
  cli/azd/internal/grpcserver/server.go
  cli/azd/pkg/azdext/azd_client.go
  cli/azd/pkg/azdext/context.go
  cli/azd/pkg/azdext/event.pb.go
  cli/azd/pkg/azdext/event_message_envelope.go
  cli/azd/pkg/azdext/framework_service.pb.go
  cli/azd/pkg/azdext/framework_service_envelope.go
  cli/azd/pkg/azdext/service_target.pb.go
  cli/azd/pkg/azdext/service_target_envelope.go
  cli/azd/pkg/azdext/trace_context.go
  cli/azd/pkg/grpcbroker/message_broker.go
Due: eng/pipelines/release-cli.yml

Fix cspell
  cli/azd/.vscode/cspell.yaml
Due: eng/pipelines/release-cli.yml

Update tests
  cli/azd/pkg/azdext/context_test.go
  cli/azd/pkg/azdext/trace_context_test.go
  cli/azd/pkg/grpcbroker/message_broker_test.go
Due: eng/pipelines/release-cli.yml

Fix lint
  cli/azd/pkg/azdext/azd_client.go
Due: eng/pipelines/release-cli.yml

Escape environment config values in pipeline manager before calling providers
  cli/azd/pkg/azdo/pipeline.go
  cli/azd/pkg/pipeline/github_provider.go
  cli/azd/pkg/pipeline/pipeline.go
  cli/azd/pkg/pipeline/pipeline_test.go
Due: eng/pipelines/release-cli.yml

Fix: Add JSON escape to variables before syncing to remote pipeline (#5568)
  cli/azd/pkg/pipeline/pipeline.go
  cli/azd/pkg/pipeline/pipeline_test.go
Due: eng/pipelines/release-cli.yml

Add some more tests and separate out utilities
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/test/integrationTests/deployTests/deploy_test.go
  cli/azd/extensions/azure.ai.agents/test/integrationTests/initTests/init_test.go
  cli/azd/extensions/azure.ai.agents/test/integrationTests/init_test.go
  cli/azd/extensions/azure.ai.agents/test/integrationTests/testUtilities/test_suite.go
  cli/azd/extensions/azure.ai.agents/test/integrationTests/testUtilities/test_utils.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Configure PR auto-close after 2 weeks of inactivity (#6336)
  .github/policies/resourceManagement.yml
Due: none

Updates to support cobo SetIdentity
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/project/parser.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

- make framework service swa to require restore - Make package to identify framework swa as using swa-config file
  cli/azd/pkg/project/framework_service_swa.go
Due: eng/pipelines/release-cli.yml

handle 404 during deletion
  cli/azd/pkg/infra/scope.go
Due: eng/pipelines/release-cli.yml

Fix resource group progress
  cli/azd/pkg/azapi/standard_deployments.go
Due: eng/pipelines/release-cli.yml

add option for destroy
  cli/azd/cmd/down.go
  cli/azd/internal/vsrpc/environment_service.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/provider.go
Due: eng/pipelines/release-cli.yml

avoid invalidating AZURE_RESOURCE_GROUP on azd down
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/test/test_provider.go
  cli/azd/pkg/prompt/prompter.go
Due: eng/pipelines/release-cli.yml

Rename AI_FOUNDRY_PROJECT_APP_ID to AZURE_AI_PROJECT_PRINCIPAL_ID to align with other naming
  cli/azd/extensions/azure.ai.agents/internal/project/parser.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Rollback changes for getting module name
  cli/azd/pkg/project/service_target_containerapp.go
Due: eng/pipelines/release-cli.yml

Polish
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

- make framework service swa to require restore (#6341)
  cli/azd/pkg/project/framework_service_swa.go
Due: eng/pipelines/release-cli.yml

Update message for deployment
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Fix azd ai agent init message to suggest azd up before azd deploy (#6343)
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

adding docs for the internal test recorder
  cli/azd/docs/recording-functional-tests-guide.md
Due: eng/pipelines/release-cli.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: go.mod, cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
