Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: go.mod, cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.foundry.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

Makes language optional in the schema (#5867)
  schemas/alpha/azure.yaml.json
  schemas/v1.0/azure.yaml.json
Due: none

Add experimental feed with 'azd coding-agent' in it. (#5861)
  cli/azd/extensions/registry-experimental.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Prep for release.
  cli/azd/extensions/azure.coding-agent/CHANGELOG.md
  cli/azd/extensions/azure.coding-agent/README.md
  cli/azd/extensions/azure.coding-agent/extension.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-coding-agent.yml

remove this line if it is not azd init agent mode
  cli/azd/cmd/init.go
Due: eng/pipelines/release-cli.yml

tracing: add mcp server instrumentation
  cli/azd/cmd/mcp.go
  cli/azd/internal/tracing/fields/fields.go
Due: eng/pipelines/release-cli.yml

add usage for agent
  cli/azd/cmd/init.go
Due: eng/pipelines/release-cli.yml

add cspell
  cli/azd/.vscode/cspell-azd-dictionary.txt
Due: eng/pipelines/release-cli.yml

update preflight error handling for standard deployment (#5870)
  cli/azd/pkg/azapi/deployments.go
  cli/azd/pkg/azapi/stack_deployments.go
  cli/azd/pkg/azapi/standard_deployments.go
Due: eng/pipelines/release-cli.yml

wip
  cli/azd/extensions/azure.foundry.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

resolve conflicts
  schemas/alpha/azure.yaml.json
Due: none

remove empty line
  schemas/alpha/azure.yaml.json
Due: none

ok
  cli/azd/extensions/azure.coding-agent/version.txt
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-coding-agent.yml

resolve conflicts
  cli/azd/extensions/extension.schema.json
  cli/azd/extensions/microsoft.azd.demo/extension.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml

chore: update bicep from 0.38.3 to 0.38.33 (#5869)
  .github/workflows/lint-bicep.yml
  cli/azd/pkg/tools/bicep/bicep.go
Due: eng/pipelines/release-cli.yml

Fix `publish` for custom service targets and add container related fields (#5859)
  cli/azd/extensions/azure.foundry.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/microsoft.azd.demo/internal/project/service_target_demo.go
  cli/azd/grpc/proto/models.proto
  cli/azd/grpc/proto/service_target.proto
  cli/azd/internal/cmd/publish.go
  cli/azd/internal/grpcserver/project_service.go
  cli/azd/pkg/azdext/extension_host_test.go
  cli/azd/pkg/azdext/models.pb.go
  cli/azd/pkg/azdext/service_target.pb.go
  cli/azd/pkg/azdext/service_target_manager.go
  cli/azd/pkg/project/service_target.go
  cli/azd/pkg/project/service_target_external.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml

update method name
  cli/azd/internal/grpcserver/framework_service.go
Due: eng/pipelines/release-cli.yml

Support language custom (#5771)
  cli/azd/cmd/container.go
  cli/azd/internal/cmd/show/show.go
  cli/azd/pkg/contracts/show.go
  cli/azd/pkg/project/framework_service.go
  cli/azd/pkg/project/framework_service_custom.go
  cli/azd/pkg/project/service_target_functionapp.go
  cli/azd/resources/alpha_features.yaml
  schemas/alpha/azure.yaml.json
Due: eng/pipelines/release-cli.yml

Added support to print app service aspire dashboard url
  cli/azd/pkg/apphost/generate.go
Due: eng/pipelines/release-cli.yml

minor fix for agent azd init agent UX (#5877)
  cli/azd/cmd/init.go
Due: eng/pipelines/release-cli.yml

Adding deploy support for foundry extension
  cli/azd/extensions/azure.foundry.ai.agents/internal/project/agent_config.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/project/agent_request.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/project/remote_build.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

(coding-agent extension) Prep for release. (#5876)
  cli/azd/extensions/azure.coding-agent/CHANGELOG.md
  cli/azd/extensions/azure.coding-agent/README.md
  cli/azd/extensions/azure.coding-agent/extension.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-coding-agent.yml

remove logic to handle multiple definitions
  cli/azd/extensions/azure.foundry.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

add usage for agent (#5879)
  cli/azd/cmd/init.go
Due: eng/pipelines/release-cli.yml

Adds support for service dependencies
  cli/azd/pkg/project/importer.go
  cli/azd/pkg/project/importer_test.go
  cli/azd/pkg/project/service_config.go
Due: eng/pipelines/release-cli.yml

Updates schemas
  schemas/alpha/azure.yaml.json
  schemas/v1.0/azure.yaml.json
Due: none

Adds tests case to validate self dependencies
  cli/azd/pkg/project/importer_test.go
Due: eng/pipelines/release-cli.yml

updates for tests and extensions
  cli/azd/extensions/azure.coding-agent/README.md
  cli/azd/extensions/azure.foundry.ai.agents/README.md
  cli/azd/extensions/microsoft.azd.demo/README.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml

Minor line updates
  cli/azd/cmd/extension.go
Due: eng/pipelines/release-cli.yml

Updates output for azd ext show command
  cli/azd/cmd/extension.go
Due: eng/pipelines/release-cli.yml

cspell
  cli/azd/.vscode/cspell-azd-dictionary.txt
Due: eng/pipelines/release-cli.yml

Update Extension show command and doc updates (#5874)
  cli/azd/cmd/extension.go
  cli/azd/extensions/azure.coding-agent/README.md
  cli/azd/extensions/azure.foundry.ai.agents/README.md
  cli/azd/extensions/microsoft.azd.demo/README.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml

Services dependencies (#5856)
  cli/azd/pkg/project/importer.go
  cli/azd/pkg/project/importer_test.go
  cli/azd/pkg/project/service_config.go
  schemas/alpha/azure.yaml.json
  schemas/v1.0/azure.yaml.json
Due: eng/pipelines/release-cli.yml

clean up changes
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

set date
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

updating version in version.txt to match the extension.yaml
  cli/azd/extensions/azure.coding-agent/extension.yaml
  cli/azd/extensions/azure.coding-agent/version.txt
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-coding-agent.yml

Adds extensible type mapper
  cli/azd/extensions/azure.coding-agent/internal/cmd/coding_agent_config.go
  cli/azd/extensions/azure.coding-agent/internal/cmd/interfaces.go
  cli/azd/internal/grpcserver/compose_service.go
  cli/azd/internal/grpcserver/project_service.go
  cli/azd/internal/mapper/mapper.go
  cli/azd/internal/mapper/mapper_test.go
  cli/azd/pkg/environment/mapper_registry.go
  cli/azd/pkg/environment/mapper_registry_test.go
  cli/azd/pkg/project/container_helper.go
  cli/azd/pkg/project/container_helper_test.go
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/mapper_registry.go
  cli/azd/pkg/project/mapper_registry_test.go
  cli/azd/pkg/project/service_models_test.go
  cli/azd/pkg/project/service_target_aks_test.go
  cli/azd/pkg/project/service_target_containerapp_test.go
  cli/azd/pkg/project/service_target_external.go
  cli/azd/pkg/project/service_target_external_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-coding-agent.yml

Updates mapper registry to be DRY
  cli/azd/pkg/project/mapper_registry.go
Due: eng/pipelines/release-cli.yml

Create changelog for v1.20.0 release (#5888)
  cli/azd/CHANGELOG.md
  cli/version.txt
Due: eng/pipelines/release-cli.yml

Init for declarative agent
  cli/azd/extensions/azure.foundry.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/azure/ai/model_catalog.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/azure/azure_client.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Ensures clear error messages during registration or conversion failures
  cli/azd/internal/mapper/error_message_test.go
  cli/azd/internal/mapper/errors.go
  cli/azd/internal/mapper/errors_test.go
  cli/azd/internal/mapper/mapper.go
  cli/azd/internal/mapper/mapper_test.go
  cli/azd/pkg/project/service_target_external.go
Due: eng/pipelines/release-cli.yml
