Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

fix: respect swa-cli.config.json and remove azure.yaml staticwebapp field
  cli/azd/pkg/project/service_config.go
  cli/azd/pkg/project/service_target_staticwebapp.go
  cli/azd/pkg/project/service_target_staticwebapp_test.go
  cli/azd/pkg/tools/swa/swa.go
  cli/azd/pkg/tools/swa/swa_test.go
  docs/reference/azure-yaml-schema.md
  schemas/alpha/azure.yaml.json
  schemas/v1.0/azure.yaml.json
Due: eng/pipelines/release-cli.yml

fix(agents): relax PromptAgent to accept skill without instructions
  cli/azd/extensions/azure.ai.agents/schemas/Agent.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

refactor(agents): address ExpandEnv review feedback
  cli/azd/extensions/azure.ai.agents/internal/cmd/run.go
  cli/azd/extensions/azure.ai.agents/internal/project/templating.go
  cli/azd/extensions/azure.ai.agents/internal/project/templating_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): enforce Foundry schema dependencies
  cli/azd/extensions/azure.ai.agents/schemas/Agent.json
  cli/azd/extensions/azure.ai.agents/schemas/Routine.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): mask ${{...}} spans so ${VAR:-default} still expands
  cli/azd/extensions/azure.ai.agents/internal/project/templating.go
  cli/azd/extensions/azure.ai.agents/internal/project/templating_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): align Foundry schema constraints
  cli/azd/extensions/azure.ai.agents/schemas/Agent.json
  cli/azd/extensions/azure.ai.agents/schemas/Routine.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

wip: revamp next-step + doctor for unified azure.yaml (microsoft.foundry)
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_agent_identity_roles.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_agent_status.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_connections.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_local.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_local_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_manual_env.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_manual_env_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_project.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_project_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_toolboxes.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/foundry_config.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/foundry_config_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/manifest.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/manifest_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/resolver.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/resolver_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/state.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/state_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/types.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: replace hardcoded fixture fallback with fail-fast :? syntax
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/10-init-deploy-mode-code.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/10-init-deploy-mode-container.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/10-init-from-code.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/10-init-validate-deploy-mode.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: replace hardcoded fixture fallback with fail-fast :? syntax (#8606)
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/10-init-deploy-mode-code.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/10-init-deploy-mode-container.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/10-init-from-code.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/10-init-validate-deploy-mode.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

docs(spec): address glharper review (drift, eject UX, Destroy purge, schema, scope)
  docs/specs/bicepless-foundry/spec.md
Due: none

feat(agents): bicep-less init for azd ai agent init
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_foundry_resources_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_foundry_resources_helpers_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/provisioning_provider.go
  schemas/alpha/azure.yaml.json
  schemas/v1.0/azure.yaml.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Add E2E test pipeline for azure.ai.agents extension
  .github/workflows/e2e-ext-azure-ai-agents.yml
Due: none

fix: align workflow with official Copilot CLI docs
  .github/workflows/e2e-ext-azure-ai-agents.yml
Due: none

fix: heredoc indentation, concurrency group, prompt file check
  .github/workflows/e2e-ext-azure-ai-agents.yml
Due: none

feat: add prompt-ci-run.md and pass TIER env to Copilot
  .github/workflows/e2e-ext-azure-ai-agents.yml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/prompt-ci-run.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: remove cwd from MCP config, use bash -c cd instead
  .github/workflows/e2e-ext-azure-ai-agents.yml
Due: none

Revert changelog update
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

feat(agents): support Foundry ${{...}} server-side expressions in env expansion (#8602)
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/run.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/templating.go
  cli/azd/extensions/azure.ai.agents/internal/project/templating_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Switch PAT to GitHubApps
  eng/pipelines/templates/steps/publish-cli.yml
Due: none

Switch PAT to GitHubApps
  eng/pipelines/templates/steps/publish-cli-winget.yml
  eng/pipelines/templates/steps/publish-cli.yml
  eng/pipelines/templates/steps/publish-extension.yml
  eng/pipelines/templates/steps/set-git-credentials.yml
  eng/pipelines/templates/steps/update-prcomment.yml
Due: none

These are some auto-mined instruction updates that should help with some commonly found (or uncommonly found) issues we've seen in PRs in azure-dev
  .github/instructions/documentation.instructions.md
  .github/instructions/extensions.instructions.md
  .github/instructions/go.instructions.md
Due: none

Add in a reference to the extensions guideline.
  .github/instructions/extensions.instructions.md
Due: none

minor update
  docs/specs/metrics-audit/feature-telemetry-matrix.md
  docs/specs/metrics-audit/privacy-review-checklist.md
  docs/specs/metrics-audit/telemetry-schema.md
Due: none

Prepare azure.ai.agents 0.1.39-preview release (#8615)
  .vscode/cspell-github-user-aliases.txt
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/extension.yaml
  cli/azd/extensions/azure.ai.agents/version.txt
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Address feedback
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/init.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/init_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

add instructions in agents.md
  cli/azd/AGENTS.md
  docs/specs/metrics-audit/feature-telemetry-matrix.md
  docs/specs/metrics-audit/privacy-review-checklist.md
Due: eng/pipelines/release-cli.yml

fix: SWA deployment fails with BadRequest "default" environment name — add configurable environment support (#8588)
  cli/azd/pkg/project/service_target_staticwebapp.go
  cli/azd/pkg/project/service_target_staticwebapp_test.go
  cli/azd/pkg/tools/swa/swa.go
  cli/azd/pkg/tools/swa/swa_test.go
Due: eng/pipelines/release-cli.yml

[azure.ai.agents] Dev registry update for 0.1.39-preview
  cli/azd/extensions/registry.dev.json
Due: eng/pipelines/release-azd-extension.yml

adding in the worst extension in the world, from copilot
  cli/azd/extensions/microsoft.azd.review-fixture/README.md
  cli/azd/extensions/microsoft.azd.review-fixture/extension.yaml
  cli/azd/extensions/microsoft.azd.review-fixture/internal/cmd/root.go
  cli/azd/extensions/microsoft.azd.review-fixture/internal/cmd/root_test.go
  cli/azd/extensions/microsoft.azd.review-fixture/main.go
Due: eng/pipelines/release-azd-extension.yml

Add `azure.ai.inspector` to dev registry to satisfy `azure.ai.agents` dependency (#8621)
  cli/azd/extensions/registry.dev.json
Due: eng/pipelines/release-azd-extension.yml

address copilot comments
  cli/azd/cmd/hooks.go
  cli/azd/pkg/exegraph/scheduler_test.go
  cli/azd/pkg/ext/hooks_runner.go
  cli/azd/pkg/ext/hooks_runner_test.go
  cli/azd/pkg/ext/known_hooks.go
Due: eng/pipelines/release-cli.yml

Move azure.ai.agents 0.1.39-preview to main registry.json
  cli/azd/extensions/registry.dev.json
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

fix: lazy-detect container engine in ContainerEngine() getter (#8598)
  cli/azd/pkg/tools/docker/docker.go
  cli/azd/pkg/tools/docker/docker_test.go
Due: eng/pipelines/release-cli.yml

Retry transient ARM DeploymentNotFound (404) on subscription/resource-group deployments (#8551)
  cli/azd/pkg/azapi/standard_deployments.go
  cli/azd/pkg/azapi/standard_deployments_coverage3_test.go
Due: eng/pipelines/release-cli.yml

test: update Fig spec snapshot for new agent subcommands
  cli/azd/cmd/testdata/TestFigSpec.ts
Due: eng/pipelines/release-cli.yml

address comment
  cli/azd/internal/tracing/tracing.go
  cli/azd/pkg/exegraph/scheduler_test.go
  cli/azd/pkg/ext/hooks_runner_test.go
  docs/reference/telemetry-data.md
Due: eng/pipelines/release-cli.yml

Revert "Add `azure.ai.inspector` to dev registry to satisfy `azure.ai.agents` dependency (#8621)"
  cli/azd/extensions/registry.dev.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.agents] Registry update for 0.1.39-preview (#8620)
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Revert "Add `azure.ai.inspector` to dev registry to satisfy `azure.ai.agents` dependency (#8621)" (#8623)
  cli/azd/extensions/registry.dev.json
Due: eng/pipelines/release-azd-extension.yml
