Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      demands: ImageOverride -equals windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-azdo-setupazd.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: BuildAndTest
        variables:
        - template: /eng/pipelines/templates/variables/image.yml
        jobs:
        - job: BuildSetupAzd
          displayName: BuildSetupAzd
          variables:
  ...

eng/pipelines/release-azuredevops.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/azuredevops-build-and-test.yml
      - template: /eng/pipelines/templates/stages/azuredevops-sign.yml
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-ai-agents
  ...

eng/pipelines/release-ext-azure-ai-models.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.models
          SanitizedExtensionId: azure-ai-models
  ...

eng/pipelines/release-ext-azure-coding-agent.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.coding-agent
          SanitizedExtensionId: azure-coding-agent
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

Ensure custom user-agent flows to auth HTTP calls (#2723)
  cli/azd/cmd/container.go
  cli/azd/pkg/auth/manager.go
  cli/azd/pkg/auth/user_agent_client.go
  cli/azd/pkg/devcentersdk/developer_client_test.go
  cli/azd/test/functional/remote_state_test.go
Due: eng/pipelines/release-cli.yml

Address review: cover Login* credential paths, guard nil headers
  cli/azd/pkg/auth/manager.go
  cli/azd/pkg/auth/user_agent_client.go
Due: eng/pipelines/release-cli.yml

Address Copilot review: add tests, fix redundant header lookup
  cli/azd/pkg/auth/user_agent_client.go
  cli/azd/pkg/auth/user_agent_client_test.go
Due: eng/pipelines/release-cli.yml

address PR review: improve help text and rename test
  cli/azd/cmd/env.go
  cli/azd/cmd/env_config_test.go
Due: eng/pipelines/release-cli.yml

Update CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Update CODEOWNERS for azure.ai.agents
  .github/CODEOWNERS
Due: none

Update CODEOWNERS for agent extensions
  .github/CODEOWNERS
Due: none

fix: sync --version flag to extension metadata in azd x publish
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/publish.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

improve error classification for unknown and network errors (#6796)
  cli/azd/internal/cmd/errors.go
  cli/azd/internal/cmd/errors_test.go
Due: eng/pipelines/release-cli.yml

add actionable guidance for PowerShell hook failures (#6797)
  cli/azd/cmd/middleware/error.go
  cli/azd/cmd/middleware/pwsh_guidance_test.go
  cli/azd/extensions/azure.ai.models/pkg/models/pending_upload.go
  cli/azd/pkg/exec/runresult.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-models.yml

Update CODEOWNERS for azure.ai extensions
  .github/CODEOWNERS
Due: none

Prepare azure.ai.agents 0.1.10-preview release changelog (#6782)
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/extension.yaml
  cli/azd/extensions/azure.ai.agents/version.txt
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Support non-string types in azd env config set (#6789)
  cli/azd/cmd/env.go
  cli/azd/cmd/env_config_test.go
Due: eng/pipelines/release-cli.yml

Update/Fix CODEOWNERS for AI extensions (#6791)
  .github/CODEOWNERS
Due: none

surface ARM deployment root cause with actionable hints (#6795)
  cli/azd/cmd/middleware/error.go
  cli/azd/extensions/azure.ai.models/pkg/models/pending_upload.go
  cli/azd/pkg/azapi/azure_deployment_error.go
  cli/azd/pkg/azapi/azure_deployment_error_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-models.yml

add authorization failure hints for ARM deployments (#6798)
  cli/azd/cmd/middleware/auth_hint.go
  cli/azd/cmd/middleware/auth_hint_test.go
  cli/azd/cmd/middleware/error.go
  cli/azd/extensions/azure.ai.models/pkg/models/pending_upload.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-models.yml

Improve delegated auth experience
  cli/azd/cmd/auth_status.go
  cli/azd/cmd/middleware/login_guard.go
  cli/azd/cmd/middleware/login_guard_test.go
  cli/azd/pkg/auth/manager.go
  cli/azd/pkg/output/ux/auth_status.go
  cli/azd/pkg/output/ux/auth_status_test.go
Due: eng/pipelines/release-cli.yml

Fix formatting error
  cli/azd/pkg/output/ux/auth_status_test.go
Due: eng/pipelines/release-cli.yml

More for existing ACR support
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Add azure.ai.agent 0.1.10-preview to registry
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

Add soft-delete conflict detection hints for deployment errors
  cli/azd/cmd/middleware/error.go
  cli/azd/cmd/middleware/soft_delete_hint.go
  cli/azd/cmd/middleware/soft_delete_hint_test.go
Due: eng/pipelines/release-cli.yml

Broaden soft-delete keyword matching and extract to slice
  cli/azd/cmd/middleware/soft_delete_hint.go
  cli/azd/cmd/middleware/soft_delete_hint_test.go
Due: eng/pipelines/release-cli.yml

Add azure.ai.agent 0.1.10-preview to registry (#6809)
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

Fix lll lint violations in credential options
  cli/azd/pkg/auth/manager.go
Due: eng/pipelines/release-cli.yml

Update hint text: prioritize portal/CLI purge over azd down
  cli/azd/cmd/middleware/soft_delete_hint.go
Due: eng/pipelines/release-cli.yml

adding pipeline definition and files to release
  cli/azd/extensions/azure.appservice/ci-build.ps1
  cli/azd/extensions/azure.appservice/ci-test.ps1
  eng/pipelines/release-ext-azure-appservice.yml
Due: eng/pipelines/release-azd-extension.yml

format
  cli/azd/pkg/account/credentials_test.go
Due: eng/pipelines/release-cli.yml

[appservice ext] Fix ci-build.ps1 bugs: version path, ldflags, typo (#6812)
  cli/azd/extensions/azure.appservice/ci-build.ps1
Due: eng/pipelines/release-azd-extension.yml

release finetuning with grader changes
  cli/azd/extensions/azure.ai.finetune/CHANGELOG.md
  cli/azd/extensions/azure.ai.finetune/extension.yaml
  cli/azd/extensions/azure.ai.finetune/version.txt
Due: eng/pipelines/release-azd-extension.yml

release finetuning with grader changes (#6813)
  cli/azd/extensions/azure.ai.finetune/CHANGELOG.md
  cli/azd/extensions/azure.ai.finetune/extension.yaml
  cli/azd/extensions/azure.ai.finetune/version.txt
Due: eng/pipelines/release-azd-extension.yml

releasing finetune with multi grader support
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

releasing finetune with multi grader support (#6814)
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

React to feedback from Shayne
  cli/azd/cmd/auth_status.go
  cli/azd/cmd/middleware/login_guard.go
  cli/azd/pkg/auth/manager.go
  cli/azd/pkg/output/ux/auth_status.go
Due: eng/pipelines/release-cli.yml

[appservice ext] pipeline definition (#6811)
  cli/azd/extensions/azure.appservice/ci-build.ps1
  cli/azd/extensions/azure.appservice/ci-test.ps1
  eng/pipelines/release-ext-azure-appservice.yml
Due: eng/pipelines/release-azd-extension.yml

Improve azd ai agent init for non-interactive environments
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

app insights changes
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Point to branch for now
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

tests
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

React to feedback from Crystal
  cli/azd/cmd/auth_status.go
  cli/azd/pkg/auth/manager_test.go
  cli/azd/pkg/output/ux/auth_status.go
  cli/azd/pkg/output/ux/auth_status_test.go
  cli/azd/pkg/tools/az/az.go
  cli/azd/pkg/tools/az/az_test.go
Due: eng/pipelines/release-cli.yml

feat: support local directory paths as template sources for azd init
  cli/azd/cmd/init.go
  cli/azd/internal/repository/initializer.go
  cli/azd/internal/repository/initializer_test.go
  cli/azd/pkg/templates/path.go
  cli/azd/pkg/templates/path_test.go
Due: eng/pipelines/release-cli.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
