Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

Rename "parsePorts" to "parsePortsInLine"
  cli/azd/internal/appdetect/docker.go
  cli/azd/internal/appdetect/docker_test.go
Due: eng/pipelines/release-cli.yml

Add function of "parsePortsInFile" and related unit test.
  cli/azd/internal/appdetect/docker.go
  cli/azd/internal/appdetect/docker_test.go
  cli/azd/internal/appdetect/testdata/Dockerfile/DockerfileMultiPortsInMultiLines
  cli/azd/internal/appdetect/testdata/Dockerfile/DockerfileMultiPortsInMultiLinesDifferentProtocol
  cli/azd/internal/appdetect/testdata/Dockerfile/DockerfileMultiPortsInMultiLinesDifferentProtocolWithWhitespacePrefix
  cli/azd/internal/appdetect/testdata/Dockerfile/DockerfileMultiPortsInSingleLine
  cli/azd/internal/appdetect/testdata/Dockerfile/DockerfileNoPort
  cli/azd/internal/appdetect/testdata/Dockerfile/DockerfileSinglePort
Due: eng/pipelines/release-cli.yml

Add function of "getPortByPrompt" and improve the logic of getting serviceSpec.Port by svc.Docker.Ports.
  cli/azd/internal/repository/infra_confirm.go
Due: eng/pipelines/release-cli.yml

Fix typo: "pors" -> "ports".
  cli/azd/internal/appdetect/docker.go
Due: eng/pipelines/release-cli.yml

Add option to suppress readme (#4420)
  ext/vscode/src/commands/init.ts
Due: eng/pipelines/release-vscode.yml

Use different prompt message for 0 port detected and multiple ports detected.
  cli/azd/internal/repository/infra_confirm.go
Due: eng/pipelines/release-cli.yml

Use string instead of files to test.
  cli/azd/internal/appdetect/docker_test.go
  cli/azd/internal/appdetect/testdata/Dockerfile/DockerfileMultiPortsInMultiLines
  cli/azd/internal/appdetect/testdata/Dockerfile/DockerfileMultiPortsInMultiLinesDifferentProtocol
  cli/azd/internal/appdetect/testdata/Dockerfile/DockerfileMultiPortsInMultiLinesDifferentProtocolWithWhitespacePrefix
  cli/azd/internal/appdetect/testdata/Dockerfile/DockerfileMultiPortsInSingleLine
  cli/azd/internal/appdetect/testdata/Dockerfile/DockerfileNoPort
  cli/azd/internal/appdetect/testdata/Dockerfile/DockerfileSinglePort
Due: eng/pipelines/release-cli.yml

Change "parsePortsInFile" to "detectDockerFromFile".
  cli/azd/internal/appdetect/docker.go
  cli/azd/internal/appdetect/docker_test.go
Due: eng/pipelines/release-cli.yml

Remove duplicated code in parsePortsInLine.
  cli/azd/internal/appdetect/docker.go
Due: eng/pipelines/release-cli.yml

easy-init: auto detect port from Dockerfile (#4454)
  cli/azd/internal/appdetect/appdetect.go
  cli/azd/internal/appdetect/appdetect_test.go
  cli/azd/internal/appdetect/docker.go
  cli/azd/internal/appdetect/docker_test.go
  cli/azd/internal/repository/infra_confirm.go
Due: eng/pipelines/release-cli.yml

apply changes
  cli/azd/cmd/templates.go
  cli/azd/cmd/testdata/TestUsage-azd-template-source-add.snap
  cli/azd/cmd/testdata/TestUsage-azd-template-source.snap
Due: eng/pipelines/release-cli.yml

use names
  cli/azd/internal/names/label.go
  cli/azd/internal/names/label_test.go
  cli/azd/internal/repository/app_init.go
  cli/azd/internal/repository/infra_confirm.go
  cli/azd/pkg/apphost/generate.go
Due: eng/pipelines/release-cli.yml

use GetDefaultProjectName
  cli/azd/internal/repository/app_init.go
  cli/azd/internal/vsrpc/environment_service_create.go
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/environment/azdcontext/azdcontext.go
Due: eng/pipelines/release-cli.yml

fix `show` not using project name as AppName
  cli/azd/cmd/show.go
Due: eng/pipelines/release-cli.yml

refactor as a function
  cli/azd/internal/repository/app_init.go
  cli/azd/internal/repository/initializer.go
  cli/azd/internal/repository/initializer_test.go
  cli/azd/internal/vsrpc/environment_service_create.go
  cli/azd/pkg/environment/azdcontext/azdcontext.go
Due: eng/pipelines/release-cli.yml

clean up one spot
  cli/azd/internal/repository/app_init.go
Due: eng/pipelines/release-cli.yml

add copyright notice
  cli/azd/internal/names/label.go
Due: eng/pipelines/release-cli.yml

remove panic
  cli/azd/pkg/apphost/generate.go
Due: eng/pipelines/release-cli.yml

add resources schema (#4466)
  cli/azd/pkg/project/project.go
  cli/azd/pkg/project/project_config.go
  cli/azd/pkg/project/project_config_test.go
  cli/azd/pkg/project/resources.go
Due: eng/pipelines/release-cli.yml

update name to match snap
  cli/azd/test/functional/testdata/samples/aspire-full/azure.yaml
Due: eng/pipelines/release-cli.yml

fix projects with empty spaces aspire (#4472)
  cli/azd/cmd/show.go
  cli/azd/internal/names/label.go
  cli/azd/internal/names/label_test.go
  cli/azd/internal/repository/app_init.go
  cli/azd/internal/repository/infra_confirm.go
  cli/azd/internal/repository/initializer.go
  cli/azd/internal/repository/initializer_test.go
  cli/azd/internal/vsrpc/environment_service_create.go
  cli/azd/pkg/environment/azdcontext/azdcontext.go
  cli/azd/test/functional/testdata/samples/aspire-full/azure.yaml
Due: eng/pipelines/release-cli.yml

patch generate to quote params when missing
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/apphost/testdata/TestAspireProjectV1Generation-cache.snap
  cli/azd/pkg/apphost/testdata/aspire-projectv1.json
Due: eng/pipelines/release-cli.yml

Fixes panic on missing hook configuration (#4458)
  cli/azd/pkg/ext/hooks_manager.go
  cli/azd/pkg/ext/hooks_manager_test.go
Due: eng/pipelines/release-cli.yml

fix help for `azd template source add` (#4474)
  cli/azd/cmd/templates.go
  cli/azd/cmd/testdata/TestUsage-azd-template-source-add.snap
  cli/azd/cmd/testdata/TestUsage-azd-template-source.snap
Due: eng/pipelines/release-cli.yml

Remove keyvault optional properties
  cli/azd/resources/scaffold/base/modules/set-redis-conn.bicep
Due: eng/pipelines/release-cli.yml

ci: Use ODIC for azd in template tests
  eng/pipelines/templates/steps/template-test-run-job.yml
Due: none

func: add mitigation for deployments that take awhile to "come alive" (#4449)
  cli/azd/pkg/azsdk/funcapp_host_client.go
Due: eng/pipelines/release-cli.yml

easy-init: Switch to avm (Azure Verified Modules) (#4455)
  cli/azd/internal/repository/infra_confirm.go
  cli/azd/internal/scaffold/scaffold.go
  cli/azd/internal/scaffold/scaffold_test.go
  cli/azd/internal/scaffold/spec.go
  cli/azd/resources/scaffold/base/modules/set-redis-conn.bicep
  cli/azd/resources/scaffold/base/shared/apps-env.bicep
  cli/azd/resources/scaffold/base/shared/dashboard-web.bicep
  cli/azd/resources/scaffold/base/shared/keyvault.bicep
  cli/azd/resources/scaffold/base/shared/monitoring.bicep
  cli/azd/resources/scaffold/base/shared/registry.bicep
  cli/azd/resources/scaffold/templates/db-cosmos-mongo.bicept
  cli/azd/resources/scaffold/templates/db-postgres.bicept
  cli/azd/resources/scaffold/templates/host-containerapp.bicept
  cli/azd/resources/scaffold/templates/main.bicept
  cli/azd/resources/scaffold/templates/next-steps.mdt
  cli/azd/resources/scaffold/templates/resources.bicept
  cli/azd/test/functional/init_test.go
Due: eng/pipelines/release-cli.yml

patch generate to quote params when missing (#4484)
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/apphost/testdata/TestAspireProjectV1Generation-cache.snap
  cli/azd/pkg/apphost/testdata/aspire-projectv1.json
Due: eng/pipelines/release-cli.yml

add feature manager to initializer
  cli/azd/internal/repository/initializer.go
  cli/azd/internal/repository/initializer_test.go
Due: eng/pipelines/release-cli.yml

refactor generation
  cli/azd/internal/repository/app_init.go
Due: eng/pipelines/release-cli.yml

With kind
  cli/azd/pkg/azapi/resource_service.go
  cli/azd/pkg/azure/arm_template.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/prompt/prompter.go
Due: eng/pipelines/release-cli.yml

ci: Dump Script Steps
  templates/tests/test-templates.sh
Due: eng/pipelines/repoman.yml

remove the orchestrate command (#2)
  cli/azd/cmd/orchestrate.go
  cli/azd/cmd/root.go
Due: eng/pipelines/release-cli.yml

take the name of the aca from the deployment result
  cli/azd/pkg/project/service_target_dotnet_containerapp.go
Due: eng/pipelines/release-cli.yml

Update azure-sdk-build-tools Repository Resource Refs in Yaml files
  eng/pipelines/templates/stages/1es-redirect.yml
Due: none

Update azure-sdk-build-tools Repository Resource Refs in Yaml files (#4308)
  eng/pipelines/templates/stages/1es-redirect.yml
Due: none

Update appservice.bicep with App Insights env var
  templates/common/infra/bicep/core/host/appservice.bicep
Due: eng/pipelines/repoman.yml

update aks and aca to avm
  templates/todo/projects/java-mongo-aca/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo-aks/.repo/bicep/infra/main.bicep
Due: eng/pipelines/repoman.yml

Update appservice with App Insights env var
  templates/todo/common/infra/bicep/app/api-appservice-avm.bicep
  templates/todo/common/infra/bicep/app/web-appservice-avm.bicep
Due: eng/pipelines/repoman.yml
