Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

doc: allow 'exterrors' in routine design spec cspell
  cli/azd/.vscode/cspell.yaml
Due: eng/pipelines/release-cli.yml

feat: add Python 3.14 runtime option for code deploy
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

doc: drop routine run show/delete stub question from open questions
  cli/azd/docs/design/ai-routine-design-spec.md
Due: eng/pipelines/release-cli.yml

doc: avoid 'exterrors' tokens in routine design spec, revert cspell change
  cli/azd/.vscode/cspell.yaml
  cli/azd/docs/design/ai-routine-design-spec.md
Due: eng/pipelines/release-cli.yml

doc: address PR review comments on routine design spec
  cli/azd/docs/design/ai-routine-design-spec.md
Due: eng/pipelines/release-cli.yml

feat(agents): add toolbox direct commands
  cli/azd/extensions/azure.ai.agents/internal/cmd/pending_toolboxes.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/root.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/toolbox.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/toolbox_client.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/toolbox_commands_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/toolbox_connection.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/toolbox_connection_actions.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/toolbox_connection_resolver.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/toolbox_context.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/toolbox_create.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/toolbox_delete.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/toolbox_helpers_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/toolbox_list.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/toolbox_shared.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/toolbox_show.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/toolbox_test_helpers_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/toolbox_update.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/azure/foundry_projects_client.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/azure/foundry_toolsets_client.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): address review feedback on toolbox commands
  cli/azd/extensions/azure.ai.agents/cspell.yaml
  cli/azd/extensions/azure.ai.agents/internal/cmd/toolbox.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/toolbox_list.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/azure/foundry_toolsets_client.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): apply go fix modernizations
  cli/azd/extensions/azure.ai.agents/internal/cmd/toolbox_context.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

doc: add design spec for `azd ai agent skill` commands
  cli/azd/docs/design/ai-skill-design-spec.md
Due: eng/pipelines/release-cli.yml

[azure.ai.models] Registry update for 0.0.7-preview
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

doc: add exterrors to cspell ignore; drop speculative open question
  cli/azd/docs/design/ai-skill-design-spec.md
Due: eng/pipelines/release-cli.yml

refactor: remove key and metadata subcommands per reviewer feedback
  cli/azd/extensions/azure.ai.agents/internal/connections/cmd/connection.go
  cli/azd/extensions/azure.ai.agents/internal/connections/cmd/connection_key.go
  cli/azd/extensions/azure.ai.agents/internal/connections/cmd/connection_metadata.go
  cli/azd/extensions/azure.ai.agents/internal/connections/cmd/root.go
  cli/azd/extensions/azure.ai.agents/internal/connections/exterrors/codes.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

docs: update design spec for `azd ai agent skill` commands to clarify file handling
  cli/azd/docs/design/ai-skill-design-spec.md
Due: eng/pipelines/release-cli.yml

fix: correct typo in validation error description for front matter parsing
  cli/azd/docs/design/ai-skill-design-spec.md
Due: eng/pipelines/release-cli.yml

docs: address review feedback on skill design spec
  cli/azd/docs/design/ai-skill-design-spec.md
Due: eng/pipelines/release-cli.yml

Consolidate agent template name handling
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: resolve parallel dotnet publish race in Aspire deploys (#8177)
  cli/azd/internal/cmd/aspire_gate.go
  cli/azd/internal/cmd/deploy.go
  cli/azd/internal/cmd/deploy_graph_test.go
  cli/azd/internal/cmd/service_graph.go
  cli/azd/internal/cmd/service_graph_test.go
  cli/azd/pkg/project/build_gate.go
  cli/azd/pkg/project/build_gate_test.go
  cli/azd/pkg/project/service_target_dotnet_containerapp.go
  cli/azd/pkg/tools/dotnet/dotnet.go
  cli/azd/pkg/tools/dotnet/dotnet_commands_test.go
Due: eng/pipelines/release-cli.yml

more fixes
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_init_jobs.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_init_prompts.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_progress.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_run.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_config.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_config_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/artifacts.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/opteval/yaml.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Support header isolation keys for agent sessions
  cli/azd/extensions/azure.ai.agents/internal/cmd/files.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/files_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/isolation_headers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/monitor.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/monitor_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/session.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/session_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Bump package
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/go/go.mod.tmpl
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/go/go.sum
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

Improve skills: ADO pipeline guidance, review fixes, sprint rollover
  .github/skills/hotfix-release/SKILL.md
  .github/skills/hotfix-release/references/version-files.md
  .github/skills/issue-cleanup/SKILL.md
  .github/skills/sprint-check/SKILL.md
  .github/skills/sprint-check/references/hygiene-rules.md
Due: none

Add feature-to-telemetry mapping and complete field values
  .vscode/cspell.misc.yaml
  docs/reference/telemetry-data.md
Due: none

Add sprint-check, issue-cleanup, and hotfix-release Copilot skills
  .github/skills/hotfix-release/SKILL.md
  .github/skills/hotfix-release/references/version-files.md
  .github/skills/issue-cleanup/SKILL.md
  .github/skills/issue-cleanup/references/hygiene-rules.md
  .github/skills/sprint-check/SKILL.md
  .github/skills/sprint-check/references/hygiene-rules.md
  .github/skills/sprint-check/references/project-mutations.md
  .vscode/cspell.misc.yaml
Due: none

Remove issue references from telemetry docs
  docs/reference/telemetry-data.md
Due: none

Fix field name errors, broken table, and KQL examples
  docs/guides/telemetry-overview.md
  docs/reference/telemetry-data.md
Due: none

Address Copilot review: fix merge detection, placeholders, query limits, description
  .github/skills/hotfix-release/SKILL.md
  .github/skills/sprint-check/SKILL.md
Due: none

more
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_init_prompts.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: remove extension words from core cspell config
  cli/azd/.vscode/cspell.yaml
Due: eng/pipelines/release-cli.yml

rename library to azd extension
  cli/azd/pkg/tool/detector.go
  cli/azd/pkg/tool/detector_test.go
  cli/azd/pkg/tool/installer_test.go
  cli/azd/pkg/tool/manifest.go
  cli/azd/pkg/tool/manifest_test.go
  cli/azd/pkg/tool/version_provider.go
  cli/azd/pkg/tool/version_provider_test.go
Due: eng/pipelines/release-cli.yml

Address feedback
  cli/azd/docs/tracing-in-azd.md
Due: eng/pipelines/release-cli.yml

Address Copilot review on tracing taxonomy doc
  cli/azd/docs/tracing-in-azd.md
  cli/azd/pkg/extensions/manager.go
Due: eng/pipelines/release-cli.yml

remove --force
  cli/azd/pkg/tool/installer.go
  cli/azd/pkg/tool/installer_test.go
Due: eng/pipelines/release-cli.yml

more system prompt
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_init_jobs.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_init_prompts.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_init_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_apply.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_config.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_deploy.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/eval_config.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/eval_config_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/opteval/yaml.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/optimize_api/models.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

remove fixed data
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/opteval/yaml.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml
