Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      demands: ImageOverride -equals windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-azdo-setupazd.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: BuildAndTest
        variables:
        - template: /eng/pipelines/templates/variables/image.yml
        jobs:
        - job: BuildSetupAzd
          displayName: BuildSetupAzd
          variables:
  ...

eng/pipelines/release-azuredevops.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/azuredevops-build-and-test.yml
      - template: /eng/pipelines/templates/stages/azuredevops-sign.yml
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-ai-agents
  ...

eng/pipelines/release-ext-azure-ai-models.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.models
          SanitizedExtensionId: azure-ai-models
  ...

eng/pipelines/release-ext-azure-appservice.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.appservice
          SanitizedExtensionId: azure-appservice
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

Responsive table redesigns
  cli/azd/.vscode/cspell.yaml
  cli/azd/CHANGELOG.md
  cli/azd/cmd/extension.go
  cli/azd/cmd/extension_test.go
  cli/azd/cmd/templates.go
  cli/azd/cmd/tool.go
  cli/azd/pkg/output/pretty_table.go
  cli/azd/pkg/output/pretty_table_cards.go
  cli/azd/pkg/output/pretty_table_layout.go
  cli/azd/pkg/output/pretty_table_responsive_test.go
  cli/azd/pkg/output/pretty_table_table.go
  cli/azd/pkg/output/pretty_table_types.go
Due: eng/pipelines/release-cli.yml

Refine responsive table hints, statuses, and drop ShortValueTemplate
  cli/azd/cmd/config.go
  cli/azd/cmd/copilot.go
  cli/azd/cmd/extension.go
  cli/azd/cmd/templates.go
  cli/azd/cmd/tool.go
  cli/azd/pkg/output/pretty_table.go
  cli/azd/pkg/output/pretty_table_table.go
  cli/azd/pkg/output/pretty_table_test.go
  cli/azd/pkg/output/pretty_table_types.go
Due: eng/pipelines/release-cli.yml

Revert changelog
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

Fix lint
  cli/azd/pkg/output/pretty_table_responsive_test.go
  cli/azd/pkg/output/pretty_table_table.go
Due: eng/pipelines/release-cli.yml

fix: support init and deploy commands
  cli/azd/extensions/azure.ai.rle/README.md
  cli/azd/extensions/azure.ai.rle/extension.yaml
  cli/azd/extensions/azure.ai.rle/go.mod
  cli/azd/extensions/azure.ai.rle/internal/cmd/banner.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/client.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/create.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/deploy.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/init.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/manifest.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/manifest_test.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/modify.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/recipe.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/recipe_test.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/root.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/root_test.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/sandbox.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/sandbox_test.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/scaffold.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/state.go
Due: eng/pipelines/release-azd-extension.yml

fix: update README
  cli/azd/extensions/azure.ai.rle/README.md
Due: eng/pipelines/release-azd-extension.yml

fix(agents): use venv for pip fallback in azd ai agent run
  cli/azd/extensions/azure.ai.agents/internal/cmd/run.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/run_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

[microsoft.azd.demo] Nightly registry update for 0.6.0-nightly.6472138
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

re-wording (#8768)
  .github/scripts/pr-governance-priority-check.js
  cli/azd/CONTRIBUTING.md
Due: eng/pipelines/release-cli.yml

fix: address PR review feedback on validation chunk ack and json tags
  cli/azd/pkg/azdext/validation_manager.go
  cli/azd/pkg/azdext/validation_provider.go
Due: eng/pipelines/release-cli.yml

fix: reword comment to satisfy cspell (acking -> sending an ack)
  cli/azd/pkg/azdext/validation_manager.go
Due: eng/pipelines/release-cli.yml

Update agent models to match TypeSpec definition
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/models.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/models_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Migrate predeploy/postdeploy to service-level event handlers
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

address PR review: improve error handling and test coverage
  cli/azd/extensions/azure.ai.agents/internal/cmd/run.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/run_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Address PR feedback: deduplicate RBAC check and remove duplicate test
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Fix Go initialism casing: Mcp -> MCP, InvocationsWs -> InvocationsWS
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/models.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/models_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Add unit tests for routines client and fix MarkHidden nit
  cli/azd/extensions/azure.ai.routines/internal/cmd/routine_helpers_test.go
  cli/azd/extensions/azure.ai.routines/internal/cmd/routine_update.go
  cli/azd/extensions/azure.ai.routines/internal/pkg/routines/client_test.go
Due: eng/pipelines/release-azd-extension.yml

fix(azure.ai.skills): address follow-up items from skill commands PR (#8366)
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_create.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_download.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_download_test.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_update.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_update_test.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/archive.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/archive_create_test.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/archive_test.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/client.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/client_test.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/skill_md.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/skill_md_test.go
Due: eng/pipelines/release-azd-extension.yml

Update agent endpoint show to prefer ProtocolConfiguration
  cli/azd/extensions/azure.ai.agents/internal/cmd/endpoint_show.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/endpoint_show_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Address PR review comments: fix t.Fatal in goroutines and header ordering
  cli/azd/extensions/azure.ai.routines/internal/pkg/routines/client_test.go
Due: eng/pipelines/release-azd-extension.yml

Add `azd tool install/upgrade azure-skills` with per-host selection (#8704)
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-tool-install.snap
  cli/azd/cmd/testdata/TestUsage-azd-tool-upgrade.snap
  cli/azd/cmd/tool.go
  cli/azd/cmd/tool_test.go
  cli/azd/internal/agent/copilot_agent_factory.go
  cli/azd/internal/agent/copilot_agent_factory_test.go
  cli/azd/pkg/tool/detector.go
  cli/azd/pkg/tool/detector_test.go
  cli/azd/pkg/tool/installer.go
  cli/azd/pkg/tool/installer_test.go
  cli/azd/pkg/tool/manager.go
  cli/azd/pkg/tool/manager_test.go
  cli/azd/pkg/tool/manifest.go
  cli/azd/pkg/tool/manifest_test.go
Due: eng/pipelines/release-cli.yml

fix: track --version flag presence to catch empty expansion
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_download.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_download_test.go
Due: eng/pipelines/release-azd-extension.yml

Address feedback
  cli/azd/pkg/output/pretty_table_layout.go
  cli/azd/pkg/output/pretty_table_responsive_test.go
Due: eng/pipelines/release-cli.yml

Add PR gate tests for azd ai agent extension (Tier 0 + Tier 1)
  .github/workflows/lint-ext-azure-ai-agents.yml
  cli/azd/extensions/azure.ai.agents/cspell.yaml
  cli/azd/extensions/azure.ai.agents/internal/pkg/azure/client_options.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/recordproxy/transport.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/recordproxy/transport_record.go
  cli/azd/test/azdcli/cli.go
  cli/azd/test/functional/ai_agent_test.go
  cli/azd/test/functional/testdata/manifests/foundry-toolbox.yaml
  cli/azd/test/functional/testdata/recordings/Test_AIAgent_Init_NoPrompt_Defer.yaml
  cli/azd/test/functional/testdata/recordings/Test_AIAgent_Init_NoPrompt_WithProject.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: replace false assertions with real ARM resolution checks + add negative control
  .github/workflows/lint-ext-azure-ai-agents.yml
  cli/azd/test/functional/ai_agent_test.go
Due: eng/pipelines/release-cli.yml

fix: address review — pin .env value, fix neg-control comments, use static cassette
  cli/azd/test/functional/ai_agent_test.go
  cli/azd/test/functional/testdata/recordings/Test_AIAgent_Init_NegativeControl_BadCassette.yaml
Due: eng/pipelines/release-cli.yml

address review: split test files, remove pull-requests:write
  .github/workflows/lint-ext-azure-ai-agents.yml
  cli/azd/test/functional/ai_agent_recording_test.go
  cli/azd/test/functional/ai_agent_test.go
Due: eng/pipelines/release-cli.yml

fix: sanitize cassette PII, fix workflow permissions, strengthen assertions
  .github/workflows/lint-ext-azure-ai-agents.yml
  cli/azd/test/functional/ai_agent_recording_test.go
  cli/azd/test/functional/ai_agent_test.go
  cli/azd/test/functional/testdata/recordings/Test_AIAgent_Init_NoPrompt_WithProject.yaml
Due: eng/pipelines/release-cli.yml

improve doc and commands based on testing
  README.md
  cli/azd/CHANGELOG.md
  cli/azd/docs/design/azd-update.md
  cli/azd/main.go
  cli/azd/main_test.go
  cli/azd/pkg/update/manager.go
  cli/azd/pkg/update/manager_test.go
  cli/installer/README.md
Due: eng/pipelines/release-cli.yml

fix(update): trust azure/azd source before every brew azd cask command
  cli/azd/main.go
  cli/azd/pkg/update/manager.go
  cli/azd/pkg/update/manager_test.go
Due: eng/pipelines/release-cli.yml

feat(agents): secure-by-default private networking via azure.yaml (#8708)
  cli/azd/extensions/azure.ai.agents/README.md
  cli/azd/extensions/azure.ai.agents/docs/private-networking.md
  cli/azd/extensions/azure.ai.agents/go.mod
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_infra.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_infra_test.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_provisioning_provider.go
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_provisioning_provider_test.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/schema_test.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/synthesizer.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/synthesizer_test.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/main.arm.json
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/main.bicep
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/modules/network.bicep
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/modules/private-endpoint-dns.bicep
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/modules/resources.bicep
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/modules/subnet.bicep
  cli/azd/extensions/azure.ai.agents/schemas/examples/complex.azure.yaml
  cli/azd/extensions/azure.ai.agents/schemas/microsoft.foundry.json
  docs/reference/telemetry-data.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

add azd tool uninstall
  cli/azd/cmd/telemetry_coverage_test.go
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-tool-uninstall.snap
  cli/azd/cmd/testdata/TestUsage-azd-tool.snap
  cli/azd/cmd/tool.go
  cli/azd/cmd/tool_test.go
  cli/azd/pkg/tool/installer.go
  cli/azd/pkg/tool/installer_test.go
  cli/azd/pkg/tool/manager.go
  cli/azd/pkg/tool/manager_test.go
  cli/azd/pkg/tool/manifest.go
  docs/reference/telemetry-data.md
  docs/specs/metrics-audit/feature-telemetry-matrix.md
Due: eng/pipelines/release-cli.yml

feat: generalize $ref resolver + shared $ref-aware azure.yaml edit helper (#8777)
  cli/azd/extensions/azure.ai.agents/internal/project/includes.go
  cli/azd/extensions/azure.ai.agents/internal/project/includes_edit.go
  cli/azd/extensions/azure.ai.agents/internal/project/includes_edit_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/includes_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat(agents): split Foundry init into per-resource azure.yaml services (#8675)
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/extension.yaml
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/resource_services.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/resource_services_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_resource.go
  cli/azd/extensions/azure.ai.agents/version.txt
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

refactor: move ai agent tests to subdirectory, split workflows, add CODEOWNERS
  .github/CODEOWNERS
  .github/workflows/lint-ext-azure-ai-agents.yml
  .github/workflows/test-ext-azure-ai-agents.yml
  cli/azd/extensions/azure.ai.agents/internal/pkg/recordproxy/transport_record.go
  cli/azd/test/functional/ai_agents/ai_agent_recording_test.go
  cli/azd/test/functional/ai_agents/ai_agent_test.go
  cli/azd/test/functional/ai_agents/helpers_test.go
  cli/azd/test/functional/ai_agents/testdata/manifests/foundry-toolbox.yaml
  cli/azd/test/functional/ai_agents/testdata/recordings/Test_AIAgent_Init_NegativeControl_BadCassette.yaml
  cli/azd/test/functional/ai_agents/testdata/recordings/Test_AIAgent_Init_NoPrompt_Defer.yaml
  cli/azd/test/functional/ai_agents/testdata/recordings/Test_AIAgent_Init_NoPrompt_WithProject.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

update deploy
  cli/azd/extensions/azure.ai.rle/internal/cmd/client.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/deploy.go
Due: eng/pipelines/release-azd-extension.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
