Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

fix: clarify validateCodeDeployInput comment and test names for entry-point auto-detect
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

test(agents): grant private ACR pull to Foundry project identity
  cli/azd/extensions/azure.ai.agents/test/e2e/network/README.md
  cli/azd/extensions/azure.ai.agents/test/e2e/network/run-network-e2e.sh
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: tighten added comments for brevity
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

docs(agents): add BYO image VNet cheatsheet
  cli/azd/extensions/azure.ai.agents/README.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

docs(agents): move private networking guide to docs
  cli/azd/extensions/azure.ai.agents/README.md
  cli/azd/extensions/azure.ai.agents/docs/private-networking.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): surface managed-network isolation output
  cli/azd/extensions/azure.ai.agents/docs/private-networking.md
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_provisioning_provider.go
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_provisioning_provider_test.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/main.arm.json
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/main.bicep
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): keep managed-network data plane reachable
  cli/azd/extensions/azure.ai.agents/docs/private-networking.md
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/main.arm.json
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/modules/resources.bicep
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: comprehensive Tier 1 prompt handling for CI
  cli/azd/extensions/azure.ai.agents/tests/e2e-static/test_tier1.py
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: sync test_full_e2e.py and test_tier2.py fixes from fork CI validation
  cli/azd/extensions/azure.ai.agents/tests/e2e-static/ci_inject_token.py
  cli/azd/extensions/azure.ai.agents/tests/e2e-static/test_full_e2e.py
  cli/azd/extensions/azure.ai.agents/tests/e2e-static/test_tier2.py
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: run tier2 sequentially to avoid resource conflicts
  cli/azd/extensions/azure.ai.agents/tests/e2e-static/test_tier2.py
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Update display text
  cli/azd/cmd/extension.go
  cli/azd/cmd/extension_bundle_test.go
Due: eng/pipelines/release-cli.yml

Update secrets to be foundry extension specific
  .github/workflows/e2e-ext-azure-ai-agents-static.yml
Due: none

chore(vscode-ext): upgrade @microsoft/vscode-azext-eng to 1.1.0-alpha.1 (#8711)
  ext/vscode/package-lock.json
  ext/vscode/package.json
  ext/vscode/src/commands/cmdUtil.ts
  ext/vscode/src/commands/env.ts
  ext/vscode/src/test/suite/unit/azureYamlDiagnostics.test.ts
  ext/vscode/src/test/suite/unit/environmentsTreeDataProvider.test.ts
  ext/vscode/src/test/suite/unit/revealStep.test.ts
  ext/vscode/src/test/suite/unit/templateToolsTreeDataProvider.test.ts
  ext/vscode/src/views/environments/EnvironmentsTreeDataProvider.ts
  ext/vscode/src/views/registerViews.ts
Due: eng/pipelines/release-vscode.yml

temporary workaround to handle being unable to manually trigger the workflow that hasn't been merged to main
  .github/workflows/e2e-ext-azure-ai-agents-static.yml
Due: none

Show tracing disclaimer when connecting App Insights during init
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_foundry_resources_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_foundry_resources_helpers_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Always show Learn more label and URL in tracing disclaimer
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_foundry_resources_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_foundry_resources_helpers_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: ensure zip entries have execute permission on Windows
  cli/azd/pkg/project/framework_service_go.go
  cli/azd/pkg/rzip/rzip.go
Due: eng/pipelines/release-cli.yml

Show tracing disclaimer when connecting App Insights during init (#8714)
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_foundry_resources_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_foundry_resources_helpers_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

update tool installation fail ux
  cli/azd/cmd/tool.go
  cli/azd/cmd/tool_test.go
Due: eng/pipelines/release-cli.yml

fix: only append OIDC suffix when 'context' is in claim keys
  cli/azd/pkg/pipeline/github_provider.go
  cli/azd/pkg/tools/github/oidc.go
  cli/azd/pkg/tools/github/oidc_test.go
Due: eng/pipelines/release-cli.yml

Use `copilot-requests: write` permission instead of PAT for agentic workflows
  .github/aw/actions-lock.json
  .github/workflows/agentics-maintenance.yml
  .github/workflows/extension-pr-labeler.lock.yml
  .github/workflows/extension-pr-labeler.md
  .github/workflows/update-instructions-from-pr-reviews.lock.yml
  .github/workflows/update-instructions-from-pr-reviews.md
Due: none

test: trigger extension labeler
  cli/azd/extensions/.labeler-trigger
Due: eng/pipelines/release-azd-extension.yml

chore: remove temporary labeler trigger file
  cli/azd/extensions/.labeler-trigger
Due: eng/pipelines/release-azd-extension.yml

Restore extension labeler checkout behavior
  .github/workflows/extension-pr-labeler.lock.yml
  .github/workflows/extension-pr-labeler.md
Due: none

address the feedback
  cli/azd/pkg/tool/detector.go
  cli/azd/pkg/tool/installer.go
  cli/azd/pkg/tool/installer_test.go
  cli/azd/pkg/tool/manifest.go
Due: eng/pipelines/release-cli.yml

fix based on testing
  cli/azd/pkg/tool/detector.go
  cli/azd/pkg/tool/detector_test.go
  cli/azd/pkg/tool/installer.go
  cli/azd/pkg/tool/installer_test.go
  cli/azd/pkg/tool/manifest.go
Due: eng/pipelines/release-cli.yml

add apm
  cli/azd/pkg/tool/detector_test.go
  cli/azd/pkg/tool/installer_test.go
  cli/azd/pkg/tool/manifest.go
Due: eng/pipelines/release-cli.yml

fix pipeline
  cli/azd/cmd/tool.go
  cli/azd/pkg/tool/installer_test.go
  cli/azd/pkg/tool/manifest.go
Due: eng/pipelines/release-cli.yml

feat(toolbox): sync TOOLBOX_<NAME>_MCP_ENDPOINT env var on create/delete (#8677)
  cli/azd/extensions/azure.ai.toolboxes/CHANGELOG.md
  cli/azd/extensions/azure.ai.toolboxes/cspell.yaml
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_commands_test.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_create.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_delete.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_env.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_env_test.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_test_helpers_test.go
  cli/azd/extensions/azure.ai.toolboxes/internal/foundry/envkey/envkey.go
  cli/azd/extensions/azure.ai.toolboxes/internal/foundry/envkey/envkey_test.go
Due: eng/pipelines/release-azd-extension.yml

fix(ext-agents): default local run venv to Python >=3.13 (#8685)
  cli/azd/extensions/azure.ai.agents/internal/cmd/run.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Clarify GitHub tool auth for private PR mining
  .github/workflows/update-instructions-from-pr-reviews.lock.yml
  .github/workflows/update-instructions-from-pr-reviews.md
Due: none

Self-contained extension bundles (`azd x pack --bundle` and `azd ext install <bundle.zip>`) (#8697)
  cli/azd/cmd/constructors_coverage3_test.go
  cli/azd/cmd/extension.go
  cli/azd/cmd/extension_bundle_test.go
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-extension-install.snap
  cli/azd/docs/extensions/extension-resolution-and-versioning.md
  cli/azd/extensions/microsoft.azd.extensions/CHANGELOG.md
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/bundle.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/bundle_test.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/pack.go
  cli/azd/internal/figspec/customizations.go
  cli/azd/internal/figspec/figspec_coverage_test.go
  cli/azd/pkg/extensions/bundle_source.go
  cli/azd/pkg/extensions/bundle_source_test.go
  cli/azd/pkg/extensions/manager.go
  cli/azd/pkg/extensions/manager_test.go
  cli/azd/pkg/extensions/source_manager.go
  cli/azd/pkg/extensions/source_manager_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

feat(agents): native activity protocol support in azd
  cli/azd/extensions/azure.ai.agents/internal/cmd/helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/models.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/map.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/map_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/yaml.go
  cli/azd/extensions/azure.ai.agents/internal/project/m365_registration.go
  cli/azd/extensions/azure.ai.agents/internal/project/m365_registration_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Add 'therealjohn' to GitHub user aliases
  .vscode/cspell-github-user-aliases.txt
Due: none

Prepare azure.ai.agents 0.1.41-preview release metadata (#8719)
  .vscode/cspell-github-user-aliases.txt
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/extension.yaml
  cli/azd/extensions/azure.ai.agents/version.txt
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Prepare `azure.ai.connections` 0.1.2-preview patch release (#8721)
  cli/azd/extensions/azure.ai.connections/CHANGELOG.md
  cli/azd/extensions/azure.ai.connections/extension.yaml
  cli/azd/extensions/azure.ai.connections/version.txt
Due: eng/pipelines/release-azd-extension.yml

Prepare `azure.ai.toolboxes` 0.1.1-preview patch release metadata (#8723)
  cli/azd/extensions/azure.ai.toolboxes/CHANGELOG.md
  cli/azd/extensions/azure.ai.toolboxes/extension.yaml
  cli/azd/extensions/azure.ai.toolboxes/version.txt
Due: eng/pipelines/release-azd-extension.yml

Update Hosted Agents tracing disclaimer text and links
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_foundry_resources_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_foundry_resources_helpers_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

test: add coverage for validation-provider packages
  cli/azd/internal/grpcserver/validation_service_test.go
  cli/azd/pkg/azdext/validation_test.go
  cli/azd/pkg/grpcbroker/message_broker_test.go
Due: eng/pipelines/release-cli.yml
