Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      demands: ImageOverride -equals windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-azdo-setupazd.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: BuildAndTest
        variables:
        - template: /eng/pipelines/templates/variables/image.yml
        jobs:
        - job: BuildSetupAzd
          displayName: BuildSetupAzd
          variables:
  ...

eng/pipelines/release-azuredevops.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/azuredevops-build-and-test.yml
      - template: /eng/pipelines/templates/stages/azuredevops-sign.yml
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-ai-agents
  ...

eng/pipelines/release-ext-azure-ai-models.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.models
          SanitizedExtensionId: azure-ai-models
  ...

eng/pipelines/release-ext-azure-appservice.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.appservice
          SanitizedExtensionId: azure-appservice
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

fix(core): integrate admitted watcher and registry corrections
  cli/azd/.vscode/cspell.yaml
  cli/azd/docs/extensions/extension-resolution-and-versioning.md
  cli/azd/extensions/registry.schema.json
  cli/azd/pkg/extensions/manager.go
  cli/azd/pkg/extensions/manager_upgrade_recovery_windows_test.go
  cli/azd/pkg/extensions/registry_semver_schema_test.go
  cli/azd/pkg/watch/watch.go
  cli/azd/pkg/watch/watch_helpers_test.go
  cli/azd/pkg/watch/watch_lifecycle_test.go
  cli/azd/pkg/watch/watch_rescan_test.go
  cli/azd/pkg/watch/watch_startup_test.go
  cli/azd/pkg/watch/watch_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

fix: remove PR-only stable acknowledgments and reuse collision stem
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/generate_collision.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/generate_collision_test.go
  cli/azd/internal/grpcserver/project_service.go
  cli/azd/internal/grpcserver/project_service_beta.go
  cli/azd/internal/grpcserver/project_service_beta_test.go
  cli/azd/internal/grpcserver/project_service_producer_regression_test.go
  cli/azd/internal/grpcserver/project_service_save_test.go
  docs/architecture/extension-framework.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Harden Function compose validation and container names
  cli/azd/internal/cmd/add/add_configure_host.go
  cli/azd/internal/cmd/add/add_configure_host_test.go
  cli/azd/internal/scaffold/funcs.go
  cli/azd/internal/scaffold/funcs_test.go
  cli/azd/internal/scaffold/scaffold.go
  cli/azd/pkg/project/resources_test.go
  cli/azd/resources/scaffold/templates/resources.bicept
Due: eng/pipelines/release-cli.yml

fix: reconcile startup deletions and correct historical evidence
  cli/azd/docs/extensions/extension-resolution-and-versioning.md
  cli/azd/pkg/watch/watch.go
  cli/azd/pkg/watch/watch_startup_test.go
Due: eng/pipelines/release-cli.yml

fix(watch): register deduplicated subtrees and clarify accounting
  cli/azd/docs/concurrency-model.md
  cli/azd/pkg/watch/watch.go
  cli/azd/pkg/watch/watch_helpers_test.go
  cli/azd/pkg/watch/watch_rescan_test.go
  cli/azd/pkg/watch/watch_startup_test.go
  cli/azd/pkg/watch/watch_test.go
Due: eng/pipelines/release-cli.yml

fix(ci): preserve go-fix diagnostics and modernize eval regression
  .github/workflows/lint-go.yml
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/simulation_controls_test.go
Due: eng/pipelines/release-azd-extension.yml

fix(ai eval): scope direct eval create by configuration path
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/eval_create_scope_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/eval_group.go
Due: eng/pipelines/release-azd-extension.yml

refactor: move extension integration into a separate stack layer
  cli/azd/extensions/azure.ai.agents/README.md
  cli/azd/extensions/azure.ai.agents/internal/project/deploy_note_eval_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/README.md
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier1/1.09-init-from-code-eval-companion.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier1b/1b.04-deploy-from-code.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier1b/1b.08-deploy-eval-service-suppresses-guidance.yaml
  cli/azd/extensions/azure.ai.dataset/README.md
  cli/azd/extensions/azure.ai.evaluations/README.md
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/eval_group_help_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/gating_denominator_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/generate_cancellation_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/init_dataset_destination_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/init_dataset_identity_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/init_simulation_model_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/init_structure_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/init_transaction_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/local_composition_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/local_final_review_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/mapping_contract_combined_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/mapping_contract_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/mapping_defaults_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/mapping_pinned_version_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/mapping_wire_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/names_controls_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/response_first_publication_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/response_legacy_catalog_seam_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/response_review_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/response_schema_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run_local_absence_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/schema_local_source_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/schema_source_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/service_refusal_json_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/source_contract_reuse_test.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/publish_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

docs: distinguish verified personal artifacts from canonical history
  cli/azd/docs/extensions/extension-resolution-and-versioning.md
Due: eng/pipelines/release-cli.yml

fix(extensions): isolate evaluation integration and regression coverage
  cli/azd/extensions/azure.ai.agents/README.md
  cli/azd/extensions/azure.ai.agents/internal/project/deploy_note_eval_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/README.md
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier1/1.09-init-from-code-eval-companion.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier1b/1b.04-deploy-from-code.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier1b/1b.08-deploy-eval-service-suppresses-guidance.yaml
  cli/azd/extensions/azure.ai.dataset/README.md
  cli/azd/extensions/azure.ai.evaluations/README.md
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/eval_group_help_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/gating_denominator_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/generate_cancellation_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/init_dataset_destination_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/init_dataset_identity_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/init_simulation_model_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/init_structure_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/init_transaction_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/local_composition_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/local_final_review_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/mapping_contract_combined_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/mapping_contract_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/mapping_defaults_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/mapping_pinned_version_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/mapping_wire_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/names_controls_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/response_first_publication_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/response_legacy_catalog_seam_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/response_review_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/response_schema_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run_local_absence_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/schema_local_source_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/schema_source_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/service_refusal_json_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/source_contract_reuse_test.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/publish_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

docs(extensions): correct absolute-absence claim with verified personal-feed evidence
  cli/azd/docs/extensions/extension-resolution-and-versioning.md
Due: eng/pipelines/release-cli.yml

Address review feedback on env schema, uses dedupe, runtime error
  cli/azd/internal/cmd/add/add_configure.go
  cli/azd/pkg/project/resource_env_schema_test.go
  cli/azd/pkg/project/scaffold_gen.go
  schemas/alpha/azure.yaml.json
  schemas/v1.0/azure.yaml.json
Due: eng/pipelines/release-cli.yml

fix(ai-agents): allow versionless in cspell
  cli/azd/extensions/azure.ai.agents/cspell.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(watch): preserve initial file deletions during startup reconciliation
  cli/azd/pkg/watch/watch.go
  cli/azd/pkg/watch/watch_startup_test.go
Due: eng/pipelines/release-cli.yml

fix: isolate recovery metadata and unblock watcher event accounting
  cli/azd/pkg/extensions/manager.go
  cli/azd/pkg/extensions/manager_upgrade_recovery_test.go
  cli/azd/pkg/watch/watch.go
  cli/azd/pkg/watch/watch_startup_test.go
Due: eng/pipelines/release-cli.yml

Update Bicep CLI to v0.48.1
  .github/workflows/lint-bicep.yml
  cli/azd/pkg/tools/bicep/bicep.go
Due: eng/pipelines/release-cli.yml

fix(watch): join pending subtree discovery before snapshots
  cli/azd/docs/concurrency-model.md
  cli/azd/pkg/watch/watch.go
  cli/azd/pkg/watch/watch_rescan_test.go
Due: eng/pipelines/release-cli.yml

test(ai eval): remove obsolete stable acknowledgment mock
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/init_capability_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/init_usage_test.go
Due: eng/pipelines/release-azd-extension.yml

fix(evaluations): validate primary interactions in local rows
  cli/azd/extensions/azure.ai.evaluations/README.md
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/local_composition_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/local_contract_review_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/local_source.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/local_source_test.go
Due: eng/pipelines/release-azd-extension.yml

fix(azd): silence cspell false positive; preserve unknown rubric fields
  cli/azd/.vscode/cspell.yaml
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/evaluator_download.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/evaluator_download_roundtrip_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/evaluator_download_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/generate.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/generate_rubric_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/rubric_write_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Simplify evaluation CI hero scenario
  .github/workflows/eval-candidate-proof.yml
  .github/workflows/eval-scenario-ci.yml
  .vscode/cspell.misc.yaml
  cli/azd/CONTRIBUTING.md
  cli/azd/pkg/azsdk/zip_deploy_client_test.go
  docs/README.md
  docs/guides/evaluation-scenario-ci.md
  docs/guides/evaluations-dataset-release-testing.md
  eng/pipelines/eval-scenario-ci.yml
  eng/pipelines/templates/jobs/build-cli.yml
  eng/scripts/eval-candidate-proof/candidate.json
  eng/scripts/eval-candidate-proof/checks.json
  eng/scripts/eval-candidate-proof/owned_process.py
  eng/scripts/eval-candidate-proof/verify.py
  eng/scripts/eval-scenario-ci/fixture/azure.yaml
  eng/scripts/eval-scenario-ci/fixture/live/azure.eval.yaml
  eng/scripts/eval-scenario-ci/fixture/live/data/golden.jsonl
  eng/scripts/eval-scenario-ci/http_transport.py
  eng/scripts/eval-scenario-ci/sanitize_results.py
  eng/scripts/eval-scenario-ci/scenario.py
  eng/scripts/eval-scenario-ci/service.py
  eng/scripts/eval-scenario-ci/test_agent_cli.py
  eng/scripts/eval-scenario-ci/test_candidate_approval.py
  eng/scripts/eval-scenario-ci/test_environment_gate.py
  eng/scripts/eval-scenario-ci/test_extension_profile.py
  eng/scripts/eval-scenario-ci/test_frozen_metadata.py
  eng/scripts/eval-scenario-ci/test_http_transport.py
  eng/scripts/eval-scenario-ci/test_installed_route.py
  eng/scripts/eval-scenario-ci/test_owned_process.py
  eng/scripts/eval-scenario-ci/test_owned_prompt.py
  eng/scripts/eval-scenario-ci/test_sanitize_results.py
  eng/scripts/eval-scenario-ci/test_scenario.py
  eng/scripts/eval-scenario-ci/test_service.py
  eng/scripts/eval-scenario-ci/test_service_errors.py
Due: eng/pipelines/release-cli.yml

chore(ai eval): move go-fix diagnostics out of runtime PR
  .github/workflows/lint-go.yml
Due: none

fix(ci): preserve go fix diff and failure diagnostics
  .github/workflows/lint-go.yml
Due: none

chore: add owners for dataset and evaluation extensions
  .github/CODEOWNERS
Due: none

fix(watch): join pending directory discovery before reporting
  cli/azd/docs/concurrency-model.md
  cli/azd/pkg/watch/watch.go
  cli/azd/pkg/watch/watch_rescan_test.go
Due: eng/pipelines/release-cli.yml

fix(ai eval): validate mapped local primary interactions before mutation
  cli/azd/extensions/azure.ai.evaluations/README.md
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/local_contract_review_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/local_primary_interactions_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/local_source.go
Due: eng/pipelines/release-azd-extension.yml

fix(extensions): remove dismissed personal-feed version ordering workaround
  cli/azd/cmd/extension.go
  cli/azd/cmd/extension_bundle_test.go
  cli/azd/cmd/extension_install_version_test.go
  cli/azd/cmd/extension_upgrade_test.go
  cli/azd/docs/extensions/extension-framework.md
  cli/azd/docs/extensions/extension-resolution-and-versioning.md
  cli/azd/extensions/registry.dev.json
  cli/azd/extensions/registry.schema.json
  cli/azd/pkg/extensions/manager.go
  cli/azd/pkg/extensions/manager_upgrade_recovery_test.go
  cli/azd/pkg/extensions/manager_upgrade_recovery_windows_test.go
  cli/azd/pkg/extensions/registry.go
  cli/azd/pkg/extensions/registry_cache.go
  cli/azd/pkg/extensions/registry_resolver.go
  cli/azd/pkg/extensions/registry_resolver_test.go
  cli/azd/pkg/extensions/registry_semver_schema_test.go
  cli/azd/pkg/extensions/resolution.go
  cli/azd/pkg/extensions/resolution_test.go
  cli/azd/pkg/extensions/source.go
  cli/azd/pkg/extensions/source_test.go
  cli/azd/pkg/extensions/update_checker.go
  cli/azd/pkg/extensions/update_checker_test.go
  cli/azd/pkg/extensions/validate_registry.go
  cli/azd/pkg/extensions/validate_registry_test.go
  cli/azd/pkg/extensions/version_compatibility.go
  cli/azd/pkg/extensions/version_compatibility_test.go
  cli/azd/test/functional/extension_migration_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Fix azd 1.34.1 evaluation reconciliation
  .github/workflows/eval-scenario-ci.yml
  eng/scripts/eval-scenario-ci/fixture/infra/main.bicep
  eng/scripts/eval-scenario-ci/test_sanitize_results.py
Due: none

docs: mark extensions stable in feature stages
  cli/azd/docs/feature-stages.md
Due: eng/pipelines/release-cli.yml

fix(ci): resolve shared GenerateReleaseArtifacts and Publish_For_PR failures
  eng/pipelines/templates/stages/build-and-test.yml
  eng/pipelines/templates/steps/publish-extension-storage.yml
Due: none

fix(extensions): withdraw dismissed personal-feed migration workaround
  cli/azd/cmd/extension.go
  cli/azd/cmd/extension_bundle_test.go
  cli/azd/cmd/extension_install_version_test.go
  cli/azd/cmd/extension_upgrade_test.go
  cli/azd/docs/extensions/extension-framework.md
  cli/azd/docs/extensions/extension-resolution-and-versioning.md
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/publish_test.go
  cli/azd/extensions/registry.dev.json
  cli/azd/extensions/registry.schema.json
  cli/azd/pkg/extensions/manager.go
  cli/azd/pkg/extensions/manager_upgrade_recovery_test.go
  cli/azd/pkg/extensions/registry.go
  cli/azd/pkg/extensions/registry_cache.go
  cli/azd/pkg/extensions/registry_resolver.go
  cli/azd/pkg/extensions/registry_resolver_test.go
  cli/azd/pkg/extensions/resolution.go
  cli/azd/pkg/extensions/resolution_test.go
  cli/azd/pkg/extensions/update_checker.go
  cli/azd/pkg/extensions/update_checker_test.go
  cli/azd/pkg/extensions/validate_registry.go
  cli/azd/pkg/extensions/validate_registry_test.go
  cli/azd/pkg/extensions/version_compatibility.go
  cli/azd/pkg/extensions/version_compatibility_test.go
  cli/azd/test/functional/extension_migration_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

fix(agents): clarify azure yaml template terminology
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_voice_compatibility_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/sample_list.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/testdata/TestAgentHelp-init.snap
  cli/azd/extensions/azure.ai.agents/internal/cmd/testdata/TestAgentHelp-sample_list.snap
  cli/azd/extensions/azure.ai.agents/internal/tools/add_agent.go
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/README.md
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier1/1.03-init-from-azure-yaml-url.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

docs: address extension MCP review feedback
  cli/azd/docs/extensions/extension-e2e-walkthrough.md
  cli/azd/docs/extensions/extension-migration-guide.md
  cli/azd/docs/extensions/extension-sdk-reference.md
Due: eng/pipelines/release-cli.yml

ci: validate CODEOWNERS changes with GitHub's API (#10209)
  .github/scripts/src/codeowners-validation.js
  .github/scripts/test/codeowners-validation.test.js
  .github/workflows/codeowners-validation.yml
  .github/workflows/scripts-ci.yml
  .vscode/cspell.misc.yaml
  cli/azd/AGENTS.md
Due: eng/pipelines/release-cli.yml

fix(project): join progress poller before closing its channel
  cli/azd/docs/concurrency-model.md
  cli/azd/pkg/async/progress.go
  cli/azd/pkg/async/progress_context_test.go
  cli/azd/pkg/project/service_progress_poll.go
  cli/azd/pkg/project/service_progress_poll_lifecycle_test.go
Due: eng/pipelines/release-cli.yml

Refactor regex for package version validation
  eng/pipelines/templates/steps/publish-cli-winget.yml
Due: none

Update winget ESRP publish (#10286)
  eng/pipelines/templates/stages/publish.yml
  eng/pipelines/templates/steps/publish-cli-winget.yml
Due: none

docs(ai eval): clarify editable rubric download fields
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/evaluator_download.go
Due: eng/pipelines/release-azd-extension.yml

fix(watch): keep startup filesystem lookups outside accounting lock
  cli/azd/docs/concurrency-model.md
  cli/azd/pkg/watch/watch.go
  cli/azd/pkg/watch/watch_startup_test.go
Due: eng/pipelines/release-cli.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
