Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      demands: ImageOverride -equals windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-azdo-setupazd.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: BuildAndTest
        variables:
        - template: /eng/pipelines/templates/variables/image.yml
        jobs:
        - job: BuildSetupAzd
          displayName: BuildSetupAzd
          variables:
  ...

eng/pipelines/release-azuredevops.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/azuredevops-build-and-test.yml
      - template: /eng/pipelines/templates/stages/azuredevops-sign.yml
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-ai-agents
  ...

eng/pipelines/release-ext-azure-ai-models.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.models
          SanitizedExtensionId: azure-ai-models
  ...

eng/pipelines/release-ext-azure-appservice.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.appservice
          SanitizedExtensionId: azure-appservice
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

candidate id update
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_apply.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Increment CLI version after release
  cli/azd/pkg/azdext/version.go
  cli/version.txt
Due: eng/pipelines/release-cli.yml

fix: add missing azd exec (#7400) to 1.25.1 changelog and fix skill gap
  .github/skills/changelog-generation/SKILL.md
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

Add approval scripts for the new extensions
  .github/scripts/pr-approval-foundry-extensions-shared.js
  .github/workflows/approval-ext-azure-ai-agents.yml
  .github/workflows/approval-ext-azure-ai-connections.yml
  .github/workflows/approval-ext-azure-ai-inspector.yml
  .github/workflows/approval-ext-azure-ai-projects.yml
  .github/workflows/approval-ext-azure-ai-routines.yml
  .github/workflows/approval-ext-azure-ai-skills.yml
  .github/workflows/approval-ext-azure-ai-toolboxes.yml
Due: none

feat(agents): add post-init validation for .NET runtime vs TargetFramework mismatch
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_validate.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_validate_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

docs: address PR feedback — move skill commands to `azd ai skill`
  cli/azd/docs/design/ai-skill-design-spec.md
Due: eng/pipelines/release-cli.yml

Bump armcognitiveservices SDK from v1.8.0 to v2.0.0 to fix NetworkInjections unmarshal error
  cli/azd/extensions/azure.ai.training/go.mod
  cli/azd/extensions/azure.ai.training/go.sum
  cli/azd/extensions/azure.ai.training/internal/cmd/init.go
  cli/azd/extensions/azure.ai.training/internal/utils/uami.go
  cli/azd/extensions/azure.ai.training/internal/utils/uami_test.go
Due: eng/pipelines/release-azd-extension.yml

Bump go directive to 1.26.1 to align with repo standard and other extensions
  cli/azd/extensions/azure.ai.training/go.mod
Due: eng/pipelines/release-azd-extension.yml

Use Subscription.UserTenantId for credential tenant to support guest/multi-tenant users
  cli/azd/extensions/azure.ai.training/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml

feat(skills): add `azd ai skill` command group (preview)
  cli/azd/extensions/azure.ai.skills/.golangci.yaml
  cli/azd/extensions/azure.ai.skills/AGENTS.md
  cli/azd/extensions/azure.ai.skills/CHANGELOG.md
  cli/azd/extensions/azure.ai.skills/README.md
  cli/azd/extensions/azure.ai.skills/build.ps1
  cli/azd/extensions/azure.ai.skills/build.sh
  cli/azd/extensions/azure.ai.skills/ci-build.ps1
  cli/azd/extensions/azure.ai.skills/ci-test.ps1
  cli/azd/extensions/azure.ai.skills/cspell.yaml
  cli/azd/extensions/azure.ai.skills/extension.yaml
  cli/azd/extensions/azure.ai.skills/go.mod
  cli/azd/extensions/azure.ai.skills/go.sum
  cli/azd/extensions/azure.ai.skills/internal/cmd/debug.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/endpoint.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/endpoint_test.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/output.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/output_test.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/root.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_context.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_create.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_delete.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_download.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_list.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_show.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_update.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_validate.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_validate_test.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/version.go
  cli/azd/extensions/azure.ai.skills/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.skills/internal/exterrors/errors.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/archive.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/archive_test.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/client.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/client_test.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/models.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/skill_md.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/skill_md_test.go
  cli/azd/extensions/azure.ai.skills/internal/version/version.go
  cli/azd/extensions/azure.ai.skills/main.go
  cli/azd/extensions/azure.ai.skills/version.txt
Due: eng/pipelines/release-azd-extension.yml

fix(agents): address review feedback on toolbox commands
  cli/azd/extensions/azure.ai.agents/internal/cmd/pending_toolboxes.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/toolbox.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/toolbox_commands_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/toolbox_connection.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/toolbox_connection_actions.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/toolbox_connection_add.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/toolbox_connection_list.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/toolbox_connection_remove.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/toolbox_create.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/toolbox_delete.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/toolbox_helpers_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/toolbox_list.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/toolbox_show.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/toolbox_update.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/azure/foundry_toolsets_client.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(azure.ai.skills): endpoint scheme validation + symlink escape in SafeExtract
  cli/azd/extensions/azure.ai.skills/internal/cmd/endpoint.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/endpoint_test.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/archive.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/archive_test.go
Due: eng/pipelines/release-azd-extension.yml

Pin azd module to semver v1.24.3 instead of pseudo-version for stable dependency
  cli/azd/extensions/azure.ai.training/go.mod
  cli/azd/extensions/azure.ai.training/go.sum
Due: eng/pipelines/release-azd-extension.yml

Add UTs
  cli/azd/extensions/azure.ai.training/internal/service/resolver_test.go
Due: eng/pipelines/release-azd-extension.yml

fix(azure.ai.skills): endpoint scheme validation + symlink escape in SafeExtract
  cli/azd/extensions/azure.ai.skills/internal/cmd/endpoint.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/endpoint_test.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_create.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_download.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/archive.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/archive_peek.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/archive_peek_test.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/archive_test.go
Due: eng/pipelines/release-azd-extension.yml

fix(skills): use api-version=v1 for skills surface
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/client.go
Due: eng/pipelines/release-azd-extension.yml

fix(skills): pre-check has_blob before download for clearer error
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_download.go
  cli/azd/extensions/azure.ai.skills/internal/exterrors/codes.go
Due: eng/pipelines/release-azd-extension.yml

Consolidate doUpload and doUploadWithTag into single method with optional tags parameter
  cli/azd/extensions/azure.ai.training/internal/service/upload_service.go
Due: eng/pipelines/release-azd-extension.yml

fix(skills): switch from gzip+tar to ZIP for package upload/download
  cli/azd/extensions/azure.ai.skills/AGENTS.md
  cli/azd/extensions/azure.ai.skills/CHANGELOG.md
  cli/azd/extensions/azure.ai.skills/README.md
  cli/azd/extensions/azure.ai.skills/internal/cmd/root.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_create.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_download.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_update.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_validate_test.go
  cli/azd/extensions/azure.ai.skills/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/archive.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/archive_peek.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/archive_peek_test.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/archive_test.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/client.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/client_test.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/models.go
Due: eng/pipelines/release-azd-extension.yml

Use PromptSubscriptionResource for interactive Foundry project selection in init
  cli/azd/extensions/azure.ai.training/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml

Surface azcopy scanner errors so truncated stdout doesn't mask upload failures
  cli/azd/extensions/azure.ai.training/internal/azcopy/runner.go
Due: eng/pipelines/release-azd-extension.yml

Add schema header and requiredAzdVersion >=1.25.1 to extension.yaml
  cli/azd/extensions/azure.ai.training/extension.yaml
Due: eng/pipelines/release-azd-extension.yml

fix(skills): auto-detect ZIP vs gzip on download (service is asymmetric)
  cli/azd/extensions/azure.ai.skills/.gitignore
  cli/azd/extensions/azure.ai.skills/CHANGELOG.md
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_download.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/archive.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/archive_peek.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/archive_test.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/client.go
Due: eng/pipelines/release-azd-extension.yml

Cap error and service-instance response body reads to prevent unbounded memory use
  cli/azd/extensions/azure.ai.training/pkg/client/client.go
  cli/azd/extensions/azure.ai.training/pkg/client/serviceinstances.go
Due: eng/pipelines/release-azd-extension.yml

Add retry policy (429/502/503/504 + net errors) to Foundry data plane client
  cli/azd/extensions/azure.ai.training/pkg/client/blob.go
  cli/azd/extensions/azure.ai.training/pkg/client/client.go
  cli/azd/extensions/azure.ai.training/pkg/client/download.go
  cli/azd/extensions/azure.ai.training/pkg/client/history.go
  cli/azd/extensions/azure.ai.training/pkg/client/serviceinstances.go
Due: eng/pipelines/release-azd-extension.yml

refactor(skills): trim unnecessary comments and doc blocks
  cli/azd/extensions/azure.ai.skills/AGENTS.md
  cli/azd/extensions/azure.ai.skills/internal/cmd/debug.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/endpoint.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/output.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/root.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_context.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_create.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_delete.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_download.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_list.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_show.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_update.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_validate.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/version.go
  cli/azd/extensions/azure.ai.skills/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/archive.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/archive_peek.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/archive_test.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/client.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/client_test.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/models.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/skill_md.go
  cli/azd/extensions/azure.ai.skills/internal/version/version.go
Due: eng/pipelines/release-azd-extension.yml

Use azd Confirm prompt and honor --no-prompt in job delete
  cli/azd/extensions/azure.ai.training/internal/cmd/job_delete.go
Due: eng/pipelines/release-azd-extension.yml

doc: align routine spec with TypeSpec PR #43186 from review feedback
  cli/azd/docs/design/ai-routine-design-spec.md
Due: eng/pipelines/release-cli.yml

Escape user-supplied IDs in client URL paths
  cli/azd/extensions/azure.ai.training/pkg/client/artifacts.go
  cli/azd/extensions/azure.ai.training/pkg/client/history.go
  cli/azd/extensions/azure.ai.training/pkg/client/jobs.go
  cli/azd/extensions/azure.ai.training/pkg/client/metrics.go
Due: eng/pipelines/release-azd-extension.yml

Fix JSON tag mismatch for DataType
  cli/azd/extensions/azure.ai.training/pkg/models/dataset.go
  cli/azd/extensions/azure.ai.training/pkg/models/dataset_test.go
Due: eng/pipelines/release-azd-extension.yml

fix(azure.ai.skills): drop unused scanner, stream archive peek, reject symlinked copy destinations, use errors.AsType
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_create.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/archive.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/archive_peek.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/archive_peek_test.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/skill_md.go
Due: eng/pipelines/release-azd-extension.yml

Route client debug prints to stderr to keep stdout JSON parseable
  cli/azd/extensions/azure.ai.training/pkg/client/client.go
  cli/azd/extensions/azure.ai.training/pkg/client/download.go
  cli/azd/extensions/azure.ai.training/pkg/client/history.go
  cli/azd/extensions/azure.ai.training/pkg/client/serviceinstances.go
Due: eng/pipelines/release-azd-extension.yml

doc: add error behavior section and --file scope for routine spec
  cli/azd/docs/design/ai-routine-design-spec.md
Due: eng/pipelines/release-cli.yml

Adopt azdext.NewExtensionRootCommand and remove reserved-flag conflicts
  cli/azd/extensions/azure.ai.training/extension.yaml
  cli/azd/extensions/azure.ai.training/internal/cmd/extension_context.go
  cli/azd/extensions/azure.ai.training/internal/cmd/init.go
  cli/azd/extensions/azure.ai.training/internal/cmd/job.go
  cli/azd/extensions/azure.ai.training/internal/cmd/job_connect_ssh.go
  cli/azd/extensions/azure.ai.training/internal/cmd/job_delete.go
  cli/azd/extensions/azure.ai.training/internal/cmd/job_download.go
  cli/azd/extensions/azure.ai.training/internal/cmd/job_get.go
  cli/azd/extensions/azure.ai.training/internal/cmd/job_list.go
  cli/azd/extensions/azure.ai.training/internal/cmd/job_stream.go
  cli/azd/extensions/azure.ai.training/internal/cmd/job_submit.go
  cli/azd/extensions/azure.ai.training/internal/cmd/root.go
  cli/azd/extensions/azure.ai.training/internal/cmd/validation.go
  cli/azd/extensions/azure.ai.training/main.go
Due: eng/pipelines/release-azd-extension.yml

fix: address review comments on .NET runtime validation
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_validate.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_validate_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

chore(ext/azure.ai.training): add CHANGELOG, README, cspell, golangci config and CI lint + release pipeline
  .github/workflows/lint-ext-azure-ai-training.yml
  cli/azd/extensions/azure.ai.training/.golangci.yaml
  cli/azd/extensions/azure.ai.training/CHANGELOG.md
  cli/azd/extensions/azure.ai.training/README.md
  cli/azd/extensions/azure.ai.training/cspell.yaml
  eng/pipelines/release-ext-azure-ai-training.yml
Due: eng/pipelines/release-azd-extension.yml

chore(ext/azure.ai.training): extend cspell dictionary to fix CI lint
  cli/azd/extensions/azure.ai.training/cspell.yaml
Due: eng/pipelines/release-azd-extension.yml

chore(ext/azure.ai.training): apply go fix modernization (interface{}→any, CutPrefix, drop loopvar capture)
  cli/azd/extensions/azure.ai.training/internal/cmd/job_connect_ssh.go
  cli/azd/extensions/azure.ai.training/internal/cmd/job_connect_ssh_test.go
  cli/azd/extensions/azure.ai.training/internal/cmd/job_download.go
  cli/azd/extensions/azure.ai.training/internal/cmd/job_get.go
  cli/azd/extensions/azure.ai.training/internal/cmd/job_ssh_proxy.go
  cli/azd/extensions/azure.ai.training/internal/cmd/job_submit.go
  cli/azd/extensions/azure.ai.training/internal/download/download.go
  cli/azd/extensions/azure.ai.training/internal/service/stream_service.go
  cli/azd/extensions/azure.ai.training/internal/utils/output.go
  cli/azd/extensions/azure.ai.training/pkg/client/client.go
  cli/azd/extensions/azure.ai.training/pkg/client/history.go
  cli/azd/extensions/azure.ai.training/pkg/models/job.go
  cli/azd/extensions/azure.ai.training/pkg/models/metrics.go
  cli/azd/extensions/azure.ai.training/pkg/models/serviceinstance.go
Due: eng/pipelines/release-azd-extension.yml

Revise CHANGELOG with recent updates and notes
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
