Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      demands: ImageOverride -equals windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-azdo-setupazd.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: BuildAndTest
        variables:
        - template: /eng/pipelines/templates/variables/image.yml
        jobs:
        - job: BuildSetupAzd
          displayName: BuildSetupAzd
          variables:
  ...

eng/pipelines/release-azuredevops.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/azuredevops-build-and-test.yml
      - template: /eng/pipelines/templates/stages/azuredevops-sign.yml
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-ai-agents
  ...

eng/pipelines/release-ext-azure-ai-models.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.models
          SanitizedExtensionId: azure-ai-models
  ...

eng/pipelines/release-ext-azure-appservice.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.appservice
          SanitizedExtensionId: azure-appservice
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

Nit
  cli/azd/extensions/azure.ai.customtraining/internal/cmd/job_validate.go
Due: eng/pipelines/release-azd-extension.yml

temporary template location
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_templates_helpers.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat: enhance model configuration handling for agent creation with project ID support. Fixes #7409
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Remove duplicate test
  cli/azd/extensions/azure.ai.customtraining/internal/utils/job_validator_test.go
Due: eng/pipelines/release-azd-extension.yml

Remove warning if outputs key itself is missing
  cli/azd/extensions/azure.ai.customtraining/internal/utils/job_validator.go
  cli/azd/extensions/azure.ai.customtraining/internal/utils/job_validator_test.go
Due: eng/pipelines/release-azd-extension.yml

Add more tests
  cli/azd/extensions/azure.ai.customtraining/internal/utils/job_validator_test.go
Due: eng/pipelines/release-azd-extension.yml

Prepare `azure.ai.agents` 0.1.19-preview patch release (#7399)
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/extension.yaml
  cli/azd/extensions/azure.ai.agents/version.txt
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Publish azure.ai.agents 0.1.19-preview to registry
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

Update snapshot
  cli/azd/cmd/testdata/TestFigSpec.ts
Due: eng/pipelines/release-cli.yml

Address review feedback: idiomatic range loop and t.Context()
  cli/azd/internal/grpcserver/event_service.go
  cli/azd/internal/grpcserver/event_service_test.go
Due: eng/pipelines/release-cli.yml

Fix session leak: validate rootPath before newSession()
  cli/azd/internal/vsrpc/server_service.go
Due: eng/pipelines/release-cli.yml

Add Network field to gRPC proto and mapper
  cli/azd/grpc/proto/models.proto
  cli/azd/pkg/azdext/models.pb.go
  cli/azd/pkg/project/mapper_registry.go
Due: eng/pipelines/release-cli.yml

Address review feedback on --export flag
  cli/azd/cmd/env.go
  cli/azd/cmd/env_get_values_test.go
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-env-get-values.snap
Due: eng/pipelines/release-cli.yml

Publish azure.ai.agents 0.1.19-preview to extension registry (#7413)
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Extension Framework - add `allowed_locations` to `PromptLocation` and improve AI model capacity resolution (#7397)
  cli/azd/grpc/proto/prompt.proto
  cli/azd/internal/grpcserver/prompt_service.go
  cli/azd/internal/grpcserver/prompt_service_test.go
  cli/azd/pkg/ai/model_service.go
  cli/azd/pkg/ai/model_service_test.go
  cli/azd/pkg/azdext/prompt.pb.go
  cli/azd/pkg/prompt/prompt_service.go
  cli/azd/pkg/prompt/prompt_service_test.go
Due: eng/pipelines/release-cli.yml

Test aks
  cli/azd/internal/repository/detect_confirm_apphost.go
Due: eng/pipelines/release-cli.yml

Add reserved global flags registry for extensions
  cli/azd/internal/reserved_flags.go
  cli/azd/internal/reserved_flags_test.go
Due: eng/pipelines/release-cli.yml

docs: add scope & limitations section for enforcement gap
  cli/azd/docs/design/extension-flag-architecture.md
Due: eng/pipelines/release-cli.yml

fix: address review feedback — spec accuracy, short-name sync, PersistentFlags check
  cli/azd/docs/design/extension-flag-architecture.md
  cli/azd/pkg/azdext/reserved_flags.go
  cli/azd/pkg/azdext/reserved_flags_test.go
Due: eng/pipelines/release-cli.yml

fix: tighten root persistent flag exemption to SDK-created roots only
  cli/azd/pkg/azdext/extension_command.go
  cli/azd/pkg/azdext/reserved_flags.go
  cli/azd/pkg/azdext/reserved_flags_test.go
Due: eng/pipelines/release-cli.yml

docs: add extension flag architecture spec and style guide reserved flags section
  cli/azd/docs/extensions/extensions-style-guide.md
  docs/specs/extension-flags/spec.md
Due: eng/pipelines/release-cli.yml

fix: make reserved flags slice unexported with getter, fix init ordering
  cli/azd/docs/design/extension-flag-architecture.md
  cli/azd/internal/reserved_flags.go
  cli/azd/internal/reserved_flags_test.go
  cli/azd/pkg/azdext/reserved_flags_test.go
Due: eng/pipelines/release-cli.yml

fix: revert unrelated apphost changes on reserved-flags branch
  cli/azd/internal/repository/detect_confirm_apphost.go
Due: eng/pipelines/release-cli.yml

Add SDK-level reserved flag enforcement in azdext.Run()
  cli/azd/pkg/azdext/reserved_flags.go
  cli/azd/pkg/azdext/reserved_flags_test.go
  cli/azd/pkg/azdext/run.go
Due: eng/pipelines/release-cli.yml

fix: add missing color import in detect_confirm_apphost.go
  cli/azd/internal/repository/detect_confirm_apphost.go
Due: eng/pipelines/release-cli.yml

fix: use pointer equality in collectConflicts to detect subcommand flag shadows
  cli/azd/pkg/azdext/reserved_flags.go
Due: eng/pipelines/release-cli.yml

fix: address wbreza review — report validation errors via gRPC, collect compound conflicts, consistency fixes
  cli/azd/pkg/azdext/reserved_flags.go
  cli/azd/pkg/azdext/run.go
Due: eng/pipelines/release-cli.yml

docs: move extension flag spec to cli/azd/docs/design/
  cli/azd/docs/design/extension-flag-architecture.md
  cli/azd/docs/extensions/extensions-style-guide.md
Due: eng/pipelines/release-cli.yml

Add telemetry tracking with unique rule/diagnostic IDs for preflight validation (#7396)
  cli/azd/.vscode/cspell.yaml
  cli/azd/internal/tracing/events/events.go
  cli/azd/internal/tracing/fields/fields.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/infra/provisioning/bicep/local_preflight.go
  cli/azd/pkg/infra/provisioning/bicep/local_preflight_test.go
  cli/azd/pkg/output/ux/preflight_report.go
Due: eng/pipelines/release-cli.yml

fix: address PR review feedback (#7403)
  cli/azd/pkg/azdext/run_coverage_test.go
  eng/pipelines/templates/steps/publish-cli.yml
Due: eng/pipelines/release-cli.yml

2nd round fixes
  cli/azd/cmd/hooks.go
  cli/azd/cmd/hooks_test.go
  cli/azd/internal/tracing/fields/fields.go
  cli/azd/pkg/infra/provisioning/provider.go
  cli/azd/pkg/infra/provisioning/provider_test.go
  cli/azd/test/functional/testdata/samples/hooks/azure.yaml
  schemas/alpha/azure.yaml.json
  schemas/v1.0/azure.yaml.json
Due: eng/pipelines/release-cli.yml

Regenerate models.pb.go with protoc for Network field
  cli/azd/pkg/azdext/models.pb.go
Due: eng/pipelines/release-cli.yml

chore: update extension go.mod/go.sum after main merge
  cli/azd/extensions/azure.appservice/go.mod
  cli/azd/extensions/azure.appservice/go.sum
  cli/azd/extensions/microsoft.azd.concurx/go.mod
  cli/azd/extensions/microsoft.azd.concurx/go.sum
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml

Add PowerShell export support via --shell pwsh flag
  cli/azd/cmd/env.go
  cli/azd/cmd/env_get_values_test.go
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-env-get-values.snap
Due: eng/pipelines/release-cli.yml

chore: update all extensions to use semver SDK reference v1.23.13
  cli/azd/extensions/azure.ai.agents/go.mod
  cli/azd/extensions/azure.ai.agents/go.sum
  cli/azd/extensions/azure.ai.finetune/go.mod
  cli/azd/extensions/azure.ai.finetune/go.sum
  cli/azd/extensions/azure.ai.models/go.mod
  cli/azd/extensions/azure.ai.models/go.sum
  cli/azd/extensions/azure.appservice/go.mod
  cli/azd/extensions/azure.appservice/go.sum
  cli/azd/extensions/azure.coding-agent/go.mod
  cli/azd/extensions/azure.coding-agent/go.sum
  cli/azd/extensions/azure.coding-agent/internal/cmd/coding_agent_config.go
  cli/azd/extensions/microsoft.azd.concurx/go.mod
  cli/azd/extensions/microsoft.azd.concurx/go.sum
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml

fix: remove os.Chdir from aspire server InitializeAsync (#7362)
  cli/azd/internal/vsrpc/server_service.go
Due: eng/pipelines/release-cli.yml

fix(azure.ai.agents): skip scale config for vnext hosted agents (#7341)
  cli/azd/extensions/azure.ai.agents/internal/cmd/files.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/vnext_scale_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

docs: comprehensive environment variables documentation (#7039)
  cli/azd/.vscode/cspell.yaml
  cli/azd/AGENTS.md
  cli/azd/docs/environment-variables.md
Due: eng/pipelines/release-cli.yml

fix: regenerate azure.coding-agent mocks for updated interfaces
  cli/azd/extensions/azure.coding-agent/internal/cmd/mocks_azdext_test.go
  cli/azd/extensions/azure.coding-agent/internal/cmd/mocks_azdinput_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-coding-agent.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
