Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      vmImage: windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
        PublishAnalysisLogs: false
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-coding-agent.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.coding-agent
          SanitizedExtensionId: azure-coding-agent
  ...

eng/pipelines/release-ext-azure-foundry-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.foundry.ai.agents
          SanitizedExtensionId: azure-foundry-ai-agents
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

eng/pipelines/release-ext-microsoft-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: microsoft.ai.agents
          SanitizedExtensionId: microsoft-ai-agents
  ...

eng/pipelines/release-ext-microsoft-azd-ai-builder.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: microsoft.azd.ai.builder
          SanitizedExtensionId: microsoft-azd-ai-builder
  ...

Generated test
  cli/azd/extensions/azure.foundry.ai.agents/tests/minimalDeclarative/.gitignore
  cli/azd/extensions/azure.foundry.ai.agents/tests/minimalDeclarative/azure.yaml
  cli/azd/extensions/azure.foundry.ai.agents/tests/minimalDeclarative/src/learn-french-agent/agent.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Ensure all mapper.Convert calls are called with pointers to destination types
  cli/azd/internal/grpcserver/compose_service.go
  cli/azd/pkg/project/service_target_external.go
Due: eng/pipelines/release-cli.yml

Adds placeholder for MCP tools for Foundry AI Agents extension
  cli/azd/extensions/azure.foundry.ai.agents/extension.yaml
  cli/azd/extensions/azure.foundry.ai.agents/internal/cmd/mcp.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/cmd/root.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/tools/add_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Updates tool name
  cli/azd/extensions/azure.foundry.ai.agents/internal/tools/add_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Enabling sampling and elicitation
  cli/azd/extensions/azure.foundry.ai.agents/internal/cmd/mcp.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/tools/add_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

- Prompt for the repo slug with a list of candidates, instead of forcing the person to type it in - Update the text for pushing the branch to indicate that's what we're doing
  cli/azd/extensions/azure.coding-agent/internal/cmd/coding_agent_config.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-coding-agent.yml

ci-build.ps1 was grabbing the version from a non-existent file.
  cli/azd/extensions/azure.coding-agent/ci-build.ps1
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-coding-agent.yml

Use a regular name for the module.
  cli/azd/extensions/azure.coding-agent/go.mod
  cli/azd/extensions/azure.coding-agent/main.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-coding-agent.yml

- Updating all go deps - Updating readme with some troubleshooting instructions.
  cli/azd/extensions/azure.coding-agent/README.md
  cli/azd/extensions/azure.coding-agent/go.mod
  cli/azd/extensions/azure.coding-agent/go.sum
  cli/azd/extensions/azure.coding-agent/internal/cmd/coding_agent_config.go
  cli/azd/extensions/azure.coding-agent/internal/cmd/coding_agent_config_test.go
  cli/azd/extensions/azure.coding-agent/internal/cmd/interfaces.go
  cli/azd/extensions/azure.coding-agent/internal/cmd/mocks_internal_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-coding-agent.yml

Updating changelog
  cli/azd/extensions/azure.coding-agent/CHANGELOG.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-coding-agent.yml

Remove experimental registry, we'll just publish in the normal registry.
  cli/azd/extensions/registry-experimental.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Add prepublish and postpublish hooks to v1.0 azure.yaml schema (#5841)
  schemas/v1.0/azure.yaml.json
Due: none

Increment CLI version after release
  cli/azd/CHANGELOG.md
  cli/version.txt
Due: eng/pipelines/release-cli.yml

Update version from 1.21.0-beta.1 to 1.20.0
  cli/version.txt
Due: eng/pipelines/release-cli.yml

Update version from 1.21.0-beta.1 to 1.20.0 (#5901)
  cli/version.txt
Due: eng/pipelines/release-cli.yml

Added code to output dashboard url to .env
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/environment/environment.go
Due: eng/pipelines/release-cli.yml

Increment CLI version after release
  cli/version.txt
Due: eng/pipelines/release-cli.yml

Adds placeholder for MCP tools for Foundry AI Agents extension (#5897)
  cli/azd/extensions/azure.foundry.ai.agents/extension.yaml
  cli/azd/extensions/azure.foundry.ai.agents/internal/cmd/mcp.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/cmd/root.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/tools/add_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Adds extensible type mapper (#5895)
  cli/azd/extensions/azure.coding-agent/internal/cmd/coding_agent_config.go
  cli/azd/extensions/azure.coding-agent/internal/cmd/interfaces.go
  cli/azd/internal/grpcserver/compose_service.go
  cli/azd/internal/grpcserver/project_service.go
  cli/azd/internal/mapper/error_message_test.go
  cli/azd/internal/mapper/errors.go
  cli/azd/internal/mapper/errors_test.go
  cli/azd/internal/mapper/mapper.go
  cli/azd/internal/mapper/mapper_test.go
  cli/azd/pkg/environment/mapper_registry.go
  cli/azd/pkg/environment/mapper_registry_test.go
  cli/azd/pkg/project/container_helper.go
  cli/azd/pkg/project/container_helper_test.go
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/mapper_registry.go
  cli/azd/pkg/project/mapper_registry_test.go
  cli/azd/pkg/project/service_models_test.go
  cli/azd/pkg/project/service_target_aks_test.go
  cli/azd/pkg/project/service_target_containerapp_test.go
  cli/azd/pkg/project/service_target_external.go
  cli/azd/pkg/project/service_target_external_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-coding-agent.yml

Update cspell dictionary with 'azurecodingagent'. It's in an go module import though, so odd that it checks it at all.
  cli/azd/.vscode/cspell-azd-dictionary.txt
Due: eng/pipelines/release-cli.yml

Increment CLI version after release (#5903)
  cli/version.txt
Due: eng/pipelines/release-cli.yml

[foundry extension] - service target support for deploy agent (#5882)
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/extensions/azure.foundry.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/project/agent_config.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/project/agent_request.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/project/remote_build.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Fixes alterative valid orderings for tests
  cli/azd/pkg/project/importer_test.go
Due: eng/pipelines/release-cli.yml

Fixes alterative valid orderings for tests (#5904)
  cli/azd/pkg/project/importer_test.go
Due: eng/pipelines/release-cli.yml

Updating the CI to not run for extensions.
  .github/workflows/cli-ci.yml
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Leave the pull_request trigger alone.
  .github/workflows/cli-ci.yml
Due: none

Changes based on PR review and offline discussion
  cli/azd/extensions/azure.foundry.ai.agents/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

(coding-agent) Fixing more issues, and updating some paperwork (#5889)
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/extensions/azure.coding-agent/CHANGELOG.md
  cli/azd/extensions/azure.coding-agent/README.md
  cli/azd/extensions/azure.coding-agent/ci-build.ps1
  cli/azd/extensions/azure.coding-agent/extension.yaml
  cli/azd/extensions/azure.coding-agent/go.mod
  cli/azd/extensions/azure.coding-agent/go.sum
  cli/azd/extensions/azure.coding-agent/internal/cmd/coding_agent_config.go
  cli/azd/extensions/azure.coding-agent/internal/cmd/coding_agent_config_test.go
  cli/azd/extensions/azure.coding-agent/internal/cmd/interfaces.go
  cli/azd/extensions/azure.coding-agent/internal/cmd/mocks_internal_test.go
  cli/azd/extensions/azure.coding-agent/main.go
  cli/azd/extensions/azure.coding-agent/version.txt
  cli/azd/extensions/registry-experimental.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-coding-agent.yml

Updating the azd CI to not run for extensions. (#5905)
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Add env vars
  cli/azd/extensions/azure.foundry.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.foundry.ai.agents/tests/minimalDeclarative/azure.yaml
  cli/azd/extensions/azure.foundry.ai.agents/tests/minimalDeclarative/src/learn-french-agent/agent.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Release
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

commenting out more of the composed stuff which we're delaying usage of
  cli/azd/extensions/azure.foundry.ai.agents/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Update the listener
  cli/azd/extensions/azure.foundry.ai.agents/internal/cmd/listen.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Update with local file handling
  cli/azd/extensions/azure.foundry.ai.agents/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Releasing the v0.2.0 of the `coding-agent` command in the official feed (#5906)
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

build only if hosted
  cli/azd/extensions/azure.foundry.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

comment code to make linter happy and move on
  cli/azd/extensions/azure.foundry.ai.agents/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

[AI Agent Extension] Init for declarative agent (#5896)
  cli/azd/extensions/azure.foundry.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/azure/ai/model_catalog.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/azure/azure_client.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.foundry.ai.agents/tests/minimalDeclarative/.gitignore
  cli/azd/extensions/azure.foundry.ai.agents/tests/minimalDeclarative/azure.yaml
  cli/azd/extensions/azure.foundry.ai.agents/tests/minimalDeclarative/src/learn-french-agent/agent.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

shaping extension to be releasable
  cli/azd/extensions/azure.foundry.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.foundry.ai.agents/extension.yaml
  cli/azd/extensions/azure.foundry.ai.agents/go.mod
  cli/azd/extensions/azure.foundry.ai.agents/go.sum
  cli/azd/extensions/azure.foundry.ai.agents/version.txt
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Use env var
  cli/azd/pkg/apphost/generate.go
Due: eng/pipelines/release-cli.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: go.mod, cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.foundry.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
