Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

Bootstrap pinned Go for WSL scenarios
  .github/agents/foundry-extension-scenario-orchestrator.agent.md
  .github/skills/foundry-extension-scenario-pr-regression/references/prerequisites.md
  .github/skills/foundry-extension-scenario-pr-regression/references/workflow.md
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/README.md
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/setup-wsl.sh
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

chore(deps): preserve CFSClean lockfile metadata
  ext/vscode/package-lock.json
Due: eng/pipelines/release-vscode.yml

chore(deps): mitigate remaining Dependabot alerts
  .github/scripts/package-lock.json
  cli/azd/extensions/azure.ai.agents/go.mod
  cli/azd/extensions/azure.ai.agents/go.sum
  cli/azd/extensions/azure.ai.connections/go.mod
  cli/azd/extensions/azure.ai.connections/go.sum
  cli/azd/extensions/azure.ai.finetune/go.mod
  cli/azd/extensions/azure.ai.finetune/go.sum
  cli/azd/extensions/azure.ai.models/go.mod
  cli/azd/extensions/azure.ai.models/go.sum
  cli/azd/extensions/azure.ai.projects/go.mod
  cli/azd/extensions/azure.ai.projects/go.sum
  cli/azd/extensions/azure.ai.routines/go.mod
  cli/azd/extensions/azure.ai.routines/go.sum
  cli/azd/extensions/azure.ai.skills/go.mod
  cli/azd/extensions/azure.ai.skills/go.sum
  cli/azd/extensions/azure.ai.toolboxes/go.mod
  cli/azd/extensions/azure.ai.toolboxes/go.sum
  cli/azd/extensions/azure.ai.training/go.mod
  cli/azd/extensions/azure.ai.training/go.sum
  cli/azd/extensions/azure.appservice/go.mod
  cli/azd/extensions/azure.appservice/go.sum
  cli/azd/extensions/azure.coding-agent/go.mod
  cli/azd/extensions/azure.coding-agent/go.sum
  cli/azd/extensions/microsoft.azd.concurx/go.mod
  cli/azd/extensions/microsoft.azd.concurx/go.sum
  eng/common/tsp-client/package-lock.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml

Address setup azd version and cleanup feedback
  ext/azuredevops/README.md
  ext/azuredevops/setupAzd/index.ts
  ext/azuredevops/setupAzd/task.json
  ext/azuredevops/setupAzd/tests/_suite.ts
  ext/azuredevops/setupAzd/tests/cleanupFailure.ts
  ext/azuredevops/setupAzd/tests/downloadFailure.ts
  ext/azuredevops/setupAzd/tests/installAndCleanupFailure.ts
  ext/azuredevops/setupAzd/version.ts
Due: eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml

Revert "Preserve qualified legacy command hooks"
  cli/azd/cmd/middleware/hooks.go
  cli/azd/cmd/middleware/hooks_test.go
Due: eng/pipelines/release-cli.yml

Align update JSON and telemetry names
  cli/azd/cmd/extension.go
  cli/azd/cmd/telemetry_test.go
  cli/azd/cmd/tool.go
  cli/azd/cmd/tool_test.go
  cli/azd/docs/extensions/extension-resolution-and-versioning.md
  cli/azd/docs/tracing-in-azd.md
  cli/azd/internal/tracing/events/events.go
  cli/azd/internal/tracing/fields/fields.go
  cli/azd/pkg/extensions/manager.go
  docs/architecture/telemetry.md
  docs/reference/telemetry-data.md
  docs/specs/metrics-audit/feature-telemetry-matrix.md
  docs/specs/metrics-audit/telemetry-schema.md
Due: eng/pipelines/release-cli.yml

fix(ai-agents): gate port warning on inspector installation
  cli/azd/extensions/azure.ai.agents/internal/cmd/run.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/run_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Route unsupported nested env syntax to its accurate error
  cli/azd/extensions/azure.ai.agents/internal/synthesis/envrefs.go
  cli/azd/extensions/azure.ai.projects/internal/synthesis/envrefs.go
  cli/azd/extensions/azure.ai.projects/internal/synthesis/synthesizer_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): avoid redundant project setup on config reuse
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_reuse_project_agent.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_reuse_project_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

ci: harden Foundry workflow outputs
  .github/workflows/foundry-docs-tracker.lock.yml
  .github/workflows/foundry-docs-tracker.md
  .github/workflows/foundry-duplicate-pr-detector.lock.yml
  .github/workflows/foundry-duplicate-pr-detector.md
Due: none

ci: clarify Foundry threat detection context
  .github/workflows/foundry-docs-tracker.lock.yml
  .github/workflows/foundry-docs-tracker.md
  .github/workflows/foundry-duplicate-pr-detector.lock.yml
  .github/workflows/foundry-duplicate-pr-detector.md
Due: none

ci: make Foundry lifecycle decisions deterministic
  .github/workflows/foundry-docs-tracker.lock.yml
  .github/workflows/foundry-docs-tracker.md
  .github/workflows/foundry-duplicate-pr-detector.lock.yml
  .github/workflows/foundry-duplicate-pr-detector.md
Due: none

[microsoft.azd.demo] Nightly registry update for 0.7.2-nightly.6658176
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

Require exact setup azd version matches
  ext/azuredevops/setupAzd/tests/_suite.ts
  ext/azuredevops/setupAzd/version.ts
Due: eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml

feat(azure.ai.evaluations): port the eval and dataset data-plane clients
  cli/azd/extensions/azure.ai.evaluations/go.mod
  cli/azd/extensions/azure.ai.evaluations/go.sum
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/dataset_api/models.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/dataset_api/operations.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/eval_api/generation.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/eval_api/models.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/eval_api/operations.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/eval_api/poller.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/eval_api/portal_urls.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/evalcore/evaluator.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/evalcore/transient.go
  cli/azd/extensions/azure.ai.evaluations/internal/version/version.go
Due: eng/pipelines/release-azd-extension.yml

feat(azure.ai.evaluations): scaffold the Foundry evaluations extension
  cli/azd/extensions/azure.ai.evaluations/extension.yaml
  cli/azd/extensions/azure.ai.evaluations/go.mod
  cli/azd/extensions/azure.ai.evaluations/go.sum
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/root.go
  cli/azd/extensions/azure.ai.evaluations/main.go
  cli/azd/extensions/azure.ai.evaluations/version.txt
Due: eng/pipelines/release-azd-extension.yml

feat(azure.ai.evaluations): evaluator and results commands
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/evaluator.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/results.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/root.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/eval_api/evaluators.go
Due: eng/pipelines/release-azd-extension.yml

feat(azure.ai.evaluations): generate command with YAML write-back
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/generate.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/root.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/merge.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/merge_test.go
Due: eng/pipelines/release-azd-extension.yml

feat(azure.ai.evaluations): eval group builder and run command
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/build.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/root.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run.go
Due: eng/pipelines/release-azd-extension.yml

feat(azure.ai.evaluations): config model, client context, and dataset commands
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/apiversions.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/context.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/dataset.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/output.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/root.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/dataset_api/list.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/eval_config.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/eval_config_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/generate_config.go
Due: eng/pipelines/release-azd-extension.yml

build(azure.ai.evaluations): release pipeline and foundry bundle entry
  cli/azd/extensions/microsoft.foundry/extension.yaml
  eng/pipelines/release-ext-azure-ai-evaluations.yml
Due: eng/pipelines/release-azd-extension.yml

fix(azure.ai.evaluations): bind dataset URIs and add live integration tests
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/dataset_api/models.go
  cli/azd/extensions/azure.ai.evaluations/tests/live/live_test.go
Due: eng/pipelines/release-azd-extension.yml

build(azure.ai.evaluations): add the build scripts the extension kit invokes
  cli/azd/extensions/azure.ai.evaluations/.golangci.yaml
  cli/azd/extensions/azure.ai.evaluations/build.ps1
  cli/azd/extensions/azure.ai.evaluations/build.sh
Due: eng/pipelines/release-azd-extension.yml

feat(azure.ai.evaluations): offline init command with round-trip tests
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/init.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/init_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/root.go
Due: eng/pipelines/release-azd-extension.yml

feat(azure.ai.evaluations): service-target provider with change detection
  cli/azd/extensions/azure.ai.evaluations/go.mod
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/reconciler.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/root.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/service_target_eval.go
Due: eng/pipelines/release-azd-extension.yml

fix(azure.ai.evaluations): build data mappings from each evaluator's published contract
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/build.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/build_live_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/build_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/reconciler.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/dataset_api/models.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/eval_api/evaluators.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/eval_api/operations.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/service_target_eval.go
  cli/azd/extensions/azure.ai.evaluations/tests/live/live_test.go
Due: eng/pipelines/release-azd-extension.yml

fix(azure.ai.evaluations): read the evaluator kind the listing actually returns
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/evaluator.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/eval_api/evaluators.go
Due: eng/pipelines/release-azd-extension.yml

feat(azure.ai.evaluations): explain why agent-seeded data generation fails
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/generate.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/generate_test.go
Due: eng/pipelines/release-azd-extension.yml

feat(azure.ai.evaluations): add run start to complete the atomic surface
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run_ops_test.go
Due: eng/pipelines/release-azd-extension.yml

fix(azure.ai.evaluations): support custom evaluators in a deployed config
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/build.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/build_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/reconciler.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/reconciler_test.go
Due: eng/pipelines/release-azd-extension.yml

fix(azure.ai.evaluations): make the dataset and evaluator write paths work
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/dataset.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/evaluator.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/evaluator_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/reconciler.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/dataset_api/operations.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/eval_api/evaluators_version_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/eval_api/operations.go
Due: eng/pipelines/release-azd-extension.yml

fix(azure.ai.evaluations): honour --dataset when it names a registered dataset
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/generate.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/generate_defaults_test.go
Due: eng/pipelines/release-azd-extension.yml

fix(azure.ai.evaluations): make azd deploy work end to end
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/reconciler.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/evalcore/evaluator.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/evalcore/evaluator_test.go
Due: eng/pipelines/release-azd-extension.yml

feat(azure.ai.evaluations): complete the atomic run operations
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/context.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run_ops.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run_ops_test.go
Due: eng/pipelines/release-azd-extension.yml

fix(azure.ai.evaluations): recreate an eval group when its own declaration changes
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/reconciler.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/service_target_eval.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/service_target_eval_test.go
Due: eng/pipelines/release-azd-extension.yml

fix(azure.ai.evaluations): resolve $ref includes in the service entry
  cli/azd/extensions/azure.ai.evaluations/internal/project/service_target_eval.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/service_target_eval_test.go
Due: eng/pipelines/release-azd-extension.yml

fix(azure.ai.evaluations): keep HTTP traces out of normal output
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/debug.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/generate.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/root.go
Due: eng/pipelines/release-azd-extension.yml

build(azure.ai.evaluations): add the CI scripts the release pipeline requires
  cli/azd/extensions/azure.ai.evaluations/CHANGELOG.md
  cli/azd/extensions/azure.ai.evaluations/README.md
  cli/azd/extensions/azure.ai.evaluations/ci-build.ps1
  cli/azd/extensions/azure.ai.evaluations/ci-test.ps1
Due: eng/pipelines/release-azd-extension.yml

fix(azure.ai.evaluations): make the manifest and the binary agree
  cli/azd/extensions/azure.ai.evaluations/extension.yaml
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/manifest_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/root.go
Due: eng/pipelines/release-azd-extension.yml

build(azure.ai.evaluations): ignore the artifacts the tooling produces
  cli/azd/extensions/azure.ai.evaluations/.gitignore
Due: eng/pipelines/release-azd-extension.yml
