Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      demands: ImageOverride -equals windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-azdo-setupazd.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: BuildAndTest
        variables:
        - template: /eng/pipelines/templates/variables/image.yml
        jobs:
        - job: BuildSetupAzd
          displayName: BuildSetupAzd
          variables:
  ...

eng/pipelines/release-azuredevops.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/azuredevops-build-and-test.yml
      - template: /eng/pipelines/templates/stages/azuredevops-sign.yml
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-ai-agents
  ...

eng/pipelines/release-ext-azure-ai-models.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.models
          SanitizedExtensionId: azure-ai-models
  ...

eng/pipelines/release-ext-azure-appservice.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.appservice
          SanitizedExtensionId: azure-appservice
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

Fix issue with error not being printed (#6900)
  cli/azd/pkg/azdext/extension_error.go
  cli/azd/pkg/azdext/extension_error_test.go
Due: eng/pipelines/release-cli.yml

apply different solutions
  cli/azd/cmd/middleware/error.go
Due: eng/pipelines/release-cli.yml

add test
  cli/azd/cmd/middleware/error_test.go
Due: eng/pipelines/release-cli.yml

feat: add 'website' field to extension registry.json schema
  cli/azd/cmd/extension.go
  cli/azd/pkg/extensions/registry.go
  cli/azd/pkg/extensions/registry_test.go
Due: eng/pipelines/release-cli.yml

fix: add website field to registry.schema.json
  cli/azd/extensions/registry.schema.json
Due: eng/pipelines/release-azd-extension.yml

Fix follow mode
  cli/azd/extensions/azure.ai.agents/internal/cmd/monitor.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Update cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

cspell
  cli/azd/.vscode/cspell.yaml
Due: eng/pipelines/release-cli.yml

Fix: increase SendAndWait timeout to 10 minutes
  cli/azd/internal/agent/copilot_agent.go
Due: eng/pipelines/release-cli.yml

Use Send + idle event instead of SendAndWait to avoid timeout
  cli/azd/internal/agent/copilot_agent.go
Due: eng/pipelines/release-cli.yml

feat: add 'azd extension validate-registry' command for extension registry validation
  cli/azd/cmd/extension.go
  cli/azd/pkg/extensions/validate_registry.go
  cli/azd/pkg/extensions/validate_registry_test.go
Due: eng/pipelines/release-cli.yml

feat: auto-detect pnpm and yarn package managers for JS/TS services (#6894)
  cli/azd/.vscode/cspell.yaml
  cli/azd/cmd/container.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code_test.go
  cli/azd/pkg/input/progress_log.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/framework_service_node.go
  cli/azd/pkg/project/framework_service_node_test.go
  cli/azd/pkg/project/framework_service_npm.go
  cli/azd/pkg/tools/node/detect.go
  cli/azd/pkg/tools/node/detect_test.go
  cli/azd/pkg/tools/node/node.go
  cli/azd/pkg/tools/node/node_test.go
  cli/azd/pkg/tools/npm/npm.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat: add 'website' field to extension registry.json schema (#6904)
  cli/azd/cmd/extension.go
  cli/azd/extensions/registry.schema.json
  cli/azd/pkg/extensions/registry.go
  cli/azd/pkg/extensions/registry_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

fix: add missing CIDR blocks to MCPSecurityPolicy
  cli/azd/pkg/azdext/mcp_security.go
  cli/azd/pkg/azdext/mcp_security_test.go
Due: eng/pipelines/release-cli.yml

fix: address PR review feedback for extension source validate
  cli/azd/cmd/extension.go
  cli/azd/pkg/extensions/validate_registry.go
  cli/azd/pkg/extensions/validate_registry_test.go
Due: eng/pipelines/release-cli.yml

add troubleshooting scope selection (#6902)
  cli/azd/cmd/middleware/error.go
  cli/azd/cmd/middleware/error_test.go
Due: eng/pipelines/release-cli.yml

fix: break long test line to satisfy linter (125 char max)
  cli/azd/pkg/extensions/validate_registry_test.go
Due: eng/pipelines/release-cli.yml

feat: pass azd environment variables to all framework service subprocesses
  cli/azd/pkg/ai/python_bridge.go
  cli/azd/pkg/project/framework_service_dotnet.go
  cli/azd/pkg/project/framework_service_maven.go
  cli/azd/pkg/project/framework_service_node.go
  cli/azd/pkg/project/framework_service_python.go
  cli/azd/pkg/project/framework_service_swa.go
  cli/azd/pkg/project/service_target_staticwebapp.go
  cli/azd/pkg/tools/dotnet/dotnet.go
  cli/azd/pkg/tools/maven/maven.go
  cli/azd/pkg/tools/node/node.go
  cli/azd/pkg/tools/node/node_test.go
  cli/azd/pkg/tools/python/python.go
  cli/azd/pkg/tools/python/python_test.go
  cli/azd/pkg/tools/swa/swa.go
  cli/azd/pkg/tools/swa/swa_test.go
Due: eng/pipelines/release-cli.yml

fix: resolve CI lint failures (line length, unused func)
  cli/azd/pkg/project/framework_service_dotnet.go
  cli/azd/pkg/tools/node/node.go
  cli/azd/pkg/tools/swa/swa.go
Due: eng/pipelines/release-cli.yml

fix: add fc00::/7 CIDR and IPv4-compatible IPv6 bypass protection
  cli/azd/pkg/azdext/mcp_security.go
  cli/azd/pkg/azdext/mcp_security_test.go
Due: eng/pipelines/release-cli.yml

Update env var handling
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Design doc for azd update and auto-update
  cli/azd/docs/design/azd-update.md
Due: eng/pipelines/release-cli.yml

fix: remove deprecated validate-registry command alias
  cli/azd/cmd/extension.go
Due: eng/pipelines/release-cli.yml

style: fix gofmt alignment in mcp_security_test.go
  cli/azd/pkg/azdext/mcp_security_test.go
Due: eng/pipelines/release-cli.yml

Update env var handling (#6909)
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

perf: check blob container existence once, then optimistic retry
  cli/azd/pkg/azsdk/storage/storage_blob_client.go
Due: eng/pipelines/release-cli.yml

fix: address review - safe Upload retry, early-exit container listing
  cli/azd/pkg/azsdk/storage/storage_blob_client.go
Due: eng/pipelines/release-cli.yml

[Agents Extension] Add support for logs and status commands (#6895)
  cli/azd/.vscode/cspell.yaml
  cli/azd/extensions/azure.ai.agents/internal/cmd/agent_context.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/monitor.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/monitor_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/root.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/show.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/show_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/models.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: improve validation command error handling, snapshots, and test cleanup
  cli/azd/cmd/extension.go
  cli/azd/cmd/testdata/TestUsage-azd-extension-source-validate.snap
  cli/azd/cmd/testdata/TestUsage-azd-extension-source.snap
  cli/azd/pkg/extensions/validate_registry.go
  cli/azd/pkg/extensions/validate_registry_test.go
Due: eng/pipelines/release-cli.yml

test: add env-var passthrough tests and clarify dotnet append pattern
  cli/azd/pkg/tools/dotnet/dotnet.go
  cli/azd/pkg/tools/node/node_test.go
  cli/azd/pkg/tools/python/python_test.go
  cli/azd/pkg/tools/swa/swa_test.go
Due: eng/pipelines/release-cli.yml

fix: update figspec snapshot for extension source validate command
  cli/azd/cmd/testdata/TestFigSpec.ts
Due: eng/pipelines/release-cli.yml

Improve error mapping to prefer error codes
  cli/azd/internal/cmd/errors.go
  cli/azd/internal/cmd/errors_test.go
Due: eng/pipelines/release-cli.yml

Add structured error handling to `azure.ai.agents` extension
  cli/azd/extensions/azure.ai.agents/go.mod
  cli/azd/extensions/azure.ai.agents/go.sum
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/local_error.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/main.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Classify additional errors
  cli/azd/extensions/azure.ai.agents/go.mod
  cli/azd/extensions/azure.ai.agents/go.sum
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_models.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/azd_host_error.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/codes.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Update cspell
  cli/azd/.vscode/cspell.yaml
  cli/azd/extensions/azure.ai.agents/cspell.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

More coverage
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/codes.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Bump minimum required version
  cli/azd/extensions/azure.ai.agents/extension.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Update cspell
  cli/azd/extensions/azure.ai.agents/cspell.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Refactoring
  cli/azd/extensions/azure.ai.agents/internal/exterrors/azd_host_error.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/errors.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Address feedback
  cli/azd/internal/cmd/errors_test.go
Due: eng/pipelines/release-cli.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
