Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool-mms-win-2022-general
      vmImage: MMS2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
        PublishAnalysisLogs: false
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-vscode.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: OutputAttributes
        jobs:
        - job: OutputAttributes
          pool:
            name: azsdk-pool-mms-ubuntu-2004-general
            image: azsdk-pool-mms-ubuntu-2004-1espt
  ...

eng/pipelines/repoman.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: Validation
        variables:
        - template: /eng/pipelines/templates/variables/globals.yml
        - name: StagingRemoteName
          value: azure-samples-staging
        jobs:
  ...

eng/pipelines/template-tests.yml:
  jobs:
  - template: /eng/pipelines/templates/jobs/run-template-tests.yml
    parameters:
      AzdVersion: ${{ parameters.AzdVersion }}
      UseAzdVersionFromPrNumber: true
      TemplateList: ${{ parameters.TemplateList }}
      TemplateListFilter: ${{ parameters.TemplateListFilter }}
  ...

Fixes some minor issues related to uses and existing resources
  cli/azd/extensions/microsoft.azd.ai.builder/internal/cmd/start.go
Due: eng/pipelines/release-cli.yml

Updates inline docs
  cli/azd/extensions/microsoft.azd.ai.builder/internal/cmd/start.go
Due: eng/pipelines/release-cli.yml

Fixes linter issues
  cli/azd/extensions/microsoft.azd.ai.builder/internal/cmd/start.go
Due: eng/pipelines/release-cli.yml

Fixes Agent flow
  cli/azd/extensions/microsoft.azd.ai.builder/internal/cmd/start.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/pkg/qna/decision_tree.go
Due: eng/pipelines/release-cli.yml

Adds dependent resources uses blocks
  cli/azd/extensions/microsoft.azd.ai.builder/internal/cmd/start.go
Due: eng/pipelines/release-cli.yml

Auto init project and environments when not available
  cli/azd/cmd/container.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/cmd/start.go
Due: eng/pipelines/release-cli.yml

list resource type for extension (#4997)
  cli/azd/docs/extension-framework.md
  cli/azd/extensions/microsoft.azd.ai.builder/internal/cmd/start.go
  cli/azd/grpc/proto/compose.proto
  cli/azd/pkg/azdext/compose.pb.go
  cli/azd/pkg/azdext/compose_grpc.pb.go
  cli/azd/pkg/azdext/deployment.pb.go
  cli/azd/pkg/azdext/deployment_grpc.pb.go
  cli/azd/pkg/azdext/environment.pb.go
  cli/azd/pkg/azdext/environment_grpc.pb.go
  cli/azd/pkg/azdext/event.pb.go
  cli/azd/pkg/azdext/event_grpc.pb.go
  cli/azd/pkg/azdext/models.pb.go
  cli/azd/pkg/azdext/project.pb.go
  cli/azd/pkg/azdext/project_grpc.pb.go
  cli/azd/pkg/azdext/prompt.pb.go
  cli/azd/pkg/azdext/prompt_grpc.pb.go
  cli/azd/pkg/azdext/user_config.pb.go
  cli/azd/pkg/azdext/user_config_grpc.pb.go
  cli/azd/pkg/azdext/workflow.pb.go
  cli/azd/pkg/azdext/workflow_grpc.pb.go
Due: eng/pipelines/release-cli.yml

Rebased main
  cli/azd/internal/grpcserver/compose_service.go
  cli/azd/internal/grpcserver/compose_service_test.go
  cli/azd/pkg/azdext/compose.pb.go
  cli/azd/pkg/azdext/compose_grpc.pb.go
  cli/azd/pkg/azdext/deployment.pb.go
  cli/azd/pkg/azdext/deployment_grpc.pb.go
  cli/azd/pkg/azdext/environment.pb.go
  cli/azd/pkg/azdext/environment_grpc.pb.go
  cli/azd/pkg/azdext/event.pb.go
  cli/azd/pkg/azdext/event_grpc.pb.go
  cli/azd/pkg/azdext/models.pb.go
  cli/azd/pkg/azdext/project.pb.go
  cli/azd/pkg/azdext/project_grpc.pb.go
  cli/azd/pkg/azdext/prompt.pb.go
  cli/azd/pkg/azdext/prompt_grpc.pb.go
  cli/azd/pkg/azdext/user_config.pb.go
  cli/azd/pkg/azdext/user_config_grpc.pb.go
  cli/azd/pkg/azdext/workflow.pb.go
  cli/azd/pkg/azdext/workflow_grpc.pb.go
Due: eng/pipelines/release-cli.yml

refactor: standardize pool and image variables in Release_Gate job
  eng/pipelines/repoman.yml
Due: eng/pipelines/repoman.yml

refactor: standardize pool and image variables in Release_Gate job (#5086)
  eng/pipelines/repoman.yml
Due: eng/pipelines/repoman.yml

use hardcoded pool and image
  eng/pipelines/repoman.yml
Due: eng/pipelines/repoman.yml

remove template
  eng/pipelines/repoman.yml
Due: eng/pipelines/repoman.yml

try with no variable (#5087)
  eng/pipelines/repoman.yml
Due: eng/pipelines/repoman.yml

missing revert
  eng/pipelines/repoman.yml
Due: eng/pipelines/repoman.yml

revert the last one (#5089)
  eng/pipelines/repoman.yml
Due: eng/pipelines/repoman.yml

Fixes support for local file registires
  cli/azd/cmd/extensions.go
  cli/azd/pkg/extensions/manager.go
  cli/azd/pkg/extensions/manager_test.go
  cli/azd/pkg/ux/task_list.go
Due: eng/pipelines/release-cli.yml

Update Java dependencies
  cli/azd/test/functional/testdata/samples/springapp/pom.xml
  templates/todo/api/java-postgresql/pom.xml
  templates/todo/api/java/pom.xml
Due: eng/pipelines/release-cli.yml, eng/pipelines/repoman.yml

Increment VSCode Extension version after release (#5082)
  ext/vscode/CHANGELOG.md
  ext/vscode/package-lock.json
  ext/vscode/package.json
Due: eng/pipelines/release-vscode.yml

support location type for any parameter mapped to AZURE_LOCATION
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/prompt.go
  cli/azd/pkg/infra/provisioning/bicep/prompt_test.go
Due: eng/pipelines/release-cli.yml

save location from system env to azd env
  cli/azd/pkg/infra/provisioning/bicep/prompt.go
Due: eng/pipelines/release-cli.yml

revert
  cli/azd/pkg/infra/provisioning/bicep/prompt.go
Due: eng/pipelines/release-cli.yml

snapshot AZURE_LOCATION from system env to azd env if not already set
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
Due: eng/pipelines/release-cli.yml

Migrate to ubuntu 22
  eng/pipelines/build-notice.yml
  eng/pipelines/repoman.yml
  eng/pipelines/templates/jobs/run-template-tests.yml
  eng/pipelines/templates/stages/publish.yml
  eng/pipelines/templates/stages/vscode-publish-integration.yml
  eng/pipelines/templates/stages/vscode-publish-manual.yml
  eng/pipelines/templates/variables/image.yml
  eng/pipelines/tools/accept-azure-sdk-invites.yml
  eng/pipelines/tools/resend-expired-invites.yml
Due: eng/pipelines/build-notice.yml, eng/pipelines/repoman.yml

Use debian 12
  cli/installer/test/Dockerfile.debian
  cli/installer/test/Dockerfile.debian.pwsh
  cli/installer/test/telemetry/debian.pwsh.telemetry.json
  cli/installer/test/telemetry/debian.sh.telemetry.csv
Due: eng/pipelines/release-cli.yml

Changes to trigger CI
  cli/azd/README.md
  ext/vscode/README.md
Due: eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml

Migrate testing to Ubuntu 22
  cli/installer/telemetry/linux.sh.telemetry.csv
  cli/installer/telemetry/linux.telemetry.json
  cli/installer/test/Dockerfile.ubuntu
  cli/installer/test/Dockerfile.ubuntu.pwsh
Due: eng/pipelines/release-cli.yml

Fix expected telemetry output
  cli/installer/test/telemetry/ubuntu.sh.telemetry.csv
Due: eng/pipelines/release-cli.yml

CGO_ENABLED: 0
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Add vscode
  eng/pipelines/build-notice.yml
  eng/pipelines/templates/jobs/build-scan-cli.yml
  eng/pipelines/templates/jobs/build-scan-vscode.yml
Due: eng/pipelines/build-notice.yml

Update build-notice.yml
  eng/pipelines/build-notice.yml
Due: eng/pipelines/build-notice.yml

image name for run-template-tests.yml
  eng/pipelines/templates/jobs/run-template-tests.yml
Due: none

Migrate build-notice.yml
  eng/pipelines/build-notice.yml
  eng/pipelines/templates/jobs/build-azd-notice.yml
Due: eng/pipelines/build-notice.yml

.value
  eng/pipelines/templates/jobs/build-azd-notice.yml
Due: none

Syntax
  eng/pipelines/build-notice.yml
Due: eng/pipelines/build-notice.yml

Unique job names
  eng/pipelines/templates/jobs/build-azd-notice.yml
Due: none

ubuntu-22.04
  eng/pipelines/build-notice.yml
  eng/pipelines/templates/jobs/build-scan-vscode.yml
Due: eng/pipelines/build-notice.yml

demands
  eng/pipelines/build-notice.yml
Due: eng/pipelines/build-notice.yml

Revert README.md changes
  cli/azd/README.md
  ext/vscode/README.md
Due: eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml

20 -> 22
  cli/installer/test/telemetry/ubuntu.pwsh.telemetry.json
Due: eng/pipelines/release-cli.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
