Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      vmImage: windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
        PublishAnalysisLogs: false
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-coding-agent.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.coding-agent
          SanitizedExtensionId: azure-coding-agent
  ...

eng/pipelines/release-ext-azure-foundry-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-foundry-ai-agents
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

eng/pipelines/release-ext-microsoft-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: microsoft.ai.agents
          SanitizedExtensionId: microsoft-ai-agents
  ...

eng/pipelines/release-ext-microsoft-azd-ai-builder.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: microsoft.azd.ai.builder
          SanitizedExtensionId: microsoft-azd-ai-builder
  ...

remove .orig file
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/registry_api/helpers.go.orig
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

tracing: add usage attributes for extension installs and runs (#6010)
  cli/azd/cmd/actions/action_descriptor.go
  cli/azd/cmd/cobra_builder.go
  cli/azd/cmd/extensions.go
  cli/azd/cmd/middleware/middleware.go
  cli/azd/cmd/middleware/telemetry.go
  cli/azd/cmd/middleware/ux.go
  cli/azd/cmd/root.go
  cli/azd/internal/cmd/errors.go
  cli/azd/internal/tracing/events/events.go
  cli/azd/internal/tracing/fields/fields.go
  cli/azd/pkg/extensions/manager.go
  cli/azd/pkg/extensions/runner.go
Due: eng/pipelines/release-cli.yml

Increment CLI version after release
  cli/azd/CHANGELOG.md
  cli/version.txt
Due: eng/pipelines/release-cli.yml

Remove old env var handling
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

tracing: support environment variable propagation
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/cmd/root.go
  cli/azd/internal/mcp/host.go
  cli/azd/internal/tracing/propagation.go
  cli/azd/main.go
  cli/azd/test/functional/telemetry_test.go
Due: eng/pipelines/release-cli.yml

Increment CLI version after release (#6024)
  cli/azd/CHANGELOG.md
  cli/version.txt
Due: eng/pipelines/release-cli.yml

[Agent Extension] Add support for getting model details during init (#6021)
  cli/azd/extensions/azure.ai.agents/extension.yaml
  cli/azd/extensions/azure.ai.agents/go.mod
  cli/azd/extensions/azure.ai.agents/go.sum
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/registry_api/helpers.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/azure/ai/model_catalog.go
  cli/azd/extensions/azure.ai.agents/tests/samples/githubMcpAgent/agent.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Fix hyperlink ANSI escape codes appearing in non-terminal output (#6015)
  cli/azd/.vscode/cspell.yaml
  cli/azd/cmd/container.go
  cli/azd/internal/terminal/terminal.go
  cli/azd/pkg/input/console.go
  cli/azd/pkg/output/colors.go
  cli/azd/pkg/output/colors_test.go
  cli/azd/pkg/ux/ux.go
  cli/azd/pkg/ux/ux_test.go
Due: eng/pipelines/release-cli.yml

Add support for host flag
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/yaml.go
  cli/azd/extensions/azure.ai.agents/internal/project/parser.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Bad merge
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

adding ai.extensions.001 to registry
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

adding ai.extensions.001 to registry (#6031)
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

Updates proto models to add config
  cli/azd/grpc/proto/models.proto
  cli/azd/pkg/azdext/models.pb.go
  cli/azd/pkg/project/mapper_registry.go
Due: eng/pipelines/release-cli.yml

Adds support for custom service config types in extensions
  cli/azd/extensions/azure.ai.agents/go.mod
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/project/config.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.coding-agent/go.mod
  cli/azd/extensions/azure.coding-agent/go.sum
  cli/azd/go.work
  cli/azd/go.work.sum
  cli/azd/pkg/project/mapper_registry.go
  cli/azd/pkg/project/mapper_registry_test.go
  go.mod
  go.sum
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml

Updates paths in go.work
  cli/azd/go.work
Due: eng/pipelines/release-cli.yml

Fixes linter issues
  cli/azd/.vscode/cspell.yaml
  cli/azd/extensions/azure.ai.agents/internal/project/config.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Adds JSON schema for custom service target config
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/project/config.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/test/functional/package_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Adds the schema
  cli/azd/extensions/azure.ai.agents/schemas/azure.ai.agent.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Fixes build issue
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Updates test file path generation
  cli/azd/test/functional/package_test.go
Due: eng/pipelines/release-cli.yml

update golangci-lint
  .github/workflows/cli-ci.yml
  .github/workflows/copilot-setup-steps.yml
Due: none

updates for linter
  cli/azd/pkg/auth/cache_unix.go
  cli/azd/pkg/auth/cache_windows.go
  cli/azd/pkg/exec/cmdtree_posix.go
  cli/azd/pkg/exec/cmdtree_windows.go
  cli/azd/pkg/osutil/rename_unix.go
  cli/azd/pkg/osutil/rename_windows.go
  cli/azd/pkg/osutil/rename_windows_test.go
Due: eng/pipelines/release-cli.yml

fix test to unblock CI
  cli/azd/test/functional/package_test.go
Due: eng/pipelines/release-cli.yml

cross platform fix
  cli/azd/test/functional/package_test.go
Due: eng/pipelines/release-cli.yml

fix test to unblock CI (#6037)
  cli/azd/test/functional/package_test.go
Due: eng/pipelines/release-cli.yml

Remove duplicate progress spinners in container gRPC service
  cli/azd/internal/grpcserver/container_service.go
Due: eng/pipelines/release-cli.yml

PR comments
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/yaml.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

[AI Agent Extension] Add host flag (#6029)
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/yaml.go
  cli/azd/extensions/azure.ai.agents/internal/project/parser.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Fix flickering progress bar during agent deployment (#6032)
  cli/azd/internal/grpcserver/container_service.go
Due: eng/pipelines/release-cli.yml

preserve cmdPath
  cli/azd/cmd/middleware/telemetry.go
Due: eng/pipelines/release-cli.yml

Adds support for custom ServiceConfig settings for extensions (#6013)
  cli/azd/.vscode/cspell.yaml
  cli/azd/extensions/azure.ai.agents/go.mod
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/project/config.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/schemas/azure.ai.agent.json
  cli/azd/extensions/azure.coding-agent/go.mod
  cli/azd/extensions/azure.coding-agent/go.sum
  cli/azd/go.work
  cli/azd/go.work.sum
  cli/azd/grpc/proto/models.proto
  cli/azd/pkg/azdext/models.pb.go
  cli/azd/pkg/project/mapper_registry.go
  cli/azd/pkg/project/mapper_registry_test.go
  go.mod
  go.sum
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml

Add models to service config
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/project/config.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Add env var set during preprovision
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Fixes linter issues
  cli/azd/pkg/project/container_helper_test.go
  cli/azd/pkg/project/service_manager.go
Due: eng/pipelines/release-cli.yml

Change order of input params to make azdctx first
  cli/azd/pkg/project/container_helper.go
  cli/azd/pkg/project/container_helper_test.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/service_manager.go
  cli/azd/pkg/project/service_target_aks_test.go
  cli/azd/pkg/project/service_target_containerapp_test.go
Due: eng/pipelines/release-cli.yml

Updates unit tests
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/internal/cmd/deploy.go
  cli/azd/pkg/project/container_helper_test.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/service_manager.go
  cli/azd/pkg/project/service_target_aks_test.go
  cli/azd/pkg/project/service_target_containerapp_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

WIP
  cli/azd/pkg/project/container_helper.go
  cli/azd/pkg/project/container_helper_test.go
  cli/azd/pkg/project/service_target_dotnet_containerapp.go
Due: eng/pipelines/release-cli.yml

Fixes failing unit tests
  cli/azd/go.work
Due: eng/pipelines/release-cli.yml

Fixes lifetime issues with container helper from extension container service (#6028)
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/go.work
  cli/azd/internal/cmd/deploy.go
  cli/azd/pkg/project/container_helper.go
  cli/azd/pkg/project/container_helper_test.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/service_manager.go
  cli/azd/pkg/project/service_target_aks_test.go
  cli/azd/pkg/project/service_target_containerapp_test.go
  cli/azd/pkg/project/service_target_dotnet_containerapp.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Display agent endpoint on successful deploy
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: go.mod, cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
