Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

More fixes
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/map.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Add azd-preflight Copilot skill to auto-run and fix preflight checks (#7566)
  .github/skills/azd-preflight/SKILL.md
  .github/skills/azd-preflight/references/fix-strategies.md
  .github/skills/azd-preflight/references/output-and-errors.md
  .github/skills/azd-preflight/references/preflight-checks.md
  .github/skills/azd-preflight/references/workflow.md
  .github/skills/sensei/SKILL.md
  .github/skills/sensei/references/workflow.md
  cli/azd/AGENTS.md
  cli/azd/CONTRIBUTING.md
Due: eng/pipelines/release-cli.yml

refactor: flatten single-case table-driven test to simple test
  cli/azd/pkg/project/service_target_aks_test.go
Due: eng/pipelines/release-cli.yml

feat: add azure.foundry meta-pack and --install-extensions to install scripts
  cli/azd/extensions/azure.foundry/extension.yaml
  cli/azd/extensions/registry.json
  cli/installer/install-azd.ps1
  cli/installer/install-azd.sh
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Add connection resource type for provisioning
  cli/azd/pkg/azapi/azure_resource_types.go
Due: eng/pipelines/release-cli.yml

Update cli/azd/cmd/update.go
  cli/azd/cmd/update.go
Due: eng/pipelines/release-cli.yml

ext/agents: reduce noisy log output in agent init
  cli/azd/extensions/azure.ai.agents/internal/cmd/banner.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/debug.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_templates_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/registry_api/helpers.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Address feedback
  cli/azd/extensions/azure.ai.agents/internal/cmd/debug.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/files.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/monitor.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/run.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/show.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat: enhance session deletion message and add tests for session creation and listing
  cli/azd/extensions/azure.ai.agents/internal/cmd/session.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Fix fig spec: action flag values and environment option deduplication (#7588)
  cli/azd/cmd/copilot.go
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-copilot-consent-list.snap
  cli/azd/cmd/testdata/TestUsage-azd-copilot-consent-revoke.snap
  cli/azd/internal/figspec/spec_builder.go
Due: eng/pipelines/release-cli.yml

Update cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

[Agent Error Handling] Improve error classification, agent error, and UX with agent testing (#7555)
  cli/azd/cmd/middleware/error.go
  cli/azd/cmd/middleware/error_test.go
  cli/azd/cmd/middleware/middleware_coverage2_test.go
  cli/azd/cmd/middleware/middleware_coverage_test.go
Due: eng/pipelines/release-cli.yml

Update AGENTS.md guidance
  cli/azd/extensions/azure.ai.agents/AGENTS.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Add cspell-misc check to local mage preflight (#7604)
  cli/azd/AGENTS.md
  cli/azd/CONTRIBUTING.md
  cli/azd/docs/style-guidelines/azd-style-guide.md
  cli/azd/magefile.go
Due: eng/pipelines/release-cli.yml

docs: add explicit cd steps for cspell-misc commands
  cli/azd/AGENTS.md
  cli/azd/CONTRIBUTING.md
  cli/azd/docs/style-guidelines/azd-style-guide.md
Due: eng/pipelines/release-cli.yml

Add container resource management to agent initialization and parsing. FIxes #7599. Fixes #7598.
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/yaml.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: remove replica mention from the suggestion. Fixes #7605.
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

style: format initialization struct fields for better readability
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat: add validation to ensure manifest pointer is a file, not a directory (#7576)
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Print each SSE data object on its own line in invoke streaming output (#7538)
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Address review feedback: Password prompt, ASCII errors, gRPC tests, external prompt guard
  cli/azd/internal/grpcserver/prompt_service.go
  cli/azd/internal/grpcserver/prompt_service_test.go
  cli/azd/pkg/input/asker.go
  cli/azd/pkg/input/asker_test.go
  cli/azd/pkg/input/console.go
Due: eng/pipelines/release-cli.yml

Fix extension builds: update go.sum and add missing mock methods
  cli/azd/extensions/azure.ai.finetune/go.mod
  cli/azd/extensions/azure.ai.finetune/go.sum
  cli/azd/extensions/azure.coding-agent/go.mod
  cli/azd/extensions/azure.coding-agent/go.sum
  cli/azd/extensions/azure.coding-agent/internal/cmd/mocks_azdext_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-coding-agent.yml

Fix CI: break long line in container.go, add extension replace directives
  cli/azd/cmd/container.go
  cli/azd/extensions/azure.ai.agents/go.mod
  cli/azd/extensions/azure.ai.finetune/go.mod
  cli/azd/extensions/azure.coding-agent/go.mod
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Add FailOnPrompt tests for prompt_service.go methods
  cli/azd/pkg/prompt/prompt_service_test.go
Due: eng/pipelines/release-cli.yml

Fix gofmt formatting in container.go
  cli/azd/cmd/container.go
Due: eng/pipelines/release-cli.yml

Fix review: wire FailOnPrompt through prompt services and add Password type
  cli/azd/internal/grpcserver/prompt_service.go
  cli/azd/pkg/input/asker.go
  cli/azd/pkg/prompt/prompt_service.go
Due: eng/pipelines/release-cli.yml

fix: remove duplicate mock methods in azure.coding-agent extension
  cli/azd/extensions/azure.coding-agent/internal/cmd/mocks_azdext_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-coding-agent.yml

Address feedback
  cli/azd/extensions/azure.ai.agents/internal/cmd/debug.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Add auth pre-flight validation for agents (#7234)
  cli/azd/cmd/auth_token.go
  cli/azd/cmd/auth_token_test.go
Due: eng/pipelines/release-cli.yml

Refactor: replace auth token --check with auth status exit code (#7234)
  cli/azd/cmd/auth_status.go
  cli/azd/cmd/auth_token.go
  cli/azd/cmd/auth_token_test.go
  tmp/codebase-scan-results.md
  tmp/go-1.26-modernization-analysis.md
  tmp/reports/azd-telemetry-28d-report.md
  tmp/reports/azd-telemetry-opportunities-report.md
  tmp/reports/docker-missing-investigation.md
Due: eng/pipelines/release-cli.yml

Address review feedback: remove redundant branches, add expiresOn tests
  cli/azd/cmd/auth_token.go
Due: eng/pipelines/release-cli.yml

Remove tmp/ from tracking, add to .gitignore
  .gitignore
  tmp/codebase-scan-results.md
  tmp/go-1.26-modernization-analysis.md
  tmp/reports/azd-telemetry-28d-report.md
  tmp/reports/azd-telemetry-opportunities-report.md
  tmp/reports/docker-missing-investigation.md
Due: none

feat: azd init -t auto-creates project directory like git clone
  cli/azd/cmd/init.go
  cli/azd/cmd/init_test.go
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-init.snap
  cli/azd/pkg/templates/path.go
  cli/azd/pkg/templates/path_test.go
Due: eng/pipelines/release-cli.yml

Fix CI test failures in initializer tests
  cli/azd/internal/repository/detect_confirm_test.go
Due: eng/pipelines/release-cli.yml

Address review: path safety, help text, efficient dir check, cd quoting
  cli/azd/cmd/init.go
  cli/azd/cmd/testdata/TestUsage-azd-init.snap
  cli/azd/pkg/templates/path.go
  cli/azd/pkg/templates/path_test.go
Due: eng/pipelines/release-cli.yml

Address review: exit non-zero in both modes, fix double output
  cli/azd/cmd/auth_status.go
Due: eng/pipelines/release-cli.yml
