Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      demands: ImageOverride -equals windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-azdo-setupazd.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: BuildAndTest
        variables:
        - template: /eng/pipelines/templates/variables/image.yml
        jobs:
        - job: BuildSetupAzd
          displayName: BuildSetupAzd
          variables:
  ...

eng/pipelines/release-azuredevops.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/azuredevops-build-and-test.yml
      - template: /eng/pipelines/templates/stages/azuredevops-sign.yml
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-ai-agents
  ...

eng/pipelines/release-ext-azure-ai-models.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.models
          SanitizedExtensionId: azure-ai-models
  ...

eng/pipelines/release-ext-azure-appservice.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.appservice
          SanitizedExtensionId: azure-appservice
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

consider pack raw error, need discussion
  cli/azd/cmd/middleware/extensions.go
Due: eng/pipelines/release-cli.yml

add case when first element is latest version
  cli/azd/pkg/extensions/registry_cache.go
Due: eng/pipelines/release-cli.yml

perf: optimize Container Apps deployment by reducing ARM round-trips
  cli/azd/pkg/containerapps/container_app.go
  cli/azd/pkg/containerapps/container_app_test.go
  cli/azd/pkg/project/service_target_containerapp_test.go
Due: eng/pipelines/release-cli.yml

test: add ARM call count tests and benchmark for Container Apps deploy
  cli/azd/pkg/containerapps/container_app_benchmark_test.go
Due: eng/pipelines/release-cli.yml

fix: correct error handling for missing active revisions mode
  cli/azd/pkg/containerapps/container_app.go
Due: eng/pipelines/release-cli.yml

fix: resolve lint issues - remove unused code, fix formatting
  cli/azd/pkg/containerapps/container_app.go
  cli/azd/pkg/containerapps/container_app_benchmark_test.go
  cli/azd/pkg/containerapps/container_app_test.go
Due: eng/pipelines/release-cli.yml

perf: cache ARM SDK clients to eliminate per-call TCP+TLS overhead
  cli/azd/pkg/azapi/apim.go
  cli/azd/pkg/azapi/appconfig.go
  cli/azd/pkg/azapi/azure_client.go
  cli/azd/pkg/azapi/client_cache.go
  cli/azd/pkg/azapi/client_cache_test.go
  cli/azd/pkg/azapi/cognitive_service.go
  cli/azd/pkg/azapi/container_registry.go
  cli/azd/pkg/azapi/log_analytics.go
  cli/azd/pkg/azapi/managed_clusters.go
  cli/azd/pkg/azapi/managed_hsm.go
  cli/azd/pkg/azapi/resource_service.go
  cli/azd/pkg/azapi/stack_deployments.go
  cli/azd/pkg/azapi/standard_deployments.go
  cli/azd/pkg/azapi/static_webapp.go
  cli/azd/pkg/azapi/user_profile.go
  cli/azd/pkg/azapi/webapp.go
Due: eng/pipelines/release-cli.yml

test: add network overhead comparison test for ARM client caching
  cli/azd/pkg/azapi/client_cache_test.go
Due: eng/pipelines/release-cli.yml

fix: gofmt formatting in client_cache_test.go
  cli/azd/pkg/azapi/client_cache_test.go
Due: eng/pipelines/release-cli.yml

Use PromptAiDeployment in init-from-code for explicit SKU selection
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Preserve no-prompt mode with resolveModelDeploymentNoPrompt fallback
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Add `azdext.Run` lifecycle and structured extension error transport (#6835)
  cli/azd/cmd/extensions.go
  cli/azd/cmd/extensions_error_transport_test.go
  cli/azd/cmd/middleware/ux.go
  cli/azd/docs/extensions/extension-framework.md
  cli/azd/extensions/microsoft.azd.demo/internal/cmd/gh_url_parse.go
  cli/azd/extensions/microsoft.azd.demo/main.go
  cli/azd/grpc/proto/errors.proto
  cli/azd/grpc/proto/extension.proto
  cli/azd/internal/cmd/errors.go
  cli/azd/internal/cmd/errors_test.go
  cli/azd/internal/grpcserver/extension_service.go
  cli/azd/internal/tracing/fields/fields.go
  cli/azd/internal/tracing/fields/key.go
  cli/azd/internal/tracing/fields/key_test.go
  cli/azd/pkg/azdext/azd_client.go
  cli/azd/pkg/azdext/errors.pb.go
  cli/azd/pkg/azdext/extension.pb.go
  cli/azd/pkg/azdext/extension_error.go
  cli/azd/pkg/azdext/extension_error_category.go
  cli/azd/pkg/azdext/extension_error_category_test.go
  cli/azd/pkg/azdext/extension_error_report.go
  cli/azd/pkg/azdext/extension_error_report_test.go
  cli/azd/pkg/azdext/extension_error_test.go
  cli/azd/pkg/azdext/extension_grpc.pb.go
  cli/azd/pkg/azdext/extension_host.go
  cli/azd/pkg/azdext/extension_host_test.go
  cli/azd/pkg/azdext/run.go
  cli/azd/pkg/extensions/extension.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml

Initial changes for logs commands?
  cli/azd/extensions/azure.ai.agents/internal/cmd/agent_context.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/get_logs.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/get_logs_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/root.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/status.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/status_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Fix selected model check
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat: auto-detect pnpm and yarn package managers for JS/TS services (#4372)
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code_test.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/framework_service_npm.go
  cli/azd/pkg/project/framework_service_npm_test.go
  cli/azd/pkg/tools/npm/detect.go
  cli/azd/pkg/tools/npm/detect_test.go
  cli/azd/pkg/tools/npm/npm.go
  cli/azd/pkg/tools/npm/npm_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

allow live mode on demand
  eng/pipelines/release-cli.yml
  eng/pipelines/templates/jobs/build-cli.yml
  eng/pipelines/templates/stages/build-and-test.yml
Due: eng/pipelines/release-cli.yml

feat: add packageManager config override in azure.yaml
  cli/azd/pkg/project/framework_service_npm.go
  cli/azd/pkg/project/framework_service_npm_test.go
Due: eng/pipelines/release-cli.yml

Update command
  cli/azd/extensions/azure.ai.agents/internal/cmd/get_logs.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/get_logs_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/root.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: propagate I/O and JSON errors in yarn scriptExistsInPackageJSON
  cli/azd/pkg/tools/npm/detect_test.go
  cli/azd/pkg/tools/npm/npm.go
Due: eng/pipelines/release-cli.yml

Fix to get all of the properties on the status call
  cli/azd/extensions/azure.ai.agents/internal/cmd/status.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/status_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/models.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Fix selected model check (#6892)
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Update eng/pipelines/release-cli.yml
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

fix: race condition in progressLog Start/Stop/Header methods
  cli/azd/pkg/input/progress_log.go
Due: eng/pipelines/release-cli.yml

refactor: centralize AZD env var propagation in extensionRunner.Invoke()
  cli/azd/cmd/extensions.go
  cli/azd/cmd/middleware/extensions.go
  cli/azd/pkg/extensions/runner.go
Due: eng/pipelines/release-cli.yml

refactor: rename npm package to node with interface-based PM dispatch
  cli/azd/cmd/container.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/framework_service_node.go
  cli/azd/pkg/project/framework_service_node_test.go
  cli/azd/pkg/tools/node/detect.go
  cli/azd/pkg/tools/node/detect_test.go
  cli/azd/pkg/tools/node/node.go
  cli/azd/pkg/tools/node/node_test.go
  cli/azd/pkg/tools/npm/npm.go
Due: eng/pipelines/release-cli.yml

fix: standardize error format and remove dead code guard
  cli/azd/pkg/tools/node/detect.go
  cli/azd/pkg/tools/node/node.go
Due: eng/pipelines/release-cli.yml

update version check UI
  cli/azd/pkg/extensions/update_checker.go
Due: eng/pipelines/release-cli.yml

Update copilot-sdk to v0.1.26-preview.0
  cli/azd/go.mod
  cli/azd/go.sum
Due: eng/pipelines/release-cli.yml

fix: handle scoped PM names and strengthen test assertions
  cli/azd/pkg/tools/node/detect.go
  cli/azd/pkg/tools/node/detect_test.go
  cli/azd/pkg/tools/node/node_test.go
Due: eng/pipelines/release-cli.yml

Rename commands
  cli/azd/extensions/azure.ai.agents/internal/cmd/monitor.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/monitor_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/root.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/show.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/show_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Improve azd ai agent init for non-interactive environments
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Address review feedback: sanitize env name, improve error hints
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Check defaults.subscription before auto-select, add sanitizeEnvName tests
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Auto-discover native Copilot CLI binary from @github/copilot-sdk npm package
  cli/azd/pkg/llm/copilot_client.go
  cli/azd/pkg/llm/copilot_sdk_e2e_test.go
Due: eng/pipelines/release-cli.yml

fix: resolve CI lint failures (line length and cspell)
  cli/azd/.vscode/cspell.yaml
  cli/azd/pkg/tools/node/detect_test.go
Due: eng/pipelines/release-cli.yml

feat: Extension SDK helpers — command scaffolding, MCP utilities, and security policy (#6856)
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/cmd/extensions.go
  cli/azd/cmd/middleware/extensions.go
  cli/azd/go.mod
  cli/azd/go.sum
  cli/azd/internal/telemetry/appinsights-exporter/span_to_envelope_test.go
  cli/azd/internal/telemetry/storage_exporter_test.go
  cli/azd/internal/tracing/fields/fields.go
  cli/azd/internal/tracing/resource/resource.go
  cli/azd/magefile.go
  cli/azd/pkg/azdext/base_service_target_provider.go
  cli/azd/pkg/azdext/base_service_target_provider_test.go
  cli/azd/pkg/azdext/extension_command.go
  cli/azd/pkg/azdext/extension_command_test.go
  cli/azd/pkg/azdext/extension_commands.go
  cli/azd/pkg/azdext/extension_commands_test.go
  cli/azd/pkg/azdext/extension_host.go
  cli/azd/pkg/azdext/extension_host_test.go
  cli/azd/pkg/azdext/mcp_args.go
  cli/azd/pkg/azdext/mcp_args_test.go
  cli/azd/pkg/azdext/mcp_results.go
  cli/azd/pkg/azdext/mcp_results_test.go
  cli/azd/pkg/azdext/mcp_security.go
  cli/azd/pkg/azdext/mcp_security_test.go
  cli/azd/pkg/azdext/mcp_server_builder.go
  cli/azd/pkg/azdext/mcp_server_builder_test.go
  cli/azd/pkg/extensions/runner.go
Due: eng/pipelines/release-cli.yml

fix bug for preview version
  cli/azd/pkg/extensions/registry_cache.go
Due: eng/pipelines/release-cli.yml

Fix: explicitly allow tools in PreToolUse hook
  cli/azd/internal/agent/copilot_agent_factory.go
Due: eng/pipelines/release-cli.yml

Fix issue with error not being printed
  cli/azd/pkg/azdext/extension_error.go
  cli/azd/pkg/azdext/extension_error_test.go
Due: eng/pipelines/release-cli.yml

Fix: add OnPermissionRequest handler to approve tool permissions
  cli/azd/internal/agent/copilot_agent_factory.go
Due: eng/pipelines/release-cli.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
