Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      demands: ImageOverride -equals windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-azdo-setupazd.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: BuildAndTest
        variables:
        - template: /eng/pipelines/templates/variables/image.yml
        jobs:
        - job: BuildSetupAzd
          displayName: BuildSetupAzd
          variables:
  ...

eng/pipelines/release-azuredevops.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/azuredevops-build-and-test.yml
      - template: /eng/pipelines/templates/stages/azuredevops-sign.yml
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-ai-agents
  ...

eng/pipelines/release-ext-azure-coding-agent.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.coding-agent
          SanitizedExtensionId: azure-coding-agent
  ...

eng/pipelines/release-ext-azure-foundry-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-foundry-ai-agents
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

Update readme (#6625)
  README.md
Due: none

Remove metadata from build-extension-quickstart.md
  cli/azd/docs/extensions/build-extension-quickstart.md
Due: eng/pipelines/release-cli.yml

Checkpoint from VS Code for cloud agent session
  cli/azd/cmd/auth_login.go
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-auth-login.snap
  cli/azd/go.mod
  cli/azd/go.sum
  cli/azd/pkg/auth/manager.go
Due: eng/pipelines/release-cli.yml

Add JMESPath query support for JSON output in CLI commands (#6664)
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/cmd/cobra_builder.go
  cli/azd/go.mod
  cli/azd/go.sum
  cli/azd/pkg/output/json.go
  cli/azd/pkg/output/parameter.go
  cli/azd/pkg/output/query.go
  cli/azd/pkg/output/query_test.go
  cli/azd/test/functional/env_test.go
Due: eng/pipelines/release-cli.yml

Use existing credential instead of DAC
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

handle @main param
  cli/azd/pkg/project/service_target_appservice.go
  cli/azd/pkg/project/service_target_appservice_test.go
Due: eng/pipelines/release-cli.yml

Handle JSON values for array/object params in Bicep
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/test/functional/cli_test.go
  cli/azd/test/functional/testdata/recordings/Test_CLI_InfraCreateAndDelete.yaml
  cli/azd/test/functional/testdata/samples/storage/infra/main.bicep
  cli/azd/test/functional/testdata/samples/storage/infra/main.parameters.json
Due: eng/pipelines/release-cli.yml

handle args
  cli/azd/pkg/project/service_target_appservice.go
  cli/azd/pkg/project/service_target_appservice_test.go
Due: eng/pipelines/release-cli.yml

update recordings
  cli/azd/test/functional/testdata/recordings/Test_CLI_ProvisionState.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_ProvisionStateWithDown.yaml
Due: eng/pipelines/release-cli.yml

Remove clickable hyperlink from agent endpoint and add documentation note
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/pkg/project/artifact.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fixing #6689
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/extensions/azure.ai.finetune/CHANGELOG.md
  cli/azd/extensions/azure.ai.finetune/extension.yaml
  cli/azd/extensions/azure.ai.finetune/internal/cmd/operations.go
  cli/azd/extensions/azure.ai.finetune/version.txt
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

fixing test case
  cli/azd/extensions/azure.ai.finetune/internal/cmd/operations_test.go
Due: eng/pipelines/release-azd-extension.yml

fixing issue 6689 (#6685)
  cli/azd/extensions/azure.ai.finetune/CHANGELOG.md
  cli/azd/extensions/azure.ai.finetune/extension.yaml
  cli/azd/extensions/azure.ai.finetune/internal/cmd/operations.go
  cli/azd/extensions/azure.ai.finetune/internal/cmd/operations_test.go
  cli/azd/extensions/azure.ai.finetune/version.txt
Due: eng/pipelines/release-azd-extension.yml

add errors for 7 days
  cli/azd/internal/mcp/tools/prompts/azd_provision_common_error.md
Due: eng/pipelines/release-cli.yml

gofmt
  cli/azd/cmd/middleware/error.go
  cli/azd/internal/mcp/tools/prompts/prompts.go
Due: eng/pipelines/release-cli.yml

gofmt
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/cmd/middleware/error.go
Due: eng/pipelines/release-cli.yml

adding model ext
  cli/azd/extensions/azure.ai.models/design/architecture.md
Due: eng/pipelines/release-azd-extension.yml

adding technical challenges
  cli/azd/extensions/azure.ai.models/design/architecture.md
Due: eng/pipelines/release-azd-extension.yml

including 16 preview to main
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

Update TestFigSpec snapshot with new flags and sku shorthand fix
  cli/azd/cmd/testdata/TestFigSpec.ts
Due: eng/pipelines/release-cli.yml

adding more details around custom models
  cli/azd/extensions/azure.ai.models/design/proposal-1-custom-models.md
  cli/azd/extensions/azure.ai.models/design/proposal-2-full-models.md
Due: eng/pipelines/release-azd-extension.yml

include 16 preview to main registry (#6696)
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Update packages to fix telemetry issue
  ext/vscode/package-lock.json
  ext/vscode/package.json
Due: eng/pipelines/release-vscode.yml

Fix lint config and lint error
  ext/vscode/eslint.config.mjs
  ext/vscode/src/utils/authServer.ts
Due: eng/pipelines/release-vscode.yml

Custom error patterns
  cli/azd/cmd/container.go
  cli/azd/cmd/middleware/error.go
  cli/azd/cmd/middleware/error_test.go
  cli/azd/cmd/middleware/ux.go
  cli/azd/docs/error-suggestions.md
  cli/azd/internal/errors.go
  cli/azd/pkg/errorhandler/matcher.go
  cli/azd/pkg/errorhandler/matcher_test.go
  cli/azd/pkg/errorhandler/service.go
  cli/azd/pkg/errorhandler/types.go
  cli/azd/pkg/output/ux/error_with_suggestion.go
  cli/azd/pkg/output/ux/error_with_suggestion_test.go
  cli/azd/resources/error_suggestions.yaml
  cli/azd/resources/resources.go
Due: eng/pipelines/release-cli.yml

common error
  cli/azd/internal/mcp/tools/prompts/azd_provision_common_error.md
Due: eng/pipelines/release-cli.yml

azure.ai.agents - Fix unsafe DefaultAzureCredential usage in production (#6693)
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Fix telemetry bundling issues (#6698)
  ext/vscode/eslint.config.mjs
  ext/vscode/package-lock.json
  ext/vscode/package.json
  ext/vscode/src/utils/authServer.ts
Due: eng/pipelines/release-vscode.yml

Handle JSON values for array/object params in Bicep (#6694)
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/test/functional/cli_test.go
  cli/azd/test/functional/testdata/recordings/Test_CLI_InfraCreateAndDelete.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_ProvisionState.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_ProvisionStateWithDown.yaml
  cli/azd/test/functional/testdata/samples/storage/infra/main.bicep
  cli/azd/test/functional/testdata/samples/storage/infra/main.parameters.json
Due: eng/pipelines/release-cli.yml

Fix clickable logic to use metadata instead of LocationKind
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/pkg/project/artifact.go
  cli/azd/pkg/project/artifact_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Format aka.ms link
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Remove repetition in error messages
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Update cli/azd/internal/mcp/tools/prompts/azd_provision_common_error.md
  cli/azd/internal/mcp/tools/prompts/azd_provision_common_error.md
Due: eng/pipelines/release-cli.yml

Update cli/azd/internal/mcp/tools/azd_provision_common_error.go
  cli/azd/internal/mcp/tools/azd_provision_common_error.go
Due: eng/pipelines/release-cli.yml

more clear instructions
  cli/azd/internal/mcp/tools/prompts/azd_provision_common_error.md
Due: eng/pipelines/release-cli.yml

add test
  cli/azd/cmd/middleware/error_test.go
Due: eng/pipelines/release-cli.yml

add cognitive service account error
  cli/azd/internal/mcp/tools/prompts/azd_provision_common_error.md
Due: eng/pipelines/release-cli.yml

lll
  cli/azd/cmd/middleware/error_test.go
Due: eng/pipelines/release-cli.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
