Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      demands: ImageOverride -equals windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-azdo-setupazd.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: BuildAndTest
        variables:
        - template: /eng/pipelines/templates/variables/image.yml
        jobs:
        - job: BuildSetupAzd
          displayName: BuildSetupAzd
          variables:
  ...

eng/pipelines/release-azuredevops.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/azuredevops-build-and-test.yml
      - template: /eng/pipelines/templates/stages/azuredevops-sign.yml
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-ai-agents
  ...

eng/pipelines/release-ext-azure-coding-agent.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.coding-agent
          SanitizedExtensionId: azure-coding-agent
  ...

eng/pipelines/release-ext-azure-foundry-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-foundry-ai-agents
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

Update cli/azd/resources/error_suggestions.yaml
  cli/azd/resources/error_suggestions.yaml
Due: eng/pipelines/release-cli.yml

Update cli/azd/docs/error-suggestions.md
  cli/azd/docs/error-suggestions.md
Due: eng/pipelines/release-cli.yml

fix error
  cli/azd/cmd/middleware/error_test.go
Due: eng/pipelines/release-cli.yml

Release concurx extension v0.1.0 (#6699)
  cli/azd/extensions/microsoft.azd.concurx/extension.yaml
  cli/azd/extensions/microsoft.azd.concurx/go.mod
  cli/azd/extensions/microsoft.azd.concurx/go.sum
  cli/azd/extensions/microsoft.azd.concurx/version.txt
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml

adding phased approach
  cli/azd/extensions/azure.ai.models/design/proposal-1-custom-models.md
Due: eng/pipelines/release-azd-extension.yml

minor number update
  cli/azd/internal/mcp/tools/azd_provision_common_error.go
  cli/azd/internal/mcp/tools/prompts/azd_provision_common_error.md
Due: eng/pipelines/release-cli.yml

update reg for concurX 0.1.0
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

extension registry update for concurX 0.1.0 (#6709)
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

azd fetch the resource - extension does swap
  cli/azd/extensions/azure.appservice/build.ps1
  cli/azd/extensions/azure.appservice/build.sh
  cli/azd/extensions/azure.appservice/go.mod
  cli/azd/extensions/azure.appservice/go.sum
  cli/azd/extensions/azure.appservice/internal/cmd/swap.go
  cli/azd/grpc/proto/project.proto
  cli/azd/internal/grpcserver/project_service.go
  cli/azd/internal/grpcserver/project_service_test.go
  cli/azd/pkg/azdext/project.pb.go
  cli/azd/pkg/azdext/project_grpc.pb.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

progress
  .gitignore
  cli/azd/extensions/azure.appservice/internal/cmd/swap.go
Due: eng/pipelines/release-azd-extension.yml

Fix panic in agent.yaml parsing and enable CI tests for azure.ai.agents (#6683)
  cli/azd/extensions/azure.ai.agents/ci-test.ps1
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse_test.go
  cli/azd/extensions/azure.ai.agents/tests/samples/declarativeNoTools/agent.yaml
  cli/azd/extensions/azure.ai.agents/tests/samples/githubMcpAgent/agent.yaml
  eng/pipelines/release-ext-azure-ai-agents.yml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Update azd command descriptions (#6711)
  cli/azd/extensions/azure.ai.finetune/design/architecture.md
  cli/azd/extensions/azure.ai.finetune/internal/cmd/operations.go
  cli/azd/extensions/microsoft.azd.demo/internal/cmd/config.go
  cli/azd/extensions/microsoft.azd.extensions/extension.yaml
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/publish.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/release.go
  cli/azd/extensions/registry.json
  cli/azd/test/functional/testdata/recordings/Test_CLI_Extension_Capabilities.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_InfraCreateAndDelete.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_ProvisionState.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_ProvisionStateWithDown.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

Improving handling around model selection
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/azure/ai/model_catalog.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

add provision common error mcp tool (#6690)
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/cmd/mcp.go
  cli/azd/cmd/middleware/error.go
  cli/azd/cmd/middleware/error_test.go
  cli/azd/internal/mcp/tools/azd_provision_common_error.go
  cli/azd/internal/mcp/tools/prompts/azd_provision_common_error.md
  cli/azd/internal/mcp/tools/prompts/prompts.go
Due: eng/pipelines/release-cli.yml

Add model validation to azd ai agent init
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/azure/ai/model_catalog.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/azure/ai/quota.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Remove clickable hyperlink from agent endpoint and redirect to invocation docs (#6695)
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/pkg/project/artifact.go
  cli/azd/pkg/project/artifact_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Remove commented out code
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Update cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Apply suggestion from @Copilot
  cli/azd/extensions/azure.ai.agents/internal/pkg/azure/ai/model_catalog.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

redundant check
  cli/azd/extensions/azure.ai.agents/internal/pkg/azure/ai/model_catalog.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Update warning message format
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

better method
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Make sure we properly set the env change everywhere
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

[Agents Extension] Improving handling around model selection (#6730)
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/azure/ai/model_catalog.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Update date
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Prepare azure.ai.agents 0.1.9-preview release (#6707)
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/extension.yaml
  cli/azd/extensions/azure.ai.agents/version.txt
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Address feedback
  cli/azd/internal/grpcserver/environment_service_test.go
Due: eng/pipelines/release-cli.yml

Add azure.ai.agent 0.1.9-preview to registry
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

Add azure.ai.agent 0.1.9-preview to registry (#6734)
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

Add conditional service deployment via `condition` field (#6684)
  cli/azd/cmd/build.go
  cli/azd/cmd/package.go
  cli/azd/cmd/restore.go
  cli/azd/internal/cmd/deploy.go
  cli/azd/internal/cmd/publish.go
  cli/azd/pkg/project/importer.go
  cli/azd/pkg/project/service_condition_integration_test.go
  cli/azd/pkg/project/service_config.go
  cli/azd/pkg/project/service_config_test.go
Due: eng/pipelines/release-cli.yml

Make env_name optional in EnvironmentService gRPC methods (#6733)
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/proto/environment.proto
  cli/azd/grpc/proto/environment.proto
  cli/azd/internal/grpcserver/environment_service.go
  cli/azd/internal/grpcserver/environment_service_test.go
  cli/azd/pkg/azdext/environment.pb.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

Extend JMESPath support to Message methods
  cli/azd/pkg/input/console.go
  cli/azd/pkg/input/console_test.go
  cli/azd/pkg/output/formatter.go
  cli/azd/pkg/output/json.go
  cli/azd/pkg/output/query_test.go
Due: eng/pipelines/release-cli.yml

Update cli/azd/pkg/input/console.go
  cli/azd/pkg/input/console.go
Due: eng/pipelines/release-cli.yml

Update TestAskerConsole_Message_JsonQueryFilter
  cli/azd/pkg/input/console_test.go
Due: eng/pipelines/release-cli.yml

Fix Terraform remote backend detection to support all backend types (#6682)
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider.go
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider_test.go
  cli/azd/pkg/infra/provisioning/terraform/testdata/backend_tests/azurerm.tf
  cli/azd/pkg/infra/provisioning/terraform/testdata/backend_tests/cloud.tf
  cli/azd/pkg/infra/provisioning/terraform/testdata/backend_tests/consul.tf
  cli/azd/pkg/infra/provisioning/terraform/testdata/backend_tests/gcs.tf
  cli/azd/pkg/infra/provisioning/terraform/testdata/backend_tests/http.tf
  cli/azd/pkg/infra/provisioning/terraform/testdata/backend_tests/kubernetes.tf
  cli/azd/pkg/infra/provisioning/terraform/testdata/backend_tests/local.tf
  cli/azd/pkg/infra/provisioning/terraform/testdata/backend_tests/no_backend.tf
  cli/azd/pkg/infra/provisioning/terraform/testdata/backend_tests/remote.tf
  cli/azd/pkg/infra/provisioning/terraform/testdata/backend_tests/s3.tf
Due: eng/pipelines/release-cli.yml

defer close
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider.go
Due: eng/pipelines/release-cli.yml

Add AiModelService gRPC service for AI model catalog and quota
  cli/azd/cmd/container.go
  cli/azd/docs/extensions/extension-framework.md
  cli/azd/extensions/microsoft.azd.demo/README.md
  cli/azd/extensions/microsoft.azd.demo/extension.yaml
  cli/azd/extensions/microsoft.azd.demo/internal/cmd/ai.go
  cli/azd/extensions/microsoft.azd.demo/internal/cmd/root.go
  cli/azd/grpc/proto/ai_model.proto
  cli/azd/grpc/proto/prompt.proto
  cli/azd/internal/grpcserver/ai_errors.go
  cli/azd/internal/grpcserver/ai_model_service.go
  cli/azd/internal/grpcserver/prompt_service.go
  cli/azd/internal/grpcserver/prompt_service_test.go
  cli/azd/internal/grpcserver/server.go
  cli/azd/internal/grpcserver/server_test.go
  cli/azd/pkg/account/subscriptions_manager.go
  cli/azd/pkg/ai/errors.go
  cli/azd/pkg/ai/mapper_registry.go
  cli/azd/pkg/ai/model_service.go
  cli/azd/pkg/ai/model_service_test.go
  cli/azd/pkg/ai/types.go
  cli/azd/pkg/azdext/ai_error_reasons.go
  cli/azd/pkg/azdext/ai_model.pb.go
  cli/azd/pkg/azdext/ai_model_grpc.pb.go
  cli/azd/pkg/azdext/azd_client.go
  cli/azd/pkg/azdext/prompt.pb.go
  cli/azd/pkg/azdext/prompt_grpc.pb.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/infra/provisioning/bicep/prompt.go
  cli/azd/pkg/prompt/prompt_service.go
  cli/azd/test/mocks/mockaccount/mock_subscriptions.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml

Fix lint issues
  cli/azd/.vscode/cspell.yaml
  cli/azd/internal/grpcserver/prompt_service.go
Due: eng/pipelines/release-cli.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
