Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      demands: ImageOverride -equals windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-azdo-setupazd.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: BuildAndTest
        variables:
        - template: /eng/pipelines/templates/variables/image.yml
        jobs:
        - job: BuildSetupAzd
          displayName: BuildSetupAzd
          variables:
  ...

eng/pipelines/release-azuredevops.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/azuredevops-build-and-test.yml
      - template: /eng/pipelines/templates/stages/azuredevops-sign.yml
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-ai-agents
  ...

eng/pipelines/release-ext-azure-ai-models.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.models
          SanitizedExtensionId: azure-ai-models
  ...

eng/pipelines/release-ext-azure-appservice.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.appservice
          SanitizedExtensionId: azure-appservice
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

docs: document service deploy ordering semantics and uses: directive
  cli/azd/docs/concurrency-model.md
  cli/azd/docs/environment-variables.md
  cli/azd/internal/cmd/service_graph.go
Due: eng/pipelines/release-cli.yml

docs: fix inaccurate ordering references and stale expandedEnvCache section
  cli/azd/docs/concurrency-model.md
  cli/azd/docs/environment-variables.md
  cli/azd/internal/cmd/service_graph.go
Due: eng/pipelines/release-cli.yml

fix: add br/alias registry skip + bicep cache edge case tests
  cli/azd/pkg/tools/bicep/bicep.go
  cli/azd/pkg/tools/bicep/bicep_cache_test.go
Due: eng/pipelines/release-cli.yml

fix: sequential deploy fallback when no services declare uses: edges
  cli/azd/internal/cmd/service_graph.go
  cli/azd/internal/cmd/service_graph_test.go
Due: eng/pipelines/release-cli.yml

fix: resolve go-fix and golangci-lint CI failures
  cli/azd/pkg/azdo/sdk_error_path_test.go
  cli/azd/pkg/azsdk/correlation_policy_test.go
  cli/azd/pkg/environment/environment_test.go
Due: eng/pipelines/release-cli.yml

feat: advisory SERVICE_* dependency scanning + bicep cache edge case tests
  cli/azd/internal/cmd/service_graph.go
  cli/azd/internal/cmd/service_graph_test.go
Due: eng/pipelines/release-cli.yml

refactor: consolidate deploy graph state into deployGraphState struct
  cli/azd/internal/cmd/deploy.go
  cli/azd/internal/cmd/service_graph.go
  cli/azd/internal/cmd/service_graph_test.go
  cli/azd/internal/cmd/up_graph.go
  cli/azd/pkg/infra/provisioning/bicep/layer_deps.go
Due: eng/pipelines/release-cli.yml

fix: warn on malformed concurrency env vars + bound resource-group checks
  cli/azd/internal/cmd/deploy.go
  cli/azd/internal/cmd/provision_graph.go
  cli/azd/internal/cmd/up_graph.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
Due: eng/pipelines/release-cli.yml

fix: prevent azd up hang after provisioning
  cli/azd/internal/cmd/service_graph.go
  cli/azd/pkg/project/resource_manager.go
  cli/azd/pkg/project/service_manager.go
Due: eng/pipelines/release-cli.yml

fix: harden path validation and deduplicate cache lookups
  cli/azd/pkg/exegraph/step.go
  cli/azd/pkg/project/service_manager.go
  cli/azd/pkg/tools/bicep/bicep.go
Due: eng/pipelines/release-cli.yml

fix: resolve .env context-canceled on first run and deploy duration mismatch
  cli/azd/internal/cmd/deploy_progress.go
  cli/azd/pkg/environment/local_file_data_store.go
Due: eng/pipelines/release-cli.yml

docs: add debug logging and non-blocking contract docs
  cli/azd/internal/cmd/service_graph.go
  cli/azd/pkg/infra/provisioning/bicep/layer_deps.go
Due: eng/pipelines/release-cli.yml

fix: show deploy progress table during azd up
  cli/azd/internal/cmd/up_graph.go
Due: eng/pipelines/release-cli.yml

fix: suppress previewer output when deploy progress table is active
  cli/azd/internal/cmd/deploy.go
  cli/azd/internal/cmd/up_graph.go
  cli/azd/pkg/input/console.go
Due: eng/pipelines/release-cli.yml

fix: use defer Unlock() consistently to prevent deadlock on recovered panics
  cli/azd/internal/cmd/provision_graph.go
  cli/azd/internal/cmd/service_graph.go
  cli/azd/pkg/project/service_config.go
Due: eng/pipelines/release-cli.yml

fix: revert envMu defer in runProvisionSingleLayer (self-deadlock)
  cli/azd/internal/cmd/provision_graph.go
Due: eng/pipelines/release-cli.yml

refactor: extract classifyStepResult and harden scheduler tests
  cli/azd/pkg/exegraph/scheduler.go
  cli/azd/pkg/exegraph/scheduler_test.go
Due: eng/pipelines/release-cli.yml

docs: document publish step timeout in spec
  docs/specs/exegraph/spec.md
Due: none

chore: exclude stale PreflightQuota playback tests
  cli/azd/magefile.go
Due: eng/pipelines/release-cli.yml

refactor: rename PreviewerSuppressor to PreviewerPauser for cspell
  cli/azd/internal/cmd/deploy.go
  cli/azd/internal/cmd/up_graph.go
  cli/azd/pkg/input/console.go
Due: eng/pipelines/release-cli.yml

fix: enable parallel deploy for Aspire projects via build-gate policy
  cli/azd/internal/cmd/service_graph.go
Due: eng/pipelines/release-cli.yml

fix: use 'provision' step name for single-layer projects
  cli/azd/internal/cmd/provision_graph.go
  cli/azd/internal/cmd/up_graph.go
Due: eng/pipelines/release-cli.yml

feat(azure.ai.agents): add ConnectionManager for CRUD on Foundry project connections
  cli/azd/extensions/azure.ai.agents/internal/pkg/azure/connection_manager.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/azure/connection_manager_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/azure/foundry_projects_client.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Change how we handle the key. Add a post-down handler to clean up
  cli/azd/extensions/azure.ai.agents/internal/cmd/config_store.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/monitor_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Delete stored session on session delete if they match
  cli/azd/extensions/azure.ai.agents/internal/cmd/session.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Update doc gen script to prevent build issues
  cli/azd/docs/docgen.go
Due: eng/pipelines/release-cli.yml

Fix function names
  cli/azd/docs/docgen.go
Due: eng/pipelines/release-cli.yml

Add playground and agent endpoint links to azd ai agent show
  cli/azd/extensions/azure.ai.agents/internal/cmd/show.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/show_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Fix PR feedback issues
  cli/azd/docs/docgen.go
Due: eng/pipelines/release-cli.yml

PR comments
  cli/azd/extensions/azure.ai.agents/internal/cmd/config_store.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/config_store_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/files.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/monitor.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/monitor_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/run.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/session.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Fix MCP tool field mapping
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/map.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/map_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/yaml.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Unused methods
  cli/azd/extensions/azure.ai.agents/internal/cmd/config_store.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/helpers.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

PR comments
  cli/azd/extensions/azure.ai.agents/internal/cmd/config_store.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/config_store_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/files.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/monitor.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/session.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat: add azd tool command group for unified Azure tooling management
  cli/azd/cmd/container.go
  cli/azd/cmd/middleware/tool_first_run.go
  cli/azd/cmd/middleware/tool_update_check.go
  cli/azd/cmd/root.go
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-tool-check.snap
  cli/azd/cmd/testdata/TestUsage-azd-tool-install.snap
  cli/azd/cmd/testdata/TestUsage-azd-tool-list.snap
  cli/azd/cmd/testdata/TestUsage-azd-tool-show.snap
  cli/azd/cmd/testdata/TestUsage-azd-tool-upgrade.snap
  cli/azd/cmd/testdata/TestUsage-azd-tool.snap
  cli/azd/cmd/testdata/TestUsage-azd.snap
  cli/azd/cmd/tool.go
  cli/azd/pkg/tool/detector.go
  cli/azd/pkg/tool/detector_test.go
  cli/azd/pkg/tool/installer.go
  cli/azd/pkg/tool/installer_test.go
  cli/azd/pkg/tool/manager.go
  cli/azd/pkg/tool/manager_test.go
  cli/azd/pkg/tool/manifest.go
  cli/azd/pkg/tool/manifest_test.go
  cli/azd/pkg/tool/platform.go
  cli/azd/pkg/tool/platform_test.go
  cli/azd/pkg/tool/update_checker.go
  cli/azd/pkg/tool/update_checker_test.go
Due: eng/pipelines/release-cli.yml

ci: trigger rebuild
  cli/azd/cmd/testdata/TestUsage-azd-tool-check.snap
  cli/azd/cmd/testdata/TestUsage-azd-tool-install.snap
  cli/azd/cmd/testdata/TestUsage-azd-tool-list.snap
  cli/azd/cmd/testdata/TestUsage-azd-tool-show.snap
  cli/azd/cmd/testdata/TestUsage-azd-tool-upgrade.snap
  cli/azd/cmd/testdata/TestUsage-azd-tool.snap
Due: eng/pipelines/release-cli.yml

fix: resolve cspell-lint failures in pkg/tool
  cli/azd/.vscode/cspell.yaml
  cli/azd/pkg/tool/manifest.go
  cli/azd/pkg/tool/update_checker.go
Due: eng/pipelines/release-cli.yml

fix: resolve CI lint/spell/snapshot issues
  cli/azd/.vscode/cspell.yaml
  cli/azd/cmd/middleware/tool_update_check.go
  cli/azd/cmd/testdata/TestUsage-azd.snap
Due: eng/pipelines/release-cli.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
