Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      demands: ImageOverride -equals windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-azdo-setupazd.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: BuildAndTest
        variables:
        - template: /eng/pipelines/templates/variables/image.yml
        jobs:
        - job: BuildSetupAzd
          displayName: BuildSetupAzd
          variables:
  ...

eng/pipelines/release-azuredevops.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/azuredevops-build-and-test.yml
      - template: /eng/pipelines/templates/stages/azuredevops-sign.yml
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-ai-agents
  ...

eng/pipelines/release-ext-azure-ai-models.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.models
          SanitizedExtensionId: azure-ai-models
  ...

eng/pipelines/release-ext-azure-appservice.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.appservice
          SanitizedExtensionId: azure-appservice
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

add test coverage
  cli/azd/pkg/tool/installer_test.go
Due: eng/pipelines/release-cli.yml

fix: update pipeline tests for context-less OIDC deduplication
  cli/azd/pkg/pipeline/github_provider_test.go
Due: eng/pipelines/release-cli.yml

Add changelog entry for tracing disclaimer update
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Update Hosted Agents tracing disclaimer text and links (#8732)
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_foundry_resources_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_foundry_resources_helpers_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Stack agent "Next:" guidance with indentation and command highlighting
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/format.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/format_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Add CHANGELOG entry for #8731
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Keep Next: artifact note plain to avoid ANSI in --output json
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor_format.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/format.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/format_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/resolver_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep_output.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Use `copilot-requests: write` permission instead of PAT for agentic workflows (#8717)
  .github/aw/actions-lock.json
  .github/workflows/agentics-maintenance.yml
  .github/workflows/extension-pr-labeler.lock.yml
  .github/workflows/extension-pr-labeler.md
  .github/workflows/update-instructions-from-pr-reviews.lock.yml
  .github/workflows/update-instructions-from-pr-reviews.md
Due: none

Restore Next: command highlighting in terminal output
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor_format.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/format.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/format_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/resolver_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep_output.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Stack the azure.ai.agents `Next:` guidance block with command highlighting (#8731)
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/format.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/format_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Address feedback
  cli/azd/pkg/output/pretty_table.go
  cli/azd/pkg/output/pretty_table_test.go
Due: eng/pipelines/release-cli.yml

[azure.ai.agents] Registry update for 0.1.41-preview
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.connections] Registry update for 0.1.2-preview
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.toolboxes] Registry update for 0.1.1-preview
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.connections] Registry update for 0.1.2-preview (#8737)
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.agents] Registry update for 0.1.41-preview (#8736)
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.toolboxes] Registry update for 0.1.1-preview (#8738)
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

Seed nightly extension registry
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

Adding nightly pipeline behavior, based on conversations with Daniel Jurek. Yes _the_ Daniel Jurek.
  cli/azd/docs/extensions/extension-framework.md
  cli/azd/docs/extensions/extension-resolution-and-versioning.md
  cli/azd/pkg/extensions/nightly_versioning_test.go
  eng/pipelines/templates/stages/publish-extension.yml
  eng/pipelines/templates/stages/release-azd-extension.yml
  eng/pipelines/templates/stages/sign-extension.yml
  eng/pipelines/templates/steps/publish-extension.yml
  eng/scripts/Set-ExtensionVersionVariable.ps1
  eng/scripts/Update-NightlyExtensionRegistry.ps1
Due: eng/pipelines/release-cli.yml

[microsoft.azd.demo] Nightly registry update for 0.6.0-nightly.6460630
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

fix: handle `context` and `repo` OIDC claim keys in `azd pipeline config` (#8681)
  cli/azd/pkg/pipeline/github_provider.go
  cli/azd/pkg/pipeline/github_provider_test.go
  cli/azd/pkg/tools/github/oidc.go
  cli/azd/pkg/tools/github/oidc_test.go
Due: eng/pipelines/release-cli.yml

[microsoft.azd.demo] Nightly registry update for 0.6.0-nightly.6460785
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

add --host, remove apm, codex, gemini due to low user traffic, plan to support in future once data is increase.
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-tool-install.snap
  cli/azd/cmd/tool.go
  cli/azd/cmd/tool_test.go
  cli/azd/pkg/tool/detector.go
  cli/azd/pkg/tool/detector_test.go
  cli/azd/pkg/tool/installer.go
  cli/azd/pkg/tool/installer_test.go
  cli/azd/pkg/tool/manager.go
  cli/azd/pkg/tool/manager_test.go
  cli/azd/pkg/tool/manifest.go
Due: eng/pipelines/release-cli.yml

[microsoft.azd.demo] Nightly registry update for 0.6.0-nightly.6460880
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

address comments
  cli/azd/cmd/testdata/TestUsage-azd-tool-install.snap
  cli/azd/internal/agent/copilot_agent_factory_test.go
  cli/azd/pkg/tool/detector.go
  cli/azd/pkg/tool/installer.go
  cli/azd/pkg/tool/installer_test.go
Due: eng/pipelines/release-cli.yml

improve upgrade --host
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-tool-upgrade.snap
  cli/azd/cmd/tool.go
  cli/azd/cmd/tool_test.go
  cli/azd/pkg/tool/detector.go
  cli/azd/pkg/tool/detector_test.go
  cli/azd/pkg/tool/installer.go
  cli/azd/pkg/tool/installer_test.go
  cli/azd/pkg/tool/manager.go
Due: eng/pipelines/release-cli.yml

close gaps, address comments for local code review
  cli/azd/cmd/tool.go
  cli/azd/cmd/tool_test.go
  cli/azd/pkg/tool/detector.go
  cli/azd/pkg/tool/detector_test.go
  cli/azd/pkg/tool/installer.go
  cli/azd/pkg/tool/installer_test.go
  cli/azd/pkg/tool/manager_test.go
Due: eng/pipelines/release-cli.yml

upgrade --host all only upgrade installed skills, fix tests
  cli/azd/pkg/tool/installer.go
  cli/azd/pkg/tool/installer_test.go
  cli/azd/pkg/tool/manager_test.go
Due: eng/pipelines/release-cli.yml

Address feedback
  cli/azd/cmd/extension.go
  cli/azd/cmd/templates.go
  cli/azd/pkg/output/pretty_table.go
  cli/azd/pkg/output/pretty_table_test.go
Due: eng/pipelines/release-cli.yml

feat(agents): activity use-case profiles, init digital-worker support, and onboarding next-steps
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/activity_profile_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/map_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/yaml.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

chore(agents): bump azure.ai.agents to 0.1.41-preview
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/extension.yaml
  cli/azd/extensions/azure.ai.agents/version.txt
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

address review feedback: simplify path resolution, scope zip +x to Go binary
  cli/azd/pkg/project/framework_service_go.go
  cli/azd/pkg/project/framework_service_language_test.go
  cli/azd/pkg/project/project_utils.go
  cli/azd/pkg/rzip/rzip.go
  cli/azd/pkg/rzip/rzip_test.go
  schemas/alpha/azure.yaml.json
  schemas/v1.0/azure.yaml.json
Due: eng/pipelines/release-cli.yml

fix: eliminate cache-memory dependency in update-instructions workflow
  .github/workflows/update-instructions-from-pr-reviews.md
Due: none

feat: split Foundry init into per-resource azure.yaml services
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/extension.yaml
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/resource_services.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/resource_services_test.go
  cli/azd/extensions/azure.ai.agents/version.txt
  cli/azd/extensions/azure.ai.connections/CHANGELOG.md
  cli/azd/extensions/azure.ai.connections/extension.yaml
  cli/azd/extensions/azure.ai.connections/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.connections/internal/cmd/root.go
  cli/azd/extensions/azure.ai.connections/internal/project/service_target.go
  cli/azd/extensions/azure.ai.connections/version.txt
  cli/azd/extensions/azure.ai.projects/CHANGELOG.md
  cli/azd/extensions/azure.ai.projects/extension.yaml
  cli/azd/extensions/azure.ai.projects/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/root.go
  cli/azd/extensions/azure.ai.projects/internal/project/service_target.go
  cli/azd/extensions/azure.ai.projects/version.txt
  cli/azd/extensions/azure.ai.toolboxes/CHANGELOG.md
  cli/azd/extensions/azure.ai.toolboxes/extension.yaml
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/root.go
  cli/azd/extensions/azure.ai.toolboxes/internal/project/service_target.go
  cli/azd/extensions/azure.ai.toolboxes/version.txt
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

chore: add codeowners for AI extensions
  .github/CODEOWNERS
Due: none

feat(agents): support Terraform as an IaC option for azd ai agent init
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_infra.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_infra_flag_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_infra_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/provisioning_provider.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/synthesizer_test.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/terraform/acr.tf
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/terraform/main.tf
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/terraform/outputs.tf
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/terraform/provider.tf
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/terraform/variables.tf
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates_embed.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat: default hosted agent deploy mode to code for Python/.NET
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: tighten added comments for brevity
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: clarify validateCodeDeployInput comment and test names for entry-point auto-detect
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: clarify promptDeployMode comment to note explicit flag overrides showCodeDeploy guard
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
