Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      demands: ImageOverride -equals windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-azdo-setupazd.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: BuildAndTest
        variables:
        - template: /eng/pipelines/templates/variables/image.yml
        jobs:
        - job: BuildSetupAzd
          displayName: BuildSetupAzd
          variables:
  ...

eng/pipelines/release-azuredevops.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/azuredevops-build-and-test.yml
      - template: /eng/pipelines/templates/stages/azuredevops-sign.yml
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-ai-agents
  ...

eng/pipelines/release-ext-azure-ai-models.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.models
          SanitizedExtensionId: azure-ai-models
  ...

eng/pipelines/release-ext-azure-appservice.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.appservice
          SanitizedExtensionId: azure-appservice
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

Prepare Foundry extension releases (2026-10-08)
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/extension.yaml
  cli/azd/extensions/azure.ai.agents/version.txt
  cli/azd/extensions/azure.ai.routines/CHANGELOG.md
  cli/azd/extensions/azure.ai.routines/extension.yaml
  cli/azd/extensions/azure.ai.routines/version.txt
  cli/azd/extensions/azure.ai.toolboxes/CHANGELOG.md
  cli/azd/extensions/azure.ai.toolboxes/extension.yaml
  cli/azd/extensions/azure.ai.toolboxes/version.txt
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Authenticate WinGet manifest generation (#10370)
  cli/azd/AGENTS.md
  eng/pipelines/templates/steps/publish-cli-winget.yml
Due: eng/pipelines/release-cli.yml

[microsoft.azd.demo] Nightly registry update for 0.8.0-nightly.6934754
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

Update CHANGELOG with new telemetry operations
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Update pool name
  eng/pipelines/templates/stages/publish.yml
  eng/pipelines/templates/steps/install-az-accounts.yml
Due: none

Prepare Foundry extension releases for October 8 (#10380)
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/extension.yaml
  cli/azd/extensions/azure.ai.agents/version.txt
  cli/azd/extensions/azure.ai.routines/CHANGELOG.md
  cli/azd/extensions/azure.ai.routines/extension.yaml
  cli/azd/extensions/azure.ai.routines/version.txt
  cli/azd/extensions/azure.ai.toolboxes/CHANGELOG.md
  cli/azd/extensions/azure.ai.toolboxes/extension.yaml
  cli/azd/extensions/azure.ai.toolboxes/version.txt
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

test(exec): cover shell punctuation edge cases
  cli/azd/cmd/exec_invalid_filename_other_test.go
  cli/azd/cmd/exec_invalid_filename_windows_test.go
  cli/azd/cmd/exec_test.go
Due: eng/pipelines/release-cli.yml

fix(exec): detect operators after leading paths
  cli/azd/cmd/exec.go
  cli/azd/cmd/exec_test.go
Due: eng/pipelines/release-cli.yml

fix(exec): cover explicit shell path edge cases
  cli/azd/cmd/exec.go
  cli/azd/cmd/exec_test.go
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-exec.snap
Due: eng/pipelines/release-cli.yml

fix(exec): allow operators after inline path arguments
  cli/azd/cmd/exec.go
  cli/azd/cmd/exec_test.go
Due: eng/pipelines/release-cli.yml

fix(exec): generalize Windows invalid-name fallback
  cli/azd/cmd/exec.go
  cli/azd/cmd/exec_test.go
Due: eng/pipelines/release-cli.yml

fix(exec): recognize explicit shell expansions
  cli/azd/cmd/exec.go
  cli/azd/cmd/exec_test.go
Due: eng/pipelines/release-cli.yml

fix(exec): preserve file precedence on Windows
  cli/azd/cmd/exec.go
  cli/azd/cmd/exec_invalid_filename_other.go
  cli/azd/cmd/exec_invalid_filename_windows.go
  cli/azd/cmd/exec_test.go
  cli/azd/pkg/exec/scripting/errors.go
  cli/azd/pkg/exec/scripting/errors_test.go
  cli/azd/pkg/exec/scripting/executor.go
Due: eng/pipelines/release-cli.yml

docs(exec): clarify inline execution modes
  cli/azd/docs/environment-variables.md
Due: eng/pipelines/release-cli.yml

fix(exec): bypass Windows invalid filename probes
  cli/azd/cmd/exec.go
  cli/azd/cmd/exec_test.go
Due: eng/pipelines/release-cli.yml

fix(exec): simplify explicit shell classification
  cli/azd/cmd/exec.go
  cli/azd/cmd/exec_test.go
Due: eng/pipelines/release-cli.yml

fix(exec): handle filename length probe errors
  cli/azd/cmd/exec.go
  cli/azd/cmd/exec_invalid_filename_other.go
  cli/azd/cmd/exec_invalid_filename_other_test.go
  cli/azd/cmd/exec_invalid_filename_windows.go
  cli/azd/cmd/exec_invalid_filename_windows_test.go
  cli/azd/cmd/exec_test.go
Due: eng/pipelines/release-cli.yml

Check without installing Az Module
  eng/pipelines/templates/steps/publish-cli.yml
  eng/pipelines/templates/steps/publish-extension-storage.yml
Due: none

fix(exec): restrict probe fallback to validation errors
  cli/azd/cmd/exec.go
  cli/azd/cmd/exec_invalid_filename_other_test.go
  cli/azd/cmd/exec_invalid_filename_windows_test.go
  cli/azd/cmd/exec_test.go
Due: eng/pipelines/release-cli.yml

chore(exec): allow Windows API spelling
  cli/azd/cmd/exec_invalid_filename_windows.go
Due: eng/pipelines/release-cli.yml

[azure.ai.agents] Registry update for 1.0.0-beta.19
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

[azure.ai.toolboxes] Registry update for 1.0.0-beta.10
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

[azure.ai.routines] Registry update for 1.0.0-beta.9
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

[azure.ai.agents] Registry update for 1.0.0-beta.19 (#10386)
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

[azure.ai.toolboxes] Registry update for 1.0.0-beta.10 (#10387)
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

[azure.ai.routines] Registry update for 1.0.0-beta.9 (#10388)
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

docs: clarify Fig snapshot registry source
  cli/azd/cmd/figspec_test.go
Due: eng/pipelines/release-cli.yml

ci: validate command snapshots in cli-ci
  .github/workflows/cli-ci.yml
Due: none

ci: clarify command snapshot failures
  .github/workflows/cli-ci.yml
  cli/azd/cmd/figspec_test.go
  cli/azd/cmd/usage_test.go
Due: eng/pipelines/release-cli.yml

fix: update Fig snapshot for agents beta.19
  cli/azd/cmd/testdata/TestFigSpec.ts
Due: eng/pipelines/release-cli.yml

Update image name
  eng/pipelines/templates/stages/publish.yml
Due: none

fix: address env unset review feedback
  cli/azd/cmd/env_unset.go
  cli/azd/cmd/env_unset_test.go
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-env-unset.snap
  cli/azd/pkg/environment/environment.go
  cli/azd/pkg/environment/environment_test.go
  cli/azd/test/functional/env_test.go
Due: eng/pipelines/release-cli.yml

fix: Clarify remote tenant flag scope
  cli/azd/extensions/azure.ai.routines/internal/cmd/help.go
  cli/azd/extensions/azure.ai.routines/internal/cmd/help_test.go
  cli/azd/extensions/azure.ai.routines/internal/cmd/root.go
  cli/azd/extensions/azure.ai.routines/internal/cmd/testdata/TestAIHelp-add.snap
  cli/azd/extensions/azure.ai.routines/internal/cmd/testdata/TestAIHelp-context.snap
  cli/azd/extensions/azure.ai.routines/internal/cmd/testdata/TestAIHelp-create.snap
  cli/azd/extensions/azure.ai.routines/internal/cmd/testdata/TestAIHelp-delete.snap
  cli/azd/extensions/azure.ai.routines/internal/cmd/testdata/TestAIHelp-disable.snap
  cli/azd/extensions/azure.ai.routines/internal/cmd/testdata/TestAIHelp-dispatch.snap
  cli/azd/extensions/azure.ai.routines/internal/cmd/testdata/TestAIHelp-enable.snap
  cli/azd/extensions/azure.ai.routines/internal/cmd/testdata/TestAIHelp-list.snap
  cli/azd/extensions/azure.ai.routines/internal/cmd/testdata/TestAIHelp-root.snap
  cli/azd/extensions/azure.ai.routines/internal/cmd/testdata/TestAIHelp-run.snap
  cli/azd/extensions/azure.ai.routines/internal/cmd/testdata/TestAIHelp-run_list.snap
  cli/azd/extensions/azure.ai.routines/internal/cmd/testdata/TestAIHelp-show.snap
  cli/azd/extensions/azure.ai.routines/internal/cmd/testdata/TestAIHelp-update.snap
  cli/azd/extensions/azure.ai.routines/internal/cmd/testdata/TestAIHelp-version.snap
Due: eng/pipelines/release-azd-extension.yml

fix(foundry): grant developer access during agent predeploy
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_infra.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_infra_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/developer_rbac_check.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/synthesizer_test.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/main.arm.json
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/main.bicep
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/modules/resources.bicep
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/terraform/main.tf
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/terraform/variables.tf
  cli/azd/extensions/azure.ai.projects/README.md
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_add.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_ownership_test.go
  cli/azd/extensions/azure.ai.projects/internal/provisioning/foundry_provisioning_provider.go
  cli/azd/extensions/azure.ai.projects/internal/provisioning/foundry_provisioning_provider_resolveenv_test.go
  cli/azd/extensions/azure.ai.projects/internal/provisioning/foundry_provisioning_provider_test.go
  cli/azd/extensions/azure.ai.projects/internal/provisioning/ondisk_template.go
  cli/azd/extensions/azure.ai.projects/internal/synthesis/synthesizer_test.go
  cli/azd/extensions/azure.ai.projects/internal/synthesis/templates/main.arm.json
  cli/azd/extensions/azure.ai.projects/internal/synthesis/templates/main.bicep
  cli/azd/extensions/azure.ai.projects/internal/synthesis/templates/modules/resources.bicep
  cli/azd/extensions/azure.ai.projects/internal/synthesis/templates/terraform/main.tf
  cli/azd/extensions/azure.ai.projects/internal/synthesis/templates/terraform/variables.tf
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): resolve RBAC and lifecycle review gaps
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/telemetry_operation_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/developer_rbac_check.go
  cli/azd/extensions/azure.ai.agents/internal/project/developer_rbac_check_test.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/main.arm.json
  cli/azd/extensions/azure.ai.projects/internal/synthesis/templates/main.arm.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: build Linux extensions without cgo
  cli/azd/extensions/azure.ai.connections/ci-build.ps1
  cli/azd/extensions/azure.ai.projects/ci-build.ps1
  cli/azd/extensions/azure.ai.routines/ci-build.ps1
  cli/azd/extensions/azure.ai.toolboxes/ci-build.ps1
Due: eng/pipelines/release-azd-extension.yml

feat: improve provision validation warning UX
  cli/azd/docs/design/provision-validation.md
  cli/azd/docs/style-guidelines/azd-style-guide.md
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/provision_validation.go
  cli/azd/pkg/infra/provisioning/bicep/role_assignment_check_test.go
  cli/azd/pkg/infra/provisioning/provision_validation.go
  cli/azd/pkg/infra/provisioning/provision_validation_test.go
  cli/azd/pkg/output/ux/provision_validation_report.go
  cli/azd/pkg/output/ux/provision_validation_report_test.go
  cli/azd/pkg/output/ux/testdata/TestProvisionValidationReport_Snapshot_AiModelNotFound.snap
  cli/azd/pkg/output/ux/testdata/TestProvisionValidationReport_Snapshot_AiModelQuotaExceeded.snap
  cli/azd/pkg/output/ux/testdata/TestProvisionValidationReport_Snapshot_AllWarningsCombined.snap
  cli/azd/pkg/output/ux/testdata/TestProvisionValidationReport_Snapshot_ReservedResourceName.snap
  cli/azd/pkg/output/ux/testdata/TestProvisionValidationReport_Snapshot_RoleAssignmentConditional.snap
  cli/azd/pkg/output/ux/testdata/TestProvisionValidationReport_Snapshot_RoleAssignmentMissing.snap
  docs/architecture/provisioning-pipeline.md
Due: eng/pipelines/release-cli.yml

docs(agents): keep RBAC check numbering consistent
  cli/azd/extensions/azure.ai.agents/internal/project/developer_rbac_check.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: highlight cd step in agent init next-step guidance
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/format.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/format_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

[azure.ai.agents] Nightly registry update for 1.0.0-beta.19.nightly.6937455
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
