Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      demands: ImageOverride -equals windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-azdo-setupazd.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: BuildAndTest
        variables:
        - template: /eng/pipelines/templates/variables/image.yml
        jobs:
        - job: BuildSetupAzd
          displayName: BuildSetupAzd
          variables:
  ...

eng/pipelines/release-azuredevops.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/azuredevops-build-and-test.yml
      - template: /eng/pipelines/templates/stages/azuredevops-sign.yml
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-ai-agents
  ...

eng/pipelines/release-ext-azure-ai-models.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.models
          SanitizedExtensionId: azure-ai-models
  ...

eng/pipelines/release-ext-azure-appservice.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.appservice
          SanitizedExtensionId: azure-appservice
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

Pr comments
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat: avoid prompting for layer outputs in `pipeline config` (#7296)
  cli/azd/cmd/pipeline.go
  cli/azd/internal/cmd/provision_test.go
  cli/azd/pkg/devcenter/provision_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/infra/provisioning/manager.go
  cli/azd/pkg/infra/provisioning/provider.go
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider.go
  cli/azd/pkg/infra/provisioning/test/test_provider.go
  cli/azd/pkg/pipeline/pipeline.go
  cli/azd/pkg/pipeline/pipeline_test.go
Due: eng/pipelines/release-cli.yml

Fix: fetch management-group-scoped policy definitions
  cli/azd/pkg/azapi/policy_service.go
  cli/azd/pkg/azapi/policy_service_test.go
Due: eng/pipelines/release-cli.yml

Improve preflight warning message for local auth policy
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
Due: eng/pipelines/release-cli.yml

Address PR review feedback
  cli/azd/go.mod
  cli/azd/pkg/azapi/policy_service.go
  cli/azd/pkg/azapi/policy_service_test.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
Due: eng/pipelines/release-cli.yml

Preflight check: detect Azure Policy blocking local authentication
  cli/azd/.vscode/cspell.yaml
  cli/azd/cmd/container.go
  cli/azd/go.mod
  cli/azd/go.sum
  cli/azd/pkg/azapi/policy_service.go
  cli/azd/pkg/azapi/policy_service_test.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
Due: eng/pipelines/release-cli.yml

Fix CI: add managementgroups to cspell, apply go fix
  cli/azd/.vscode/cspell.yaml
  cli/azd/pkg/azapi/policy_service.go
Due: eng/pipelines/release-cli.yml

Simplify warning: drop policy names, keep resource types only
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
Due: eng/pipelines/release-cli.yml

Add diagnostic logging to local auth policy preflight check
  cli/azd/pkg/azapi/policy_service.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
Due: eng/pipelines/release-cli.yml

Address PR review feedback: revert launch.json, remove unrelated doc, improve policy loop
  .vscode/launch.json
  cli/azd/docs/design/extension-flag-handling.md
  cli/azd/pkg/azapi/policy_service.go
Due: eng/pipelines/release-cli.yml

Remove storage account policy check, add investigation docs
  cli/azd/.vscode/cspell.yaml
  cli/azd/cmd/container.go
  cli/azd/docs/local-preflight/README.md
  cli/azd/docs/local-preflight/storage-account-policy-check.md
  cli/azd/go.mod
  cli/azd/go.sum
  cli/azd/pkg/azapi/policy_service.go
  cli/azd/pkg/azapi/policy_service_test.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/local_preflight.go
Due: eng/pipelines/release-cli.yml

Refactor policy preflight to use server-side checkPolicyRestrictions API
  .vscode/launch.json
  cli/azd/docs/design/extension-flag-handling.md
  cli/azd/go.mod
  cli/azd/go.sum
  cli/azd/pkg/azapi/policy_service.go
  cli/azd/pkg/azapi/policy_service_test.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/local_preflight.go
Due: eng/pipelines/release-cli.yml

Address review feedback on investigation doc
  cli/azd/docs/local-preflight/storage-account-policy-check.md
Due: eng/pipelines/release-cli.yml

[azd update] Improve error message by replacing non-standard install language with administrator-managed messaging (#7417)
  cli/azd/pkg/update/msi_windows.go
  cli/azd/pkg/update/msi_windows_test.go
  cli/installer/README.md
Due: eng/pipelines/release-cli.yml

linter
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Update investigation doc with 2024-10-01 API test results
  cli/azd/docs/local-preflight/storage-account-policy-check.md
Due: eng/pipelines/release-cli.yml

specify supported protocols when generating agent.yaml
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Update GitHub CLI to v2.89.0 (#7456)
  cli/azd/pkg/tools/github/github.go
Due: eng/pipelines/release-cli.yml

feat: add azure.provisioning extension (C# CDK importer)
  cli/azd/extensions/azure.provisioning/extension.yaml
  cli/azd/extensions/azure.provisioning/internal/cmd/commands.go
  cli/azd/extensions/azure.provisioning/internal/project/importer_csharp.go
  cli/azd/extensions/azure.provisioning/main.go
Due: eng/pipelines/release-azd-extension.yml

Some simplifications. Address #7459
  cli/azd/extensions/azure.ai.agents/internal/cmd/files.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat: add azd CLI evaluation and testing framework
  .github/workflows/eval-e2e.yml
  .github/workflows/eval-report.yml
  .github/workflows/eval-unit.yml
  .github/workflows/eval-waza.yml
  cli/azd/test/eval/.gitignore
  cli/azd/test/eval/README.md
  cli/azd/test/eval/eval.yaml
  cli/azd/test/eval/graders/app_health.py
  cli/azd/test/eval/graders/cleanup_validator.py
  cli/azd/test/eval/graders/infra_validator.py
  cli/azd/test/eval/jest.config.ts
  cli/azd/test/eval/package-lock.json
  cli/azd/test/eval/package.json
  cli/azd/test/eval/reports/.gitkeep
  cli/azd/test/eval/tasks/deploy/deploy-existing-project.yaml
  cli/azd/test/eval/tasks/deploy/deploy-node-api.yaml
  cli/azd/test/eval/tasks/deploy/deploy-python-webapp.yaml
  cli/azd/test/eval/tasks/environment/create-staging.yaml
  cli/azd/test/eval/tasks/environment/delete-env.yaml
  cli/azd/test/eval/tasks/environment/switch-env.yaml
  cli/azd/test/eval/tasks/lifecycle/full-lifecycle.yaml
  cli/azd/test/eval/tasks/lifecycle/teardown-only.yaml
  cli/azd/test/eval/tasks/negative/general-coding.yaml
  cli/azd/test/eval/tasks/negative/not-azure.yaml
  cli/azd/test/eval/tasks/negative/raw-azure-cli.yaml
  cli/azd/test/eval/tasks/troubleshoot/auth-error.yaml
  cli/azd/test/eval/tasks/troubleshoot/config-error.yaml
  cli/azd/test/eval/tasks/troubleshoot/provision-role-conflict.yaml
  cli/azd/test/eval/tasks/troubleshoot/quota-error.yaml
  cli/azd/test/eval/tests/human/cli-workflow.test.ts
  cli/azd/test/eval/tests/human/command-discovery.test.ts
  cli/azd/test/eval/tests/human/error-recovery.test.ts
  cli/azd/test/eval/tests/unit/command-registry.test.ts
  cli/azd/test/eval/tests/unit/command-sequencing.test.ts
  cli/azd/test/eval/tests/unit/flag-validation.test.ts
  cli/azd/test/eval/tests/unit/help-text-quality.test.ts
  cli/azd/test/eval/tsconfig.json
Due: eng/pipelines/release-cli.yml

docs: add comprehensive how-to guides for creating evals, graders, and tests
  cli/azd/test/eval/README.md
Due: eng/pipelines/release-cli.yml

docs: add authentication and secrets section to eval README
  cli/azd/test/eval/README.md
Due: eng/pipelines/release-cli.yml

fix: resolve CI failures in eval unit tests and cspell
  cli/azd/.vscode/cspell.yaml
  cli/azd/test/eval/tests/unit/command-registry.test.ts
  cli/azd/test/eval/tests/unit/command-sequencing.test.ts
Due: eng/pipelines/release-cli.yml

fix: stop command-sequencing tests from overriding AZD_CONFIG_DIR
  cli/azd/test/eval/tests/unit/command-sequencing.test.ts
Due: eng/pipelines/release-cli.yml

Fix review: mock targets, env remove, CI grader tests, HTTPError handling
  .github/workflows/eval-report.yml
  .github/workflows/eval-unit.yml
  cli/azd/test/eval/README.md
  cli/azd/test/eval/eval.yaml
  cli/azd/test/eval/graders/cleanup_validator.py
  cli/azd/test/eval/graders/infra_validator.py
  cli/azd/test/eval/graders/test_graders.py
  cli/azd/test/eval/tasks/environment/delete-env.yaml
Due: eng/pipelines/release-cli.yml

docs: expand auth section with subscription config and no-popup guarantee
  cli/azd/test/eval/README.md
Due: eng/pipelines/release-cli.yml

Update cli/azd/test/eval/tasks/environment/switch-env.yaml
  cli/azd/test/eval/tasks/environment/switch-env.yaml
Due: eng/pipelines/release-cli.yml

refactor: address review feedback from @jongio and Copilot
  .github/workflows/eval-e2e.yml
  .github/workflows/eval-report.yml
  .github/workflows/eval-unit.yml
  .github/workflows/eval-waza.yml
  cli/azd/.vscode/cspell.yaml
  cli/azd/test/eval/README.md
  cli/azd/test/eval/eval.yaml
  cli/azd/test/eval/graders/app_health.py
  cli/azd/test/eval/graders/test_graders.py
  cli/azd/test/eval/jest.config.ts
  cli/azd/test/eval/package-lock.json
  cli/azd/test/eval/package.json
  cli/azd/test/eval/tests/human/cli-workflow.test.ts
  cli/azd/test/eval/tests/human/command-discovery.test.ts
  cli/azd/test/eval/tests/human/error-recovery.test.ts
  cli/azd/test/eval/tests/test-utils.ts
  cli/azd/test/eval/tests/unit/command-registry.test.ts
  cli/azd/test/eval/tests/unit/command-sequencing.test.ts
  cli/azd/test/eval/tests/unit/flag-validation.test.ts
  cli/azd/test/eval/tests/unit/help-text-quality.test.ts
  cli/azd/test/eval/tsconfig.json
Due: eng/pipelines/release-cli.yml

Update cli/azd/test/eval/README.md
  cli/azd/test/eval/README.md
Due: eng/pipelines/release-cli.yml

fix: skip waza validation when CLI not installed
  .github/workflows/eval-unit.yml
Due: none

fix: address remaining PR review feedback
  .github/workflows/eval-e2e.yml
  cli/azd/test/eval/README.md
  cli/azd/test/eval/tasks/deploy/deploy-existing-project.yaml
Due: eng/pipelines/release-cli.yml

fix: address round 2 review feedback from @jongio
  .github/workflows/eval-report.yml
  cli/azd/.vscode/cspell.yaml
  cli/azd/test/eval/graders/app_health.py
  cli/azd/test/eval/graders/azure_auth.py
  cli/azd/test/eval/graders/cleanup_validator.py
  cli/azd/test/eval/graders/infra_validator.py
  cli/azd/test/eval/graders/test_graders.py
  cli/azd/test/eval/tasks/deploy/deploy-existing-project.yaml
  cli/azd/test/eval/tasks/lifecycle/teardown-only.yaml
  cli/azd/test/eval/tests/test-utils.ts
Due: eng/pipelines/release-cli.yml

Fix error handling in graders and cleanup step
  .github/workflows/eval-e2e.yml
  cli/azd/test/eval/graders/azure_auth.py
  cli/azd/test/eval/graders/cleanup_validator.py
Due: eng/pipelines/release-cli.yml

Remove continue-on-error masking in eval-waza.yml
  .github/workflows/eval-waza.yml
Due: none

Address review feedback on eval framework
  cli/azd/test/eval/README.md
  cli/azd/test/eval/graders/infra_validator.py
  cli/azd/test/eval/package.json
Due: eng/pipelines/release-cli.yml

Address review feedback on eval framework (round 2)
  .github/workflows/eval-waza.yml
  cli/azd/test/eval/graders/cleanup_validator.py
  cli/azd/test/eval/graders/infra_validator.py
  cli/azd/test/eval/tasks/troubleshoot/quota-error.yaml
Due: eng/pipelines/release-cli.yml

chore: add 40-minute timeout to eval-e2e lifecycle step
  .github/workflows/eval-e2e.yml
Due: none

Address review feedback on eval framework
  cli/azd/test/eval/graders/app_health.py
  cli/azd/test/eval/tasks/deploy/deploy-node-api.yaml
  cli/azd/test/eval/tests/test-utils.ts
  cli/azd/test/eval/tests/unit/command-sequencing.test.ts
Due: eng/pipelines/release-cli.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
