Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      demands: ImageOverride -equals windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-azdo-setupazd.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: BuildAndTest
        variables:
        - template: /eng/pipelines/templates/variables/image.yml
        jobs:
        - job: BuildSetupAzd
          displayName: BuildSetupAzd
          variables:
  ...

eng/pipelines/release-azuredevops.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/azuredevops-build-and-test.yml
      - template: /eng/pipelines/templates/stages/azuredevops-sign.yml
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-ai-agents
  ...

eng/pipelines/release-ext-azure-ai-models.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.models
          SanitizedExtensionId: azure-ai-models
  ...

eng/pipelines/release-ext-azure-appservice.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.appservice
          SanitizedExtensionId: azure-appservice
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

envelope + address comments
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_config_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_deploy.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/generation.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/generation_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/models.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/operations_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/opt_eval/yaml.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/optimize_api/client.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

docs: remove external username reference from spec
  docs/specs/unify-azure-yaml/spec.md
Due: none

fix listing optimization jobs
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_list.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/optimize_api/models.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/optimize_api/models_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

docs: fix review comments on unify-azure-yaml spec
  docs/specs/unify-azure-yaml/spec.md
Due: none

docs(spec): tighten Bicep-less spec; fix code-citation errors
  docs/specs/bicepless-foundry/spec.md
Due: none

docs(spec): address Copilot review (Preview What-If, pathHasModule precision)
  docs/specs/bicepless-foundry/spec.md
Due: none

docs: revise overview to focus on what the spec provides
  docs/specs/unify-azure-yaml/spec.md
Due: none

docs(spec): align with Foundry azure.yaml reference (microsoft.foundry host, nested agents)
  docs/specs/bicepless-foundry/spec.md
Due: none

docs(spec): drop out-of-scope references (#7502, #7962, #8049)
  docs/specs/bicepless-foundry/spec.md
Due: none

Add test scenarios for delete, endpoint show, and code download
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/00-code-download-help.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/00-delete-help.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/00-endpoint-show-help.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/2B-endpoint-show.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/2C-code-download.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/2D-delete.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Add test scenarios for delete, endpoint show, and code download (#8591)
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/00-code-download-help.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/00-delete-help.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/00-endpoint-show-help.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/2B-endpoint-show.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/2C-code-download.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/2D-delete.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

docs: align spec with brief, fill gaps, merge open questions
  docs/specs/unify-azure-yaml/spec.md
Due: none

docs: drop open questions already decided in the brief
  docs/specs/unify-azure-yaml/spec.md
Due: none

docs: simplify open questions intro to a plain lead-in
  docs/specs/unify-azure-yaml/spec.md
Due: none

docs: drop routines and instructions open questions covered by the brief
  docs/specs/unify-azure-yaml/spec.md
Due: none

docs: drop both ref open questions the brief already decides
  docs/specs/unify-azure-yaml/spec.md
Due: none

docs: warmer, more collaborative tone for open questions
  docs/specs/unify-azure-yaml/spec.md
Due: none

docs: drop open questions the issues and design already resolve
  docs/specs/unify-azure-yaml/spec.md
Due: none

Update Bicep CLI to v0.44.1
  .github/workflows/lint-bicep.yml
  cli/azd/pkg/tools/bicep/bicep.go
Due: eng/pipelines/release-cli.yml

fix: reduce S0 AccountCount MinCapacity from 2 to 1 (#8563) (#8571)
  cli/azd/pkg/infra/provisioning/bicep/prompt.go
Due: eng/pipelines/release-cli.yml

Rebrand: update ".NET Aspire" references to "Aspire" (#8579)
  cli/azd/CHANGELOG.md
  cli/azd/docs/environment-variables.md
  cli/azd/extensions/microsoft.azd.concurx/README.md
  cli/azd/internal/appdetect/appdetect.go
  cli/azd/internal/cmd/add/add.go
  cli/azd/pkg/apphost/manifest.go
  cli/azd/pkg/apphost/manifest_test.go
  docs/reference/telemetry-data.md
  eng/pipelines/templates/jobs/build-cli.yml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml

feat: introduce azd validate command with pipeline and gate framework
  cli/azd/cmd/container.go
  cli/azd/cmd/root.go
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-validate.snap
  cli/azd/cmd/testdata/TestUsage-azd.snap
  cli/azd/internal/cmd/validate.go
  cli/azd/pkg/validate/check.go
  cli/azd/pkg/validate/gate.go
  cli/azd/pkg/validate/gate_project_config.go
  cli/azd/pkg/validate/pipeline.go
  cli/azd/pkg/validate/pipeline_test.go
  cli/azd/pkg/validate/report.go
  cli/azd/pkg/validate/types.go
Due: eng/pipelines/release-cli.yml

fix: register built-in project-config gate in ValidateAction
  cli/azd/internal/cmd/validate.go
Due: eng/pipelines/release-cli.yml

fix: lazy-detect container engine in ContainerEngine() getter
  cli/azd/pkg/tools/docker/docker.go
  cli/azd/pkg/tools/docker/docker_test.go
Due: eng/pipelines/release-cli.yml

feat: wire local-preflight gate into azd validate pipeline
  cli/azd/internal/cmd/provision_test.go
  cli/azd/internal/cmd/validate.go
  cli/azd/internal/grpcserver/external_provisioning_provider.go
  cli/azd/pkg/devcenter/provision_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/manager.go
  cli/azd/pkg/infra/provisioning/provider.go
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider.go
  cli/azd/pkg/infra/provisioning/test/test_provider.go
  cli/azd/pkg/validate/gate_local_preflight.go
Due: eng/pipelines/release-cli.yml

fix: use --env production for SWA production deploys instead of omitting --env
  cli/azd/pkg/project/service_target_staticwebapp.go
  cli/azd/pkg/project/service_target_staticwebapp_test.go
  cli/azd/pkg/tools/swa/swa.go
  cli/azd/pkg/tools/swa/swa_test.go
  docs/reference/azure-yaml-schema.md
Due: eng/pipelines/release-cli.yml

Update Bicep CLI to v0.44.1 (#8594)
  .github/workflows/lint-bicep.yml
  cli/azd/pkg/tools/bicep/bicep.go
Due: eng/pipelines/release-cli.yml

chore: add staticwebapp options to azure.yaml JSON schema
  schemas/alpha/azure.yaml.json
  schemas/v1.0/azure.yaml.json
Due: none

fix: normalize production/prod/default in both API and CLI environment mappings
  cli/azd/pkg/project/service_target_staticwebapp.go
  cli/azd/pkg/project/service_target_staticwebapp_test.go
Due: eng/pipelines/release-cli.yml

[fix] Align `azd ai agent optimize`/`eval` with the V2Preview optimization API (#8589)
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_api_version_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_generate.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_generate_jobs.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_generate_prompts.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_generate_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_run.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_update.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_apply.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_apply_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_config.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_config_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_deploy.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_helpers_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_list.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_prompts.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_prompts_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_status.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/eval_config.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/eval_config_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/generation.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/generation_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/models.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/operations_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/opt_eval/yaml.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/opt_eval/yaml_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/optimize_api/client.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/optimize_api/client_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/optimize_api/models.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/optimize_api/models_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/optimize_api/poller_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

hashed ExeGraphStepNameKey, ExeGraphStepDepsKey
  cli/azd/internal/tracing/fields/fields.go
  cli/azd/pkg/exegraph/scheduler.go
Due: eng/pipelines/release-cli.yml

update schema
  .vscode/cspell.misc.yaml
  docs/specs/metrics-audit/telemetry-schema.md
Due: none

update telemetry matrix
  docs/specs/metrics-audit/feature-telemetry-matrix.md
Due: none

update checklist
  docs/specs/metrics-audit/privacy-review-checklist.md
Due: none

hashed hook name
  .vscode/cspell.misc.yaml
  cli/azd/cmd/hooks.go
  cli/azd/pkg/ext/hooks_runner.go
  cli/azd/pkg/ext/known_hooks.go
  docs/specs/metrics-audit/privacy-review-checklist.md
Due: eng/pipelines/release-cli.yml

minor update on docs
  docs/specs/metrics-audit/feature-telemetry-matrix.md
  docs/specs/metrics-audit/telemetry-schema.md
Due: none

minor adjust
  docs/specs/metrics-audit/feature-telemetry-matrix.md
  docs/specs/metrics-audit/privacy-review-checklist.md
  docs/specs/metrics-audit/telemetry-schema.md
Due: none

fix(agents): preserve Foundry ${{...}} through ${VAR} expansion
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/run.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/templating.go
  cli/azd/extensions/azure.ai.agents/internal/project/templating_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat(agents): add microsoft.foundry azure.yaml schema
  cli/azd/extensions/azure.ai.agents/schemas/Agent.json
  cli/azd/extensions/azure.ai.agents/schemas/Connection.json
  cli/azd/extensions/azure.ai.agents/schemas/Deployment.json
  cli/azd/extensions/azure.ai.agents/schemas/FileRef.json
  cli/azd/extensions/azure.ai.agents/schemas/Routine.json
  cli/azd/extensions/azure.ai.agents/schemas/Skill.json
  cli/azd/extensions/azure.ai.agents/schemas/Toolbox.json
  cli/azd/extensions/azure.ai.agents/schemas/microsoft.foundry.json
  schemas/alpha/azure.yaml.json
  schemas/v1.0/azure.yaml.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
