Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool-mms-win-2022-general
      vmImage: MMS2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
        PublishAnalysisLogs: false
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-vscode.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/vscode-build-and-test.yml
      - template: /eng/pipelines/templates/stages/vscode-sign.yml
  ...

eng/pipelines/repoman.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: Validation
        variables:
        - template: /eng/pipelines/templates/variables/globals.yml
        - name: StagingRemoteName
          value: azure-samples-staging
        jobs:
  ...

eng/pipelines/template-tests.yml:
  jobs:
  - template: /eng/pipelines/templates/jobs/run-template-tests.yml
    parameters:
      AzdVersion: ${{ parameters.AzdVersion }}
      UseAzdVersionFromPrNumber: true
      TemplateList: ${{ parameters.TemplateList }}
      TemplateListFilter: ${{ parameters.TemplateListFilter }}
  ...

Update module name
  templates/todo/projects/csharp-cosmos-sql/.repo/bicep/infra/main.bicep
  templates/todo/projects/csharp-sql-swa-func/.repo/bicep/infra/main.bicep
  templates/todo/projects/csharp-sql/.repo/bicep/infra/main.bicep
  templates/todo/projects/java-mongo-aca/.repo/bicep/infra/main.bicep
  templates/todo/projects/java-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo-aca/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo-aks/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo-swa-func/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo-aca/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo-swa-func/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo/.repo/bicep/infra/main.bicep
Due: eng/pipelines/repoman.yml

fix ut
  cli/azd/internal/repository/infra_confirm_test.go
Due: eng/pipelines/release-cli.yml

Update version, changelog for 0.8.4
  ext/vscode/CHANGELOG.md
  ext/vscode/package-lock.json
  ext/vscode/package.json
Due: eng/pipelines/release-vscode.yml

Update version, changelog for 0.8.4 (#4494)
  ext/vscode/CHANGELOG.md
  ext/vscode/package-lock.json
  ext/vscode/package.json
Due: eng/pipelines/release-vscode.yml

Increment VSCode Extension version after release
  ext/vscode/package-lock.json
  ext/vscode/package.json
Due: eng/pipelines/release-vscode.yml

Increment VSCode Extension version after release (#4496)
  ext/vscode/package-lock.json
  ext/vscode/package.json
Due: eng/pipelines/release-vscode.yml

refactor db prompt
  cli/azd/internal/repository/infra_confirm.go
  cli/azd/internal/repository/infra_confirm_test.go
Due: eng/pipelines/release-cli.yml

chore: refactor infra generation app_init.go (#4486)
  cli/azd/internal/repository/app_init.go
  cli/azd/internal/repository/initializer.go
  cli/azd/internal/repository/initializer_test.go
Due: eng/pipelines/release-cli.yml

compose: enable synth-infra and temp-infra
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/internal/scaffold/scaffold.go
  cli/azd/pkg/alpha/alpha_features.go
  cli/azd/pkg/pipeline/pipeline_manager_test.go
  cli/azd/pkg/project/importer.go
  cli/azd/pkg/project/importer_test.go
  cli/azd/pkg/project/infra_spec_gen.go
  cli/azd/pkg/project/scaffold_gen.go
  cli/azd/resources/alpha_features.yaml
Due: eng/pipelines/release-cli.yml

compose: enable infra generation (#4475)
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/internal/scaffold/scaffold.go
  cli/azd/internal/scaffold/spec.go
  cli/azd/pkg/alpha/alpha_features.go
  cli/azd/pkg/pipeline/pipeline_manager_test.go
  cli/azd/pkg/project/importer.go
  cli/azd/pkg/project/importer_test.go
  cli/azd/pkg/project/scaffold_gen.go
  cli/azd/resources/alpha_features.yaml
Due: eng/pipelines/release-cli.yml

Update Install Azd - azdo task
  ext/azuredevops/CONTRIBUTING.md
  ext/azuredevops/setupAzd/package-lock.json
  ext/azuredevops/setupAzd/package.json
  ext/azuredevops/setupAzd/task.json
  ext/azuredevops/setupAzd/tests/InstallFail.ts
  ext/azuredevops/setupAzd/tests/InstallSuccess.ts
  ext/azuredevops/setupAzd/tests/invalidVersion.ts
  ext/azuredevops/vss-extension.json
Due: none

increase timeout for resolving 404
  ext/azuredevops/setupAzd/tests/InstallFail.ts
Due: none

fix ut
  cli/azd/test/functional/init_test.go
Due: eng/pipelines/release-cli.yml

Update module container-app-upsert version
  templates/todo/projects/java-mongo-aca/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo-aca/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo-aca/.repo/bicep/infra/main.bicep
Due: eng/pipelines/repoman.yml

Support detecting event hubs by analyzing pom.xml and application.yml (#3)
  cli/azd/internal/appdetect/appdetect.go
  cli/azd/internal/appdetect/java.go
  cli/azd/internal/repository/app_init.go
  cli/azd/internal/repository/infra_confirm.go
  cli/azd/internal/scaffold/spec.go
  cli/azd/resources/scaffold/base/modules/set-event-hubs-namespace-connection-string.bicep
  cli/azd/resources/scaffold/templates/main.bicept
  cli/azd/resources/scaffold/templates/resources.bicept
Due: eng/pipelines/release-cli.yml

add alpha switch
  cli/azd/internal/repository/app_init.go
  cli/azd/test/functional/init_test.go
Due: eng/pipelines/release-cli.yml

yamldot: Dotted-path YAML manipulation
  cli/azd/pkg/yamlnode/yamlnode.go
  cli/azd/pkg/yamlnode/yamlnode_test.go
Due: eng/pipelines/release-cli.yml

azdo ext add node 20 for warning (#4497)
  ext/azuredevops/CONTRIBUTING.md
  ext/azuredevops/setupAzd/package-lock.json
  ext/azuredevops/setupAzd/package.json
  ext/azuredevops/setupAzd/task.json
  ext/azuredevops/setupAzd/tests/InstallFail.ts
  ext/azuredevops/setupAzd/tests/InstallSuccess.ts
  ext/azuredevops/setupAzd/tests/invalidVersion.ts
  ext/azuredevops/vss-extension.json
Due: none

Support detect Azure Event Hubs - 2 (#6)
  cli/azd/.vscode/cspell.yaml
  cli/azd/cmd/root.go
  cli/azd/internal/appdetect/appdetect.go
  cli/azd/internal/appdetect/java.go
  cli/azd/internal/repository/app_init.go
  cli/azd/internal/repository/infra_confirm.go
  cli/azd/internal/scaffold/spec.go
  cli/azd/resources/scaffold/templates/resources.bicept
Due: eng/pipelines/release-cli.yml

switch to service bus avm (#7)
  cli/azd/resources/scaffold/base/modules/set-servicebus-namespace-connection-string.bicep
  cli/azd/resources/scaffold/templates/azure-service-bus.bicept
  cli/azd/resources/scaffold/templates/resources.bicept
Due: eng/pipelines/release-cli.yml

revert back
  cli/azd/test/functional/testdata/recordings/Test_CLI_ProvisionState.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_ProvisionStateWithDown.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_Up_Down_ContainerApp.docker.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_Up_Down_ContainerApp.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_Up_Down_ContainerApp_RemoteBuild.yaml
  cli/azd/test/functional/testdata/recordings/Test_StorageBlobClient.yaml
  cli/azd/test/functional/testdata/recordings/Test_StorageBlobClient/Crud.yaml
Due: eng/pipelines/release-cli.yml

Changed golangci-lint feature to updated repo
  .devcontainer/devcontainer.json
  .devcontainer/light/devcontainer.json
Due: none

add alpha switch (#4500)
  cli/azd/internal/repository/app_init.go
  cli/azd/test/functional/init_test.go
Due: eng/pipelines/release-cli.yml

Refactor db prompt (#4487)
  cli/azd/internal/repository/infra_confirm.go
  cli/azd/internal/repository/infra_confirm_test.go
Due: eng/pipelines/release-cli.yml

refactor port prompt
  cli/azd/internal/repository/infra_confirm.go
Due: eng/pipelines/release-cli.yml

update cspell
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/pkg/yamlnode/yamlnode.go
  cli/azd/pkg/yamlnode/yamlnode_test.go
Due: eng/pipelines/release-cli.yml

apply error on deployment stack
  cli/azd/pkg/azapi/stack_deployments.go
Due: eng/pipelines/release-cli.yml

Support detect Azure Event Hubs, connect by connection string. (#8)
  cli/azd/internal/repository/infra_confirm.go
  cli/azd/resources/scaffold/base/modules/set-event-hubs-namespace-connection-string.bicep
  cli/azd/resources/scaffold/base/modules/set-servicebus-namespace-connection-string.bicep
  cli/azd/resources/scaffold/base/modules/set-storage-account-connection-string.bicep
  cli/azd/resources/scaffold/templates/resources.bicept
Due: eng/pipelines/release-cli.yml

compose: add experimental envsubst support
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/pkg/project/scaffold_gen.go
  cli/azd/pkg/project/scaffold_gen_test.go
  cli/azd/pkg/project/scaffold_gen_util.go
  cli/azd/pkg/project/scaffold_gen_util_test.go
Due: eng/pipelines/release-cli.yml

compose: generate openai in the backend
  cli/azd/internal/scaffold/spec.go
  cli/azd/pkg/project/scaffold_gen.go
  cli/azd/resources/scaffold/templates/resources.bicept
Due: eng/pipelines/release-cli.yml

Adds outputs API to devcentersdk
  cli/azd/pkg/devcentersdk/api_version_policy.go
  cli/azd/pkg/devcentersdk/developer_client_test.go
  cli/azd/pkg/devcentersdk/environment_request_builders.go
  cli/azd/pkg/devcentersdk/models.go
  cli/azd/pkg/devcentersdk/outputs_request_builder.go
Due: eng/pipelines/release-cli.yml

wip
  cli/azd/pkg/devcenter/manager.go
  cli/azd/pkg/devcentersdk/developer_client_test.go
  cli/azd/pkg/devcentersdk/models.go
Due: eng/pipelines/release-cli.yml

Updates output param processing for ADE
  cli/azd/pkg/devcenter/manager.go
  cli/azd/pkg/devcenter/manager_test.go
  cli/azd/pkg/devcenter/provision_provider.go
Due: eng/pipelines/release-cli.yml

Updates outputs param type parsing
  cli/azd/pkg/devcenter/manager.go
  cli/azd/test/functional/testdata/recordings/Test_CLI_DevCenter_Init_Up_Down.yaml
Due: eng/pipelines/release-cli.yml

Removes additional marshalling in the devcenter provider since it is already handled in platform
  cli/azd/pkg/devcenter/manager.go
  cli/azd/pkg/devcenter/manager_test.go
Due: eng/pipelines/release-cli.yml

Minor updates
  cli/azd/pkg/devcenter/provision_provider.go
Due: eng/pipelines/release-cli.yml

Fixes lint issues
  cli/azd/pkg/devcentersdk/developer_client_test.go
Due: eng/pipelines/release-cli.yml

compose: generate openai in the backend (#4511)
  cli/azd/internal/scaffold/spec.go
  cli/azd/pkg/project/scaffold_gen.go
  cli/azd/resources/scaffold/templates/resources.bicept
Due: eng/pipelines/release-cli.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
