Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

Rebase the path keys an extension owns, and edit YAML at any path (#9798)
  cli/azd/pkg/foundry/includes.go
  cli/azd/pkg/foundry/includes_edit.go
  cli/azd/pkg/foundry/includes_edit_generic_test.go
  cli/azd/pkg/foundry/includes_pathkeys_test.go
  cli/azd/pkg/yamlnode/yamlnode.go
Due: eng/pipelines/release-cli.yml

Surface a listing that will not decode, and publish the rows already read
  cli/azd/extensions/azure.ai.dataset/internal/cmd/dataset.go
  cli/azd/extensions/azure.ai.dataset/internal/messages/messages.go
  cli/azd/extensions/azure.ai.dataset/internal/pkg/dataset_api/blob_pages_test.go
  cli/azd/extensions/azure.ai.dataset/internal/pkg/dataset_api/operations.go
  cli/azd/extensions/azure.ai.dataset/internal/pkg/dataset_api/upload_uris_test.go
  cli/azd/extensions/azure.ai.dataset/internal/pkg/dataset_api/upload_version_test.go
  cli/azd/extensions/azure.ai.dataset/internal/pkg/dataset_api/version_selection_test.go
Due: eng/pipelines/release-azd-extension.yml

Reject an output format these commands do not implement, and own the directory
  .github/CODEOWNERS
  cli/azd/extensions/azure.ai.dataset/internal/cmd/dataset.go
  cli/azd/extensions/azure.ai.dataset/internal/cmd/output.go
Due: eng/pipelines/release-azd-extension.yml

Reset the dataset extension to its first version
  cli/azd/extensions/azure.ai.dataset/CHANGELOG.md
  cli/azd/extensions/azure.ai.dataset/extension.yaml
  cli/azd/extensions/azure.ai.dataset/version.txt
Due: eng/pipelines/release-azd-extension.yml

Let the version listing settle before update counts from it
  cli/azd/extensions/azure.ai.dataset/internal/cmd/dataset.go
  cli/azd/extensions/azure.ai.dataset/internal/cmd/version_settle_test.go
Due: eng/pipelines/release-azd-extension.yml

Re-enable extension PR publishing for forks (#9812)
  eng/pipelines/templates/stages/publish-extension-pr.yml
Due: none

Answer an unknown dataset name without the HTTP response that produced it
  cli/azd/extensions/azure.ai.dataset/internal/cmd/dataset.go
  cli/azd/extensions/azure.ai.dataset/internal/cmd/unknown_name_test.go
  eng/pipelines/release-ext-azure-ai-dataset.yml
Due: eng/pipelines/release-azd-extension.yml

Use errors.AsType for the credential check, like the rest of the module
  cli/azd/extensions/azure.ai.dataset/internal/messages/messages.go
Due: eng/pipelines/release-azd-extension.yml

Add Antigravity CLI detection
  cli/azd/cmd/auto_install.go
  cli/azd/cmd/auto_install_integration_test.go
  cli/azd/cmd/auto_install_test.go
  cli/azd/docs/environment-variables.md
  cli/azd/internal/runcontext/agentdetect/detect_env.go
  cli/azd/internal/runcontext/agentdetect/detect_process.go
  cli/azd/internal/runcontext/agentdetect/detect_test.go
  cli/azd/internal/runcontext/agentdetect/types.go
  cli/azd/internal/terminal/terminal.go
  cli/azd/internal/terminal/terminal_test.go
  cli/azd/internal/tracing/fields/fields.go
  cli/azd/internal/tracing/resource/exec_environment.go
  cli/azd/internal/tracing/resource/resource_test.go
  docs/reference/telemetry-data.md
  docs/specs/metrics-audit/feature-telemetry-matrix.md
  docs/specs/metrics-audit/telemetry-schema.md
Due: eng/pipelines/release-cli.yml

fix(deps): update gRPC security release across Go modules
  cli/azd/extensions/azure.ai.agents/go.mod
  cli/azd/extensions/azure.ai.agents/go.sum
  cli/azd/extensions/azure.ai.connections/go.mod
  cli/azd/extensions/azure.ai.connections/go.sum
  cli/azd/extensions/azure.ai.finetune/go.mod
  cli/azd/extensions/azure.ai.finetune/go.sum
  cli/azd/extensions/azure.ai.inspector/go.mod
  cli/azd/extensions/azure.ai.inspector/go.sum
  cli/azd/extensions/azure.ai.models/go.mod
  cli/azd/extensions/azure.ai.models/go.sum
  cli/azd/extensions/azure.ai.projects/go.mod
  cli/azd/extensions/azure.ai.projects/go.sum
  cli/azd/extensions/azure.ai.rle/go.mod
  cli/azd/extensions/azure.ai.rle/go.sum
  cli/azd/extensions/azure.ai.routines/go.mod
  cli/azd/extensions/azure.ai.routines/go.sum
  cli/azd/extensions/azure.ai.skills/go.mod
  cli/azd/extensions/azure.ai.skills/go.sum
  cli/azd/extensions/azure.ai.toolboxes/go.mod
  cli/azd/extensions/azure.ai.toolboxes/go.sum
  cli/azd/extensions/azure.ai.training/go.mod
  cli/azd/extensions/azure.ai.training/go.sum
  cli/azd/extensions/azure.appservice/go.mod
  cli/azd/extensions/azure.appservice/go.sum
  cli/azd/extensions/azure.coding-agent/go.mod
  cli/azd/extensions/azure.coding-agent/go.sum
  cli/azd/extensions/microsoft.azd.concurx/go.mod
  cli/azd/extensions/microsoft.azd.concurx/go.sum
  cli/azd/go.mod
  cli/azd/go.sum
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml

fix: align OpenTelemetry after gRPC upgrade
  cli/azd/cmd/extension_test.go
  cli/azd/cmd/extension_upgrade_test.go
  cli/azd/cmd/middleware/telemetry_test.go
  cli/azd/go.mod
  cli/azd/go.sum
  cli/azd/internal/telemetry/appinsights-exporter/span_to_envelope.go
  cli/azd/internal/telemetry/appinsights-exporter/span_to_envelope_test.go
  cli/azd/internal/tracing/resource/resource.go
  cli/azd/pkg/extensions/manager_test.go
Due: eng/pipelines/release-cli.yml

fix: update Go extension scaffold dependencies
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/go/go.mod.tmpl
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/go/go.sum
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

refactor: keep preview gRPC services in v1beta
  cli/azd/cmd/extension_action_test.go
  cli/azd/cmd/middleware/extensions_start_test.go
  cli/azd/docs/extensions/contract-versioning.md
  cli/azd/docs/extensions/extension-sdk-reference.md
  cli/azd/extensions/microsoft.azd.ai.builder/internal/cmd/start.go
  cli/azd/extensions/microsoft.azd.demo/internal/cmd/copilot.go
  cli/azd/grpc/README.md
  cli/azd/grpc/generateadapters/main.go
  cli/azd/grpc/generateadapters/main_test.go
  cli/azd/grpc/proto/azd/extensions/v1/compose.proto
  cli/azd/grpc/proto/azd/extensions/v1/copilot.proto
  cli/azd/internal/grpcserver/compose_service.go
  cli/azd/internal/grpcserver/compose_service_test.go
  cli/azd/internal/grpcserver/copilot_service.go
  cli/azd/internal/grpcserver/copilot_service_test.go
  cli/azd/internal/grpcserver/legacy_services.go
  cli/azd/internal/grpcserver/legacybridge/bridge.go
  cli/azd/internal/grpcserver/legacybridge/bridge_test.go
  cli/azd/internal/grpcserver/prompt_service_test.go
  cli/azd/internal/grpcserver/server.go
  cli/azd/internal/grpcserver/server_test.go
  cli/azd/internal/grpcserver/versioned_services.go
  cli/azd/internal/grpcserver/versioned_services_generated.go
  cli/azd/internal/grpcserver/versioned_services_test.go
  cli/azd/pkg/azdext/azd_client.go
  cli/azd/pkg/azdext/contracts/v1/compose.pb.go
  cli/azd/pkg/azdext/contracts/v1/compose_grpc.pb.go
  cli/azd/pkg/azdext/contracts/v1/copilot.pb.go
  cli/azd/pkg/azdext/contracts/v1/copilot_grpc.pb.go
  cli/azd/pkg/azdext/contracts/versioning_test.go
  cli/azd/pkg/azdext/contracts_v1_aliases.go
  cli/azd/pkg/project/mapper_registry.go
  cli/azd/pkg/project/mapper_registry_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml

fix: bridge legacy extension gRPC services
  .vscode/cspell.misc.yaml
  cli/azd/.vscode/cspell.yaml
  cli/azd/cmd/telemetry_test.go
  cli/azd/internal/grpcserver/legacy_services.go
  cli/azd/internal/grpcserver/legacybridge/bridge.go
  cli/azd/internal/grpcserver/legacybridge/bridge_test.go
  cli/azd/internal/grpcserver/server.go
  cli/azd/internal/grpcserver/server_test.go
  cli/azd/internal/grpcserver/versioned_services.go
  cli/azd/internal/tracing/fields/fields.go
  docs/reference/telemetry-data.md
  docs/specs/metrics-audit/feature-telemetry-matrix.md
  docs/specs/metrics-audit/telemetry-schema.md
Due: eng/pipelines/release-cli.yml

docs: fix extension contract spelling
  cli/azd/docs/extensions/contract-versioning.md
  cli/azd/docs/extensions/extension-sdk-reference.md
Due: eng/pipelines/release-cli.yml

Restore gRPC server coverage
  cli/azd/grpc/generateadapters/main.go
  cli/azd/grpc/generateadapters/main_test.go
  cli/azd/internal/grpcserver/server_test.go
  cli/azd/internal/grpcserver/versioned_services.go
  cli/azd/internal/grpcserver/versioned_services_generated.go
  cli/azd/internal/grpcserver/versioned_services_test.go
Due: eng/pipelines/release-cli.yml

Require versioned gRPC host for scaffolds
  cli/azd/extensions/microsoft.azd.extensions/extension.yaml
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/init.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/init_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

Reset the evaluations extension to its first version
  cli/azd/extensions/azure.ai.evaluations/CHANGELOG.md
  cli/azd/extensions/azure.ai.evaluations/extension.yaml
  cli/azd/extensions/azure.ai.evaluations/version.txt
Due: eng/pipelines/release-azd-extension.yml

Stop three failures from being read as answers
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run_output.go
  cli/azd/extensions/azure.ai.evaluations/internal/messages/messages.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/dataset_api/download_wire_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/dataset_api/operations.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/eval_api/evaluators.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/eval_api/operations.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/authored_config.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/config_shape_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/eval_config_edit.go
Due: eng/pipelines/release-azd-extension.yml

Keep a SAS out of the error a bad nextLink produces
  cli/azd/extensions/azure.ai.dataset/internal/messages/messages.go
  cli/azd/extensions/azure.ai.dataset/internal/pkg/dataset_api/nextlink_redaction_test.go
  cli/azd/extensions/azure.ai.dataset/internal/pkg/dataset_api/pages.go
Due: eng/pipelines/release-azd-extension.yml

Let a published name be read back, and stop three more failures reading as answers
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/asset_name_parity_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/bugbash_findings_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/context.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/dataset.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/evaluator.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/names.go
  cli/azd/extensions/azure.ai.evaluations/internal/messages/messages.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/dataset_api/pages.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/eval_api/models.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/eval_api/pages.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/eval_config_lock.go
Due: eng/pipelines/release-azd-extension.yml

Confirm an eval named by an explicit id before accepting it
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/reconciler.go
Due: eng/pipelines/release-azd-extension.yml

Name the scaffolded artifacts in the next step init prints
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/init.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/init_test.go
Due: eng/pipelines/release-azd-extension.yml

Own the directory, watch the shared pipeline files, and say where the id is kept
  .github/CODEOWNERS
  cli/azd/extensions/azure.ai.evaluations/README.md
  cli/azd/extensions/azure.ai.evaluations/schemas/azure.ai.eval.json
  eng/pipelines/release-ext-azure-ai-evaluations.yml
Due: eng/pipelines/release-azd-extension.yml

Use spellings the repo dictionary knows
  cli/azd/extensions/azure.ai.evaluations/CHANGELOG.md
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run_output.go
Due: eng/pipelines/release-azd-extension.yml

Pick the newest previous run here too, not the first row listed
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run.go
Due: eng/pipelines/release-azd-extension.yml

Refuse to write private state over a baseline nobody could read
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/context.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/private_state_read_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/reconciler_env_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/messages/messages.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/service_target_eval.go
Due: eng/pipelines/release-azd-extension.yml

fix(extensions): warn on insecure bundle redirects
  .github/skills/azd-code-reviewer/reviewers.md
  cli/azd/cmd/extension.go
  cli/azd/cmd/extension_bundle_test.go
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-extension-install.snap
  cli/azd/docs/extensions/extension-resolution-and-versioning.md
  cli/azd/docs/fig-spec.md
  cli/azd/internal/figspec/customizations.go
  cli/azd/internal/figspec/customizations_test.go
Due: eng/pipelines/release-cli.yml

fix: refine agent detection and interactive behaviour
  cli/azd/.vscode/cspell.yaml
  cli/azd/cmd/auto_install.go
  cli/azd/cmd/auto_install_integration_test.go
  cli/azd/cmd/auto_install_test.go
  cli/azd/cmd/init.go
  cli/azd/cmd/init_test.go
  cli/azd/cmd/middleware/extensions.go
  cli/azd/docs/environment-variables.md
  cli/azd/docs/extensions/extension-sdk-reference.md
  cli/azd/internal/runcontext/agentdetect/detect.go
  cli/azd/internal/runcontext/agentdetect/detect_env.go
  cli/azd/internal/runcontext/agentdetect/detect_test.go
  cli/azd/internal/runcontext/agentdetect/types.go
  cli/azd/internal/terminal/terminal.go
  cli/azd/internal/terminal/terminal_test.go
  cli/azd/internal/tracing/fields/fields.go
  cli/azd/internal/tracing/resource/exec_environment.go
  cli/azd/internal/tracing/resource/resource_test.go
  cli/azd/pkg/azdext/tui.go
  cli/azd/pkg/azdext/tui_test.go
  cli/azd/pkg/input/prompt_required_error.go
  docs/reference/telemetry-data.md
  docs/specs/metrics-audit/feature-telemetry-matrix.md
  docs/specs/metrics-audit/telemetry-schema.md
Due: eng/pipelines/release-cli.yml

fix: separate prompt detection from TTY rendering
  cli/azd/cmd/auto_install.go
  cli/azd/cmd/auto_install_test.go
  cli/azd/internal/terminal/terminal.go
  cli/azd/internal/terminal/terminal_test.go
Due: eng/pipelines/release-cli.yml

Use a spelling the repo dictionary knows
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/context.go
Due: eng/pipelines/release-azd-extension.yml

Separate command parsing from command execution
  cli/azd/docs/environment-variables.md
  cli/azd/extensions/azure.ai.dataset/internal/cmd/dataset.go
  cli/azd/extensions/azure.ai.dataset/internal/cmd/output_table_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

fix(ai-agents): defer endpoint authorization defaults to service (#9846)
  cli/azd/extensions/azure.ai.agents/internal/cmd/update_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/activity_profile.go
  cli/azd/extensions/azure.ai.agents/internal/project/activity_profile_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/direct_deploy.go
  cli/azd/extensions/azure.ai.agents/internal/project/direct_deploy_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

docs(extensions): explain redirect URL disclosure
  .github/skills/azd-code-reviewer/reviewers.md
  cli/azd/cmd/extension.go
Due: eng/pipelines/release-cli.yml

Separate command parsing from command execution: dataset and evaluator
  cli/azd/docs/environment-variables.md
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/dataset.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/evaluator.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/output_table_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Separate parsing from execution: job commands
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/job.go
Due: eng/pipelines/release-azd-extension.yml

[microsoft.azd.demo] Nightly registry update for 0.8.0-nightly.6780297
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml
