Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

do not use extra function and add comments
  cli/azd/pkg/azure/arm_template.go
  cli/azd/pkg/azure/arm_template_test.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
Due: eng/pipelines/release-cli.yml

Moving param auto gen outside of prompt logic (#3758)
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/prompt.go
Due: eng/pipelines/release-cli.yml

resolving host
  cli/azd/pkg/apphost/aca_ingress.go
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/apphost/testdata/TestAspireDockerGeneration-api.snap
Due: eng/pipelines/release-cli.yml

no scheme
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/apphost/testdata/TestAspireDockerGeneration-api.snap
Due: eng/pipelines/release-cli.yml

revert
  cli/azd/pkg/containerapps/container_app.go
Due: eng/pipelines/release-cli.yml

Fix resolving binding references to additionalPorts (#3735)
  cli/azd/pkg/apphost/aca_ingress.go
  cli/azd/pkg/apphost/aca_ingress_test.go
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/apphost/generate_test.go
  cli/azd/pkg/apphost/manifest.go
  cli/azd/pkg/apphost/testdata/TestAspireContainerGeneration-resources.bicep.snap
  cli/azd/pkg/apphost/testdata/TestAspireDockerGeneration-api.snap
  cli/azd/pkg/apphost/testdata/TestAspireDockerGeneration-nodeapp.snap
  cli/azd/pkg/apphost/testdata/aspire-docker.json
Due: eng/pipelines/release-cli.yml

re-enable aspire functional test for p5
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.AppHost/AspireAzdTests.AppHost.csproj
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.AppHost/Program.cs
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.ServiceDefaults/AspireAzdTests.ServiceDefaults.csproj
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.ServiceDefaults/Extensions.cs
  cli/azd/test/functional/testdata/samples/aspire-full/Directory.Build.props
  cli/azd/test/functional/testdata/snaps/aspire-full/AspireAzdTests.ApiService/manifests/containerApp.tmpl.yaml
  cli/azd/test/functional/testdata/snaps/aspire-full/AspireAzdTests.Web/manifests/containerApp.tmpl.yaml
  cli/azd/test/functional/testdata/snaps/aspire-full/aspire.hosting.azure.bicep.storage.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/infra/main.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/infra/storage/aspire.hosting.azure.bicep.storage.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/infra/storage/storage.module.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/manifest.json
  cli/azd/test/functional/testdata/snaps/aspire-full/storage.module.bicep
Due: eng/pipelines/release-cli.yml

vs-server test
  cli/azd/test/functional/aspire_test.go
  cli/azd/test/functional/vs_server_test.go
Due: eng/pipelines/release-cli.yml

call restore aspire
  cli/azd/test/functional/aspire_test.go
Due: eng/pipelines/release-cli.yml

vs-server test fixes for cert
  cli/azd/test/functional/testdata/recordings/Test_CLI_VsServer/LiveDeployRefresh.dotnet.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_VsServer/LiveDeployRefresh.yaml
  cli/azd/test/functional/testdata/vs-server/tests/TestBase.cs
Due: eng/pipelines/release-cli.yml

fix golangci-lint
  cli/azd/pkg/azsdk/zip_deploy_client.go
Due: eng/pipelines/release-cli.yml

update validateTargetResource in test
  cli/azd/pkg/project/service_target_appservice_test.go
Due: eng/pipelines/release-cli.yml

update status message
  cli/azd/pkg/azsdk/zip_deploy_client.go
Due: eng/pipelines/release-cli.yml

Update cognitiveservices.bicep
  templates/common/infra/bicep/core/ai/cognitiveservices.bicep
Due: eng/pipelines/repoman.yml

Add agent wrapping to pipeline config command
  ext/vscode/src/commands/pipeline.ts
Due: eng/pipelines/release-vscode.yml

Re-enabling aspire functional tests with p5 (#3760)
  cli/azd/test/functional/aspire_test.go
  cli/azd/test/functional/testdata/recordings/Test_CLI_VsServer/LiveDeployRefresh.dotnet.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_VsServer/LiveDeployRefresh.yaml
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.AppHost/AspireAzdTests.AppHost.csproj
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.AppHost/Program.cs
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.ServiceDefaults/AspireAzdTests.ServiceDefaults.csproj
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.ServiceDefaults/Extensions.cs
  cli/azd/test/functional/testdata/samples/aspire-full/Directory.Build.props
  cli/azd/test/functional/testdata/snaps/aspire-full/AspireAzdTests.ApiService/manifests/containerApp.tmpl.yaml
  cli/azd/test/functional/testdata/snaps/aspire-full/AspireAzdTests.Web/manifests/containerApp.tmpl.yaml
  cli/azd/test/functional/testdata/snaps/aspire-full/aspire.hosting.azure.bicep.storage.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/infra/main.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/infra/storage/aspire.hosting.azure.bicep.storage.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/infra/storage/storage.module.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/manifest.json
  cli/azd/test/functional/testdata/snaps/aspire-full/storage.module.bicep
  cli/azd/test/functional/testdata/vs-server/tests/TestBase.cs
  cli/azd/test/functional/vs_server_test.go
Due: eng/pipelines/release-cli.yml

Remove subTenantResolver
  cli/azd/cmd/auth_token.go
  cli/azd/cmd/auth_token_test.go
  cli/azd/cmd/container.go
  cli/azd/cmd/monitor.go
  cli/azd/pkg/account/subscriptions.go
  cli/azd/pkg/infra/provisioning/current_principal_id_provider.go
  cli/azd/test/mocks/mockaccount/mock_manager.go
Due: eng/pipelines/release-cli.yml

Update CHANGELOG.md and version.txt for release 1.8.1
  cli/azd/CHANGELOG.md
  cli/version.txt
Due: eng/pipelines/release-cli.yml

Adding alpha.aspire.dashboard to publish aspire dashboard
  cli/azd/internal/repository/app_init.go
  cli/azd/internal/repository/initializer.go
  cli/azd/internal/repository/initializer_test.go
  cli/azd/internal/vsrpc/environment_service_create.go
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/apphost/generate_test.go
  cli/azd/pkg/apphost/generate_types.go
  cli/azd/pkg/apphost/testdata/TestAspireDashboardGeneration-main.bicep.snap
  cli/azd/pkg/apphost/testdata/TestAspireDashboardGeneration-main.parameters.json.snap
  cli/azd/pkg/apphost/testdata/TestAspireDashboardGeneration-resources.bicep.snap
  cli/azd/pkg/project/dotnet_importer.go
  cli/azd/pkg/project/service_target_dotnet_containerapp.go
  cli/azd/resources/alpha_features.yaml
  cli/azd/resources/apphost/templates/resources.bicept
Due: eng/pipelines/release-cli.yml

Update CHANGELOG.md with bug fix for cross-build configuration
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

Fix setting alpha.aspire.dashboard in TestAspireDashboardGeneration
  cli/azd/pkg/apphost/generate_test.go
Due: eng/pipelines/release-cli.yml

Add support in ACA for keyvault identities
  templates/common/infra/bicep/core/host/container-app-upsert.bicep
  templates/common/infra/bicep/core/host/container-app.bicep
Due: eng/pipelines/repoman.yml

decouple apphost from alpha features
  cli/azd/internal/repository/initializer.go
  cli/azd/internal/vsrpc/environment_service_create.go
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/apphost/generate_test.go
  cli/azd/pkg/project/dotnet_importer.go
  cli/azd/pkg/project/service_target_dotnet_containerapp.go
  cli/azd/pkg/tools/docker/docker.go
Due: eng/pipelines/release-cli.yml

make it more go
  cli/azd/internal/repository/initializer.go
  cli/azd/internal/vsrpc/environment_service_create.go
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/apphost/generate_test.go
  cli/azd/pkg/project/dotnet_importer.go
  cli/azd/pkg/project/service_target_dotnet_containerapp.go
Due: eng/pipelines/release-cli.yml

undo
  cli/azd/pkg/tools/docker/docker.go
Due: eng/pipelines/release-cli.yml

Update CHANGELOG.md and version.txt for release 1.8.1 (#3773)
  cli/azd/CHANGELOG.md
  cli/version.txt
Due: eng/pipelines/release-cli.yml

fix tests
  cli/azd/pkg/project/importer_test.go
Due: eng/pipelines/release-cli.yml

fix for live test
  cli/azd/test/functional/aspire_test.go
Due: eng/pipelines/release-cli.yml

fix for live test (#3776)
  cli/azd/test/functional/aspire_test.go
Due: eng/pipelines/release-cli.yml

do not run runLiveDotnetPlaywright
  cli/azd/test/functional/aspire_test.go
Due: eng/pipelines/release-cli.yml

do not run runLiveDotnetPlaywright (#3777)
  cli/azd/test/functional/aspire_test.go
Due: eng/pipelines/release-cli.yml

Increment CLI version after release
  cli/azd/CHANGELOG.md
  cli/version.txt
Due: eng/pipelines/release-cli.yml

Add a comment
  ext/vscode/src/extension.ts
Due: eng/pipelines/release-vscode.yml

Bump version for 0.8.2 release
  ext/vscode/CHANGELOG.md
  ext/vscode/package-lock.json
  ext/vscode/package.json
Due: eng/pipelines/release-vscode.yml

Changes to support other extensions (#3754)
  ext/vscode/src/commands/init.ts
  ext/vscode/src/commands/installCli.ts
  ext/vscode/src/commands/loginCli.ts
  ext/vscode/src/commands/pipeline.ts
  ext/vscode/src/commands/up.ts
  ext/vscode/src/extension.ts
  ext/vscode/src/utils/azureDevCli.ts
Due: eng/pipelines/release-vscode.yml

Add note about breaking change
  ext/vscode/CHANGELOG.md
Due: eng/pipelines/release-vscode.yml

Bump version for 0.8.2 release (#3780)
  ext/vscode/CHANGELOG.md
  ext/vscode/package-lock.json
  ext/vscode/package.json
Due: eng/pipelines/release-vscode.yml

Increment CLI version after release (#3779)
  cli/azd/CHANGELOG.md
  cli/version.txt
Due: eng/pipelines/release-cli.yml

Support `args` on `project.v0` and `dockerfile.v0` resources
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/apphost/generate_test.go
  cli/azd/pkg/apphost/generate_types.go
  cli/azd/pkg/apphost/manifest.go
  cli/azd/pkg/apphost/testdata/TestAspireArgsGeneration.snap
  cli/azd/pkg/apphost/testdata/TestAspireBicepGeneration-frontend.snap
  cli/azd/pkg/apphost/testdata/TestAspireDockerGeneration-api.snap
  cli/azd/pkg/apphost/testdata/TestAspireEscaping-api.snap
  cli/azd/pkg/apphost/testdata/aspire-args.json
  cli/azd/resources/apphost/templates/containerApp.tmpl.yamlt
  cli/azd/test/functional/testdata/snaps/aspire-full/AspireAzdTests.ApiService/manifests/containerApp.tmpl.yaml
  cli/azd/test/functional/testdata/snaps/aspire-full/AspireAzdTests.Web/manifests/containerApp.tmpl.yaml
Due: eng/pipelines/release-cli.yml

vs-server: Update api contracts to accept app host project path (#3749)
  cli/azd/internal/vsrpc/aspire_service.go
  cli/azd/internal/vsrpc/environment_service.go
  cli/azd/internal/vsrpc/environment_service_create.go
  cli/azd/internal/vsrpc/environment_service_deploy.go
  cli/azd/internal/vsrpc/environment_service_load.go
  cli/azd/internal/vsrpc/environment_service_refresh.go
  cli/azd/internal/vsrpc/models.go
  cli/azd/test/functional/testdata/vs-server/tests/AcceptanceTests.cs
  cli/azd/test/functional/testdata/vs-server/tests/AzdServices.cs
  cli/azd/test/functional/testdata/vs-server/tests/TestBase.cs
  cli/azd/test/functional/vs_server_test.go
Due: eng/pipelines/release-cli.yml
