Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

fail on tcp with no port
  cli/azd/pkg/apphost/aca_ingress.go
  cli/azd/pkg/apphost/aca_ingress_test.go
Due: eng/pipelines/release-cli.yml

Remove loading of exposedServices from VS
  cli/azd/internal/vsrpc/environment_service_load.go
Due: eng/pipelines/release-cli.yml

Remove from test files
  cli/azd/pkg/environment/environment_test.go
  cli/azd/pkg/project/importer_test.go
Due: eng/pipelines/release-cli.yml

Sync w/ main
  cli/azd/pkg/auth/guard.go
  cli/azd/pkg/project/service_target_aks.go
  cli/azd/pkg/project/service_target_aks_test.go
Due: eng/pipelines/release-cli.yml

Add cloud
  cli/azd/pkg/auth/guard.go
Due: eng/pipelines/release-cli.yml

templ
  cli/azd/resources/apphost/templates/containerApp.tmpl.yamlt
  cli/azd/resources/apphost/templates/resources.bicept
Due: eng/pipelines/release-cli.yml

Update cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/apphost/generate.go
Due: eng/pipelines/release-cli.yml

init: add --from-code flag (#3569)
  cli/azd/cmd/init.go
  cli/azd/cmd/testdata/TestUsage-azd-init.snap
Due: eng/pipelines/release-cli.yml

pin msbuild version
  eng/pipelines/templates/steps/build-msi.yml
Due: none

add global.json
  cli/installer/global.json
Due: eng/pipelines/release-cli.yml

upload binlog
  eng/pipelines/templates/jobs/build-cli.yml
  eng/pipelines/templates/steps/build-msi.yml
Due: none

disable more things
  eng/pipelines/templates/stages/build-and-test.yml
Due: none

more disable
  eng/pipelines/templates/stages/build-and-test.yml
  eng/pipelines/templates/steps/build-msi.yml
Due: none

disable xbuild
  eng/pipelines/templates/stages/build-and-test.yml
Due: none

try two paths
  eng/pipelines/templates/jobs/build-cli.yml
  eng/pipelines/templates/stages/build-and-test.yml
Due: none

try abs path
  eng/pipelines/templates/jobs/build-cli.yml
  eng/pipelines/templates/steps/build-msi.yml
Due: none

upgrade runtime
  cli/installer/windows/azd.wixproj
Due: eng/pipelines/release-cli.yml

Update runtime ver
  cli/installer/windows/azd.wixproj
Due: eng/pipelines/release-cli.yml

Remove the workaround altogether
  cli/installer/windows/azd.wixproj
Due: eng/pipelines/release-cli.yml

Remove workaround for WiX msbuild task load (#3617)
  cli/installer/windows/azd.wixproj
Due: eng/pipelines/release-cli.yml

eslint config
  eng/pipelines/templates/stages/1es-redirect.yml
Due: none

eslint config (#3618)
  eng/pipelines/templates/stages/1es-redirect.yml
Due: none

External Prompting (#3364)
  cli/azd/cmd/container.go
  cli/azd/docs/external-prompting.md
  cli/azd/internal/repository/detect_confirm_test.go
  cli/azd/internal/repository/infra_confirm_test.go
  cli/azd/internal/repository/prompt_util.go
  cli/azd/internal/vsrpc/server_service.go
  cli/azd/internal/vsrpc/server_session.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/prompt.go
  cli/azd/pkg/input/console.go
  cli/azd/pkg/input/console_test.go
  cli/azd/pkg/input/external_prompt_client.go
  cli/azd/pkg/templates/template_manager.go
  cli/azd/test/mocks/mockinput/mock_console.go
Due: eng/pipelines/release-cli.yml

update modules from core to avm
  templates/todo/common/infra/bicep/app/apim-api-settings.bicep
  templates/todo/common/infra/bicep/app/applicationinsights-dashboard.bicep
  templates/todo/projects/csharp-sql/.repo/bicep/infra/main.bicep
  templates/todo/projects/csharp-sql/.repo/bicep/repo.yaml
Due: eng/pipelines/repoman.yml

Remove redundant code
  templates/todo/projects/java-mongo/.repo/bicep/repo.yaml
Due: eng/pipelines/repoman.yml

Commit current progress
  ext/vscode/src/commands/agent/agentUp.ts
  ext/vscode/src/commands/up.ts
Due: eng/pipelines/release-vscode.yml

Allow init `--from-code`
  ext/vscode/package-lock.json
  ext/vscode/src/commands/cmdUtil.ts
  ext/vscode/src/commands/init.ts
Due: eng/pipelines/release-vscode.yml

update to setup-azd v1.0.0 on todo templates (#3609)
  templates/common/.github/workflows/bicep/azure-dev.yml
  templates/common/.github/workflows/func/azure-dev.yml
  templates/common/.github/workflows/java/azure-dev.yml
  templates/common/.github/workflows/java/terraform/azure-dev.yml
  templates/common/.github/workflows/nodejs/bicep/azure-dev.yml
  templates/common/.github/workflows/nodejs/func/azure-dev.yml
  templates/common/.github/workflows/nodejs/terraform/azure-dev.yml
  templates/common/.github/workflows/terraform/azure-dev.yml
Due: eng/pipelines/repoman.yml

Update cli/azd/pkg/apphost/aca_ingress.go
  cli/azd/pkg/apphost/aca_ingress.go
Due: eng/pipelines/release-cli.yml

lint
  cli/azd/pkg/apphost/aca_ingress.go
Due: eng/pipelines/release-cli.yml

Match naming that AZD uses
  ext/vscode/src/utils/servers/promptServer.ts
Due: eng/pipelines/release-vscode.yml

rename
  cli/azd/pkg/apphost/aca_ingress.go
  cli/azd/pkg/apphost/aca_ingress_test.go
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/apphost/manifest.go
  cli/azd/pkg/apphost/testdata/aspire-container.json
  cli/azd/pkg/apphost/testdata/aspire-docker.json
  cli/azd/pkg/project/service_target_dotnet_containerapp.go
  cli/azd/test/functional/testdata/snaps/aspire-full/manifest.json
Due: eng/pipelines/release-cli.yml

renames
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/project/service_target_dotnet_containerapp.go
Due: eng/pipelines/release-cli.yml

update sdk version
  cli/azd/pkg/containerapps/container_app.go
  cli/azd/pkg/containerapps/container_app_test.go
  cli/azd/pkg/project/service_target_containerapp_test.go
  cli/azd/test/functional/testdata/recordings/Test_CLI_Up_Down_ContainerApp.yaml
  cli/azd/test/mocks/mockazsdk/container_apps.go
  cli/azd/test/recording/sanitize.go
  go.mod
  go.sum
Due: eng/pipelines/release-cli.yml

port
  cli/azd/pkg/apphost/generate.go
Due: eng/pipelines/release-cli.yml

p4 snap
  cli/azd/test/functional/testdata/snaps/aspire-full/manifest.json
Due: eng/pipelines/release-cli.yml

remove the code for picking services (#3611)
  cli/azd/internal/repository/app_init.go
  cli/azd/internal/vsrpc/environment_service_create.go
  cli/azd/internal/vsrpc/environment_service_load.go
  cli/azd/pkg/apphost/service_ingress_configurer.go
  cli/azd/pkg/environment/environment_test.go
  cli/azd/pkg/project/dotnet_importer.go
  cli/azd/pkg/project/importer_test.go
Due: eng/pipelines/release-cli.yml

wip
  cli/azd/pkg/tools/swa/swa.go
Due: eng/pipelines/release-cli.yml
