Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

fix(agents): complete pre-built image passthrough migration
  cli/azd/docs/environment-variables.md
  cli/azd/extensions/azure.ai.agents/docs/private-networking.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/hosted_container_config.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/hosted_container_config_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt_deploymode_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/containerref/reference.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/containerref/reference_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/doc_examples_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): reuse core passthrough package artifact
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

test(projects): update agents host requirement
  cli/azd/extensions/azure.ai.projects/internal/cmd/ownership_test.go
Due: eng/pipelines/release-azd-extension.yml

fix(agents): accept image tags with digests
  cli/azd/extensions/azure.ai.agents/internal/pkg/containerref/reference.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/containerref/reference_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): preserve legacy pre-built image projects
  cli/azd/extensions/azure.ai.agents/docs/private-networking.md
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat(agents): use image passthrough for pre-built images
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/image_passthrough.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): preserve deployment mode during adoption
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt_deploymode_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Say nothing rather than assert a provenance the rows no longer have
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/scored_version_test.go
Due: eng/pipelines/release-azd-extension.yml

Cut the twelfth bug bash build
  cli/azd/extensions/azure.ai.evaluations/CHANGELOG.md
  cli/azd/extensions/azure.ai.evaluations/extension.yaml
  cli/azd/extensions/azure.ai.evaluations/version.txt
Due: eng/pipelines/release-azd-extension.yml

Cut the twelfth bug bash build
  cli/azd/extensions/azure.ai.dataset/CHANGELOG.md
  cli/azd/extensions/azure.ai.dataset/extension.yaml
  cli/azd/extensions/azure.ai.dataset/version.txt
Due: eng/pipelines/release-azd-extension.yml

Use the dictionary's spelling
  cli/azd/extensions/azure.ai.evaluations/internal/project/service_target_eval.go
Due: eng/pipelines/release-azd-extension.yml

feat(inspector): refresh embedded UI assets
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/ai21-labs-C0S1QR5S.svg
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/ai21-labs-CRNSgB-I.svg
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/fireworks-deepseek-CPZR_tjY.svg
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/fireworks-deepseek-j9BMITa2.svg
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/fireworks-kimi-BR9L0qcg.svg
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/fireworks-kimi-CeKe11mg.svg
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/fireworks-minimax-CTXg2L9x.svg
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/fireworks-minimax-h-27o9tI.svg
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/fireworks-openai-CMyNOsYB.svg
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/fireworks-openai-KR7jvASi.svg
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/foundry-openai-Cb-OWC1g.svg
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/foundry-openai-iOdYDNOo.svg
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/hf-logo-8sK58_pS.svg
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/index-BlnGok1N.js
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/index-CLNpg5Qo.js
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/index-DgFZmN7-.css
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/index-Eb8BrWGl.css
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/kimi_o_20-C-QUR2ML.svg
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/kimi_o_80-Dayb1ujI.svg
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/meta-logo-DlvuR6gX.svg
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/minimax-aThCKygj.svg
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/minimax20-C_s7cPdw.svg
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/nttdata-BX5gjCWx.svg
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/nttdata-Bw2zTwva.svg
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/qwen-26Srvihb.svg
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/qwen-BDzFJDOl.svg
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/work-iq-dy1EDuLw.png
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/index.html
Due: eng/pipelines/release-azd-extension.yml

Use the dictionary's spelling throughout
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/eval_choice_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/main_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/portal_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/resolution_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/eval_api/models.go
  cli/azd/extensions/azure.ai.evaluations/internal/urlsafe/urlsafe_test.go
  cli/azd/extensions/azure.ai.evaluations/tests/live/run_cancel_test.go
Due: eng/pipelines/release-azd-extension.yml

Use the dictionary's spelling throughout
  cli/azd/extensions/azure.ai.dataset/internal/urlsafe/urlsafe_test.go
Due: eng/pipelines/release-azd-extension.yml

Refuse an upload with nowhere to register it, before the blob is written
  cli/azd/extensions/azure.ai.dataset/internal/messages/messages.go
  cli/azd/extensions/azure.ai.dataset/internal/pkg/dataset_api/operations.go
  cli/azd/extensions/azure.ai.dataset/internal/pkg/dataset_api/upload_uris_test.go
Due: eng/pipelines/release-azd-extension.yml

Refuse an upload with nowhere to register it, before the blob is written
  cli/azd/extensions/azure.ai.evaluations/internal/messages/messages.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/dataset_api/operations.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/dataset_api/upload_uris_test.go
Due: eng/pipelines/release-azd-extension.yml

fix(azure.ai.agents): satisfy warning line length lint
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(azure.ai.agents): allow default digital worker publish scope
  cli/azd/extensions/azure.ai.agents/internal/project/activity_profile.go
  cli/azd/extensions/azure.ai.agents/internal/project/activity_profile_test.go
  cli/azd/extensions/azure.ai.agents/schemas/azure.ai.agent.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: address review comments
  cli/azd/extensions/azure.ai.rle/CHANGELOG.md
  cli/azd/extensions/azure.ai.rle/README.md
  cli/azd/extensions/azure.ai.rle/internal/cmd/client.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/client_test.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/environment_lookup.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/init.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/invoke_test.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/list.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/list_test.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/publish.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/publish_test.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/root_test.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/run.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/show.go
  cli/azd/extensions/azure.ai.rle/internal/project/runtime.go
  cli/azd/extensions/azure.ai.rle/internal/project/runtime_test.go
Due: eng/pipelines/release-azd-extension.yml

feat(skills): reconcile archive-backed skill services (#9622)
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt_test.go
  cli/azd/extensions/azure.ai.skills/README.md
  cli/azd/extensions/azure.ai.skills/internal/cmd/service_target.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/service_target_test.go
  cli/azd/extensions/azure.ai.skills/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/client.go
  cli/azd/extensions/azure.ai.skills/schemas/azure.ai.skill.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat(skills): author skill services in azure.yaml
  cli/azd/extensions/azure.ai.skills/README.md
  cli/azd/extensions/azure.ai.skills/extension.yaml
  cli/azd/extensions/azure.ai.skills/internal/cmd/root.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/service_target.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/service_target_test.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_add.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_add_test.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_create.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_input.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_service_config.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_service_config_test.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_update.go
  cli/azd/extensions/azure.ai.skills/internal/exterrors/codes.go
  schemas/alpha/azure.yaml.json
  schemas/v1.0/azure.yaml.json
Due: eng/pipelines/release-azd-extension.yml

fix(ai-agents): propagate local agent exit failures (#9600)
  cli/azd/extensions/azure.ai.agents/internal/cmd/run.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/run_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(extensions): fall back to azd for dependencies (#9537)
  cli/azd/cmd/auto_install.go
  cli/azd/cmd/auto_install_test.go
  cli/azd/cmd/auto_install_ux_test.go
  cli/azd/cmd/extension.go
  cli/azd/cmd/project_extension_auto_install.go
  cli/azd/docs/extensions/extension-resolution-and-versioning.md
  cli/azd/pkg/extensions/manager.go
  cli/azd/pkg/extensions/manager_test.go
Due: eng/pipelines/release-cli.yml

Classify raw OpenTelemetry attributes so GDPR metadata is applied (#9598)
  cli/azd/AGENTS.md
  cli/azd/cmd/auth_login.go
  cli/azd/cmd/telemetry_test.go
  cli/azd/go.mod
  cli/azd/go.sum
  cli/azd/internal/tracing/fields/fields.go
  cli/azd/pkg/azapi/webapp.go
  cli/azd/pkg/project/container_helper.go
  cli/azd/pkg/project/service_target_aks.go
  docs/guides/feature-telemetry.md
  docs/reference/telemetry-data.md
  docs/specs/metrics-audit/feature-telemetry-matrix.md
  docs/specs/metrics-audit/privacy-review-checklist.md
  docs/specs/metrics-audit/telemetry-schema.md
Due: eng/pipelines/release-cli.yml

Potential fix for pull request finding
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

Add changelog for azd 1.31.2 release (#9641)
  .vscode/cspell-github-user-aliases.txt
  cli/azd/CHANGELOG.md
  cli/azd/pkg/azdext/version.go
  cli/version.txt
Due: eng/pipelines/release-cli.yml

Increment CLI version after release
  cli/azd/CHANGELOG.md
  cli/azd/pkg/azdext/version.go
  cli/version.txt
Due: eng/pipelines/release-cli.yml

[microsoft.azd.demo] Nightly registry update for 0.8.0-nightly.6721789
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

Increment CLI version after release (#9643)
  cli/azd/CHANGELOG.md
  cli/azd/pkg/azdext/version.go
  cli/version.txt
Due: eng/pipelines/release-cli.yml

Address scenario review feedback
  .github/agents/foundry-extension-scenario-worker.agent.md
  .github/skills/foundry-extension-scenario-authoring/SKILL.md
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/README.md
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/driving-mechanics.md
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/fixtures/from-code/app.py
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/fixtures/from-code/requirements.txt
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/setup-wsl.sh
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier0/0.02-help-root.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier1b/1b.01-deploy-template-python.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier1b/1b.02-deploy-template-dotnet.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier1b/1b.03-deploy-from-azure-yaml-url.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier1b/1b.04-deploy-from-code.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier1b/1b.05-deploy-flag-agent-name.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier1b/1b.06-deploy-deploy-mode-code.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier1b/1b.07-deploy-deploy-mode-container.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier2/2.00-setup-deploy-shared-agent.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier2/2.99-teardown-down.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Fallback to ToolDescription, if ToolTitle is empty.
  cli/azd/internal/agent/copilot_agent.go
Due: eng/pipelines/release-cli.yml

I trusted you CCR, and you made me use an old field that didn't exist!
  cli/azd/internal/agent/copilot_agent.go
Due: eng/pipelines/release-cli.yml

Updating the copilot SDK dependency, and the copilot CLI to be current.
  cli/azd/go.mod
  cli/azd/go.sum
  cli/azd/internal/agent/copilot/cli.go
  cli/azd/internal/agent/copilot/cli_test.go
  cli/azd/internal/agent/copilot/copilot_client.go
  cli/azd/internal/agent/copilot/copilot_sdk_e2e_test.go
  cli/azd/internal/agent/copilot/session_config.go
  cli/azd/internal/agent/copilot/session_config_test.go
  cli/azd/internal/agent/copilot_agent.go
  cli/azd/internal/agent/display.go
  cli/azd/internal/agent/display_test.go
  cli/azd/internal/agent/headless_collector.go
  cli/azd/internal/agent/headless_collector_test.go
  cli/azd/internal/agent/types_test.go
  cli/azd/internal/grpcserver/copilot_service.go
  cli/azd/internal/grpcserver/copilot_service_test.go
  cli/azd/internal/grpcserver/prompt_service_test.go
Due: eng/pipelines/release-cli.yml

Meant to apply this fix at the lowest level, instead of the top of the stack.
  cli/azd/internal/agent/copilot/copilot_sdk_e2e_test.go
Due: eng/pipelines/release-cli.yml

Potential fix for pull request finding
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_service_config.go
Due: eng/pipelines/release-azd-extension.yml

fix(agents): harden unified voice deploy
  cli/azd/extensions/azure.ai.agents/README.md
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): validate unified voice response
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: relay structured extension errors across nested gRPC (#9636)
  cli/azd/extensions/azure.ai.agents/internal/exterrors/errors.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/errors_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
  cli/azd/internal/grpcserver/errors.go
  cli/azd/internal/grpcserver/server_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat: prepare Foundry extensions for release
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/extension.yaml
  cli/azd/extensions/azure.ai.agents/version.txt
  cli/azd/extensions/azure.ai.skills/CHANGELOG.md
  cli/azd/extensions/azure.ai.skills/extension.yaml
  cli/azd/extensions/azure.ai.skills/version.txt
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): address registry review feedback
  cli/azd/extensions/azure.ai.agents/cspell.yaml
  cli/azd/extensions/azure.ai.agents/go.mod
  cli/azd/extensions/azure.ai.agents/go.sum
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/containerref/reference.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/containerref/reference_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/agent_definition.go
  cli/azd/extensions/azure.ai.agents/internal/project/agent_definition_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/image_passthrough.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml
