Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      demands: ImageOverride -equals windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-azdo-setupazd.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: BuildAndTest
        variables:
        - template: /eng/pipelines/templates/variables/image.yml
        jobs:
        - job: BuildSetupAzd
          displayName: BuildSetupAzd
          variables:
  ...

eng/pipelines/release-azuredevops.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/azuredevops-build-and-test.yml
      - template: /eng/pipelines/templates/stages/azuredevops-sign.yml
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-ai-agents
  ...

eng/pipelines/release-ext-azure-ai-models.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.models
          SanitizedExtensionId: azure-ai-models
  ...

eng/pipelines/release-ext-azure-appservice.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.appservice
          SanitizedExtensionId: azure-appservice
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

Remove unused code
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

cspell
  cli/azd/.vscode/cspell.yaml
Due: eng/pipelines/release-cli.yml

feat: local template support for `azd init` and developer tooling improvements (#6826)
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/.vscode/cspell.yaml
  cli/azd/CONTRIBUTING.md
  cli/azd/cmd/auto_install_integration_test.go
  cli/azd/cmd/auto_install_test.go
  cli/azd/cmd/init.go
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-init.snap
  cli/azd/extensions/azure.ai.models/pkg/models/pending_upload.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/build.go
  cli/azd/extensions/microsoft.azd.extensions/internal/helpers.go
  cli/azd/internal/appdetect/appdetect_test.go
  cli/azd/internal/repository/initializer.go
  cli/azd/internal/repository/initializer_test.go
  cli/azd/internal/runcontext/agentdetect/detect_test.go
  cli/azd/magefile.go
  cli/azd/pkg/azapi/azure_client_test.go
  cli/azd/pkg/azsdk/correlation_policy_test.go
  cli/azd/pkg/azsdk/user_agent_policy_test.go
  cli/azd/pkg/graphsdk/entity_list_request_builder_test.go
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider_test.go
  cli/azd/pkg/state/state_cache_test.go
  cli/azd/pkg/templates/path.go
  cli/azd/pkg/templates/path_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

Add MCP security policy, results handling, and server builder with tests
  cli/azd/cmd/extensions.go
  cli/azd/cmd/middleware/extensions.go
  cli/azd/go.mod
  cli/azd/go.sum
  cli/azd/pkg/azdext/base_service_target_provider.go
  cli/azd/pkg/azdext/base_service_target_provider_test.go
  cli/azd/pkg/azdext/extension_command.go
  cli/azd/pkg/azdext/extension_command_test.go
  cli/azd/pkg/azdext/extension_commands.go
  cli/azd/pkg/azdext/extension_commands_test.go
  cli/azd/pkg/azdext/mcp_args.go
  cli/azd/pkg/azdext/mcp_args_test.go
  cli/azd/pkg/azdext/mcp_results.go
  cli/azd/pkg/azdext/mcp_results_test.go
  cli/azd/pkg/azdext/mcp_security.go
  cli/azd/pkg/azdext/mcp_security_test.go
  cli/azd/pkg/azdext/mcp_server_builder.go
  cli/azd/pkg/azdext/mcp_server_builder_test.go
Due: eng/pipelines/release-cli.yml

chore: update cspell dictionary and improve code formatting; add copyright headers
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/pkg/azdext/base_service_target_provider_test.go
  cli/azd/pkg/azdext/extension_commands.go
  cli/azd/pkg/azdext/mcp_args.go
  cli/azd/pkg/azdext/mcp_args_test.go
  cli/azd/pkg/azdext/mcp_results.go
  cli/azd/pkg/azdext/mcp_results_test.go
  cli/azd/pkg/azdext/mcp_security.go
  cli/azd/pkg/azdext/mcp_security_test.go
Due: eng/pipelines/release-cli.yml

Fix duplicated "Suggestion:" prefix in error output
  cli/azd/internal/grpcserver/prompt_service_test.go
  cli/azd/internal/grpcserver/server_test.go
  cli/azd/pkg/auth/errors.go
  cli/azd/pkg/project/container_helper.go
Due: eng/pipelines/release-cli.yml

fix: set explicit args in version command tests for -cover compatibility
  cli/azd/pkg/azdext/extension_commands_test.go
Due: eng/pipelines/release-cli.yml

fix: add -cover flag to mage preflight tests to match CI
  cli/azd/magefile.go
Due: eng/pipelines/release-cli.yml

Add unit test to validate error_suggestions.yaml integrity (#6849)
  cli/azd/pkg/errorhandler/pipeline_test.go
Due: eng/pipelines/release-cli.yml

Fix duplicated "Suggestion:" prefix in error output (#6857)
  cli/azd/internal/grpcserver/prompt_service_test.go
  cli/azd/internal/grpcserver/server_test.go
  cli/azd/pkg/auth/errors.go
  cli/azd/pkg/project/container_helper.go
Due: eng/pipelines/release-cli.yml

Fix preflight validation errors misclassified as `service.arm.400` instead of `service.arm.validate.failed` (#6862)
  cli/azd/pkg/azapi/stack_deployments.go
  cli/azd/pkg/azapi/standard_deployments.go
Due: eng/pipelines/release-cli.yml

Reject positional args in azd env get-values (#6847)
  cli/azd/cmd/env.go
Due: eng/pipelines/release-cli.yml

Add unit tests for pyproject.toml detection and restore
  cli/azd/internal/appdetect/python_test.go
  cli/azd/pkg/project/framework_service_python_test.go
Due: eng/pipelines/release-cli.yml

fix: resolve symlinks in CheckPath for accurate base path validation
  cli/azd/pkg/azdext/mcp_security.go
Due: eng/pipelines/release-cli.yml

Add opt-out for ARM preflight validation during `azd provision` (#6852)
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/resources/config_options.yaml
Due: eng/pipelines/release-cli.yml

Add pyproject.toml detection and pip install support for Python projects (#6848)
  cli/azd/internal/appdetect/python.go
  cli/azd/internal/appdetect/python_test.go
  cli/azd/pkg/project/framework_service_python.go
  cli/azd/pkg/project/framework_service_python_test.go
  cli/azd/pkg/tools/python/python.go
Due: eng/pipelines/release-cli.yml

Improve symlink resolution in MCPSecurityPolicy
  cli/azd/go.mod
  cli/azd/go.sum
  cli/azd/pkg/azdext/mcp_security.go
Due: eng/pipelines/release-cli.yml

feat(azdext): Add ExtensionHost.Client() accessor and MCPServerBuilder resource/prompt/instruction support
  cli/azd/go.sum
  cli/azd/internal/telemetry/appinsights-exporter/span_to_envelope_test.go
  cli/azd/internal/telemetry/storage_exporter_test.go
  cli/azd/internal/tracing/fields/fields.go
  cli/azd/internal/tracing/resource/resource.go
  cli/azd/pkg/azdext/extension_commands.go
  cli/azd/pkg/azdext/extension_host.go
  cli/azd/pkg/azdext/extension_host_test.go
  cli/azd/pkg/azdext/mcp_server_builder.go
  cli/azd/pkg/azdext/mcp_server_builder_test.go
Due: eng/pipelines/release-cli.yml

Address PR comment
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Map package-level error variables to meaningful telemetry codes
  cli/azd/internal/cmd/errors.go
  cli/azd/internal/cmd/errors_test.go
  cli/azd/internal/tracing/tracer.go
Due: eng/pipelines/release-cli.yml

[Agents Extension] Adding a new "init from code" flow (#6828)
  cli/azd/.vscode/cspell.yaml
  cli/azd/extensions/azure.ai.agents/go.mod
  cli/azd/extensions/azure.ai.agents/go.sum
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_models.go
  cli/azd/extensions/azure.ai.agents/internal/project/config.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Update cli/azd/internal/cmd/errors_test.go
  cli/azd/internal/cmd/errors_test.go
Due: eng/pipelines/release-cli.yml

Add back newline and include `WithAccessToken` in `Run`
  cli/azd/cmd/extensions.go
  cli/azd/cmd/middleware/ux.go
  cli/azd/pkg/azdext/run.go
Due: eng/pipelines/release-cli.yml

Address PR feedback: unwrap errors in EndWithStatus, use go/ast for enforcement test
  cli/azd/internal/cmd/errors.go
  cli/azd/internal/cmd/errors_test.go
  cli/azd/internal/tracing/tracer.go
Due: eng/pipelines/release-cli.yml

Add `default_value` to AI prompt request messages (#6859)
  cli/azd/grpc/proto/prompt.proto
  cli/azd/internal/grpcserver/prompt_service.go
  cli/azd/internal/grpcserver/prompt_service_test.go
  cli/azd/pkg/azdext/prompt.pb.go
Due: eng/pipelines/release-cli.yml

Add Container App specific error handling rules (#6845)
  cli/azd/pkg/errorhandler/pipeline_test.go
  cli/azd/resources/error_suggestions.yaml
Due: eng/pipelines/release-cli.yml

Add default to model selection
  cli/azd/extensions/azure.ai.agents/go.mod
  cli/azd/extensions/azure.ai.agents/go.sum
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Add default to model selection (#6867)
  cli/azd/extensions/azure.ai.agents/go.mod
  cli/azd/extensions/azure.ai.agents/go.sum
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Update CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Prepare azure.ai.agents 0.1.11-preview release (#6869)
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/extension.yaml
  cli/azd/extensions/azure.ai.agents/version.txt
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Report errors via standard gRPC
  cli/azd/cmd/extensions.go
  cli/azd/cmd/extensions_error_transport_test.go
  cli/azd/docs/extensions/extension-framework.md
  cli/azd/grpc/proto/extension.proto
  cli/azd/internal/grpcserver/extension_service.go
  cli/azd/pkg/azdext/azd_client.go
  cli/azd/pkg/azdext/extension.pb.go
  cli/azd/pkg/azdext/extension_error_report.go
  cli/azd/pkg/azdext/extension_error_report_test.go
  cli/azd/pkg/azdext/extension_grpc.pb.go
  cli/azd/pkg/azdext/extension_host.go
  cli/azd/pkg/azdext/extension_host_test.go
  cli/azd/pkg/azdext/run.go
  cli/azd/pkg/extensions/extension.go
Due: eng/pipelines/release-cli.yml

Map package-level error variables to meaningful telemetry codes (#6865)
  cli/azd/internal/cmd/errors.go
  cli/azd/internal/cmd/errors_test.go
  cli/azd/internal/tracing/tracer.go
Due: eng/pipelines/release-cli.yml

Add Copilot SDK foundation alongside existing langchaingo agent
  cli/azd/go.mod
  cli/azd/go.sum
  cli/azd/internal/agent/copilot_agent.go
  cli/azd/internal/agent/copilot_agent_factory.go
  cli/azd/internal/agent/logging/session_event_handler.go
  cli/azd/internal/agent/logging/session_event_handler_test.go
  cli/azd/pkg/llm/copilot_client.go
  cli/azd/pkg/llm/copilot_client_test.go
  cli/azd/pkg/llm/session_config.go
  cli/azd/pkg/llm/session_config_test.go
  cli/azd/resources/config_options.yaml
Due: eng/pipelines/release-cli.yml

Reuse existing error fields and update `ErrorKey` to conditionally prepend `error.`
  cli/azd/internal/cmd/errors.go
  cli/azd/internal/cmd/errors_test.go
  cli/azd/internal/tracing/fields/fields.go
  cli/azd/internal/tracing/fields/key.go
  cli/azd/internal/tracing/fields/key_test.go
Due: eng/pipelines/release-cli.yml

Add 'copilot' as default agent provider type
  cli/azd/cmd/container.go
  cli/azd/cmd/init.go
  cli/azd/pkg/llm/copilot_provider.go
  cli/azd/pkg/llm/manager.go
  cli/azd/pkg/llm/model_factory.go
Due: eng/pipelines/release-cli.yml

Add azure.ai.agent 0.1.11-preview to registry
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

Add azure.ai.agent 0.1.11-preview to registry (#6884)
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

Add diagnostic logging to Copilot SDK agent pipeline
  cli/azd/internal/agent/copilot_agent.go
  cli/azd/internal/agent/copilot_agent_factory.go
  cli/azd/internal/agent/logging/session_event_handler.go
  cli/azd/pkg/llm/copilot_client.go
Due: eng/pipelines/release-cli.yml

Wire CopilotAgentFactory into AgentFactory for automatic delegation
  cli/azd/cmd/container.go
  cli/azd/internal/agent/agent_factory.go
Due: eng/pipelines/release-cli.yml

Enable SDK debug logging to diagnose CLI process startup failure
  cli/azd/pkg/llm/copilot_client.go
Due: eng/pipelines/release-cli.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
