Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

Remove deprecated infer field from all agent frontmatter
  .github/agents/changelog-core.agent.md
  .github/agents/changelog-extension.agent.md
  .github/agents/notifications.agent.md
Due: none

Add triaging and frontmatter to cspell dictionary
  cli/azd/.vscode/cspell.yaml
Due: eng/pipelines/release-cli.yml

Add projectpkg and agentserver to cspell dictionary
  cli/azd/.vscode/cspell.yaml
Due: eng/pipelines/release-cli.yml

add cases for provision errors and make sure infra fix over az command
  cli/azd/internal/mcp/tools/prompts/azd_error_troubleshooting.md
  cli/azd/internal/mcp/tools/prompts/azd_provision_common_error.md
Due: eng/pipelines/release-cli.yml

Add azure.ai.agents 0.1.14-preview to extension registry (#7061)
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/extensions/azure.ai.agents/cspell.yaml
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Remove dead sentinel checks and classify via ErrorWithSuggestion
  cli/azd/internal/cmd/errors.go
  cli/azd/internal/cmd/errors_test.go
Due: eng/pipelines/release-cli.yml

Remove non-actionable suggestions in extensions.go
  cli/azd/cmd/extensions.go
Due: eng/pipelines/release-cli.yml

Revert ErrorWithSuggestion unwrap logic
  cli/azd/internal/cmd/errors.go
  cli/azd/internal/cmd/errors_test.go
Due: eng/pipelines/release-cli.yml

Eliminate opaque errors_errorString from telemetry
  cli/azd/cmd/auth_login.go
  cli/azd/cmd/auth_token.go
  cli/azd/cmd/completion.go
  cli/azd/cmd/config.go
  cli/azd/cmd/env.go
  cli/azd/cmd/env_config_test.go
  cli/azd/cmd/env_remove.go
  cli/azd/cmd/extension.go
  cli/azd/cmd/extensions.go
  cli/azd/cmd/hooks.go
  cli/azd/cmd/init.go
  cli/azd/cmd/mcp.go
  cli/azd/cmd/monitor.go
  cli/azd/cmd/templates.go
  cli/azd/cmd/up.go
  cli/azd/cmd/update.go
  cli/azd/internal/cmd/deploy.go
  cli/azd/internal/cmd/errors.go
  cli/azd/internal/cmd/errors_test.go
  cli/azd/internal/cmd/provision.go
  cli/azd/internal/cmd/publish.go
  cli/azd/internal/cmd/show/show.go
  cli/azd/internal/errors.go
  cli/azd/test/functional/env_test.go
Due: eng/pipelines/release-cli.yml

docs: address PR review feedback on environment-variables.md
  cli/azd/docs/environment-variables.md
Due: eng/pipelines/release-cli.yml

fix: address PR #7045 review feedback
  .gitignore
  cli/azd/internal/cmd/deploy.go
  cli/azd/internal/cmd/deploy_test.go
  cli/azd/pkg/project/service_config.go
  cli/azd/pkg/project/service_config_test.go
  schemas/alpha/azure.yaml.json
  schemas/v1.0/azure.yaml.json
Due: eng/pipelines/release-cli.yml

switching to async command
  cli/azd/extensions/azure.ai.models/extension.yaml
  cli/azd/extensions/azure.ai.models/version.txt
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-models.yml

updating change log
  cli/azd/extensions/azure.ai.models/CHANGELOG.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-models.yml

adding acutal change
  cli/azd/extensions/azure.ai.models/internal/cmd/custom_create.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-models.yml

fixing go lang lint issue
  cli/azd/extensions/azure.ai.models/internal/cmd/custom_create.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-models.yml

Switch to async command (#7066)
  cli/azd/extensions/azure.ai.models/CHANGELOG.md
  cli/azd/extensions/azure.ai.models/extension.yaml
  cli/azd/extensions/azure.ai.models/internal/cmd/custom_create.go
  cli/azd/extensions/azure.ai.models/version.txt
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-models.yml

allow live mode on demand (#6893)
  eng/pipelines/release-cli.yml
  eng/pipelines/templates/jobs/build-cli.yml
  eng/pipelines/templates/stages/build-and-test.yml
Due: eng/pipelines/release-cli.yml

Update README with troubleshooting info
  cli/azd/extensions/azure.coding-agent/README.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-coding-agent.yml

Update cli/azd/extensions/azure.coding-agent/README.md
  cli/azd/extensions/azure.coding-agent/README.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-coding-agent.yml

Improve telemetry error classification with typed sentinels (#7051)
  cli/azd/cmd/auth_login.go
  cli/azd/cmd/auth_token.go
  cli/azd/cmd/completion.go
  cli/azd/cmd/config.go
  cli/azd/cmd/env.go
  cli/azd/cmd/env_config_test.go
  cli/azd/cmd/env_remove.go
  cli/azd/cmd/extension.go
  cli/azd/cmd/extensions.go
  cli/azd/cmd/hooks.go
  cli/azd/cmd/init.go
  cli/azd/cmd/mcp.go
  cli/azd/cmd/monitor.go
  cli/azd/cmd/templates.go
  cli/azd/cmd/up.go
  cli/azd/cmd/update.go
  cli/azd/internal/cmd/deploy.go
  cli/azd/internal/cmd/errors.go
  cli/azd/internal/cmd/errors_test.go
  cli/azd/internal/cmd/provision.go
  cli/azd/internal/cmd/publish.go
  cli/azd/internal/cmd/show/show.go
  cli/azd/internal/errors.go
  cli/azd/test/functional/env_test.go
Due: eng/pipelines/release-cli.yml

[Agents Extension] Implement VNext agent provisioning and API version resolution
  cli/azd/extensions/azure.ai.agents/internal/cmd/agent_context.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/models.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Apply suggestions from code review
  cli/azd/cmd/middleware/error.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Fix missing branchAndPath variable after PR review refactor
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Add userConfigManager to NewBlobSdkClient for default subscription fallback
  cli/azd/pkg/azsdk/storage/storage_blob_client.go
  cli/azd/pkg/azsdk/storage/storage_blob_client_test.go
  cli/azd/pkg/environment/manager_test.go
  cli/azd/test/functional/remote_state_test.go
Due: eng/pipelines/release-cli.yml

Fix security and code quality audit findings
  cli/azd/cmd/extensions.go
  cli/azd/cover
  cli/azd/pkg/azdext/keyvault_resolver.go
  cli/azd/pkg/azdext/keyvault_resolver_test.go
  cli/azd/pkg/keyvault/keyvault.go
Due: eng/pipelines/release-cli.yml

fix: suppress gosec G101 false positives in test fixtures
  cli/azd/pkg/azdext/keyvault_resolver_test.go
Due: eng/pipelines/release-cli.yml

feat(azdext): Add KeyVaultResolver for extension Key Vault secret resolution
  cli/azd/cmd/extensions.go
  cli/azd/internal/cmd/show/show.go
  cli/azd/pkg/azdext/keyvault_resolver.go
  cli/azd/pkg/azdext/keyvault_resolver_test.go
  cli/azd/pkg/keyvault/keyvault.go
Due: eng/pipelines/release-cli.yml

fix: remove duplicate stubCredential (already in token_provider_test.go)
  cli/azd/pkg/azdext/keyvault_resolver_test.go
Due: eng/pipelines/release-cli.yml

Remove stray coverage artifact
  cli/azd/cover
Due: eng/pipelines/release-cli.yml

fix: resolve cspell and gosec CI failures
  cli/azd/.vscode/cspell.yaml
  cli/azd/pkg/azdext/keyvault_resolver_test.go
Due: eng/pipelines/release-cli.yml

Test aks
  cli/azd/internal/repository/detect_confirm_apphost.go
Due: eng/pipelines/release-cli.yml

fix: remove stale files from KV resolver branch
  cli/azd/internal/cmd/show/show.go
  cli/azd/internal/repository/detect_confirm_apphost.go
Due: eng/pipelines/release-cli.yml

Add agentic workflow daily-doc-updater
  .gitattributes
  .github/workflows/daily-doc-updater.lock.yml
  .github/workflows/daily-doc-updater.md
Due: none

fix: apply go fix modernization (strings.Cut)
  cli/azd/pkg/keyvault/keyvault.go
Due: eng/pipelines/release-cli.yml

feat: add localFallback option for Docker remote build
  cli/azd/grpc/proto/models.proto
  cli/azd/pkg/azdext/models.pb.go
  cli/azd/pkg/project/container_helper.go
  cli/azd/pkg/project/container_helper_test.go
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/project/mapper_registry.go
  schemas/v1.0/azure.yaml.json
Due: eng/pipelines/release-cli.yml
