Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      demands: ImageOverride -equals windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-azdo-setupazd.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: BuildAndTest
        variables:
        - template: /eng/pipelines/templates/variables/image.yml
        jobs:
        - job: BuildSetupAzd
          displayName: BuildSetupAzd
          variables:
  ...

eng/pipelines/release-azuredevops.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/azuredevops-build-and-test.yml
      - template: /eng/pipelines/templates/stages/azuredevops-sign.yml
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-ai-agents
  ...

eng/pipelines/release-ext-azure-ai-models.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.models
          SanitizedExtensionId: azure-ai-models
  ...

eng/pipelines/release-ext-azure-appservice.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.appservice
          SanitizedExtensionId: azure-appservice
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

address PR review feedback
  cli/azd/grpc/proto/models.proto
  cli/azd/pkg/project/container_helper.go
  cli/azd/pkg/project/container_helper_test.go
  schemas/v1.0/azure.yaml.json
Due: eng/pipelines/release-cli.yml

refactor: make local fallback the default when remoteBuild fails
  cli/azd/grpc/proto/models.proto
  cli/azd/pkg/azdext/models.pb.go
  cli/azd/pkg/project/container_helper.go
  cli/azd/pkg/project/container_helper_test.go
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/project/mapper_registry.go
  schemas/v1.0/azure.yaml.json
Due: eng/pipelines/release-cli.yml

fix: resolve lint errors (errorlint, gofmt)
  cli/azd/pkg/project/container_helper.go
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/project/mapper_registry.go
Due: eng/pipelines/release-cli.yml

fixing issue where completed is used without atomic, causing a race condition
  cli/azd/pkg/ux/task_list.go
Due: eng/pipelines/release-cli.yml

Some fixes
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/project/agent_identity_rbac.go
  cli/azd/extensions/azure.ai.agents/internal/project/agent_identity_rbac_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Fixing race condition in ux.TaskList when accessing the completed count (#7076)
  cli/azd/pkg/ux/task_list.go
Due: eng/pipelines/release-cli.yml

Add polling for initial identity pull
  cli/azd/extensions/azure.ai.agents/internal/project/agent_identity_rbac.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(coding-agent): use UserTenantId for credential resolution
  cli/azd/extensions/azure.coding-agent/internal/cmd/coding_agent_config.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-coding-agent.yml

Add userConfigManager to NewBlobSdkClient for default subscription fallback (#7072)
  cli/azd/pkg/azsdk/storage/storage_blob_client.go
  cli/azd/pkg/azsdk/storage/storage_blob_client_test.go
  cli/azd/pkg/environment/manager_test.go
  cli/azd/test/functional/remote_state_test.go
Due: eng/pipelines/release-cli.yml

fix: eliminate flaky timing race in TestReady_BlocksUntilRunStarts
  cli/azd/pkg/grpcbroker/message_broker_test.go
Due: eng/pipelines/release-cli.yml

address feedback
  cli/azd/cmd/middleware/extensions.go
Due: eng/pipelines/release-cli.yml

clean error message
  cli/azd/cmd/middleware/extensions.go
Due: eng/pipelines/release-cli.yml

fix(coding-agent): use UserTenantId for credential resolution (#7078)
  cli/azd/extensions/azure.coding-agent/internal/cmd/coding_agent_config.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-coding-agent.yml

address feedback
  cli/azd/pkg/errorhandler/pipeline_test.go
  cli/azd/pkg/prompt/prompter.go
  cli/azd/resources/error_suggestions.yaml
Due: eng/pipelines/release-cli.yml

fix: eliminate flaky timing race in TestReady_BlocksUntilRunStarts (#7079)
  cli/azd/pkg/grpcbroker/message_broker_test.go
Due: eng/pipelines/release-cli.yml

Update cli/azd/internal/mcp/tools/prompts/azd_provision_common_error.md
  cli/azd/internal/mcp/tools/prompts/azd_provision_common_error.md
Due: eng/pipelines/release-cli.yml

address feedback
  cli/azd/internal/mcp/tools/prompts/azd_provision_common_error.md
Due: eng/pipelines/release-cli.yml

Improve extension startup failure warnings with categorized messages (#7018)
  cli/azd/cmd/middleware/extensions.go
Due: eng/pipelines/release-cli.yml

fix: correct gofmt struct field alignment after rebase
  cli/azd/pkg/project/framework_service_docker.go
Due: eng/pipelines/release-cli.yml

fix(extensions): apply same UserTenantId fix to all affected extensions
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.finetune/internal/cmd/init.go
  cli/azd/extensions/azure.ai.models/internal/cmd/custom.go
  cli/azd/extensions/azure.ai.models/internal/cmd/init.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/cmd/start.go
  cli/azd/extensions/microsoft.azd.demo/internal/cmd/prompt.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml

chore: add Copilot review instruction for extension tenant usage
  .github/instructions/extensions.instructions.md
Due: none

removing blob uri param
  cli/azd/extensions/azure.ai.models/CHANGELOG.md
  cli/azd/extensions/azure.ai.models/internal/cmd/custom_create.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-models.yml

removing blob uri param (#7096)
  cli/azd/extensions/azure.ai.models/CHANGELOG.md
  cli/azd/extensions/azure.ai.models/internal/cmd/custom_create.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-models.yml

adding more enhancements
  cli/azd/extensions/azure.ai.models/CHANGELOG.md
  cli/azd/extensions/azure.ai.models/internal/cmd/custom_create.go
  cli/azd/extensions/azure.ai.models/internal/cmd/custom_show.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-models.yml

adding more enhancements (#7097)
  cli/azd/extensions/azure.ai.models/CHANGELOG.md
  cli/azd/extensions/azure.ai.models/internal/cmd/custom_create.go
  cli/azd/extensions/azure.ai.models/internal/cmd/custom_show.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-models.yml

fix(extensions): use UserTenantId for credential resolution across all extensions (#7080)
  .github/instructions/extensions.instructions.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.finetune/internal/cmd/init.go
  cli/azd/extensions/azure.ai.models/internal/cmd/custom.go
  cli/azd/extensions/azure.ai.models/internal/cmd/init.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/cmd/start.go
  cli/azd/extensions/microsoft.azd.demo/internal/cmd/prompt.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml

Improve agent error handling: prefer Bicep fixes over temporary workarounds (#7063)
  cli/azd/internal/mcp/tools/prompts/azd_error_troubleshooting.md
  cli/azd/internal/mcp/tools/prompts/azd_provision_common_error.md
Due: eng/pipelines/release-cli.yml

Improve error message when no subscriptions are found (#7046)
  cli/azd/pkg/errorhandler/pipeline_test.go
  cli/azd/pkg/prompt/prompter.go
  cli/azd/resources/error_suggestions.yaml
Due: eng/pipelines/release-cli.yml

feat: add localFallback option for Docker remote build (#7041)
  cli/azd/grpc/proto/models.proto
  cli/azd/pkg/project/container_helper.go
  cli/azd/pkg/project/container_helper_test.go
  cli/azd/pkg/project/framework_service_docker.go
  schemas/v1.0/azure.yaml.json
Due: eng/pipelines/release-cli.yml

chore: apply go fix modernizers for Go 1.26
  cli/azd/internal/runcontext/agentdetect/detect_process_darwin.go
Due: eng/pipelines/release-cli.yml

Update brew install/upgrade instructions
  README.md
  cli/azd/docs/design/azd-update.md
  cli/azd/main.go
  cli/azd/pkg/update/manager_test.go
  cli/installer/README.md
Due: eng/pipelines/release-cli.yml

Include update module
  cli/azd/pkg/update/manager.go
  cli/azd/pkg/update/manager_test.go
Due: eng/pipelines/release-cli.yml

Increment CLI version after release
  cli/azd/CHANGELOG.md
  cli/version.txt
Due: eng/pipelines/release-cli.yml

chore: add Qwen to cspell dictionary
  cli/azd/.vscode/cspell.yaml
Due: eng/pipelines/release-cli.yml

fix: address Copilot review feedback on KeyVaultResolver
  cli/azd/cmd/extensions.go
  cli/azd/pkg/azdext/keyvault_resolver.go
  cli/azd/pkg/keyvault/keyvault.go
Due: eng/pipelines/release-cli.yml

Monitoring updates to match replat
  cli/azd/extensions/azure.ai.agents/internal/cmd/monitor.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Monitor tests
  cli/azd/extensions/azure.ai.agents/internal/cmd/monitor_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
