Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

Clarify concurrency fallback warnings and telemetry documentation
  cli/azd/internal/cmd/concurrency.go
  cli/azd/internal/cmd/concurrency_feedback_test.go
  cli/azd/pkg/exegraph/scheduler_test.go
  docs/reference/telemetry-data.md
  docs/specs/exegraph/spec.md
  docs/specs/metrics-audit/feature-telemetry-matrix.md
Due: eng/pipelines/release-cli.yml

Upgrade to 24 (latest LTS)
  cli/azd/extensions/microsoft.azd.extensions/tools/proto-generator/Dockerfile
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

fix: use released azd telemetry SDK
  cli/azd/extensions/azure.ai.agents/go.mod
  cli/azd/extensions/azure.ai.agents/go.sum
  cli/azd/extensions/azure.ai.agents/internal/telemetry/events_test.go
  cli/azd/extensions/azure.ai.connections/go.mod
  cli/azd/extensions/azure.ai.connections/go.sum
  cli/azd/extensions/azure.ai.inspector/go.mod
  cli/azd/extensions/azure.ai.inspector/go.sum
  cli/azd/extensions/azure.ai.projects/go.mod
  cli/azd/extensions/azure.ai.projects/go.sum
  cli/azd/extensions/azure.ai.routines/go.mod
  cli/azd/extensions/azure.ai.routines/go.sum
  cli/azd/extensions/azure.ai.skills/go.mod
  cli/azd/extensions/azure.ai.skills/go.sum
  cli/azd/extensions/azure.ai.toolboxes/go.mod
  cli/azd/extensions/azure.ai.toolboxes/go.sum
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Adding in some docs to help agents find the right invocations for 'mage' and for generating protobuf clients.
  cli/azd/AGENTS.md
  cli/azd/CONTRIBUTING.md
  cli/azd/docs/extensions/extension-framework.md
Due: eng/pipelines/release-cli.yml

fix(foundry): add BYO AKS agent network injection
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_infra_test.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/synthesizer.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/synthesizer_test.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/main.arm.json
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/main.bicep
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/modules/resources.bicep
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/terraform/main.tf
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/terraform/variables.tf
  cli/azd/extensions/azure.ai.projects/README.md
  cli/azd/extensions/azure.ai.projects/internal/synthesis/schema_test.go
  cli/azd/extensions/azure.ai.projects/internal/synthesis/synthesizer.go
  cli/azd/extensions/azure.ai.projects/internal/synthesis/synthesizer_test.go
  cli/azd/extensions/azure.ai.projects/internal/synthesis/templates/main.arm.json
  cli/azd/extensions/azure.ai.projects/internal/synthesis/templates/main.bicep
  cli/azd/extensions/azure.ai.projects/internal/synthesis/templates/modules/resources.bicep
  cli/azd/extensions/azure.ai.projects/internal/synthesis/templates/terraform/main.tf
  cli/azd/extensions/azure.ai.projects/internal/synthesis/templates/terraform/variables.tf
  cli/azd/extensions/azure.ai.projects/schemas/azure.ai.project.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Adding in Protos, not Protoss.
  cli/azd/.vscode/cspell.yaml
Due: eng/pipelines/release-cli.yml

feat(inspector): update embedded Agent Inspector UI
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/index-BKdGYT8m.css
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/index-DQcr_vS_.js
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/index-Eb8BrWGl.css
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/index-N8YYen7k.js
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/index.html
Due: eng/pipelines/release-azd-extension.yml

fix: revert noninteractive documentation change
  cli/azd/extensions/ai-non-interactive.md
Due: eng/pipelines/release-azd-extension.yml

fix: preserve voice target metadata on merge
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Expose live cache fallback warnings
  cli/azd/extensions/azure.ai.agents/internal/cmd/template_cache.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/template_cache_test.go
  cli/azd/extensions/azure.ai.agents/tests/e2e-live/README.md
  eng/pipelines/ext-azure-ai-agents-live.yml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat: prompt for Foundry project names (#9905)
  cli/azd/extensions/azure.ai.agents/README.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_foundry_project_setup.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_foundry_resources_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_foundry_resources_helpers_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: propagate deployed agent lookup failures
  cli/azd/extensions/azure.ai.agents/internal/cmd/helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat(agents): support hosted voice conversation engine
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/models.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/map.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/map_voice_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/yaml.go
  cli/azd/extensions/azure.ai.agents/internal/project/agent_definition.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
  cli/azd/extensions/azure.ai.agents/schemas/azure.ai.agent.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Preserve cache marker cleanup failures
  eng/pipelines/ext-azure-ai-agents-live.yml
Due: none

address comments
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_baseline_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_helpers.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: address connection lifecycle and CLI review feedback
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_dependencies.go
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_dependencies_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.connections/README.md
  cli/azd/extensions/azure.ai.connections/internal/cmd/connection.go
  cli/azd/extensions/azure.ai.connections/internal/cmd/connection_context.go
  cli/azd/extensions/azure.ai.connections/internal/cmd/connection_validation_test.go
  cli/azd/extensions/azure.ai.connections/internal/cmd/delete_readiness_test.go
  cli/azd/extensions/azure.ai.connections/internal/cmd/endpoint.go
  cli/azd/extensions/azure.ai.connections/internal/cmd/endpoint_test.go
  cli/azd/extensions/azure.ai.connections/internal/cmd/service_config_test.go
  cli/azd/extensions/azure.ai.connections/internal/cmd/service_target.go
  cli/azd/extensions/azure.ai.connections/internal/cmd/service_target_test.go
  cli/azd/extensions/azure.ai.connections/internal/pkg/envkey/envkey.go
  cli/azd/extensions/azure.ai.connections/internal/pkg/envkey/envkey_test.go
  cli/azd/extensions/azure.ai.connections/schemas/azure.ai.connection.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: detect deployed agent invoke protocol (#9808)
  cli/azd/extensions/azure.ai.agents/internal/cmd/delete.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/delete_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/helpers_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_foundry_resources_helpers_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_a2a.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_test.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/envkey/envkey.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

refactor: toolbox and connection
  .github/skills/foundry-extension-scenario-pr-regression/references/impact-mapping.md
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_dependencies.go
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_dependencies_test.go
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/README.md
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/fixtures/agent-dependencies/azure.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier0/0.17-toolbox-add.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier0/0.18-connection-add.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier0/0.19-standalone-deploy-migration.yaml
  cli/azd/extensions/azure.ai.connections/README.md
  cli/azd/extensions/azure.ai.connections/internal/cmd/connection_context.go
  cli/azd/extensions/azure.ai.connections/internal/cmd/connection_context_test.go
  cli/azd/extensions/azure.ai.connections/internal/cmd/service_target.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat(inspector): update embedded Agent Inspector UI (#9943)
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/index-BKdGYT8m.css
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/index-DQcr_vS_.js
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/index-Eb8BrWGl.css
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/index-N8YYen7k.js
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/index.html
Due: eng/pipelines/release-azd-extension.yml

refactor: toolbox and connection
  cli/azd/docs/extensions/extensions-style-guide.md
  cli/azd/extensions/azure.ai.agents/README.md
  cli/azd/extensions/azure.ai.connections/README.md
  cli/azd/extensions/azure.ai.connections/internal/cmd/connection.go
  cli/azd/extensions/azure.ai.connections/internal/cmd/connection_context.go
  cli/azd/extensions/azure.ai.connections/internal/cmd/connection_context_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: retain deploy hook extension warnings
  cli/azd/internal/grpcserver/event_service.go
  cli/azd/internal/grpcserver/event_service_test.go
  cli/azd/pkg/input/console.go
  cli/azd/pkg/input/console_test.go
Due: eng/pipelines/release-cli.yml

fix(agents): tighten conversation engine authoring
  cli/azd/extensions/azure.ai.agents/README.md
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/map.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/map_voice_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse.go
  cli/azd/extensions/azure.ai.agents/schemas/azure.ai.agent.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

[azure.ai.agents] Registry update for 1.0.0-beta.14 (#9883)
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

fix(agents): validate conversation engine authoring
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse_voice_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: bound deploy hook output retention
  cli/azd/internal/grpcserver/event_service.go
  cli/azd/internal/grpcserver/event_service_test.go
  cli/azd/pkg/input/console.go
  cli/azd/pkg/input/console_test.go
Due: eng/pipelines/release-cli.yml

fix(agents): reject conversation engine standalone init
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/project/agent_definition.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: preserve deferred preview log behavior
  cli/azd/pkg/input/console.go
  cli/azd/pkg/input/console_test.go
Due: eng/pipelines/release-cli.yml

test: verify deferred preview log retention
  cli/azd/pkg/input/console_test.go
Due: eng/pipelines/release-cli.yml

fix: render deploy progress before preview output
  cli/azd/internal/cmd/up_graph.go
  cli/azd/internal/cmd/up_graph_test.go
Due: eng/pipelines/release-cli.yml

fix(ai-agents): harden prompt agent lifecycle
  cli/azd/extensions/azure.ai.agents/internal/cmd/delete.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_managed.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_managed_foundry.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_managed_manifest_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_managed.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_managed_stream_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_managed_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/prompt_service.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/prompt_service_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/managed_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/map.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/prompt_features.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/prompt_features_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/prompt_json_schema_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/prompt_policy_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_prompt.go
  cli/azd/extensions/azure.ai.agents/schemas/azure.ai.agent.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(ai-agents): expand prompt tool environment values
  cli/azd/extensions/azure.ai.agents/internal/project/prompt_tools_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_prompt.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(ai-agents): clear prompt conversation state
  cli/azd/extensions/azure.ai.agents/internal/cmd/delete.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_response_store_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

docs(telemetry): document agent context event
  docs/reference/telemetry-data.md
  docs/specs/metrics-audit/feature-telemetry-matrix.md
  docs/specs/metrics-audit/telemetry-schema.md
Due: none

[azure.ai.rle] Nightly registry update for 0.4.0-preview.nightly.6809651
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.agents] Nightly registry update for 1.0.0-beta.14.nightly.6809630
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.connections] Nightly registry update for 1.0.0-beta.6.nightly.6809657
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.inspector] Nightly registry update for 1.0.0-beta.6.nightly.6809676
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

Validate Responsible AI policy name in prompt features
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/prompt_features.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

[azure.ai.routines] Nightly registry update for 1.0.0-beta.5.nightly.6809711
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.projects] Nightly registry update for 1.0.0-beta.9.nightly.6809699
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml
