Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

test(agents): split voice endpoint fixture
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/state_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(foundry): preserve Terraform project children on down
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_infra.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_infra_test.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/terraform-existing-project/connections.tf
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/terraform-existing-project/outputs.tf.tmpl
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/terraform-existing-project/provider.tf
  cli/azd/extensions/azure.ai.projects/internal/synthesis/templates/terraform-existing-project/connections.tf
  cli/azd/extensions/azure.ai.projects/internal/synthesis/templates/terraform-existing-project/outputs.tf.tmpl
  cli/azd/extensions/azure.ai.projects/internal/synthesis/templates/terraform-existing-project/provider.tf
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Lower hosted agent session idle timeout minimum to 120 seconds
  cli/azd/extensions/azure.ai.agents/README.md
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/models.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/yaml.go
  cli/azd/extensions/azure.ai.agents/internal/project/doc_examples_test.go
  cli/azd/extensions/azure.ai.agents/schemas/Agent.json
  cli/azd/extensions/azure.ai.agents/schemas/azure.ai.agent.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(foundry): keep Terraform deployments editable
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_infra.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_infra_test.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/terraform-existing-project/model-deployments.tf
  cli/azd/extensions/azure.ai.projects/internal/synthesis/templates/terraform-existing-project/model-deployments.tf
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(foundry): align existing project teardown requirements
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_infra_test.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/terraform-existing-project/provider.tf
  cli/azd/extensions/azure.ai.projects/internal/provisioning/foundry_provisioning_provider.go
  cli/azd/extensions/azure.ai.projects/internal/provisioning/foundry_provisioning_provider_test.go
  cli/azd/extensions/azure.ai.projects/internal/synthesis/templates/terraform-existing-project/provider.tf
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

refactor: enhance error handling for container publishing and add tests
  cli/azd/internal/grpcserver/container_service.go
  cli/azd/internal/grpcserver/container_service_test.go
  cli/azd/pkg/containerregistry/remote_build.go
  cli/azd/pkg/containerregistry/remote_build_test.go
Due: eng/pipelines/release-cli.yml

fix: provide resource-specific quota guidance
  cli/azd/extensions/azure.ai.projects/README.md
  cli/azd/extensions/azure.ai.projects/internal/exterrors/errors.go
  cli/azd/extensions/azure.ai.projects/internal/exterrors/errors_test.go
  cli/azd/extensions/azure.ai.projects/internal/provisioning/preview_helpers.go
  cli/azd/extensions/azure.ai.projects/internal/provisioning/preview_helpers_test.go
  cli/azd/pkg/azapi/azure_deployment_error.go
  cli/azd/pkg/azapi/azure_deployment_error_test.go
  cli/azd/pkg/azapi/deployment_error_integration_test.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/deployment_error_context.go
  cli/azd/pkg/infra/provisioning/bicep/deployment_error_context_test.go
  cli/azd/resources/error_suggestions.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

[azure.ai.agents] Nightly registry update for 1.0.0-beta.12.nightly.6741815
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.rle] Nightly registry update for 0.4.0-preview.nightly.6741816
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.inspector] Nightly registry update for 1.0.0-beta.5.nightly.6741897
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.connections] Nightly registry update for 1.0.0-beta.4.nightly.6741864
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.projects] Nightly registry update for 1.0.0-beta.7.nightly.6741927
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.routines] Nightly registry update for 1.0.0-beta.4.nightly.6741954
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.skills] Nightly registry update for 1.0.0-beta.4.nightly.6741979
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

fix: use wrapped error assertions in tests
  cli/azd/extensions/azure.ai.projects/internal/exterrors/errors_test.go
  cli/azd/pkg/infra/provisioning/bicep/deployment_error_context_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Address auth transport review and macOS CI failures
  cli/azd/cmd/auth_transport.go
  cli/azd/cmd/auth_transport_test.go
  cli/azd/cmd/auth_transport_unix_test.go
  cli/azd/cmd/auth_transport_windows.go
  cli/azd/docs/external-authentication.md
Due: eng/pipelines/release-cli.yml

docs: update Copilot instructions from PR review patterns
  .github/instructions/extensions.instructions.md
  .github/instructions/go.instructions.md
  .vscode/cspell.misc.yaml
Due: none

fix: scope Foundry quota guidance
  cli/azd/extensions/azure.ai.projects/internal/exterrors/errors.go
  cli/azd/extensions/azure.ai.projects/internal/exterrors/errors_test.go
  cli/azd/extensions/azure.ai.projects/internal/provisioning/preview_helpers.go
  cli/azd/extensions/azure.ai.projects/internal/provisioning/preview_helpers_test.go
Due: eng/pipelines/release-azd-extension.yml

Address scenario review feedback
  .github/skills/foundry-extension-scenario-pr-regression/SKILL.md
  .github/skills/foundry-extension-scenario-pr-regression/references/impact-mapping.md
  .github/skills/foundry-extension-scenario-pr-regression/references/prerequisites.md
  .github/skills/foundry-extension-scenario-pr-regression/references/reporting.md
  .github/skills/foundry-extension-scenario-pr-regression/references/workflow.md
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/README.md
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier1/1.01-init-template-python.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier2/2.06-invoke-protocol-invocations.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Use unified API for prompt voice agents (#9634)
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_agent_status.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/state.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/state_test.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/models.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/map.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/map_voice_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

[microsoft.azd.demo] Nightly registry update for 0.8.0-nightly.6744367
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

Wire empty multi-select submissions through prompt layers (#9715)
  cli/azd/docs/extensions/extension-framework.md
  cli/azd/extensions/microsoft.azd.demo/internal/cmd/prompt.go
  cli/azd/grpc/proto/prompt.proto
  cli/azd/internal/grpcserver/prompt_service.go
  cli/azd/internal/grpcserver/prompt_service_test.go
  cli/azd/pkg/azdext/prompt.pb.go
  cli/azd/pkg/input/console.go
  cli/azd/pkg/input/console_ux.go
  cli/azd/pkg/input/console_ux_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml

Fix optional extension flag values in Fig specs (#9714)
  cli/azd/docs/extensions/extension-framework.md
  cli/azd/internal/figspec/extension_metadata.go
  cli/azd/internal/figspec/extension_metadata_test.go
  cli/azd/internal/figspec/spec_builder.go
  cli/azd/internal/figspec/spec_builder_test.go
  cli/azd/pkg/azdext/metadata_generator.go
  cli/azd/pkg/azdext/metadata_generator_test.go
  cli/azd/pkg/extensions/command_resolver.go
  cli/azd/pkg/extensions/command_resolver_test.go
  cli/azd/pkg/extensions/metadata.go
  cli/azd/pkg/extensions/metadata_test.go
Due: eng/pipelines/release-cli.yml

docs: clarify extension review guidance
  .github/instructions/extensions.instructions.md
Due: none

Fix telemetry measurement metadata (#9690)
  cli/azd/cmd/telemetry_test.go
  cli/azd/internal/tracing/fields/fields.go
  docs/reference/telemetry-data.md
  docs/specs/metrics-audit/feature-telemetry-matrix.md
  docs/specs/metrics-audit/telemetry-schema.md
Due: eng/pipelines/release-cli.yml

Harden scenario runtime setup
  .github/agents/foundry-extension-scenario-orchestrator.agent.md
  .github/skills/foundry-extension-scenario-pr-regression/references/prerequisites.md
  .github/skills/foundry-extension-scenario-pr-regression/references/workflow.md
  .github/skills/foundry-extension-scenario-suite-run/SKILL.md
  cli/azd/extensions/azure.ai.agents/cspell.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/README.md
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/profile.local.yaml.example
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/setup-wsl.sh
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier2/2.00-setup-deploy-shared-agent.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier2/2.99-teardown-down.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/uv.version
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Update GitHub CLI to v2.98.0 (#9673)
  cli/azd/pkg/tools/github/github.go
Due: eng/pipelines/release-cli.yml

docs: trim source attribution and simplify help-text rule
  .github/instructions/extensions.instructions.md
Due: none

Three findings a tester would have hit on day one
  cli/azd/extensions/azure.ai.evaluations/CHANGELOG.md
  cli/azd/extensions/azure.ai.evaluations/extension.yaml
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/bugbash_findings_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/example_dimensions_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/init.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/init_model.go
  cli/azd/extensions/azure.ai.evaluations/internal/messages/messages.go
  cli/azd/extensions/azure.ai.evaluations/schemas/examples/inline.azure.yaml
  cli/azd/extensions/azure.ai.evaluations/version.txt
Due: eng/pipelines/release-azd-extension.yml

feat(agents): support advanced voice settings
  cli/azd/extensions/azure.ai.agents/cspell.yaml
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/models.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/map.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/map_voice_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/yaml.go
  cli/azd/extensions/azure.ai.agents/internal/project/agent_definition.go
  cli/azd/extensions/azure.ai.agents/schemas/azure.ai.agent.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): reject unsupported voice parallel tools
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse_voice_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat: add foundry skill user agent in azd ai agent (#9726)
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_foundry_endpoint.go
  cli/azd/extensions/azure.ai.agents/internal/connections/pkg/connections/data_client.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/dataset_api/operations.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/operations.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/optimize_api/client.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/azure/client_options.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/azure/foundry_memory_store_client.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/azure/foundry_projects_client.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/azure/foundry_toolsets_client.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/useragent/user_agent.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/useragent/user_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Put `$ref` at the field it fills
  cli/azd/extensions/azure.ai.evaluations/CHANGELOG.md
  cli/azd/extensions/azure.ai.evaluations/README.md
  cli/azd/extensions/azure.ai.evaluations/extension.yaml
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/catalog.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/catalog_include_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/init.go
  cli/azd/extensions/azure.ai.evaluations/internal/messages/messages.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/evalcore/evaluator.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/anchor_ref_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/authored_config.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/config_keys_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/edit_read_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/eval_config.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/eval_config_edit_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/eval_config_scaffold_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/eval_config_store.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/nested_include_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/nested_ref_rubric_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/owned_evaluators_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/ref_directive_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/ref_on_every_entry_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/ref_resolution_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/service_target_eval.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/unrelated_ref_test.go
  cli/azd/extensions/azure.ai.evaluations/schemas/azure.ai.eval.json
  cli/azd/extensions/azure.ai.evaluations/schemas/examples/inline.azure.yaml
  cli/azd/extensions/azure.ai.evaluations/version.txt
  cli/azd/pkg/foundry/includes.go
  cli/azd/pkg/foundry/includes_edit.go
  cli/azd/pkg/foundry/includes_edit_generic_test.go
  cli/azd/pkg/foundry/includes_pathkeys_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

fix(agents): validate voice runtime settings
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse_voice_test.go
  cli/azd/extensions/azure.ai.agents/schemas/azure.ai.agent.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

test(agents): remove pointer helper
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/map_voice_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(routines): resolve service manifest references
  cli/azd/extensions/azure.ai.routines/README.md
  cli/azd/extensions/azure.ai.routines/internal/cmd/routine_manifest.go
  cli/azd/extensions/azure.ai.routines/internal/cmd/routine_manifest_test.go
  cli/azd/extensions/azure.ai.routines/internal/cmd/service_target.go
  cli/azd/extensions/azure.ai.routines/internal/cmd/service_target_test.go
  cli/azd/extensions/azure.ai.routines/schemas/azure.ai.routine.json
Due: eng/pipelines/release-azd-extension.yml

fix: guard missing remote build properties
  cli/azd/pkg/containerregistry/remote_build.go
  cli/azd/pkg/containerregistry/remote_build_test.go
Due: eng/pipelines/release-cli.yml

fix: honor filtered services during project commands
  cli/azd/cmd/build.go
  cli/azd/cmd/package.go
  cli/azd/cmd/restore.go
  cli/azd/cmd/util_test.go
  cli/azd/extensions/azure.ai.agents/extension.yaml
  cli/azd/extensions/azure.ai.projects/extension.yaml
  cli/azd/extensions/azure.ai.projects/internal/cmd/ownership_test.go
  cli/azd/internal/cmd/deploy.go
  cli/azd/internal/cmd/deploy_test.go
  cli/azd/internal/cmd/provision.go
  cli/azd/internal/cmd/provision_test.go
  cli/azd/internal/cmd/publish.go
  cli/azd/internal/cmd/up_graph.go
  cli/azd/pkg/project/project_manager.go
  cli/azd/pkg/project/project_manager_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml
