Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      demands: ImageOverride -equals windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-azdo-setupazd.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: BuildAndTest
        variables:
        - template: /eng/pipelines/templates/variables/image.yml
        jobs:
        - job: BuildSetupAzd
          displayName: BuildSetupAzd
          variables:
  ...

eng/pipelines/release-azuredevops.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/azuredevops-build-and-test.yml
      - template: /eng/pipelines/templates/stages/azuredevops-sign.yml
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-ai-agents
  ...

eng/pipelines/release-ext-azure-ai-models.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.models
          SanitizedExtensionId: azure-ai-models
  ...

eng/pipelines/release-ext-azure-appservice.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.appservice
          SanitizedExtensionId: azure-appservice
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

Improve extension upgrade error handling
  cli/azd/cmd/extension.go
  cli/azd/cmd/extension_upgrade_test.go
  cli/azd/pkg/extensions/manager.go
  cli/azd/pkg/extensions/manager_test.go
Due: eng/pipelines/release-cli.yml

Clarify azd compatibility guidance
  cli/azd/pkg/extensions/manager.go
  cli/azd/pkg/extensions/manager_test.go
Due: eng/pipelines/release-cli.yml

fix: prevent Aspire manifest generation hang from MSBuild node reuse (#9347)
  cli/azd/.vscode/cspell.yaml
  cli/azd/pkg/tools/dotnet/dotnet.go
  cli/azd/pkg/tools/dotnet/dotnet_commands_test.go
Due: eng/pipelines/release-cli.yml

fix: correct azdo pipeline config federated (OIDC) auth help and stale guard (#9329)
  cli/azd/cmd/pipeline.go
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-pipeline-config.snap
  cli/azd/pkg/pipeline/azdo_provider.go
  cli/azd/pkg/pipeline/azdo_provider_test.go
  cli/azd/pkg/pipeline/pipeline_test.go
Due: eng/pipelines/release-cli.yml

Add npm authentication to C:\git\azure-dev\eng\pipelines\templates\jobs\verify-installers.yml
  eng/pipelines/templates/jobs/build-cli.yml
  eng/pipelines/templates/jobs/verify-installers.yml
  eng/pipelines/templates/steps/publish-vscode.yml
Due: eng/pipelines/release-cli.yml

Fix container Function App deployments (#9284)
  cli/azd/AGENTS.md
  cli/azd/docs/environment-variables.md
  cli/azd/docs/recording-functional-tests-guide.md
  cli/azd/pkg/azapi/azure_client_functions_test.go
  cli/azd/pkg/azapi/function_app.go
  cli/azd/pkg/azapi/webapp.go
  cli/azd/pkg/azapi/webapp_test.go
  cli/azd/pkg/project/artifact_test.go
  cli/azd/pkg/project/service_target.go
  cli/azd/pkg/project/service_target_appservice.go
  cli/azd/pkg/project/service_target_functionapp.go
  cli/azd/pkg/project/service_target_functionapp_test.go
  cli/azd/test/functional/testdata/recordings/Test_CLI_Up_Down_ContainerFuncApp.docker.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_Up_Down_ContainerFuncApp.yaml
  cli/azd/test/functional/testdata/samples/containerfuncapp/azure.yaml
  cli/azd/test/functional/testdata/samples/containerfuncapp/infra/main.bicep
  cli/azd/test/functional/testdata/samples/containerfuncapp/infra/main.parameters.json
  cli/azd/test/functional/testdata/samples/containerfuncapp/infra/resources.bicep
  cli/azd/test/functional/testdata/samples/containerfuncapp/src/function/.dockerignore
  cli/azd/test/functional/testdata/samples/containerfuncapp/src/function/Dockerfile
  cli/azd/test/functional/testdata/samples/containerfuncapp/src/function/host.json
  cli/azd/test/functional/testdata/samples/containerfuncapp/src/function/package-lock.json
  cli/azd/test/functional/testdata/samples/containerfuncapp/src/function/package.json
  cli/azd/test/functional/testdata/samples/containerfuncapp/src/function/src/functions/hello.js
  cli/azd/test/functional/up_test.go
  cli/azd/test/recording/sanitize.go
  cli/azd/test/recording/sanitize_test.go
  docs/reference/azure-yaml-schema.md
  schemas/alpha/azure.yaml.json
  schemas/v1.0/azure.yaml.json
Due: eng/pipelines/release-cli.yml

[microsoft.azd.demo] Nightly registry update for 0.7.1-nightly.6646660
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

Improve extension source and dependency errors (#9361)
  cli/azd/cmd/extension.go
  cli/azd/cmd/extension_bundle_test.go
  cli/azd/cmd/extension_upgrade_test.go
  cli/azd/docs/extensions/extension-resolution-and-versioning.md
  cli/azd/pkg/extensions/manager.go
  cli/azd/pkg/extensions/manager_test.go
Due: eng/pipelines/release-cli.yml

Fix update command rename follow-ups
  cli/azd/AGENTS.md
  cli/azd/cmd/auto_install_test.go
  cli/azd/cmd/extension.go
  cli/azd/cmd/extension_bundle_test.go
  cli/azd/cmd/middleware/extension_activator.go
  cli/azd/cmd/middleware/extensions.go
  cli/azd/cmd/project_extension_auto_install.go
  cli/azd/cmd/telemetry_test.go
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/tool.go
  cli/azd/cmd/tool_test.go
  cli/azd/docs/extensions/extension-framework.md
  cli/azd/docs/extensions/extension-resolution-and-versioning.md
  cli/azd/docs/style-guidelines/agentic-ux-style-guide.md
  cli/azd/docs/style-guidelines/azd-style-guide.md
  cli/azd/docs/tracing-in-azd.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_local.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_local_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.coding-agent/README.md
  cli/azd/internal/figspec/customizations.go
  cli/azd/internal/figspec/fig_generators_test.go
  cli/azd/internal/tracing/fields/fields.go
  cli/azd/pkg/extensions/registry_version.go
  cli/azd/pkg/extensions/registry_version_test.go
  cli/azd/pkg/extensions/update_checker.go
  cli/azd/pkg/extensions/update_checker_test.go
  cli/azd/pkg/extensions/update_integration_test.go
  cli/azd/pkg/output/ux/warning_test.go
  cli/azd/pkg/tool/detector.go
  cli/azd/pkg/tool/installer.go
  cli/azd/pkg/tool/installer_test.go
  cli/azd/pkg/tools/bicep/bicep.go
  cli/azd/pkg/tools/bicep/bicep_test.go
  cli/azd/pkg/tools/pack/pack.go
  cli/azd/resources/error_suggestions.yaml
  docs/reference/telemetry-data.md
  docs/specs/metrics-audit/feature-telemetry-matrix.md
  docs/specs/metrics-audit/telemetry-schema.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

docs: refine UX style guidance
  cli/azd/AGENTS.md
  cli/azd/docs/style-guidelines/agentic-ux-style-guide.md
  cli/azd/docs/style-guidelines/azd-style-guide.md
Due: eng/pipelines/release-cli.yml

docs: split responsive layout guidance
  cli/azd/AGENTS.md
  cli/azd/docs/style-guidelines/agentic-ux-style-guide.md
  cli/azd/docs/style-guidelines/azd-style-guide.md
  cli/azd/docs/style-guidelines/responsive-layout-style-guide.md
Due: eng/pipelines/release-cli.yml

docs: allow tabwriter spelling
  cli/azd/docs/style-guidelines/responsive-layout-style-guide.md
Due: eng/pipelines/release-cli.yml

[azure.ai.rle] Nightly registry update for 0.1.0-preview.nightly.6648112
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.agents] Nightly registry update for 1.0.0-beta.8.nightly.6648117
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.connections] Nightly registry update for 1.0.0-beta.3.nightly.6648121
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.inspector] Nightly registry update for 1.0.0-beta.2.nightly.6648122
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.routines] Nightly registry update for 1.0.0-beta.3.nightly.6648126
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.projects] Nightly registry update for 1.0.0-beta.4.nightly.6648124
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.skills] Nightly registry update for 1.0.0-beta.2.nightly.6648128
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.toolboxes] Nightly registry update for 1.0.0-beta.4.nightly.6648131
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[microsoft.azd.demo] Nightly registry update for 0.7.1-nightly.6648373
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

fix: address automated review comments
  cli/azd/extensions/azure.ai.rle/CHANGELOG.md
  cli/azd/extensions/azure.ai.rle/internal/cmd/client_test.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/environment.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/environment_test.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/invoke_test.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/publish.go
Due: eng/pipelines/release-azd-extension.yml

fix: lint error
  cli/azd/extensions/azure.ai.rle/internal/cmd/environment.go
Due: eng/pipelines/release-azd-extension.yml

[microsoft.azd.demo] Nightly registry update for 0.7.1-nightly.6648842
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

fix(agents): address prompt-voice review feedback
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_foundry_project_setup.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_foundry_resources_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/state.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/state_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/agent_definition.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/voice_deploy_dispatch_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: parse env reference prefixes with regex
  cli/azd/extensions/azure.ai.agents/internal/cmd/env_refs.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: persist empty env for generated resources
  cli/azd/extensions/azure.ai.agents/internal/cmd/resource_services.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/resource_services_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: validate and scope Foundry infrastructure config
  cli/azd/extensions/azure.ai.agents/internal/synthesis/synthesizer.go
  cli/azd/extensions/azure.ai.projects/internal/provisioning/foundry_provisioning_provider.go
  cli/azd/extensions/azure.ai.projects/internal/provisioning/foundry_provisioning_provider_resolveenv_test.go
  cli/azd/extensions/azure.ai.projects/internal/provisioning/foundry_provisioning_provider_test.go
  cli/azd/extensions/azure.ai.projects/internal/provisioning/ondisk_template.go
  cli/azd/extensions/azure.ai.projects/internal/provisioning/ondisk_template_test.go
  cli/azd/extensions/azure.ai.projects/internal/synthesis/synthesizer.go
  cli/azd/extensions/azure.ai.projects/internal/synthesis/synthesizer_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: stop agent lifecycle from rewriting azure.yaml
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

docs(agents): clarify independence of Foundry layer in infrastructure spec
  docs/specs/agent-init-infra-layers/spec.md
Due: none

fix(ai.agents): align Teams publish scopes with service API
  cli/azd/extensions/azure.ai.agents/internal/cmd/pack.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/publish.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/teams_pack.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/teams_pack_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(ai.agents): use deployed agent name for Teams publishing
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen_activity.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/teams_pack.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: persist empty env for generated agent services
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/resource_services.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/resource_services_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(ai.agents): address Teams pack publish review feedback
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen_activity.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/pack.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/publish.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/teams_pack.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: command updates
  cli/azd/extensions/azure.ai.rle/CHANGELOG.md
  cli/azd/extensions/azure.ai.rle/README.md
  cli/azd/extensions/azure.ai.rle/extension.yaml
  cli/azd/extensions/azure.ai.rle/internal/cmd/client.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/environment_lookup.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/invoke_test.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/list.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/list_test.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/project_endpoint.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/root.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/root_test.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/show.go
  cli/azd/extensions/azure.ai.rle/version.txt
Due: eng/pipelines/release-azd-extension.yml

fix(agents): address prompt-voice review round 2
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/state.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/state_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/map.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/map_voice_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Address Teams publish review feedback
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen_activity.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/pack.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/teams_pack_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/microsoft365_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

chore(agents): add Nanami to cspell dictionary
  cli/azd/extensions/azure.ai.agents/cspell.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

refactor(agents): unify prompt-voice kind resolution in a leaf package
  cli/azd/extensions/azure.ai.agents/cspell.yaml
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/state.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agentkind/agentkind.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agentkind/agentkind_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/agent_definition.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

test(agents): tighten agentkind test dir perms to 0o750 (gosec G301)
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agentkind/agentkind_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
