Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

ci: pin contents: read on cspell-misc workflow (#8163)
  .github/workflows/cspell-misc.yml
Due: none

Address PR feedback: validate IsolationKeySource scope; add wire-format tests
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/models_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/map.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/map_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat(agents): skip ACR creation and startupCommand for code deploy (#8242)
  cli/azd/docs/environment-variables.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/helpers_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

[microsoft.azd.extensions] Fix azd x watch glob matching on Windows
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/watch.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

[microsoft.azd.extensions] Enable unit tests in CI
  cli/azd/extensions/microsoft.azd.extensions/ci-test.ps1
  eng/pipelines/release-ext-microsoft-azd-extensions.yml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

Address PR review feedback for #8266
  cli/azd/extensions/azure.ai.agents/internal/cmd/index_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_foundry_resources_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_templates_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_models.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/root.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/sample.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/sample_list.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/sample_list_test.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/errors.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/errors_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

[microsoft.azd.extensions] Fix azd x watch glob matching on Windows and enable CI tests (#8278)
  cli/azd/extensions/microsoft.azd.extensions/ci-test.ps1
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/watch.go
  eng/pipelines/release-ext-microsoft-azd-extensions.yml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

clean up
  cli/azd/cmd/tool.go
Due: eng/pipelines/release-cli.yml

Refactor some common deployment logic
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

clean up merge conflict
  cli/azd/cmd/tool_test.go
Due: eng/pipelines/release-cli.yml

fix(#8149): azd tool list detects AI extension (#8194)
  cli/azd/cmd/tool.go
  cli/azd/pkg/tool/detector.go
  cli/azd/pkg/tool/detector_test.go
  cli/azd/pkg/tool/installer_test.go
  cli/azd/pkg/tool/manager_test.go
  cli/azd/pkg/tool/manifest.go
  cli/azd/pkg/tool/manifest_test.go
  cli/azd/pkg/tool/version_provider.go
  cli/azd/pkg/tool/version_provider_test.go
Due: eng/pipelines/release-cli.yml

chore: set inspector extension approvers
  .github/workflows/approval-ext-azure-ai-inspector.yml
Due: none

fix: resolve blockers
  cli/azd/extensions/azure.ai.inspector/internal/inspector/proxy_fetch.go
  cli/azd/extensions/azure.ai.inspector/internal/inspector/proxy_sse.go
  cli/azd/extensions/azure.ai.inspector/internal/inspector/proxy_sse_test.go
  cli/azd/extensions/azure.ai.inspector/internal/inspector/rpc.go
  cli/azd/extensions/azure.ai.inspector/internal/inspector/rpc_test.go
  cli/azd/extensions/azure.ai.inspector/internal/inspector/security.go
  cli/azd/extensions/azure.ai.inspector/internal/inspector/security_test.go
  cli/azd/extensions/azure.ai.inspector/internal/inspector/server.go
  cli/azd/extensions/azure.ai.inspector/internal/inspector/server_test.go
Due: eng/pipelines/release-azd-extension.yml

fix: clarify model configuration prompt wording to reduce confusion
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

refactor: decouple Foundry project selection from model configuration
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: remove deprecated runtimes (Python 3.11/3.12, .NET 8/9) from agent init
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: resolve majors
  cli/azd/extensions/azure.ai.agents/README.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/run.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/run_test.go
  cli/azd/extensions/azure.ai.inspector/README.md
  cli/azd/extensions/azure.ai.inspector/THIRD_PARTY_NOTICES.md
  cli/azd/extensions/azure.ai.inspector/internal/cmd/inspector_test.go
  cli/azd/extensions/azure.ai.inspector/internal/cmd/sse_render.go
  cli/azd/extensions/azure.ai.inspector/internal/inspector/rpc.go
  cli/azd/extensions/azure.ai.inspector/internal/inspector/security.go
  cli/azd/extensions/azure.ai.inspector/internal/inspector/security_test.go
  cli/azd/extensions/azure.ai.inspector/internal/inspector/server.go
  cli/azd/extensions/azure.ai.inspector/internal/inspector/server_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: resolve minors and nits
  cli/azd/extensions/azure.ai.agents/internal/cmd/run.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/run_test.go
  cli/azd/extensions/azure.ai.inspector/internal/cmd/inspector.go
  cli/azd/extensions/azure.ai.inspector/internal/inspector/proxy_fetch.go
  cli/azd/extensions/azure.ai.inspector/internal/inspector/proxy_fetch_test.go
  cli/azd/extensions/azure.ai.inspector/internal/inspector/proxy_sse.go
  cli/azd/extensions/azure.ai.inspector/internal/inspector/rpc.go
  cli/azd/extensions/azure.ai.inspector/internal/inspector/server.go
  cli/azd/extensions/azure.ai.inspector/internal/inspector/server_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat(ai.projects): auto-migrate legacy ai-agents endpoint
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_context_store.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_context_store_test.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_resolver.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_show.go
Due: eng/pipelines/release-azd-extension.yml

fix: minors and nits
  cli/azd/extensions/azure.ai.agents/internal/cmd/run_test.go
  cli/azd/extensions/azure.ai.inspector/AGENTS.md
  cli/azd/extensions/azure.ai.inspector/build.sh
  cli/azd/extensions/azure.ai.inspector/cspell.yaml
  cli/azd/extensions/azure.ai.inspector/internal/cmd/root_test.go
  cli/azd/extensions/azure.ai.inspector/internal/inspector/server.go
  cli/azd/extensions/azure.ai.inspector/internal/inspector/server_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

chore(ai.projects): add gitattributes, golangci, and AGENTS docs
  cli/azd/extensions/azure.ai.projects/.gitattributes
  cli/azd/extensions/azure.ai.projects/.golangci.yaml
  cli/azd/extensions/azure.ai.projects/AGENTS.md
Due: eng/pipelines/release-azd-extension.yml

fix: CI
  cli/azd/extensions/azure.ai.agents/internal/cmd/run.go
  cli/azd/extensions/azure.ai.inspector/cspell.yaml
  cli/azd/extensions/azure.ai.inspector/internal/cmd/inspector.go
  cli/azd/extensions/azure.ai.inspector/internal/inspector/proxy_sse_test.go
  cli/azd/extensions/azure.ai.inspector/internal/inspector/rpc.go
  cli/azd/extensions/azure.ai.inspector/internal/inspector/security_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

chore: add CODEOWNERS entry for azure.ai.projects extension
  .github/CODEOWNERS
Due: none

docs(ai.projects): align AGENTS.md structure with azure.ai.agents
  cli/azd/extensions/azure.ai.projects/AGENTS.md
Due: eng/pipelines/release-azd-extension.yml

chore(toolboxes): add .golangci.yaml and AGENTS.md for sibling-extension consistency
  cli/azd/extensions/azure.ai.toolboxes/.golangci.yaml
  cli/azd/extensions/azure.ai.toolboxes/AGENTS.md
Due: eng/pipelines/release-azd-extension.yml

chore: update REQUIRED_APPROVERS
  .github/workflows/approval-ext-azure-ai-inspector.yml
Due: none

fix(toolboxes): suppress G304 on --from-file read
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_files.go
Due: eng/pipelines/release-azd-extension.yml

fix: allow changing model when manifest specifies a default (#8287)
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_models.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: clarify no-prompt default comment per review feedback
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Address review feedback: IsCancellation checks, error wrapping, project-id validation
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_models.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Fix end message in init_from_code: recommend 'azd up' when new model needs provisioning
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

reorganize
  cli/azd/extensions/azure.ai.agents/azd_observability_bugbash.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_helpers_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_init_jobs.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_init_prompts.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_init_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_list.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_progress.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_progress_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_run.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_run_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_show.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_show_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_update.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_apply.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_apply_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_cancel.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_config.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_deploy.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_deploy_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_list.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_prompts.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_status.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/artifacts.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/generation.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/opteval/state.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/opteval/yaml.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/optimize_api/client.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/optimize_api/models.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/optimize_api/poller.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

doc: design spec for azd ai agent init reuse of existing agent.yaml
  cli/azd/docs/design/azure-ai-agent-init-reuse-agent-yaml.md
Due: eng/pipelines/release-cli.yml

bug bash
  cli/azd/extensions/azure.ai.agents/azd_observability_bugbash.md
  cli/azd/extensions/azure.ai.agents/extension.yaml
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_apply.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_apply_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_test.go
  cli/azd/extensions/azure.ai.agents/version.txt
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

chore: remove @jongio from CODEOWNERS
  .github/CODEOWNERS
Due: none

fix: restore CODEOWNERS column alignment
  .github/CODEOWNERS
Due: none

Release azure.ai.training 0.0.1-preview (#8295)
  cli/azd/extensions/azure.ai.training/CHANGELOG.md
Due: eng/pipelines/release-azd-extension.yml

Add support for updating dev registry in ext release pipelines
  eng/pipelines/release-ext-azure-ai-agents.yml
  eng/pipelines/release-ext-azure-ai-connections.yml
  eng/pipelines/release-ext-azure-ai-finetune.yml
  eng/pipelines/release-ext-azure-ai-inspector.yml
  eng/pipelines/release-ext-azure-ai-models.yml
  eng/pipelines/release-ext-azure-ai-projects.yml
  eng/pipelines/release-ext-azure-ai-routines.yml
  eng/pipelines/release-ext-azure-ai-skills.yml
  eng/pipelines/release-ext-azure-ai-toolboxes.yml
  eng/pipelines/release-ext-azure-appservice.yml
  eng/pipelines/release-ext-azure-coding-agent.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml
  eng/pipelines/templates/stages/publish-extension.yml
  eng/pipelines/templates/stages/release-azd-extension.yml
Due: none
