Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: go.mod, cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

Publishing azdo extension: NodeTool
  eng/pipelines/templates/stages/azuredevops-publish-manual.yml
Due: none

Publishing azdo extension: NodeTool (#6516)
  eng/pipelines/templates/stages/azuredevops-publish-manual.yml
Due: none

Add `azd config options` command for config discoverability (#6390)
  cli/azd/cmd/config.go
  cli/azd/cmd/config_options_test.go
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-config-options.snap
  cli/azd/cmd/testdata/TestUsage-azd-config.snap
  cli/azd/pkg/config/config_options.go
  cli/azd/pkg/config/config_options_test.go
  cli/azd/resources/config_options.yaml
  cli/azd/resources/resources.go
Due: eng/pipelines/release-cli.yml

TfxInstaller
  eng/pipelines/templates/stages/azuredevops-publish-manual.yml
Due: none

TfxInstaller (#6519)
  eng/pipelines/templates/stages/azuredevops-publish-manual.yml
Due: none

fail when middleware resolve fails
  cli/azd/cmd/middleware/middleware.go
Due: eng/pipelines/release-cli.yml

add tests
  cli/azd/test/functional/env_test.go
Due: eng/pipelines/release-cli.yml

add env remove
  cli/azd/cmd/env.go
  cli/azd/cmd/env_remove.go
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-env-remove.snap
  cli/azd/cmd/testdata/TestUsage-azd-env.snap
  cli/azd/proposal.md
  cli/azd/test/functional/testdata/samples/containerremotebuildapp/infra/resources.bicep
Due: eng/pipelines/release-cli.yml

Update CHANGELOG.md
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

Update cli/azd/pkg/extensions/metadata.go
  cli/azd/pkg/extensions/metadata.go
Due: eng/pipelines/release-cli.yml

Addresses PR feedback
  cli/azd/.vscode/cspell.yaml
  cli/azd/pkg/extensions/manager.go
  cli/azd/pkg/extensions/manager_test.go
Due: eng/pipelines/release-cli.yml

release 120
  ext/azuredevops/CHANGELOG.md
  ext/azuredevops/setupAzd/package.json
  ext/azuredevops/setupAzd/task.json
  ext/azuredevops/vss-extension.json
Due: eng/pipelines/release-azdo-setupazd.yml

release 120 (#6523)
  ext/azuredevops/CHANGELOG.md
  ext/azuredevops/setupAzd/package.json
  ext/azuredevops/setupAzd/task.json
  ext/azuredevops/vss-extension.json
Due: eng/pipelines/release-azdo-setupazd.yml

Support self-hosted Azure DevOps Server remotes via user confirmation (#6480)
  cli/azd/pkg/pipeline/azdo_provider.go
  cli/azd/pkg/pipeline/azdo_provider_test.go
Due: eng/pipelines/release-cli.yml

Use generic extension command descriptions for nested namespaces
  cli/azd/cmd/extensions.go
  cli/azd/cmd/extensions_test.go
  cli/azd/cmd/root.go
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-ai.snap
  cli/azd/cmd/testdata/TestUsage-azd.snap
Due: eng/pipelines/release-cli.yml

Adds extension metadata capability (#6496)
  cli/azd/.vscode/cspell.yaml
  cli/azd/cmd/container.go
  cli/azd/extensions/extension.schema.json
  cli/azd/extensions/microsoft.azd.demo/README.md
  cli/azd/extensions/microsoft.azd.demo/extension.yaml
  cli/azd/extensions/microsoft.azd.demo/internal/cmd/metadata.go
  cli/azd/extensions/microsoft.azd.demo/internal/cmd/root.go
  cli/azd/extensions/microsoft.azd.demo/internal/config/types.go
  cli/azd/pkg/azdext/metadata_generator.go
  cli/azd/pkg/azdext/metadata_generator_test.go
  cli/azd/pkg/extensions/manager.go
  cli/azd/pkg/extensions/manager_test.go
  cli/azd/pkg/extensions/metadata.go
  cli/azd/pkg/extensions/metadata_test.go
  cli/azd/pkg/extensions/registry.go
  cli/azd/pkg/extensions/runner.go
  cli/azd/pkg/extensions/schema_validator.go
  cli/azd/pkg/extensions/schema_validator_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml

Use generic extension command descriptions for nested namespaces (#6525)
  cli/azd/cmd/extensions.go
  cli/azd/cmd/extensions_test.go
  cli/azd/cmd/root.go
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-ai.snap
  cli/azd/cmd/testdata/TestUsage-azd.snap
Due: eng/pipelines/release-cli.yml

Implement command path resolution for extensions and enhance telemetry middleware
  cli/azd/cmd/middleware/telemetry.go
  cli/azd/cmd/middleware/telemetry_test.go
  cli/azd/extensions/microsoft.azd.demo/internal/cmd/colors.go
  cli/azd/pkg/azdext/metadata_generator.go
  cli/azd/pkg/extensions/command_resolver.go
  cli/azd/pkg/extensions/metadata_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml

Fix lint
  cli/azd/pkg/extensions/metadata_test.go
Due: eng/pipelines/release-cli.yml

Fix spell
  cli/azd/.vscode/cspell.yaml
  cli/azd/extensions/microsoft.azd.demo/cspell.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml

address feedback
  cli/azd/cmd/init.go
Due: eng/pipelines/release-cli.yml

Create changelog for 1.23.0 release (#6521)
  cli/azd/CHANGELOG.md
  cli/version.txt
Due: eng/pipelines/release-cli.yml

lll
  cli/azd/cmd/init.go
Due: eng/pipelines/release-cli.yml

Increment CLI version after release
  cli/azd/CHANGELOG.md
  cli/version.txt
Due: eng/pipelines/release-cli.yml

Initial changes
  cli/azd/extensions/azure.ai.finetune/internal/cmd/operations.go
  cli/azd/extensions/azure.ai.finetune/internal/providers/openai/provider.go
  cli/azd/extensions/azure.ai.finetune/internal/services/finetune_service.go
  cli/azd/extensions/azure.ai.finetune/internal/tools/job_wrapper.go
  cli/azd/extensions/azure.ai.finetune/pkg/models/finetune.go
Due: eng/pipelines/release-azd-extension.yml

Break job action into individual commands
  cli/azd/extensions/azure.ai.finetune/internal/cmd/operations.go
Due: eng/pipelines/release-azd-extension.yml

align with specs
  cli/azd/extensions/azure.ai.finetune/internal/cmd/operations.go
Due: eng/pipelines/release-azd-extension.yml

Nit
  cli/azd/extensions/azure.ai.finetune/internal/cmd/operations.go
Due: eng/pipelines/release-azd-extension.yml

Add Azure DocumentDB (mongoClusters) resource type mapping (#6527)
  cli/azd/pkg/azapi/azure_resource_types.go
  cli/azd/pkg/azapi/azure_resource_types_test.go
Due: eng/pipelines/release-cli.yml

refactor
  cli/azd/extensions/azure.ai.finetune/internal/cmd/operations.go
  cli/azd/extensions/azure.ai.finetune/internal/services/finetune_service.go
  cli/azd/extensions/azure.ai.finetune/pkg/models/finetune.go
Due: eng/pipelines/release-azd-extension.yml

Cleanup: Remove unnecessary logging
  eng/pipelines/templates/steps/setup-go.yml
Due: none

Cleanup: Remove unnecessary logging (#6533)
  eng/pipelines/templates/steps/setup-go.yml
Due: none

Fix test
  cli/azd/pkg/azdext/metadata_generator_test.go
Due: eng/pipelines/release-cli.yml

Increment CLI version after release (#6529)
  cli/azd/CHANGELOG.md
  cli/version.txt
Due: eng/pipelines/release-cli.yml

Pass azd env vars to tools
  cli/azd/pkg/ai/python_bridge.go
  cli/azd/pkg/project/container_helper.go
  cli/azd/pkg/project/framework_service_dotnet.go
  cli/azd/pkg/project/framework_service_maven.go
  cli/azd/pkg/project/framework_service_npm.go
  cli/azd/pkg/project/framework_service_python.go
  cli/azd/pkg/project/framework_service_swa.go
  cli/azd/pkg/project/service_config.go
  cli/azd/pkg/tools/dotnet/dotnet.go
  cli/azd/pkg/tools/maven/maven.go
  cli/azd/pkg/tools/npm/npm.go
  cli/azd/pkg/tools/python/python.go
  cli/azd/pkg/tools/python/python_test.go
  cli/azd/pkg/tools/swa/swa.go
  cli/azd/pkg/tools/swa/swa_test.go
Due: eng/pipelines/release-cli.yml

Adds check to inform user when new extension version is available.
  cli/azd/cmd/extensions.go
  cli/azd/pkg/extensions/extension.go
  cli/azd/pkg/extensions/manager.go
  cli/azd/pkg/extensions/registry_cache.go
  cli/azd/pkg/extensions/registry_cache_test.go
  cli/azd/pkg/extensions/update_checker.go
  cli/azd/pkg/extensions/update_checker_test.go
  cli/azd/pkg/extensions/update_integration_test.go
  cli/azd/pkg/output/ux/warning.go
Due: eng/pipelines/release-cli.yml

Fixes spelling issues
  cli/azd/.vscode/cspell.yaml
  cli/azd/pkg/extensions/update_checker.go
  cli/azd/pkg/extensions/update_checker_test.go
Due: eng/pipelines/release-cli.yml

fix panic on middleware construction failure (#6517)
  cli/azd/cmd/middleware/hooks.go
  cli/azd/cmd/middleware/hooks_test.go
  cli/azd/cmd/middleware/middleware.go
Due: eng/pipelines/release-cli.yml
