Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      vmImage: windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
        PublishAnalysisLogs: false
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

eng/pipelines/release-ext-microsoft-azd-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: microsoft.azd.demo
          SanitizedExtensionId: microsoft-azd-demo
  ...

eng/pipelines/release-ext-microsoft-azd-extensions.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: microsoft.azd.extensions
          SanitizedExtensionId: microsoft-azd-extensions
  ...

eng/pipelines/release-vscode.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: OutputAttributes
        jobs:
        - job: OutputAttributes
          pool:
            name: azsdk-pool-mms-ubuntu-2004-general
            image: azsdk-pool-mms-ubuntu-2004-1espt
  ...

eng/pipelines/repoman.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: Validation
        variables:
        - template: /eng/pipelines/templates/variables/globals.yml
        - name: StagingRemoteName
          value: azure-samples-staging
        jobs:
  ...

Dump glob@8
  ext/vscode/package-lock.json
  ext/vscode/package.json
  ext/vscode/src/test/suite/allTests.ts
  ext/vscode/src/test/suite/unitTests.ts
Due: eng/pipelines/release-vscode.yml

wip
  cli/azd/docs/azd-bicep-metadata.md
Due: eng/pipelines/release-cli.yml

Minor changes
  ext/vscode/src/commands/cmdUtil.ts
  ext/vscode/src/services/AzureDevEnvListProvider.ts
Due: eng/pipelines/release-vscode.yml

wip
  cli/azd/docs/azd-bicep-metadata.md
  cli/azd/docs/prompt-with-default.png
  cli/azd/docs/prompt-with-location-default-metadata.png
  cli/azd/docs/prompt-with-location-metadata.png
  cli/azd/docs/prompt-with-rg.png
Due: eng/pipelines/release-cli.yml

vmp
  cli/azd/docs/azd-bicep-metadata.md
  cli/azd/docs/prompt-with-usage-name.png
Due: eng/pipelines/release-cli.yml

Parse output from stdout only
  cli/azd/extensions/microsoft.azd.extensions/internal/helpers.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

Update azure-sdk-build-tools Repository Resource Refs in Yaml files
  eng/pipelines/templates/stages/1es-redirect.yml
Due: none

Fix extension `build.ps1` scripts to fail on any error (#5739)
  cli/azd/extensions/microsoft.azd.ai.builder/build.ps1
  cli/azd/extensions/microsoft.azd.demo/build.ps1
  cli/azd/extensions/microsoft.azd.extensions/build.ps1
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/dotnet/build.ps1
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/go/build.ps1
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/javascript/build.ps1
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/python/build.ps1
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

Update README.md
  cli/azd/extensions/microsoft.ai.agents/README.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Add ci-build.ps1 and version.txt
  cli/azd/extensions/microsoft.ai.agents/ci-build.ps1
  cli/azd/extensions/microsoft.ai.agents/version.txt
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Add publish pipeline
  eng/pipelines/release-ext-microsoft-ai-agents.yml
Due: none

Update note block
  cli/azd/extensions/microsoft.ai.agents/README.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Support creating GitHub prereleases
  eng/pipelines/templates/steps/publish-extension.yml
Due: none

Address comments
  .github/CODEOWNERS
  cli/azd/extensions/microsoft.ai.agents/README.md
  cli/azd/extensions/microsoft.ai.agents/extension.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Initial scaffolding
  cli/azd/extensions/microsoft.ai.agents/CHANGELOG.md
  cli/azd/extensions/microsoft.ai.agents/README.md
  cli/azd/extensions/microsoft.ai.agents/build.ps1
  cli/azd/extensions/microsoft.ai.agents/build.sh
  cli/azd/extensions/microsoft.ai.agents/extension.yaml
  cli/azd/extensions/microsoft.ai.agents/go.mod
  cli/azd/extensions/microsoft.ai.agents/go.sum
  cli/azd/extensions/microsoft.ai.agents/internal/cmd/context.go
  cli/azd/extensions/microsoft.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/microsoft.ai.agents/internal/cmd/prompt.go
  cli/azd/extensions/microsoft.ai.agents/internal/cmd/root.go
  cli/azd/extensions/microsoft.ai.agents/internal/cmd/version.go
  cli/azd/extensions/microsoft.ai.agents/main.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Address comments
  cli/azd/extensions/microsoft.ai.agents/CHANGELOG.md
  cli/azd/extensions/microsoft.ai.agents/internal/cmd/context.go
  cli/azd/extensions/microsoft.ai.agents/internal/cmd/root.go
  cli/azd/extensions/microsoft.azd.demo/internal/cmd/context.go
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/go/internal/cmd/context.go.tmpl
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

Update script and manifest
  cli/azd/extensions/microsoft.ai.agents/build.ps1
  cli/azd/extensions/microsoft.ai.agents/extension.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Add dummy `init` and `deploy`
  cli/azd/extensions/microsoft.ai.agents/internal/cmd/deploy.go
  cli/azd/extensions/microsoft.ai.agents/internal/cmd/init.go
  cli/azd/extensions/microsoft.ai.agents/internal/cmd/root.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Adding in some functions I need to create the `copilot` environment in GitHub.
  cli/azd/pkg/tools/github/github.go
  cli/azd/pkg/tools/github/github_test.go
  cli/azd/pkg/tools/github/testdata/getenv.json
  cli/azd/pkg/tools/github/testdata/getenv2.json
Due: eng/pipelines/release-cli.yml

Updates to AZD VSCode extension's process execution (of AZD) (#5740)
  eng/pipelines/templates/jobs/vscode-build.yml
  ext/vscode/.eslintrc.json
  ext/vscode/.vscode/cspell-dictionary.txt
  ext/vscode/eslint.config.mjs
  ext/vscode/package-lock.json
  ext/vscode/package.json
  ext/vscode/src/commands/azureWorkspace/wizard/PickResourceStep.ts
  ext/vscode/src/commands/cmdUtil.ts
  ext/vscode/src/commands/deploy.ts
  ext/vscode/src/commands/devCenterMode.ts
  ext/vscode/src/commands/down.ts
  ext/vscode/src/commands/env.ts
  ext/vscode/src/commands/getDotEnvFilePath.ts
  ext/vscode/src/commands/init.ts
  ext/vscode/src/commands/loginCli.ts
  ext/vscode/src/commands/monitor.ts
  ext/vscode/src/commands/packageCli.ts
  ext/vscode/src/commands/pipeline.ts
  ext/vscode/src/commands/provision.ts
  ext/vscode/src/commands/restore.ts
  ext/vscode/src/commands/up.ts
  ext/vscode/src/ext.ts
  ext/vscode/src/extension.ts
  ext/vscode/src/services/AzureDevEnvListProvider.ts
  ext/vscode/src/services/AzureDevShowProvider.ts
  ext/vscode/src/tasks/dotEnvTaskProvider.ts
  ext/vscode/src/test/suite/allTests.ts
  ext/vscode/src/test/suite/unitTests.ts
  ext/vscode/src/utils/VsCodeAuthenticationCredential.ts
  ext/vscode/src/utils/authServer.ts
  ext/vscode/src/utils/azureDevCli.ts
  ext/vscode/src/utils/commandLineBuilder.ts
  ext/vscode/src/utils/execAsync.ts
  ext/vscode/src/utils/executeAsTask.ts
  ext/vscode/src/utils/lazy.ts
  ext/vscode/src/utils/process.ts
  ext/vscode/src/utils/withTimeout.ts
Due: eng/pipelines/release-vscode.yml

Tiny update to .vscodeignore in extension
  ext/vscode/.vscodeignore
Due: eng/pipelines/release-vscode.yml

Tiny update to .vscodeignore in extension (#5750)
  ext/vscode/.vscodeignore
Due: eng/pipelines/release-vscode.yml

Fix `azd x publish` to automatically set up local extension registry (#5736)
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/init.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/publish.go
  cli/azd/extensions/microsoft.azd.extensions/internal/helpers.go
  cli/azd/extensions/microsoft.azd.extensions/internal/helpers_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

Don't need these test files anymore either, and comment out the live path for now.
  cli/azd/pkg/tools/github/github_test.go
  cli/azd/pkg/tools/github/testdata/getenv.json
  cli/azd/pkg/tools/github/testdata/getenv2.json
Due: eng/pipelines/release-cli.yml

Updating to skip instead of being commented out, where it'll rot.
  cli/azd/pkg/tools/github/github_test.go
Due: eng/pipelines/release-cli.yml

Remove mock tests, leave live test in but skipped as the infra doesn't yet exist (probably)
  cli/azd/pkg/tools/github/github_test.go
Due: eng/pipelines/release-cli.yml

Swap to using .run instead of commandRunner.Run()
  cli/azd/pkg/tools/github/github.go
Due: eng/pipelines/release-cli.yml

Even more simplification since I'm using .run()
  cli/azd/pkg/tools/github/github.go
Due: eng/pipelines/release-cli.yml

Replace --image and --tag with --to and remove --force-publish
  cli/azd/internal/cmd/deploy.go
  cli/azd/internal/cmd/publish.go
  cli/azd/pkg/project/container_helper.go
  cli/azd/pkg/project/container_helper_test.go
  cli/azd/pkg/project/service_manager_test.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/pkg/project/service_target_dotnet_containerapp.go
  cli/azd/pkg/tools/docker/docker.go
Due: eng/pipelines/release-cli.yml

feat: implement auto-installation workflow for extensions
  cli/azd/cmd/auto_install.go
  cli/azd/main.go
Due: eng/pipelines/release-cli.yml

Revert recording changes
  cli/azd/test/functional/testdata/recordings/Test_CLI_Up_Down_ContainerApp_RemoteBuild.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_VsServer/LiveDeployRefresh.dotnet.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_VsServer/LiveDeployRefresh.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_VsServer/LiveDeployServiceRefresh.dotnet.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_VsServer/LiveDeployServiceRefresh.yaml
Due: eng/pipelines/release-cli.yml

Update test recordings
  cli/azd/cmd/testdata/TestUsage-azd-deploy.snap
  cli/azd/cmd/testdata/TestUsage-azd-publish.snap
  cli/azd/test/functional/publish_test.go
  cli/azd/test/functional/testdata/recordings/Test_CLI_Publish_ContainerApp_RemoteBuild/custom_image_and_tag.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_Publish_ContainerApp_RemoteBuild/default_publish.yaml
Due: eng/pipelines/release-cli.yml

use console and confirm
  cli/azd/cmd/auto_install.go
  cli/azd/main.go
Due: eng/pipelines/release-cli.yml

update approach to check if the command is an extension
  cli/azd/cmd/auto_install.go
Due: eng/pipelines/release-cli.yml

impl updates
  cli/azd/cmd/auto_install.go
Due: eng/pipelines/release-cli.yml

skip instead of error
  cli/azd/cmd/auto_install.go
Due: eng/pipelines/release-cli.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
