Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      demands: ImageOverride -equals windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-azdo-setupazd.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: BuildAndTest
        variables:
        - template: /eng/pipelines/templates/variables/image.yml
        jobs:
        - job: BuildSetupAzd
          displayName: BuildSetupAzd
          variables:
  ...

eng/pipelines/release-azuredevops.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/azuredevops-build-and-test.yml
      - template: /eng/pipelines/templates/stages/azuredevops-sign.yml
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-ai-agents
  ...

eng/pipelines/release-ext-azure-ai-models.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.models
          SanitizedExtensionId: azure-ai-models
  ...

eng/pipelines/release-ext-azure-appservice.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.appservice
          SanitizedExtensionId: azure-appservice
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

Harden MCP security policy: CIDR gaps, scheme allowlist, mutex
  cli/azd/pkg/azdext/mcp_security.go
  cli/azd/pkg/azdext/mcp_security_test.go
Due: eng/pipelines/release-cli.yml

Update suggestions
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: add CGNAT to cspell dictionary
  cli/azd/.vscode/cspell.yaml
Due: eng/pipelines/release-cli.yml

feat: add 'azd extension source validate' command for extension registry validation (#6906)
  cli/azd/cmd/extension.go
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-extension-source-validate.snap
  cli/azd/cmd/testdata/TestUsage-azd-extension-source.snap
  cli/azd/pkg/extensions/validate_registry.go
  cli/azd/pkg/extensions/validate_registry_test.go
Due: eng/pipelines/release-cli.yml

feat: pass azd environment variables to all framework service subprocesses (#6905)
  cli/azd/pkg/ai/python_bridge.go
  cli/azd/pkg/project/framework_service_dotnet.go
  cli/azd/pkg/project/framework_service_maven.go
  cli/azd/pkg/project/framework_service_node.go
  cli/azd/pkg/project/framework_service_python.go
  cli/azd/pkg/project/framework_service_swa.go
  cli/azd/pkg/project/service_target_staticwebapp.go
  cli/azd/pkg/tools/dotnet/dotnet.go
  cli/azd/pkg/tools/maven/maven.go
  cli/azd/pkg/tools/node/node.go
  cli/azd/pkg/tools/node/node_test.go
  cli/azd/pkg/tools/python/python.go
  cli/azd/pkg/tools/python/python_test.go
  cli/azd/pkg/tools/swa/swa.go
  cli/azd/pkg/tools/swa/swa_test.go
Due: eng/pipelines/release-cli.yml

Update cli/azd/pkg/extensions/registry_cache_test.go
  cli/azd/pkg/extensions/registry_cache_test.go
Due: eng/pipelines/release-cli.yml

Update cli/azd/pkg/extensions/version_compatibility_test.go
  cli/azd/pkg/extensions/version_compatibility_test.go
Due: eng/pipelines/release-cli.yml

fix: add missing 0.0.0.0/8 and ::/128 CIDR blocks to MCPSecurityPolicy (#6907)
  cli/azd/.vscode/cspell.yaml
  cli/azd/pkg/azdext/mcp_security.go
  cli/azd/pkg/azdext/mcp_security_test.go
Due: eng/pipelines/release-cli.yml

fix: improve polling patterns across deployment services
  cli/azd/pkg/azapi/stack_deployments.go
  cli/azd/pkg/azsdk/funcapp_host_client.go
  cli/azd/pkg/project/service_target_staticwebapp.go
Due: eng/pipelines/release-cli.yml

Add structured error handling to `azure.ai.agents` and update service error mapping (#6901)
  cli/azd/.vscode/cspell.yaml
  cli/azd/extensions/azure.ai.agents/cspell.yaml
  cli/azd/extensions/azure.ai.agents/extension.yaml
  cli/azd/extensions/azure.ai.agents/go.mod
  cli/azd/extensions/azure.ai.agents/go.sum
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_models.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/errors.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/main.go
  cli/azd/internal/cmd/errors.go
  cli/azd/internal/cmd/errors_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

perf: optimize Container Apps deployment by reducing ARM round-trips (#6888)
  cli/azd/pkg/containerapps/container_app.go
  cli/azd/pkg/containerapps/container_app_benchmark_test.go
  cli/azd/pkg/containerapps/container_app_test.go
  cli/azd/pkg/project/service_target_containerapp_test.go
Due: eng/pipelines/release-cli.yml

Remove VerifyInstallers from PR builds in release-cli.yml (#6899)
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

fix: propagate context in remote build upload and log streaming
  cli/azd/pkg/containerregistry/remote_build.go
Due: eng/pipelines/release-cli.yml

Update design doc with implementation details
  cli/azd/docs/design/azd-update.md
Due: eng/pipelines/release-cli.yml

Add codesign, Authenticode, syscall to cspell dictionary
  cli/azd/.vscode/cspell.yaml
Due: eng/pipelines/release-cli.yml

feat: Add PR documentation monitor workflow
  .github/actions/doc-monitor/.gitignore
  .github/actions/doc-monitor/README.md
  .github/actions/doc-monitor/action.yml
  .github/actions/doc-monitor/dist/index.js
  .github/actions/doc-monitor/package-lock.json
  .github/actions/doc-monitor/package.json
  .github/actions/doc-monitor/src/analyze.ts
  .github/actions/doc-monitor/src/comment-tracker.ts
  .github/actions/doc-monitor/src/constants.ts
  .github/actions/doc-monitor/src/diff.ts
  .github/actions/doc-monitor/src/docs-inventory.ts
  .github/actions/doc-monitor/src/github-utils.ts
  .github/actions/doc-monitor/src/index.ts
  .github/actions/doc-monitor/src/inputs.ts
  .github/actions/doc-monitor/src/pr-body.ts
  .github/actions/doc-monitor/src/pr-manager.ts
  .github/actions/doc-monitor/src/processor.ts
  .github/actions/doc-monitor/src/types.ts
  .github/actions/doc-monitor/tsconfig.json
  .github/workflows/doc-monitor.yml
Due: none

fix: Make docs-repo-token optional for graceful degradation
  .github/actions/doc-monitor/action.yml
  .github/actions/doc-monitor/dist/index.js
  .github/actions/doc-monitor/src/index.ts
  .github/actions/doc-monitor/src/inputs.ts
  .github/actions/doc-monitor/src/processor.ts
Due: none

fix: Switch to public docs repo, fall back to GITHUB_TOKEN for reads
  .github/actions/doc-monitor/README.md
  .github/actions/doc-monitor/dist/index.js
  .github/actions/doc-monitor/src/constants.ts
  .github/actions/doc-monitor/src/index.ts
  .github/actions/doc-monitor/src/inputs.ts
  .github/actions/doc-monitor/src/processor.ts
  .github/workflows/doc-monitor.yml
Due: none

feat: Switch to GitHub App auth and pull_request_target trigger
  .github/actions/doc-monitor/README.md
  .github/actions/doc-monitor/action.yml
  .github/actions/doc-monitor/dist/index.js
  .github/actions/doc-monitor/src/index.ts
  .github/actions/doc-monitor/src/inputs.ts
  .github/actions/doc-monitor/src/processor.ts
  .github/workflows/doc-monitor.yml
Due: none

fix: address Copilot review feedback
  .github/actions/doc-monitor/README.md
  .github/actions/doc-monitor/dist/index.js
  .github/actions/doc-monitor/src/constants.ts
  .github/actions/doc-monitor/src/diff.ts
  .github/actions/doc-monitor/src/docs-inventory.ts
  .github/actions/doc-monitor/src/processor.ts
Due: none

Filter finetune SKUs by default from ResolveModelDeployments
  cli/azd/grpc/proto/ai_model.proto
  cli/azd/internal/grpcserver/ai_model_service.go
  cli/azd/internal/grpcserver/prompt_service.go
  cli/azd/pkg/ai/model_service.go
  cli/azd/pkg/ai/model_service_test.go
  cli/azd/pkg/ai/types.go
  cli/azd/pkg/azdext/ai_model.pb.go
Due: eng/pipelines/release-cli.yml

Checkpoint from VS Code for cloud agent session
  cli/azd/docs/design/metadata-parameter-references.md
  cli/azd/pkg/azure/arm_template.go
  cli/azd/pkg/azure/arm_template_test.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/prompt.go
  cli/azd/pkg/infra/provisioning/bicep/prompt_test.go
Due: eng/pipelines/release-cli.yml

Add comment
  cli/azd/pkg/ai/model_service.go
Due: eng/pipelines/release-cli.yml

Fix lll
  cli/azd/pkg/ai/model_service.go
Due: eng/pipelines/release-cli.yml

Address feedback
  cli/azd/pkg/ai/types.go
Due: eng/pipelines/release-cli.yml

fix: close response.Body in waitForDeployment polling loop
  cli/azd/pkg/azsdk/funcapp_host_client.go
Due: eng/pipelines/release-cli.yml

Filter finetune SKUs by default from ResolveModelDeployments (#6929)
  cli/azd/grpc/proto/ai_model.proto
  cli/azd/internal/grpcserver/ai_model_service.go
  cli/azd/internal/grpcserver/prompt_service.go
  cli/azd/pkg/ai/model_service.go
  cli/azd/pkg/ai/model_service_test.go
  cli/azd/pkg/ai/types.go
  cli/azd/pkg/azdext/ai_model.pb.go
Due: eng/pipelines/release-cli.yml

Update design doc to match implementation
  cli/azd/docs/design/azd-update.md
Due: eng/pipelines/release-cli.yml

perf: skip redundant recursive traversal in provisioning progress polling
  cli/azd/pkg/infra/provisioning_progress_display.go
Due: eng/pipelines/release-cli.yml

fix: initialize lastRootOpCount to -1 so first poll always processes
  cli/azd/pkg/infra/provisioning_progress_display.go
Due: eng/pipelines/release-cli.yml

Update cli/azd/CHANGELOG.md
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

Integrate azd consent system and required plugin auto-install
  cli/azd/internal/agent/copilot_agent_factory.go
  cli/azd/pkg/llm/copilot_client.go
Due: eng/pipelines/release-cli.yml

Trivial change to trigger CI build
  cli/azd/README.md
Due: eng/pipelines/release-cli.yml

Create changelog for 1.23.7 (#6926)
  cli/azd/CHANGELOG.md
  cli/version.txt
Due: eng/pipelines/release-cli.yml

fall back to last element
  cli/azd/pkg/extensions/version_compatibility.go
Due: eng/pipelines/release-cli.yml

Prepare azure.ai.agents 0.1.12-preview release (#6931)
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/extension.yaml
  cli/azd/extensions/azure.ai.agents/version.txt
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Silence extension process stderr logs to prevent call-stack-like error output
  cli/azd/pkg/azdext/extension_host.go
Due: eng/pipelines/release-cli.yml

feat: OIDC auth, MQ fixes, deps update, azure-dev-docs-pr
  .github/actions/doc-monitor/README.md
  .github/actions/doc-monitor/action.yml
  .github/actions/doc-monitor/dist/index.js
  .github/actions/doc-monitor/package-lock.json
  .github/actions/doc-monitor/package.json
  .github/actions/doc-monitor/src/analyze.ts
  .github/actions/doc-monitor/src/comment-tracker.ts
  .github/actions/doc-monitor/src/constants.ts
  .github/actions/doc-monitor/src/docs-inventory.ts
  .github/actions/doc-monitor/src/github-utils.ts
  .github/actions/doc-monitor/src/inputs.ts
  .github/actions/doc-monitor/src/processor.ts
  .github/actions/doc-monitor/src/types.ts
  .github/workflows/doc-monitor.yml
  eng/common/actions/login-to-github/action.yml
  eng/common/scripts/login-to-github.ps1
Due: none

Increment CLI version after release
  cli/version.txt
Due: eng/pipelines/release-cli.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
