Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      demands: ImageOverride -equals windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-azdo-setupazd.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: BuildAndTest
        variables:
        - template: /eng/pipelines/templates/variables/image.yml
        jobs:
        - job: BuildSetupAzd
          displayName: BuildSetupAzd
          variables:
  ...

eng/pipelines/release-azuredevops.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/azuredevops-build-and-test.yml
      - template: /eng/pipelines/templates/stages/azuredevops-sign.yml
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-ai-agents
  ...

eng/pipelines/release-ext-azure-ai-models.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.models
          SanitizedExtensionId: azure-ai-models
  ...

eng/pipelines/release-ext-azure-appservice.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.appservice
          SanitizedExtensionId: azure-appservice
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

style(agents): satisfy hosted voice lint
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse.go
  cli/azd/extensions/azure.ai.agents/internal/project/hosted_voice_target_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

docs(agents): clarify hosted voice integration
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/models.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): preserve voice validation after rebase
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): address post-rebase review
  cli/azd/extensions/azure.ai.agents/README.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/project/agent_definition.go
  cli/azd/extensions/azure.ai.agents/internal/project/hosted_voice_target_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): rely on sample azure yaml for hosted voice init
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_templates_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_templates_helpers_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_hosted_voice.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_hosted_voice_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): clear voice target state on version delete
  cli/azd/extensions/azure.ai.agents/internal/cmd/delete.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/delete_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse_voice_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): update target validation for current agent API
  cli/azd/extensions/azure.ai.agents/internal/project/hosted_voice_target_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: add unified toolbox diagnostics (#9809)
  cli/azd/extensions/azure.ai.agents/README.md
  cli/azd/extensions/azure.ai.agents/cspell.yaml
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_toolboxes.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_toolboxes_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/connections.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/manifest.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/resolver.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/resolver_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/state.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/state_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/toolboxes.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/types.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/resource_services.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/resource_services_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/servicekey/servicekey.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Harden Loom error and flag handling
  cli/azd/extensions/azure.ai.loom/internal/cmd/project_resolver.go
  cli/azd/extensions/azure.ai.loom/internal/cmd/project_resolver_test.go
  cli/azd/extensions/azure.ai.loom/internal/cmd/run.go
  cli/azd/extensions/azure.ai.loom/internal/cmd/run_test.go
  cli/azd/extensions/azure.ai.loom/internal/experimenttracking/client.go
  cli/azd/extensions/azure.ai.loom/internal/experimenttracking/client_test.go
  cli/azd/extensions/azure.ai.loom/internal/exterrors/codes.go
Due: eng/pipelines/release-azd-extension.yml

test: cover self-initializing deployment setup
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_deployment_add_test.go
Due: eng/pipelines/release-azd-extension.yml

fix(agents): align hosted voice sample docs
  cli/azd/extensions/azure.ai.agents/README.md
  cli/azd/extensions/azure.ai.agents/schemas/azure.ai.agent.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(ai-skills): prefer canonical project endpoint
  cli/azd/extensions/azure.ai.skills/README.md
  cli/azd/extensions/azure.ai.skills/internal/cmd/endpoint.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/endpoint_test.go
Due: eng/pipelines/release-azd-extension.yml

feat(routines): add file-backed services to azure.yaml
  cli/azd/extensions/azure.ai.routines/README.md
  cli/azd/extensions/azure.ai.routines/internal/cmd/root.go
  cli/azd/extensions/azure.ai.routines/internal/cmd/routine_add.go
  cli/azd/extensions/azure.ai.routines/internal/cmd/routine_create.go
  cli/azd/extensions/azure.ai.routines/internal/cmd/routine_project.go
  cli/azd/extensions/azure.ai.routines/internal/cmd/routine_project_command_test.go
  cli/azd/extensions/azure.ai.routines/internal/cmd/routine_project_test.go
  cli/azd/extensions/azure.ai.routines/internal/cmd/routine_update.go
  cli/azd/extensions/azure.ai.routines/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.routines/internal/exterrors/errors.go
  cli/azd/extensions/azure.ai.routines/internal/exterrors/errors_test.go
Due: eng/pipelines/release-azd-extension.yml

fix: preserve remote protocol lookup guidance
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): use canonical kind during adoption
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

[azure.ai.connections] Nightly registry update for 1.0.0-beta.5.nightly.6776968
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.agents] Nightly registry update for 1.0.0-beta.13.nightly.6776936
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.rle] Nightly registry update for 0.4.0-preview.nightly.6776942
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

fix: detect deployed agent invoke protocol
  cli/azd/extensions/azure.ai.agents/internal/cmd/helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_a2a.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: validate invoke input before protocol lookup
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(azd): restore original middleware error comments
  cli/azd/cmd/middleware/error_test.go
  cli/azd/cmd/middleware/ux.go
Due: eng/pipelines/release-cli.yml

[azure.ai.projects] Nightly registry update for 1.0.0-beta.8.nightly.6777009
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.routines] Nightly registry update for 1.0.0-beta.4.nightly.6777017
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

fix(azd): restore original extension error comments
  cli/azd/cmd/extensions.go
Due: eng/pipelines/release-cli.yml

Change code owners for azure.ai.loom
  .github/CODEOWNERS
Due: none

[azure.ai.skills] Nightly registry update for 1.0.0-beta.4.nightly.6777033
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

test(azd): drop duplicate invocation metadata tests
  cli/azd/cmd/extensions_error_transport_test.go
  cli/azd/internal/grpcserver/event_service_test.go
  cli/azd/internal/grpcserver/stream_services_test.go
  cli/azd/pkg/extensions/runner_test.go
Due: eng/pipelines/release-cli.yml

[azure.ai.inspector] Nightly registry update for 1.0.0-beta.5.nightly.6776984
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.toolboxes] Nightly registry update for 1.0.0-beta.5.nightly.6777066
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

fix: preserve remote lookup diagnostics
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(ai-agents): route prompt manifest adoption correctly
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_managed.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: avoid remote agent metadata lookup
  cli/azd/extensions/azure.ai.agents/internal/cmd/helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/helpers_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: clear stale agent protocol endpoints
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(ai-agents): preserve endpoint authorization schemes
  cli/azd/extensions/azure.ai.agents/internal/cmd/update_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/activity_profile.go
  cli/azd/extensions/azure.ai.agents/internal/project/direct_deploy_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: bootstrap Foundry projects in empty directories
  cli/azd/extensions/azure.ai.projects/README.md
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_deployment_add_test.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_init.go
Due: eng/pipelines/release-azd-extension.yml

fix: harden extension error attribution
  cli/azd/cmd/telemetry_test.go
  cli/azd/docs/extensions/extension-sdk-reference.md
  cli/azd/docs/extensions/extensions-style-guide.md
  cli/azd/internal/cmd/errors.go
  cli/azd/internal/cmd/errors_test.go
  cli/azd/internal/grpcserver/server_test.go
  cli/azd/pkg/azdext/extension_error.go
  cli/azd/pkg/azdext/extension_error_test.go
  cli/azd/pkg/exec/command_name.go
  cli/azd/pkg/exec/util_test.go
  docs/reference/telemetry-data.md
  docs/specs/metrics-audit/feature-telemetry-matrix.md
  docs/specs/metrics-audit/privacy-review-checklist.md
  docs/specs/metrics-audit/telemetry-schema.md
Due: eng/pipelines/release-cli.yml

fix(ai-agents): use digital worker endpoint defaults
  cli/azd/extensions/azure.ai.agents/internal/cmd/update_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/activity_profile.go
  cli/azd/extensions/azure.ai.agents/internal/project/direct_deploy.go
  cli/azd/extensions/azure.ai.agents/internal/project/direct_deploy_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: complete extension error attribution fixes
  cli/azd/docs/extensions/extension-sdk-reference.md
  cli/azd/docs/extensions/extensions-style-guide.md
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/proto/errors.proto
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/proto/event.proto
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/resources_test.go
  cli/azd/grpc/proto/errors.proto
  cli/azd/internal/cmd/errors.go
  cli/azd/internal/cmd/errors_test.go
  cli/azd/internal/grpcserver/server_test.go
  cli/azd/pkg/azdext/errors.pb.go
  cli/azd/pkg/azdext/extension_error.go
  cli/azd/pkg/azdext/extension_error_test.go
  docs/specs/metrics-audit/privacy-review-checklist.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

fix(ai-agents): defer authorization defaults to service
  cli/azd/extensions/azure.ai.agents/internal/cmd/update_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/activity_profile.go
  cli/azd/extensions/azure.ai.agents/internal/project/activity_profile_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/direct_deploy.go
  cli/azd/extensions/azure.ai.agents/internal/project/direct_deploy_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
