Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool-mms-win-2022-general
      vmImage: MMS2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
        PublishAnalysisLogs: false
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
      - template: /eng/pipelines/templates/stages/code-coverage-upload.yml
      - template: /eng/pipelines/templates/stages/sign.yml
  ...

eng/pipelines/release-vscode.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/vscode-build-and-test.yml
      - template: /eng/pipelines/templates/stages/vscode-sign.yml
  ...

eng/pipelines/repoman.yml:
  stages:
  - stage: Validation
    jobs:
    - job: Generate_Repos_For_PR
      condition: "and(\n  succeeded(),\n  or(\n    eq(variables['BuildReasonOverride'], 'PullRequest'),\n    and(\n      eq('', variables['BuildReasonOverride']),\n      eq(variables['Build.Reason'], 'PullRequest')\n    )\n  )\n)"
  ...

eng/pipelines/template-tests.yml:
  jobs:
  - template: /eng/pipelines/templates/jobs/run-template-tests.yml
    parameters:
      AzdVersion: ${{ parameters.AzdVersion }}
      UseAzdVersionFromPrNumber: true
      TemplateList: ${{ parameters.TemplateList }}
      TemplateListFilter: ${{ parameters.TemplateListFilter }}
  ...

vscode publishing: standalone.json -> vscode.json
  eng/pipelines/templates/jobs/vscode-build.yml
Due: none

vscode publishing: standalone.json -> vscode.json (#3799)
  eng/pipelines/templates/jobs/vscode-build.yml
Due: none

move role assign
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/apphost/generate_types.go
  cli/azd/resources/apphost/templates/resources.bicept
Due: eng/pipelines/release-cli.yml

snap
  cli/azd/pkg/apphost/testdata/TestAspireContainerGeneration-resources.bicep.snap
Due: eng/pipelines/release-cli.yml

Add bicepparam handling
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
Due: eng/pipelines/release-cli.yml

fix typo
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
Due: eng/pipelines/release-cli.yml

update modules from core to avm
  templates/todo/common/infra/bicep/app/apim-api-settings.bicep.bicep
  templates/todo/common/infra/bicep/app/applicationinsights-dashboard.bicep
  templates/todo/projects/csharp-cosmos-sql/.repo/bicep/infra/main.bicep
  templates/todo/projects/csharp-cosmos-sql/.repo/bicep/repo.yaml
Due: eng/pipelines/repoman.yml

rework strategy to always set context
  cli/azd/internal/appdetect/appdetect.go
  cli/azd/internal/vsrpc/environment_service_create.go
  cli/azd/internal/vsrpc/server_session.go
  cli/azd/internal/vsrpc/utils.go
  cli/azd/internal/vsrpc/utils_test.go
  cli/azd/pkg/environment/azdcontext/azdcontext.go
Due: eng/pipelines/release-cli.yml

Update GetASpireHost implementation
  cli/azd/internal/vsrpc/aspire_service.go
Due: eng/pipelines/release-cli.yml

pass non-nil func
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
Due: eng/pipelines/release-cli.yml

discard param
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
Due: eng/pipelines/release-cli.yml

Adds support to get/set secret values in AZD configuration (#3755)
  cli/azd/pkg/config/config.go
  cli/azd/pkg/config/file_config_manager.go
  cli/azd/pkg/config/file_config_manager_test.go
Due: eng/pipelines/release-cli.yml

make filtering optional
  cli/azd/cmd/up.go
  cli/azd/pkg/azureutil/location.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/manager.go
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider.go
Due: eng/pipelines/release-cli.yml

use setSecret for secured bicep param
  cli/azd/pkg/config/config.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
Due: eng/pipelines/release-cli.yml

rev config.
  cli/azd/pkg/config/config.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
Due: eng/pipelines/release-cli.yml

aspire: Write all manifests under AppHost folder
  cli/azd/CHANGELOG.md
  cli/azd/pkg/project/dotnet_importer.go
  cli/azd/pkg/project/service_config.go
  cli/azd/pkg/project/service_target_dotnet_containerapp.go
  cli/azd/test/functional/testdata/snaps/aspire-full/AspireAzdTests.AppHost/infra/apiservice.tmpl.yaml
  cli/azd/test/functional/testdata/snaps/aspire-full/AspireAzdTests.AppHost/infra/webfrontend.tmpl.yaml
Due: eng/pipelines/release-cli.yml

Update provider.tf files with skip_provider_registration = "true" (#3798)
  cli/azd/test/functional/testdata/samples/resourcegroupterraform/infra/provider.tf
  cli/azd/test/functional/testdata/samples/resourcegroupterraformremote/infra/provider.tf
  cli/azd/test/functional/testdata/samples/springapp/infra-terraform/provider.tf
  templates/starter/terraform/infra/provider.tf
  templates/todo/projects/java-postgresql/.repo/terraform/infra/provider.tf
  templates/todo/projects/nodejs-mongo/.repo/terraform/infra/provider.tf
  templates/todo/projects/python-mongo/.repo/terraform/infra/provider.tf
Due: eng/pipelines/release-cli.yml, eng/pipelines/repoman.yml

fix logic
  cli/azd/pkg/azureutil/location.go
Due: eng/pipelines/release-cli.yml

Allow `env refresh` without bicep (#3796)
  cli/azd/cmd/env.go
  cli/azd/test/functional/env_refresh_test.go
  cli/azd/test/functional/testdata/recordings/Test_CLI_EnvRefresh_NoBicep.yaml
Due: eng/pipelines/release-cli.yml

use setSecret for secured bicep param (#3804)
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
Due: eng/pipelines/release-cli.yml

Add bicepparam handling for prompting (#3801)
  cli/azd/cmd/up.go
  cli/azd/pkg/azureutil/location.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/manager.go
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider.go
Due: eng/pipelines/release-cli.yml

Adds supports for saving environment variable secrets in config vault
  cli/azd/cmd/env.go
  cli/azd/pkg/config/config.go
  cli/azd/pkg/config/file_config_manager.go
  cli/azd/pkg/config/file_config_manager_test.go
  cli/azd/pkg/environment/environment.go
  cli/azd/pkg/environment/environment_test.go
Due: eng/pipelines/release-cli.yml

Updates usage of config.SetSecret()
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
Due: eng/pipelines/release-cli.yml

Updates usage snaps
  cli/azd/cmd/testdata/TestUsage-azd-env-set.snap
Due: eng/pipelines/release-cli.yml

Require success to upload artifact
  eng/pipelines/templates/jobs/cross-build-cli.yml
Due: none

Require success to upload artifact (#3806)
  eng/pipelines/templates/jobs/cross-build-cli.yml
Due: none

update to aspire6 api
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.ApiService/AspireAzdTests.ApiService.csproj
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.ApiService/Program.cs
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.AppHost/AspireAzdTests.AppHost.csproj
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.AppHost/Program.cs
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.AppHost/manifest.json
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.ServiceDefaults/AspireAzdTests.ServiceDefaults.csproj
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.ServiceDefaults/Extensions.cs
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.Web/AspireAzdTests.Web.csproj
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.Web/Program.cs
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.Web/WeatherApiClient.cs
  cli/azd/test/functional/testdata/samples/aspire-full/Directory.Build.props
Due: eng/pipelines/release-cli.yml

update snap
  cli/azd/test/functional/testdata/snaps/aspire-full/AspireAzdTests.ApiService/manifests/containerApp.tmpl.yaml
  cli/azd/test/functional/testdata/snaps/aspire-full/AspireAzdTests.Web/manifests/containerApp.tmpl.yaml
  cli/azd/test/functional/testdata/snaps/aspire-full/infra/resources.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/infra/storage/storage.module.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/manifest.json
  cli/azd/test/functional/testdata/snaps/aspire-full/storage.module.bicep
Due: eng/pipelines/release-cli.yml

rem self contained
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.AppHost/AspireAzdTests.AppHost.csproj
Due: eng/pipelines/release-cli.yml

update functional test to aspire p6 (#3809)
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.ApiService/AspireAzdTests.ApiService.csproj
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.ApiService/Program.cs
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.AppHost/AspireAzdTests.AppHost.csproj
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.AppHost/Program.cs
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.AppHost/manifest.json
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.ServiceDefaults/AspireAzdTests.ServiceDefaults.csproj
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.ServiceDefaults/Extensions.cs
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.Web/AspireAzdTests.Web.csproj
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.Web/Program.cs
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.Web/WeatherApiClient.cs
  cli/azd/test/functional/testdata/samples/aspire-full/Directory.Build.props
  cli/azd/test/functional/testdata/snaps/aspire-full/AspireAzdTests.ApiService/manifests/containerApp.tmpl.yaml
  cli/azd/test/functional/testdata/snaps/aspire-full/AspireAzdTests.Web/manifests/containerApp.tmpl.yaml
  cli/azd/test/functional/testdata/snaps/aspire-full/infra/resources.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/infra/storage/storage.module.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/manifest.json
  cli/azd/test/functional/testdata/snaps/aspire-full/storage.module.bicep
Due: eng/pipelines/release-cli.yml

Remove redundant content
  templates/todo/projects/java-mongo/.repo/bicep/infra/main.bicep
Due: eng/pipelines/repoman.yml

Remove redundant content
  templates/todo/common/infra/bicep/app/apim-api-settings.bicep
  templates/todo/projects/csharp-sql/.repo/bicep/infra/main.bicep
Due: eng/pipelines/repoman.yml

Squash AI online endpoints feature
  .vscode/cspell.misc.yaml
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/cmd/container.go
  cli/azd/internal/cmd/provision.go
  cli/azd/pkg/ai/config.go
  cli/azd/pkg/ai/config_test.go
  cli/azd/pkg/ai/python_bridge.go
  cli/azd/pkg/ai/python_bridge_test.go
  cli/azd/pkg/ai/util.go
  cli/azd/pkg/ai/util_test.go
  cli/azd/pkg/infra/azure_resource_types.go
  cli/azd/pkg/output/links.go
  cli/azd/pkg/project/ai_helper.go
  cli/azd/pkg/project/ai_helper_test.go
  cli/azd/pkg/project/service_config.go
  cli/azd/pkg/project/service_target.go
  cli/azd/pkg/project/service_target_ai_endpoint.go
  cli/azd/pkg/project/service_target_ai_endpoint_test.go
  cli/azd/pkg/tools/python/python.go
  cli/azd/resources/ai-python/ml_client.py
  cli/azd/resources/ai-python/pf_client.py
  cli/azd/resources/ai-python/requirements.txt
  cli/azd/resources/resources.go
  cli/azd/test/mocks/mock_context.go
  cli/azd/test/mocks/mockai/deployments.go
  cli/azd/test/mocks/mockai/endpoints.go
  cli/azd/test/mocks/mockai/environments.go
  cli/azd/test/mocks/mockai/models.go
  cli/azd/test/mocks/mockai/workspaces.go
  go.mod
  go.sum
  schemas/alpha/azure.yaml.json
Due: eng/pipelines/release-cli.yml

Rollback Azure AI links after provision
  cli/azd/internal/cmd/provision.go
  cli/azd/pkg/project/service_target_ai_endpoint.go
Due: eng/pipelines/release-cli.yml

Only print package output when package path is available
  cli/azd/pkg/project/service_models.go
Due: eng/pipelines/release-cli.yml

changelog for 1.8.2
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

update version
  cli/version.txt
Due: eng/pipelines/release-cli.yml

remove alpha mention
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

show aspire dashboard link and open link with azd monitor
  cli/azd/cmd/monitor.go
  cli/azd/internal/cmd/deploy.go
  cli/azd/pkg/apphost/generate.go
  cli/azd/resources/apphost/templates/resources.bicept
Due: eng/pipelines/release-cli.yml

snap tests
  cli/azd/pkg/apphost/testdata/TestAspireDashboardGeneration-main.bicep.snap
  cli/azd/pkg/apphost/testdata/TestAspireDashboardGeneration-main.parameters.json.snap
  cli/azd/pkg/apphost/testdata/TestAspireDashboardGeneration-resources.bicep.snap
Due: eng/pipelines/release-cli.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
