Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      demands: ImageOverride -equals windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-azdo-setupazd.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: BuildAndTest
        variables:
        - template: /eng/pipelines/templates/variables/image.yml
        jobs:
        - job: BuildSetupAzd
          displayName: BuildSetupAzd
          variables:
  ...

eng/pipelines/release-azuredevops.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/azuredevops-build-and-test.yml
      - template: /eng/pipelines/templates/stages/azuredevops-sign.yml
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-ai-agents
  ...

eng/pipelines/release-ext-azure-ai-models.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.models
          SanitizedExtensionId: azure-ai-models
  ...

eng/pipelines/release-ext-azure-appservice.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.appservice
          SanitizedExtensionId: azure-appservice
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

Review feedback
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/existence_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

chore(ext/azure.ai.training): fix golangci-lint issues
  cli/azd/extensions/azure.ai.training/internal/azcopy/runner.go
  cli/azd/extensions/azure.ai.training/internal/cmd/init_template_test.go
  cli/azd/extensions/azure.ai.training/internal/cmd/job_connect_ssh.go
  cli/azd/extensions/azure.ai.training/internal/cmd/job_download.go
  cli/azd/extensions/azure.ai.training/internal/cmd/job_get.go
  cli/azd/extensions/azure.ai.training/internal/cmd/job_ssh_proxy.go
  cli/azd/extensions/azure.ai.training/internal/cmd/job_validate.go
  cli/azd/extensions/azure.ai.training/internal/download/download.go
  cli/azd/extensions/azure.ai.training/internal/service/hash.go
  cli/azd/extensions/azure.ai.training/internal/utils/job_name_generator.go
  cli/azd/extensions/azure.ai.training/internal/utils/job_validator_test.go
  cli/azd/extensions/azure.ai.training/internal/utils/yaml_parser.go
  cli/azd/extensions/azure.ai.training/pkg/client/artifacts.go
  cli/azd/extensions/azure.ai.training/pkg/client/client.go
  cli/azd/extensions/azure.ai.training/pkg/models/artifact.go
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.models] Registry update for 0.0.7-preview (#8205)
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

gofmt
  cli/azd/pkg/tool/manifest_test.go
Due: eng/pipelines/release-cli.yml

fix: resolve -C/--cwd relative path before extension invocation
  cli/azd/cmd/extensions.go
  cli/azd/cmd/extensions_test.go
  cli/azd/cmd/root.go
  cli/azd/cmd/root_test.go
  cli/azd/pkg/azdext/extension_command.go
Due: eng/pipelines/release-cli.yml

Refactor trace ID retrieval for consistent invocation responses (#7865)
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: address Copilot review feedback (iteration 1)
  cli/azd/cmd/extensions.go
  cli/azd/cmd/extensions_test.go
  cli/azd/cmd/root_test.go
  cli/azd/pkg/azdext/extension_command.go
Due: eng/pipelines/release-cli.yml

fix: add missing azd exec (#7400) to 1.25.1 changelog and fix skill gap (#8221)
  .github/skills/changelog-generation/SKILL.md
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

Migrate `microsoft.azd.extensions` to `azdext` runtime and refresh Go scaffolding (#7956)
  cli/azd/docs/extensions/extension-framework.md
  cli/azd/docs/extensions/extension-migration-guide.md
  cli/azd/extensions/extension.schema.json
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/build.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/init.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/init_test.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/pack.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/publish.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/release.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/root.go
  cli/azd/extensions/microsoft.azd.extensions/internal/github/github.go
  cli/azd/extensions/microsoft.azd.extensions/internal/models/extension_schema.go
  cli/azd/extensions/microsoft.azd.extensions/internal/models/extension_schema_coverage_test.go
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/go/go.mod.tmpl
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/go/go.sum
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/go/internal/cmd/listen.go.tmpl
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/go/internal/cmd/metadata.go.tmpl
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/go/internal/cmd/root.go.tmpl
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/go/internal/cmd/version.go.tmpl
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/go/main.go.tmpl
  cli/azd/extensions/microsoft.azd.extensions/internal/user_friendly_error.go
  cli/azd/extensions/microsoft.azd.extensions/internal/user_friendly_error_test.go
  cli/azd/extensions/microsoft.azd.extensions/main.go
  cli/azd/extensions/registry.schema.json
  cli/azd/internal/grpcserver/framework_service.go
  cli/azd/pkg/azdext/extension_command.go
  cli/azd/pkg/azdext/extension_commands_test.go
  cli/azd/pkg/azdext/metadata_generator.go
  cli/azd/pkg/azdext/metadata_generator_test.go
  docs/architecture/extension-framework.md
  docs/concepts/glossary.md
  docs/guides/creating-an-extension.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

Only have the pull request trigger. it cleans up when the workflows run, and since we always needed a manual re-run anyway we don't lose out on ease of use
  .github/scripts/pr-approval-foundry-extensions-shared.js
  .github/workflows/approval-ext-azure-ai-agents.yml
  .github/workflows/approval-ext-azure-ai-connections.yml
  .github/workflows/approval-ext-azure-ai-inspector.yml
  .github/workflows/approval-ext-azure-ai-projects.yml
  .github/workflows/approval-ext-azure-ai-routines.yml
  .github/workflows/approval-ext-azure-ai-skills.yml
  .github/workflows/approval-ext-azure-ai-toolboxes.yml
Due: none

add suggestion for finding error tool
  cli/azd/cmd/tool.go
  cli/azd/pkg/tool/manifest.go
Due: eng/pipelines/release-cli.yml

Exempt azure-sdk bot PRs from linked-issue governance check (#8213)
  .github/scripts/pr-governance-issue-check.js
Due: none

Increment CLI version after release (#8220)
  cli/azd/pkg/azdext/version.go
  cli/version.txt
Due: eng/pipelines/release-cli.yml

Add extension PR labeler workflow
  .gitattributes
  .github/agents/agentic-workflows.agent.md
  .github/aw/actions-lock.json
  .github/mcp.json
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/extension-pr-labeler.lock.yml
  .github/workflows/extension-pr-labeler.md
Due: none

Add invoke version selection for AI agents
  cli/azd/extensions/azure.ai.agents/internal/cmd/agent_endpoint_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Address comments
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/build.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/init_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

Address invoke version review feedback
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat(agents): validate .NET runtime vs TargetFramework after init (#8222)
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_validate.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_validate_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

address feedback for test
  cli/azd/pkg/tool/manifest_test.go
Due: eng/pipelines/release-cli.yml

fix: resolve -C/--cwd relative path before extension invocation (#8230)
  cli/azd/cmd/extensions.go
  cli/azd/cmd/extensions_test.go
  cli/azd/cmd/root.go
  cli/azd/cmd/root_test.go
Due: eng/pipelines/release-cli.yml

Prepare `azure.ai.agents` 0.1.32-preview patch release metadata (#8227)
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/extension.yaml
  cli/azd/extensions/azure.ai.agents/version.txt
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Address extension validation review feedback
  cli/azd/cmd/tool.go
  cli/azd/cmd/tool_test.go
  cli/azd/extensions/microsoft.azd.extensions/CHANGELOG.md
  cli/azd/extensions/microsoft.azd.extensions/extension.yaml
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/build.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/init.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/init_test.go
  cli/azd/extensions/microsoft.azd.extensions/version.txt
  cli/azd/pkg/ux/render_test.go
  cli/azd/pkg/ux/task_list.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

Defer warning/output flushes and tighten init task ordering
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/build.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/init.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/init_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

review feedback
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/isolation_headers.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

[azure.ai.agents] Registry update for 0.1.32-preview
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

[azure.ai.agents] Registry update for 0.1.32-preview (#8238)
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Surface child subprocess failures when an `azd x init` build/package/publish/install step fails
  cli/azd/extensions/microsoft.azd.extensions/CHANGELOG.md
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/init.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/init_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

review feedback
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_foundry_resources_helpers_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Address additional feedback
  cli/azd/extensions/microsoft.azd.extensions/CHANGELOG.md
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/init.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/init_test.go
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/go/internal/cmd/root.go.tmpl
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

fix failing test
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: exempt Microsoft.Chaos/targets from reserved name preflight check (#8239)
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_reserved_names_test.go
Due: eng/pipelines/release-cli.yml

fix: add case-insensitive test for Chaos Studio exemption (iteration 1)
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_reserved_names_test.go
Due: eng/pipelines/release-cli.yml

Update extension registry
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

align the demo output format + eval update
  cli/azd/extensions/azure.ai.agents/extension.yaml
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_init_jobs.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_init_prompts.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_init_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_progress.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_run.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_run_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_show.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_update.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_apply.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_config.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_config_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/dataset_api/models.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/dataset_api/models_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/dataset_api/operations.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/artifacts.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/eval_config.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/eval_config_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/generation.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/generation_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/models.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/operations.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/operations_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/portal_urls.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/opteval/yaml.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/opteval/yaml_test.go
  cli/azd/extensions/azure.ai.agents/version.txt
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(ext/azure.ai.training): surface azcopy failure diagnostics
  cli/azd/extensions/azure.ai.training/internal/azcopy/runner.go
Due: eng/pipelines/release-azd-extension.yml

refactor(ext/azure.ai.training): consolidate ServiceEndpoint helper in internal/utils
  cli/azd/extensions/azure.ai.training/internal/cmd/job_connect_ssh.go
  cli/azd/extensions/azure.ai.training/internal/cmd/job_connect_ssh_test.go
  cli/azd/extensions/azure.ai.training/internal/cmd/job_show_services.go
  cli/azd/extensions/azure.ai.training/internal/service/stream_service.go
  cli/azd/extensions/azure.ai.training/internal/service/stream_service_test.go
  cli/azd/extensions/azure.ai.training/internal/utils/services.go
  cli/azd/extensions/azure.ai.training/internal/utils/services_test.go
Due: eng/pipelines/release-azd-extension.yml

test(ext/azure.ai.training): add hash + upload_service unit tests
  cli/azd/extensions/azure.ai.training/internal/service/hash_test.go
  cli/azd/extensions/azure.ai.training/internal/service/upload_service.go
  cli/azd/extensions/azure.ai.training/internal/service/upload_service_test.go
Due: eng/pipelines/release-azd-extension.yml

refactor(ext/azure.ai.training): rename job_get.go to job_show.go
  cli/azd/extensions/azure.ai.training/internal/cmd/job_show.go
Due: eng/pipelines/release-azd-extension.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
