Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

fix: disallow env for azure.ai.agent services
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/schemas/azure.ai.agent.json
  cli/azd/extensions/azure.ai.agents/schemas/examples/complex.azure.yaml
  cli/azd/extensions/azure.ai.agents/schemas/examples/simple.azure.yaml
  schemas/alpha/azure.yaml.json
  schemas/v1.0/azure.yaml.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat: forward service env to extensions
  cli/azd/docs/extensions/extension-framework.md
  cli/azd/grpc/proto/models.proto
  cli/azd/pkg/azdext/models.pb.go
  cli/azd/pkg/project/mapper_registry.go
  cli/azd/pkg/project/mapper_registry_test.go
Due: eng/pipelines/release-cli.yml

fix: omit empty service source fields
  cli/azd/pkg/project/project_test.go
  cli/azd/pkg/project/service_config.go
Due: eng/pipelines/release-cli.yml

feat(ai.agents): native Azure Bot + Teams channel for activity-protocol agents
  cli/azd/extensions/azure.ai.agents/go.mod
  cli/azd/extensions/azure.ai.agents/go.sum
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen_activity.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/botservice/botservice.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/botservice/botservice_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/activity_profile.go
  cli/azd/extensions/azure.ai.agents/internal/project/activity_profile_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

refactor: reword inspector build comment as intentional, not stopgap
  .github/workflows/test-ext-azure-ai-agents.yml
Due: none

feat(ai.agents): support activity_protocol in init-from-code
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/activity_profile.go
  cli/azd/extensions/azure.ai.agents/internal/project/activity_profile_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: forward framework service env
  cli/azd/internal/grpcserver/framework_service.go
  cli/azd/internal/grpcserver/framework_service_test.go
  cli/azd/pkg/project/framework_service_external.go
  cli/azd/pkg/project/framework_service_external_test.go
  cli/azd/pkg/project/framework_service_test.go
Due: eng/pipelines/release-cli.yml

[azure.ai.agents] Nightly registry update for 1.0.0-beta.2.nightly.6511527
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.connections] Nightly registry update for 1.0.0-beta.1.nightly.6511549
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.inspector] Nightly registry update for 1.0.0-beta.1.nightly.6511572
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.projects] Nightly registry update for 1.0.0-beta.1.nightly.6511587
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

fix(ai.agents): satisfy go-fix modernization and cspell CI
  cli/azd/extensions/azure.ai.agents/cspell.yaml
  cli/azd/extensions/azure.ai.agents/internal/pkg/botservice/botservice.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/botservice/botservice_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

[azure.ai.routines] Nightly registry update for 1.0.0-beta.1.nightly.6511601
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.skills] Nightly registry update for 1.0.0-beta.1.nightly.6511620
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.toolboxes] Nightly registry update for 1.0.0-beta.1.nightly.6511644
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

Stop assigning Azure AI User role to per-agent identity
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_agent_identity_roles.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_agent_identity_roles_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_local.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_remote.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_remote_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/shared_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/types.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor_format.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/project/agent_identity_query.go
  cli/azd/extensions/azure.ai.agents/internal/project/agent_identity_rbac.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat(ai.agents): write generic Teams app setup guide after activity deploy
  cli/azd/extensions/azure.ai.agents/cspell.yaml
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen_activity.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen_activity_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(ai.agents): tighten file/dir perms for gosec (G306/G301)
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen_activity.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen_activity_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Carry over hosted-agent session across azd deploy
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/session_carryover.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/session_carryover_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(ai.agents): globally-unique bot name + clearer postdeploy error
  cli/azd/extensions/azure.ai.agents/cspell.yaml
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen_activity.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/botservice/botservice.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/botservice/botservice_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: cli optimizations
  cli/azd/extensions/azure.ai.rle/README.md
  cli/azd/extensions/azure.ai.rle/internal/cmd/banner.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/build.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/client.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/client_test.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/deploy.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/init.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/invoke_test.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/root_test.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/scaffold.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/state.go
Due: eng/pipelines/release-azd-extension.yml

fix: file paths for cross platform support
  cli/azd/extensions/azure.ai.rle/internal/cmd/deploy.go
  cli/azd/extensions/azure.ai.rle/internal/cmd/root_test.go
Due: eng/pipelines/release-azd-extension.yml

fix: update README
  cli/azd/extensions/azure.ai.rle/README.md
Due: eng/pipelines/release-azd-extension.yml

docs(ai.agents): give concrete step-by-step Teams packaging + sideload guide
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen_activity.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen_activity_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

docs(ai.agents): make Teams sideload self-serve; tenant admin only as fallback
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen_activity.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

docs(ai.agents): add optional CLI path (zip package + atk sideload)
  cli/azd/extensions/azure.ai.agents/cspell.yaml
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen_activity.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

style(ai.agents): gofmt string concatenation in Teams guide
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen_activity.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(ext-agents): accept [agent] [file] positionals for `files upload` to match `invoke` (#8851)
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/files.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/files_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

address review: warn on memory store config drift, validate up front, route status through progress
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/internal/pkg/azure/foundry_memory_store_client.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/azure/foundry_memory_store_client_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/memory_store_provision_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat(agents): provision Foundry memory stores during deploy (#8852)
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/azure/foundry_memory_store_client.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/azure/foundry_memory_store_client_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/config.go
  cli/azd/extensions/azure.ai.agents/internal/project/config_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/memory_store_provision_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/schemas/azure.ai.agent.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: check additionalProperties for docker instead of GetDocker()
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: address PR review feedback for deployment verification
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: add actions toolset so agent can list workflow runs
  .github/workflows/update-instructions-from-pr-reviews.md
Due: none

chore: regenerate lock file with gh-aw v0.81.6
  .github/aw/actions-lock.json
  .github/workflows/update-instructions-from-pr-reviews.lock.yml
Due: none

fix: use UnsetServiceConfig to remove keys instead of writing null
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Update azure-sdk-build-tools Repository Resource Refs in Yaml files
  eng/pipelines/templates/stages/1es-redirect.yml
Due: none

fix: always pass projectName to brownfield Foundry provisioning
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_provisioning_provider.go
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_provisioning_provider_brownfield_acr_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

[validate-go-version.yml] use while loop for improved handling of filenames
  .github/workflows/validate-go-version.yml
Due: none

fix: address review comments
  cli/azd/extensions/azure.ai.rle/build.ps1
  cli/azd/extensions/azure.ai.rle/internal/cmd/client.go
Due: eng/pipelines/release-azd-extension.yml

Enable ActionLint (static checker for GitHub Actions workflow files) (#8906)
  .github/actionlint.yaml
  .github/matchers/actionlint.json
  .github/workflows/actionlint.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/lint-bicep.yml
  .github/workflows/test-ext-azure-ai-agents.yml
  .github/workflows/validate-go-version.yml
Due: none
