Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

fix cspell: add ensurepip to spelling dictionary
  cli/azd/.vscode/cspell.yaml
Due: eng/pipelines/release-cli.yml

move ensurepip to extension-specific cspell config
  cli/azd/.vscode/cspell.yaml
  cli/azd/extensions/azure.ai.agents/cspell.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(update): trust azure/azd Homebrew cask source so macOS update banner and azd update work (#8776)
  README.md
  cli/azd/CHANGELOG.md
  cli/azd/docs/design/azd-update.md
  cli/azd/main.go
  cli/azd/main_test.go
  cli/azd/pkg/update/manager.go
  cli/azd/pkg/update/manager_test.go
  cli/installer/README.md
Due: eng/pipelines/release-cli.yml

address comment, close gap
  cli/azd/cmd/tool.go
  cli/azd/cmd/tool_test.go
  cli/azd/pkg/tool/installer.go
  cli/azd/pkg/tool/installer_test.go
  cli/azd/pkg/tool/manager.go
  cli/azd/pkg/tool/manager_test.go
Due: eng/pipelines/release-cli.yml

Prepare azd 1.26.0 core release (#8807)
  cli/azd/CHANGELOG.md
  cli/azd/pkg/azdext/version.go
  cli/version.txt
Due: eng/pipelines/release-cli.yml

close gap based on testing, remove dry-run prompt
  cli/azd/cmd/tool.go
  cli/azd/pkg/tool/manager.go
  cli/azd/pkg/tool/manager_test.go
Due: eng/pipelines/release-cli.yml

close gap
  cli/azd/pkg/tool/installer.go
  cli/azd/pkg/tool/installer_test.go
Due: eng/pipelines/release-cli.yml

Increment CLI version after release
  cli/azd/pkg/azdext/version.go
  cli/version.txt
Due: eng/pipelines/release-cli.yml

training: show Foundry Portal Uri in 'azd ai training job show'
  cli/azd/extensions/azure.ai.training/internal/cmd/job_show.go
  cli/azd/extensions/azure.ai.training/internal/cmd/job_show_test.go
Due: eng/pipelines/release-azd-extension.yml

training: always emit Foundry Portal Uri line, dash when missing
  cli/azd/extensions/azure.ai.training/internal/cmd/job_show.go
  cli/azd/extensions/azure.ai.training/internal/cmd/job_show_test.go
Due: eng/pipelines/release-azd-extension.yml

feat(agents): move Foundry networking to project service
  cli/azd/extensions/azure.ai.agents/README.md
  cli/azd/extensions/azure.ai.agents/docs/private-networking.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_infra.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_infra_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_provisioning_provider.go
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_provisioning_provider_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/provisioning_provider.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/schema_test.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/synthesizer.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/synthesizer_test.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/main.bicep
  cli/azd/extensions/azure.ai.agents/schemas/examples/complex.azure.yaml
  cli/azd/extensions/azure.ai.agents/schemas/microsoft.foundry.json
  cli/azd/extensions/azure.ai.projects/schemas/azure.ai.project.json
  schemas/alpha/azure.yaml.json
  schemas/v1.0/azure.yaml.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): reject conflicting Foundry network schema
  cli/azd/extensions/azure.ai.agents/internal/synthesis/schema_test.go
  cli/azd/extensions/azure.ai.projects/schemas/azure.ai.project.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

training: address PR review feedback on Foundry Portal URI
  cli/azd/extensions/azure.ai.training/internal/cmd/job_show.go
  cli/azd/extensions/azure.ai.training/internal/cmd/job_show_test.go
Due: eng/pipelines/release-azd-extension.yml

training/test: drain stdout via io.Copy + strings.Builder
  cli/azd/extensions/azure.ai.training/internal/cmd/job_show_test.go
Due: eng/pipelines/release-azd-extension.yml

fix(agents): align split Foundry schemas and ACR scan
  cli/azd/extensions/azure.ai.agents/internal/synthesis/synthesizer.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/synthesizer_test.go
  cli/azd/extensions/azure.ai.agents/schemas/examples/complex.azure.yaml
  cli/azd/extensions/azure.ai.agents/schemas/examples/simple.azure.yaml
  cli/azd/extensions/azure.ai.agents/schemas/microsoft.foundry.json
  schemas/alpha/azure.yaml.json
  schemas/v1.0/azure.yaml.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): preserve pre-split Foundry provisioning fallback
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_infra.go
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_provisioning_provider.go
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_provisioning_provider_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/provisioning_provider.go
  schemas/alpha/azure.yaml.json
  schemas/v1.0/azure.yaml.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

training/test: restore os.Stdout immediately after fn returns
  cli/azd/extensions/azure.ai.training/internal/cmd/job_show_test.go
Due: eng/pipelines/release-azd-extension.yml

docs(agents): split complex Foundry schema example
  cli/azd/extensions/azure.ai.agents/schemas/examples/complex.azure.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

training: show Foundry Portal Uri in 'azd ai training job show' (#8810)
  cli/azd/extensions/azure.ai.training/internal/cmd/job_show.go
  cli/azd/extensions/azure.ai.training/internal/cmd/job_show_test.go
Due: eng/pipelines/release-azd-extension.yml

use ci-build.ps1 -BuildRecordMode and add workflow_dispatch
  .github/workflows/test-ext-azure-ai-agents.yml
Due: none

Address review: use errors.AsType and assert intentional 4.0 rejection
  cli/azd/extensions/azure.ai.agents/tests/e2e-live/assert.go
  cli/azd/extensions/azure.ai.agents/tests/e2e-live/assert_test.go
  cli/azd/extensions/azure.ai.agents/tests/e2e-live/tier2_live_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

address review: pass -Version explicitly, use direct path for swap
  .github/workflows/test-ext-azure-ai-agents.yml
Due: none

Release azure.ai.training 0.0.2-preview (#8815)
  cli/azd/extensions/azure.ai.training/CHANGELOG.md
  cli/azd/extensions/azure.ai.training/extension.yaml
  cli/azd/extensions/azure.ai.training/version.txt
Due: eng/pipelines/release-azd-extension.yml

Surface crash-path teardown errors in pipeline log
  eng/pipelines/ext-azure-ai-agents-live.yml
Due: none

Parse azure.yaml via yaml.Unmarshal in findServiceName
  cli/azd/extensions/azure.ai.agents/tests/e2e-live/tier2_live_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Use t.Context() as the test parent context in Tier 2 runner
  cli/azd/extensions/azure.ai.agents/tests/e2e-live/tier2_live_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Increment CLI version after release (#8808)
  cli/azd/pkg/azdext/version.go
  cli/version.txt
Due: eng/pipelines/release-cli.yml

feat(agents): move Foundry networking to project service (#8809)
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/README.md
  cli/azd/extensions/azure.ai.agents/docs/private-networking.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_infra.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_infra_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_provisioning_provider.go
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_provisioning_provider_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/provisioning_provider.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/schema_test.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/synthesizer.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/synthesizer_test.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/main.bicep
  cli/azd/extensions/azure.ai.agents/schemas/examples/complex.azure.yaml
  cli/azd/extensions/azure.ai.agents/schemas/examples/simple.azure.yaml
  cli/azd/extensions/azure.ai.agents/schemas/microsoft.foundry.json
  cli/azd/extensions/azure.ai.projects/schemas/azure.ai.project.json
  schemas/alpha/azure.yaml.json
  schemas/v1.0/azure.yaml.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

[azure.ai.agents] Nightly registry update for 0.1.41-preview.nightly.6481372
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.connections] Nightly registry update for 0.1.2-preview.nightly.6481394
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.inspector] Nightly registry update for 0.0.1-preview.nightly.6481396
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.projects] Nightly registry update for 0.1.0-preview.nightly.6481412
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.routines] Nightly registry update for 0.1.0-preview.nightly.6481464
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.skills] Nightly registry update for 0.1.1-preview.nightly.6481468
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.toolboxes] Nightly registry update for 0.1.1-preview.nightly.6481507
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.training] Dev registry update for 0.0.2-preview
  cli/azd/extensions/registry.dev.json
Due: eng/pipelines/release-azd-extension.yml

fix(schemas): update $id references to point to the feature branch
  cli/azd/extensions/azure.ai.agents/schemas/Agent.json
  cli/azd/extensions/azure.ai.agents/schemas/Connection.json
  cli/azd/extensions/azure.ai.agents/schemas/Deployment.json
  cli/azd/extensions/azure.ai.agents/schemas/FileRef.json
  cli/azd/extensions/azure.ai.agents/schemas/Routine.json
  cli/azd/extensions/azure.ai.agents/schemas/Skill.json
  cli/azd/extensions/azure.ai.agents/schemas/Toolbox.json
  cli/azd/extensions/azure.ai.agents/schemas/microsoft.foundry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(schemas): update $id references to point to the feature branch
  cli/azd/extensions/azure.ai.agents/schemas/examples/complex.azure.yaml
  cli/azd/extensions/azure.ai.agents/schemas/examples/simple.azure.yaml
  schemas/alpha/azure.yaml.json
  schemas/v1.0/azure.yaml.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(schemas): point sibling Foundry schema refs at feature branch
  schemas/alpha/azure.yaml.json
  schemas/v1.0/azure.yaml.json
Due: none
