Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

Fix temp dir name from merge
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Ensure GitHub CLI is installed before proceeding (#6593)
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.finetune/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Bump extension versions (#6547)
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/extension.yaml
  cli/azd/extensions/azure.ai.agents/version.txt
  cli/azd/extensions/azure.ai.finetune/CHANGELOG.md
  cli/azd/extensions/azure.ai.finetune/extension.yaml
  cli/azd/extensions/azure.ai.finetune/version.txt
  cli/azd/extensions/azure.coding-agent/CHANGELOG.md
  cli/azd/extensions/azure.coding-agent/extension.yaml
  cli/azd/extensions/azure.coding-agent/version.txt
  cli/azd/extensions/microsoft.azd.concurx/CHANGELOG.md
  cli/azd/extensions/microsoft.azd.concurx/extension.yaml
  cli/azd/extensions/microsoft.azd.concurx/version.txt
  cli/azd/extensions/microsoft.azd.extensions/CHANGELOG.md
  cli/azd/extensions/microsoft.azd.extensions/extension.yaml
  cli/azd/extensions/microsoft.azd.extensions/version.txt
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

re run recording for containerapp
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/test/functional/testdata/recordings/Test_CLI_Up_Down_ContainerApp.dotnet.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_Up_Down_ContainerApp.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_Up_Down_ContainerAppDotNetPublish.dotnet.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_Up_Down_ContainerAppDotNetPublish.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_Up_Down_ContainerApp_RemoteBuild.yaml
Due: eng/pipelines/release-cli.yml

Bump microsoft.azd.demo version
  cli/azd/extensions/microsoft.azd.demo/CHANGELOG.md
  cli/azd/extensions/microsoft.azd.demo/extension.yaml
  cli/azd/extensions/microsoft.azd.demo/version.txt
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml

Bump microsoft.azd.demo version (#6594)
  cli/azd/extensions/microsoft.azd.demo/CHANGELOG.md
  cli/azd/extensions/microsoft.azd.demo/extension.yaml
  cli/azd/extensions/microsoft.azd.demo/version.txt
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml

add purge support for log analytics (#6566)
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/go.mod
  cli/azd/go.sum
  cli/azd/pkg/azapi/log_analytics.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/test/functional/testdata/recordings/Test_CLI_Publish_ContainerApp_RemoteBuild/custom_image_and_tag.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_Publish_ContainerApp_RemoteBuild/default_publish.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_Up_Down_ContainerApp.dotnet.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_Up_Down_ContainerApp.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_Up_Down_ContainerAppDotNetPublish.dotnet.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_Up_Down_ContainerAppDotNetPublish.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_Up_Down_ContainerApp_RemoteBuild.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_VsServer/LiveDeployRefresh.dotnet.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_VsServer/LiveDeployRefresh.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_VsServer/LiveDeployServiceRefresh.dotnet.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_VsServer/LiveDeployServiceRefresh.yaml
Due: eng/pipelines/release-cli.yml

Update extension registry
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

Update extension registry (#6595)
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

Nit: remove SkipTests
  eng/pipelines/release-ext-azure-ai-finetune.yml
Due: none

Add unit tests for azure.ai.finetune extension (#6554)
  cli/azd/extensions/azure.ai.finetune/ci-test.ps1
  cli/azd/extensions/azure.ai.finetune/internal/cmd/init_test.go
  cli/azd/extensions/azure.ai.finetune/internal/cmd/operations_test.go
  cli/azd/extensions/azure.ai.finetune/internal/cmd/validation_test.go
  cli/azd/extensions/azure.ai.finetune/internal/providers/azure/provider_test.go
  cli/azd/extensions/azure.ai.finetune/internal/providers/factory/provider_factory_test.go
  cli/azd/extensions/azure.ai.finetune/internal/providers/openai/conversions_test.go
  cli/azd/extensions/azure.ai.finetune/internal/providers/openai/provider_test.go
  cli/azd/extensions/azure.ai.finetune/internal/services/deployment_service_test.go
  cli/azd/extensions/azure.ai.finetune/internal/services/finetune_service_test.go
  cli/azd/extensions/azure.ai.finetune/internal/utils/common_test.go
  cli/azd/extensions/azure.ai.finetune/internal/utils/environment.go
  cli/azd/extensions/azure.ai.finetune/internal/utils/environment_test.go
  cli/azd/extensions/azure.ai.finetune/internal/utils/output_test.go
  cli/azd/extensions/azure.ai.finetune/internal/utils/parser_test.go
  cli/azd/extensions/azure.ai.finetune/internal/utils/retry_test.go
  cli/azd/extensions/azure.ai.finetune/internal/utils/status.go
  cli/azd/extensions/azure.ai.finetune/internal/utils/status_test.go
  cli/azd/extensions/azure.ai.finetune/internal/utils/testdata/invalid_integration_missing_config.yaml
  cli/azd/extensions/azure.ai.finetune/internal/utils/testdata/invalid_integration_missing_type.yaml
  cli/azd/extensions/azure.ai.finetune/internal/utils/testdata/invalid_method_type.yaml
  cli/azd/extensions/azure.ai.finetune/internal/utils/testdata/invalid_missing_model.yaml
  cli/azd/extensions/azure.ai.finetune/internal/utils/testdata/invalid_missing_training_file.yaml
  cli/azd/extensions/azure.ai.finetune/internal/utils/testdata/invalid_suffix_too_long.yaml
  cli/azd/extensions/azure.ai.finetune/internal/utils/testdata/invalid_supervised_missing_config.yaml
  cli/azd/extensions/azure.ai.finetune/internal/utils/testdata/invalid_yaml_syntax.txt
  cli/azd/extensions/azure.ai.finetune/internal/utils/testdata/valid_complete.yaml
  cli/azd/extensions/azure.ai.finetune/internal/utils/testdata/valid_dpo.yaml
  cli/azd/extensions/azure.ai.finetune/internal/utils/testdata/valid_minimal.yaml
  cli/azd/extensions/azure.ai.finetune/internal/utils/testdata/valid_reinforcement.yaml
  cli/azd/extensions/azure.ai.finetune/internal/utils/testdata/valid_with_integrations.yaml
  cli/azd/extensions/azure.ai.finetune/internal/utils/time_test.go
  cli/azd/extensions/azure.ai.finetune/pkg/models/deployment_test.go
  cli/azd/extensions/azure.ai.finetune/pkg/models/errors_test.go
  cli/azd/extensions/azure.ai.finetune/pkg/models/finetune_test.go
  cli/azd/extensions/azure.ai.finetune/pkg/models/requests_test.go
  cli/azd/extensions/azure.ai.finetune/pkg/models/views_test.go
  eng/pipelines/release-ext-azure-ai-finetune.yml
  eng/pipelines/templates/jobs/build-azd-extension.yml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

adding project-endpoint to init command
  cli/azd/extensions/azure.ai.finetune/CHANGELOG.md
  cli/azd/extensions/azure.ai.finetune/extension.yaml
  cli/azd/extensions/azure.ai.finetune/internal/cmd/init.go
  cli/azd/extensions/azure.ai.finetune/version.txt
Due: eng/pipelines/release-azd-extension.yml

adding project-endpoint to init command (#6596)
  cli/azd/extensions/azure.ai.finetune/CHANGELOG.md
  cli/azd/extensions/azure.ai.finetune/extension.yaml
  cli/azd/extensions/azure.ai.finetune/internal/cmd/init.go
  cli/azd/extensions/azure.ai.finetune/version.txt
Due: eng/pipelines/release-azd-extension.yml

adding 12 preview release
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

release 0.0.12-preview for finetuning ext. (#6597)
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

Migrating to new eng package
  eng/pipelines/templates/jobs/build-scan-vscode.yml
  eng/pipelines/templates/jobs/vscode-build.yml
  ext/vscode/.vscode-test.mjs
  ext/vscode/.vscode/extensions.json
  ext/vscode/.vscode/launch.json
  ext/vscode/.vscode/tasks.json
  ext/vscode/main.js
  ext/vscode/package-lock.json
  ext/vscode/package.json
  ext/vscode/src/test/runAllTests.ts
  ext/vscode/src/test/runExtensionTests.ts
  ext/vscode/src/test/runUnitTests.ts
  ext/vscode/src/test/suite/allTests.ts
  ext/vscode/src/test/suite/unitTests.ts
  ext/vscode/tsconfig.json
  ext/vscode/webpack.config.js
Due: eng/pipelines/release-vscode.yml

Auto lint fixes
  ext/vscode/src/commands/addService.ts
  ext/vscode/src/commands/deploy.ts
  ext/vscode/src/commands/down.ts
  ext/vscode/src/commands/getDotEnvFilePath.ts
  ext/vscode/src/commands/monitor.ts
  ext/vscode/src/commands/packageCli.ts
  ext/vscode/src/commands/pipeline.ts
  ext/vscode/src/commands/provision.ts
  ext/vscode/src/commands/restore.ts
  ext/vscode/src/commands/up.ts
  ext/vscode/src/language/AzureYamlCodeActionProvider.ts
  ext/vscode/src/services/FileSystemWatcherService.ts
  ext/vscode/src/test/suite/unit/lazy.test.ts
  ext/vscode/src/test/suite/unit/openInPortalStep.test.ts
  ext/vscode/src/test/suite/unit/revealStep.test.ts
  ext/vscode/src/test/suite/unit/surveys.test.ts
  ext/vscode/src/utils/VsCodeAuthenticationCredential.ts
  ext/vscode/src/utils/authServer.ts
  ext/vscode/src/utils/azureDevCli.ts
  ext/vscode/src/utils/executeAsTask.ts
  ext/vscode/src/utils/parseAzureResourceId.ts
  ext/vscode/src/utils/quickPickWorkspaceFolder.ts
  ext/vscode/src/utils/resolveVariables.ts
Due: eng/pipelines/release-vscode.yml

Fixes to scripts and build
  ext/vscode/.vscodeignore
  ext/vscode/ci-test.ps1
  ext/vscode/esbuild.mjs
  ext/vscode/package.json
  ext/vscode/src/views/workspace/AzureDevCliApplication.ts
Due: eng/pipelines/release-vscode.yml

Remove unneeded mocking of `createAzureDevCli`
  ext/vscode/src/test/suite/unit/azureDevShowProvider.test.ts
Due: eng/pipelines/release-vscode.yml

Update CHANGELOG.md
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

Fix broken/invalid tests
  ext/vscode/.vscode/launch.json
  ext/vscode/src/commands/azureWorkspace/wizard/RevealStep.ts
  ext/vscode/src/language/AzureYamlDiagnosticProvider.ts
  ext/vscode/src/services/AzureDevShowProvider.ts
  ext/vscode/src/test/suite/unit/azureDevShowProvider.test.ts
  ext/vscode/src/test/suite/unit/azureYamlDiagnostics.test.ts
  ext/vscode/src/test/suite/unit/revealStep.test.ts
Due: eng/pipelines/release-vscode.yml

Create changelog for v1.23.1 patch release (#6599)
  cli/azd/CHANGELOG.md
  cli/version.txt
Due: eng/pipelines/release-cli.yml

Fix tests I think
  ext/vscode/src/services/AzureDevShowProvider.ts
  ext/vscode/src/test/suite/unit/azureDevShowProvider.test.ts
Due: eng/pipelines/release-vscode.yml

Fix CI node version
  .github/workflows/vscode-ci.yml
Due: none

fix security issue with playwright/test 1.49.1 (#6592)
  ext/vscode/package-lock.json
Due: eng/pipelines/release-vscode.yml

Increment CLI version after release
  cli/version.txt
Due: eng/pipelines/release-cli.yml

Checkpoint from VS Code for cloud agent session
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
Due: eng/pipelines/release-cli.yml

the changes
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
Due: eng/pipelines/release-cli.yml

Increment CLI version after release (#6602)
  cli/version.txt
Due: eng/pipelines/release-cli.yml

Add update availability JSON property and show asterisk besides outdated extensions
  cli/azd/cmd/extension.go
Due: eng/pipelines/release-cli.yml

Update AGENTS.md
  cli/azd/AGENTS.md
Due: eng/pipelines/release-cli.yml

Checkpoint from VS Code for cloud agent session
  cli/azd/cmd/container.go
  cli/azd/cmd/external_prompt_test.go
  cli/azd/docs/external-prompting.md
  cli/azd/extensions/microsoft.azd.concurx/go.mod
  cli/azd/extensions/microsoft.azd.concurx/go.sum
  cli/azd/extensions/microsoft.azd.concurx/internal/cmd/concurrent_deployer.go
  cli/azd/extensions/microsoft.azd.concurx/internal/cmd/deployment_model.go
  cli/azd/extensions/microsoft.azd.concurx/internal/cmd/prompt_model.go
  cli/azd/extensions/microsoft.azd.concurx/internal/cmd/prompt_server.go
  cli/azd/extensions/microsoft.azd.concurx/internal/cmd/up.go
  cli/azd/pkg/input/console.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml

cspell
  cli/azd/.vscode/cspell.yaml
Due: eng/pipelines/release-cli.yml

Use console.Message
  cli/azd/cmd/extension.go
Due: eng/pipelines/release-cli.yml

Fix cooldown logic and shallow copy
  cli/azd/cmd/extensions.go
Due: eng/pipelines/release-cli.yml

Fix lll
  cli/azd/cmd/extension.go
Due: eng/pipelines/release-cli.yml

Checkpoint from VS Code for cloud agent session
  cli/azd/internal/scaffold/scaffold_test.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/pkg/tools/bicep/bicep.go
  cli/azd/pkg/tools/bicep/bicep_test.go
  cli/azd/test/functional/aspire_test.go
Due: eng/pipelines/release-cli.yml
