Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

ci: share sample fallback across live runs
  eng/pipelines/ext-azure-ai-agents-live.yml
Due: none

ci: let any live run refresh sample cache
  eng/pipelines/ext-azure-ai-agents-live.yml
Due: none

test: allow Azure Pipelines warning command
  cli/azd/extensions/azure.ai.agents/internal/cmd/template_cache.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

ci: persist sample cache independently
  eng/pipelines/ext-azure-ai-agents-live.yml
Due: none

[azure.ai.skills] Nightly registry update for 1.0.0-beta.5.nightly.6803689
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

fix: guard incomplete protocol metadata
  cli/azd/extensions/azure.ai.agents/internal/cmd/helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_test.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: retry invalid Foundry project names
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_foundry_resources_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_foundry_resources_helpers_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

test: prefer cached sample before GitHub login
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

test: simplify shared sample cache fallback
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/template_cache.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/template_cache_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

test: key live sample cache by source
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/template_cache.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/template_cache_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

test: keep live sample fallback minimal
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/template_cache_test.go
  eng/pipelines/ext-azure-ai-agents-live.yml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

test: preserve cache fallback error chain
  cli/azd/extensions/azure.ai.agents/internal/cmd/template_cache.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

test: harden shared sample cache publication
  cli/azd/extensions/azure.ai.agents/internal/cmd/template_cache.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/template_cache_test.go
  eng/pipelines/ext-azure-ai-agents-live.yml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

test: preserve prior sample cache on refresh failure
  cli/azd/extensions/azure.ai.agents/internal/cmd/template_cache.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/template_cache_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

test: keep sample cache fallback optional
  cli/azd/extensions/azure.ai.agents/internal/cmd/template_cache.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/template_cache_test.go
  eng/pipelines/ext-azure-ai-agents-live.yml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

ci: paginate shared cache discovery
  eng/pipelines/ext-azure-ai-agents-live.yml
Due: none

Fix what the reviewer caught in the bug-bash changes
  cli/azd/extensions/azure.ai.evaluations/README.md
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/generate_composite.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/init.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/reconciler.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run_output.go
  cli/azd/extensions/azure.ai.evaluations/internal/messages/messages.go
Due: eng/pipelines/release-azd-extension.yml

Order versions as numbers, and say where the data went
  cli/azd/extensions/azure.ai.dataset/internal/cmd/dataset_download.go
  cli/azd/extensions/azure.ai.dataset/internal/messages/messages.go
  cli/azd/extensions/azure.ai.dataset/internal/pkg/dataset_api/list.go
  cli/azd/extensions/azure.ai.dataset/internal/pkg/dataset_api/version_order_test.go
Due: eng/pipelines/release-azd-extension.yml

Stop a Windows-only fixture failing the Linux build
  cli/azd/extensions/azure.ai.evaluations/internal/messages/results_vocabulary_test.go
Due: eng/pipelines/release-azd-extension.yml

Add hosted voice agent support (#9697)
  cli/azd/extensions/azure.ai.agents/README.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/delete.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/delete_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code_reuse.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_reuse_project_agent_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/models.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/map.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/map_voice_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse_voice_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/yaml.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agentkind/agentkind.go
  cli/azd/extensions/azure.ai.agents/internal/project/agent_definition.go
  cli/azd/extensions/azure.ai.agents/internal/project/agent_policies_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/doc_examples_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_dependencies.go
  cli/azd/extensions/azure.ai.agents/internal/project/hosted_voice_target_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
  cli/azd/extensions/azure.ai.agents/schemas/azure.ai.agent.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): finalize telephony review fixes
  cli/azd/extensions/azure.ai.agents/README.md
  cli/azd/extensions/azure.ai.agents/internal/project/agent_definition.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
  cli/azd/extensions/azure.ai.agents/schemas/azure.ai.agent.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

test: cache AI agents live sample download (#9929)
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/template_cache.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/template_cache_test.go
  cli/azd/extensions/azure.ai.agents/tests/e2e-live/README.md
  eng/pipelines/ext-azure-ai-agents-live.yml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

address comments
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_baseline_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_helpers.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Support prompt voice telephony bindings (#9804)
  cli/azd/extensions/azure.ai.agents/README.md
  cli/azd/extensions/azure.ai.agents/cspell.yaml
  cli/azd/extensions/azure.ai.agents/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/models.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse_voice_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/yaml.go
  cli/azd/extensions/azure.ai.agents/internal/project/agent_definition.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
  cli/azd/extensions/azure.ai.agents/schemas/azure.ai.agent.json
  cli/azd/extensions/azure.ai.agents/tests/e2e-live/tier2_live_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: record dependency update telemetry failures
  cli/azd/docs/tracing-in-azd.md
  cli/azd/pkg/extensions/manager.go
  cli/azd/pkg/extensions/manager_test.go
  cli/azd/pkg/extensions/uninstall_test.go
  docs/architecture/telemetry.md
  docs/reference/telemetry-data.md
Due: eng/pipelines/release-cli.yml

Prepare azd 1.34.0 release
  cli/azd/CHANGELOG.md
  cli/azd/pkg/azdext/version.go
  cli/version.txt
Due: eng/pipelines/release-cli.yml

Detect Antigravity CLI and preserve interactive behavior (#9848)
  cli/azd/cmd/auto_install_integration_test.go
  cli/azd/cmd/auto_install_test.go
  cli/azd/docs/environment-variables.md
  cli/azd/internal/runcontext/agentdetect/detect_env.go
  cli/azd/internal/runcontext/agentdetect/detect_process.go
  cli/azd/internal/runcontext/agentdetect/detect_test.go
  cli/azd/internal/runcontext/agentdetect/types.go
  cli/azd/internal/tracing/fields/fields.go
  cli/azd/internal/tracing/resource/exec_environment.go
  cli/azd/internal/tracing/resource/resource_test.go
  cli/azd/pkg/azdext/tui.go
  cli/azd/pkg/azdext/tui_test.go
  docs/reference/telemetry-data.md
  docs/specs/metrics-audit/feature-telemetry-matrix.md
  docs/specs/metrics-audit/telemetry-schema.md
Due: eng/pipelines/release-cli.yml

Update gRPC to 1.83.1 and adjust telemetry attributes
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

Enable Knowledge Base
  .github/copilot-instructions.md
  .github/knowledge-base.json
  .github/workflows/knowledge-base-issue-artifact.yml
  .github/workflows/knowledge-base.yml
  AGENTS.md
  docs/index.md
Due: none

feat(agents): export agent insights as JSON
  cli/azd/extensions/azure.ai.agents/README.md
  cli/azd/extensions/azure.ai.agents/extension.yaml
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_list.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_show.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/insights.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/insights_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/root.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/insights_api/client.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/insights_api/client_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/insights_api/models.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): apply Go modernization
  cli/azd/extensions/azure.ai.agents/internal/cmd/insights.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Prepare azd 1.34.0 release (#9932)
  cli/azd/CHANGELOG.md
  cli/azd/pkg/azdext/version.go
  cli/version.txt
Due: eng/pipelines/release-cli.yml

fix(agents): harden insights export resolution
  cli/azd/extensions/azure.ai.agents/README.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/agent_context.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/insights.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/insights_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/monitor.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/project_resolver_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/insights_api/client.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/insights_api/client_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

[microsoft.azd.demo] Nightly registry update for 0.8.0-nightly.6806834
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

address comments
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_baseline_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_helpers.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: repair remote container build fallback
  cli/azd/docs/concurrency-model.md
  cli/azd/internal/grpcserver/container_service_test.go
  cli/azd/pkg/containerregistry/remote_build.go
  cli/azd/pkg/containerregistry/remote_build_test.go
  cli/azd/pkg/project/container_helper.go
  cli/azd/pkg/project/container_helper_remote_build_test.go
  cli/azd/pkg/project/container_helper_test.go
  cli/azd/pkg/tools/docker/docker.go
  cli/azd/pkg/tools/docker/docker_concurrency_test.go
  docs/reference/azure-yaml-schema.md
  schemas/alpha/azure.yaml.json
  schemas/v1.0/azure.yaml.json
Due: eng/pipelines/release-cli.yml

Increment CLI version after release
  cli/azd/pkg/azdext/version.go
  cli/version.txt
Due: eng/pipelines/release-cli.yml
