Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

azd@prerelease.rb
  eng/pipelines/templates/stages/sign.yml
  eng/templates/brew.daily.template
Due: none

azd-daily
  eng/pipelines/templates/stages/sign.yml
  eng/templates/brew.daily.template
Due: none

Use 1ES artifact task when appropriate
  eng/pipelines/templates/stages/publish.yml
  eng/pipelines/templates/steps/publish-cli-brew.yml
Due: none

Packaging, Template: conflicts_with
  eng/pipelines/templates/stages/sign.yml
  eng/templates/brew.cask.daily.template
  eng/templates/brew.cask.template
Due: none

Fixes
  eng/pipelines/templates/stages/sign.yml
  eng/pipelines/templates/steps/publish-cli-brew.yml
  eng/pipelines/templates/steps/set-cli-version-cd.yml
  eng/scripts/Set-CliVersionInBuild.ps1
Due: none

AzdAtDaily
  eng/templates/brew.daily.template
Due: none

Quotes
  eng/pipelines/templates/steps/set-cli-version-cd.yml
Due: none

Publishing steps, template cleanup
  eng/pipelines/templates/stages/publish.yml
  eng/pipelines/templates/steps/publish-cli-brew.yml
  eng/templates/brew.cask.daily.template
  eng/templates/brew.cask.template
Due: none

Update templates: add casks
  eng/templates/brew.cask.daily.template
  eng/templates/brew.cask.template
  eng/templates/brew.daily.template
Due: none

homebrew publish needs engsys
  eng/pipelines/templates/stages/publish.yml
  eng/pipelines/templates/steps/publish-cli-brew.yml
Due: none

Target main branch
  eng/pipelines/templates/stages/publish.yml
Due: none

Wire up daily for homebrew formula in CI build
  eng/pipelines/templates/stages/build-and-test.yml
  eng/pipelines/templates/stages/publish.yml
  eng/pipelines/templates/stages/sign.yml
  eng/templates/brew.daily.template
Due: none

Release checkbox
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Apply suggestions from code review
  cli/azd/extensions/azure.ai.agents/internal/project/agent_identity_rbac.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

monitor tests
  cli/azd/extensions/azure.ai.agents/internal/cmd/monitor_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Better conditions
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Spelling
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Tabbing
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Release checkbox (#7137)
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Always setup gotest (Skip.LiveTest fails without gotest setup)
  eng/pipelines/templates/jobs/build-cli.yml
Due: eng/pipelines/release-cli.yml

homebrew-azd
  eng/pipelines/templates/steps/publish-cli-brew.yml
Due: none

[Agents Extension] Minor followups to ADC usability (#7136)
  cli/azd/extensions/azure.ai.agents/internal/cmd/monitor.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/monitor_test.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.agents/internal/project/agent_identity_rbac.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Revise CHANGELOG
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

Prepare azure.ai.agents 0.1.15-preview patch release (#7135)
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/extension.yaml
  cli/azd/extensions/azure.ai.agents/version.txt
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Prepare azure.coding-agent v0.6.1 patch release (#7131)
  cli/azd/extensions/azure.coding-agent/CHANGELOG.md
  cli/azd/extensions/azure.coding-agent/extension.yaml
  cli/azd/extensions/azure.coding-agent/version.txt
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-coding-agent.yml

Create changelog for azd 1.23.9 (#7129)
  .vscode/cspell-github-user-aliases.txt
  cli/azd/CHANGELOG.md
  cli/version.txt
Due: eng/pipelines/release-cli.yml

Address feedback
  cli/azd/docs/extensions/extensions-style-guide.md
  cli/azd/extensions/azure.ai.agents/AGENTS.md
  cli/azd/extensions/azure.ai.agents/internal/exterrors/errors.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

=, shorten test cycle
  eng/pipelines/templates/jobs/build-cli.yml
  eng/pipelines/templates/stages/sign.yml
Due: eng/pipelines/release-cli.yml

Add file operations for hosted agent sessions (#7132)
  cli/azd/extensions/azure.ai.agents/internal/cmd/files.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/files_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/root.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/models.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Increment CLI version after release
  cli/version.txt
Due: eng/pipelines/release-cli.yml

Formula/
  eng/pipelines/templates/stages/sign.yml
Due: none

Publish azure.ai.agents 0.1.15-preview and azure.coding-agent 0.6.1 to registry
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

Init from template
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_templates_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_templates_helpers_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Update snapshot tests for new extension versions
  cli/azd/cmd/testdata/TestFigSpec.ts
Due: eng/pipelines/release-cli.yml

Refactor
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

chore: address review feedback — process, shell, pagination, ssrf, kv resolver
  cli/azd/cmd/extensions.go
  cli/azd/extensions/azure.appservice/internal/cmd/swap.go
  cli/azd/internal/cmd/show/show.go
  cli/azd/pkg/azdext/keyvault_resolver.go
  cli/azd/pkg/azdext/pagination.go
  cli/azd/pkg/azdext/process_darwin.go
  cli/azd/pkg/azdext/process_linux.go
  cli/azd/pkg/azdext/shell.go
  cli/azd/pkg/azdext/ssrf_common.go
  cli/azd/pkg/azdext/ssrf_guard.go
  cli/azd/pkg/keyvault/keyvault.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-appservice.yml

fix: correct jitter range and pagination test type mismatches
  cli/azd/pkg/azdext/pagination_test.go
  cli/azd/pkg/azdext/resilient_http_client.go
Due: eng/pipelines/release-cli.yml

fix: address CI lint failures (cspell + gosec)
  cli/azd/.vscode/cspell.yaml
  cli/azd/pkg/azdext/atomicfile.go
  cli/azd/pkg/azdext/shell.go
  cli/azd/pkg/azdext/tooldiscovery.go
Due: eng/pipelines/release-cli.yml

fix: address PR review feedback
  cli/azd/extensions/azure.appservice/internal/cmd/swap.go
  cli/azd/pkg/azdext/pagination.go
  cli/azd/pkg/azdext/shell.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-appservice.yml
