Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      demands: ImageOverride -equals windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-azdo-setupazd.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: BuildAndTest
        variables:
        - template: /eng/pipelines/templates/variables/image.yml
        jobs:
        - job: BuildSetupAzd
          displayName: BuildSetupAzd
          variables:
  ...

eng/pipelines/release-azuredevops.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/azuredevops-build-and-test.yml
      - template: /eng/pipelines/templates/stages/azuredevops-sign.yml
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-ai-agents
  ...

eng/pipelines/release-ext-azure-ai-models.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.models
          SanitizedExtensionId: azure-ai-models
  ...

eng/pipelines/release-ext-azure-appservice.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.appservice
          SanitizedExtensionId: azure-appservice
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

fix: add ABAC to project terms in cspell configuration
  cli/azd/extensions/azure.ai.agents/cspell.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: standardize ACR role constant naming and update related tests
  cli/azd/extensions/azure.ai.agents/internal/project/developer_rbac_check.go
  cli/azd/extensions/azure.ai.agents/internal/project/developer_rbac_check_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Address review feedback on preflight warning handling
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/local_preflight.go
  cli/azd/pkg/infra/provisioning/bicep/role_assignment_check_test.go
Due: eng/pipelines/release-cli.yml

Address comments and apply colour formatting
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_reserved_names_test.go
Due: eng/pipelines/release-cli.yml

Add local Bicep preflight warnings for Azure reserved resource names and improve readability (#7746)
  cli/azd/.vscode/cspell.yaml
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_reserved_names_test.go
Due: eng/pipelines/release-cli.yml

Switch the vnext as the only route
  cli/azd/extensions/azure.ai.agents/internal/cmd/files.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/monitor.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/session.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/show.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/show_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/vnext_scale_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/models.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/models_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations.go
  cli/azd/extensions/azure.ai.agents/internal/project/agent_identity_rbac.go
  cli/azd/extensions/azure.ai.agents/internal/project/agent_identity_rbac_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/developer_rbac_check.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Remove all min/max replicas references, not configurable in vnext
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/vnext_scale_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/config.go
  cli/azd/extensions/azure.ai.agents/schemas/azure.ai.agent.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Update the failure message when a user provides an incorrect manifest yaml.
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

PR comments
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

PR comments
  cli/azd/extensions/azure.ai.agents/internal/cmd/monitor.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Simplify "update available" banner and include link to release notes
  cli/azd/main.go
  cli/azd/pkg/update/banner.go
  cli/azd/pkg/update/banner_test.go
Due: eng/pipelines/release-cli.yml

Make `platformUpgradeHint` be channel-aware
  cli/azd/main.go
Due: eng/pipelines/release-cli.yml

docs: address jongio round 4 — add ai_model_quota check, shell→kind, fix IoC regression, update glossary
  docs/architecture/provisioning-pipeline.md
  docs/architecture/system-overview.md
  docs/concepts/glossary.md
  docs/reference/azure-yaml-schema.md
Due: none

Fix test
  cli/azd/pkg/update/banner_test.go
Due: eng/pipelines/release-cli.yml

Disable terminal formatting in tests
  cli/azd/pkg/update/banner_test.go
Due: eng/pipelines/release-cli.yml

Use sentence casing
  cli/azd/pkg/update/banner.go
  cli/azd/pkg/update/banner_test.go
Due: eng/pipelines/release-cli.yml

update to have config set for rerun
  cli/azd/cmd/middleware/error.go
  cli/azd/cmd/middleware/error_test.go
Due: eng/pipelines/release-cli.yml

UI fix
  cli/azd/cmd/middleware/error.go
Due: eng/pipelines/release-cli.yml

fix: enhance ACR role checks and add support for resource ID resolution in ABAC mode
  cli/azd/extensions/azure.ai.agents/go.mod
  cli/azd/extensions/azure.ai.agents/internal/project/developer_rbac_check.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

add retry set to prompt 3
  cli/azd/cmd/middleware/error.go
  cli/azd/cmd/middleware/error_test.go
Due: eng/pipelines/release-cli.yml

add tip message
  cli/azd/cmd/middleware/error.go
Due: eng/pipelines/release-cli.yml

Bump aspire-full test sample from 9.4.0 to 13.2.2
  cli/azd/test/functional/aspire_test.go
  cli/azd/test/functional/cli_test.go
  cli/azd/test/functional/testdata/recordings/Test_CLI_VsServer/LiveDeployRefresh.dotnet.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_VsServer/LiveDeployRefresh.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_VsServer/LiveDeployServiceRefresh.dotnet.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_VsServer/LiveDeployServiceRefresh.yaml
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.AppHost/AspireAzdTests.AppHost.csproj
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.AppHost/Program.cs
  cli/azd/test/functional/testdata/samples/aspire-full/AspireAzdTests.ServiceDefaults/AspireAzdTests.ServiceDefaults.csproj
  cli/azd/test/functional/testdata/samples/aspire-full/Directory.Build.props
  cli/azd/test/functional/testdata/snaps/aspire-full/apiservice-containerapp.module.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/apiservice.module.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/appHostInfrastructure-acr.module.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/appHostInfrastructure.module.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/env.module.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/infra/apiservice/apiservice-containerapp.module.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/infra/apiservice/apiservice.module.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/infra/appHostInfrastructure-acr/appHostInfrastructure-acr.module.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/infra/appHostInfrastructure/appHostInfrastructure.module.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/infra/main.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/infra/pubsub/pubsub.module.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/infra/storage/storage.module.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/infra/webfrontend-identity/webfrontend-identity.module.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/infra/webfrontend-roles-storage/webfrontend-roles-storage.module.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/infra/webfrontend/webfrontend-containerapp.module.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/infra/worker/worker-containerapp.module.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/manifest.json
  cli/azd/test/functional/testdata/snaps/aspire-full/pubsub.module.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/storage.module.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/webfrontend-containerapp.module.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/webfrontend-identity.module.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/webfrontend-roles-storage.module.bicep
  cli/azd/test/functional/testdata/snaps/aspire-full/worker-containerapp.module.bicep
Due: eng/pipelines/release-cli.yml

fix: reduce CI pipeline warnings (Phase 1 & 2)
  cli/installer/windows-actions/actions.vcxproj
  cli/installer/windows/azd.wixproj
  eng/pipelines/templates/stages/code-coverage-upload.yml
Due: eng/pipelines/release-cli.yml

fix: add ControlFlowGuard to linker section (Copilot review iteration 1)
  cli/installer/windows-actions/actions.vcxproj
Due: eng/pipelines/release-cli.yml

fix: make Link ControlFlowGuard unconditional (Copilot review iteration 2)
  cli/installer/windows-actions/actions.vcxproj
Due: eng/pipelines/release-cli.yml

Update docs/reference/azure-yaml-schema.md
  docs/reference/azure-yaml-schema.md
Due: none

Update docs/concepts/glossary.md
  docs/concepts/glossary.md
Due: none

perf: parallelize mage preflight checks for faster inner dev loop
  cli/azd/magefile.go
Due: eng/pipelines/release-cli.yml

[Agents Extension] Update invalid manifest error message (#7765)
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

[Agents Extension] Updates to pull rbac identity from the agent version (#7747)
  cli/azd/extensions/azure.ai.agents/go.mod
  cli/azd/extensions/azure.ai.agents/go.sum
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/show.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/show_test.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/models.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/models_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/agent_identity_rbac.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Address feedback - use `[scriptblock]` instead of leaving stray `install-azd.ps1` in cwd
  cli/azd/cmd/update.go
  cli/azd/main.go
  cli/installer/README.md
Due: eng/pipelines/release-cli.yml

Pr comment
  cli/azd/extensions/azure.ai.agents/internal/project/developer_rbac_check.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Address feedback
  cli/azd/pkg/update/banner_test.go
Due: eng/pipelines/release-cli.yml

Linter
  cli/azd/extensions/azure.ai.agents/internal/project/agent_identity_rbac.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

initial fix: safeguard for subscription and location
  cli/azd/pkg/infra/provisioning/manager.go
  cli/azd/pkg/prompt/prompter.go
Due: eng/pipelines/release-cli.yml

fix: safeguard prompt service missing inputs
  cli/azd/pkg/prompt/prompt_service.go
Due: eng/pipelines/release-cli.yml

fix: remove -e shorthand from AI extensions to resolve reserved flag collision
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.finetune/internal/cmd/init.go
  cli/azd/extensions/azure.ai.finetune/internal/cmd/operations.go
  cli/azd/extensions/azure.ai.models/CHANGELOG.md
  cli/azd/extensions/azure.ai.models/internal/cmd/custom.go
  cli/azd/extensions/azure.ai.models/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

docs: add CHANGELOG entries for all extensions, move removal to new version
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.finetune/CHANGELOG.md
  cli/azd/extensions/azure.ai.models/CHANGELOG.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

perf: parallelize mage preflight checks for faster inner dev loop (#7772)
  cli/azd/magefile.go
Due: eng/pipelines/release-cli.yml

Add .azdxignore support for azd x watch (#6152) (#7697)
  cli/azd/.vscode/cspell.yaml
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/watch.go
  cli/azd/pkg/ignore/ignore.go
  cli/azd/pkg/ignore/ignore_test.go
  cli/azd/pkg/watch/watch.go
  cli/azd/pkg/watch/watch_helpers_test.go
  cli/azd/pkg/watch/watch_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
