Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      demands: ImageOverride -equals windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-azdo-setupazd.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: BuildAndTest
        variables:
        - template: /eng/pipelines/templates/variables/image.yml
        jobs:
        - job: BuildSetupAzd
          displayName: BuildSetupAzd
          variables:
  ...

eng/pipelines/release-azuredevops.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/azuredevops-build-and-test.yml
      - template: /eng/pipelines/templates/stages/azuredevops-sign.yml
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-ai-agents
  ...

eng/pipelines/release-ext-azure-ai-models.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.models
          SanitizedExtensionId: azure-ai-models
  ...

eng/pipelines/release-ext-azure-appservice.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.appservice
          SanitizedExtensionId: azure-appservice
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

fix: report structured deploy hook messages
  cli/azd/docs/extensions/contract-versioning.md
  cli/azd/docs/extensions/extension-framework.md
  cli/azd/docs/extensions/extension-sdk-reference.md
  cli/azd/extensions/microsoft.azd.demo/README.md
  cli/azd/extensions/microsoft.azd.demo/internal/cmd/beta_events.go
  cli/azd/extensions/microsoft.azd.demo/internal/cmd/beta_events_test.go
  cli/azd/extensions/microsoft.azd.demo/internal/cmd/listen.go
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/resources_test.go
  cli/azd/grpc/README.md
  cli/azd/grpc/proto/azd/extensions/v1beta/event.proto
  cli/azd/internal/cmd/deploy.go
  cli/azd/internal/cmd/deploy_test.go
  cli/azd/internal/cmd/service_event_messages.go
  cli/azd/internal/cmd/service_event_messages_test.go
  cli/azd/internal/cmd/up_graph.go
  cli/azd/internal/commandresult/service_event_messages.go
  cli/azd/internal/commandresult/service_event_messages_test.go
  cli/azd/internal/grpcserver/beta_event_followup_test.go
  cli/azd/internal/grpcserver/beta_event_message_envelope.go
  cli/azd/internal/grpcserver/beta_event_message_envelope_test.go
  cli/azd/internal/grpcserver/beta_event_service.go
  cli/azd/internal/grpcserver/beta_event_service_test.go
  cli/azd/internal/grpcserver/beta_event_stream.go
  cli/azd/internal/grpcserver/beta_event_stream_test.go
  cli/azd/internal/grpcserver/event_service.go
  cli/azd/internal/grpcserver/event_service_test.go
  cli/azd/pkg/azdext/azd_client_test.go
  cli/azd/pkg/azdext/beta_service_event_manager.go
  cli/azd/pkg/azdext/beta_service_event_manager_test.go
  cli/azd/pkg/azdext/contracts/v1beta/event.pb.go
  cli/azd/pkg/azdext/contracts/versioning_test.go
  cli/azd/pkg/azdext/extension_host.go
  cli/azd/pkg/azdext/extension_host_test.go
  cli/azd/pkg/input/console.go
  cli/azd/pkg/input/console_test.go
  docs/architecture/extension-framework.md
  docs/guides/creating-an-extension.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

test: cover deploy hook message command output
  cli/azd/internal/cmd/service_event_messages_graph_test.go
  cli/azd/pkg/azdext/extension_host_test.go
Due: eng/pipelines/release-cli.yml

fix: document deploy message host version requirement
  cli/azd/docs/extensions/extension-sdk-reference.md
Due: eng/pipelines/release-cli.yml

[azure.ai.dataset] Nightly registry update for 1.0.0-beta.1.nightly.6932942
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

fix: preserve deploy hook warnings through final output
  cli/azd/.vscode/cspell.yaml
  cli/azd/docs/extensions/contract-versioning.md
  cli/azd/internal/cmd/deploy.go
  cli/azd/internal/cmd/previewer_finalization_graph_test.go
  cli/azd/internal/cmd/service_event_messages_graph_test.go
  cli/azd/internal/cmd/up_graph.go
  cli/azd/internal/cmd/up_graph_test.go
  cli/azd/internal/grpcserver/beta_event_followup_test.go
  cli/azd/internal/grpcserver/beta_event_service.go
  cli/azd/internal/grpcserver/beta_event_service_correlation_test.go
  cli/azd/internal/grpcserver/beta_event_service_test.go
  cli/azd/internal/grpcserver/beta_event_stream.go
  cli/azd/internal/grpcserver/beta_event_stream_test.go
  cli/azd/pkg/input/console.go
  cli/azd/pkg/input/console_test.go
Due: eng/pipelines/release-cli.yml

fix: validate beta service status request IDs
  cli/azd/docs/extensions/contract-versioning.md
  cli/azd/internal/grpcserver/beta_event_service_correlation_test.go
  cli/azd/internal/grpcserver/beta_event_stream.go
Due: eng/pipelines/release-cli.yml

fix: handle canceled extension host receivers
  cli/azd/pkg/azdext/extension_host.go
  cli/azd/pkg/azdext/extension_host_test.go
Due: eng/pipelines/release-cli.yml

fix: authenticate WinGet manifest generation
  eng/pipelines/templates/steps/publish-cli-winget.yml
Due: none

fix: use WinGetCreate token environment variable
  eng/pipelines/templates/steps/publish-cli-winget.yml
Due: none

Share Function host.json validation with compose scaffolding
  cli/azd/internal/cmd/add/add_configure_host.go
  cli/azd/pkg/project/function_app.go
  cli/azd/pkg/project/resources_test.go
  cli/azd/pkg/project/scaffold_gen.go
  docs/reference/azure-yaml-schema.md
Due: eng/pipelines/release-cli.yml

Address toolbox test lint findings
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_add_test.go
  cli/azd/extensions/azure.ai.toolboxes/internal/definition/definition_test.go
Due: eng/pipelines/release-azd-extension.yml

Validate legacy keys under numeric YAML mappings
  cli/azd/extensions/azure.ai.routines/internal/cmd/routine_manifest_test.go
  cli/azd/extensions/azure.ai.routines/internal/cmd/service_target_test.go
  cli/azd/extensions/azure.ai.routines/internal/pkg/routines/authoring.go
  cli/azd/extensions/azure.ai.routines/internal/pkg/routines/authoring_test.go
Due: eng/pipelines/release-azd-extension.yml

fix(ai-agents): honor endpoint environment override
  cli/azd/extensions/azure.ai.agents/internal/cmd/endpoint_show.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/endpoint_show_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/prompt_service.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(exec): allow paths in inline commands
  cli/azd/cmd/exec.go
  cli/azd/cmd/exec_test.go
Due: eng/pipelines/release-cli.yml

fix(exec): disambiguate inline path intent
  cli/azd/cmd/exec.go
  cli/azd/cmd/exec_test.go
Due: eng/pipelines/release-cli.yml

Use --template/-t for agent init templates (#10313)
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/extensions/ai-non-interactive.md
  cli/azd/extensions/azure.ai.agents/README.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/help_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_templates_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_infra_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_reuse_project_agent_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_voice_compatibility_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_voice_flag_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/sample.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/sample_list.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/sample_list_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/testdata/TestAgentHelp-init.snap
  cli/azd/extensions/azure.ai.agents/internal/cmd/testdata/TestAgentHelp-sample.snap
  cli/azd/extensions/azure.ai.agents/internal/cmd/testdata/TestAgentHelp-sample_list.snap
  cli/azd/extensions/azure.ai.agents/internal/tools/add_agent.go
  cli/azd/extensions/azure.ai.agents/internal/tools/add_agent_test.go
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/README.md
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier0/0.02-help-root.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier0/0.03-sample-list-text.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier0/0.04-sample-list-json-filters.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier0/0.08-init-validate-mutually-exclusive.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier0/0.09-init-validate-no-prompt-missing.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier0/0.23-init-deprecated-manifest-alias.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier1/1.03-init-from-azure-yaml-url.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier1/1.05-init-flag-agent-name.yaml
  cli/azd/extensions/azure.ai.agents/tests/e2e-live/tier2_live_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(ai-agents): preserve endpoint definition context
  cli/azd/extensions/azure.ai.agents/internal/project/prompt_environment_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_prompt.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(ai-agents): preserve endpoint ref overlays
  cli/azd/extensions/azure.ai.agents/internal/project/agent_endpoint_policy.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

test(ai-agents): align endpoint cases with workflow validation
  cli/azd/extensions/azure.ai.agents/internal/cmd/endpoint_show_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/update_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/agent_endpoint_policy_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat(ai-agents): define endpoint behavior by agent kind
  cli/azd/extensions/azure.ai.agents/README.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/endpoint_show.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/endpoint_show_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/prompt_service.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/testdata/TestAgentHelp-endpoint.snap
  cli/azd/extensions/azure.ai.agents/internal/cmd/testdata/TestAgentHelp-endpoint_show.snap
  cli/azd/extensions/azure.ai.agents/internal/cmd/testdata/TestAgentHelp-endpoint_update.snap
  cli/azd/extensions/azure.ai.agents/internal/cmd/testdata/TestAgentHelp-root.snap
  cli/azd/extensions/azure.ai.agents/internal/cmd/update.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/update_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/agent_endpoint_policy.go
  cli/azd/extensions/azure.ai.agents/internal/project/agent_endpoint_policy_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/prompt_client_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_prompt.go
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier0/0.14-endpoint-show-help.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier2/2.11-endpoint-update.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier2/2.16-endpoint-show.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

refactor(ai-agents): share project path resolution
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(ai-agents): report persisted prompt endpoints
  cli/azd/extensions/azure.ai.agents/internal/cmd/endpoint_show.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/endpoint_show_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_prompt.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

go fix - use map.copy
  cli/azd/pkg/environment/scoped_environment.go
Due: eng/pipelines/release-cli.yml

fix(exec): allow paths in inline commands (#10375)
  cli/azd/cmd/exec.go
  cli/azd/cmd/exec_test.go
Due: eng/pipelines/release-cli.yml

fix(ai-agents): align template rename integration
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/telemetry_operation_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(ai-agents): repair legacy prompt endpoints
  cli/azd/extensions/azure.ai.agents/internal/cmd/endpoint_show.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/endpoint_show_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/envkey/envkey.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/envkey/envkey_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/prompt_environment_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_prompt.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Update Bicep CLI to v0.48.1 (#10322)
  .github/workflows/lint-bicep.yml
  cli/azd/pkg/tools/bicep/bicep.go
Due: eng/pipelines/release-cli.yml

Standardize toolbox authoring properties to camelCase (#10349)
  cli/azd/extensions/azure.ai.toolboxes/README.md
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/service_target.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/service_target_test.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/testdata/TestAIHelp-connection_add.snap
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/testdata/TestAIHelp-create.snap
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_add.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_add_test.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_commands_test.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_connection_add.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_create.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_files.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_files_test.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_help.go
  cli/azd/extensions/azure.ai.toolboxes/internal/definition/definition.go
  cli/azd/extensions/azure.ai.toolboxes/internal/definition/definition_test.go
  cli/azd/extensions/azure.ai.toolboxes/schemas/azure.ai.toolbox.json
Due: eng/pipelines/release-azd-extension.yml

fix: use GitHub App token for WinGet preparation
  eng/pipelines/templates/steps/publish-cli-winget.yml
Due: none

docs: guide pipeline GitHub authentication
  cli/azd/AGENTS.md
Due: eng/pipelines/release-cli.yml

fix(ai-agents): honor hosted endpoint environment
  cli/azd/extensions/azure.ai.agents/internal/cmd/endpoint_show.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/endpoint_show_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Standardize routine authoring properties to camelCase (#10350)
  cli/azd/extensions/azure.ai.agents/schemas/examples/complex.azure.yaml
  cli/azd/extensions/azure.ai.routines/README.md
  cli/azd/extensions/azure.ai.routines/internal/cmd/routine_manifest.go
  cli/azd/extensions/azure.ai.routines/internal/cmd/routine_manifest_test.go
  cli/azd/extensions/azure.ai.routines/internal/cmd/routine_project_test.go
  cli/azd/extensions/azure.ai.routines/internal/cmd/routine_schema_test.go
  cli/azd/extensions/azure.ai.routines/internal/cmd/service_target.go
  cli/azd/extensions/azure.ai.routines/internal/cmd/service_target_test.go
  cli/azd/extensions/azure.ai.routines/internal/pkg/routines/api_models.go
  cli/azd/extensions/azure.ai.routines/internal/pkg/routines/authoring.go
  cli/azd/extensions/azure.ai.routines/internal/pkg/routines/authoring_test.go
  cli/azd/extensions/azure.ai.routines/internal/pkg/routines/client.go
  cli/azd/extensions/azure.ai.routines/internal/pkg/routines/client_test.go
  cli/azd/extensions/azure.ai.routines/internal/pkg/routines/models.go
  cli/azd/extensions/azure.ai.routines/internal/pkg/routines/models_test.go
  cli/azd/extensions/azure.ai.routines/schemas/azure.ai.routine.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

docs: tighten pipeline GitHub authentication guidance
  cli/azd/AGENTS.md
Due: eng/pipelines/release-cli.yml

docs: clarify pipeline token handling
  cli/azd/AGENTS.md
Due: eng/pipelines/release-cli.yml

Add azure.logicappsstandard extension (#8005)
  .github/workflows/lint-ext-azure-logicappsstandard.yml
  cli/azd/dependency-versions.json
  cli/azd/extensions/azure.logicappsstandard/.golangci.yaml
  cli/azd/extensions/azure.logicappsstandard/CHANGELOG.md
  cli/azd/extensions/azure.logicappsstandard/README.md
  cli/azd/extensions/azure.logicappsstandard/build.ps1
  cli/azd/extensions/azure.logicappsstandard/build.sh
  cli/azd/extensions/azure.logicappsstandard/ci-build.ps1
  cli/azd/extensions/azure.logicappsstandard/ci-test.ps1
  cli/azd/extensions/azure.logicappsstandard/cspell.yaml
  cli/azd/extensions/azure.logicappsstandard/extension.yaml
  cli/azd/extensions/azure.logicappsstandard/go.mod
  cli/azd/extensions/azure.logicappsstandard/go.sum
  cli/azd/extensions/azure.logicappsstandard/internal/cmd/listen.go
  cli/azd/extensions/azure.logicappsstandard/internal/cmd/root.go
  cli/azd/extensions/azure.logicappsstandard/internal/project/framework_service_logicappsstandard.go
  cli/azd/extensions/azure.logicappsstandard/internal/project/framework_service_logicappsstandard_test.go
  cli/azd/extensions/azure.logicappsstandard/internal/version/version.go
  cli/azd/extensions/azure.logicappsstandard/main.go
  cli/azd/extensions/azure.logicappsstandard/version.txt
  eng/pipelines/release-ext-azure-logicappsstandard.yml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Increment CLI version after release (#10363)
  cli/azd/CHANGELOG.md
  cli/azd/pkg/azdext/version.go
  cli/version.txt
Due: eng/pipelines/release-cli.yml

fix(logicapps): align dependencies with core and stabilize lint CI
  .github/workflows/lint-go.yml
  .vscode/cspell.misc.yaml
  cli/azd/dependency-versions.json
  cli/azd/extensions/azure.logicappsstandard/README.md
  cli/azd/extensions/azure.logicappsstandard/go.mod
  cli/azd/extensions/azure.logicappsstandard/go.sum
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

fix(ai-agents): validate endpoint deployment state
  cli/azd/extensions/azure.ai.agents/internal/cmd/delete.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/delete_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/endpoint_show.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/endpoint_show_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/prompt_environment_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_prompt.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Define endpoint behavior by agent kind (#10284)
  cli/azd/extensions/azure.ai.agents/README.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/delete.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/delete_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/endpoint_show.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/endpoint_show_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/prompt_service.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/telemetry_operation_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/testdata/TestAgentHelp-endpoint.snap
  cli/azd/extensions/azure.ai.agents/internal/cmd/testdata/TestAgentHelp-endpoint_show.snap
  cli/azd/extensions/azure.ai.agents/internal/cmd/testdata/TestAgentHelp-endpoint_update.snap
  cli/azd/extensions/azure.ai.agents/internal/cmd/testdata/TestAgentHelp-root.snap
  cli/azd/extensions/azure.ai.agents/internal/cmd/update.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/update_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/envkey/envkey.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/envkey/envkey_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/agent_endpoint_policy.go
  cli/azd/extensions/azure.ai.agents/internal/project/agent_endpoint_policy_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/prompt_client_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/prompt_environment_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_prompt.go
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier0/0.14-endpoint-show-help.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier2/2.11-endpoint-update.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier2/2.16-endpoint-show.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
