Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

[azure.ai.routines] Registry update for 1.0.0-beta.4 (#9462)
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.projects] Registry update for 1.0.0-beta.5 (#9463)
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.inspector] Registry update for 1.0.0-beta.3 (#9464)
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.skills] Registry update for 1.0.0-beta.3 (#9465)
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.routines] Nightly registry update for 1.0.0-beta.4.nightly.6666841
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.toolboxes] Nightly registry update for 1.0.0-beta.5.nightly.6666880
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

Apply adopted agent names only for explicit flag
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

[azure.ai.skills] Nightly registry update for 1.0.0-beta.3.nightly.6666853
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.connections] Registry update for 1.0.0-beta.4
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.toolboxes] Registry update for 1.0.0-beta.5
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.connections] Registry update for 1.0.0-beta.4 (#9466)
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.toolboxes] Registry update for 1.0.0-beta.5 (#9467)
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.agents] Registry update for 1.0.0-beta.9
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

[azure.ai.agents] Registry update for 1.0.0-beta.9 (#9468)
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Expand CODEOWNERS for TestFigSpec.ts
  .github/CODEOWNERS
Due: none

feat: refine Foundry project ownership spec
  docs/specs/azure-ai-project-service-ownership/spec.md
Due: none

Leave generation with the extension that owns eval.yaml
  cli/azd/extensions/azure.ai.dataset/CHANGELOG.md
  cli/azd/extensions/azure.ai.dataset/README.md
  cli/azd/extensions/azure.ai.dataset/extension.yaml
  cli/azd/extensions/azure.ai.dataset/internal/cmd/artifacts.go
  cli/azd/extensions/azure.ai.dataset/internal/cmd/context.go
  cli/azd/extensions/azure.ai.dataset/internal/cmd/dataset.go
  cli/azd/extensions/azure.ai.dataset/internal/cmd/generate.go
  cli/azd/extensions/azure.ai.dataset/internal/cmd/helpers_test.go
  cli/azd/extensions/azure.ai.dataset/internal/cmd/instruction_test.go
  cli/azd/extensions/azure.ai.dataset/internal/cmd/job.go
  cli/azd/extensions/azure.ai.dataset/internal/cmd/root.go
  cli/azd/extensions/azure.ai.dataset/internal/cmd/surface_test.go
  cli/azd/extensions/azure.ai.dataset/internal/pkg/dataset_api/operations.go
  cli/azd/extensions/azure.ai.dataset/internal/pkg/gen_api/errors.go
  cli/azd/extensions/azure.ai.dataset/internal/pkg/gen_api/generation.go
  cli/azd/extensions/azure.ai.dataset/internal/pkg/gen_api/generation_test.go
  cli/azd/extensions/azure.ai.dataset/internal/pkg/gen_api/models.go
  cli/azd/extensions/azure.ai.dataset/internal/pkg/gen_api/models_test.go
  cli/azd/extensions/azure.ai.dataset/internal/pkg/gen_api/operations.go
  cli/azd/extensions/azure.ai.dataset/internal/pkg/gen_api/operations_test.go
  cli/azd/extensions/azure.ai.dataset/internal/pkg/gen_api/poller.go
Due: eng/pipelines/release-azd-extension.yml

Say what went into the catalog, not that something did
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/catalog.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/catalog_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/generate.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/artifacts.go
Due: eng/pipelines/release-azd-extension.yml

Increment CLI version after release (#9450)
  cli/azd/CHANGELOG.md
  cli/azd/pkg/azdext/version.go
  cli/version.txt
Due: eng/pipelines/release-cli.yml

fix(extensions): validate source names
  cli/azd/cmd/extension.go
  cli/azd/cmd/extension_bundle_test.go
  cli/azd/cmd/extension_install_source_test.go
  cli/azd/cmd/extension_source_location_test.go
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-extension-source-add.snap
  cli/azd/docs/extensions/extension-framework.md
  cli/azd/docs/extensions/extension-resolution-and-versioning.md
  cli/azd/pkg/extensions/registry_cache.go
  cli/azd/pkg/extensions/source_manager.go
  cli/azd/pkg/extensions/source_manager_test.go
Due: eng/pipelines/release-cli.yml

fix(extensions): remove nested legacy sources
  cli/azd/pkg/extensions/source_manager.go
  cli/azd/pkg/extensions/source_manager_test.go
Due: eng/pipelines/release-cli.yml

fix(extensions): escape legacy source names
  cli/azd/cmd/extension.go
  cli/azd/cmd/extension_test.go
Due: eng/pipelines/release-cli.yml

fix(extensions): keep repair guidance shell-safe
  cli/azd/pkg/extensions/source_manager.go
  cli/azd/pkg/extensions/source_manager_test.go
Due: eng/pipelines/release-cli.yml

fix(extensions): normalize bundle source boundaries
  cli/azd/cmd/extension.go
  cli/azd/cmd/extension_bundle_test.go
Due: eng/pipelines/release-cli.yml

feat(agents): add initialization_parameters to evaluator YAML config
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_config.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_config_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/opt_eval/yaml.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/opt_eval/yaml_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/optimize_api/models.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Let run find a configuration that init did not put in ./evals
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/context.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/evaldir_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/init.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run_output.go
Due: eng/pipelines/release-azd-extension.yml

fix: prevent Aspire CLI manifest generation hang
  cli/azd/pkg/tools/dotnet/dotnet.go
  cli/azd/pkg/tools/dotnet/dotnet_commands_test.go
Due: eng/pipelines/release-cli.yml

Write down the two files that decide whether this ships
  cli/azd/extensions/azure.ai.dataset/README.md
  cli/azd/extensions/azure.ai.evaluations/README.md
Due: eng/pipelines/release-azd-extension.yml

[microsoft.azd.demo] Nightly registry update for 0.7.2-nightly.6669514
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

Fix Tier 1b scenario prerequisites
  .github/agents/foundry-extension-scenario-orchestrator.agent.md
  .github/skills/foundry-extension-scenario-pr-regression/references/prerequisites.md
  .github/skills/foundry-extension-scenario-pr-regression/references/workflow.md
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/README.md
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/dotnet-sdk.version
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/setup-wsl.sh
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier1/1.03-init-from-azure-yaml-url.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier1/1.04-init-from-code.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier1/1.05-init-flags-agent-name-model.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier1/1.06-init-deploy-mode-code.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier1/1.07-init-deploy-mode-container.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier1b/1b.02-deploy-template-dotnet.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier1b/1b.03-deploy-from-azure-yaml-url.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier1b/1b.04-deploy-from-code.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier1b/1b.05-deploy-flags-agent-name-model.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier1b/1b.06-deploy-deploy-mode-code.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier1b/1b.07-deploy-deploy-mode-container.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Consolidate prompt header rendering and align style guide
  cli/azd/docs/design/provision-validation.md
  cli/azd/docs/style-guidelines/azd-style-guide.md
  cli/azd/pkg/ux/confirm.go
  cli/azd/pkg/ux/confirm_prompt_test.go
  cli/azd/pkg/ux/multi_select.go
  cli/azd/pkg/ux/prompt.go
  cli/azd/pkg/ux/prompt_message.go
  cli/azd/pkg/ux/prompt_message_test.go
  cli/azd/pkg/ux/select.go
Due: eng/pipelines/release-cli.yml

fix: paginate Dependabot PR inventory
  .github/skills/dependabot-consolidation/references/workflow.md
Due: none

Add dependency update flag compatibility
  cli/azd/CHANGELOG.md
  cli/azd/cmd/extension.go
  cli/azd/cmd/extension_test.go
  cli/azd/cmd/extension_upgrade_test.go
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-extension-update.snap
  cli/azd/cmd/tool_test.go
  cli/azd/docs/extensions/extension-framework.md
  cli/azd/pkg/extensions/manager.go
  cli/azd/pkg/extensions/manager_test.go
  cli/azd/pkg/extensions/upgrade_result.go
Due: eng/pipelines/release-cli.yml

test(azure.ai.agents): validate azure.yaml examples in docs (#9368)
  cli/azd/extensions/azure.ai.agents/AGENTS.md
  cli/azd/extensions/azure.ai.agents/README.md
  cli/azd/extensions/azure.ai.agents/docs/private-networking.md
  cli/azd/extensions/azure.ai.agents/go.mod
  cli/azd/extensions/azure.ai.agents/internal/project/doc_examples_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(appservice): bound deployment status inactivity
  cli/azd/docs/environment-variables.md
  cli/azd/internal/cmd/deploy.go
  cli/azd/internal/cmd/service_graph.go
  cli/azd/internal/cmd/up_graph.go
  cli/azd/pkg/azapi/azure_client_linuxwebapp_test.go
  cli/azd/pkg/azapi/webapp.go
  cli/azd/pkg/azsdk/zip_deploy_client.go
  cli/azd/pkg/azsdk/zip_deploy_client_test.go
  cli/azd/pkg/project/service_models.go
  cli/azd/pkg/project/service_target_appservice.go
Due: eng/pipelines/release-cli.yml

fix bicep deployment lookup across projects
  cli/azd/pkg/azapi/standard_deployments.go
  cli/azd/pkg/azapi/standard_deployments_test.go
  cli/azd/pkg/azure/tags.go
  cli/azd/pkg/infra/deployment_manager.go
  cli/azd/pkg/infra/deployment_manager_test.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/infra/provisioning/bicep/deployment_stacks.go
  cli/azd/pkg/infra/provisioning/bicep/project_name.go
  cli/azd/pkg/infra/provisioning/bicep/project_name_test.go
Due: eng/pipelines/release-cli.yml

fix(azure.ai.agents): preserve deployment error classification
  cli/azd/extensions/azure.ai.agents/AGENTS.md
  cli/azd/extensions/azure.ai.agents/internal/exterrors/errors.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/errors_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: preserve hosted agent poll errors
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Validate Teams publish and adopted agent names earlier
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/microsoft365.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/microsoft365_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Avoid shared Teams app artifact destinations
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen_activity.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen_activity_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/pack.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/pack_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml
