Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

[azure.ai.routines] Registry update for 1.0.0-beta.3 (#9198)
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.agents] Registry update for 1.0.0-beta.6 (#9196)
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.toolboxes] Registry update for 1.0.0-beta.3 (#9195)
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

[microsoft.azd.demo] Nightly registry update for 0.7.1-nightly.6581663
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

fix: tighten observation goals for sample-list and optimize
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/00-sample-list-json-filters.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/29-optimize-submit-and-cancel.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: optimize gating check should only accept SubscriptionNotRegistered
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/29-optimize-submit-and-cancel.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Fix azd down --no-prompt hang in CI for Terraform (#4317) (#9143)
  cli/azd/cmd/down.go
  cli/azd/cmd/down_test.go
  cli/azd/cmd/testdata/TestUsage-azd-down.snap
  cli/azd/pkg/infra/provisioning/provider.go
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider.go
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider_test.go
  cli/azd/pkg/tools/terraform/terraform.go
  cli/azd/pkg/tools/terraform/terraform_test.go
Due: eng/pipelines/release-cli.yml

fix merge bug
  cli/azd/cmd/down_test.go
Due: eng/pipelines/release-cli.yml

Adding in a basic vally job that uses all the common features, that we can use as a copy/paste template for any future evaluations.
  .github/actions/vally-eval/action.yml
  .github/workflows/vally.yml
  cli/azd/test/evals/README.md
  cli/azd/test/evals/eval.yaml
  cli/azd/test/evals/fixtures/team-notes.txt
  cli/azd/test/evals/graders/check-summary.ts
  cli/azd/test/evals/package-lock.json
  cli/azd/test/evals/package.json
  cli/azd/test/evals/tsconfig.json
Due: eng/pipelines/release-cli.yml

Address feedback
  .github/skills/azd-code-reviewer/reviewers.md
  cli/azd/AGENTS.md
  cli/azd/docs/recording-functional-tests-guide.md
Due: eng/pipelines/release-cli.yml

Our PR meets the real world: - actionlint doesn't know about copilot_requests yet, so we'll ignore that failure for just our file - apparently description doesn't exist? It's just a comment now
  .github/actionlint.yaml
  .github/workflows/vally.yml
Due: none

vally...so close to valley, but it really is vally. :)
  cli/azd/.vscode/cspell.yaml
Due: eng/pipelines/release-cli.yml

Fix paths and job names.
  .github/workflows/vally-ci.yml
Due: none

Fixing imprecise language!
  cli/azd/test/evals/eval.yaml
Due: eng/pipelines/release-cli.yml

Use the default trifecta.
  .github/workflows/vally-ci.yml
Due: none

feat(telemetry): emit infra.provider on provision, up, and down (#9091)
  .vscode/cspell.misc.yaml
  cli/azd/cmd/down.go
  cli/azd/cmd/down_test.go
  cli/azd/cmd/infra_generate.go
  cli/azd/cmd/infra_generate_test.go
  cli/azd/cmd/telemetry_test.go
  cli/azd/cmd/up.go
  cli/azd/internal/cmd/provision.go
  cli/azd/internal/cmd/up_graph.go
  cli/azd/internal/tracing/fields/fields.go
  cli/azd/pkg/infra/provisioning/manager.go
  cli/azd/pkg/infra/provisioning/manager_test.go
  cli/azd/test/functional/telemetry_test.go
  docs/reference/telemetry-data.md
  docs/specs/metrics-audit/feature-telemetry-matrix.md
  docs/specs/metrics-audit/telemetry-schema.md
Due: eng/pipelines/release-cli.yml

No default for the evals directory - it should always be explicitly configured.
  .github/actions/vally-eval/action.yml
Due: none

Ignore vally-results
  cli/azd/test/evals/.gitignore
Due: eng/pipelines/release-cli.yml

Fix comment by just removing extraneous words.
  cli/azd/test/evals/eval.yaml
Due: eng/pipelines/release-cli.yml

Comment was inaccurate (although the code was okay). The grader input doesn't come in on stdin, it's just a file.
  cli/azd/test/evals/graders/check-summary.ts
Due: eng/pipelines/release-cli.yml

We use MIT licensing in this house.
  cli/azd/test/evals/package-lock.json
  cli/azd/test/evals/package.json
Due: eng/pipelines/release-cli.yml

No testdata, we ended up with everything in fixtures (or graders).
  cli/azd/test/evals/README.md
Due: eng/pipelines/release-cli.yml

Mark our test package as private so it can't be published
  cli/azd/test/evals/package.json
Due: eng/pipelines/release-cli.yml

[azure.ai.rle] Nightly registry update for 0.1.0-preview.nightly.6583858
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.agents] Nightly registry update for 1.0.0-beta.6.nightly.6583863
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.connections] Nightly registry update for 1.0.0-beta.3.nightly.6583866
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.inspector] Nightly registry update for 1.0.0-beta.2.nightly.6583875
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.projects] Nightly registry update for 1.0.0-beta.2.nightly.6583879
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.routines] Nightly registry update for 1.0.0-beta.3.nightly.6583881
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.toolboxes] Nightly registry update for 1.0.0-beta.3.nightly.6583904
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.skills] Nightly registry update for 1.0.0-beta.2.nightly.6583892
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[microsoft.azd.demo] Nightly registry update for 0.7.1-nightly.6584318
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[microsoft.azd.demo] Nightly registry update for 0.7.1-nightly.6585195
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

Handle non-invocable protocols consistently
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/resolver.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/resolver_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/state.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/state_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: detect modern Python agents for code deploy
  cli/azd/extensions/azure.ai.agents/internal/cmd/helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/helpers_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt_deploymode_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Fix activity image manifest test cleanup
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Handle legacy activity protocol in next steps
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/resolver.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/resolver_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/state.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/state_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: resolve PR 9149 merge conflicts
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/resource_services.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/resource_services_test.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/synthesizer.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/synthesizer_test.go
  cli/azd/extensions/azure.ai.projects/internal/provisioning/foundry_provisioning_provider.go
  cli/azd/extensions/azure.ai.projects/internal/provisioning/resource_group_location_check.go
  cli/azd/extensions/azure.ai.projects/internal/synthesis/synthesizer.go
  cli/azd/extensions/azure.ai.projects/internal/synthesis/synthesizer_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml
