Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      demands: ImageOverride -equals windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-azdo-setupazd.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: BuildAndTest
        variables:
        - template: /eng/pipelines/templates/variables/image.yml
        jobs:
        - job: BuildSetupAzd
          displayName: BuildSetupAzd
          variables:
  ...

eng/pipelines/release-azuredevops.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/azuredevops-build-and-test.yml
      - template: /eng/pipelines/templates/stages/azuredevops-sign.yml
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-ai-agents
  ...

eng/pipelines/release-ext-azure-ai-models.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.models
          SanitizedExtensionId: azure-ai-models
  ...

eng/pipelines/release-ext-azure-appservice.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.appservice
          SanitizedExtensionId: azure-appservice
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

[azure.ai.inspector] Nightly registry update for 1.0.0-beta.8.nightly.6888465
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.connections] Nightly registry update for 1.0.0-beta.8.nightly.6888464
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.projects] Nightly registry update for 1.0.0-beta.12.nightly.6888478
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.evaluations] Nightly registry update for 1.0.0-beta.1.nightly.6888466
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.routines] Nightly registry update for 1.0.0-beta.7.nightly.6888479
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.skills] Nightly registry update for 1.0.0-beta.7.nightly.6888481
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.toolboxes] Nightly registry update for 1.0.0-beta.8.nightly.6888495
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.dataset] Nightly registry update for 1.0.0-beta.1.nightly.6888620
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[microsoft.azd.demo] Nightly registry update for 0.8.0-nightly.6888777
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

Release RLE extension 0.8.16-preview as a breaking update
  cli/azd/extensions/azure.ai.rle/artifacts/rle-dev/0.8.16-preview/azure-ai-rle-darwin-amd64.zip
  cli/azd/extensions/azure.ai.rle/artifacts/rle-dev/0.8.16-preview/azure-ai-rle-darwin-arm64.zip
  cli/azd/extensions/azure.ai.rle/artifacts/rle-dev/0.8.16-preview/azure-ai-rle-linux-amd64.tar.gz
  cli/azd/extensions/azure.ai.rle/artifacts/rle-dev/0.8.16-preview/azure-ai-rle-linux-arm64.tar.gz
  cli/azd/extensions/azure.ai.rle/artifacts/rle-dev/0.8.16-preview/azure-ai-rle-windows-amd64.zip
  cli/azd/extensions/azure.ai.rle/artifacts/rle-dev/0.8.16-preview/azure-ai-rle-windows-arm64.zip
  cli/azd/extensions/azure.ai.rle/version.txt
  cli/azd/extensions/registry.rle-dev.json
Due: eng/pipelines/release-azd-extension.yml

Add rle-extension-release skill
  .github/skills/rle-extension-release/SKILL.md
Due: none

Measure learning signal as spread, and name the tools a node called
  cli/azd/extensions/azure.ai.rle/internal/monitor/web/app.js
  cli/azd/extensions/azure.ai.rle/internal/monitor/web/data.mjs
  cli/azd/extensions/azure.ai.rle/internal/monitor/web/styles.css
  cli/azd/extensions/azure.ai.rle/internal/monitor/web_graph_test.mjs
  cli/azd/extensions/azure.ai.rle/internal/monitor/web_run_test.mjs
Due: eng/pipelines/release-azd-extension.yml

Separate rollout execution state from the grader's task verdict
  cli/azd/extensions/azure.ai.rle/internal/monitor/web/app.js
  cli/azd/extensions/azure.ai.rle/internal/monitor/web/data.mjs
  cli/azd/extensions/azure.ai.rle/internal/monitor/web/index.html
  cli/azd/extensions/azure.ai.rle/internal/monitor/web_run_test.mjs
Due: eng/pipelines/release-azd-extension.yml

Show whether each rollout ran, alongside how it scored
  cli/azd/extensions/azure.ai.rle/internal/monitor/execution_state.go
  cli/azd/extensions/azure.ai.rle/internal/monitor/execution_state_test.go
  cli/azd/extensions/azure.ai.rle/internal/monitor/job_index.go
  cli/azd/extensions/azure.ai.rle/internal/monitor/server.go
  cli/azd/extensions/azure.ai.rle/internal/monitor/web/app.js
  cli/azd/extensions/azure.ai.rle/internal/monitor/web/data.mjs
  cli/azd/extensions/azure.ai.rle/internal/monitor/web/index.html
  cli/azd/extensions/azure.ai.rle/internal/monitor/web/styles.css
  cli/azd/extensions/azure.ai.rle/internal/monitor/web_data_test.mjs
Due: eng/pipelines/release-azd-extension.yml

[microsoft.azd.demo] Nightly registry update for 0.8.0-nightly.6889348
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

feat(agents): diagnose project storage permissions in doctor (#10127)
  cli/azd/extensions/azure.ai.agents/README.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_local.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_remote.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_remote_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_storage_rbac.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_storage_rbac_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/storage_rbac_query.go
  cli/azd/extensions/azure.ai.agents/internal/project/storage_rbac_query_test.go
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier0/0.06-doctor-local-only.yaml
  cli/azd/extensions/azure.ai.agents/tests/cli-interactive-tester-scenarios/tier2/2.15-doctor-provisioned-all-pass.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(telemetry): Improve deployment error classification and extension attribution (#10157)
  cli/azd/cmd/middleware/middleware_test.go
  cli/azd/cmd/middleware/ux.go
  cli/azd/internal/cmd/deploy.go
  cli/azd/internal/cmd/deploy_test.go
  cli/azd/internal/cmd/errors.go
  cli/azd/internal/cmd/errors_test.go
  cli/azd/internal/cmd/service_graph.go
  cli/azd/internal/cmd/service_graph_test.go
  cli/azd/internal/cmd/up_graph.go
  cli/azd/internal/tracing/fields/fields.go
  cli/azd/pkg/project/service_target_external.go
  cli/azd/pkg/project/service_target_test.go
  docs/reference/telemetry-data.md
  docs/specs/metrics-audit/feature-telemetry-matrix.md
  docs/specs/metrics-audit/privacy-review-checklist.md
  docs/specs/metrics-audit/telemetry-schema.md
Due: eng/pipelines/release-cli.yml

Route agent API playback through recording proxy
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations.go
  cli/azd/test/functional/ai_agents/ai_agent_recording_test.go
  cli/azd/test/functional/ai_agents/testdata/recordings/Test_AIAgent_Init_NoPrompt_WithProject.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Guard agents playback proxy behavior
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations_test.go
  cli/azd/test/functional/ai_agents/ai_agent_recording_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat(skills): author skill services in azure.yaml (#9638)
  cli/azd/extensions/azure.ai.skills/AGENTS.md
  cli/azd/extensions/azure.ai.skills/README.md
  cli/azd/extensions/azure.ai.skills/extension.yaml
  cli/azd/extensions/azure.ai.skills/go.mod
  cli/azd/extensions/azure.ai.skills/internal/cmd/root.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/service_target.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/service_target_test.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_add.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_add_test.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_create.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_input.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_instructions.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_instructions_test.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_service_config.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_service_config_test.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_update.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_update_test.go
  cli/azd/extensions/azure.ai.skills/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.skills/schemas/azure.ai.skill.json
  schemas/alpha/azure.yaml.json
  schemas/v1.0/azure.yaml.json
Due: eng/pipelines/release-azd-extension.yml

test(ai-agent): remove unrelated sample cassette refresh
  cli/azd/test/functional/ai_agents/testdata/recordings/Test_AIAgent_SampleList_JSON_Recorded.yaml
  cli/azd/test/functional/ai_agents/testdata/recordings/Test_AIAgent_SampleList_Recorded.yaml
Due: eng/pipelines/release-cli.yml

[azure.ai.rle] Nightly registry update for 0.4.0-preview.nightly.6890226
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.agents] Nightly registry update for 1.0.0-beta.17.nightly.6890225
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.inspector] Nightly registry update for 1.0.0-beta.8.nightly.6890317
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.connections] Nightly registry update for 1.0.0-beta.8.nightly.6890293
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.evaluations] Nightly registry update for 1.0.0-beta.1.nightly.6890318
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.projects] Nightly registry update for 1.0.0-beta.12.nightly.6890344
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.routines] Nightly registry update for 1.0.0-beta.7.nightly.6890373
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.toolboxes] Nightly registry update for 1.0.0-beta.8.nightly.6890393
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

fix: keep deploy hook output in beta events
  cli/azd/docs/extensions/contract-versioning.md
  cli/azd/docs/extensions/extension-framework.md
  cli/azd/docs/extensions/extension-sdk-reference.md
  cli/azd/extensions/microsoft.azd.demo/README.md
  cli/azd/extensions/microsoft.azd.demo/internal/cmd/beta_events.go
  cli/azd/extensions/microsoft.azd.demo/internal/cmd/beta_events_test.go
  cli/azd/extensions/microsoft.azd.demo/internal/cmd/listen.go
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/javascript/generated/proto/event_pb.js
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/proto/event.proto
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/python/generated_proto/event_pb2.py
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/resources_test.go
  cli/azd/grpc/README.md
  cli/azd/grpc/proto/azd/extensions/v1/event.proto
  cli/azd/grpc/proto/azd/extensions/v1beta/event.proto
  cli/azd/internal/grpcserver/beta_event_message_envelope.go
  cli/azd/internal/grpcserver/beta_event_message_envelope_test.go
  cli/azd/internal/grpcserver/beta_event_service.go
  cli/azd/internal/grpcserver/beta_event_service_test.go
  cli/azd/internal/grpcserver/event_service.go
  cli/azd/internal/grpcserver/event_service_test.go
  cli/azd/internal/grpcserver/server.go
  cli/azd/pkg/azdext/azd_client.go
  cli/azd/pkg/azdext/azd_client_test.go
  cli/azd/pkg/azdext/contracts/v1/event.pb.go
  cli/azd/pkg/azdext/contracts/v1beta/event.pb.go
  cli/azd/pkg/azdext/contracts/versioning_test.go
  cli/azd/pkg/azdext/contracts_v1_aliases.go
  cli/azd/pkg/azdext/event_manager.go
  cli/azd/pkg/azdext/event_manager_integration_test.go
  cli/azd/pkg/azdext/event_manager_test.go
  cli/azd/pkg/azdext/event_message_envelope.go
  cli/azd/pkg/azdext/event_message_envelope_test.go
  cli/azd/pkg/azdext/event_output.go
  cli/azd/pkg/azdext/event_output_test.go
  docs/architecture/extension-framework.md
  docs/guides/creating-an-extension.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

[azure.ai.dataset] Nightly registry update for 1.0.0-beta.1.nightly.6891107
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

Fix AI agents Tier 1 playback for projects extension (#10189)
  .github/workflows/test-ext-azure-ai-agents.yml
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations_test.go
  cli/azd/test/functional/ai_agents/ai_agent_recording_test.go
  cli/azd/test/functional/ai_agents/testdata/recordings/Test_AIAgent_Init_NoPrompt_WithProject.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): route local Activity clients by protocol version
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/run.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/run_activity.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/run_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(ai-agent): harden unified init routing
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_reuse_project_agent.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_reuse_project_agent_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_voice_flag_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(ai-agent): complete unified init merge cleanup
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Allocate telemetry dedup storage without a payload container literal
  cli/azd/extensions/azure.ai.agents/internal/cmd/telemetry_operation.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Deduplicate telemetry by bounded names before constructing payloads
  cli/azd/extensions/azure.ai.agents/internal/cmd/telemetry_operation.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/telemetry_operation_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

test(ai-agent): refresh sample catalog recordings
  cli/azd/test/functional/ai_agents/testdata/recordings/Test_AIAgent_SampleList_JSON_Recorded.yaml
  cli/azd/test/functional/ai_agents/testdata/recordings/Test_AIAgent_SampleList_Recorded.yaml
Due: eng/pipelines/release-cli.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
