Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      demands: ImageOverride -equals windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-azdo-setupazd.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: BuildAndTest
        variables:
        - template: /eng/pipelines/templates/variables/image.yml
        jobs:
        - job: BuildSetupAzd
          displayName: BuildSetupAzd
          variables:
  ...

eng/pipelines/release-azuredevops.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/azuredevops-build-and-test.yml
      - template: /eng/pipelines/templates/stages/azuredevops-sign.yml
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-ai-agents
  ...

eng/pipelines/release-ext-azure-ai-models.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.models
          SanitizedExtensionId: azure-ai-models
  ...

eng/pipelines/release-ext-azure-appservice.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.appservice
          SanitizedExtensionId: azure-appservice
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

Add job name to destination path to avoid overriding user's files
  cli/azd/extensions/azure.ai.customtraining/internal/cmd/job_download.go
Due: eng/pipelines/release-azd-extension.yml

fix(azure.ai.customtraining): honor --subscription and --project-endpoint flags over stored env values
  cli/azd/extensions/azure.ai.customtraining/internal/cmd/validation.go
  cli/azd/extensions/azure.ai.customtraining/internal/cmd/validation_test.go
Due: eng/pipelines/release-azd-extension.yml

fix(azure.ai.customtraining): honor --subscription and --project-endpoint flags over stored env values (#8093)
  cli/azd/extensions/azure.ai.customtraining/internal/cmd/validation.go
  cli/azd/extensions/azure.ai.customtraining/internal/cmd/validation_test.go
Due: eng/pipelines/release-azd-extension.yml

feat(ai-agents): align doctor command with #7975 design (JSON, exit codes, flags)
  cli/azd/extensions/azure.ai.agents/cspell.yaml
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Extract formatBytes to a common util and reuse
  cli/azd/extensions/azure.ai.customtraining/internal/azcopy/runner.go
  cli/azd/extensions/azure.ai.customtraining/internal/cmd/job_download.go
  cli/azd/extensions/azure.ai.customtraining/internal/utils/output.go
Due: eng/pipelines/release-azd-extension.yml

Use temp file + rename so interrupted downloads don't leave corrupt files
  cli/azd/extensions/azure.ai.customtraining/internal/download/download.go
Due: eng/pipelines/release-azd-extension.yml

Validate the resolved path stays under destDir
  cli/azd/extensions/azure.ai.customtraining/internal/download/download.go
Due: eng/pipelines/release-azd-extension.yml

Fix retry logic
  cli/azd/extensions/azure.ai.customtraining/internal/download/download.go
Due: eng/pipelines/release-azd-extension.yml

Add tests
  cli/azd/extensions/azure.ai.customtraining/internal/cmd/job_download.go
  cli/azd/extensions/azure.ai.customtraining/internal/cmd/job_download_test.go
  cli/azd/extensions/azure.ai.customtraining/internal/download/download.go
  cli/azd/extensions/azure.ai.customtraining/internal/download/download_test.go
Due: eng/pipelines/release-azd-extension.yml

Promote custom model commands to top-level and add new flags
  cli/azd/extensions/azure.ai.models/CHANGELOG.md
  cli/azd/extensions/azure.ai.models/extension.yaml
  cli/azd/extensions/azure.ai.models/internal/client/foundry_client.go
  cli/azd/extensions/azure.ai.models/internal/cmd/custom.go
  cli/azd/extensions/azure.ai.models/internal/cmd/custom_create.go
  cli/azd/extensions/azure.ai.models/internal/cmd/custom_list.go
  cli/azd/extensions/azure.ai.models/internal/cmd/custom_show.go
  cli/azd/extensions/azure.ai.models/internal/cmd/root.go
  cli/azd/extensions/azure.ai.models/pkg/models/custom_model.go
  cli/azd/extensions/azure.ai.models/pkg/models/register_model.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-models.yml

Address PR #8060 review feedback on extension docs
  cli/azd/docs/extensions/extension-framework.md
  cli/azd/docs/extensions/extension-resolution-and-versioning.md
Due: eng/pipelines/release-cli.yml

fix: update tool IDs and copilot definitions for current extension status (#8069)
  cli/azd/pkg/tool/detector_test.go
  cli/azd/pkg/tool/manager_test.go
  cli/azd/pkg/tool/manifest.go
  cli/azd/pkg/tool/manifest_test.go
  cli/azd/pkg/tool/platform_test.go
Due: eng/pipelines/release-cli.yml

Fix PollOperation auth: use ai.azure.com scope instead of ml.azure.com
  cli/azd/extensions/azure.ai.models/internal/client/foundry_client.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-models.yml

Alphabetize
  cli/azd/.vscode/cspell.yaml
Due: eng/pipelines/release-cli.yml

Fix for session persistence
  cli/azd/extensions/azure.ai.agents/internal/cmd/show.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Add version to agent endpoint
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

PR comments
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat(azure.ai.agents): show featured templates first in agent init (#8073)
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_templates_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_templates_helpers_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Fixing cspell YET AGAIN
  cli/azd/.vscode/cspell.yaml
Due: eng/pipelines/release-cli.yml

Address human review feedback
  cli/azd/magefile.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/local_preflight.go
  cli/azd/pkg/output/ux/preflight_report_test.go
  cli/azd/test/functional/preflight_quota_test.go
Due: eng/pipelines/release-cli.yml

Changelog update
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat(tool): implement version providers for tool update checks (#8070)
  cli/azd/cmd/container.go
  cli/azd/cmd/middleware/tool_update_check_test.go
  cli/azd/pkg/tool/manager_test.go
  cli/azd/pkg/tool/update_checker.go
  cli/azd/pkg/tool/update_checker_test.go
  cli/azd/pkg/tool/version_provider.go
  cli/azd/pkg/tool/version_provider_test.go
Due: eng/pipelines/release-cli.yml

fix: resolve cspell and go-fix preflight failures
  cli/azd/.vscode/cspell.yaml
  cli/azd/pkg/tool/version_provider.go
Due: eng/pipelines/release-cli.yml

fix: address PR review feedback on version providers
  cli/azd/pkg/tool/manifest.go
  cli/azd/pkg/tool/version_provider.go
  cli/azd/pkg/tool/version_provider_test.go
Due: eng/pipelines/release-cli.yml

feat: update ext list to hybrid UX with 4-breakpoint responsive layout
  cli/azd/cmd/extension.go
  cli/azd/cmd/extension_test.go
  cli/azd/go.mod
  cli/azd/pkg/output/pretty_table.go
  cli/azd/pkg/output/pretty_table_test.go
Due: eng/pipelines/release-cli.yml

Fix 8 code review findings for pretty table formatter
  cli/azd/cmd/extension.go
  cli/azd/cmd/extension_test.go
  cli/azd/pkg/output/pretty_table.go
  cli/azd/pkg/output/pretty_table_test.go
Due: eng/pipelines/release-cli.yml

fix: use display width for column alignment in pretty table
  cli/azd/go.mod
  cli/azd/pkg/output/pretty_table.go
  cli/azd/pkg/output/pretty_table_test.go
Due: eng/pipelines/release-cli.yml

Keep extension init capabilities in sync
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/init.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/init_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

fix: add cspell overrides for Incompat and runewidth
  cli/azd/.vscode/cspell.yaml
Due: eng/pipelines/release-cli.yml

use pre pacakge coverage check
  cli/azd/AGENTS.md
  cli/azd/docs/code-coverage-guide.md
  cli/azd/magefile.go
  eng/pipelines/templates/stages/code-coverage-upload.yml
  eng/scripts/Get-CoverageDiff.Tests.ps1
  eng/scripts/Get-CoverageDiff.ps1
Due: eng/pipelines/release-cli.yml

Update scaffolding
  cli/azd/extensions/extension.schema.json
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/init.go
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/go/go.mod.tmpl
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/go/go.sum
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/go/internal/cmd/listen.go.tmpl
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/go/internal/cmd/metadata.go.tmpl
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/go/internal/cmd/root.go.tmpl
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/go/internal/cmd/version.go.tmpl
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/go/main.go.tmpl
  cli/azd/extensions/registry.schema.json
  cli/azd/internal/grpcserver/framework_service.go
  docs/architecture/extension-framework.md
  docs/concepts/glossary.md
  docs/guides/creating-an-extension.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

Update import paths
  cli/azd/extensions/azure.ai.agents/internal/agents/cmd/agent_context.go
  cli/azd/extensions/azure.ai.agents/internal/agents/cmd/agent_endpoint.go
  cli/azd/extensions/azure.ai.agents/internal/agents/cmd/agent_endpoint_test.go
  cli/azd/extensions/azure.ai.agents/internal/agents/cmd/banner.go
  cli/azd/extensions/azure.ai.agents/internal/agents/cmd/files.go
  cli/azd/extensions/azure.ai.agents/internal/agents/cmd/files_test.go
  cli/azd/extensions/azure.ai.agents/internal/agents/cmd/helpers.go
  cli/azd/extensions/azure.ai.agents/internal/agents/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/agents/cmd/init_foundry_resources_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/agents/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/agents/cmd/init_from_code_test.go
  cli/azd/extensions/azure.ai.agents/internal/agents/cmd/init_from_templates_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/agents/cmd/init_locations.go
  cli/azd/extensions/azure.ai.agents/internal/agents/cmd/init_locations_test.go
  cli/azd/extensions/azure.ai.agents/internal/agents/cmd/init_models.go
  cli/azd/extensions/azure.ai.agents/internal/agents/cmd/init_models_test.go
  cli/azd/extensions/azure.ai.agents/internal/agents/cmd/init_test.go
  cli/azd/extensions/azure.ai.agents/internal/agents/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/agents/cmd/invoke_test.go
  cli/azd/extensions/azure.ai.agents/internal/agents/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/agents/cmd/listen_test.go
  cli/azd/extensions/azure.ai.agents/internal/agents/cmd/mcp.go
  cli/azd/extensions/azure.ai.agents/internal/agents/cmd/monitor.go
  cli/azd/extensions/azure.ai.agents/internal/agents/cmd/session.go
  cli/azd/extensions/azure.ai.agents/internal/agents/cmd/session_test.go
  cli/azd/extensions/azure.ai.agents/internal/agents/cmd/show.go
  cli/azd/extensions/azure.ai.agents/internal/agents/cmd/show_test.go
  cli/azd/extensions/azure.ai.agents/internal/agents/cmd/version.go
  cli/azd/extensions/azure.ai.agents/internal/agents/pkg/agents/agent_api/operations.go
  cli/azd/extensions/azure.ai.agents/internal/agents/pkg/agents/agent_yaml/map.go
  cli/azd/extensions/azure.ai.agents/internal/agents/pkg/agents/agent_yaml/map_test.go
  cli/azd/extensions/azure.ai.agents/internal/agents/pkg/agents/agent_yaml/parse.go
  cli/azd/extensions/azure.ai.agents/internal/agents/pkg/agents/agent_yaml/parse_test.go
  cli/azd/extensions/azure.ai.agents/internal/agents/pkg/azure/client_options.go
  cli/azd/extensions/azure.ai.agents/internal/agents/pkg/azure/foundry_projects_client.go
  cli/azd/extensions/azure.ai.agents/internal/agents/pkg/azure/foundry_toolsets_client.go
  cli/azd/extensions/azure.ai.agents/internal/agents/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/agents/project/service_target_agent_test.go
  cli/azd/extensions/azure.ai.agents/main.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: address PR review feedback - guard empty columns, fix comments, import order
  cli/azd/cmd/extension.go
  cli/azd/cmd/extension_test.go
  cli/azd/pkg/output/pretty_table.go
Due: eng/pipelines/release-cli.yml

fix: apply go fix modernizations
  cli/azd/pkg/output/pretty_table.go
  cli/azd/pkg/output/pretty_table_test.go
Due: eng/pipelines/release-cli.yml

fix: apply go fix modernization for min/max chaining
  cli/azd/pkg/output/pretty_table.go
Due: eng/pipelines/release-cli.yml

Add weekly-demo-video and weekly-report skills
  .github/skills/weekly-demo-video/SKILL.md
  .github/skills/weekly-demo-video/references/CONVENTIONS.md
  .github/skills/weekly-report/SKILL.md
  .github/skills/weekly-report/references/SECTION-RULES.md
  .github/skills/weekly-report/references/TONE-RULES.md
Due: none

Remove TONE-RULES.md and its reference
  .github/skills/weekly-report/SKILL.md
  .github/skills/weekly-report/references/TONE-RULES.md
Due: none

Address all review feedback
  .github/skills/weekly-demo-video/SKILL.md
  .github/skills/weekly-report/SKILL.md
Due: none

Migrate extension tooling to azdext runtime
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/build.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/init.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/pack.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/publish.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/release.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/root.go
  cli/azd/extensions/microsoft.azd.extensions/internal/github/github.go
  cli/azd/extensions/microsoft.azd.extensions/internal/models/extension_schema.go
  cli/azd/extensions/microsoft.azd.extensions/internal/models/extension_schema_coverage_test.go
  cli/azd/extensions/microsoft.azd.extensions/internal/user_friendly_error.go
  cli/azd/extensions/microsoft.azd.extensions/internal/user_friendly_error_test.go
  cli/azd/extensions/microsoft.azd.extensions/main.go
  cli/azd/pkg/azdext/extension_command.go
  cli/azd/pkg/azdext/extension_commands_test.go
  cli/azd/pkg/azdext/metadata_generator.go
  cli/azd/pkg/azdext/metadata_generator_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
