Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

feat(azure.ai.connections): migrate connection commands from azure.ai.agents (#8357)
  cli/azd/extensions/azure.ai.agents/internal/cmd/root.go
  cli/azd/extensions/azure.ai.agents/internal/connections/cmd/root.go
  cli/azd/extensions/azure.ai.connections/.golangci.yaml
  cli/azd/extensions/azure.ai.connections/AGENTS.md
  cli/azd/extensions/azure.ai.connections/build.ps1
  cli/azd/extensions/azure.ai.connections/build.sh
  cli/azd/extensions/azure.ai.connections/cspell.yaml
  cli/azd/extensions/azure.ai.connections/go.mod
  cli/azd/extensions/azure.ai.connections/go.sum
  cli/azd/extensions/azure.ai.connections/internal/cmd/connection.go
  cli/azd/extensions/azure.ai.connections/internal/cmd/connection_context.go
  cli/azd/extensions/azure.ai.connections/internal/cmd/connection_test.go
  cli/azd/extensions/azure.ai.connections/internal/cmd/endpoint.go
  cli/azd/extensions/azure.ai.connections/internal/cmd/raw_connection.go
  cli/azd/extensions/azure.ai.connections/internal/cmd/root.go
  cli/azd/extensions/azure.ai.connections/internal/cmd/version.go
  cli/azd/extensions/azure.ai.connections/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.connections/internal/exterrors/errors.go
  cli/azd/extensions/azure.ai.connections/internal/foundry/projectctx/resolver.go
  cli/azd/extensions/azure.ai.connections/internal/foundry/projectctx/resolver_test.go
  cli/azd/extensions/azure.ai.connections/internal/foundry/projectctx/store.go
  cli/azd/extensions/azure.ai.connections/internal/foundry/projectctx/store_test.go
  cli/azd/extensions/azure.ai.connections/internal/foundry/projectctx/types.go
  cli/azd/extensions/azure.ai.connections/internal/foundry/projectctx/validator.go
  cli/azd/extensions/azure.ai.connections/internal/foundry/projectctx/validator_test.go
  cli/azd/extensions/azure.ai.connections/internal/pkg/connections/data_client.go
  cli/azd/extensions/azure.ai.connections/internal/pkg/connections/models.go
  cli/azd/extensions/azure.ai.connections/internal/pkg/connections/models_test.go
  cli/azd/extensions/azure.ai.connections/internal/version/version.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Add lint and release yamls
  .github/workflows/lint-ext-azure-ai-docs.yml
  eng/pipelines/release-ext-azure-ai-docs.yml
Due: none

fix(hooks): restore lifecycle hook output visibility during azd up (#8263)
  cli/azd/internal/cmd/up_graph.go
  cli/azd/pkg/input/console_test.go
Due: eng/pipelines/release-cli.yml

Lint fixes
  cli/azd/extensions/azure.ai.docs/internal/cmd/doc_catalog.go
  cli/azd/extensions/azure.ai.docs/internal/cmd/skill_install.go
  cli/azd/extensions/azure.ai.docs/internal/cmd/skill_install_test.go
  cli/azd/extensions/azure.ai.docs/internal/helpformat/helpformat_test.go
Due: eng/pipelines/release-azd-extension.yml

More lint issues. Why weren't these raised before?
  cli/azd/extensions/azure.ai.docs/internal/cmd/skill_install_test.go
Due: eng/pipelines/release-azd-extension.yml

fix: use closingIssuesReferences API for duplicate detection
  .github/skills/link-pr-issue/references/workflow.md
Due: none

fix: address Copilot review feedback (iteration 2)
  .github/skills/link-pr-issue/references/workflow.md
Due: none

fix: split confirmation into pre-create and post-create steps
  .github/skills/link-pr-issue/SKILL.md
  .github/skills/link-pr-issue/references/workflow.md
Due: none

fix: address Copilot review feedback (iteration 4)
  .github/skills/link-pr-issue/references/workflow.md
Due: none

merge fix
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: use GraphQL variables in closingIssuesReferences query
  .github/skills/link-pr-issue/references/workflow.md
Due: none

Add `raw` output value to azd ai agent invoke (#8353) (#8406)
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_raw.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_raw_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Add --reset flag to azd auth login to clear stale auth cache
  cli/azd/cmd/auth_login.go
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-auth-login.snap
  cli/azd/pkg/auth/manager.go
  cli/azd/pkg/auth/manager_coverage_test.go
Due: eng/pipelines/release-cli.yml

Add authentication documentation for azd auth login
  cli/azd/docs/authentication.md
Due: eng/pipelines/release-cli.yml

linter
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: address Copilot review feedback (iteration 1)
  cli/azd/cmd/auth_login.go
  cli/azd/pkg/auth/manager.go
  cli/azd/pkg/auth/manager_coverage_test.go
Due: eng/pipelines/release-cli.yml

fix: update command syntax for installing skills in init pre-flow and tests
  cli/azd/extensions/azure.ai.agents/internal/cmd/ext_lookup.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/ext_lookup_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_preflow.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

ai.docs: add curated Commands section for install command in documentation
  cli/azd/extensions/azure.ai.docs/internal/cmd/doc_renderer.go
  cli/azd/extensions/azure.ai.docs/internal/cmd/doc_renderer_test.go
  cli/azd/extensions/azure.ai.docs/internal/cmd/help_styling_test.go
  cli/azd/extensions/azure.ai.docs/internal/cmd/install.go
Due: eng/pipelines/release-azd-extension.yml

feat(help): add custom help output for agents with sections on getting started, environment variables, and documentation
  cli/azd/extensions/azure.ai.agents/internal/cmd/help_output.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/help_output_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_preflow.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/root.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: remove hardcoded code deploy region restriction, use dynamic hosted-agent regions
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_foundry_resources_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/project/config.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat: replace shell script lint with forbidigo linter for test stdout detection
  cli/azd/.golangci.yaml
  cli/azd/.vscode/cspell.yaml
  cli/azd/AGENTS.md
  eng/scripts/test-stdout-check.sh
Due: eng/pipelines/release-cli.yml

fix: truncate progress widget lines to terminal width on narrow terminals (#8402)
  cli/azd/.vscode/cspell.yaml
  cli/azd/internal/agent/copilot_agent.go
  cli/azd/pkg/ux/formatting_test.go
  cli/azd/pkg/ux/printer.go
  cli/azd/pkg/ux/spinner.go
  cli/azd/pkg/ux/task_list.go
  cli/azd/pkg/ux/ux.go
  cli/azd/pkg/ux/ux_test.go
Due: eng/pipelines/release-cli.yml

fix: use typed sentinel error for flag conflict
  cli/azd/cmd/auth_login.go
Due: eng/pipelines/release-cli.yml

fix: remove extra shift in --no-telemetry flag parsing in install-azd.sh
  cli/installer/install-azd.sh
Due: eng/pipelines/release-cli.yml

fix: address Copilot review feedback (iteration 1)
  cli/installer/install-azd.sh
Due: eng/pipelines/release-cli.yml

fix(azure.ai.connections): emit empty credentials for managed-connector OAuth2
  cli/azd/extensions/azure.ai.connections/internal/cmd/connection.go
  cli/azd/extensions/azure.ai.connections/internal/cmd/connection_test.go
Due: eng/pipelines/release-azd-extension.yml

feat(agents): opinionated defaults for azd ai agent init -m
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_models.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

test(azure.ai.connections): add regression guard for OAuth2 credentials decision
  cli/azd/extensions/azure.ai.connections/internal/cmd/connection.go
  cli/azd/extensions/azure.ai.connections/internal/cmd/connection_test.go
  cli/azd/extensions/azure.ai.connections/internal/cmd/raw_connection.go
Due: eng/pipelines/release-azd-extension.yml

fix: add output for model confirm and version in deployment auto-select
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_models.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: skip no-match prompt for -m, add precedence doc, rename test
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_models.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat(azure.ai.toolboxes): accept policies.rai_config in toolbox create --from-file
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_commands_test.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_create.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_files.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_files_test.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_help.go
  cli/azd/extensions/azure.ai.toolboxes/internal/pkg/azure/foundry_toolsets_client.go
Due: eng/pipelines/release-azd-extension.yml

fix: add output for no-match deploy-new, clarify container settings scope
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_models.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat(azure.ai.toolboxes): accept raw tools[] in toolbox create --from-file
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/context.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_commands_test.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_create.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_files.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_files_test.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_help.go
  cli/azd/extensions/azure.ai.toolboxes/internal/exterrors/codes.go
Due: eng/pipelines/release-azd-extension.yml

fix: handle context cancellation in region fetch
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_foundry_resources_helpers.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

chore(azure.ai.toolboxes): allowlist 'connectionless' in cspell
  cli/azd/extensions/azure.ai.toolboxes/cspell.yaml
Due: eng/pipelines/release-azd-extension.yml

fix(toolboxes): drop 'v1' framing and batch input on mutation verbs
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_commands_test.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_connection_remove.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_files.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_skill.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_skill_add.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_skill_remove.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_skill_verbs_test.go
Due: eng/pipelines/release-azd-extension.yml

fix(toolboxes): stop auto-promoting default version; rename update -> publish
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/root.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_commands_test.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_connection_add.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_connection_remove.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_create.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_delete.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_help.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_publish.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_skill_add.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_skill_remove.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_skill_verbs_test.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_update.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_version_list.go
  cli/azd/extensions/azure.ai.toolboxes/internal/exterrors/codes.go
Due: eng/pipelines/release-azd-extension.yml

fix(azure.ai.toolboxes): carry forward policies on connection add/remove and tighten name validation
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_commands_test.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_connection_add.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_connection_remove.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_create.go
Due: eng/pipelines/release-azd-extension.yml

more feedbacks
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_config.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_config_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_prompts.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_prompts_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_status.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/optimize_api/models.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

revert(toolboxes): keep toolbox update --default-version instead of rename to publish
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/root.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_commands_test.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_connection.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_connection_add.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_connection_remove.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_create.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_delete.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_publish.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_skill_add.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_skill_group.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_skill_remove.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_update.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_version_list.go
  cli/azd/extensions/azure.ai.toolboxes/internal/exterrors/codes.go
Due: eng/pipelines/release-azd-extension.yml
