Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

[azure.ai.rle] Nightly registry update for 0.3.0-preview.nightly.6685046
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.agents] Nightly registry update for 1.0.0-beta.9.nightly.6685056
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.connections] Nightly registry update for 1.0.0-beta.4.nightly.6685062
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.inspector] Nightly registry update for 1.0.0-beta.3.nightly.6685072
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.routines] Nightly registry update for 1.0.0-beta.4.nightly.6685125
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.projects] Nightly registry update for 1.0.0-beta.5.nightly.6685107
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.skills] Nightly registry update for 1.0.0-beta.3.nightly.6685127
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.toolboxes] Nightly registry update for 1.0.0-beta.5.nightly.6685146
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

test(infra): exercise Terraform parameter guard
  cli/azd/pkg/infra/provisioning/bicep/layer_deps_test.go
Due: eng/pipelines/release-cli.yml

fix: finalize Foundry project ownership delegation
  cli/azd/extensions/azure.ai.agents/README.md
  cli/azd/extensions/azure.ai.agents/docs/infrastructure-eject.md
  cli/azd/extensions/azure.ai.agents/docs/private-networking.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/delegated_project.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_foundry_resources_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_infra_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/resource_services.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/resource_services_test.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/delegated_contract.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_deployment.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_deployment_add.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_environment.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_infra_layers.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_init.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_ownership_test.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_service_reconciler.go
  cli/azd/extensions/azure.ai.projects/internal/exterrors/codes.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: harden Foundry infrastructure planning
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_infra_layers.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_ownership_test.go
Due: eng/pipelines/release-azd-extension.yml

fix: route Projects recording traffic through proxy
  .github/workflows/test-ext-azure-ai-agents.yml
  cli/azd/extensions/azure.ai.projects/internal/azure/client_options.go
  cli/azd/extensions/azure.ai.projects/internal/azure/client_options_test.go
  cli/azd/extensions/azure.ai.projects/internal/pkg/recordproxy/transport.go
  cli/azd/extensions/azure.ai.projects/internal/pkg/recordproxy/transport_record.go
  cli/azd/test/functional/ai_agents/testdata/recordings/Test_AIAgent_Init_NoPrompt_WithProject.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Expand CODEOWNERS for TestFigSpec.ts (#9470)
  .github/CODEOWNERS
Due: none

Carry the dataset fixes into this extension's own copy of those commands
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/dataset.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/dataset_source_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/evalref.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/evalref_order_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/init.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/names.go
  cli/azd/extensions/azure.ai.evaluations/internal/messages/messages.go
Due: eng/pipelines/release-azd-extension.yml

Address feedback
  cli/azd/docs/extensions/extension-framework.md
  cli/azd/extensions/microsoft.azd.extensions/CHANGELOG.md
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/init.go
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/go/README.md.tmpl
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/resources_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

Address feedback
  cli/azd/docs/extensions/extension-framework.md
  cli/azd/extensions/microsoft.azd.extensions/CHANGELOG.md
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/init.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/init_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

Stop a concurrent reader from seeing a config that lost its evals
  cli/azd/extensions/azure.ai.evaluations/extension.yaml
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/dataset.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/dataset_version_probe_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/gating_nowait_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/generate.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/surface_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/messages/messages.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/eval_config_atomic_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/eval_config_store.go
  cli/azd/extensions/azure.ai.evaluations/version.txt
Due: eng/pipelines/release-azd-extension.yml

Probe the version a create actually publishes
  cli/azd/extensions/azure.ai.dataset/extension.yaml
  cli/azd/extensions/azure.ai.dataset/internal/cmd/dataset.go
  cli/azd/extensions/azure.ai.dataset/internal/cmd/dataset_version_probe_test.go
  cli/azd/extensions/azure.ai.dataset/version.txt
Due: eng/pipelines/release-azd-extension.yml

feat(extensions): classify source telemetry
  cli/azd/cmd/extension.go
  cli/azd/cmd/extension_bundle_test.go
  cli/azd/cmd/extension_test.go
  cli/azd/cmd/extension_upgrade_test.go
  cli/azd/cmd/middleware/telemetry.go
  cli/azd/cmd/middleware/telemetry_test.go
  cli/azd/cmd/telemetry_test.go
  cli/azd/docs/extensions/extension-resolution-and-versioning.md
  cli/azd/docs/tracing-in-azd.md
  cli/azd/internal/tracing/fields/fields.go
  cli/azd/pkg/extensions/extension.go
  cli/azd/pkg/extensions/manager.go
  cli/azd/pkg/extensions/manager_test.go
  cli/azd/pkg/extensions/registry.go
  cli/azd/pkg/extensions/source.go
  cli/azd/pkg/extensions/source_category.go
  cli/azd/pkg/extensions/source_category_test.go
  cli/azd/pkg/extensions/source_manager.go
  cli/azd/pkg/extensions/source_test.go
  cli/azd/pkg/extensions/upgrade_result.go
  docs/reference/telemetry-data.md
  docs/specs/metrics-audit/feature-telemetry-matrix.md
  docs/specs/metrics-audit/telemetry-schema.md
Due: eng/pipelines/release-cli.yml

Authenticate npmrc for release (#9523)
  eng/pipelines/templates/stages/azuredevops-publish-manual.yml
Due: none

test(extensions): expand telemetry command coverage
  cli/azd/cmd/extension_upgrade_test.go
  cli/azd/cmd/middleware/extension_activator_test.go
  cli/azd/cmd/middleware/telemetry_test.go
Due: eng/pipelines/release-cli.yml

Ask which evaluators to grade with
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/init.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/init_evaluators.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/init_evaluators_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/init_rubric_choice_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/messages/messages.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/eval_config_store.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/service_config_strict_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/service_target_eval.go
Due: eng/pipelines/release-azd-extension.yml

[microsoft.azd.demo] Nightly registry update for 0.7.2-nightly.6687599
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

Prepare `azd x` Go scaffolding for extension framework GA and release v0.13.0 (#9521)
  cli/azd/.vscode/cspell.yaml
  cli/azd/docs/extensions/extension-framework.md
  cli/azd/extensions/microsoft.azd.extensions/.gitattributes
  cli/azd/extensions/microsoft.azd.extensions/CHANGELOG.md
  cli/azd/extensions/microsoft.azd.extensions/extension.yaml
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/init.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/init_test.go
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/go/CHANGELOG.md
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/go/CHANGELOG.md.tmpl
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/go/README.md
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/go/README.md.tmpl
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/go/go.mod.tmpl
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/go/go.sum
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/go/internal/cmd/listen.go.tmpl
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/go/internal/cmd/prompt.go.tmpl
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/resources_test.go
  cli/azd/extensions/microsoft.azd.extensions/version.txt
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

feat(extensions): classify source telemetry (#9452)
  cli/azd/cmd/extension.go
  cli/azd/cmd/extension_bundle_test.go
  cli/azd/cmd/extension_test.go
  cli/azd/cmd/extension_upgrade_test.go
  cli/azd/cmd/middleware/extension_activator_test.go
  cli/azd/cmd/middleware/telemetry.go
  cli/azd/cmd/middleware/telemetry_test.go
  cli/azd/cmd/telemetry_test.go
  cli/azd/docs/extensions/extension-resolution-and-versioning.md
  cli/azd/docs/tracing-in-azd.md
  cli/azd/internal/tracing/fields/fields.go
  cli/azd/pkg/extensions/extension.go
  cli/azd/pkg/extensions/manager.go
  cli/azd/pkg/extensions/manager_test.go
  cli/azd/pkg/extensions/registry.go
  cli/azd/pkg/extensions/source.go
  cli/azd/pkg/extensions/source_category.go
  cli/azd/pkg/extensions/source_category_test.go
  cli/azd/pkg/extensions/source_manager.go
  cli/azd/pkg/extensions/source_test.go
  cli/azd/pkg/extensions/upgrade_result.go
  docs/reference/telemetry-data.md
  docs/specs/metrics-audit/feature-telemetry-matrix.md
  docs/specs/metrics-audit/telemetry-schema.md
Due: eng/pipelines/release-cli.yml

fix(extensions): polish auto-install output
  cli/azd/cmd/auto_install_ux.go
  cli/azd/cmd/auto_install_ux_test.go
  cli/azd/pkg/input/console.go
  cli/azd/pkg/input/console_ux.go
  cli/azd/pkg/input/console_ux_test.go
Due: eng/pipelines/release-cli.yml

fix(extensions): clarify manual source choices
  cli/azd/cmd/auto_install_ux.go
  cli/azd/cmd/auto_install_ux_test.go
Due: eng/pipelines/release-cli.yml

feat(extensions): redesign auto-install UX
  cli/azd/cmd/auto_install.go
  cli/azd/cmd/auto_install_test.go
  cli/azd/cmd/auto_install_ux.go
  cli/azd/cmd/auto_install_ux_test.go
  cli/azd/cmd/project_extension_auto_install.go
  cli/azd/docs/extensions/extension-resolution-and-versioning.md
Due: eng/pipelines/release-cli.yml

fix(extensions): clarify selected install sources
  cli/azd/cmd/auto_install.go
  cli/azd/cmd/auto_install_test.go
  cli/azd/cmd/auto_install_ux.go
  cli/azd/cmd/auto_install_ux_test.go
Due: eng/pipelines/release-cli.yml

fix(extensions): simplify manual install guidance
  cli/azd/cmd/auto_install_ux.go
  cli/azd/cmd/auto_install_ux_test.go
Due: eng/pipelines/release-cli.yml

fix(extensions): streamline required extension summary
  cli/azd/cmd/auto_install_ux.go
  cli/azd/cmd/auto_install_ux_test.go
Due: eng/pipelines/release-cli.yml

fix(extensions): show auto-installed dependencies
  cli/azd/cmd/auto_install.go
  cli/azd/cmd/auto_install_test.go
  cli/azd/cmd/auto_install_ux_test.go
  cli/azd/cmd/extension.go
Due: eng/pipelines/release-cli.yml

fix(extensions): separate requirement heading and table
  cli/azd/cmd/auto_install_ux.go
  cli/azd/cmd/auto_install_ux_test.go
Due: eng/pipelines/release-cli.yml

fix(extensions): align auto-install task wording
  cli/azd/cmd/auto_install.go
  cli/azd/cmd/auto_install_test.go
  cli/azd/cmd/auto_install_ux.go
  cli/azd/cmd/auto_install_ux_test.go
Due: eng/pipelines/release-cli.yml

fix(extensions): collapse long source lists
  cli/azd/cmd/auto_install_ux.go
  cli/azd/cmd/auto_install_ux_test.go
Due: eng/pipelines/release-cli.yml

fix(ux): simplify short source selections
  cli/azd/cmd/auto_install_ux.go
  cli/azd/cmd/auto_install_ux_test.go
  cli/azd/pkg/ux/select.go
  cli/azd/pkg/ux/select_test.go
Due: eng/pipelines/release-cli.yml

fix(extensions): honor auto-install source plans
  cli/azd/cmd/auto_install_test.go
  cli/azd/cmd/auto_install_ux.go
  cli/azd/cmd/auto_install_ux_test.go
  cli/azd/cmd/project_extension_auto_install.go
Due: eng/pipelines/release-cli.yml

fix(extensions): label mixed-source installs
  cli/azd/cmd/auto_install.go
  cli/azd/cmd/auto_install_test.go
  cli/azd/cmd/auto_install_ux.go
  cli/azd/cmd/auto_install_ux_test.go
Due: eng/pipelines/release-cli.yml

[microsoft.azd.extensions] Registry update for 0.13.0
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Refuse the flags and values that were accepted and ignored
  cli/azd/extensions/azure.ai.evaluations/extension.yaml
  cli/azd/extensions/azure.ai.evaluations/go.mod
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/build.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/catalog.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/context.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/eval_group.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/evalref.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/evalref_drift_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/generate_composite.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/generate_flag_guards_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/init.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/no_environment_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/reconciler.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run_output.go
  cli/azd/extensions/azure.ai.evaluations/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.evaluations/internal/exterrors/errors.go
  cli/azd/extensions/azure.ai.evaluations/internal/messages/messages.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/dataset_api/operations.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/eval_config.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/eval_config_atomic_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/eval_config_lock.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/eval_config_lock_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/eval_config_readonly_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/eval_config_store.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/max_samples_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/readfile.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/resolve_source_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/service_target_eval.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/version_spelling_test.go
  cli/azd/extensions/azure.ai.evaluations/version.txt
Due: eng/pipelines/release-azd-extension.yml
