Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

Potential fix for pull request finding
  cli/azd/extensions/azure.ai.toolboxes/internal/foundry/projectctx/validator.go
Due: eng/pipelines/release-azd-extension.yml

Potential fix for pull request finding
  cli/azd/extensions/azure.ai.connections/internal/foundry/projectctx/validator.go
Due: eng/pipelines/release-azd-extension.yml

feat: omit empty project and language fields when saving azure.yaml
  cli/azd/pkg/project/service_config.go
Due: eng/pipelines/release-cli.yml

fix(agents): tighten --image reference validation
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(foundry): persist FOUNDRY_PROJECT_ENDPOINT in endpoint-only flow
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_project_resolve.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

test: add static E2E tests for azure.ai.agents extension
  .github/workflows/e2e-ext-azure-ai-agents-static.yml
  cli/azd/extensions/azure.ai.agents/tests/e2e-static/README.md
  cli/azd/extensions/azure.ai.agents/tests/e2e-static/run_all.sh
  cli/azd/extensions/azure.ai.agents/tests/e2e-static/test_full_e2e.py
  cli/azd/extensions/azure.ai.agents/tests/e2e-static/test_tier0.py
  cli/azd/extensions/azure.ai.agents/tests/e2e-static/test_tier1.py
  cli/azd/extensions/azure.ai.agents/tests/e2e-static/test_tier2.py
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: use DEVOPS_CLIENT_ID/TENANT_ID/SUB_ID for Azure login
  .github/workflows/e2e-ext-azure-ai-agents-static.yml
Due: none

fix: address code review findings
  .github/workflows/e2e-ext-azure-ai-agents-static.yml
  cli/azd/extensions/azure.ai.agents/tests/e2e-static/test_full_e2e.py
  cli/azd/extensions/azure.ai.agents/tests/e2e-static/test_tier0.py
  cli/azd/extensions/azure.ai.agents/tests/e2e-static/test_tier1.py
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat(provisioning): render extension preview changes and stream progress
  cli/azd/grpc/proto/provisioning.proto
  cli/azd/internal/grpcserver/external_provisioning_provider.go
  cli/azd/internal/grpcserver/external_provisioning_provider_test.go
  cli/azd/pkg/azdext/provisioning.pb.go
  cli/azd/pkg/azdext/provisioning_grpc.pb.go
Due: eng/pipelines/release-cli.yml

fix(agents): emit preview changes, clean up model deployments on down, fix ACR connection
  cli/azd/extensions/azure.ai.agents/go.mod
  cli/azd/extensions/azure.ai.agents/go.sum
  cli/azd/extensions/azure.ai.agents/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_provisioning_provider.go
  cli/azd/extensions/azure.ai.agents/internal/project/preview_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/project/preview_helpers_test.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/main.arm.json
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/modules/acr.bicep
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/modules/resources.bicep
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: harden E2E test assertions and eliminate false-positive gates
  cli/azd/extensions/azure.ai.agents/tests/e2e-static/README.md
  cli/azd/extensions/azure.ai.agents/tests/e2e-static/test_full_e2e.py
  cli/azd/extensions/azure.ai.agents/tests/e2e-static/test_tier0.py
  cli/azd/extensions/azure.ai.agents/tests/e2e-static/test_tier1.py
  cli/azd/extensions/azure.ai.agents/tests/e2e-static/test_tier2.py
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat(agents): bicep-less init for azd ai agent init
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_foundry_resources_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_foundry_resources_helpers_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/provisioning_provider.go
  schemas/alpha/azure.yaml.json
  schemas/v1.0/azure.yaml.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat(agents): microsoft.foundry provisioning provider
  cli/azd/extensions/azure.ai.agents/cspell.yaml
  cli/azd/extensions/azure.ai.agents/extension.yaml
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_provisioning_provider.go
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_provisioning_provider_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/provisioning_provider.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/synthesizer.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/synthesizer_test.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/abbreviations.json
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/main.arm.json
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/main.bicep
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/modules/acr.bicep
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates_embed.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat(agents): on-disk Bicep path + Preview via ARM what-if
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen_test.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_provisioning_provider.go
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_provisioning_provider_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/ondisk_template.go
  cli/azd/extensions/azure.ai.agents/internal/project/ondisk_template_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/preview_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/project/preview_helpers_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

chore(agents): polish: lint, drop starter clone, RG fix, comment trim
  cli/azd/extensions/azure.ai.agents/cspell.yaml
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code_azdignore_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_infra.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_infra_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_provisioning_provider.go
  cli/azd/extensions/azure.ai.agents/internal/project/ondisk_template.go
  cli/azd/extensions/azure.ai.agents/internal/project/preview_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/project/preview_helpers_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/synthesizer.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat(agents): add `--infra` eject flag to `azd ai agent init`
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_infra.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_infra_test.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_provisioning_provider.go
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_provisioning_provider_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): address PR review feedback on bicepless feature
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_infra.go
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_provisioning_provider.go
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_provisioning_provider_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): purge soft-deleted Cognitive Services accounts on `azd down --force --purge`
  cli/azd/extensions/azure.ai.agents/cspell.yaml
  cli/azd/extensions/azure.ai.agents/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_provisioning_provider.go
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_provisioning_provider_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat(provisioning): use subscription-scoped template for preview parity
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_infra.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_provisioning_provider.go
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_provisioning_provider_test.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/synthesizer_test.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/main.arm.json
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/main.bicep
  cli/azd/extensions/azure.ai.agents/internal/synthesis/templates/modules/resources.bicep
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: critical sentinel regex + auth + weaker assertion hardening
  .github/workflows/e2e-ext-azure-ai-agents-static.yml
  cli/azd/extensions/azure.ai.agents/tests/e2e-static/test_full_e2e.py
  cli/azd/extensions/azure.ai.agents/tests/e2e-static/test_tier0.py
  cli/azd/extensions/azure.ai.agents/tests/e2e-static/test_tier1.py
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat(agents): bump azure.ai.agents to 0.1.41-preview for microsoft.foundry provisioning provider
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/extension.yaml
  cli/azd/extensions/azure.ai.agents/version.txt
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: use unique per-call sentinel to prevent stale match across phases
  cli/azd/extensions/azure.ai.agents/tests/e2e-static/test_full_e2e.py
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): accept microsoft.foundry host in foundry provisioning provider
  cli/azd/extensions/azure.ai.agents/internal/project/provisioning_provider.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): resolve foundry target resource without requiring agent.yaml
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_foundry.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): set code_configuration dependency_resolution for foundry code deploy
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_foundry.go
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_config.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

- Adding in a new agentic workflow to update instructions from pull requests - gh aw compile, which added in lock files for additional workflows that were sitting there
  .github/aw/actions-lock.json
  .github/workflows/agentics-maintenance.yml
  .github/workflows/update-instructions-from-pr-reviews.lock.yml
  .github/workflows/update-instructions-from-pr-reviews.md
Due: none

Adding in a CCR friendly version of Ted's reviewer skill
  .github/skills/azd-code-reviewer/SKILL.md
  .github/skills/azd-code-reviewer/azd-conventions.md
  .github/skills/azd-code-reviewer/findings.md
  .github/skills/azd-code-reviewer/reviewers.md
Due: none

Adding in a pointer in the agents.md to use our azd-code-reviewer skill
  cli/azd/AGENTS.md
Due: eng/pipelines/release-cli.yml

Do a purposefully bad job here, we want the CCR to flag it.
  cli/azd/internal/useragent.go
Due: eng/pipelines/release-cli.yml

Potential fix for pull request finding
  cli/azd/AGENTS.md
Due: eng/pipelines/release-cli.yml

fixing typo with links
  .github/workflows/update-instructions-from-pr-reviews.md
Due: none

Updating wording a bit - it's realy a _little_ squirmy so you can test in an unrelated repo against something else (for instance, I had a test repo and I was using azure-dev to mine PRs)
  .github/workflows/update-instructions-from-pr-reviews.md
Due: none

Adding standard front-matter for our skill.
  .github/skills/azd-code-reviewer/SKILL.md
Due: none

Cleaning up the instructions updates (we don't need those extra links)
  .github/instructions/documentation.instructions.md
  .github/instructions/extensions.instructions.md
  .github/instructions/go.instructions.md
Due: none

Updating docs based on copilot feedback. There really are two docs for env variables.
  .github/instructions/documentation.instructions.md
Due: none

fix tier1: dynamic prompt handler for all init prompts
  cli/azd/extensions/azure.ai.agents/tests/e2e-static/test_full_e2e.py
  cli/azd/extensions/azure.ai.agents/tests/e2e-static/test_tier1.py
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat(azd x): add 'azd x pack --bundle' to produce self-contained extension bundles
  cli/azd/extensions/microsoft.azd.extensions/CHANGELOG.md
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/bundle.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/bundle_test.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/pack.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

feat(extensions): install extensions from self-contained bundles
  cli/azd/cmd/constructors_coverage3_test.go
  cli/azd/cmd/extension.go
  cli/azd/cmd/extension_bundle_test.go
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-extension-install.snap
  cli/azd/docs/extensions/extension-resolution-and-versioning.md
  cli/azd/pkg/extensions/bundle_source.go
  cli/azd/pkg/extensions/bundle_source_test.go
  cli/azd/pkg/extensions/manager.go
  cli/azd/pkg/extensions/manager_test.go
  cli/azd/pkg/extensions/source_manager.go
  cli/azd/pkg/extensions/source_manager_test.go
Due: eng/pipelines/release-cli.yml
