Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      demands: ImageOverride -equals windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-azdo-setupazd.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: BuildAndTest
        variables:
        - template: /eng/pipelines/templates/variables/image.yml
        jobs:
        - job: BuildSetupAzd
          displayName: BuildSetupAzd
          variables:
  ...

eng/pipelines/release-azuredevops.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/azuredevops-build-and-test.yml
      - template: /eng/pipelines/templates/stages/azuredevops-sign.yml
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-ai-agents
  ...

eng/pipelines/release-ext-azure-ai-models.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.models
          SanitizedExtensionId: azure-ai-models
  ...

eng/pipelines/release-ext-azure-appservice.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.appservice
          SanitizedExtensionId: azure-appservice
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

fix(ai-agents): preserve shell script permissions on init (#9280)
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

[azure.ai.skills] Nightly registry update for 1.0.0-beta.2.nightly.6612606
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.toolboxes] Nightly registry update for 1.0.0-beta.4.nightly.6612633
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

fix(ai-projects): cap Foundry ARM deployment names
  cli/azd/extensions/azure.ai.projects/internal/provisioning/foundry_provisioning_provider.go
  cli/azd/extensions/azure.ai.projects/internal/provisioning/foundry_provisioning_provider_test.go
Due: eng/pipelines/release-azd-extension.yml

refactor(agents): type env reference discovery
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_env.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_env_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(ai-agents): preserve service fields during container defaults (#9211)
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/agent_definition.go
  cli/azd/extensions/azure.ai.agents/internal/project/agent_definition_test.go
  cli/azd/internal/grpcserver/project_service.go
  cli/azd/internal/grpcserver/project_service_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Update .github/workflows/ext-registry-check.yml
  .github/workflows/ext-registry-check.yml
Due: none

fix: preserve App Service container configuration (#9281)
  cli/azd/pkg/azapi/webapp.go
  cli/azd/pkg/azapi/webapp_test.go
  cli/azd/pkg/project/framework_service_python_test.go
Due: eng/pipelines/release-cli.yml

adding myself as an owner for CODEOWNERS as well
  .github/CODEOWNERS
Due: none

fix: distinguish GitHub Copilot App execution environment (#9288)
  cli/azd/cmd/auto_install_integration_test.go
  cli/azd/internal/runcontext/agentdetect/detect_env.go
  cli/azd/internal/runcontext/agentdetect/detect_test.go
  cli/azd/internal/runcontext/agentdetect/types.go
  cli/azd/internal/terminal/terminal_test.go
  cli/azd/internal/tracing/fields/fields.go
  cli/azd/internal/tracing/resource/exec_environment.go
  docs/reference/telemetry-data.md
Due: eng/pipelines/release-cli.yml

Increment CLI version after release (#9265)
  cli/azd/pkg/azdext/version.go
  cli/version.txt
Due: eng/pipelines/release-cli.yml

[microsoft.azd.demo] Registry update for 0.7.1 (#9138)
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

docs: document runtime network endpoints azd contacts (#4415) (#9165)
  .vscode/cspell.misc.yaml
  docs/README.md
  docs/reference/network-endpoints.md
Due: none

Add container Function functional coverage
  cli/azd/AGENTS.md
  cli/azd/docs/recording-functional-tests-guide.md
  cli/azd/test/functional/testdata/recordings/Test_CLI_Up_Down_ContainerFuncApp.docker.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_Up_Down_ContainerFuncApp.yaml
  cli/azd/test/functional/testdata/samples/containerfuncapp/azure.yaml
  cli/azd/test/functional/testdata/samples/containerfuncapp/infra/main.bicep
  cli/azd/test/functional/testdata/samples/containerfuncapp/infra/main.parameters.json
  cli/azd/test/functional/testdata/samples/containerfuncapp/infra/resources.bicep
  cli/azd/test/functional/testdata/samples/containerfuncapp/src/function/.dockerignore
  cli/azd/test/functional/testdata/samples/containerfuncapp/src/function/Dockerfile
  cli/azd/test/functional/testdata/samples/containerfuncapp/src/function/host.json
  cli/azd/test/functional/testdata/samples/containerfuncapp/src/function/package.json
  cli/azd/test/functional/testdata/samples/containerfuncapp/src/function/src/functions/hello.js
  cli/azd/test/functional/up_test.go
  cli/azd/test/recording/sanitize.go
  cli/azd/test/recording/sanitize_test.go
Due: eng/pipelines/release-cli.yml

Fix container Function App deployments
  cli/azd/pkg/azapi/function_app.go
  cli/azd/pkg/azapi/webapp.go
  cli/azd/pkg/azapi/webapp_test.go
  cli/azd/pkg/project/service_target_appservice.go
  cli/azd/pkg/project/service_target_functionapp.go
  cli/azd/pkg/project/service_target_functionapp_test.go
  docs/reference/azure-yaml-schema.md
  schemas/alpha/azure.yaml.json
  schemas/v1.0/azure.yaml.json
Due: eng/pipelines/release-cli.yml

Harden container Function functional test
  cli/azd/test/functional/testdata/samples/containerfuncapp/src/function/Dockerfile
  cli/azd/test/functional/testdata/samples/containerfuncapp/src/function/package-lock.json
  cli/azd/test/functional/up_test.go
Due: eng/pipelines/release-cli.yml

Add Function App API coverage
  cli/azd/pkg/azapi/azure_client_functions_test.go
  cli/azd/pkg/azapi/webapp_test.go
Due: eng/pipelines/release-cli.yml

Refresh container Function recording
  cli/azd/pkg/project/service_target_functionapp.go
  cli/azd/test/functional/testdata/recordings/Test_CLI_Up_Down_ContainerFuncApp.docker.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_Up_Down_ContainerFuncApp.yaml
Due: eng/pipelines/release-cli.yml

Update recordings
  cli/azd/test/functional/testdata/recordings/Test_CLI_Up_Down_ContainerFuncApp.docker.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_Up_Down_ContainerFuncApp.yaml
Due: eng/pipelines/release-cli.yml

test(agents): isolate env prompt cases
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_env_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Add CFSClean enforcement
  eng/pipelines/templates/stages/1es-redirect.yml
Due: none

Add nuget, python and maven authentication
  eng/common/pipelines/templates/steps/maven-authenticate.yml
  eng/common/pipelines/templates/steps/pypi-auth-dev-feed.yml
  eng/pipelines/templates/jobs/build-cli.yml
  eng/pipelines/templates/stages/build-and-test.yml
  eng/settings.xml
  nuget.config
Due: eng/pipelines/release-cli.yml

Bump microsoft.azd.demo for testing
  cli/azd/extensions/microsoft.azd.demo/CHANGELOG.md
  cli/azd/extensions/microsoft.azd.demo/extension.yaml
  cli/azd/extensions/microsoft.azd.demo/version.txt
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml

Add repo wide nuget config
  NuGet.Config
Due: none

remove nuget config
  eng/pipelines/templates/steps/build-msi.yml
  nuget.config
Due: none

Add authentication to npm js
  eng/pipelines/templates/jobs/build-cli.yml
Due: eng/pipelines/release-cli.yml

Update create-authenticated-npmrc.yml
  eng/common/pipelines/templates/steps/create-authenticated-npmrc.yml
Due: none

Set User Nuget.Config
  NuGet.Config
  eng/pipelines/templates/jobs/build-cli.yml
Due: eng/pipelines/release-cli.yml

test(agents): document env escape parity
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_env.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_env_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

chore(deps): group all Dependabot security updates into a single PR (#9240)
  cli/azd/extensions/azure.ai.rle/go.mod
  cli/azd/extensions/azure.ai.rle/go.sum
  cli/azd/test/eval/package-lock.json
  eng/pipelines/release-azuredevops.yml
  eng/pipelines/templates/jobs/azuredevops-build.yml
  eng/pipelines/templates/stages/azuredevops-sign.yml
  ext/azuredevops/setupAzd/package-lock.json
  ext/vscode/package-lock.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml

[microsoft.azd.demo] Nightly registry update for 0.7.1-nightly.6615105
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

Apparently we're even minor version specific!
  cli/azd/test/evals/go.mod
Due: eng/pipelines/release-cli.yml

Try a lower threshold, we're still tuning these things and I'd like to get to the minimum needed for a passing grade in the meantime.
  cli/azd/test/evals/eval-azd-qna.yaml
Due: eng/pipelines/release-cli.yml

Report registry deletions and renames as policy failures
  .github/scripts/src/ext-registry-check.js
  .github/scripts/test/ext-registry-check.test.js
  .github/workflows/ext-registry-check.yml
Due: none

fix(agents): persist env values without prompts
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_env.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_env_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Addressing various pieces of copilot feedback.
  .github/actions/vally-eval/action.yml
  cli/azd/test/evals/README.md
  cli/azd/test/evals/eval-azd-deploy.yaml
  cli/azd/test/evals/vally_report.go
  cli/azd/test/evals/vally_report_test.go
Due: eng/pipelines/release-cli.yml

fix(agents): prompt for unified config env values (#9212)
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_env.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_env_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

[azure.ai.rle] Nightly registry update for 0.1.0-preview.nightly.6616736
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.agents] Nightly registry update for 1.0.0-beta.7.nightly.6616745
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.inspector] Nightly registry update for 1.0.0-beta.2.nightly.6616747
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
