Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      demands: ImageOverride -equals windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-azdo-setupazd.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: BuildAndTest
        variables:
        - template: /eng/pipelines/templates/variables/image.yml
        jobs:
        - job: BuildSetupAzd
          displayName: BuildSetupAzd
          variables:
  ...

eng/pipelines/release-azuredevops.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/azuredevops-build-and-test.yml
      - template: /eng/pipelines/templates/stages/azuredevops-sign.yml
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-ai-agents
  ...

eng/pipelines/release-ext-azure-ai-models.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.models
          SanitizedExtensionId: azure-ai-models
  ...

eng/pipelines/release-ext-azure-appservice.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.appservice
          SanitizedExtensionId: azure-appservice
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

TEMP review: address review of results-consistency change
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/gating.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/gating_conformance_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/gating_silent_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/gating_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run_list_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run_ops.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run_output.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run_render_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/score_display_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/messages/messages.go
Due: eng/pipelines/release-azd-extension.yml

Make the run results agree with each other and with the portal (AB#5530202)
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/gating.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/gating_conformance_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/gating_silent_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/gating_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run_list_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run_ops.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run_output.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run_render_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/score_display_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/messages/messages.go
Due: eng/pipelines/release-azd-extension.yml

Cut the eleventh bug bash build
  cli/azd/extensions/azure.ai.evaluations/CHANGELOG.md
  cli/azd/extensions/azure.ai.evaluations/extension.yaml
  cli/azd/extensions/azure.ai.evaluations/version.txt
Due: eng/pipelines/release-azd-extension.yml

Cut the eleventh bug bash build
  cli/azd/extensions/azure.ai.dataset/CHANGELOG.md
  cli/azd/extensions/azure.ai.dataset/extension.yaml
  cli/azd/extensions/azure.ai.dataset/version.txt
Due: eng/pipelines/release-azd-extension.yml

fix: remove the Routines preview header
  cli/azd/extensions/azure.ai.routines/internal/pkg/routines/client.go
  cli/azd/extensions/azure.ai.routines/internal/pkg/routines/client_test.go
Due: eng/pipelines/release-azd-extension.yml

Keep anchors working, and follow the symlink the read follows
  cli/azd/extensions/azure.ai.evaluations/internal/messages/messages.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/evalcore/evaluator.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/evalcore/evaluator_anchor_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/agent_instructions.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/instruction_containment_test.go
Due: eng/pipelines/release-azd-extension.yml

Say which run, one word for the link, and stop offering a refused source
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/generate_commands.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/generate_flag_guards_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/portal_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run_fallback_named_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run_ops.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run_output.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/surface_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/messages/messages.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/artifacts.go
Due: eng/pipelines/release-azd-extension.yml

fix: unify split toolbox diagnostics (#9563)
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_connections.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_local.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_local_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_manual_env.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_toolboxes.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_toolboxes_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/state_cache.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/state_cache_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/condition.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/manifest.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/resolver.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/resolver_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/state.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/state_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/types.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Close the gap between the two extensions' shared code
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/dataset.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/dataset_source_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run.go
  cli/azd/extensions/azure.ai.evaluations/internal/messages/messages.go
Due: eng/pipelines/release-azd-extension.yml

Close the gap between the two extensions' shared code
  cli/azd/extensions/azure.ai.dataset/build.ps1
  cli/azd/extensions/azure.ai.dataset/internal/cmd/dataset.go
  cli/azd/extensions/azure.ai.dataset/internal/messages/credential_failure_test.go
  cli/azd/extensions/azure.ai.dataset/internal/messages/messages.go
  cli/azd/extensions/azure.ai.dataset/internal/pkg/dataset_api/download_wire_test.go
Due: eng/pipelines/release-azd-extension.yml

feat(agents): add unified voice api mode
  cli/azd/extensions/azure.ai.agents/README.md
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/models.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/map.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/map_voice_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Fix what the last two commits got wrong, and the escape they left open
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/generate_commands.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/generate_flag_guards_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run_ops.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run_status_row_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/messages/messages.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/evalcore/evaluator.go
  cli/azd/extensions/azure.ai.evaluations/internal/pkg/evalcore/evaluator_anchor_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/agent_instructions.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/instruction_containment_test.go
Due: eng/pipelines/release-azd-extension.yml

Fix what the last two commits got wrong, and the escape they left open
  cli/azd/extensions/azure.ai.dataset/internal/exterrors/codes.go
Due: eng/pipelines/release-azd-extension.yml

Deploy from a subdirectory, and stop a row cap forking the eval
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/generate_composite.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/generate_flag_guards_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run_ops.go
  cli/azd/extensions/azure.ai.evaluations/internal/messages/messages.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/artifacts.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/deploy_paths_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/service_target_eval.go
Due: eng/pipelines/release-azd-extension.yml

docs(agents): clarify voice deploy routing comment
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Do not panic when a wait runs out, and quote the steps init prints
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/evaldir_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/init.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run_ops.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run_show_budget_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/deploy_paths_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/service_target_eval.go
Due: eng/pipelines/release-azd-extension.yml

Keep two evals two evals, and quote the names the messages suggest
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/init.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/reconciler.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run_show_budget_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/messages/messages.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/agent_instructions.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/deploy_paths_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/service_target_eval.go
Due: eng/pipelines/release-azd-extension.yml

fix(azure.ai.agents): address digital worker review feedback
  cli/azd/extensions/azure.ai.agents/internal/project/activity_profile.go
  cli/azd/extensions/azure.ai.agents/internal/project/activity_profile_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/schemas/azure.ai.agent.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: preserve passthrough package overrides
  cli/azd/internal/cmd/publish.go
  cli/azd/internal/cmd/publish_test.go
  cli/azd/pkg/project/artifact.go
  cli/azd/pkg/project/container_helper.go
  cli/azd/pkg/project/container_helper_test.go
  cli/azd/pkg/project/service_manager.go
  cli/azd/pkg/project/service_manager_test.go
  cli/azd/pkg/project/service_target_aks_test.go
  cli/azd/pkg/project/service_target_appservice_test.go
  cli/azd/pkg/project/service_target_containerapp_test.go
  docs/reference/azure-yaml-schema.md
  schemas/alpha/azure.yaml.json
  schemas/v1.0/azure.yaml.json
Due: eng/pipelines/release-cli.yml

Do not recreate every eval on upgrade, and let an agent live outside the project
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/digest_migration_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/pinned_version_recorded_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/reconciler.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run_show_budget_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/agent_instructions.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/agent_outside_project_test.go
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.agents] Nightly registry update for 1.0.0-beta.10.nightly.6719059
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

fix: handle passthrough package collections
  cli/azd/internal/cmd/publish.go
  cli/azd/pkg/project/container_helper.go
  cli/azd/pkg/project/container_helper_test.go
  cli/azd/pkg/project/service_manager_test.go
Due: eng/pipelines/release-cli.yml

fix: relay structured extension errors across nested gRPC
  cli/azd/extensions/azure.ai.agents/internal/exterrors/errors.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/errors_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
  cli/azd/internal/grpcserver/errors.go
  cli/azd/internal/grpcserver/server_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

[azure.ai.rle] Nightly registry update for 0.3.0-preview.nightly.6719039
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.inspector] Nightly registry update for 1.0.0-beta.3.nightly.6719112
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.connections] Nightly registry update for 1.0.0-beta.4.nightly.6719076
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

Reserve the evals a file declares, and read a pin from the declaration
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/declared_pin_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/digest_migration_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/eval_group.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/pinned_version_recorded_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/reconciler.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/agent_outside_project_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/service_target_eval.go
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.projects] Nightly registry update for 1.0.0-beta.6.nightly.6719157
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.routines] Nightly registry update for 1.0.0-beta.4.nightly.6719160
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.skills] Nightly registry update for 1.0.0-beta.3.nightly.6719163
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

fix(ai-agents): preserve interrupt cancellation
  cli/azd/extensions/azure.ai.agents/internal/cmd/run.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/run_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(azure.ai.agents): resolve activity config references
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen_activity_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/teams_pack.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

[azure.ai.toolboxes] Nightly registry update for 1.0.0-beta.5.nightly.6719184
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

Reserve only what a deploy is keeping, and stamp the version it scored
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/declared_pin_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/digest_migration_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/eval_group.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/reconciler.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/wiring_test.go
  cli/azd/extensions/azure.ai.evaluations/internal/project/service_target_eval.go
Due: eng/pipelines/release-azd-extension.yml

fix: validate passthrough config before dispatch
  cli/azd/pkg/project/service_manager.go
  cli/azd/pkg/project/service_manager_test.go
Due: eng/pipelines/release-cli.yml

fix: validate passthrough extension artifacts
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-publish.snap
  cli/azd/cmd/testdata/TestUsage-azd.snap
  cli/azd/internal/cmd/publish.go
  cli/azd/pkg/project/container_helper.go
  cli/azd/pkg/project/service_manager.go
  cli/azd/pkg/project/service_manager_test.go
Due: eng/pipelines/release-cli.yml

Label a run with where its rows came from, and decide recreation once
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/reconciler.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/scored_version_test.go
Due: eng/pipelines/release-azd-extension.yml

feat(agents): support private registry connections
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_foundry_resources_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_foundry_resources_helpers_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_reuse_project_agent_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/models.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/models_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/map.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/map_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/yaml.go
  cli/azd/extensions/azure.ai.agents/internal/project/agent_definition.go
  cli/azd/extensions/azure.ai.agents/internal/project/agent_definition_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/doc_examples_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_dependencies.go
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_dependencies_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/synthesizer_test.go
  cli/azd/extensions/azure.ai.agents/schemas/azure.ai.agent.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): validate registry lifecycle before build
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): require image passthrough host support
  cli/azd/extensions/azure.ai.agents/extension.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
