Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      demands: ImageOverride -equals windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-azdo-setupazd.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: BuildAndTest
        variables:
        - template: /eng/pipelines/templates/variables/image.yml
        jobs:
        - job: BuildSetupAzd
          displayName: BuildSetupAzd
          variables:
  ...

eng/pipelines/release-azuredevops.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/azuredevops-build-and-test.yml
      - template: /eng/pipelines/templates/stages/azuredevops-sign.yml
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-ai-agents
  ...

eng/pipelines/release-ext-azure-ai-models.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.models
          SanitizedExtensionId: azure-ai-models
  ...

eng/pipelines/release-ext-azure-appservice.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.appservice
          SanitizedExtensionId: azure-appservice
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

Address feedback
  cli/azd/cmd/extension.go
  cli/azd/docs/extensions/extension-framework.md
  cli/azd/internal/tracing/fields/fields.go
  cli/azd/pkg/extensions/manager.go
  cli/azd/pkg/extensions/manager_test.go
  cli/azd/pkg/extensions/upgrade_result.go
Due: eng/pipelines/release-cli.yml

Hide SkipDependencyValidation, extract version resolver
  cli/azd/cmd/extension.go
  cli/azd/cmd/extension_test.go
  cli/azd/docs/extensions/extension-framework.md
  cli/azd/extensions/extension.schema.json
  cli/azd/pkg/extensions/manager.go
  cli/azd/pkg/extensions/manager_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Avoid silently downgrading
  cli/azd/pkg/extensions/manager.go
  cli/azd/pkg/extensions/manager_test.go
Due: eng/pipelines/release-cli.yml

fix conflict
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

[azure.ai.inspector] Registry update for 0.0.1-preview
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-ai-inspector.snap
  cli/azd/cmd/testdata/TestUsage-azd-ai.snap
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Address feedback
  cli/azd/cmd/extension.go
  cli/azd/docs/extensions/extension-framework.md
  cli/azd/extensions/extension.schema.json
  cli/azd/pkg/extensions/manager.go
  cli/azd/pkg/extensions/manager_test.go
  cli/azd/pkg/extensions/upgrade_result.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

fix(extensions): mark dependency visited before no-op continues
  cli/azd/pkg/extensions/manager.go
  cli/azd/pkg/extensions/manager_test.go
Due: eng/pipelines/release-cli.yml

Create a separate command
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/root.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/update.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

[azure.ai.inspector] Registry update for 0.0.1-preview (#8334)
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-ai-inspector.snap
  cli/azd/cmd/testdata/TestUsage-azd-ai.snap
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

PR comments
  cli/azd/extensions/azure.ai.agents/cspell.yaml
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/map_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

PR comments
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/update.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/models_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

bugfix
  cli/azd/extensions/azure.ai.agents/internal/cmd/update.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/map.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Create changelog for 1.25.2 (#8336)
  .vscode/cspell-github-user-aliases.txt
  cli/azd/CHANGELOG.md
  cli/azd/pkg/azdext/version.go
  cli/version.txt
Due: eng/pipelines/release-cli.yml

[Agents Extension] Provide handling to update agent endpoint details (#8332)
  cli/azd/extensions/azure.ai.agents/cspell.yaml
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/root.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/update.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/models.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/models_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/map.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/map_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/yaml.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Update env var references
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_agent_identity_roles.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_agent_identity_roles_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_agent_status.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_agent_status_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_foundry_endpoint.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_foundry_endpoint_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_local.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_local_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_project.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_project_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_rbac.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_remote.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor_format.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor_format_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/infra_outputs_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/resolver.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/resolver_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/state.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/state_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/types.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_helpers_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/pending_provision.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_endpoint.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_resolver.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_resolver_test.go
  cli/azd/extensions/azure.ai.toolboxes/internal/foundry/projectctx/resolver.go
  cli/azd/extensions/azure.ai.toolboxes/internal/foundry/projectctx/types.go
  cli/azd/extensions/azure.ai.toolboxes/internal/foundry/projectctx/validator.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

PR comments and gates
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor_format_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/state_test.go
  cli/azd/extensions/azure.ai.toolboxes/internal/foundry/projectctx/validator.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

[Foundry Extensions] Update env var references (#8340)
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_agent_identity_roles.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_agent_identity_roles_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_agent_status.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_agent_status_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_foundry_endpoint.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_foundry_endpoint_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_local.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_local_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_project.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_project_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_rbac.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor/checks_remote.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor_format.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/doctor_format_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/infra_outputs_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/resolver.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/resolver_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/state.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/state_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/types.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_helpers_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/pending_provision.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_endpoint.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_resolver.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_resolver_test.go
  cli/azd/extensions/azure.ai.toolboxes/internal/foundry/projectctx/resolver.go
  cli/azd/extensions/azure.ai.toolboxes/internal/foundry/projectctx/types.go
  cli/azd/extensions/azure.ai.toolboxes/internal/foundry/projectctx/validator.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Prepare `azure.ai.agents` 0.1.34-preview patch release metadata (#8344)
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/extension.yaml
  cli/azd/extensions/azure.ai.agents/version.txt
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

address feedback
  cli/azd/cmd/middleware/tool_first_run.go
  cli/azd/cmd/tool.go
  cli/azd/docs/tracing-in-azd.md
  cli/azd/internal/tracing/fields/fields.go
Due: eng/pipelines/release-cli.yml

[azure.ai.agents] Registry update for 0.1.34-preview
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

add test coverage
  cli/azd/cmd/middleware/tool_first_run_test.go
  cli/azd/cmd/tool.go
  cli/azd/cmd/tool_test.go
Due: eng/pipelines/release-cli.yml

[azure.ai.agents] Registry update for 0.1.34-preview (#8345)
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Increment CLI version after release
  cli/azd/pkg/azdext/version.go
  cli/version.txt
Due: eng/pipelines/release-cli.yml

Fix Azure AI Agents endpoint API version
  cli/azd/extensions/azure.ai.agents/internal/cmd/agent_context.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/agent_endpoint_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/session.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/show_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/api_versions.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_api/operations_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/paths/paths_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

new api contract adaption
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_config.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_config_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_prompts.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/opt_eval/yaml.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/opt_eval/yaml_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/optimize_api/client.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/optimize_api/client_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/optimize_api/models.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/optimize_api/models_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

[azure.ai.training] Registry update for 0.0.1-preview
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-ai-training.snap
  cli/azd/cmd/testdata/TestUsage-azd-ai.snap
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

[azure.ai.training] Registry update for 0.0.1-preview (#8348)
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-ai-training.snap
  cli/azd/cmd/testdata/TestUsage-azd-ai.snap
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Move azure.ai.training to dev registry
  cli/azd/extensions/registry.dev.json
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

Revert snapshots
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-ai.snap
Due: eng/pipelines/release-cli.yml

Fix test
  cli/azd/pkg/extensions/registry_files_test.go
Due: eng/pipelines/release-cli.yml

Move azure.ai.training to dev registry (#8356)
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-ai.snap
  cli/azd/extensions/registry.dev.json
  cli/azd/extensions/registry.json
  cli/azd/pkg/extensions/registry_files_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

doc: address copilot review feedback on design spec
  cli/azd/docs/design/azure-ai-agent-init-reuse-agent-yaml.md
Due: eng/pipelines/release-cli.yml

fix(agents): skip definition reuse when manifest detected but declined
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat(agents): reuse existing agent.yaml on init from existing code
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code_reuse.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): address copilot review feedback on reuse path
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code_reuse.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code_reuse_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

latest
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_init_prompts.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_init_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_apply.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_apply_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_config.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_config_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_prompts.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/opt_eval/yaml.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/opt_eval/yaml_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/optimize_api/models.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/optimize_api/models_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): address second-round copilot review and trim comments
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code_reuse.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code_reuse_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat(azure.ai.connections): migrate connection commands from azure.ai.agents
  cli/azd/extensions/azure.ai.agents/internal/cmd/root.go
  cli/azd/extensions/azure.ai.agents/internal/connections/cmd/root.go
  cli/azd/extensions/azure.ai.connections/.golangci.yaml
  cli/azd/extensions/azure.ai.connections/AGENTS.md
  cli/azd/extensions/azure.ai.connections/go.mod
  cli/azd/extensions/azure.ai.connections/go.sum
  cli/azd/extensions/azure.ai.connections/internal/cmd/root.go
  cli/azd/extensions/azure.ai.connections/internal/connections/cmd/connection.go
  cli/azd/extensions/azure.ai.connections/internal/connections/cmd/connection_test.go
  cli/azd/extensions/azure.ai.connections/internal/connections/cmd/context.go
  cli/azd/extensions/azure.ai.connections/internal/connections/cmd/endpoint.go
  cli/azd/extensions/azure.ai.connections/internal/connections/cmd/raw_connection.go
  cli/azd/extensions/azure.ai.connections/internal/connections/cmd/root.go
  cli/azd/extensions/azure.ai.connections/internal/connections/pkg/connections/data_client.go
  cli/azd/extensions/azure.ai.connections/internal/connections/pkg/connections/models.go
  cli/azd/extensions/azure.ai.connections/internal/connections/pkg/connections/models_test.go
  cli/azd/extensions/azure.ai.connections/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.connections/internal/exterrors/errors.go
  cli/azd/extensions/azure.ai.connections/internal/foundry/projectctx/resolver.go
  cli/azd/extensions/azure.ai.connections/internal/foundry/projectctx/resolver_test.go
  cli/azd/extensions/azure.ai.connections/internal/foundry/projectctx/store.go
  cli/azd/extensions/azure.ai.connections/internal/foundry/projectctx/store_test.go
  cli/azd/extensions/azure.ai.connections/internal/foundry/projectctx/types.go
  cli/azd/extensions/azure.ai.connections/internal/foundry/projectctx/validator.go
  cli/azd/extensions/azure.ai.connections/internal/foundry/projectctx/validator_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
