Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool-mms-win-2022-general
      vmImage: MMS2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
        PublishAnalysisLogs: false
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-vscode.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: OutputAttributes
        jobs:
        - job: OutputAttributes
          pool:
            name: azsdk-pool-mms-ubuntu-2004-general
            image: azsdk-pool-mms-ubuntu-2004-1espt
  ...

eng/pipelines/repoman.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: Validation
        variables:
        - template: /eng/pipelines/templates/variables/globals.yml
        - name: StagingRemoteName
          value: azure-samples-staging
        jobs:
  ...

eng/pipelines/template-tests.yml:
  jobs:
  - template: /eng/pipelines/templates/jobs/run-template-tests.yml
    parameters:
      AzdVersion: ${{ parameters.AzdVersion }}
      UseAzdVersionFromPrNumber: true
      TemplateList: ${{ parameters.TemplateList }}
      TemplateListFilter: ${{ parameters.TemplateListFilter }}
  ...

schema changes
  schemas/alpha/azure.yaml.json
Due: none

chore: update bicep version to 0.34.1 in workflow and related files
  .github/workflows/lint-bicep.yml
  cli/azd/pkg/tools/bicep/bicep.go
  cli/azd/test/functional/testdata/recordings/Test_CLI_Aspire_Deploy.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_EnvRefresh_NoBicep.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_InfraBicepParam.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_InfraCreateAndDelete.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_InfraCreateAndDeleteUpperCase.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_ProvisionState.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_ProvisionStateWithDown.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_Up_Down_ContainerApp_RemoteBuild.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_Up_ResourceGroupScope.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_VsServer/LiveDeployRefresh.yaml
  cli/azd/test/functional/testdata/recordings/Test_DeploymentStacks/ResourceGroup_Scope_Up_Down.yaml
  cli/azd/test/functional/testdata/recordings/Test_DeploymentStacks/Subscription_Scope_Up_Down.yaml
  cli/azd/test/functional/testdata/recordings/Test_StorageBlobClient.yaml
Due: eng/pipelines/release-cli.yml

Build release metadata, put into artifact, use in later jobs
  eng/pipelines/templates/jobs/build-cli.yml
  eng/pipelines/templates/stages/publish.yml
  eng/pipelines/templates/stages/sign.yml
  eng/pipelines/templates/steps/build-msi.yml
  eng/pipelines/templates/steps/publish-cli-choco.yml
  eng/pipelines/templates/steps/publish-cli-winget.yml
  eng/pipelines/templates/steps/publish-cli.yml
  eng/pipelines/templates/steps/set-metadata-variables.yml
Due: eng/pipelines/release-cli.yml

delete unused Bicep templates for load testing, CDN, App Configuration, Cognitive Services, AI Search, and PostgreSQL Flexible Server
  templates/common/infra/bicep/core/ai/cognitiveservices.bicep
  templates/common/infra/bicep/core/ai/hub-dependencies.bicep
  templates/common/infra/bicep/core/ai/hub.bicep
  templates/common/infra/bicep/core/ai/project.bicep
  templates/common/infra/bicep/core/config/configstore.bicep
  templates/common/infra/bicep/core/database/postgresql/flexibleserver.bicep
  templates/common/infra/bicep/core/gateway/apim.bicep
  templates/common/infra/bicep/core/networking/cdn-endpoint.bicep
  templates/common/infra/bicep/core/networking/cdn-profile.bicep
  templates/common/infra/bicep/core/networking/cdn.bicep
  templates/common/infra/bicep/core/search/search-services.bicep
  templates/common/infra/bicep/core/storage/storage-account.bicep
  templates/common/infra/bicep/core/testing/loadtesting.bicep
Due: eng/pipelines/repoman.yml

Move release metadata to GenerateReleaseArtifacts
  eng/pipelines/templates/jobs/build-cli.yml
  eng/pipelines/templates/stages/build-and-test.yml
Due: eng/pipelines/release-cli.yml

Move choco build into other package build tasks
  eng/pipelines/templates/stages/sign.yml
  eng/pipelines/templates/steps/publish-cli-choco.yml
  eng/pipelines/templates/steps/set-metadata-variables.yml
Due: none

bye AI env
  templates/common/infra/bicep/core/host/ai-environment.bicep
Due: eng/pipelines/repoman.yml

cleanup
  cli/azd/internal/cmd/add/add_configure_existing.go
  cli/azd/internal/scaffold/resource_expr_eval.go
  cli/azd/pkg/project/scaffold_gen.go
Due: eng/pipelines/release-cli.yml

enable keyvault
  cli/azd/internal/cmd/add/add_configure.go
  cli/azd/internal/cmd/add/add_select.go
  cli/azd/internal/scaffold/resource_meta.go
  cli/azd/pkg/azapi/resource_service.go
Due: eng/pipelines/release-cli.yml

rename to AI_PROJECT
  cli/azd/internal/scaffold/resource_meta.go
Due: eng/pipelines/release-cli.yml

Sign stage generates release artifact, refactor other release work
  eng/pipelines/templates/stages/build-and-test.yml
  eng/pipelines/templates/stages/sign.yml
  eng/pipelines/templates/steps/publish-cli.yml
Due: none

No checkout for Publish_Choco
  eng/pipelines/templates/stages/publish.yml
Due: none

support for infrastructure files in remote environment management
  cli/azd/pkg/environment/azdcontext/azdcontext.go
  cli/azd/pkg/environment/manager.go
  cli/azd/pkg/environment/storage_blob_data_store.go
  cli/azd/pkg/environment/storage_blob_data_store_test.go
Due: eng/pipelines/release-cli.yml

WinGet publishing
  eng/pipelines/templates/stages/build-and-test.yml
  eng/pipelines/templates/stages/publish.yml
  eng/pipelines/templates/steps/publish-cli-winget.yml
  eng/pipelines/templates/steps/set-metadata-variables.yml
  eng/scripts/Update-WinGetManifest.ps1
Due: none

Publish brew formula
  eng/pipelines/templates/stages/publish.yml
  eng/pipelines/templates/stages/sign.yml
  eng/pipelines/templates/steps/publish-cli-brew.yml
  eng/pipelines/templates/steps/publish-cli.yml
  eng/pipelines/templates/steps/set-metadata-variables.yml
Due: none

Publish_Shield, Increment_Version -> job
  eng/pipelines/templates/stages/publish.yml
  eng/pipelines/templates/steps/publish-cli.yml
  eng/pipelines/templates/steps/publish-shield.yml
Due: none

PublishVersionTxt uses ReleaseGate
  eng/pipelines/templates/stages/publish.yml
Due: none

submitBrewFormula
  eng/pipelines/templates/stages/build-and-test.yml
Due: none

clean core bicep modules (#4972)
  templates/common/infra/bicep/core/ai/cognitiveservices.bicep
  templates/common/infra/bicep/core/ai/hub-dependencies.bicep
  templates/common/infra/bicep/core/ai/hub.bicep
  templates/common/infra/bicep/core/ai/project.bicep
  templates/common/infra/bicep/core/config/configstore.bicep
  templates/common/infra/bicep/core/database/postgresql/flexibleserver.bicep
  templates/common/infra/bicep/core/gateway/apim.bicep
  templates/common/infra/bicep/core/host/ai-environment.bicep
  templates/common/infra/bicep/core/networking/cdn-endpoint.bicep
  templates/common/infra/bicep/core/networking/cdn-profile.bicep
  templates/common/infra/bicep/core/networking/cdn.bicep
  templates/common/infra/bicep/core/search/search-services.bicep
  templates/common/infra/bicep/core/storage/storage-account.bicep
  templates/common/infra/bicep/core/testing/loadtesting.bicep
Due: eng/pipelines/repoman.yml

Comment
  eng/pipelines/templates/stages/sign.yml
Due: none

Publish Docs
  eng/pipelines/templates/stages/publish.yml
  eng/pipelines/templates/steps/publish-cli-docs.yml
  eng/pipelines/templates/steps/publish-cli.yml
Due: none

displayName
  eng/pipelines/templates/steps/publish-cli-docs.yml
Due: none

cmd: allow `azd up -e <env>` to influence the environment used (#4561)
  cli/azd/cmd/container.go
  cli/azd/cmd/up.go
  cli/azd/cmd/util.go
  cli/azd/test/functional/up_test.go
Due: eng/pipelines/release-cli.yml

prompt: support case-insensitive sorting
  cli/azd/pkg/prompt/prompter.go
  cli/azd/pkg/stringutil/stringutil.go
  cli/azd/pkg/stringutil/stringutil_test.go
Due: eng/pipelines/release-cli.yml

WIP: Start of AI builder extension
  cli/azd/extensions/microsoft.azd.ai.builder/.gitignore
  cli/azd/extensions/microsoft.azd.ai.builder/README.md
  cli/azd/extensions/microsoft.azd.ai.builder/build.sh
  cli/azd/extensions/microsoft.azd.ai.builder/extension.yaml
  cli/azd/extensions/microsoft.azd.ai.builder/internal/cmd/root.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/cmd/start.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/cmd/version.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/pkg/qna/decision_tree.go
  cli/azd/extensions/microsoft.azd.ai.builder/main.go
Due: eng/pipelines/release-cli.yml

minor updates
  cli/azd/extensions/microsoft.azd.ai.builder/internal/cmd/start/start.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/pkg/qna/decision_tree.go
  cli/azd/pkg/output/colors.go
Due: eng/pipelines/release-cli.yml

wip: model selection
  cli/azd/extensions/microsoft.azd.ai.builder/internal/cmd/root.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/cmd/start.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/cmd/start/start.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/pkg/azure/ai/model_catalog.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/pkg/azure/azure_client.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/pkg/qna/decision_tree.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/pkg/qna/prompt.go
  cli/azd/pkg/ux/multi_select.go
  cli/azd/pkg/ux/printer.go
  cli/azd/pkg/ux/select.go
  cli/azd/pkg/ux/spinner.go
Due: eng/pipelines/release-cli.yml

Adds support for model selection
  cli/azd/extensions/microsoft.azd.ai.builder/internal/cmd/start.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/pkg/azure/ai/model_catalog.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/pkg/azure/azure_client.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/pkg/qna/decision_tree.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/pkg/qna/prompt.go
  cli/azd/extensions/microsoft.azd.ai.builder/main.go
  cli/azd/pkg/prompt/prompt_service.go
Due: eng/pipelines/release-cli.yml

Adds questions & resource selection prompts
  cli/azd/extensions/microsoft.azd.ai.builder/internal/cmd/start.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/pkg/qna/decision_tree.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/pkg/qna/prompt.go
  cli/azd/internal/grpcserver/prompt_service.go
  cli/azd/pkg/prompt/prompt_models.go
  cli/azd/pkg/prompt/prompt_service.go
Due: eng/pipelines/release-cli.yml

Adds help and fixes
  cli/azd/extensions/microsoft.azd.ai.builder/build.sh
  cli/azd/extensions/microsoft.azd.ai.builder/internal/cmd/start.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/pkg/qna/decision_tree.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/pkg/qna/prompt.go
  cli/azd/pkg/ux/confirm.go
Due: eng/pipelines/release-cli.yml

WIP: Adding resources to composability
  cli/azd/cmd/container.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/cmd/root.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/cmd/start.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/pkg/azure/ai/model_catalog.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/pkg/azure/azure_client.go
  cli/azd/grpc/proto/compose.proto
  cli/azd/internal/grpcserver/compose_service.go
  cli/azd/internal/grpcserver/server.go
  cli/azd/internal/grpcserver/server_test.go
  cli/azd/pkg/azdext/azd_client.go
  cli/azd/pkg/azdext/compose.pb.go
Due: eng/pipelines/release-cli.yml

Adds support for state between questions
  cli/azd/extensions/microsoft.azd.ai.builder/internal/cmd/start.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/pkg/qna/decision_tree.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/pkg/qna/prompt.go
Due: eng/pipelines/release-cli.yml

Adds copy check
  cli/azd/extensions/microsoft.azd.ai.builder/internal/cmd/start.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/pkg/util/util.go
Due: eng/pipelines/release-cli.yml

Adds AI search vector store
  cli/azd/extensions/microsoft.azd.ai.builder/internal/cmd/start.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/pkg/util/util.go
Due: eng/pipelines/release-cli.yml

Fixes lint issues
  cli/azd/internal/grpcserver/project_service.go
Due: eng/pipelines/release-cli.yml

Fixes issues selected models that do not have default versions specified
  cli/azd/extensions/microsoft.azd.ai.builder/internal/cmd/start.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/pkg/azure/ai/model_catalog.go
Due: eng/pipelines/release-cli.yml

Adds workflow service and updates compose service
  cli/azd/.vscode/cspell.yaml
  cli/azd/cmd/container.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/cmd/start.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/pkg/azure/ai/model_catalog.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/pkg/azure/azure_client.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/pkg/qna/decision_tree.go
  cli/azd/grpc/proto/workflow.proto
  cli/azd/internal/grpcserver/compose_service.go
  cli/azd/internal/grpcserver/environment_service.go
  cli/azd/internal/grpcserver/server.go
  cli/azd/internal/grpcserver/server_test.go
  cli/azd/internal/grpcserver/workflow_service.go
  cli/azd/pkg/azdext/azd_client.go
  cli/azd/pkg/azdext/workflow.pb.go
  cli/azd/pkg/azdext/workflow_grpc.pb.go
Due: eng/pipelines/release-cli.yml

Adds WIP files for scaffolded services
  cli/azd/extensions/microsoft.azd.ai.builder/internal/cmd/start.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/pkg/qna/decision_tree.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/resources/resources.go
  cli/azd/extensions/microsoft.azd.ai.builder/internal/resources/scenarios/rag/chatbot/csharp/chatbot.csproj
  cli/azd/extensions/microsoft.azd.ai.builder/internal/resources/scenarios/rag/chatbot/csharp/main.cs
  cli/azd/extensions/microsoft.azd.ai.builder/internal/resources/scenarios/rag/chatbot/js/main.js
  cli/azd/extensions/microsoft.azd.ai.builder/internal/resources/scenarios/rag/chatbot/js/package.json
  cli/azd/extensions/microsoft.azd.ai.builder/internal/resources/scenarios/rag/chatbot/python/main.py
  cli/azd/extensions/microsoft.azd.ai.builder/internal/resources/scenarios/rag/chatbot/python/requirements.txt
  cli/azd/extensions/microsoft.azd.ai.builder/internal/resources/scenarios/rag/chatbot/ts/main.ts
  cli/azd/extensions/microsoft.azd.ai.builder/internal/resources/scenarios/rag/chatbot/ts/package.json
  cli/azd/extensions/microsoft.azd.ai.builder/internal/resources/scenarios/rag/webapp/csharp/main.cs
  cli/azd/extensions/microsoft.azd.ai.builder/internal/resources/scenarios/rag/webapp/csharp/webapp.csproj
  cli/azd/extensions/microsoft.azd.ai.builder/internal/resources/scenarios/rag/webapp/js/main.js
  cli/azd/extensions/microsoft.azd.ai.builder/internal/resources/scenarios/rag/webapp/js/package.json
  cli/azd/extensions/microsoft.azd.ai.builder/internal/resources/scenarios/rag/webapp/python/main.py
  cli/azd/extensions/microsoft.azd.ai.builder/internal/resources/scenarios/rag/webapp/python/requirements.txt
  cli/azd/extensions/microsoft.azd.ai.builder/internal/resources/scenarios/rag/webapp/ts/main.ts
  cli/azd/extensions/microsoft.azd.ai.builder/internal/resources/scenarios/rag/webapp/ts/package.json
  cli/azd/grpc/proto/project.proto
  cli/azd/internal/grpcserver/compose_service.go
  cli/azd/internal/grpcserver/environment_service.go
  cli/azd/internal/grpcserver/project_service.go
  cli/azd/pkg/azdext/project.pb.go
  cli/azd/pkg/azdext/project_grpc.pb.go
Due: eng/pipelines/release-cli.yml

Adds dependent resources uses blocks
  cli/azd/extensions/microsoft.azd.ai.builder/internal/cmd/start.go
Due: eng/pipelines/release-cli.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
