Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      demands: ImageOverride -equals windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-azdo-setupazd.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: BuildAndTest
        variables:
        - template: /eng/pipelines/templates/variables/image.yml
        jobs:
        - job: BuildSetupAzd
          displayName: BuildSetupAzd
          variables:
  ...

eng/pipelines/release-azuredevops.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/azuredevops-build-and-test.yml
      - template: /eng/pipelines/templates/stages/azuredevops-sign.yml
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-ai-agents
  ...

eng/pipelines/release-ext-azure-ai-models.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.models
          SanitizedExtensionId: azure-ai-models
  ...

eng/pipelines/release-ext-azure-appservice.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.appservice
          SanitizedExtensionId: azure-appservice
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

address feedback
  cli/azd/cmd/middleware/error.go
  cli/azd/cmd/middleware/error_test.go
Due: eng/pipelines/release-cli.yml

Update cli/azd/pkg/azdext/extension_host.go
  cli/azd/pkg/azdext/extension_host.go
Due: eng/pipelines/release-cli.yml

fix(azdext): satisfy lint and cspell checks
  cli/azd/.vscode/cspell.yaml
  cli/azd/pkg/azdext/resilient_http_client.go
Due: eng/pipelines/release-cli.yml

fix(login-to-github): address review thread hardening
  eng/common/actions/login-to-github/action.yml
  eng/common/scripts/login-to-github.ps1
Due: none

address feedback, update tests
  cli/azd/pkg/azdext/extension_host_test.go
Due: eng/pipelines/release-cli.yml

update comment
  cli/azd/pkg/azdext/extension_host.go
Due: eng/pipelines/release-cli.yml

handle bicep missing inputs
  cli/azd/cmd/middleware/ux.go
  cli/azd/extensions/azure.coding-agent/internal/cmd/mocks_azdinput_test.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/missing_inputs.go
  cli/azd/pkg/infra/provisioning/bicep/missing_inputs_test.go
  cli/azd/pkg/input/console.go
  cli/azd/test/mocks/mockinput/mock_console.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-coding-agent.yml

Revert "perf: skip redundant recursive traversal in provisioning progress pol…" (#6961)
  cli/azd/pkg/infra/provisioning_progress_display.go
Due: eng/pipelines/release-cli.yml

Simplify error troubleshooting workflow with two-step guidance (#6941)
  cli/azd/cmd/middleware/error.go
  cli/azd/cmd/middleware/error_test.go
Due: eng/pipelines/release-cli.yml

fix(azdext): remediate hack findings
  cli/azd/pkg/azdext/mcp_security.go
  cli/azd/pkg/azdext/pagination.go
Due: eng/pipelines/release-cli.yml

force patched versions
  ext/azuredevops/setupAzd/package-lock.json
  ext/azuredevops/setupAzd/package.json
Due: eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml

fix: update go.opentelemetry.io/otel/sdk to v1.40.0 (CVE-2026-24051)
  cli/azd/extensions/azure.coding-agent/go.mod
  cli/azd/extensions/azure.coding-agent/go.sum
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-coding-agent.yml

fix: update go.opentelemetry.io/otel/sdk to v1.40.0 (CVE-2026-24051) (#6966)
  cli/azd/extensions/azure.coding-agent/go.mod
  cli/azd/extensions/azure.coding-agent/go.sum
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-coding-agent.yml

force patched versions (#6965)
  ext/azuredevops/setupAzd/package-lock.json
  ext/azuredevops/setupAzd/package.json
Due: eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml

docs: 完善README文档
  README.md
Due: none

Add Microsoft.App/agents (SRE Agent) resource type support
  cli/azd/pkg/azapi/azure_resource_types.go
  cli/azd/pkg/azapi/azure_resource_types_test.go
Due: eng/pipelines/release-cli.yml

Add x-ms-correlation-request-id header and use azdext.Run for trace ID propagation
  cli/azd/extensions/azure.ai.finetune/internal/providers/factory/provider_factory.go
  cli/azd/extensions/azure.ai.finetune/main.go
Due: eng/pipelines/release-azd-extension.yml

Add x-ms-client-request-id header policy to azsdk and wire it into finetune extension pipelines
  cli/azd/extensions/azure.ai.finetune/internal/providers/factory/provider_factory.go
  cli/azd/pkg/azsdk/correlation_policy.go
  cli/azd/pkg/azsdk/correlation_policy_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Temp: Pick local azsdk changes for testing
  cli/azd/extensions/azure.ai.finetune/go.mod
  cli/azd/extensions/azure.ai.finetune/go.sum
Due: eng/pipelines/release-azd-extension.yml

Temp: Add debug log
  cli/azd/pkg/azsdk/correlation_policy.go
Due: eng/pipelines/release-cli.yml

Revert "Temp: Add debug log"
  cli/azd/pkg/azsdk/correlation_policy.go
Due: eng/pipelines/release-cli.yml

Revert "Temp: Pick local azsdk changes for testing"
  cli/azd/extensions/azure.ai.finetune/go.mod
  cli/azd/extensions/azure.ai.finetune/go.sum
Due: eng/pipelines/release-azd-extension.yml

fix: address copilot review feedback on PR 6954
  cli/azd/pkg/azdext/mcp_security.go
  cli/azd/pkg/azdext/mcp_security_test.go
  cli/azd/pkg/azdext/pagination.go
  cli/azd/pkg/azdext/pagination_test.go
  cli/azd/pkg/azdext/resilient_http_client.go
  cli/azd/pkg/azdext/resilient_http_client_test.go
  cli/azd/pkg/azdext/token_provider.go
Due: eng/pipelines/release-cli.yml

fix: address follow-up Copilot feedback on PR 6954
  cli/azd/pkg/azdext/mcp_security.go
  cli/azd/pkg/azdext/pagination.go
  cli/azd/pkg/azdext/pagination_test.go
  cli/azd/pkg/azdext/resilient_http_client.go
Due: eng/pipelines/release-cli.yml

Add commands for agent management and enhance functionality
  cli/azd/extensions/azure.ai.agents/internal/cmd/delete.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/deploy.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/dev.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_template.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_template_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/list.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/monitor.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/root.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/show.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/codes.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

add guidance for init flow
  cli/azd/cmd/init.go
  cli/azd/cmd/init_test.go
  cli/azd/test/functional/testdata/samples/funcapp/infra/main.bicep
  cli/azd/test/functional/testdata/samples/funcapp/infra/main.parameters.json
  cli/azd/test/mocks/mockinput/mock_console.go
Due: eng/pipelines/release-cli.yml

Some default handling updates for `azd ai agent init`
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/internal/grpcserver/prompt_service.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Add Microsoft.App/agents (SRE Agent) resource type support (#6968)
  cli/azd/pkg/azapi/azure_resource_types.go
  cli/azd/pkg/azapi/azure_resource_types_test.go
Due: eng/pipelines/release-cli.yml

fix security issue with playwright/test 1.49.1 (#6592)
  ext/vscode/package-lock.json
Due: eng/pipelines/release-vscode.yml

WIP
  cli/azd/cmd/container.go
  cli/azd/pkg/azapi/permissions.go
  cli/azd/pkg/azapi/permissions_test.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/infra/provisioning/bicep/local_preflight.go
  cli/azd/pkg/infra/provisioning/bicep/local_preflight_test.go
  cli/azd/pkg/infra/provisioning/bicep/role_assignment_check_test.go
Due: eng/pipelines/release-cli.yml

Clean up publish.yml
  eng/pipelines/templates/stages/publish.yml
Due: none

fix(azdext): address actionable main PR review items
  cli/azd/pkg/azdext/mcp_security.go
  cli/azd/pkg/azdext/mcp_security_test.go
  cli/azd/pkg/azdext/scope_detector.go
  cli/azd/pkg/azdext/token_provider.go
Due: eng/pipelines/release-cli.yml

Update cli/azd/cmd/middleware/error.go
  cli/azd/cmd/middleware/error.go
Due: eng/pipelines/release-cli.yml

Add support for new parameter for an existing model deployment
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/codes.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

cache by resource ID
  cli/azd/pkg/infra/provisioning_progress_display.go
Due: eng/pipelines/release-cli.yml

fix(azdext): address remaining maintainer review items
  cli/azd/pkg/azdext/mcp_security.go
  cli/azd/pkg/azdext/pagination.go
  cli/azd/pkg/azdext/pagination_test.go
  cli/azd/pkg/azdext/resilient_http_client.go
  cli/azd/pkg/azdext/resilient_http_client_test.go
Due: eng/pipelines/release-cli.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
