Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: go.mod, cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.foundry.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

updated with coding-agent v3
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

mapping
  cli/azd/extensions/azure.foundry.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_api/models.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_api/operations.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_yaml/map.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/request.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

go mod
  cli/azd/extensions/azure.foundry.ai.agents/go.mod
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

structure methods
  cli/azd/extensions/azure.foundry.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

change default
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_yaml/map.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

add kind
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_yaml/map.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Updated with coding-agent v0.3.0 (#5935)
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

fix auth scope
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_api/operations.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

time as string
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_api/models.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

create agent version instead
  cli/azd/extensions/azure.foundry.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix dates to int
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_api/models.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix dates to string for container
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_api/models.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Remove tests that aren't actually tests
  cli/azd/extensions/azure.foundry.ai.agents/tests/minimalDeclarative/.gitignore
  cli/azd/extensions/azure.foundry.ai.agents/tests/minimalDeclarative/azure.yaml
  cli/azd/extensions/azure.foundry.ai.agents/tests/minimalDeclarative/src/learn-french-agent/agent.yaml
  cli/azd/extensions/azure.foundry.ai.agents/tests/minimalHobo/.gitignore
  cli/azd/extensions/azure.foundry.ai.agents/tests/minimalHobo/azure.yaml
  cli/azd/extensions/azure.foundry.ai.agents/tests/minimalHobo/src/echo-agent/Dockerfile
  cli/azd/extensions/azure.foundry.ai.agents/tests/minimalHobo/src/echo-agent/agent.yaml
  cli/azd/extensions/azure.foundry.ai.agents/tests/minimalHobo/src/echo-agent/main.py
  cli/azd/extensions/azure.foundry.ai.agents/tests/minimalHobo/src/echo-agent/requirements.txt
  cli/azd/extensions/azure.foundry.ai.agents/tests/minimalHobo/src/echo-agent/wheels/azure_ai_agentshosting-0.0.1+g9cac45e.d251002-py3-none-any.whl
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

review comments
  cli/azd/extensions/azure.foundry.ai.agents/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix license
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_yaml/parse.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_yaml/parse_test.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_yaml/yaml.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_yaml/yaml_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

add words to dict
  .vscode/cspell-azd-dictionary.txt
Due: none

fix dict
  .vscode/cspell-azd-dictionary.txt
  cli/azd/.vscode/cspell-azd-dictionary.txt
Due: eng/pipelines/release-cli.yml

azd ai agent update latest yaml format (unstable) (#5933)
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/extensions/azure.foundry.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_api/models.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_api/operations.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_yaml/map.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_yaml/parse.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_yaml/parse_test.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_yaml/sample_integration_test.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_yaml/yaml.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_yaml/yaml_test.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/definition.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/request.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/azure.foundry.ai.agents/tests/go.sum
  cli/azd/extensions/azure.foundry.ai.agents/tests/minimalDeclarative/.gitignore
  cli/azd/extensions/azure.foundry.ai.agents/tests/minimalDeclarative/azure.yaml
  cli/azd/extensions/azure.foundry.ai.agents/tests/minimalDeclarative/src/learn-french-agent/agent.yaml
  cli/azd/extensions/azure.foundry.ai.agents/tests/samples/declarativeNoTools/agent.yaml
  cli/azd/extensions/azure.foundry.ai.agents/tests/samples/githubMcpAgent/agent.yaml
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

containerapp: fix check for resource exists
  cli/azd/pkg/project/service_target_containerapp.go
Due: eng/pipelines/release-cli.yml

Updates artifact rendering
  cli/azd/pkg/project/artifact.go
  cli/azd/pkg/project/mapper_registry.go
  cli/azd/pkg/project/service_manager.go
  cli/azd/pkg/project/service_models.go
Due: eng/pipelines/release-cli.yml

Test update progress
  cli/azd/extensions/azure.foundry.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/microsoft.azd.demo/internal/project/service_target_demo.go
  cli/azd/pkg/azdext/extension_host_test.go
  cli/azd/pkg/project/container_helper.go
  cli/azd/pkg/project/container_helper_test.go
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/framework_service_dotnet_test.go
  cli/azd/pkg/project/framework_service_maven_test.go
  cli/azd/pkg/project/framework_service_npm_test.go
  cli/azd/pkg/project/framework_service_python_test.go
  cli/azd/pkg/project/mapper_registry_test.go
  cli/azd/pkg/project/service_manager.go
  cli/azd/pkg/project/service_manager_test.go
  cli/azd/pkg/project/service_models_test.go
  cli/azd/pkg/project/service_target_ai_endpoint_test.go
  cli/azd/pkg/project/service_target_aks.go
  cli/azd/pkg/project/service_target_aks_test.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/pkg/project/service_target_containerapp_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml

Rebased and updates service context mappers
  cli/azd/pkg/project/mapper_registry.go
  cli/azd/pkg/project/mapper_registry_test.go
Due: eng/pipelines/release-cli.yml

Minor updates
  cli/azd/pkg/project/service_manager.go
  cli/azd/pkg/project/service_target_aks.go
  cli/azd/pkg/project/service_target_containerapp.go
Due: eng/pipelines/release-cli.yml

more test updates
  cli/azd/pkg/project/container_helper.go
Due: eng/pipelines/release-cli.yml

Updates copyright headers
  cli/azd/internal/grpcserver/container_service.go
  cli/azd/pkg/azdext/container.pb.go
  cli/azd/pkg/azdext/container_grpc.pb.go
Due: eng/pipelines/release-cli.yml

Fixes container helper tests
  cli/azd/pkg/project/container_helper.go
Due: eng/pipelines/release-cli.yml

Modernize tests
  cli/azd/pkg/project/service_target_ai_endpoint_test.go
  cli/azd/pkg/project/service_target_aks_test.go
Due: eng/pipelines/release-cli.yml

little improvements from PR
  cli/azd/cmd/auto_install.go
Due: eng/pipelines/release-cli.yml

Update extensions
  cli/azd/docs/extension-framework-services.md
  cli/azd/extensions/azure.coding-agent/internal/cmd/coding_agent_config.go
  cli/azd/extensions/azure.coding-agent/internal/cmd/coding_agent_config_test.go
  cli/azd/extensions/azure.foundry.ai.agents/go.mod
  cli/azd/extensions/azure.foundry.ai.agents/go.sum
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/definition.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/project/remote_build.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/microsoft.azd.demo/internal/project/framework_service_demo.go
  cli/azd/extensions/microsoft.azd.demo/internal/project/service_target_demo.go
  cli/azd/grpc/proto/framework_service.proto
  cli/azd/grpc/proto/service_target.proto
  cli/azd/internal/grpcserver/container_service.go
  cli/azd/pkg/azdext/framework_service.pb.go
  cli/azd/pkg/azdext/service_target.pb.go
  cli/azd/pkg/azdext/service_target_manager.go
  cli/azd/pkg/project/artifact.go
  cli/azd/pkg/project/framework_service_external.go
  cli/azd/pkg/project/framework_service_maven_test.go
  cli/azd/pkg/project/mapper_registry.go
  cli/azd/pkg/project/mapper_registry_test.go
  cli/azd/pkg/project/service_manager.go
  cli/azd/pkg/project/service_target_ai_endpoint_test.go
  cli/azd/pkg/project/service_target_aks.go
  cli/azd/pkg/project/service_target_appservice.go
  cli/azd/pkg/project/service_target_external.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml

Fixes buts on MCP tools for extensions
  cli/azd/extensions/azure.foundry.ai.agents/internal/tools/add_agent.go
  cli/azd/internal/mcp/host.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Removes extras
  cli/azd/extensions/azure.foundry.ai.agents/internal/tools/add_agent.go
  cli/azd/grpc/proto/service_target.proto
  cli/azd/pkg/azdext/service_target.pb.go
  cli/azd/pkg/project/mapper_registry.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Fixes lint errors
  cli/azd/extensions/azure.foundry.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_api/models.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_api/operations.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_yaml/map.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_yaml/parse.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_yaml/parse_test.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_yaml/sample_integration_test.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_yaml/yaml.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_yaml/yaml_test.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Add GitHub Copilot LLM Backend Integration (#5693)
  cli/azd/ci-build.ps1
  cli/azd/cmd/container.go
  cli/azd/cmd/github_copilot_registration.go
  cli/azd/cmd/github_copilot_registration_stub.go
  cli/azd/internal/agent/agent_factory.go
  cli/azd/pkg/llm/azure_openai.go
  cli/azd/pkg/llm/github_copilot.go
  cli/azd/pkg/llm/manager.go
  cli/azd/pkg/llm/model_factory.go
  cli/azd/pkg/llm/ollama.go
  eng/pipelines/release-cli.yml
  eng/pipelines/templates/jobs/build-cli.yml
  eng/pipelines/templates/jobs/build-scan-cli.yml
  eng/pipelines/templates/jobs/cross-build-cli.yml
  eng/pipelines/templates/stages/build-and-test.yml
Due: eng/pipelines/release-cli.yml

Soften diagnostic message for missing --environment flag (#5930)
  cli/azd/cmd/container.go
Due: eng/pipelines/release-cli.yml

Self code review updates
  cli/azd/cmd/build.go
  cli/azd/cmd/package.go
  cli/azd/cmd/testdata/TestUsage-azd-ai-agent.snap
  cli/azd/cmd/testdata/TestUsage-azd-ai.snap
  cli/azd/cmd/testdata/TestUsage-azd-x.snap
  cli/azd/internal/cmd/deploy.go
  cli/azd/internal/cmd/publish.go
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/project/framework_service_dotnet.go
  cli/azd/pkg/project/framework_service_maven.go
  cli/azd/pkg/project/framework_service_noop.go
  cli/azd/pkg/project/framework_service_npm.go
  cli/azd/pkg/project/mapper_registry.go
  cli/azd/pkg/project/service_manager.go
  cli/azd/pkg/project/service_models.go
  cli/azd/pkg/project/service_target_appservice.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/service_context_spec.md
  cli/azd/servicecontext_implementation_status.md
Due: eng/pipelines/release-cli.yml

containerapp: fix check for resource exists (#5939)
  cli/azd/pkg/project/service_target_containerapp.go
Due: eng/pipelines/release-cli.yml

Create changelog for v1.20.1 release (#5942)
  cli/azd/CHANGELOG.md
  cli/version.txt
Due: eng/pipelines/release-cli.yml

version 0.0.1 preview
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

Increment CLI version after release
  cli/azd/CHANGELOG.md
  cli/version.txt
Due: eng/pipelines/release-cli.yml
