Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      demands: ImageOverride -equals windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-azdo-setupazd.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: BuildAndTest
        variables:
        - template: /eng/pipelines/templates/variables/image.yml
        jobs:
        - job: BuildSetupAzd
          displayName: BuildSetupAzd
          variables:
  ...

eng/pipelines/release-azuredevops.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/azuredevops-build-and-test.yml
      - template: /eng/pipelines/templates/stages/azuredevops-sign.yml
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-ai-agents
  ...

eng/pipelines/release-ext-azure-ai-models.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.models
          SanitizedExtensionId: azure-ai-models
  ...

eng/pipelines/release-ext-azure-appservice.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.appservice
          SanitizedExtensionId: azure-appservice
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

fix: use case-insensitive matching for @Microsoft.KeyVault prefix
  cli/azd/pkg/keyvault/keyvault.go
Due: eng/pipelines/release-cli.yml

refactor: use t.Context() instead of context.Background() in tests
  cli/azd/pkg/azdext/keyvault_resolver_test.go
Due: eng/pipelines/release-cli.yml

test: add tests for ResolveSecretEnvironment and SecretFromKeyVaultReference
  cli/azd/pkg/keyvault/keyvault_test.go
Due: eng/pipelines/release-cli.yml

fix: remove sort.Strings(result) that breaks env var override semantics
  cli/azd/pkg/keyvault/keyvault.go
Due: eng/pipelines/release-cli.yml

test: add @Microsoft.KeyVault cases to IsSecretReference test
  cli/azd/pkg/azdext/keyvault_resolver_test.go
Due: eng/pipelines/release-cli.yml

test: consolidate HTTP error tests, add recording stub, test error collection
  cli/azd/pkg/azdext/keyvault_resolver_test.go
Due: eng/pipelines/release-cli.yml

refactor: use slices.Sorted(maps.Keys(...)) in ResolveMap
  cli/azd/pkg/azdext/keyvault_resolver.go
Due: eng/pipelines/release-cli.yml

fix: reject non-standard ports in @Microsoft.KeyVault SecretUri
  cli/azd/pkg/keyvault/keyvault.go
Due: eng/pipelines/release-cli.yml

fix: reject empty vault name when hostname equals a bare suffix
  cli/azd/pkg/keyvault/keyvault.go
Due: eng/pipelines/release-cli.yml

refactor: use errors.AsType per Go 1.26+ conventions
  cli/azd/pkg/azdext/keyvault_resolver.go
Due: eng/pipelines/release-cli.yml

fix: resolve CI failures — gofmt and missing mock method
  cli/azd/pkg/cmdsubst/cmdsubst_additional_test.go
  cli/azd/pkg/keyvault/keyvault_test.go
Due: eng/pipelines/release-cli.yml

fix: add ResolveEnvironment, VaultName format, and quote stripping to KeyVault resolver
  cli/azd/.vscode/cspell.yaml
  cli/azd/pkg/azdext/keyvault_resolver.go
  cli/azd/pkg/azdext/keyvault_resolver_test.go
Due: eng/pipelines/release-cli.yml

Add telemetry tracking with unique rule/diagnostic IDs for preflight validation (#7114)
  cli/azd/internal/tracing/events/events.go
  cli/azd/internal/tracing/fields/fields.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/infra/provisioning/bicep/local_preflight.go
  cli/azd/pkg/infra/provisioning/bicep/local_preflight_test.go
  cli/azd/pkg/output/ux/preflight_report.go
Due: eng/pipelines/release-cli.yml

azure.ai.agents - remove COBO code and skip `postdeploy` handler when no agents are present (#7373)
  cli/azd/extensions/azure.ai.agents/go.mod
  cli/azd/extensions/azure.ai.agents/go.sum
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.agents/internal/project/agent_identity_rbac.go
  cli/azd/extensions/azure.ai.agents/internal/project/parser.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Add `allowed_locations` to `PromptLocation` and improve AI model capacity resolution
  cli/azd/grpc/proto/prompt.proto
  cli/azd/internal/grpcserver/prompt_service.go
  cli/azd/internal/grpcserver/prompt_service_test.go
  cli/azd/pkg/ai/model_service.go
  cli/azd/pkg/ai/model_service_test.go
  cli/azd/pkg/azdext/prompt.pb.go
  cli/azd/pkg/prompt/prompt_service.go
  cli/azd/pkg/prompt/prompt_service_test.go
Due: eng/pipelines/release-cli.yml

Address comments
  cli/azd/pkg/prompt/prompt_service.go
Due: eng/pipelines/release-cli.yml

Update CHANGELOG for version 0.1.19-preview
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Address additional round of comments
  cli/azd/pkg/ai/model_service.go
  cli/azd/pkg/ai/model_service_test.go
  cli/azd/pkg/prompt/prompt_service_test.go
Due: eng/pipelines/release-cli.yml

Address PR review feedback
  cli/azd/.vscode/cspell.yaml
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/infra/provisioning/bicep/local_preflight_test.go
Due: eng/pipelines/release-cli.yml

test: address wbreza re-review — fix data race, modernize test patterns (t.Context, errors.AsType, wg.Go)
  cli/azd/pkg/azdext/keyvault_resolver_test.go
Due: eng/pipelines/release-cli.yml

fix 7104
  cli/azd/cmd/middleware/error.go
  cli/azd/cmd/middleware/error_test.go
  cli/azd/cmd/middleware/middleware_coverage_test.go
  cli/azd/cmd/middleware/templates/explain.tmpl
  cli/azd/cmd/middleware/templates/fix.tmpl
  cli/azd/cmd/middleware/templates/troubleshoot_fixable.tmpl
Due: eng/pipelines/release-cli.yml

Add input validation to gRPC service implementations
  cli/azd/internal/grpcserver/account_service.go
  cli/azd/internal/grpcserver/compose_service.go
  cli/azd/internal/grpcserver/container_service.go
  cli/azd/internal/grpcserver/copilot_service.go
  cli/azd/internal/grpcserver/environment_service.go
  cli/azd/internal/grpcserver/event_service.go
  cli/azd/internal/grpcserver/event_service_test.go
  cli/azd/internal/grpcserver/prompt_service.go
Due: eng/pipelines/release-cli.yml

update tests
  cli/azd/cmd/middleware/error_test.go
  cli/azd/cmd/middleware/middleware_coverage_test.go
Due: eng/pipelines/release-cli.yml

add comment
  cli/azd/cmd/middleware/error.go
Due: eng/pipelines/release-cli.yml

Remove unnecessary req == nil checks from gRPC handlers
  cli/azd/internal/grpcserver/account_service.go
  cli/azd/internal/grpcserver/container_service.go
  cli/azd/internal/grpcserver/environment_service.go
Due: eng/pipelines/release-cli.yml

Add test coverage for gRPC input validation checks
  cli/azd/internal/grpcserver/compose_service_test.go
  cli/azd/internal/grpcserver/environment_service_test.go
  cli/azd/internal/grpcserver/event_service_test.go
  cli/azd/internal/grpcserver/prompt_service_test.go
Due: eng/pipelines/release-cli.yml

Add Go module versioning to ship SDK with CLI releases
  cli/azd/AGENTS.md
  cli/azd/docs/sdk-versioning.md
  cli/azd/pkg/azdext/version.go
  eng/pipelines/templates/steps/publish-cli.yml
  eng/scripts/Update-CliVersion.ps1
Due: eng/pipelines/release-cli.yml

Use proper gRPC status codes for service errors
  cli/azd/internal/grpcserver/container_service.go
  cli/azd/internal/grpcserver/prompt_service.go
Due: eng/pipelines/release-cli.yml

Address @jongio review feedback
  .github/skills/changelog-generation/SKILL.md
  .github/skills/changelog-generation/references/pr-processing.md
  .github/skills/changelog-generation/references/scope-rules.md
Due: none

Address PR review feedback: fix line endings and race condition
  eng/pipelines/templates/steps/publish-cli.yml
  eng/scripts/Update-CliVersion.ps1
Due: none

feat(azdext): Add KeyVault resolver for extension secret resolution (#7043)
  cli/azd/.vscode/cspell.yaml
  cli/azd/cmd/extensions.go
  cli/azd/pkg/azdext/keyvault_resolver.go
  cli/azd/pkg/azdext/keyvault_resolver_test.go
  cli/azd/pkg/cmdsubst/cmdsubst_additional_test.go
  cli/azd/pkg/keyvault/keyvault.go
  cli/azd/pkg/keyvault/keyvault_test.go
Due: eng/pipelines/release-cli.yml

docs: document extension authoring models — SDK-Managed vs Self-Managed
  cli/azd/docs/extensions/extension-authoring-models.md
  cli/azd/docs/extensions/extensions-style-guide.md
Due: eng/pipelines/release-cli.yml

Address second round of PR feedback
  cli/azd/internal/tracing/fields/fields.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
Due: eng/pipelines/release-cli.yml

Validate command initial changes
  cli/azd/extensions/azure.ai.customtraining/internal/cmd/job.go
  cli/azd/extensions/azure.ai.customtraining/internal/cmd/job_validate.go
  cli/azd/extensions/azure.ai.customtraining/internal/utils/job_validator.go
Due: eng/pipelines/release-azd-extension.yml

Validate existence of local paths
  cli/azd/extensions/azure.ai.customtraining/internal/cmd/job_validate.go
  cli/azd/extensions/azure.ai.customtraining/internal/utils/job_validator.go
Due: eng/pipelines/release-azd-extension.yml

Add validation for placeholder mapping
  cli/azd/extensions/azure.ai.customtraining/internal/utils/job_validator.go
Due: eng/pipelines/release-azd-extension.yml

Add unit tests
  cli/azd/extensions/azure.ai.customtraining/internal/utils/job_validator_test.go
Due: eng/pipelines/release-azd-extension.yml

Show warning if output definition is empty
  cli/azd/extensions/azure.ai.customtraining/internal/utils/job_validator.go
  cli/azd/extensions/azure.ai.customtraining/internal/utils/job_validator_test.go
Due: eng/pipelines/release-azd-extension.yml

Nit
  cli/azd/extensions/azure.ai.customtraining/internal/utils/job_validator_test.go
Due: eng/pipelines/release-azd-extension.yml

Nit
  cli/azd/extensions/azure.ai.customtraining/internal/cmd/job_validate.go
Due: eng/pipelines/release-azd-extension.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
