Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

feat(inspector): refresh embedded UI assets (#9860)
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/index-BlnGok1N.js
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/assets/index-DQcr_vS_.js
  cli/azd/extensions/azure.ai.inspector/internal/inspector/assets/index.html
Due: eng/pipelines/release-azd-extension.yml

chore: update owner for azd pkg foundry
  .github/CODEOWNERS
Due: none

fix: collect dedicated follow-up with stable order
  cli/azd/cmd/middleware/ux_test.go
  cli/azd/docs/extensions/extension-framework.md
  cli/azd/docs/extensions/extension-sdk-reference.md
  cli/azd/grpc/proto/event.proto
  cli/azd/internal/commandresult/follow_up.go
  cli/azd/internal/commandresult/follow_up_test.go
  cli/azd/internal/grpcserver/event_service.go
  cli/azd/internal/grpcserver/event_service_test.go
  cli/azd/pkg/azdext/event.pb.go
  cli/azd/pkg/azdext/event_manager.go
  cli/azd/pkg/azdext/event_manager_test.go
  docs/architecture/extension-framework.md
  docs/guides/creating-an-extension.md
Due: eng/pipelines/release-cli.yml

fix(ai-agents): reuse existing models for prompt adoption
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): reject voice wrapper protocols
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse_voice_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/agent_definition.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
  cli/azd/extensions/azure.ai.agents/schemas/azure.ai.agent.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

refactor: toolbox and connection
  cli/azd/extensions/azure.ai.agents/README.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/resolver.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/nextstep/resolver_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/pending_provision.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/pending_provision_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/resource_services.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/resource_services_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_dependencies.go
  cli/azd/extensions/azure.ai.agents/internal/project/foundry_dependencies_test.go
  cli/azd/extensions/azure.ai.agents/internal/synthesis/synthesizer.go
  cli/azd/extensions/azure.ai.connections/README.md
  cli/azd/extensions/azure.ai.connections/internal/cmd/connection.go
  cli/azd/extensions/azure.ai.connections/internal/cmd/service_target.go
  cli/azd/extensions/azure.ai.connections/internal/cmd/service_target_test.go
  cli/azd/extensions/azure.ai.projects/README.md
  cli/azd/extensions/azure.ai.projects/internal/provisioning/foundry_provisioning_provider.go
  cli/azd/extensions/azure.ai.projects/internal/provisioning/foundry_provisioning_provider_resolveenv_test.go
  cli/azd/extensions/azure.ai.projects/internal/provisioning/foundry_provisioning_provider_test.go
  cli/azd/extensions/azure.ai.projects/internal/synthesis/synthesizer.go
  cli/azd/extensions/azure.ai.projects/internal/synthesis/synthesizer_test.go
  cli/azd/extensions/azure.ai.toolboxes/README.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat(ai): add attached resumable Responses invoke (#9703)
  cli/azd/extensions/azure.ai.agents/docs/specs/long-running-agent-invoke.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/delete.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_background.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_background_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_response_store.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_response_store_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_responses_stream.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_responses_stream_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/monitor_format.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/codes.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat(ai): reconnect and cancel background Responses
  cli/azd/extensions/azure.ai.agents/internal/cmd/agent_endpoint.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/agent_endpoint_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_background.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_background_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_responses_stream.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_responses_stream_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(ai): classify response lifecycle HTTP failures
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_background.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_background_test.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/codes.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

refactor(ai): use positional agent for response lifecycle
  cli/azd/extensions/azure.ai.agents/docs/specs/long-running-agent-invoke.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_background_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat(ai): steer background Responses
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_background_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_response_steer.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_response_steer_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat(ai): retrieve the latest saved Invocation
  cli/azd/extensions/azure.ai.agents/internal/cmd/agent_endpoint.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_background_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_invocation_resume.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_invocation_store.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_invocation_store_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_response_store_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(ai): finalize steering UX and errors
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_background.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_background_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_response_steer.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/codes.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

test(ai): align Invocation resume selection
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_background_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

refactor(ai): separate steering from resume
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_background_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_response_steer.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_response_steer_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(ai): validate Invocation resume modes
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_background_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_invocation_resume.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

refactor: toolbox and connection
  cli/azd/extensions/azure.ai.connections/internal/cmd/connection.go
  cli/azd/extensions/azure.ai.connections/internal/cmd/connection_context.go
  cli/azd/extensions/azure.ai.connections/internal/cmd/connection_test.go
  cli/azd/extensions/azure.ai.connections/internal/cmd/raw_connection.go
  cli/azd/extensions/azure.ai.connections/internal/cmd/root.go
  cli/azd/extensions/azure.ai.connections/internal/cmd/service_target.go
  cli/azd/extensions/azure.ai.connections/internal/cmd/service_target_test.go
  cli/azd/extensions/azure.ai.connections/internal/foundry/projectctx/resolver.go
  cli/azd/extensions/azure.ai.connections/internal/foundry/projectctx/resolver_test.go
  cli/azd/extensions/azure.ai.connections/internal/foundry/projectctx/types.go
Due: eng/pipelines/release-azd-extension.yml

refactor: toolbox and connection
  cli/azd/extensions/azure.ai.connections/README.md
  cli/azd/extensions/azure.ai.connections/internal/cmd/connection_context.go
  cli/azd/extensions/azure.ai.connections/internal/cmd/connection_context_test.go
  cli/azd/extensions/azure.ai.connections/internal/cmd/service_target.go
  cli/azd/extensions/azure.ai.connections/internal/cmd/service_target_test.go
  cli/azd/extensions/azure.ai.connections/internal/foundry/projectctx/resolver_test.go
Due: eng/pipelines/release-azd-extension.yml

fix(agents): reject hosted voice fields on hosted agents
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse_voice_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: hash extension cause types in telemetry
  cli/azd/cmd/telemetry_test.go
  cli/azd/docs/extensions/extension-sdk-reference.md
  cli/azd/docs/extensions/extensions-style-guide.md
  cli/azd/grpc/proto/errors.proto
  cli/azd/internal/cmd/errors.go
  cli/azd/internal/cmd/errors_test.go
  cli/azd/internal/tracing/fields/fields.go
  cli/azd/pkg/azdext/errors.pb.go
  cli/azd/pkg/azdext/extension_error.go
  cli/azd/pkg/errorchain/errorchain.go
  docs/reference/telemetry-data.md
  docs/specs/metrics-audit/feature-telemetry-matrix.md
  docs/specs/metrics-audit/privacy-review-checklist.md
  docs/specs/metrics-audit/telemetry-schema.md
Due: eng/pipelines/release-cli.yml

[azure.ai.rle] Nightly registry update for 0.4.0-preview.nightly.6783529
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.connections] Nightly registry update for 1.0.0-beta.5.nightly.6783543
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.inspector] Nightly registry update for 1.0.0-beta.5.nightly.6783557
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.routines] Nightly registry update for 1.0.0-beta.4.nightly.6783614
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.projects] Nightly registry update for 1.0.0-beta.8.nightly.6783609
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.skills] Nightly registry update for 1.0.0-beta.4.nightly.6783644
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

[azure.ai.toolboxes] Nightly registry update for 1.0.0-beta.5.nightly.6783691
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

feat(ai-agents): support greenfield prompt agent init
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_adopt_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_managed_foundry.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_models.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: remove unused delegated project contract
  cli/azd/extensions/azure.ai.projects/internal/cmd/delegated_contract.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_add.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_add_context_test.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_deployment.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_deployment_add.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_deployment_add_test.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_output.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_ownership_test.go
Due: eng/pipelines/release-azd-extension.yml

feat(agents): accept voice authoring kind
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code_reuse.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/map.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parse_voice_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/yaml.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agentkind/agentkind.go
  cli/azd/extensions/azure.ai.agents/internal/project/agent_definition.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent_test.go
  cli/azd/extensions/azure.ai.agents/schemas/azure.ai.agent.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(agents): use preferred voice kind in docs
  cli/azd/extensions/azure.ai.agents/README.md
  cli/azd/extensions/azure.ai.agents/internal/project/agent_definition.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Describe AZD_EXT_DEBUG once, where it belongs
  cli/azd/docs/environment-variables.md
  cli/azd/extensions/azure.ai.dataset/README.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Describe AZD_EXT_DEBUG once, where it belongs
  cli/azd/docs/environment-variables.md
  cli/azd/extensions/azure.ai.evaluations/README.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Keep written artifacts private, and whole
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/generate.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/output.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run.go
  cli/azd/extensions/azure.ai.evaluations/internal/cmd/run_output.go
Due: eng/pipelines/release-azd-extension.yml

fix(extensions): clarify insecure redirect warning
  cli/azd/cmd/extension.go
  cli/azd/cmd/extension_bundle_test.go
Due: eng/pipelines/release-cli.yml

fix(extensions): deduplicate redirect warnings
  cli/azd/cmd/extension.go
  cli/azd/cmd/extension_bundle_test.go
Due: eng/pipelines/release-cli.yml

[microsoft.azd.demo] Nightly registry update for 0.8.0-nightly.6786411
  cli/azd/extensions/registry.nightly.json
Due: eng/pipelines/release-azd-extension.yml

Address protobuf review feedback
  .github/workflows/cli-ci.yml
  cli/azd/docs/extensions/extension-framework.md
  cli/azd/extensions/microsoft.azd.ai.builder/extension.yaml
  cli/azd/extensions/microsoft.azd.demo/extension.yaml
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/dotnet/AzdClient.cs
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/javascript/azdClient.js
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/javascript/generated/proto/compose_grpc_pb.js
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/javascript/generated/proto/compose_pb.js
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/proto/compose.proto
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/python/azd_client.py
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/python/generated_proto/compose_pb2.py
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/python/generated_proto/compose_pb2_grpc.py
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/resources_test.go
  cli/azd/internal/grpcserver/legacybridge/bridge.go
  cli/azd/internal/grpcserver/legacybridge/bridge_test.go
  cli/azd/internal/grpcserver/server_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

Use version-neutral contract alias
  cli/azd/cmd/middleware/extensions_start_test.go
Due: eng/pipelines/release-cli.yml
