Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/build-notice.yml:
  jobs:
  - job: PoliCheck
    pool:
      name: azsdk-pool
      demands: ImageOverride -equals windows-2022
    timeoutInMinutes: 120
    steps:
    - template: /eng/common/pipelines/templates/steps/policheck.yml
      parameters:
        ExclusionDataBaseFileName: AzDevPoliCheckExclusion
  ...

eng/pipelines/release-azd-extension.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test-azd-extension.yml
        parameters:
          AzdExtensionId: ${{ parameters.AzdExtensionId }}
  ...

eng/pipelines/release-azdo-setupazd.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - stage: BuildAndTest
        variables:
        - template: /eng/pipelines/templates/variables/image.yml
        jobs:
        - job: BuildSetupAzd
          displayName: BuildSetupAzd
          variables:
  ...

eng/pipelines/release-azuredevops.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/azuredevops-build-and-test.yml
      - template: /eng/pipelines/templates/stages/azuredevops-sign.yml
  ...

eng/pipelines/release-cli.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/build-and-test.yml
        parameters:
          BuildMatrix:
            Windows:
              Pool: $(WINDOWSPOOL)
              OSVmImage: $(WINDOWSVMIMAGE)
  ...

eng/pipelines/release-ext-azure-ai-agents.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.agents
          SanitizedExtensionId: azure-ai-agents
  ...

eng/pipelines/release-ext-azure-ai-models.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.ai.models
          SanitizedExtensionId: azure-ai-models
  ...

eng/pipelines/release-ext-azure-appservice.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      stages:
      - template: /eng/pipelines/templates/stages/release-azd-extension.yml
        parameters:
          AzdExtensionId: azure.appservice
          SanitizedExtensionId: azure-appservice
  ...

eng/pipelines/release-ext-demo.yml:
  extends:
    template: /eng/pipelines/templates/stages/release-azd-extension.yml
    parameters:
      AzdExtensionId: microsoft.azd.demo
      SanitizedExtensionId: microsoft-azd-demo
      AzdExtensionDirectory: cli/azd/extensions/microsoft.azd.demo

review feedback
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: Recognize Copilot CLI
  cli/azd/cmd/auto_install_integration_test.go
  cli/azd/cmd/auto_install_test.go
  cli/azd/internal/runcontext/agentdetect/detect_env.go
  cli/azd/internal/runcontext/agentdetect/detect_test.go
  cli/azd/internal/terminal/terminal_test.go
Due: eng/pipelines/release-cli.yml

Potential fix for pull request finding
  cli/azd/extensions/azure.ai.foundry/README.md
Due: eng/pipelines/release-azd-extension.yml

Address feedback and remove "Local extension source already exists." message
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/init.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/init_test.go
  cli/azd/extensions/microsoft.azd.extensions/internal/resources/languages/go/internal/cmd/root.go.tmpl
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

Temp
  eng/pipelines/templates/stages/publish-extension.yml
Due: none

Remove unnecessary properties for meta package
  cli/azd/extensions/azure.ai.foundry/extension.yaml
Due: eng/pipelines/release-azd-extension.yml

Allow AI agent invoke to target versions (#8233)
  cli/azd/extensions/azure.ai.agents/internal/cmd/agent_endpoint_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/invoke_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

[azure.ai.agents] Dev registry update for 0.1.32-preview
  cli/azd/extensions/registry.dev.json
Due: eng/pipelines/release-azd-extension.yml

fix: Recognize Copilot CLI (#8249)
  cli/azd/cmd/auto_install_integration_test.go
  cli/azd/cmd/auto_install_test.go
  cli/azd/internal/runcontext/agentdetect/detect_env.go
  cli/azd/internal/runcontext/agentdetect/detect_test.go
  cli/azd/internal/terminal/terminal_test.go
Due: eng/pipelines/release-cli.yml

Address feedback
  .github/workflows/extension-pr-labeler.md
Due: none

update nit
  cli/azd/pkg/tool/detector.go
  cli/azd/pkg/tool/manifest_test.go
Due: eng/pipelines/release-cli.yml

minor version
  cli/azd/extensions/azure.ai.agents/azd_observability_bugbash.md
  cli/azd/extensions/azure.ai.agents/extension.yaml
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_init_jobs.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_init_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_list.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_run.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_show.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_update.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_config.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/models.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/poller.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/opteval/yaml.go
  cli/azd/extensions/azure.ai.agents/version.txt
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

add azd tool telemetry
  cli/azd/.vscode/cspell.yaml
  cli/azd/cmd/middleware/tool_first_run.go
  cli/azd/cmd/middleware/tool_first_run_test.go
  cli/azd/cmd/telemetry_coverage_test.go
  cli/azd/cmd/tool.go
  cli/azd/cmd/tool_test.go
  cli/azd/docs/tracing-in-azd.md
  cli/azd/internal/tracing/fields/fields.go
Due: eng/pipelines/release-cli.yml

feat(skills): materialize SKILL.md for blob-less downloads
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_download.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_download_test.go
  cli/azd/extensions/azure.ai.skills/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/skill_md.go
  cli/azd/extensions/azure.ai.skills/internal/pkg/skill_api/skill_md_test.go
Due: eng/pipelines/release-azd-extension.yml

refactor(skills): rename skill_client.go to skill_context.go
  cli/azd/extensions/azure.ai.skills/internal/cmd/skill_context.go
Due: eng/pipelines/release-azd-extension.yml

fix: clear SKIP_ACR when container deploy to avoid stale env state
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

refactor: extract setACREnvVar helper, rename to AZD_AGENT_SKIP_ACR, add tests
  cli/azd/docs/environment-variables.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/helpers_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

new version
  cli/azd/extensions/azure.ai.agents/extension.yaml
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_init_jobs.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_init_prompts.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_apply.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_config.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/eval_config.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/portal_urls.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/opteval/yaml.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/optimize_api/models.go
  cli/azd/extensions/azure.ai.agents/version.txt
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(routines): address PR review feedback
  cli/azd/extensions/azure.ai.routines/internal/cmd/endpoint.go
  cli/azd/extensions/azure.ai.routines/internal/cmd/endpoint_test.go
  cli/azd/extensions/azure.ai.routines/internal/cmd/routine_create.go
  cli/azd/extensions/azure.ai.routines/internal/cmd/routine_create_test.go
  cli/azd/extensions/azure.ai.routines/internal/cmd/routine_helpers.go
  cli/azd/extensions/azure.ai.routines/internal/cmd/routine_manifest.go
Due: eng/pipelines/release-azd-extension.yml

chore: azd ai inspector launch
  cli/azd/extensions/azure.ai.inspector/.gitattributes
  cli/azd/extensions/azure.ai.inspector/AGENTS.md
  cli/azd/extensions/azure.ai.inspector/README.md
  cli/azd/extensions/azure.ai.inspector/ci-build.ps1
  cli/azd/extensions/azure.ai.inspector/extension.yaml
  cli/azd/extensions/azure.ai.inspector/internal/cmd/inspector.go
  cli/azd/extensions/azure.ai.inspector/internal/cmd/root.go
  cli/azd/extensions/azure.ai.inspector/internal/cmd/root_test.go
Due: eng/pipelines/release-azd-extension.yml

fix: version
  cli/azd/extensions/azure.ai.inspector/internal/cmd/root.go
  cli/azd/extensions/azure.ai.inspector/internal/cmd/version.go
Due: eng/pipelines/release-azd-extension.yml

fix(hooks): restore lifecycle hook output visibility during azd up
  cli/azd/internal/cmd/up_graph.go
  cli/azd/pkg/input/console_test.go
Due: eng/pipelines/release-cli.yml

fix: address CI issues - cspell, gosec, go fix modernization
  cli/azd/.vscode/cspell.yaml
  cli/azd/extensions/azure.ai.agents/internal/project/agentignore.go
  cli/azd/extensions/azure.ai.agents/internal/project/agentignore_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

refactor: clean up security exclusions list and add nested path tests
  cli/azd/extensions/azure.ai.agents/internal/project/agentignore.go
  cli/azd/extensions/azure.ai.agents/internal/project/agentignore_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat: add .agentignore support for agent code deploy packaging (#8170)
  cli/azd/extensions/azure.ai.agents/go.mod
  cli/azd/extensions/azure.ai.agents/go.sum
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/project/agentignore.go
  cli/azd/extensions/azure.ai.agents/internal/project/agentignore_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: always exclude metadata files (agent.yaml, azure.yaml) from code package
  cli/azd/extensions/azure.ai.agents/internal/project/agentignore.go
  cli/azd/extensions/azure.ai.agents/internal/project/agentignore_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

refactor: address review comments on .agentignore implementation
  cli/azd/extensions/azure.ai.agents/go.mod
  cli/azd/extensions/azure.ai.agents/go.sum
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/project/agentignore.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat: show polling attempt progress during waitForAgentActive
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

refactor: remove forced exclusions, use raw string for defaults
  cli/azd/extensions/azure.ai.agents/internal/project/agentignore.go
  cli/azd/extensions/azure.ai.agents/internal/project/agentignore_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: apply go fix modernization (slices.Contains)
  cli/azd/extensions/azure.ai.agents/internal/project/agentignore.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

chore: shorten polling progress message for better terminal display
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

refactor: address reviewer feedback on .agentignore (ctx param, exterrors, symlinks, cspell scope, discoverability)
  cli/azd/.vscode/cspell.yaml
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/cspell.yaml
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/project/agentignore.go
  cli/azd/extensions/azure.ai.agents/internal/project/agentignore_test.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat(azure.ai.projects): address PR 8243 review feedback
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/project.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/project_context_store.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/project_set.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/project_set_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/project_show.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/project_show_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/project_unset.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/project_unset_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/root.go
  cli/azd/extensions/azure.ai.projects/CHANGELOG.md
  cli/azd/extensions/azure.ai.projects/cspell.yaml
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_context_store.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_endpoint.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_resolver.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_resolver_test.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_set.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_show.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_unset.go
  cli/azd/extensions/azure.ai.projects/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.projects/internal/exterrors/errors.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat: auto launch inspector in azd ai agent run
  cli/azd/extensions/azure.ai.agents/internal/cmd/run.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/run_test.go
  cli/azd/extensions/azure.ai.inspector/internal/cmd/inspector.go
  cli/azd/extensions/azure.ai.inspector/internal/cmd/root_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(azure.ai.agents): bridge resolver to new extensions.ai-projects.context key
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/project_context_store.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: address inspector review comments
  cli/azd/extensions/azure.ai.inspector/ci-build.ps1
  cli/azd/extensions/azure.ai.inspector/internal/cmd/debug.go
  cli/azd/extensions/azure.ai.inspector/internal/cmd/inspector.go
  cli/azd/extensions/azure.ai.inspector/internal/cmd/inspector_test.go
  cli/azd/extensions/azure.ai.inspector/internal/cmd/root.go
  cli/azd/extensions/azure.ai.inspector/internal/inspector/proxy_sse.go
  cli/azd/extensions/azure.ai.inspector/internal/inspector/rpc.go
  cli/azd/extensions/azure.ai.inspector/internal/inspector/server.go
Due: eng/pipelines/release-azd-extension.yml

chore: revert CHANGELOG edits and tighten new comments
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/internal/cmd/project_context_store.go
  cli/azd/extensions/azure.ai.projects/CHANGELOG.md
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_context_store.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_endpoint.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_resolver.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_resolver_test.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_show.go
  cli/azd/extensions/azure.ai.projects/internal/exterrors/errors.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Add polling for job deletion | Add a --no-wait flag
  cli/azd/extensions/azure.ai.training/internal/cmd/job_delete.go
  cli/azd/extensions/azure.ai.training/pkg/client/jobs.go
Due: eng/pipelines/release-azd-extension.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
