Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-azdo-setupazd.yml, eng/pipelines/release-azuredevops.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-ai-models.yml, eng/pipelines/release-ext-azure-appservice.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-concurx.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-azdo-setupazd.yml: any of: ext/azuredevops, eng/pipelines/release-azdo-setupazd.yml
  eng/pipelines/release-azuredevops.yml: any of: ext/azuredevops, eng/pipelines/release-azuredevops.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-ai-models.yml: any of: go.mod, cli/azd/extensions/azure.ai.models, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-appservice.yml: any of: go.mod, cli/azd/extensions/azure.appservice, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml: any of: cli/azd/extensions/microsoft.azd.concurx, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

Update test
  cli/azd/pkg/extensions/registry_files_test.go
Due: eng/pipelines/release-cli.yml

Address feedback
  eng/pipelines/templates/stages/publish-extension.yml
Due: none

Update for training extension
  eng/pipelines/release-ext-azure-ai-training.yml
Due: none

docs: add design spec for RemoteA2A connection support and catalog integration
  cli/azd/docs/design/azd-connection-remotea2a-catalog.md
Due: eng/pipelines/release-cli.yml

Changes for an update only route, currently scaffold
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: remove deprecated runtimes (Python 3.11/3.12, .NET 8/9) from agent init (#8293)
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

docs: address review feedback - auth type expansion, fix inaccuracies
  cli/azd/docs/design/azd-connection-remotea2a-catalog.md
  files/pr-8174-review-fixes-findings.md
Due: eng/pipelines/release-cli.yml

refactor: decouple Foundry project selection from model configuration in agent init (#8292)
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_models.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

deployment logic
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/listen_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_deploy.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_helpers_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/optimize_api/client.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/optimize_api/client_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/optimize_api/models.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/optimize_api/models_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

docs: add POC test results, fix auth type inventory per ARM validation
  cli/azd/docs/design/azd-connection-remotea2a-catalog.md
  cli/azd/extensions/azure.ai.agents/internal/connections/cmd/connection.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

chore: remove @jongio from CODEOWNERS (#8301)
  .github/CODEOWNERS
Due: none

review version
  cli/azd/extensions/azure.ai.agents/azd_observability_bugbash.md
  cli/azd/extensions/azure.ai.agents/extension.yaml
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_init_prompts.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_init_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/yaml.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/generation.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/generation_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/opteval/yaml_test.go
  cli/azd/extensions/azure.ai.agents/version.txt
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

change back
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

fix conflict
  cli/azd/extensions/azure.ai.agents/internal/cmd/root.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

docs: add identity auth POC results, connector registry clarification
  cli/azd/docs/design/azd-connection-remotea2a-catalog.md
Due: eng/pipelines/release-cli.yml

fix: revert POC code changes, fix doc issues per review
  cli/azd/docs/design/azd-connection-remotea2a-catalog.md
  cli/azd/extensions/azure.ai.agents/internal/connections/cmd/connection.go
  files/pr-8174-review-fixes-findings.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Use selected agent name for service entry when resolving Foundry name conflict (#8298)
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

add 'azd ai agent sample list' to browse templates and improve non-interactive init (#8266)
  cli/azd/extensions/azure.ai.agents/internal/cmd/index_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_foundry_resources_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_code.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_from_templates_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_models.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/root.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/sample.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/sample_list.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/sample_list_test.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/errors.go
  cli/azd/extensions/azure.ai.agents/internal/exterrors/errors_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/agent_yaml/parameters.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Remove 0.25 CPU option for hosted agents (#8271)
  cli/azd/extensions/azure.ai.agents/internal/project/config.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Remove hardcoded invoke suggestion from `azd ai agent run` (#7898)
  cli/azd/extensions/azure.ai.agents/internal/cmd/run.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Add patch logic
  cli/azd/extensions/azure.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Add support for updating dev registry in extension release pipelines (#8259)
  cli/azd/pkg/extensions/registry_files_test.go
  eng/pipelines/release-ext-azure-ai-agents.yml
  eng/pipelines/release-ext-azure-ai-connections.yml
  eng/pipelines/release-ext-azure-ai-finetune.yml
  eng/pipelines/release-ext-azure-ai-inspector.yml
  eng/pipelines/release-ext-azure-ai-models.yml
  eng/pipelines/release-ext-azure-ai-projects.yml
  eng/pipelines/release-ext-azure-ai-routines.yml
  eng/pipelines/release-ext-azure-ai-skills.yml
  eng/pipelines/release-ext-azure-ai-toolboxes.yml
  eng/pipelines/release-ext-azure-ai-training.yml
  eng/pipelines/release-ext-azure-appservice.yml
  eng/pipelines/release-ext-azure-coding-agent.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml
  eng/pipelines/release-ext-microsoft-azd-concurx.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml
  eng/pipelines/templates/stages/publish-extension.yml
  eng/pipelines/templates/stages/release-azd-extension.yml
Due: eng/pipelines/release-cli.yml

Updating CODEOWNERS
  .github/CODEOWNERS
Due: none

Updating CODEOWNERS (#8310)
  .github/CODEOWNERS
Due: none

feat(toolboxes): add azd ai toolbox direct commands (#8203)
  .github/CODEOWNERS
  cli/azd/extensions/azure.ai.toolboxes/.golangci.yaml
  cli/azd/extensions/azure.ai.toolboxes/AGENTS.md
  cli/azd/extensions/azure.ai.toolboxes/cspell.yaml
  cli/azd/extensions/azure.ai.toolboxes/go.mod
  cli/azd/extensions/azure.ai.toolboxes/go.sum
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/context.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/root.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_client.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_commands_test.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_connection.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_connection_add.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_connection_list.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_connection_remove.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_connection_resolver.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_create.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_delete.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_files.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_files_test.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_help.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_helpers_test.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_list.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_shared.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_show.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_test_helpers_test.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_update.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_version.go
  cli/azd/extensions/azure.ai.toolboxes/internal/cmd/toolbox_version_list.go
  cli/azd/extensions/azure.ai.toolboxes/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.toolboxes/internal/exterrors/errors.go
  cli/azd/extensions/azure.ai.toolboxes/internal/foundry/connections/client.go
  cli/azd/extensions/azure.ai.toolboxes/internal/foundry/credential.go
  cli/azd/extensions/azure.ai.toolboxes/internal/foundry/projectctx/resolver.go
  cli/azd/extensions/azure.ai.toolboxes/internal/foundry/projectctx/store.go
  cli/azd/extensions/azure.ai.toolboxes/internal/foundry/projectctx/types.go
  cli/azd/extensions/azure.ai.toolboxes/internal/foundry/projectctx/validator.go
  cli/azd/extensions/azure.ai.toolboxes/internal/pkg/azure/foundry_toolsets_client.go
  cli/azd/extensions/azure.ai.toolboxes/internal/version/version.go
Due: eng/pipelines/release-azd-extension.yml

Don't fail azd init when Foundry agent existence check errors (#8299)
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Fix flaky `TestUploadDirectory_PassesAbsolutePathToAzcopy` across drives on Windows (#8304)
  cli/azd/extensions/azure.ai.training/internal/service/upload_service_test.go
Due: eng/pipelines/release-azd-extension.yml

refactor: migrate project endpoint commands to new scaffold (#8243)
  .github/CODEOWNERS
  cli/azd/extensions/azure.ai.agents/internal/cmd/project.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/project_context_store.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/root.go
  cli/azd/extensions/azure.ai.projects/.gitattributes
  cli/azd/extensions/azure.ai.projects/.golangci.yaml
  cli/azd/extensions/azure.ai.projects/AGENTS.md
  cli/azd/extensions/azure.ai.projects/cspell.yaml
  cli/azd/extensions/azure.ai.projects/go.mod
  cli/azd/extensions/azure.ai.projects/go.sum
  cli/azd/extensions/azure.ai.projects/internal/cmd/extension_context.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/flag_options_test.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_context_store.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_context_store_test.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_endpoint.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_endpoint_test.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_resolver.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_resolver_test.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_set.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_set_test.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_show.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_show_test.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_unset.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/project_unset_test.go
  cli/azd/extensions/azure.ai.projects/internal/cmd/root.go
  cli/azd/extensions/azure.ai.projects/internal/exterrors/codes.go
  cli/azd/extensions/azure.ai.projects/internal/exterrors/errors.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

address comments
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_helpers_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_init_jobs.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_init_prompts.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_init_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_list_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_progress.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_apply.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_apply_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_config.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_config_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_deploy.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_deploy_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_list.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/dataset_api/operations.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/dataset_api/operations_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/artifacts.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/eval_config_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/generation.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/models.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/operations.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/operations_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/poller.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/portal_urls.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/opteval/state.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/opteval/yaml.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/optimize_api/client.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/optimize_api/models.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/optimize_api/poller.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Update CHANGELOG for version 0.1.33-preview
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Prepare `azure.ai.agents` 0.1.33-preview patch release metadata (#8315)
  cli/azd/extensions/azure.ai.agents/CHANGELOG.md
  cli/azd/extensions/azure.ai.agents/extension.yaml
  cli/azd/extensions/azure.ai.agents/version.txt
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix(extensions): semver constraints, dependency upgrades, install UX (#8254, #8257)
  cli/azd/cmd/extension.go
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-extension-upgrade.snap
  cli/azd/internal/tracing/fields/fields.go
  cli/azd/pkg/extensions/manager.go
  cli/azd/pkg/extensions/manager_test.go
  cli/azd/pkg/extensions/upgrade_result.go
  cli/azd/pkg/extensions/upgrade_result_test.go
Due: eng/pipelines/release-cli.yml

fix(extensions): allow pack manifests in schema
  cli/azd/docs/extensions/extension-framework.md
  cli/azd/extensions/extension.schema.json
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml

Fix spelling
  cli/azd/cmd/extension.go
Due: eng/pipelines/release-cli.yml

Address feedback
  cli/azd/cmd/extension.go
  cli/azd/pkg/extensions/manager.go
  cli/azd/pkg/extensions/manager_test.go
  cli/azd/pkg/extensions/upgrade_result.go
Due: eng/pipelines/release-cli.yml

fix more
  cli/azd/extensions/azure.ai.agents/internal/cmd/eval_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_helpers.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_helpers_test.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/optimize_list.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/dataset_api/models.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/artifacts.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/eval_api/eval_config_test.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/opt_eval/yaml.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/optimize_api/poller.go
  cli/azd/extensions/azure.ai.agents/internal/pkg/agents/optimize_api/poller_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

feat(docs): add extension design principles document
  cli/azd/docs/extensions/extension-principles.md
Due: eng/pipelines/release-cli.yml

refactor(docs): update extension design principles for clarity and consistency
  cli/azd/docs/extensions/extension-principles.md
Due: eng/pipelines/release-cli.yml

fix: correct end-of-init message logic for existing project + existing deployment
  cli/azd/extensions/azure.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.ai.agents/internal/cmd/init_models.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-ai-agents.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml
