Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/build-notice.yml, eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/build-notice.yml: any of: eng/pipelines/build-notice.yml
  eng/pipelines/release-azd-extension.yml: any of: go.mod, cli/azd/extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml, eng/pipelines/templates/jobs/build-cli.yml, eng/pipelines/templates/jobs/cross-build-cli.yml, eng/pipelines/templates/variables/image.yml, but not: cli/azd/extensions
  eng/pipelines/release-ext-azure-coding-agent.yml: any of: go.mod, cli/azd/extensions/azure.coding-agent, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-azure-foundry-ai-agents.yml: any of: go.mod, cli/azd/extensions/azure.foundry.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-ai-agents.yml: any of: go.mod, cli/azd/extensions/microsoft.ai.agents, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-ai-builder.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.ai.builder, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-demo.yml: any of: go.mod, cli/azd/extensions/microsoft.azd.demo, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-ext-microsoft-azd-extensions.yml: any of: cli/azd/extensions/microsoft.azd.extensions, eng/pipelines/release-azd-extension.yml, eng/pipelines/templates/jobs/build-azd-extension.yml, eng/pipelines/templates/jobs/cross-build-azd-extension.yml, eng/pipelines/templates/variables/image.yml
  eng/pipelines/release-vscode.yml: any of: ext/vscode, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

Adds unit tests for component managers
  cli/azd/pkg/azdext/component_manager_test.go
  cli/azd/pkg/azdext/framework_service_manager_test.go
  cli/azd/pkg/azdext/service_target_manager_test.go
Due: eng/pipelines/release-cli.yml

Fixes linter issues
  cli/azd/pkg/azdext/extension_host_test.go
  cli/azd/pkg/azdext/framework_service_manager.go
  cli/azd/pkg/azdext/framework_service_manager_test.go
  cli/azd/pkg/azdext/service_target_manager.go
Due: eng/pipelines/release-cli.yml

Updates tests for extension host
  cli/azd/pkg/azdext/extension_host.go
  cli/azd/pkg/azdext/extension_host_test.go
  cli/azd/pkg/azdext/framework_service_manager.go
  cli/azd/pkg/azdext/service_target_manager.go
Due: eng/pipelines/release-cli.yml

Updates registration in demo extension
  cli/azd/extensions/microsoft.azd.demo/internal/cmd/listen.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml

handle annotated strings with uri format (#5990)
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/apphost/manifest.go
  cli/azd/pkg/project/service_target_dotnet_containerapp.go
Due: eng/pipelines/release-cli.yml

Add AccountService gRPC API and server implementation
  cli/azd/cmd/container.go
  cli/azd/docs/extension-framework.md
  cli/azd/grpc/proto/account.proto
  cli/azd/internal/grpcserver/account_service.go
  cli/azd/internal/grpcserver/server.go
  cli/azd/internal/grpcserver/server_test.go
  cli/azd/pkg/azdext/account.pb.go
  cli/azd/pkg/azdext/account_grpc.pb.go
  cli/azd/pkg/azdext/azd_client.go
Due: eng/pipelines/release-cli.yml

Removes sleep command
  cli/azd/pkg/azdext/framework_service_manager.go
Due: eng/pipelines/release-cli.yml

Removes redundant logging
  cli/azd/pkg/azdext/framework_service_manager.go
Due: eng/pipelines/release-cli.yml

[AI Agent Extension] Add support for registry download (#5963)
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/extensions/azure.foundry.ai.agents/go.sum
  cli/azd/extensions/azure.foundry.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_yaml/yaml.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/registry_api/helpers.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/registry_api/models.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/registry_api/operations.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Add version 002 for ai agents extension t to registry
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

Add version 002 for ai agents extension t to registry (#5996)
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

Publishing coding-agent 0.5.1
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

Extension Framework: Adds support for multi-instance components (#5993)
  cli/azd/extensions/microsoft.azd.demo/internal/cmd/listen.go
  cli/azd/pkg/azdext/component_manager.go
  cli/azd/pkg/azdext/component_manager_test.go
  cli/azd/pkg/azdext/extension_host.go
  cli/azd/pkg/azdext/extension_host_test.go
  cli/azd/pkg/azdext/framework_service_manager.go
  cli/azd/pkg/azdext/framework_service_manager_test.go
  cli/azd/pkg/azdext/service_target_manager.go
  cli/azd/pkg/azdext/service_target_manager_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml

Publishing coding-agent 0.5.1 (#5997)
  cli/azd/extensions/registry.json
Due: eng/pipelines/release-azd-extension.yml

Updates extensions with new framework updates
  cli/azd/extensions/azure.coding-agent/go.mod
  cli/azd/extensions/azure.coding-agent/go.sum
  cli/azd/extensions/azure.foundry.ai.agents/go.mod
  cli/azd/extensions/azure.foundry.ai.agents/go.sum
  cli/azd/extensions/azure.foundry.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/project/service_target_agent.go
  cli/azd/extensions/microsoft.azd.demo/extension.yaml
  cli/azd/extensions/microsoft.azd.demo/internal/cmd/listen.go
  cli/azd/extensions/microsoft.azd.demo/internal/project/service_target_sample.go
  go.mod
  go.sum
  go.work
  go.work.sum
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml

Removes remote build
  cli/azd/extensions/azure.foundry.ai.agents/go.mod
  cli/azd/extensions/azure.foundry.ai.agents/go.sum
  cli/azd/extensions/azure.foundry.ai.agents/internal/project/remote_build.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Rollback other extension changes
  cli/azd/extensions/azure.coding-agent/go.mod
  cli/azd/extensions/azure.coding-agent/go.sum
  cli/azd/extensions/microsoft.azd.demo/extension.yaml
  cli/azd/extensions/microsoft.azd.demo/internal/cmd/listen.go
  cli/azd/extensions/microsoft.azd.demo/internal/project/service_target_demo.go
  cli/azd/extensions/microsoft.azd.demo/internal/project/service_target_sample.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml

Removes go work files
  go.work
  go.work.sum
Due: none

Rollback go mod changes
  go.mod
  go.sum
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml

tracing: add metrics for agent troubleshooting (#5957)
  cli/azd/cmd/middleware/error.go
  cli/azd/internal/telemetry/appinsights-exporter/span_to_envelope.go
  cli/azd/internal/telemetry/appinsights-exporter/span_to_envelope_test.go
  cli/azd/internal/tracing/events/events.go
  cli/azd/internal/tracing/fields/fields.go
Due: eng/pipelines/release-cli.yml

Add AccountService gRPC API and server implementation (#5995)
  cli/azd/cmd/container.go
  cli/azd/docs/extension-framework.md
  cli/azd/grpc/proto/account.proto
  cli/azd/internal/grpcserver/account_service.go
  cli/azd/internal/grpcserver/server.go
  cli/azd/internal/grpcserver/server_test.go
  cli/azd/pkg/azdext/account.pb.go
  cli/azd/pkg/azdext/account_grpc.pb.go
  cli/azd/pkg/azdext/azd_client.go
Due: eng/pipelines/release-cli.yml

address feedback
  cli/azd/docs/tracing-in-azd.md
Due: eng/pipelines/release-cli.yml

Foundry AI Agents: Updates to support multi-agent projects (#5994)
  cli/azd/extensions/azure.foundry.ai.agents/go.mod
  cli/azd/extensions/azure.foundry.ai.agents/go.sum
  cli/azd/extensions/azure.foundry.ai.agents/internal/cmd/listen.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/project/remote_build.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Document tracing functionality in azd (#5953)
  cli/azd/docs/tracing-in-azd.md
Due: eng/pipelines/release-cli.yml

Switch from DefaultAzureCredential to NewAzureDeveloperCLICredential with AdditionallyAllowedTenants
  cli/azd/extensions/azure.foundry.ai.agents/go.mod
  cli/azd/extensions/azure.foundry.ai.agents/go.sum
  cli/azd/extensions/azure.foundry.ai.agents/internal/project/parser.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

fix: prevent index out of range panic in progressLog.Write()
  cli/azd/pkg/input/progress_log.go
  cli/azd/pkg/input/progress_log_test.go
Due: eng/pipelines/release-cli.yml

Switch from DefaultAzureCredential to NewAzureDeveloperCLICredential with AdditionallyAllowedTenants (#5986)
  cli/azd/extensions/azure.foundry.ai.agents/go.mod
  cli/azd/extensions/azure.foundry.ai.agents/go.sum
  cli/azd/extensions/azure.foundry.ai.agents/internal/project/parser.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Delete
  cli/azd/cmd/testdata/TestFigSpec.ts
Due: eng/pipelines/release-cli.yml

Fix line endings
  .gitattributes
  cli/azd/cmd/testdata/TestFigSpec.ts
Due: eng/pipelines/release-cli.yml

Update cspell
  cli/azd/.vscode/cspell.yaml
Due: eng/pipelines/release-cli.yml

Refactoring + cleanup
  cli/azd/cmd/auth_login.go
  cli/azd/cmd/completion.go
  cli/azd/cmd/completion_fig.go
  cli/azd/cmd/figspec_test.go
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/cmd/testdata/TestUsage-azd-completion-fig.snap
  cli/azd/cmd/testdata/TestUsage-azd-completion.snap
  cli/azd/internal/figspec/azd_customizations.go
  cli/azd/internal/figspec/customizations.go
  cli/azd/internal/figspec/fig_generators.go
  cli/azd/internal/figspec/generator.go
  cli/azd/internal/figspec/spec_builder.go
  cli/azd/internal/figspec/types.go
  cli/azd/internal/figspec/typescript.go
  cli/azd/internal/figspec/typescript_renderer.go
Due: eng/pipelines/release-cli.yml

Add Fig spec generation
  cli/azd/cmd/auth_login.go
  cli/azd/cmd/completion.go
  cli/azd/cmd/completion_fig.go
  cli/azd/cmd/figspec_test.go
  cli/azd/cmd/testdata/TestFigSpec.ts
  cli/azd/internal/figspec/azd_customizations.go
  cli/azd/internal/figspec/generator.go
  cli/azd/internal/figspec/types.go
  cli/azd/internal/figspec/typescript.go
Due: eng/pipelines/release-cli.yml

DRY
  cli/azd/pkg/input/progress_log.go
Due: eng/pipelines/release-cli.yml

Exposes ServiceContext in events
  cli/azd/cmd/env.go
  cli/azd/cmd/middleware/hooks_test.go
  cli/azd/extensions/microsoft.azd.demo/internal/cmd/listen.go
  cli/azd/grpc/proto/event.proto
  cli/azd/internal/cmd/provision.go
  cli/azd/internal/grpcserver/event_service.go
  cli/azd/internal/grpcserver/event_service_test.go
  cli/azd/pkg/azdext/account.pb.go
  cli/azd/pkg/azdext/compose.pb.go
  cli/azd/pkg/azdext/container.pb.go
  cli/azd/pkg/azdext/deployment.pb.go
  cli/azd/pkg/azdext/environment.pb.go
  cli/azd/pkg/azdext/event.pb.go
  cli/azd/pkg/azdext/event_manager.go
  cli/azd/pkg/azdext/event_manager_test.go
  cli/azd/pkg/azdext/extension.pb.go
  cli/azd/pkg/azdext/extension_host.go
  cli/azd/pkg/azdext/extension_host_test.go
  cli/azd/pkg/azdext/framework_service.pb.go
  cli/azd/pkg/azdext/models.pb.go
  cli/azd/pkg/azdext/project.pb.go
  cli/azd/pkg/azdext/prompt.pb.go
  cli/azd/pkg/azdext/service_target.pb.go
  cli/azd/pkg/azdext/user_config.pb.go
  cli/azd/pkg/azdext/workflow.pb.go
  cli/azd/pkg/project/framework_service_dotnet_test.go
  cli/azd/pkg/project/service_config_test.go
  cli/azd/pkg/project/service_manager.go
  cli/azd/pkg/project/service_models.go
  cli/azd/pkg/project/service_target_aks_test.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml

migrate from gppkg.in/yaml to go.yaml.in/yaml (#5968)
  cli/azd/extensions/azure.foundry.ai.agents/go.mod
  cli/azd/extensions/azure.foundry.ai.agents/go.sum
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_yaml/parse.go
  cli/azd/extensions/microsoft.azd.extensions/internal/cmd/init.go
  cli/azd/extensions/microsoft.azd.extensions/internal/models/extension_schema.go
  cli/azd/extensions/microsoft.azd.extensions/internal/models/extension_schema_test.go
  cli/azd/internal/mcp/tools/azd_yaml_schema.go
  go.mod
  go.sum
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-cli.yml, eng/pipelines/release-ext-azure-coding-agent.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml, eng/pipelines/release-ext-demo.yml, eng/pipelines/release-ext-microsoft-ai-agents.yml, eng/pipelines/release-ext-microsoft-azd-ai-builder.yml, eng/pipelines/release-ext-microsoft-azd-demo.yml, eng/pipelines/release-ext-microsoft-azd-extensions.yml

Update yaml objects to match maml changes. Update other files to adapt to changes.
  cli/azd/extensions/azure.foundry.ai.agents/internal/cmd/init.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_yaml/map.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_yaml/parse.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_yaml/parse_test.go.old
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_yaml/sample_integration_test.go.old
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_yaml/yaml.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_yaml/yaml.go.old
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/agent_yaml/yaml_test.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/pkg/agents/registry_api/helpers.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/project/parser.go
  cli/azd/extensions/azure.foundry.ai.agents/internal/project/service_target_agent.go
Due: eng/pipelines/release-azd-extension.yml, eng/pipelines/release-ext-azure-foundry-ai-agents.yml

Add fig-spec.md documentation
  cli/azd/docs/fig-spec.md
Due: eng/pipelines/release-cli.yml

Attempt to fix flaky tests that fail often in CI
  cli/azd/internal/appdetect/java_test.go
  cli/azd/test/functional/vs_server_test.go
Due: eng/pipelines/release-cli.yml

Adds auto-retry to recording test failures
  cli/azd/test/recording/recording.go
  cli/azd/test/recording/resilient_transport.go
  cli/azd/test/recording/resilient_transport_test.go
Due: eng/pipelines/release-cli.yml
