Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml
  eng/pipelines/release-vscode.yml: any of: ext, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

Fixes maven command on mac os
  cli/azd/pkg/project/framework_service_maven_test.go
Due: eng/pipelines/release-cli.yml

Adds service manager unit tests
  .vscode/cspell.global.yaml
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/framework_service_dotnet_test.go
  cli/azd/pkg/project/framework_service_maven_test.go
  cli/azd/pkg/project/framework_service_npm_test.go
  cli/azd/pkg/project/framework_service_python_test.go
  cli/azd/pkg/project/service_config_test.go
  cli/azd/pkg/project/service_manager.go
  cli/azd/pkg/project/service_manager_test.go
  cli/azd/pkg/project/service_target_aks_test.go
  cli/azd/test/mocks/mockarmresources/mockarmresources.go
Due: eng/pipelines/release-cli.yml

Updates AKS service target tests
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/framework_service_maven_test.go
  cli/azd/pkg/project/service_target_aks_test.go
Due: eng/pipelines/release-cli.yml

Fixes python test
  cli/azd/pkg/exec/command_runner.go
  cli/azd/pkg/exec/util.go
  cli/azd/pkg/exec/util_test.go
  cli/azd/pkg/project/framework_service_python_test.go
  cli/azd/pkg/tools/python/python.go
  cli/azd/test/mocks/mockexec/mock_runner.go
Due: eng/pipelines/release-cli.yml

Rollback template updates to include in future PR
  templates/todo/web/react-fluent/Dockerfile
  templates/todo/web/react-fluent/package.json
Due: eng/pipelines/repoman.yml

Addresses PR feedback
  cli/azd/internal/repository/initializer_test.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/framework_service_dotnet.go
  cli/azd/pkg/project/framework_service_dotnet_test.go
  cli/azd/pkg/project/framework_service_python.go
  cli/azd/pkg/project/service_target.go
  cli/azd/pkg/project/service_target_aks.go
  cli/azd/pkg/project/service_target_aks_test.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/pkg/tools/dotnet/dotnet.go
Due: eng/pipelines/release-cli.yml

Fixes zip after rebase
  cli/azd/pkg/project/framework_service_python.go
  cli/azd/pkg/project/service_target_appservice.go
  cli/azd/pkg/project/service_target_functionapp.go
Due: eng/pipelines/release-cli.yml

Add `build` support for azd services (#1754)
  .vscode/cspell.global.yaml
  cli/azd/cmd/deploy.go
  cli/azd/internal/repository/initializer_test.go
  cli/azd/pkg/exec/command_runner.go
  cli/azd/pkg/exec/util.go
  cli/azd/pkg/exec/util_test.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/project/framework_service.go
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/framework_service_dotnet.go
  cli/azd/pkg/project/framework_service_dotnet_test.go
  cli/azd/pkg/project/framework_service_maven.go
  cli/azd/pkg/project/framework_service_maven_test.go
  cli/azd/pkg/project/framework_service_npm.go
  cli/azd/pkg/project/framework_service_npm_test.go
  cli/azd/pkg/project/framework_service_python.go
  cli/azd/pkg/project/framework_service_python_test.go
  cli/azd/pkg/project/service_config_test.go
  cli/azd/pkg/project/service_manager.go
  cli/azd/pkg/project/service_manager_test.go
  cli/azd/pkg/project/service_target.go
  cli/azd/pkg/project/service_target_aks.go
  cli/azd/pkg/project/service_target_aks_test.go
  cli/azd/pkg/project/service_target_appservice.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/pkg/project/service_target_containerapp_test.go
  cli/azd/pkg/project/service_target_functionapp.go
  cli/azd/pkg/project/service_target_staticwebapp.go
  cli/azd/pkg/tools/dotnet/dotnet.go
  cli/azd/pkg/tools/maven/maven.go
  cli/azd/pkg/tools/npm/npm.go
  cli/azd/pkg/tools/python/python.go
  cli/azd/test/mocks/mockarmresources/mockarmresources.go
  cli/azd/test/mocks/mockexec/mock_runner.go
Due: eng/pipelines/release-cli.yml

passing arg
  cli/azd/pkg/project/service_target_containerapp.go
Due: eng/pipelines/release-cli.yml

ask user to add projectfile in azure.yaml
  cli/azd/pkg/project/framework_service_dotnet.go
  cli/azd/pkg/project/service_config.go
  schemas/v1.0/azure.yaml.json
Due: eng/pipelines/release-cli.yml

call function for restore and build
  cli/azd/pkg/project/framework_service_dotnet.go
  schemas/v1.0/azure.yaml.json
Due: eng/pipelines/release-cli.yml

add localhost message
  templates/todo/api/python/todo/app.py
Due: eng/pipelines/repoman.yml

wrap error
  cli/azd/pkg/project/framework_service_dotnet.go
Due: eng/pipelines/release-cli.yml

template updates for build/package changes
  templates/todo/web/react-fluent/Dockerfile
  templates/todo/web/react-fluent/package.json
Due: eng/pipelines/repoman.yml

Add automatic build in e2e tests
  cli/azd/CONTRIBUTING.md
  cli/azd/test/azdcli/cli.go
  cli/azd/test/functional/cli_test.go
Due: eng/pipelines/release-cli.yml

Add Azure category (#1785)
  ext/vscode/package.json
Due: eng/pipelines/release-vscode.yml

make sure file with no extension is not selected
  cli/azd/pkg/project/framework_service_dotnet.go
Due: eng/pipelines/release-cli.yml

Update templates/todo/projects/nodejs-mongo-aks/README.md
  templates/todo/projects/nodejs-mongo-aks/README.md
Due: eng/pipelines/repoman.yml

Update todo-nodejs-mongo readme
  templates/todo/projects/nodejs-mongo/.repo/bicep/README.md
Due: eng/pipelines/repoman.yml

Remove need to run `go build` for running end-to-end tests
  cli/azd/CONTRIBUTING.md
  cli/azd/test/azdcli/cli.go
  cli/azd/test/functional/cli_test.go
Due: eng/pipelines/release-cli.yml

Retry `Rename` when it fails, on Windows.
  cli/azd/pkg/osutil/rename_unix.go
  cli/azd/pkg/osutil/rename_windows.go
  cli/azd/pkg/osutil/rename_windows_test.go
  cli/azd/pkg/tools/bicep/bicep.go
  cli/azd/pkg/tools/github/github.go
  cli/azd/pkg/tools/github/github_test.go
Due: eng/pipelines/release-cli.yml

Retry `Rename` when it fails, on Windows. (#1791)
  cli/azd/pkg/osutil/rename_unix.go
  cli/azd/pkg/osutil/rename_windows.go
  cli/azd/pkg/osutil/rename_windows_test.go
  cli/azd/pkg/tools/bicep/bicep.go
  cli/azd/pkg/tools/github/github.go
  cli/azd/pkg/tools/github/github_test.go
Due: eng/pipelines/release-cli.yml

Init project before ensuring tools
  cli/azd/cmd/deploy.go
  cli/azd/cmd/env.go
Due: eng/pipelines/release-cli.yml

fix tests
  cli/azd/cmd/container.go
  cli/azd/pkg/alphafeatures/alpha_feature_manager.go
  cli/azd/pkg/infra/provisioning/manager_test.go
  cli/azd/test/mocks/mock_context.go
Due: eng/pipelines/release-cli.yml

Init project before ensuring tools (#1794)
  cli/azd/cmd/deploy.go
  cli/azd/cmd/env.go
Due: eng/pipelines/release-cli.yml

Fix err
  cli/azd/pkg/environment/environment.go
  cli/azd/test/functional/telemetry_test.go
Due: eng/pipelines/release-cli.yml

add csproj, fix testing
  cli/azd/pkg/project/framework_service_dotnet_test.go
Due: eng/pipelines/release-cli.yml

Update cli/azd/pkg/project/framework_service_dotnet.go
  cli/azd/pkg/project/framework_service_dotnet.go
Due: eng/pipelines/release-cli.yml

remove else if
  cli/azd/pkg/project/framework_service_dotnet.go
Due: eng/pipelines/release-cli.yml

Improve captured usage (#1761)
  cli/azd/cmd/cobra_builder.go
  cli/azd/cmd/container.go
  cli/azd/cmd/middleware/middleware.go
  cli/azd/cmd/middleware/telemetry.go
  cli/azd/cmd/show.go
  cli/azd/internal/telemetry/baggage/baggage_test.go
  cli/azd/internal/telemetry/fields/fields.go
  cli/azd/internal/telemetry/fields/key.go
  cli/azd/pkg/environment/environment.go
  cli/azd/pkg/project/framework_service.go
  cli/azd/pkg/project/project.go
  cli/azd/pkg/project/project_config_test.go
  cli/azd/pkg/project/service_config.go
  cli/azd/pkg/project/service_config_test.go
  cli/azd/pkg/project/service_manager.go
  cli/azd/pkg/project/service_target.go
  cli/azd/test/functional/cli_test.go
  cli/azd/test/functional/telemetry_test.go
Due: eng/pipelines/release-cli.yml

add language check
  schemas/v1.0/azure.yaml.json
Due: none

debug
  cli/azd/pkg/project/framework_service_dotnet.go
  cli/azd/pkg/project/framework_service_dotnet_test.go
Due: eng/pipelines/release-cli.yml

add message
  templates/todo/api/js/src/app.ts
  templates/todo/api/python/todo/app.py
  templates/todo/projects/nodejs-mongo-swa-func/.repo/bicep/infra/main.bicep
Due: eng/pipelines/repoman.yml

hold for now
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/configuration/WebConfiguration.java
Due: eng/pipelines/repoman.yml

Make `Test_MavenProject` tests work when `mvn` is missing
  cli/azd/pkg/project/framework_service_maven_test.go
Due: eng/pipelines/release-cli.yml

Add a version check
  ext/vscode/package-lock.json
  ext/vscode/package.json
  ext/vscode/src/extension.ts
  ext/vscode/src/utils/azureDevCli.ts
Due: eng/pipelines/release-vscode.yml
