Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/release-cli.yml:
  stages:
  - stage: BuildAndTest
    jobs:
    - job: BuildCLI
      strategy:
        matrix:
          Windows:
            Pool: azsdk-pool-mms-win-2022-general
            OSVmImage: MMS2022
            BuildTarget: azd-windows-amd64.exe
            BuildOutputName: azd.exe
            BuildTestMsi: true
  ...

eng/pipelines/release-vscode.yml:
  stages:
  - stage: BuildAndTest
    jobs:
    - job: BuildVscode
      strategy:
        matrix:
          Windows:
            Pool: azsdk-pool-mms-win-2022-general
            OSVmImage: MMS2022
          Linux:
            Pool: azsdk-pool-mms-ubuntu-2004-general
            OSVmImage: MMSUbuntu20.04
  ...

eng/pipelines/repoman.yml:
  stages:
  - stage: Validation
    jobs:
    - job: Generate_Repos_For_PR
      condition: "and(\n  succeeded(),\n  or(\n    eq(variables['BuildReasonOverride'], 'PullRequest'),\n    and(\n      eq('', variables['BuildReasonOverride']),\n      eq(variables['Build.Reason'], 'PullRequest')\n    )\n  )\n)"
  ...

eng/pipelines/template-tests.yml:
  jobs:
  - template: /eng/pipelines/templates/jobs/run-template-tests.yml
    parameters:
      AzdVersion: ${{ parameters.AzdVersion }}
      UseAzdVersionFromPrNumber: true
      TemplateList: ${{ parameters.TemplateList }}
      TemplateListFilter: ${{ parameters.TemplateListFilter }}
  ...

resolve circular dependency issue
  templates/common/infra/bicep/core/host/appservice-appsettings-merge.bicep
  templates/common/infra/bicep/core/host/appservice-appsettings.bicep
Due: eng/pipelines/repoman.yml

wip
  cli/azd/pkg/project/framework_service_npm.go
  cli/azd/pkg/project/framework_service_python.go
  cli/azd/pkg/project/project_utils.go
  cli/azd/pkg/project/service_target_appservice.go
  cli/azd/pkg/project/service_target_functionapp.go
Due: eng/pipelines/release-cli.yml

remove the extra format stuff
  cli/azd/cmd/cobra_builder.go
  cli/azd/pkg/input/console.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/test/mocks/mockinput/mock_console.go
Due: eng/pipelines/release-cli.yml

auth token detect tenant (#1738)
  cli/azd/CHANGELOG.md
  cli/azd/cmd/auth_token.go
  cli/azd/cmd/auth_token_test.go
  cli/azd/cmd/container.go
  cli/azd/cmd/util.go
  cli/azd/cmd/util_test.go
  cli/azd/pkg/environment/environment.go
Due: eng/pipelines/release-cli.yml

test
  templates/todo/projects/java-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo/.repo/terraform/infra/main.tf
  templates/todo/projects/python-mongo/.repo/terraform/infra/main.tf
Due: eng/pipelines/repoman.yml

Limit direct influence of `.env` on builds
  cli/azd/pkg/project/framework_service_dotnet.go
  cli/azd/pkg/project/framework_service_npm.go
Due: eng/pipelines/release-cli.yml

rename
  cli/azd/pkg/project/framework_service_npm.go
  cli/azd/pkg/project/framework_service_python.go
  cli/azd/pkg/project/project_utils.go
Due: eng/pipelines/release-cli.yml

move util fn to utils
  cli/azd/pkg/project/framework_service_python.go
  cli/azd/pkg/project/project_utils.go
Due: eng/pipelines/release-cli.yml

Option to keep files when initializing from template
  cli/azd/internal/repository/initializer.go
  cli/azd/internal/repository/initializer_test.go
Due: eng/pipelines/release-cli.yml

get it back for test
  templates/todo/projects/java-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo/.repo/terraform/infra/main.tf
  templates/todo/projects/python-mongo/.repo/terraform/infra/main.tf
Due: eng/pipelines/repoman.yml

fix test and impl
  cli/azd/internal/repository/initializer.go
  cli/azd/internal/repository/initializer_test.go
Due: eng/pipelines/release-cli.yml

add back test cases
  cli/azd/internal/repository/initializer_test.go
Due: eng/pipelines/release-cli.yml

remove diag print
  cli/azd/internal/repository/initializer.go
Due: eng/pipelines/release-cli.yml

Handle 1603 exit code (#1749)
  cli/installer/install-azd.ps1
Due: eng/pipelines/release-cli.yml

Move `SubscriptionsService` into `account` Package
  cli/azd/cmd/container.go
  cli/azd/cmd/util_test.go
  cli/azd/pkg/account/manager.go
  cli/azd/pkg/account/manager_test.go
  cli/azd/pkg/account/models.go
  cli/azd/pkg/account/subscriptions.go
  cli/azd/pkg/account/subscriptions_manager.go
  cli/azd/pkg/account/subscriptions_manager_test.go
  cli/azd/pkg/azureutil/location.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/infra/provisioning/bicep/prompt.go
  cli/azd/pkg/infra/provisioning/bicep/prompt_test.go
  cli/azd/pkg/infra/provisioning/manager.go
  cli/azd/pkg/infra/provisioning/provider.go
  cli/azd/pkg/tools/azcli/account.go
  cli/azd/test/mocks/mockaccount/mock_manager.go
Due: eng/pipelines/release-cli.yml

Capture lang, host, name
  cli/azd/internal/telemetry/fields/fields.go
  cli/azd/internal/telemetry/fields/key.go
  cli/azd/pkg/project/project.go
  cli/azd/test/functional/cli_test.go
  cli/azd/test/functional/telemetry_test.go
Due: eng/pipelines/release-cli.yml

Add cmd.usage info
  cli/azd/cmd/cobra_builder.go
  cli/azd/cmd/middleware/middleware.go
  cli/azd/cmd/middleware/telemetry.go
  cli/azd/test/functional/telemetry_test.go
Due: eng/pipelines/release-cli.yml

Remove cancellation
  cli/azd/internal/repository/initializer.go
  cli/azd/internal/repository/initializer_test.go
Due: eng/pipelines/release-cli.yml

Move `SubscriptionsService` into `account` Package (#1756)
  cli/azd/cmd/container.go
  cli/azd/cmd/util_test.go
  cli/azd/pkg/account/manager.go
  cli/azd/pkg/account/manager_test.go
  cli/azd/pkg/account/models.go
  cli/azd/pkg/account/subscriptions.go
  cli/azd/pkg/account/subscriptions_manager.go
  cli/azd/pkg/account/subscriptions_manager_test.go
  cli/azd/pkg/azureutil/location.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/infra/provisioning/bicep/prompt.go
  cli/azd/pkg/infra/provisioning/bicep/prompt_test.go
  cli/azd/pkg/infra/provisioning/manager.go
  cli/azd/pkg/infra/provisioning/provider.go
  cli/azd/pkg/tools/azcli/account.go
  cli/azd/test/mocks/mockaccount/mock_manager.go
Due: eng/pipelines/release-cli.yml

remove internal from project package
  cli/azd/pkg/project/project_utils.go
  cli/azd/pkg/project/service_target_appservice.go
  cli/azd/pkg/project/service_target_functionapp.go
Due: eng/pipelines/release-cli.yml

improve exclude files during copying
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/pkg/project/framework_service_npm.go
  cli/azd/pkg/project/framework_service_python.go
  cli/azd/pkg/project/project_utils.go
  go.mod
  go.sum
Due: eng/pipelines/release-cli.yml

lint
  cli/azd/pkg/project/framework_service_python.go
Due: eng/pipelines/release-cli.yml

Update pom.xml
  templates/todo/api/java/pom.xml
Due: eng/pipelines/repoman.yml

Add CDN infra (#1614)
  templates/common/infra/bicep/core/networking/cdn-endpoint.bicep
  templates/common/infra/bicep/core/networking/cdn-profile.bicep
  templates/common/infra/bicep/core/networking/cdn.bicep
Due: eng/pipelines/repoman.yml

fix missing bracket
  templates/common/infra/terraform/core/host/appservice/appservicepython/appservicepython_variables.tf
Due: eng/pipelines/repoman.yml

use sudo to install azd
  templates/common/.devcontainer/Dockerfile/base/Dockerfile
  templates/common/.devcontainer/Dockerfile/func/Dockerfile
Due: eng/pipelines/repoman.yml

missing close
  templates/common/infra/terraform/core/host/appservice/appservicenode/appservicenode_variables.tf
Due: eng/pipelines/repoman.yml

address feedback
  cli/azd/internal/repository/initializer.go
  cli/azd/internal/repository/initializer_test.go
Due: eng/pipelines/release-cli.yml

concat
  templates/todo/projects/nodejs-mongo-aca/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo-aca/.repo/bicep/infra/main.bicep
Due: eng/pipelines/repoman.yml

Update text
  cli/azd/internal/repository/initializer.go
Due: eng/pipelines/release-cli.yml

[install-azd.sh] Add check for Rosetta on install (#1733)
  cli/installer/install-azd.sh
  eng/templates/brew.template
Due: eng/pipelines/release-cli.yml

Allow local files to be kept when running `init` (#1762)
  cli/azd/internal/repository/initializer.go
  cli/azd/internal/repository/initializer_test.go
Due: eng/pipelines/release-cli.yml

wip
  cli/azd/pkg/project/framework_service.go
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/project/framework_service_dotnet.go
  cli/azd/pkg/project/framework_service_python.go
  cli/azd/pkg/tools/npm/npm.go
Due: eng/pipelines/release-cli.yml

Framework Service Package
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/framework_service_maven.go
  cli/azd/pkg/project/framework_service_npm.go
  cli/azd/pkg/project/framework_service_python.go
  cli/azd/pkg/project/service_manager.go
  cli/azd/pkg/project/service_target.go
  cli/azd/pkg/project/service_target_aks.go
  cli/azd/pkg/project/service_target_aks_test.go
  cli/azd/pkg/project/service_target_appservice.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/pkg/project/service_target_containerapp_test.go
  cli/azd/pkg/project/service_target_functionapp.go
  cli/azd/pkg/project/service_target_staticwebapp.go
Due: eng/pipelines/release-cli.yml

wip
  cli/azd/pkg/project/project_manager.go
Due: eng/pipelines/release-cli.yml

Adds build command to service manager
  cli/azd/cmd/deploy.go
  cli/azd/pkg/project/framework_service_dotnet.go
  cli/azd/pkg/project/framework_service_maven.go
  cli/azd/pkg/project/framework_service_npm.go
  cli/azd/pkg/project/framework_service_python.go
  cli/azd/pkg/project/service_manager.go
  cli/azd/pkg/tools/dotnet/dotnet.go
  cli/azd/pkg/tools/maven/maven.go
  cli/azd/pkg/tools/npm/npm.go
  templates/todo/web/react-fluent/Dockerfile
  templates/todo/web/react-fluent/package.json
Due: eng/pipelines/release-cli.yml, eng/pipelines/repoman.yml

Rollback package manager changes
  cli/azd/pkg/project/project_manager.go
Due: eng/pipelines/release-cli.yml

Renames docker test
  cli/azd/pkg/project/framework_service_docker_test.go
Due: eng/pipelines/release-cli.yml

Adds unit tests for framework services
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/framework_service_dotnet.go
  cli/azd/pkg/project/framework_service_dotnet_test.go
  cli/azd/pkg/project/framework_service_npm.go
  cli/azd/pkg/project/framework_service_npm_test.go
  cli/azd/pkg/project/framework_service_python.go
  cli/azd/pkg/project/framework_service_python_test.go
Due: eng/pipelines/release-cli.yml

framework service unit tests
  .vscode/cspell.global.yaml
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/framework_service_dotnet_test.go
  cli/azd/pkg/project/framework_service_maven.go
  cli/azd/pkg/project/framework_service_maven_test.go
  cli/azd/pkg/project/framework_service_npm_test.go
  cli/azd/pkg/project/framework_service_python_test.go
  cli/azd/pkg/project/service_target_aks.go
  cli/azd/pkg/project/service_target_aks_test.go
Due: eng/pipelines/release-cli.yml

Path conditions:
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml
  eng/pipelines/release-vscode.yml: any of: ext, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
