Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml
  eng/pipelines/release-vscode.yml: any of: ext, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

Title case and cleanup
  ext/vscode/package.nls.json
Due: eng/pipelines/release-vscode.yml

remove requiring az version for issues (#1576)
  .github/ISSUE_TEMPLATE/issue_report.md
Due: none

Handle tenant nillable fields (#1578)
  cli/azd/pkg/account/subscriptions_manager.go
  cli/azd/pkg/tools/azcli/subscriptions.go
Due: eng/pipelines/release-cli.yml

Update cli/azd/cmd/container.go
  cli/azd/cmd/container.go
Due: eng/pipelines/release-cli.yml

Add some images
  ext/vscode/package.json
  ext/vscode/resources/walkthrough/azdCommands.png
  ext/vscode/resources/walkthrough/azdUp.png
Due: eng/pipelines/release-vscode.yml

Adds open in codespaces badge link
  templates/todo/projects/csharp-cosmos-sql/README.md
  templates/todo/projects/csharp-sql-swa-func/README.md
  templates/todo/projects/csharp-sql/README.md
  templates/todo/projects/java-mongo-aca/README.md
  templates/todo/projects/java-mongo/README.md
  templates/todo/projects/nodejs-mongo-aca/README.md
  templates/todo/projects/nodejs-mongo-swa-func/README.md
  templates/todo/projects/nodejs-mongo/README.md
  templates/todo/projects/python-mongo-aca/README.md
  templates/todo/projects/python-mongo-swa-func/README.md
  templates/todo/projects/python-mongo/README.md
Due: eng/pipelines/repoman.yml

Updates replacements for terraform templates
  templates/todo/projects/nodejs-mongo/.repo/bicep/repo.yaml
  templates/todo/projects/nodejs-mongo/.repo/terraform/repo.yaml
  templates/todo/projects/nodejs-mongo/README.md
  templates/todo/projects/python-mongo/.repo/bicep/repo.yaml
  templates/todo/projects/python-mongo/.repo/terraform/repo.yaml
  templates/todo/projects/python-mongo/README.md
Due: eng/pipelines/repoman.yml

Fixes codespaces links for csharp projects
  templates/todo/projects/csharp-cosmos-sql/README.md
  templates/todo/projects/csharp-sql/README.md
Due: eng/pipelines/repoman.yml

Fixes repoman rewrite rule
  templates/todo/projects/python-mongo/.repo/terraform/repo.yaml
Due: eng/pipelines/repoman.yml

Fix tests that verify command and actions initializing correctly (#1542)
  cli/azd/cmd/actions_test.go
  cli/azd/cmd/container.go
  cli/azd/cmd/util.go
  cli/azd/test/functional/initialize_test.go
Due: eng/pipelines/release-cli.yml

Templates: Adds open in codespaces badge & links (#1581)
  templates/todo/projects/csharp-cosmos-sql/README.md
  templates/todo/projects/csharp-sql-swa-func/README.md
  templates/todo/projects/csharp-sql/README.md
  templates/todo/projects/java-mongo-aca/README.md
  templates/todo/projects/java-mongo/README.md
  templates/todo/projects/nodejs-mongo-aca/README.md
  templates/todo/projects/nodejs-mongo-swa-func/README.md
  templates/todo/projects/nodejs-mongo/.repo/bicep/repo.yaml
  templates/todo/projects/nodejs-mongo/.repo/terraform/repo.yaml
  templates/todo/projects/nodejs-mongo/README.md
  templates/todo/projects/python-mongo-aca/README.md
  templates/todo/projects/python-mongo-swa-func/README.md
  templates/todo/projects/python-mongo/.repo/bicep/repo.yaml
  templates/todo/projects/python-mongo/.repo/terraform/repo.yaml
  templates/todo/projects/python-mongo/README.md
Due: eng/pipelines/repoman.yml

Sort resource consts alphabetically
  cli/azd/pkg/infra/azure_resource_types.go
Due: eng/pipelines/release-cli.yml

Add Load Testing and Virtual Network
  cli/azd/pkg/infra/azure_resource_types.go
Due: eng/pipelines/release-cli.yml

Fill out the palette command
  ext/vscode/package.nls.json
Due: eng/pipelines/release-vscode.yml

Fix subscription ID being hashed
  cli/azd/cmd/util.go
  cli/azd/test/functional/env_test.go
  cli/azd/test/functional/telemetry_test.go
  cli/azd/test/snapshot/snapshot.go
Due: eng/pipelines/release-cli.yml

add usage
  cli/azd/test/functional/telemetry_test.go
Due: eng/pipelines/release-cli.yml

great cspell much appreciate
  cli/azd/.vscode/cspell-azd-dictionary.txt
Due: eng/pipelines/release-cli.yml

Additional resource types in output (#1583)
  cli/azd/pkg/infra/azure_resource_types.go
Due: eng/pipelines/release-cli.yml

update to 3.10 and language-focused images
  templates/common/.devcontainer/Dockerfile/base/Dockerfile
  templates/common/.devcontainer/Dockerfile/func/Dockerfile
  templates/common/.devcontainer/devcontainer.json/csharp/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/java/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/nodejs/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/nodejs/terraform/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/python/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/python/terraform/devcontainer.json
  templates/common/infra/terraform/core/host/appservice/appservicepython/appservicepython_variables.tf
  templates/todo/api/python/Dockerfile
  templates/todo/api/python/pyproject.toml
  templates/todo/common/infra/bicep/app/api-appservice-python.bicep
  templates/todo/projects/python-mongo-swa-func/README.md
  templates/todo/projects/python-mongo/README.md
Due: eng/pipelines/repoman.yml

Fix node version
  templates/common/.devcontainer/devcontainer.json/nodejs/terraform/devcontainer.json
Due: eng/pipelines/repoman.yml

Change default user
  templates/common/.devcontainer/devcontainer.json/nodejs/terraform/devcontainer.json
Due: eng/pipelines/repoman.yml

Add WinGet publishing (and enable testing)
  eng/pipelines/release-cli.yml
  eng/pipelines/templates/steps/publish-cli-winget.yml
  eng/pipelines/templates/steps/publish-cli.yml
  eng/scripts/Get-WingetVersion.Tests.ps1
  eng/scripts/Get-WingetVersion.ps1
  eng/scripts/Test-ShouldReleaseWinGet.Tests.ps1
  eng/scripts/Test-ShouldReleaseWinGet.ps1
  eng/scripts/Update-WinGetPackage.ps1
Due: eng/pipelines/release-cli.yml

displayName
  eng/pipelines/templates/steps/publish-cli-winget.yml
Due: none

Casing, quoting
  eng/pipelines/templates/steps/publish-cli-winget.yml
  eng/scripts/Get-WingetVersion.ps1
Due: none

publish path specification
  eng/pipelines/templates/steps/publish-cli-winget.yml
Due: none

Fix many TODOs
  eng/pipelines/release-cli.yml
  eng/pipelines/templates/steps/publish-cli-winget.yml
  eng/pipelines/templates/steps/publish-cli.yml
Due: eng/pipelines/release-cli.yml

Rename
  eng/pipelines/templates/steps/publish-cli-winget.yml
  eng/scripts/Update-WinGetManifest.ps1
Due: none

DRY up common version functions
  eng/scripts/Get-MsiVersion.Tests.ps1
  eng/scripts/Get-MsiVersion.ps1
  eng/scripts/Get-WingetVersion.Tests.ps1
  eng/scripts/Get-WingetVersion.ps1
  eng/scripts/azd-version-common.Tests.ps1
  eng/scripts/azd-version-common.ps1
Due: none

Use MSI versioning scheme
  eng/pipelines/templates/steps/publish-cli-choco.yml
  eng/pipelines/templates/steps/publish-cli-winget.yml
  eng/scripts/Get-MsiVersion.Tests.ps1
  eng/scripts/Get-MsiVersion.ps1
  eng/scripts/Get-WingetVersion.Tests.ps1
  eng/scripts/Get-WingetVersion.ps1
  eng/scripts/azd-version-common.Tests.ps1
  eng/scripts/azd-version-common.ps1
Due: none

Review feedback
  eng/pipelines/templates/steps/publish-cli-winget.yml
Due: none

Remove extra files
  eng/scripts/Test-ShouldReleaseWinGet.Tests.ps1
  eng/scripts/Test-ShouldReleaseWinGet.ps1
Due: none

Use JavaScript instead of nodejs
  cli/azd/internal/appdetect/appdetect.go
  cli/azd/pkg/templates/match.go
Due: eng/pipelines/release-cli.yml

add react handling
  cli/azd/cmd/init.go
  cli/azd/internal/repository/initializer.go
Due: eng/pipelines/release-cli.yml

fix key
  cli/azd/test/functional/telemetry_test.go
Due: eng/pipelines/release-cli.yml

Update azure-sdk-build-tools Repository Resource Refs in Yaml files
  eng/pipelines/release-cli.yml
  eng/pipelines/release-vscode.yml
Due: eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml

Clean up UI
  cli/azd/cmd/init.go
  cli/azd/internal/repository/initializer.go
  cli/azd/pkg/templates/match.go
  go.mod
  go.sum
Due: eng/pipelines/release-cli.yml

Update node user
  templates/common/.devcontainer/devcontainer.json/nodejs/devcontainer.json
Due: eng/pipelines/repoman.yml

Rename pwa-node launch type to node
  templates/todo/projects/nodejs-mongo-aca/.vscode/launch.json
  templates/todo/projects/nodejs-mongo-swa-func/.vscode/launch.json
  templates/todo/projects/nodejs-mongo/.vscode/launch.json
Due: eng/pipelines/repoman.yml

WinGet Publishing automation (#1500)
  eng/pipelines/release-cli.yml
  eng/pipelines/templates/steps/publish-cli-choco.yml
  eng/pipelines/templates/steps/publish-cli-winget.yml
  eng/scripts/Get-MsiVersion.Tests.ps1
  eng/scripts/Get-MsiVersion.ps1
  eng/scripts/Update-WinGetManifest.ps1
Due: eng/pipelines/release-cli.yml
