Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/release-cli.yml:
  stages:
  - stage: BuildAndTest
    jobs:
    - job: BuildCLI
      strategy:
        matrix:
          Windows:
            Pool: azsdk-pool-mms-win-2022-general
            OSVmImage: MMS2022
            BuildTarget: azd-windows-amd64.exe
            BuildOutputName: azd.exe
            BuildTestMsi: true
  ...

eng/pipelines/release-vscode.yml:
  stages:
  - stage: BuildAndTest
    jobs:
    - job: BuildVscode
      strategy:
        matrix:
          Windows:
            Pool: azsdk-pool-mms-win-2022-general
            OSVmImage: MMS2022
          Linux:
            Pool: azsdk-pool-mms-ubuntu-2004-general
            OSVmImage: MMSUbuntu20.04
  ...

eng/pipelines/repoman.yml:
  stages:
  - stage: Validation
    jobs:
    - job: Generate_Repos_For_PR
      condition: "and(\n  succeeded(),\n  or(\n    eq(variables['BuildReasonOverride'], 'PullRequest'),\n    and(\n      eq('', variables['BuildReasonOverride']),\n      eq(variables['Build.Reason'], 'PullRequest')\n    )\n  )\n)"
  ...

eng/pipelines/template-tests.yml:
  jobs:
  - template: /eng/pipelines/templates/jobs/run-template-tests.yml
    parameters:
      AzdVersion: ${{ parameters.AzdVersion }}
      UseAzdVersionFromPrNumber: true
      TemplateList: ${{ parameters.TemplateList }}
      TemplateListFilter: ${{ parameters.TemplateListFilter }}
  ...

update use
  templates/todo/projects/nodejs-mongo/.repo/bicep/infra/main.bicep
Due: eng/pipelines/repoman.yml

add comment
  cli/azd/pkg/output/ux/list_as_text.go
Due: eng/pipelines/release-cli.yml

Make `services` not required; clean-up project config. (#2065)
  cli/azd/internal/repository/testdata/empty/azureyaml_created.txt
  cli/azd/pkg/project/project_config.go
  ext/vscode/src/commands/azureWorkspace/wizard/PickResourceGroupStep.ts
  ext/vscode/src/services/AzureDevShowProvider.ts
  schemas/v1.0/azure.yaml.json
Due: eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml

`funcapp` -> `function`
  cli/azd/.vscode/cspell-azd-dictionary.txt
  templates/starter/bicep/infra/main.bicep
  templates/starter/terraform/infra/main.tf
Due: eng/pipelines/release-cli.yml, eng/pipelines/repoman.yml

Add terraform note
  templates/starter/terraform/README.md
Due: eng/pipelines/repoman.yml

Minimize devcontainer
  templates/common/.devcontainer/devcontainer.json/bicep-starter/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/terraform-starter/devcontainer.json
  templates/starter/bicep/README.md
  templates/starter/bicep/azure.yaml
  templates/starter/terraform/README.md
  templates/starter/terraform/azure.yaml
Due: eng/pipelines/repoman.yml

Reword readme summary
  templates/starter/bicep/README.md
  templates/starter/terraform/README.md
Due: eng/pipelines/repoman.yml

Revert correct cspell file
  cli/azd/.vscode/cspell-azd-dictionary.txt
  templates/cspell-templates.txt
Due: eng/pipelines/release-cli.yml, eng/pipelines/repoman.yml

Allow deploy to run for starters
  templates/tests/test-templates.sh
Due: eng/pipelines/repoman.yml

Add new bicep and terraform starter templates (#2055)
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/pkg/templates/template.go
  cli/azd/pkg/templates/template_manager.go
  cli/azd/resources/templates.json
  templates/common/.azdo/pipelines/bicep/azure-dev.yml
  templates/common/.azdo/pipelines/terraform/azure-dev.yml
  templates/common/.devcontainer/devcontainer.json/bicep-starter/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/nodejs/terraform/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/terraform-starter/devcontainer.json
  templates/common/.github/workflows/bicep/azure-dev.yml
  templates/common/.github/workflows/terraform/azure-dev.yml
  templates/starter/bicep/README.md
  templates/starter/bicep/azure.yaml
  templates/starter/bicep/infra/main.bicep
  templates/starter/bicep/infra/main.parameters.json
  templates/starter/bicep/repo.yaml
  templates/starter/terraform/README.md
  templates/starter/terraform/azure.yaml
  templates/starter/terraform/infra/main.tf
  templates/starter/terraform/infra/main.tfvars.json
  templates/starter/terraform/infra/output.tf
  templates/starter/terraform/infra/provider.tf
  templates/starter/terraform/infra/variables.tf
  templates/starter/terraform/repo.yaml
  templates/tests/test-templates.sh
Due: eng/pipelines/release-cli.yml, eng/pipelines/repoman.yml

Respond to PR Feedback
  cli/azd/cmd/config.go
  cli/azd/pkg/account/manager.go
  cli/azd/pkg/account/manager_test.go
  cli/azd/pkg/auth/manager.go
  cli/azd/pkg/auth/manager_test.go
  cli/azd/pkg/config/config.go
  cli/azd/pkg/environment/environment.go
  cli/azd/test/mocks/mockconfig/mock_config.go
Due: eng/pipelines/release-cli.yml

Move "current-user" settings out of `config.json` (#2071)
  cli/azd/cmd/config.go
  cli/azd/pkg/account/manager.go
  cli/azd/pkg/account/manager_test.go
  cli/azd/pkg/auth/manager.go
  cli/azd/pkg/auth/manager_test.go
  cli/azd/pkg/config/config.go
  cli/azd/pkg/config/manager.go
  cli/azd/pkg/environment/environment.go
  cli/azd/test/mocks/mock_context.go
  cli/azd/test/mocks/mockconfig/mock_config.go
Due: eng/pipelines/release-cli.yml

Fix commandRunner being `nil` for `azd login`
  cli/azd/cmd/auth_login.go
Due: eng/pipelines/release-cli.yml

use credential helper only if AZURE_DEVOPS_EXT_PAT has a value
  cli/azd/pkg/commands/pipeline/azdo_provider.go
Due: eng/pipelines/release-cli.yml

Fix commandRunner being `nil` for `azd login` (#2080)
  cli/azd/cmd/auth_login.go
Due: eng/pipelines/release-cli.yml

Fix tests
  cli/azd/cmd/util_test.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
Due: eng/pipelines/release-cli.yml

Fix `azd down` deletion logic (#2048)
  cli/azd/cmd/util_test.go
  cli/azd/pkg/infra/azure_resource_manager.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
Due: eng/pipelines/release-cli.yml

Remove `Scope` parameter from `infra.Provider` and `infra.Manager`
  cli/azd/cmd/env.go
  cli/azd/cmd/provision.go
  cli/azd/pkg/infra/azure_resource_manager.go
  cli/azd/pkg/infra/azure_resource_manager_test.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/infra/provisioning/bicep/prompt_test.go
  cli/azd/pkg/infra/provisioning/manager.go
  cli/azd/pkg/infra/provisioning/manager_test.go
  cli/azd/pkg/infra/provisioning/provider.go
  cli/azd/pkg/infra/provisioning/provisioning_progress_display.go
  cli/azd/pkg/infra/provisioning/provisioning_progress_display_test.go
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider.go
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider_test.go
  cli/azd/pkg/infra/provisioning/test/test_provider.go
  cli/azd/pkg/infra/scope.go
  cli/azd/pkg/infra/scope_test.go
  cli/azd/pkg/tools/azcli/azcli.go
  cli/azd/pkg/tools/azcli/deployments.go
Due: eng/pipelines/release-cli.yml

Remove `Scope` parameter from `infra.Provider` and `infra.Manager` (#2082)
  cli/azd/cmd/env.go
  cli/azd/cmd/provision.go
  cli/azd/pkg/infra/azure_resource_manager.go
  cli/azd/pkg/infra/azure_resource_manager_test.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/infra/provisioning/bicep/prompt_test.go
  cli/azd/pkg/infra/provisioning/manager.go
  cli/azd/pkg/infra/provisioning/manager_test.go
  cli/azd/pkg/infra/provisioning/provider.go
  cli/azd/pkg/infra/provisioning/provisioning_progress_display.go
  cli/azd/pkg/infra/provisioning/provisioning_progress_display_test.go
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider.go
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider_test.go
  cli/azd/pkg/infra/provisioning/test/test_provider.go
  cli/azd/pkg/infra/scope.go
  cli/azd/pkg/infra/scope_test.go
  cli/azd/pkg/tools/azcli/azcli.go
  cli/azd/pkg/tools/azcli/deployments.go
Due: eng/pipelines/release-cli.yml

Use a unique deployment name when provisioning
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/infra/scope.go
  cli/azd/pkg/infra/scope_test.go
  cli/azd/pkg/tools/azcli/azcli.go
  cli/azd/pkg/tools/azcli/deployments.go
Due: eng/pipelines/release-cli.yml

Add confirmation prompt when running init in non-empty directory
  cli/azd/cmd/init.go
  cli/azd/internal/repository/initializer.go
  cli/azd/internal/repository/initializer_test.go
Due: eng/pipelines/release-cli.yml

Restore comment
  cli/azd/internal/repository/initializer.go
Due: eng/pipelines/release-cli.yml

Restore comments
  cli/azd/internal/repository/initializer.go
Due: eng/pipelines/release-cli.yml

fix 1945
  cli/azd/pkg/commands/pipeline/azdo_provider.go
  cli/azd/pkg/commands/pipeline/azdo_provider_test.go
Due: eng/pipelines/release-cli.yml

Make changes to when prompt shows up
  cli/azd/cmd/init.go
Due: eng/pipelines/release-cli.yml

Quote file location
  cli/installer/install-azd.ps1
Due: eng/pipelines/release-cli.yml

Use double quotes (msiexec.exe still fails when using single quotes)
  cli/installer/install-azd.ps1
Due: eng/pipelines/release-cli.yml

Quote file location in install-azd.ps1 (#2087)
  cli/installer/install-azd.ps1
Due: eng/pipelines/release-cli.yml

add yml error message
  cli/azd/pkg/commands/pipeline/pipeline.go
Due: eng/pipelines/release-cli.yml

comment
  templates/todo/api/python/todo/app.py
Due: eng/pipelines/repoman.yml

use temporal configuration
  cli/azd/pkg/commands/pipeline/azdo_provider.go
  cli/azd/pkg/commands/pipeline/github_provider.go
  cli/azd/pkg/commands/pipeline/pipeline.go
  cli/azd/pkg/commands/pipeline/pipeline_manager.go
  cli/azd/pkg/tools/git/git.go
Due: eng/pipelines/release-cli.yml

use insteadOf git config
  cli/azd/pkg/commands/pipeline/azdo_provider.go
Due: eng/pipelines/release-cli.yml

tested
  cli/azd/pkg/commands/pipeline/azdo_provider.go
Due: eng/pipelines/release-cli.yml

sensitive
  cli/azd/pkg/commands/pipeline/azdo_provider.go
  cli/azd/pkg/exec/command_runner.go
  cli/azd/pkg/exec/runargs.go
Due: eng/pipelines/release-cli.yml

protect pat from logs
  cli/azd/pkg/commands/pipeline/azdo_provider.go
  cli/azd/pkg/exec/command_runner.go
Due: eng/pipelines/release-cli.yml

redacted
  cli/azd/pkg/exec/command_runner.go
Due: eng/pipelines/release-cli.yml

Add telemetry reporting for spaces
  cli/azd/internal/telemetry/fields/fields.go
  cli/azd/internal/telemetry/resource/ci.go
  cli/azd/internal/telemetry/resource/exec_environment.go
Due: eng/pipelines/release-cli.yml

fix comment
  cli/azd/internal/telemetry/resource/exec_environment.go
Due: eng/pipelines/release-cli.yml

Add test coverage
  cli/azd/test/functional/telemetry_test.go
Due: eng/pipelines/release-cli.yml

Add confirmation prompt when running init in non-empty directory (#2086)
  cli/azd/cmd/init.go
  cli/azd/internal/repository/initializer.go
  cli/azd/internal/repository/initializer_test.go
Due: eng/pipelines/release-cli.yml

Path conditions:
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml
  eng/pipelines/release-vscode.yml: any of: ext, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
