Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/release-cli.yml:
  stages:
  - stage: BuildAndTest
    jobs:
    - job: BuildCLI
      strategy:
        matrix:
          Windows:
            Pool: azsdk-pool-mms-win-2022-general
            OSVmImage: MMS2022
            BuildTarget: azd-windows-amd64.exe
            BuildOutputName: azd.exe
            BuildTestMsi: true
  ...

eng/pipelines/release-vscode.yml:
  stages:
  - stage: BuildAndTest
    jobs:
    - job: BuildVscode
      strategy:
        matrix:
          Windows:
            Pool: azsdk-pool-mms-win-2022-general
            OSVmImage: MMS2022
          Linux:
            Pool: azsdk-pool-mms-ubuntu-2004-general
            OSVmImage: MMSUbuntu20.04
  ...

eng/pipelines/repoman.yml:
  stages:
  - stage: Validation
    jobs:
    - job: Generate_Repos_For_PR
      condition: "and(\n  succeeded(),\n  or(\n    eq(variables['BuildReasonOverride'], 'PullRequest'),\n    and(\n      eq('', variables['BuildReasonOverride']),\n      eq(variables['Build.Reason'], 'PullRequest')\n    )\n  )\n)"
  ...

eng/pipelines/template-tests.yml:
  jobs:
  - template: /eng/pipelines/templates/jobs/run-template-tests.yml
    parameters:
      AzdVersion: ${{ parameters.AzdVersion }}
      UseAzdVersionFromPrNumber: true
      TemplateList: ${{ parameters.TemplateList }}
      TemplateListFilter: ${{ parameters.TemplateListFilter }}
  ...

Render package output paths with hyperlinks
  cli/azd/pkg/project/service_models.go
Due: eng/pipelines/release-cli.yml

Attempt at configuring Redis ACA service.
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/apphost/generate_types.go
  cli/azd/resources/apphost/templates/resources.bicept
Due: eng/pipelines/release-cli.yml

Updates package tests
  cli/azd/test/functional/package_test.go
Due: eng/pipelines/release-cli.yml

Run workload restore, maybe fix eol issues?
  cli/azd/pkg/apphost/testdata/.gitattributes
  cli/azd/test/functional/up_test.go
Due: eng/pipelines/release-cli.yml

Make dashboard optional via name
  templates/common/infra/bicep/core/monitor/applicationinsights.bicep
  templates/common/infra/bicep/core/monitor/monitoring.bicep
Due: eng/pipelines/repoman.yml

Formatting
  templates/common/infra/bicep/core/monitor/applicationinsights.bicep
  templates/common/infra/bicep/core/monitor/monitoring.bicep
Due: eng/pipelines/repoman.yml

With insert final new line
  templates/common/infra/bicep/core/monitor/applicationinsights.bicep
  templates/common/infra/bicep/core/monitor/monitoring.bicep
Due: eng/pipelines/repoman.yml

Add APIScan to notice build
  eng/pipelines/build-notice.yml
Due: none

Mitigate winget issue with MSI upgrade by removing default display of the custom uninstall UI
  cli/installer/windows/azd.wxs
Due: eng/pipelines/release-cli.yml

Do not require `docker login` for Aspire apps
  cli/azd/.vscode/cspell.yaml
  cli/azd/pkg/project/container_helper.go
  cli/azd/pkg/project/service_target_dotnet_containerapp.go
  cli/azd/pkg/tools/azcli/container_registry.go
  cli/azd/pkg/tools/dotnet/dotnet.go
Due: eng/pipelines/release-cli.yml

Scan correct directory
  eng/pipelines/build-notice.yml
Due: none

- Fix #387
  cli/azd/internal/appdetect/testdata/dotnet/dotnettestapp.csproj
  cli/azd/pkg/project/framework_service_dotnet_test.go
  cli/azd/test/functional/testdata/samples/containerapp/src/dotnet/Dockerfile
  cli/azd/test/functional/testdata/samples/containerapp/src/dotnet/webapp.csproj
  templates/todo/api/csharp-cosmos-sql/ListsController.cs
  templates/todo/api/csharp-cosmos-sql/Program.cs
  templates/todo/api/csharp-cosmos-sql/Todo.Api.csproj
  templates/todo/api/csharp-cosmos-sql/TodoEndPointsExt.cs
  templates/todo/api/csharp-sql-func/Todo.Api.csproj
  templates/todo/api/csharp-sql/ListsController.cs
  templates/todo/api/csharp-sql/Program.cs
  templates/todo/api/csharp-sql/Todo.Api.csproj
  templates/todo/api/csharp-sql/TodoEndPointsExt.cs
  templates/todo/api/csharp/ListsController.cs
  templates/todo/api/csharp/ListsRepository.cs
  templates/todo/api/csharp/Program.cs
  templates/todo/api/csharp/Todo.Api.csproj
  templates/todo/api/csharp/TodoEndPointsExt.cs
Due: eng/pipelines/release-cli.yml, eng/pipelines/repoman.yml

Updates to tests and packages
  cli/azd/pkg/project/framework_service_dotnet.go
  cli/azd/test/functional/testdata/samples/restoreapp/csharpapp/dotnettestapp.csproj
  cli/azd/test/functional/testdata/samples/webapp/src/dotnet/webapp.csproj
Due: eng/pipelines/release-cli.yml

Updated Csharp API
  templates/todo/api/csharp/Program.cs
  templates/todo/api/csharp/TodoEndPointsExt.cs
Due: eng/pipelines/repoman.yml

Updated Todo Cosmos sample
  templates/todo/api/csharp-cosmos-sql/Program.cs
  templates/todo/api/csharp-cosmos-sql/TodoEndPointsExt.cs
  templates/todo/projects/csharp-cosmos-sql/.vscode/launch.json
Due: eng/pipelines/repoman.yml

Updated Todo SQL Sample
  templates/todo/api/csharp-sql/Program.cs
  templates/todo/api/csharp-sql/TodoEndPointsExt.cs
  templates/todo/projects/csharp-sql/.vscode/launch.json
Due: eng/pipelines/repoman.yml

Updates per @davidfowl
  templates/todo/api/csharp-cosmos-sql/Program.cs
  templates/todo/api/csharp-cosmos-sql/TodoEndPointsExt.cs
  templates/todo/api/csharp-sql-func/ListsFunctions.cs
  templates/todo/api/csharp-sql/Program.cs
  templates/todo/api/csharp-sql/TodoEndPointsExt.cs
  templates/todo/api/csharp/Program.cs
  templates/todo/api/csharp/TodoEndPointsExt.cs
Due: eng/pipelines/repoman.yml

Fix DI nit
  templates/todo/api/csharp-sql-func/ListsFunctions.cs
Due: eng/pipelines/repoman.yml

update engsys to net8
  cli/Dockerfile
  templates/common/.devcontainer/devcontainer.json/csharp/func/devcontainer.json
Due: eng/pipelines/release-cli.yml, eng/pipelines/repoman.yml

update .net version
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

- Rename files - Use Camel case for variables - cleanup namespaces
  templates/todo/api/csharp-cosmos-sql/Program.cs
  templates/todo/api/csharp-cosmos-sql/TodoEndpointsExtensions.cs
  templates/todo/api/csharp-sql-func/ListsFunctions.cs
  templates/todo/api/csharp-sql/Program.cs
  templates/todo/api/csharp-sql/TodoEndpointsExtensions.cs
  templates/todo/api/csharp/Program.cs
  templates/todo/api/csharp/TodoEndpointsExtensions.cs
Due: eng/pipelines/repoman.yml

avoid warning when drop user
  templates/common/infra/bicep/core/database/sqlserver/sqlserver.bicep
Due: eng/pipelines/repoman.yml

updates for new container
  cli/Dockerfile
Due: eng/pipelines/release-cli.yml

npm
  cli/Dockerfile
Due: eng/pipelines/release-cli.yml

Sketch addition of "on demand" Dapr store.
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/apphost/generate_types.go
  cli/azd/resources/apphost/templates/resources.bicept
Due: eng/pipelines/release-cli.yml

Move Dapr store password to secrets.
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/apphost/generate_types.go
  cli/azd/resources/apphost/templates/resources.bicept
Due: eng/pipelines/release-cli.yml

Linting fixes.
  .vscode/cspell.global.yaml
  cli/azd/pkg/apphost/generate.go
  cli/azd/pkg/apphost/generate_types.go
  cli/azd/pkg/apphost/manifest.go
Due: eng/pipelines/release-cli.yml

WIP
  cli/azd/cmd/container.go
  cli/azd/pkg/project/service_target.go
  cli/azd/pkg/project/service_target_registry.go
Due: eng/pipelines/release-cli.yml

Fixing gitignore for .NET ecosystem
  templates/todo/api/csharp-cosmos-sql/.gitignore
  templates/todo/api/csharp-sql-func/.gitignore
  templates/todo/api/csharp-sql/.gitignore
  templates/todo/api/csharp/.gitignore
Due: eng/pipelines/repoman.yml

update changelog
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

Adds container registry service target
  cli/azd/pkg/project/service_manager.go
  cli/azd/pkg/project/service_target.go
  cli/azd/pkg/project/service_target_registry.go
Due: eng/pipelines/release-cli.yml

Update cognitiveservices.bicep with networkAcls
  templates/common/infra/bicep/core/ai/cognitiveservices.bicep
Due: eng/pipelines/repoman.yml

- Update READMEs - Fix Bicep files to have .NET 8 App Service - Fixed localization issue with Database
  cli/azd/test/functional/testdata/samples/webapp/infra/resources.bicep
  templates/todo/api/csharp-cosmos-sql/Todo.Api.csproj
  templates/todo/api/csharp-sql/Todo.Api.csproj
  templates/todo/api/csharp/Todo.Api.csproj
  templates/todo/common/infra/bicep/app/api-appservice-dotnet.bicep
  templates/todo/common/infra/bicep/app/api-functions-dotnet-isolated.bicep
  templates/todo/projects/csharp-cosmos-sql/README.md
  templates/todo/projects/csharp-sql-swa-func/README.md
  templates/todo/projects/csharp-sql/README.md
Due: eng/pipelines/release-cli.yml, eng/pipelines/repoman.yml

Adds support to set the registry name in the azure.yaml file
  cli/azd/pkg/async/task_context.go
  cli/azd/pkg/project/container_helper.go
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/project/service_target_dotnet_containerapp.go
  cli/azd/pkg/project/service_target_registry.go
Due: eng/pipelines/release-cli.yml

avoid warning when drop user (#3026)
  templates/common/infra/bicep/core/database/sqlserver/sqlserver.bicep
Due: eng/pipelines/repoman.yml

Update cognitiveservices.bicep with networkAcls (#3033)
  templates/common/infra/bicep/core/ai/cognitiveservices.bicep
Due: eng/pipelines/repoman.yml

- Adding spinner during manifest generation - Adding AZURE_INITIAL_ENVIRONMENT_CONFIG for setting the initial env-config - setting AZURE_INITIAL_ENVIRONMENT_CONFIG as a pipeline secret
  cli/azd/pkg/apphost/service_ingress_configurer.go
  cli/azd/pkg/azdo/pipeline.go
  cli/azd/pkg/environment/environment.go
  cli/azd/pkg/pipeline/azdo_provider.go
  cli/azd/pkg/pipeline/github_provider.go
  cli/azd/pkg/pipeline/pipeline.go
  cli/azd/pkg/pipeline/pipeline_manager.go
  cli/azd/pkg/project/dotnet_importer.go
Due: eng/pipelines/release-cli.yml

Relax ContainerAppName length (#2969)
  cli/azd/CHANGELOG.md
  cli/azd/internal/scaffold/funcs.go
  cli/azd/internal/scaffold/funcs_test.go
  cli/azd/internal/scaffold/scaffold.go
  cli/azd/resources/scaffold/templates/main.bicept
Due: eng/pipelines/release-cli.yml

Mitigate winget issue with MSI upgrade by removing default display of the custom uninstall UI (#3013)
  cli/installer/windows/azd.wxs
Due: eng/pipelines/release-cli.yml

Path conditions:
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml
  eng/pipelines/release-vscode.yml: any of: ext, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
