Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml
  eng/pipelines/release-vscode.yml: any of: ext, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

readd
  cli/azd/pkg/input/testdata/Test_progressChangeHeader.md
  cli/azd/pkg/input/testdata/Test_progressLogLongLine.md
  cli/azd/pkg/input/testdata/Test_progressLogManyLines.md
  cli/azd/pkg/input/testdata/Test_progressLogMultiWrite.md
  cli/azd/pkg/input/testdata/Test_progressLogStartWithBreak.md
  cli/azd/pkg/input/testdata/Test_progressLogWithBreak.md
  cli/azd/pkg/input/testdata/input-Test_progressLogLine-log.md
  cli/azd/pkg/input/testdata/input-Test_progressLogLine-start.md
  cli/azd/pkg/input/testdata/input-Test_progressLogLine-stop.md
  cli/azd/pkg/input/testdata/input-Test_progressLogStartStop-start.md
  cli/azd/pkg/input/testdata/input-Test_progressLogStartStop-stop.md
Due: eng/pipelines/release-cli.yml

Include current branch name in federated auth
  cli/azd/pkg/pipeline/azdo_provider.go
  cli/azd/pkg/pipeline/github_provider.go
  cli/azd/pkg/pipeline/pipeline.go
  cli/azd/pkg/pipeline/pipeline_manager.go
Due: eng/pipelines/release-cli.yml

Current git branch updates
  cli/azd/pkg/pipeline/pipeline_manager.go
Due: eng/pipelines/release-cli.yml

Update ext/devcontainer/src/azd/devcontainer-feature.json
  ext/devcontainer/src/azd/devcontainer-feature.json
Due: eng/pipelines/release-vscode.yml

Update ext/devcontainer/src/azd/README.md
  ext/devcontainer/src/azd/README.md
Due: eng/pipelines/release-vscode.yml

Updated changelog
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

Set CWD when launching `azd` to upload telemtry
  cli/azd/main.go
Due: eng/pipelines/release-cli.yml

Set CWD when launching `azd` to upload telemtry (#2467)
  cli/azd/main.go
Due: eng/pipelines/release-cli.yml

Increment CLI version after release
  cli/version.txt
Due: eng/pipelines/release-cli.yml

Move `EnsureEnv` from `prompt.Prompter` to `provisioning.Provider`
  cli/azd/cmd/pipeline.go
  cli/azd/cmd/up.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/manager.go
  cli/azd/pkg/infra/provisioning/manager_test.go
  cli/azd/pkg/infra/provisioning/provider.go
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider.go
  cli/azd/pkg/infra/provisioning/test/test_provider.go
  cli/azd/pkg/prompt/prompter.go
Due: eng/pipelines/release-cli.yml

chore: pkg imported more than once
  cli/azd/pkg/tools/azcli/container_registry.go
Due: eng/pipelines/release-cli.yml

first
  cli/azd/pkg/input/testdata/Test_progressChangeHeader.md
  cli/azd/pkg/input/testdata/Test_progressLogLongLine.md
  cli/azd/pkg/input/testdata/Test_progressLogManyLines.md
  cli/azd/pkg/input/testdata/Test_progressLogMultiWrite.md
  cli/azd/pkg/input/testdata/Test_progressLogStartWithBreak.md
  cli/azd/pkg/input/testdata/Test_progressLogWithBreak.md
  cli/azd/pkg/input/testdata/input-Test_progressLogLine-log.md
  cli/azd/pkg/input/testdata/input-Test_progressLogLine-start.md
  cli/azd/pkg/input/testdata/input-Test_progressLogLine-stop.md
  cli/azd/pkg/input/testdata/input-Test_progressLogStartStop-start.md
  cli/azd/pkg/input/testdata/input-Test_progressLogStartStop-stop.md
Due: eng/pipelines/release-cli.yml

second
  cli/azd/pkg/input/testdata/Test_progressChangeHeader.md
  cli/azd/pkg/input/testdata/Test_progressLogLongLine.md
  cli/azd/pkg/input/testdata/Test_progressLogManyLines.md
  cli/azd/pkg/input/testdata/Test_progressLogMultiWrite.md
  cli/azd/pkg/input/testdata/Test_progressLogStartWithBreak.md
  cli/azd/pkg/input/testdata/Test_progressLogWithBreak.md
  cli/azd/pkg/input/testdata/input-Test_progressLogLine-log.md
  cli/azd/pkg/input/testdata/input-Test_progressLogLine-start.md
  cli/azd/pkg/input/testdata/input-Test_progressLogLine-stop.md
  cli/azd/pkg/input/testdata/input-Test_progressLogStartStop-start.md
  cli/azd/pkg/input/testdata/input-Test_progressLogStartStop-stop.md
Due: eng/pipelines/release-cli.yml

atr
  .gitattributes
Due: none

rm
  cli/azd/pkg/input/testdata/Test_progressChangeHeader.md
  cli/azd/pkg/input/testdata/Test_progressLogLongLine.md
  cli/azd/pkg/input/testdata/Test_progressLogManyLines.md
  cli/azd/pkg/input/testdata/Test_progressLogMultiWrite.md
  cli/azd/pkg/input/testdata/Test_progressLogStartWithBreak.md
  cli/azd/pkg/input/testdata/Test_progressLogWithBreak.md
  cli/azd/pkg/input/testdata/input-Test_progressLogLine-log.md
  cli/azd/pkg/input/testdata/input-Test_progressLogLine-start.md
  cli/azd/pkg/input/testdata/input-Test_progressLogLine-stop.md
  cli/azd/pkg/input/testdata/input-Test_progressLogStartStop-start.md
  cli/azd/pkg/input/testdata/input-Test_progressLogStartStop-stop.md
Due: eng/pipelines/release-cli.yml

snap
  cli/azd/pkg/input/testdata/Test_progressChangeHeader.md
  cli/azd/pkg/input/testdata/Test_progressLogLongLine.md
  cli/azd/pkg/input/testdata/Test_progressLogManyLines.md
  cli/azd/pkg/input/testdata/Test_progressLogMultiWrite.md
  cli/azd/pkg/input/testdata/Test_progressLogStartWithBreak.md
  cli/azd/pkg/input/testdata/Test_progressLogWithBreak.md
  cli/azd/pkg/input/testdata/input-Test_progressLogLine-log.md
  cli/azd/pkg/input/testdata/input-Test_progressLogLine-start.md
  cli/azd/pkg/input/testdata/input-Test_progressLogLine-stop.md
  cli/azd/pkg/input/testdata/input-Test_progressLogStartStop-start.md
  cli/azd/pkg/input/testdata/input-Test_progressLogStartStop-stop.md
Due: eng/pipelines/release-cli.yml

Move `EnsureEnv` from `prompt.Prompter` to `provisioning.Provider` (#2465)
  cli/azd/cmd/pipeline.go
  cli/azd/cmd/up.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/manager.go
  cli/azd/pkg/infra/provisioning/manager_test.go
  cli/azd/pkg/infra/provisioning/provider.go
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider.go
  cli/azd/pkg/infra/provisioning/test/test_provider.go
  cli/azd/pkg/prompt/prompter.go
Due: eng/pipelines/release-cli.yml

attr
  .gitattributes
Due: none

add
  cli/azd/pkg/input/testdata/Test_progressChangeHeader.md
  cli/azd/pkg/input/testdata/Test_progressLogLongLine.md
  cli/azd/pkg/input/testdata/Test_progressLogManyLines.md
  cli/azd/pkg/input/testdata/Test_progressLogMultiWrite.md
  cli/azd/pkg/input/testdata/Test_progressLogStartWithBreak.md
  cli/azd/pkg/input/testdata/Test_progressLogWithBreak.md
  cli/azd/pkg/input/testdata/input-Test_progressLogLine-log.md
  cli/azd/pkg/input/testdata/input-Test_progressLogLine-start.md
  cli/azd/pkg/input/testdata/input-Test_progressLogLine-stop.md
  cli/azd/pkg/input/testdata/input-Test_progressLogStartStop-start.md
  cli/azd/pkg/input/testdata/input-Test_progressLogStartStop-stop.md
Due: eng/pipelines/release-cli.yml

rma
  cli/azd/pkg/input/testdata/Test_progressChangeHeader.md
  cli/azd/pkg/input/testdata/Test_progressLogLongLine.md
  cli/azd/pkg/input/testdata/Test_progressLogManyLines.md
  cli/azd/pkg/input/testdata/Test_progressLogMultiWrite.md
  cli/azd/pkg/input/testdata/Test_progressLogStartWithBreak.md
  cli/azd/pkg/input/testdata/Test_progressLogWithBreak.md
  cli/azd/pkg/input/testdata/input-Test_progressLogLine-log.md
  cli/azd/pkg/input/testdata/input-Test_progressLogLine-start.md
  cli/azd/pkg/input/testdata/input-Test_progressLogLine-stop.md
  cli/azd/pkg/input/testdata/input-Test_progressLogStartStop-start.md
  cli/azd/pkg/input/testdata/input-Test_progressLogStartStop-stop.md
Due: eng/pipelines/release-cli.yml

insert
  cli/azd/pkg/input/testdata/Test_progressChangeHeader.md
  cli/azd/pkg/input/testdata/Test_progressLogLongLine.md
  cli/azd/pkg/input/testdata/Test_progressLogManyLines.md
  cli/azd/pkg/input/testdata/Test_progressLogMultiWrite.md
  cli/azd/pkg/input/testdata/Test_progressLogStartWithBreak.md
  cli/azd/pkg/input/testdata/Test_progressLogWithBreak.md
  cli/azd/pkg/input/testdata/input-Test_progressLogLine-log.md
  cli/azd/pkg/input/testdata/input-Test_progressLogLine-start.md
  cli/azd/pkg/input/testdata/input-Test_progressLogLine-stop.md
  cli/azd/pkg/input/testdata/input-Test_progressLogStartStop-start.md
  cli/azd/pkg/input/testdata/input-Test_progressLogStartStop-stop.md
Due: eng/pipelines/release-cli.yml

att
  .gitattributes
Due: none

r
  cli/azd/pkg/input/testdata/Test_progressChangeHeader.md
  cli/azd/pkg/input/testdata/Test_progressLogLongLine.md
  cli/azd/pkg/input/testdata/Test_progressLogManyLines.md
  cli/azd/pkg/input/testdata/Test_progressLogMultiWrite.md
  cli/azd/pkg/input/testdata/Test_progressLogStartWithBreak.md
  cli/azd/pkg/input/testdata/Test_progressLogWithBreak.md
  cli/azd/pkg/input/testdata/input-Test_progressLogLine-log.md
  cli/azd/pkg/input/testdata/input-Test_progressLogLine-start.md
  cli/azd/pkg/input/testdata/input-Test_progressLogLine-stop.md
  cli/azd/pkg/input/testdata/input-Test_progressLogStartStop-start.md
  cli/azd/pkg/input/testdata/input-Test_progressLogStartStop-stop.md
Due: eng/pipelines/release-cli.yml

add
  cli/azd/pkg/input/progress_log_test.go
  cli/azd/pkg/input/testdata/Test_progressChangeHeader.md
  cli/azd/pkg/input/testdata/Test_progressLogLongLine.md
  cli/azd/pkg/input/testdata/Test_progressLogManyLines.md
  cli/azd/pkg/input/testdata/Test_progressLogMultiWrite.md
  cli/azd/pkg/input/testdata/Test_progressLogStartWithBreak.md
  cli/azd/pkg/input/testdata/Test_progressLogWithBreak.md
  cli/azd/pkg/input/testdata/input-Test_progressLogLine-log.md
  cli/azd/pkg/input/testdata/input-Test_progressLogLine-start.md
  cli/azd/pkg/input/testdata/input-Test_progressLogLine-stop.md
  cli/azd/pkg/input/testdata/input-Test_progressLogStartStop-start.md
  cli/azd/pkg/input/testdata/input-Test_progressLogStartStop-stop.md
Due: eng/pipelines/release-cli.yml

no or
  .gitattributes
Due: none

like this
  .gitattributes
Due: none

trythis
  .gitattributes
Due: none

dupl
  .gitattributes
Due: none

rev
  .gitattributes
Due: none

only to folder
  .gitattributes
  cli/azd/pkg/input/testdata/.gitattributes
Due: eng/pipelines/release-cli.yml

space
  .gitattributes
Due: none

nps
  .gitattributes
Due: none

r
  .gitattributes
Due: none

Validate environment exists when running `azd env select`
  cli/azd/cmd/env.go
  cli/azd/cmd/testdata/TestUsage-azd-env-new.snap
  cli/azd/cmd/testdata/TestUsage-azd-env.snap
  cli/azd/test/functional/env_test.go
Due: eng/pipelines/release-cli.yml

add xdg-utils/version due to local test/feedback
  ext/devcontainer/src/azd/devcontainer-feature.json
  ext/devcontainer/src/azd/install.sh
Due: eng/pipelines/release-vscode.yml

flag parsing strategy
  cli/azd/cmd/cmd_help.go
  cli/azd/cmd/cobra_builder.go
  cli/azd/test/functional/initialize_test.go
Due: eng/pipelines/release-cli.yml
