Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml
  eng/pipelines/release-vscode.yml: any of: ext, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

Fixes invalid hosts in azure.yaml file (#2215)
  cli/azd/cmd/middleware/hooks.go
  cli/azd/cmd/up.go
  cli/azd/pkg/commands/pipeline/pipeline_test.go
  cli/azd/pkg/project/project.go
  cli/azd/pkg/project/project_test.go
  cli/azd/test/functional/initialize_test.go
Due: eng/pipelines/release-cli.yml

move apim to complement doc
  templates/todo/projects/csharp-cosmos-sql/OPTIONAL_FEATURES.md
  templates/todo/projects/csharp-cosmos-sql/README.md
  templates/todo/projects/csharp-sql-swa-func/OPTIONAL_FEATURES.md
  templates/todo/projects/csharp-sql-swa-func/README.md
  templates/todo/projects/csharp-sql/OPTIONAL_FEATURES.md
  templates/todo/projects/csharp-sql/README.md
  templates/todo/projects/java-mongo-aca/OPTIONAL_FEATURES.md
  templates/todo/projects/java-mongo-aca/README.md
  templates/todo/projects/java-mongo/OPTIONAL_FEATURES.md
  templates/todo/projects/java-mongo/README.md
  templates/todo/projects/java-postgresql/README.md
  templates/todo/projects/nodejs-mongo-aca/OPTIONAL_FEATURES.md
  templates/todo/projects/nodejs-mongo-aca/README.md
  templates/todo/projects/nodejs-mongo-aks/README.md
  templates/todo/projects/nodejs-mongo-swa-func/OPTIONAL_FEATURES.md
  templates/todo/projects/nodejs-mongo-swa-func/README.md
  templates/todo/projects/nodejs-mongo/.repo/bicep/OPTIONAL_FEATURES.md
  templates/todo/projects/nodejs-mongo/.repo/bicep/README.md
  templates/todo/projects/nodejs-mongo/.repo/terraform/OPTIONAL_FEATURES.md
  templates/todo/projects/nodejs-mongo/.repo/terraform/README.md
  templates/todo/projects/python-mongo-aca/OPTIONAL_FEATURES.md
  templates/todo/projects/python-mongo-aca/README.md
  templates/todo/projects/python-mongo-swa-func/OPTIONAL_FEATURES.md
  templates/todo/projects/python-mongo-swa-func/README.md
  templates/todo/projects/python-mongo/.repo/bicep/OPTIONAL_FEATURES.md
  templates/todo/projects/python-mongo/.repo/bicep/README.md
  templates/todo/projects/python-mongo/.repo/terraform/OPTIONAL_FEATURES.md
  templates/todo/projects/python-mongo/.repo/terraform/README.md
Due: eng/pipelines/repoman.yml

Adds additional examples for how to turn alpha features on/off
  cli/azd/cmd/config.go
Due: eng/pipelines/release-cli.yml

separate pr
  templates/todo/api/python/requirements.txt
  templates/todo/api/python/todo/app.py
Due: eng/pipelines/repoman.yml

Shorten name of aca revision suffix
  cli/azd/pkg/containerapps/container_app.go
Due: eng/pipelines/release-cli.yml

Filter locations that do not have physical location listed (#2222)
  cli/azd/pkg/account/subscriptions.go
Due: eng/pipelines/release-cli.yml

Expose more fields in arm deployment error
  cli/azd/pkg/tools/azcli/azure_deployment_error.go
  cli/azd/pkg/tools/azcli/azure_deployment_error_test.go
Due: eng/pipelines/release-cli.yml

WIP: collect all error codes
  cli/azd/cmd/middleware/telemetry.go
  cli/azd/cmd/middleware/telemetry_test.go
  cli/azd/internal/tracing/fields/fields.go
Due: eng/pipelines/release-cli.yml

Remove Description from template list table format (#2212)
  cli/azd/cmd/actions/action.go
  cli/azd/cmd/cobra_builder.go
  cli/azd/cmd/templates.go
  cli/azd/pkg/templates/template.go
Due: eng/pipelines/release-cli.yml

check if telemetry is working
  templates/todo/api/python/todo/app.py
Due: eng/pipelines/repoman.yml

revert change to cli.go
  cli/azd/test/azdcli/cli.go
Due: eng/pipelines/release-cli.yml

Add auth failed error
  cli/azd/cmd/middleware/telemetry.go
  cli/azd/cmd/middleware/telemetry_test.go
  cli/azd/internal/tracing/fields/fields.go
  cli/azd/pkg/auth/azd_credential.go
  cli/azd/pkg/auth/errors.go
Due: eng/pipelines/release-cli.yml

Revert gitignre
  .gitignore
Due: none

Update version, changelog, notices for 0.6.0
  ext/vscode/CHANGELOG.md
  ext/vscode/NOTICE.txt
  ext/vscode/package-lock.json
  ext/vscode/package.json
Due: eng/pipelines/release-vscode.yml

add azure CLI instructions to TF templates
  templates/todo/projects/java-postgresql/README.md
  templates/todo/projects/nodejs-mongo/.repo/terraform/README.md
  templates/todo/projects/python-mongo/.repo/terraform/README.md
Due: eng/pipelines/repoman.yml

address comments
  templates/todo/projects/csharp-cosmos-sql/README.md
  templates/todo/projects/csharp-sql-swa-func/README.md
  templates/todo/projects/csharp-sql/README.md
  templates/todo/projects/java-mongo-aca/README.md
  templates/todo/projects/java-mongo/README.md
  templates/todo/projects/java-postgresql/README.md
  templates/todo/projects/nodejs-mongo-aca/README.md
  templates/todo/projects/nodejs-mongo-aks/README.md
  templates/todo/projects/nodejs-mongo-swa-func/README.md
  templates/todo/projects/nodejs-mongo/.repo/bicep/README.md
  templates/todo/projects/nodejs-mongo/.repo/terraform/README.md
  templates/todo/projects/python-mongo-aca/README.md
  templates/todo/projects/python-mongo-swa-func/README.md
  templates/todo/projects/python-mongo/.repo/bicep/README.md
  templates/todo/projects/python-mongo/.repo/terraform/README.md
Due: eng/pipelines/repoman.yml

Update unit tests
  cli/azd/pkg/containerapps/container_app_test.go
Due: eng/pipelines/release-cli.yml

Update snapshots
  cli/azd/cmd/testdata/TestUsage-azd-config-list-alpha.snap
Due: eng/pipelines/release-cli.yml

Automatically set `ErrorActionPreference` to `Stop` for pwsh inline hooks (#2214)
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/pkg/ext/models.go
Due: eng/pipelines/release-cli.yml

Updates docs to inform users on default roles granted
  cli/azd/cmd/pipeline.go
  cli/azd/cmd/testdata/TestUsage-azd-pipeline-config.snap
Due: eng/pipelines/release-cli.yml

Update version, changelog, notices for 0.6.0 (#2234)
  ext/vscode/CHANGELOG.md
  ext/vscode/NOTICE.txt
  ext/vscode/package-lock.json
  ext/vscode/package.json
Due: eng/pipelines/release-vscode.yml

Update cspell
  cli/azd/.vscode/cspell.yaml
Due: eng/pipelines/release-cli.yml

Adds additional examples for how to turn alpha features on/off (#2225)
  cli/azd/cmd/config.go
  cli/azd/cmd/testdata/TestUsage-azd-config-list-alpha.snap
Due: eng/pipelines/release-cli.yml

Shorten revision suffix for ACA apps (#2226)
  cli/azd/pkg/containerapps/container_app.go
  cli/azd/pkg/containerapps/container_app_test.go
Due: eng/pipelines/release-cli.yml

Updates pipeline default roles to include user access admin (#2218)
  cli/azd/cmd/pipeline.go
  cli/azd/cmd/testdata/TestUsage-azd-pipeline-config.snap
  cli/azd/pkg/commands/pipeline/pipeline_manager.go
  cli/azd/pkg/tools/azcli/ad.go
  cli/azd/pkg/tools/azcli/ad_test.go
  cli/azd/pkg/tools/azcli/azcli.go
Due: eng/pipelines/release-cli.yml

Add ARM64 bits to release process
  eng/pipelines/release-cli.yml
  eng/pipelines/templates/steps/publish-cli.yml
Due: eng/pipelines/release-cli.yml

Upgrade jdbc starter
  templates/todo/api/java-postgresql/pom.xml
Due: eng/pipelines/repoman.yml

Docs author, fix naming: alexwolftmsft -> alexwolfmsft (#2220)
  cli/azd/.vscode/cspell.yaml
  cli/azd/docs/docgen.go
Due: eng/pipelines/release-cli.yml

Update AKS templates to latest version
  templates/common/infra/bicep/core/host/aks-agent-pool.bicep
  templates/common/infra/bicep/core/host/aks-managed-cluster.bicep
Due: eng/pipelines/repoman.yml

test if telemetry works
  templates/todo/api/python/todo/app.py
Due: eng/pipelines/repoman.yml

Support environment name as explicit argument for `env refresh`
  cli/azd/cmd/env.go
  cli/azd/cmd/testdata/TestUsage-azd-env-refresh.snap
  cli/azd/test/functional/env_test.go
  cli/azd/test/functional/initialize_test.go
  cli/azd/test/functional/up_test.go
Due: eng/pipelines/release-cli.yml

Update README.md
  templates/todo/projects/csharp-sql-swa-func/README.md
Due: eng/pipelines/repoman.yml

Update templates/todo/projects/java-mongo/README.md
  templates/todo/projects/java-mongo/README.md
Due: eng/pipelines/repoman.yml

Update templates/todo/projects/python-mongo/.repo/bicep/README.md
  templates/todo/projects/python-mongo/.repo/bicep/README.md
Due: eng/pipelines/repoman.yml

Update templates/todo/projects/nodejs-mongo/.repo/terraform/README.md
  templates/todo/projects/nodejs-mongo/.repo/terraform/README.md
Due: eng/pipelines/repoman.yml

clean the code and delete local testing
  templates/todo/api/python/todo/app.py
Due: eng/pipelines/repoman.yml

Add ARM64 bits to release process (#2237)
  eng/pipelines/release-cli.yml
  eng/pipelines/templates/steps/publish-cli.yml
Due: eng/pipelines/release-cli.yml

semi-manual login for codespaces browser
  cli/azd/cmd/auth_login.go
Due: eng/pipelines/release-cli.yml

avoid serializing empty
  cli/azd/cmd/middleware/telemetry.go
Due: eng/pipelines/release-cli.yml
