Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/release-cli.yml, eng/pipelines/repoman.yml

Path conditions:
  eng/pipelines/release-cli.yml: any of: cli, eng/pipelines/release-cli.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml

Block Web UI until service is ready (#734)
  templates/todo/web/react-fluent/src/components/todoItemListPane.tsx
  templates/todo/web/react-fluent/src/components/todoListMenu.tsx
  templates/todo/web/react-fluent/src/pages/homePage.tsx
Due: eng/pipelines/repoman.yml

support azure.yaml
  cli/azd/pkg/azdo/utils.go
  cli/azd/pkg/commands/pipeline/azdo_provider.go
  cli/azd/pkg/commands/pipeline/azdo_provider_test.go
  cli/azd/pkg/commands/pipeline/pipeline.go
  cli/azd/pkg/commands/pipeline/pipeline_test.go
Due: eng/pipelines/release-cli.yml

suggesting moved: passing in key variable
  cli/azd/pkg/project/framework_service_dotnet.go
  cli/azd/pkg/tools/dotnet/dotnet.go
Due: eng/pipelines/release-cli.yml

revert back
  cli/azd/test/functional/cli_test.go
Due: eng/pipelines/release-cli.yml

Updates inline comments for filter expressions
  cli/azd/pkg/tools/azcli/azcli.go
Due: eng/pipelines/release-cli.yml

order ignore words alphabetically in cspell.
  .vscode/cspell.global.yaml
Due: none

improving errors and schema update
  cli/azd/pkg/azdo/service_connection.go
  cli/azd/pkg/commands/pipeline/pipeline.go
  schemas/v1.0/azure.yaml.json
Due: eng/pipelines/release-cli.yml

Remove make on map, remove AzDo prefix from azdo provider util functions.
  cli/azd/pkg/azdo/build_policy.go
  cli/azd/pkg/azdo/utils.go
  cli/azd/pkg/commands/pipeline/azdo_provider.go
Due: eng/pipelines/release-cli.yml

Changed pipeline exists to pass by value rather than reference.
  cli/azd/pkg/azdo/pipeline.go
Due: eng/pipelines/release-cli.yml

Added environment name to build policy name
  cli/azd/pkg/azdo/build_policy.go
  cli/azd/pkg/commands/pipeline/azdo_provider.go
Due: eng/pipelines/release-cli.yml

Refactor build policy parameters to be a literal for readability.
  cli/azd/pkg/azdo/build_policy.go
Due: eng/pipelines/release-cli.yml

Refactor service connection parameters to literal
  cli/azd/pkg/azdo/service_connection.go
Due: eng/pipelines/release-cli.yml

Refactor pipeline creation parameters to use literal syntax
  cli/azd/pkg/azdo/pipeline.go
Due: eng/pipelines/release-cli.yml

use env ptr
  cli/azd/pkg/azdo/pipeline.go
  cli/azd/pkg/commands/pipeline/azdo_provider.go
Due: eng/pipelines/release-cli.yml

clearer comment
  cli/azd/pkg/project/framework_service_dotnet.go
Due: eng/pipelines/release-cli.yml

rename azdo
  cli/azd/pkg/azdo/azdo.go
  cli/azd/pkg/azdo/azdo_test.go
  cli/azd/pkg/azdo/project.go
  cli/azd/pkg/azdo/repository.go
  cli/azd/pkg/commands/pipeline/azdo_provider.go
Due: eng/pipelines/release-cli.yml

create direct
  cli/azd/pkg/azdo/service_connection.go
Due: eng/pipelines/release-cli.yml

use confirm
  cli/azd/pkg/azdo/utils.go
Due: eng/pipelines/release-cli.yml

remove support or existing SP
  cli/azd/pkg/azdo/utils.go
  cli/azd/pkg/commands/pipeline/pipeline_manager.go
Due: eng/pipelines/release-cli.yml

git push error early
  cli/azd/pkg/commands/pipeline/pipeline_manager.go
Due: eng/pipelines/release-cli.yml

Updates az cli resource commands to use go modules (#707)
  .vscode/cspell.global.yaml
  cli/azd/pkg/httputil/http_client.go
  cli/azd/pkg/identity/credentials.go
  cli/azd/pkg/infra/azure_resource_manager.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/project/project_config_test.go
  cli/azd/pkg/project/project_test.go
  cli/azd/pkg/project/service.go
  cli/azd/pkg/project/service_test.go
  cli/azd/pkg/tools/azcli/azcli.go
  cli/azd/pkg/tools/azcli/azcli_test.go
  cli/azd/pkg/tools/azcli/resources.go
  cli/azd/test/mocks/exec/mock_runner.go
  cli/azd/test/mocks/httputil/mock_http_client.go
  cli/azd/test/mocks/mock_context.go
  cli/azd/test/mocks/util.go
  go.mod
  go.sum
Due: eng/pipelines/release-cli.yml

Adds AKS bicep infra
  cli/azd/pkg/infra/azure_resource_types.go
  templates/todo/projects/nodejs-mongo-aks/.repo/bicep/azure.yaml
  templates/todo/projects/nodejs-mongo-aks/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo-aks/.repo/bicep/infra/main.parameters.json
  templates/todo/projects/nodejs-mongo-aks/.repo/bicep/infra/resources.bicep
  templates/todo/projects/nodejs-mongo-aks/.repo/bicep/repo.yaml
  templates/todo/projects/nodejs-mongo-aks/.vscode/launch.json
  templates/todo/projects/nodejs-mongo-aks/.vscode/tasks.json
  templates/todo/projects/nodejs-mongo-aks/README.md
  templates/todo/projects/nodejs-mongo-aks/assets/resources.png
Due: eng/pipelines/release-cli.yml, eng/pipelines/repoman.yml

WIP: AKS support
  cli/azd/pkg/azure/resource_ids.go
  cli/azd/pkg/environment/environment.go
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/project/service_config.go
  cli/azd/pkg/project/service_target.go
  cli/azd/pkg/project/service_target_aks.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/pkg/tools/azcli/azcli.go
  cli/azd/pkg/tools/docker/docker.go
  cli/azd/pkg/tools/kubectl/kubectl.go
  cli/azd/pkg/tools/kubectl/models.go
Due: eng/pipelines/release-cli.yml

mod tidy
  go.mod
  go.sum
Due: none

fix tests
  cli/azd/pkg/commands/pipeline/azdo_provider_test.go
  cli/azd/pkg/commands/pipeline/pipeline_test.go
Due: eng/pipelines/release-cli.yml

update to mockConsole
  cli/azd/pkg/commands/pipeline/azdo_provider_test.go
Due: eng/pipelines/release-cli.yml

Update schemas/v1.0/azure.yaml.json
  schemas/v1.0/azure.yaml.json
Due: none

update commit message
  cli/azd/pkg/commands/pipeline/pipeline_manager.go
Due: eng/pipelines/release-cli.yml

Update
  docs/develop-templates.md
  eng/scripts/Build-Templates.ps1
Due: none

naming
  cli/azd/pkg/project/framework_service_dotnet.go
Due: eng/pipelines/release-cli.yml

update service connection everytime
  cli/azd/pkg/azdo/service_connection.go
Due: eng/pipelines/release-cli.yml

remove additional properties
  schemas/v1.0/azure.yaml.json
Due: none

merge
  cli/azd/pkg/project/framework_service_dotnet.go
Due: eng/pipelines/release-cli.yml

unit test
  cli/azd/pkg/project/framework_service_dotnet_test.go
Due: eng/pipelines/release-cli.yml

fix windows test issue
  cli/azd/pkg/commands/pipeline/pipeline_test.go
Due: eng/pipelines/release-cli.yml

Add build template script + docs (#674)
  docs/develop-templates.md
  eng/scripts/Build-Templates.ps1
Due: none

Add azdo provider (#743)
  .vscode/cspell.global.yaml
  cli/azd/cmd/pipeline.go
  cli/azd/pkg/azdo/azdo.go
  cli/azd/pkg/azdo/azdo_test.go
  cli/azd/pkg/azdo/build_policy.go
  cli/azd/pkg/azdo/build_policy_test.go
  cli/azd/pkg/azdo/pipeline.go
  cli/azd/pkg/azdo/project.go
  cli/azd/pkg/azdo/repository.go
  cli/azd/pkg/azdo/service_connection.go
  cli/azd/pkg/azdo/utils.go
  cli/azd/pkg/commands/pipeline/azdo_provider.go
  cli/azd/pkg/commands/pipeline/azdo_provider_test.go
  cli/azd/pkg/commands/pipeline/github_provider.go
  cli/azd/pkg/commands/pipeline/github_provider_test.go
  cli/azd/pkg/commands/pipeline/pipeline.go
  cli/azd/pkg/commands/pipeline/pipeline_manager.go
  cli/azd/pkg/commands/pipeline/pipeline_test.go
  cli/azd/pkg/project/project_config.go
  cli/azd/pkg/tools/git/git.go
  go.mod
  go.sum
  schemas/v1.0/azure.yaml.json
  templates/common/.azdo/pipelines/README.md
Due: eng/pipelines/release-cli.yml, eng/pipelines/repoman.yml

Change log, pager response, avoid pipeline duplicate
  cli/azd/CHANGELOG.md
  cli/azd/pkg/azdo/paged_response_api.go
  cli/azd/pkg/azdo/pipeline.go
Due: eng/pipelines/release-cli.yml

typo
  cli/azd/pkg/azdo/pipeline.go
Due: eng/pipelines/release-cli.yml
