Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/release-cli.yml, eng/pipelines/repoman.yml

Path conditions:
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml

use nil for non default (#1063)
  cli/azd/cmd/util.go
  cli/azd/cmd/util_test.go
  cli/azd/pkg/config/manager.go
  cli/azd/test/mocks/mock_context.go
Due: eng/pipelines/release-cli.yml

Changelog for 0.4.0.-beta.1 (#1064)
  cli/azd/CHANGELOG.md
  cli/version.txt
Due: eng/pipelines/release-cli.yml

try playwright
  eng/pipelines/template-tests.yml
Due: none

install
  eng/pipelines/template-tests.yml
Due: none

Fix semver version for 0.4.0-beta.1
  cli/azd/CHANGELOG.md
  cli/version.txt
Due: eng/pipelines/release-cli.yml

Fix semver version for 0.4.0-beta.1 (#1068)
  cli/azd/CHANGELOG.md
  cli/version.txt
Due: eng/pipelines/release-cli.yml

WIP
  cli/azd/cmd/config.go
  cli/azd/cmd/login.go
  cli/azd/cmd/logout.go
  cli/azd/cmd/templates.go
  cli/azd/cmd/version.go
  cli/azd/pkg/auth/annotation.go
  cli/azd/pkg/commands/builder.go
Due: eng/pipelines/release-cli.yml

try
  eng/pipelines/template-tests.yml
Due: none

WIP
  cli/azd/cmd/config.go
  cli/azd/cmd/login.go
  cli/azd/cmd/logout.go
  cli/azd/cmd/templates.go
  cli/azd/cmd/version.go
Due: eng/pipelines/release-cli.yml

WIP
  cli/azd/pkg/auth/manager.go
Due: eng/pipelines/release-cli.yml

Add semver verification
  cli/azd/test/functional/cli_test.go
  cli/version.txt
Due: eng/pipelines/release-cli.yml

Rename variable
  cli/azd/test/functional/cli_test.go
Due: eng/pipelines/release-cli.yml

try
  .devcontainer/Dockerfile
  eng/pipelines/template-tests.yml
Due: none

WIP
  cli/azd/cmd/login.go
  cli/azd/pkg/auth/manager.go
Due: eng/pipelines/release-cli.yml

Refactor and improve existing code
  cli/azd/test/functional/cli_test.go
  cli/azd/test/functional/version_test.go
  cli/version.txt
Due: eng/pipelines/release-cli.yml

WIP
  cli/azd/cmd/sets.go
  cli/azd/cmd/wire_gen.go
  cli/azd/pkg/auth/manager.go
  cli/azd/pkg/commands/builder.go
Due: eng/pipelines/release-cli.yml

WIP
  cli/azd/pkg/commands/builder.go
Due: eng/pipelines/release-cli.yml

Use `bicep` directly instead of via `az bicep`
  cli/azd/pkg/tools/bicep/bicep.go
Due: eng/pipelines/release-cli.yml

WIP
  eng/pipelines/templates/steps/azd-login.yml
Due: none

Respond to PR Feedback
  cli/azd/pkg/tools/bicep/bicep.go
  cli/azd/pkg/tools/bicep/unix.go
  cli/azd/pkg/tools/bicep/windows.go
Due: eng/pipelines/release-cli.yml

Remove dead code
  cli/azd/pkg/tools/bicep/bicep.go
Due: eng/pipelines/release-cli.yml

WIP
  eng/pipelines/templates/steps/az-login.yml
  eng/pipelines/templates/steps/azd-login.yml
  templates/common/.github/workflows/bicep/azure-dev.yml
Due: eng/pipelines/repoman.yml

WIP
  templates/common/.github/workflows/bicep/azure-dev.yml
Due: eng/pipelines/repoman.yml

WIP
  cli/azd/pkg/auth/manager.go
  cli/azd/pkg/auth/manager_test.go
  cli/azd/pkg/auth/memory_cache.go
  cli/azd/pkg/config/manager.go
Due: eng/pipelines/release-cli.yml

WIP
  cli/azd/pkg/auth/manager_test.go
Due: eng/pipelines/release-cli.yml

WIP
  cli/azd/pkg/infra/provisioning/provisioning_progress_display.go
Due: eng/pipelines/release-cli.yml

playwright
  .devcontainer/Dockerfile
  eng/pipelines/template-tests.yml
Due: none

remove image name
  eng/pipelines/template-tests.yml
Due: none

playwright
  eng/pipelines/template-tests.yml
Due: none

Add containers to storage, clean up
  templates/common/infra/bicep/core/storage/storage-account.bicep
  templates/todo/common/infra/bicep/app/api-container-app.parameters.json
  templates/todo/projects/csharp-sql-swa-func/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo-swa-func/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo-swa-func/.repo/bicep/infra/main.bicep
Due: eng/pipelines/repoman.yml

Add semver verification (#1069)
  cli/azd/test/functional/cli_test.go
  cli/azd/test/functional/version_test.go
Due: eng/pipelines/release-cli.yml

Add storage containers, fix func name
  templates/common/infra/bicep/core/storage/storage-account.bicep
  templates/todo/common/infra/bicep/app/api-container-app.parameters.json
  templates/todo/projects/csharp-sql-swa-func/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo-swa-func/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo-swa-func/.repo/bicep/infra/main.bicep
Due: eng/pipelines/repoman.yml

Adds path checks for linux
  cli/azd/pkg/tools/bicep/bicep.go
Due: eng/pipelines/release-cli.yml

Update Bicep tool
  cli/azd/cmd/deploy.go
  cli/azd/cmd/infra_create.go
  cli/azd/cmd/infra_delete.go
  cli/azd/cmd/init.go
  cli/azd/cmd/wire_gen.go
  cli/azd/pkg/tools/bicep/bicep.go
Due: eng/pipelines/release-cli.yml

Fixes lint issues
  cli/azd/cmd/config.go
  cli/azd/pkg/tools/bicep/bicep.go
Due: eng/pipelines/release-cli.yml

Applies PR feedback
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/project/internal/project_utils.go
  cli/azd/pkg/project/service_target_appservice.go
  cli/azd/pkg/tools/bicep/bicep.go
  cli/azd/test/functional/cli_test.go
Due: eng/pipelines/release-cli.yml

Rollback unintentional test change
  cli/azd/pkg/project/internal/project_utils.go
  cli/azd/pkg/project/service_target_appservice.go
Due: eng/pipelines/release-cli.yml
