Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/release-cli.yml, eng/pipelines/repoman.yml

eng/pipelines/release-cli.yml:
  stages:
  - stage: BuildAndTest
    jobs:
    - job: BuildCLI
      strategy:
        matrix:
          Windows:
            Pool: azsdk-pool-mms-win-2019-general
            OSVmImage: MMS2019
            BuildTarget: azd-windows-amd64.exe
            BuildOutputName: azd.exe
          Linux:
  ...

eng/pipelines/repoman.yml:
  jobs:
  - job: Generate_Repos
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - checkout: self
    - task: NodeTool@0
      inputs:
        versionSpec: 16
  ...

cspell
  .vscode/cspell-templates.txt
Due: none

use jmespath
  cli/azd/pkg/project/service.go
  cli/azd/pkg/tools/azcli/azcli.go
Due: eng/pipelines/release-cli.yml

fix formatting
  cli/azd/pkg/project/service.go
Due: eng/pipelines/release-cli.yml

fix cspell
  cli/azd/.vscode/cspell-azd-dictionary.txt
Due: eng/pipelines/release-cli.yml

Moves infra modules into seperate packages (#555)
  cli/azd/main.go
  cli/azd/pkg/container/dependencies.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/infra/provisioning/manager_test.go
  cli/azd/pkg/infra/provisioning/provider.go
  cli/azd/pkg/infra/provisioning/test/test_provider.go
  cli/azd/test/functional/cli_test.go
Due: eng/pipelines/release-cli.yml

Fix CSharp and Azure SQL template
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/cmd/infra_create.go
  cli/azd/cmd/infra_delete.go
  cli/azd/main.go
  cli/azd/pkg/azureutil/principal.go
  cli/azd/pkg/cmdsubst/cmdsubst.go
  cli/azd/pkg/cmdsubst/cmdsubst_test.go
  cli/azd/pkg/cmdsubst/secretOrRandomPassword.go
  cli/azd/pkg/environment/azdcontext/azdcontext.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/infra/provisioning/manager.go
  cli/azd/pkg/infra/provisioning/manager_test.go
  cli/azd/pkg/infra/provisioning/provider.go
  cli/azd/pkg/infra/provisioning/test/test_provider.go
  cli/azd/pkg/password/generator.go
  cli/azd/pkg/password/generator_test.go
  cli/azd/pkg/password/shuffle.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/pkg/tools/azcli/azcli.go
  templates/todo/api/csharp-sql/Program.cs
  templates/todo/api/csharp-sql/Todo.Api.csproj
  templates/todo/projects/csharp-sql/.vscode/launch.json
  templates/todo/projects/csharp-sql/.vscode/tasks.json
  templates/todo/projects/csharp-sql/infra/db.bicep
  templates/todo/projects/csharp-sql/infra/main.bicep
  templates/todo/projects/csharp-sql/infra/main.parameters.json
  templates/todo/projects/csharp-sql/infra/resources.bicep
Due: eng/pipelines/release-cli.yml, eng/pipelines/repoman.yml

add change to repo
  templates/todo/api/js/tsconfig.json
  templates/todo/projects/csharp-cosmos-sql/repo.yaml
  templates/todo/projects/csharp-mongo/repo.yaml
  templates/todo/projects/csharp-sql/repo.yaml
Due: eng/pipelines/repoman.yml

have new version js for now, check with bot tests
  .vscode/cspell-templates.txt
  templates/todo/api/js/tsconfig.json
Due: eng/pipelines/repoman.yml

fix error handling + tests
  cli/azd/pkg/infra/azure_resource_manager.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/service.go
  cli/azd/pkg/tools/azcli/azcli.go
  cli/azd/test/mocks/httputil/mock_http_client.go
  cli/azd/test/mocks/mock_context.go
Due: eng/pipelines/release-cli.yml

add description
  cli/azd/pkg/tools/azcli/azcli.go
Due: eng/pipelines/release-cli.yml

Address code review feedback
  cli/azd/pkg/cmdsubst/secretOrRandomPassword.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
Due: eng/pipelines/release-cli.yml

Fix serialization of $schema
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
Due: eng/pipelines/release-cli.yml

use es2020 for now and wait for repoman tests
  templates/todo/api/js/tsconfig.json
Due: eng/pipelines/repoman.yml

Fix C# + SQL Azure template (#550)
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/cmd/infra_create.go
  cli/azd/cmd/infra_delete.go
  cli/azd/main.go
  cli/azd/pkg/azureutil/principal.go
  cli/azd/pkg/cmdsubst/cmdsubst.go
  cli/azd/pkg/cmdsubst/cmdsubst_test.go
  cli/azd/pkg/cmdsubst/secretOrRandomPassword.go
  cli/azd/pkg/environment/azdcontext/azdcontext.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/infra/provisioning/manager.go
  cli/azd/pkg/infra/provisioning/manager_test.go
  cli/azd/pkg/infra/provisioning/provider.go
  cli/azd/pkg/infra/provisioning/test/test_provider.go
  cli/azd/pkg/password/generator.go
  cli/azd/pkg/password/generator_test.go
  cli/azd/pkg/password/shuffle.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/pkg/tools/azcli/azcli.go
  templates/todo/api/csharp-sql/Program.cs
  templates/todo/api/csharp-sql/Todo.Api.csproj
  templates/todo/projects/csharp-sql/.vscode/launch.json
  templates/todo/projects/csharp-sql/.vscode/tasks.json
  templates/todo/projects/csharp-sql/infra/db.bicep
  templates/todo/projects/csharp-sql/infra/main.bicep
  templates/todo/projects/csharp-sql/infra/main.parameters.json
  templates/todo/projects/csharp-sql/infra/resources.bicep
Due: eng/pipelines/release-cli.yml, eng/pipelines/repoman.yml

add more mock
  cli/azd/pkg/project/project_config_test.go
  cli/azd/test/mocks/executil/mock_executil.go
Due: eng/pipelines/release-cli.yml

Repoman - Adding relative base path ./ to path rewrites. (#537)
  generators/repo/src/commands/generate.ts
  generators/repo/src/common/util.ts
Due: eng/pipelines/repoman.yml

add tfvars.json
  templates/todo/projects/python-mongo/.repo/terraform/infra/main.tfvars.json
Due: eng/pipelines/repoman.yml

Repoman - Adding support for Rewrite Rules in repo yaml. (#538)
  generators/repo/src/commands/generate.ts
  generators/repo/src/models/index.ts
  templates/todo/projects/csharp-cosmos-sql/repo.yaml
  templates/todo/projects/csharp-mongo/repo.yaml
  templates/todo/projects/csharp-sql/repo.yaml
  templates/todo/projects/nodejs-mongo-aca/repo.yaml
  templates/todo/projects/nodejs-mongo-swa-func/repo.yaml
  templates/todo/projects/nodejs-mongo/.repo/bicep/repo.yaml
  templates/todo/projects/python-mongo-aca/repo.yaml
  templates/todo/projects/python-mongo-swa-func/repo.yaml
  templates/todo/projects/python-mongo/.repo/bicep/repo.yaml
Due: eng/pipelines/repoman.yml

Update mock test
  cli/azd/pkg/project/project_config_test.go
  cli/azd/pkg/project/project_test.go
  cli/azd/pkg/project/service.go
  cli/azd/test/mocks/executil/mock_executil.go
  cli/azd/test/mocks/mock_context.go
Due: eng/pipelines/release-cli.yml

remove retry for now
  cli/azd/pkg/infra/azure_resource_manager.go
Due: eng/pipelines/release-cli.yml

Cleanup
  cli/azd/pkg/infra/azure_resource_manager.go
  cli/azd/test/mocks/httputil/mock_http_client.go
Due: eng/pipelines/release-cli.yml

fix iteration
  cli/azd/test/mocks/executil/mock_executil.go
  cli/azd/test/mocks/httputil/mock_http_client.go
Due: eng/pipelines/release-cli.yml

support azurerm backend
  cli/azd/pkg/infra/provisioning/terraform_provider.go
Due: eng/pipelines/release-cli.yml

add rewrite path rules
  templates/common/infra/terraform/applicationinsights/applicationinsights.tf
  templates/common/infra/terraform/applicationinsights/applicationinsights_output.tf
  templates/common/infra/terraform/applicationinsights/applicationinsights_variables.tf
  templates/todo/projects/python-mongo/.repo/terraform/infra/main.tf
  templates/todo/projects/python-mongo/.repo/terraform/repo.yaml
Due: eng/pipelines/repoman.yml

try this
  cli/azd/internal/telemetry/resource.go
  cli/azd/pkg/osutil/osversion/osversion_darwin.go
Due: eng/pipelines/release-cli.yml

export all components and use cmd to init and validate environment
  cli/azd/cmd/pipeline.go
  cli/azd/cmd/util.go
  cli/azd/pkg/commands/pipeline/cmd_util_duplicate.go
  cli/azd/pkg/commands/pipeline/github_provider.go
  cli/azd/pkg/commands/pipeline/github_provider_test.go
  cli/azd/pkg/commands/pipeline/pipeline.go
  cli/azd/pkg/commands/pipeline/pipeline_manager.go
Due: eng/pipelines/release-cli.yml

Switch to azure resource list (#566)
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/cmd/monitor.go
  cli/azd/pkg/infra/azure_resource_manager.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/project_test.go
  cli/azd/pkg/project/service.go
  cli/azd/pkg/tools/azcli/azcli.go
  cli/azd/pkg/tools/azcli/azcli_test.go
  cli/azd/test/mocks/executil/mock_executil.go
  cli/azd/test/mocks/httputil/mock_http_client.go
  cli/azd/test/mocks/mock_context.go
Due: eng/pipelines/release-cli.yml

Normalizes the Command runner and usage of dependent CLI tools
  cli/azd/cmd/init.go
  cli/azd/cmd/pipeline.go
  cli/azd/pkg/executil/executil.go
  cli/azd/pkg/executil/executil_test.go
  cli/azd/pkg/executil/executil_windows.go
  cli/azd/pkg/project/framework_service.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/framework_service_dotnet.go
  cli/azd/pkg/project/framework_service_npm.go
  cli/azd/pkg/project/framework_service_python.go
  cli/azd/pkg/project/service_config.go
  cli/azd/pkg/tools/bicep/bicep.go
  cli/azd/pkg/tools/docker/docker.go
  cli/azd/pkg/tools/docker/docker_test.go
  cli/azd/pkg/tools/dotnet/dotnet.go
  cli/azd/pkg/tools/git/git.go
  cli/azd/pkg/tools/github/github.go
  cli/azd/pkg/tools/npm/npm.go
  cli/azd/pkg/tools/python/python.go
  cli/azd/pkg/tools/swa/swa.go
  cli/azd/pkg/tools/swa/swa_test.go
Due: eng/pipelines/release-cli.yml

Introduces executil builder to normalizes on CLI command invocation
  cli/azd/pkg/executil/builder.go
  cli/azd/pkg/executil/builder_test.go
  cli/azd/pkg/executil/executil.go
  cli/azd/pkg/executil/executil_test.go
  cli/azd/pkg/tools/git/git.go
  cli/azd/pkg/tools/github/github.go
  cli/azd/pkg/tools/npm/npm.go
  cli/azd/pkg/tools/python/python.go
  cli/azd/test/functional/cli_test.go
Due: eng/pipelines/release-cli.yml

Fixes cspell lint issues
  cli/azd/pkg/executil/builder_test.go
Due: eng/pipelines/release-cli.yml

Deprecated NewRunArgsWithCwdAndEnv
  cli/azd/pkg/executil/executil.go
Due: eng/pipelines/release-cli.yml

Fixes issue with executil_posix
  cli/azd/pkg/executil/executil.go
  cli/azd/pkg/executil/executil_windows.go
Due: eng/pipelines/release-cli.yml

Fixed command builder usage
  cli/azd/pkg/tools/npm/npm.go
Due: eng/pipelines/release-cli.yml

Renames executil to exec and introduces CommandRunner interface
  cli/azd/cmd/util_test.go
  cli/azd/pkg/exec/cmdtree_posix.go
  cli/azd/pkg/exec/cmdtree_windows.go
  cli/azd/pkg/exec/command_runner.go
  cli/azd/pkg/exec/runargs.go
  cli/azd/pkg/exec/runargs_test.go
  cli/azd/pkg/exec/runresult.go
  cli/azd/pkg/exec/util.go
  cli/azd/pkg/exec/util_test.go
  cli/azd/pkg/executil/builder.go
  cli/azd/pkg/executil/executil.go
  cli/azd/pkg/infra/azure_resource_manager_test.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/infra/scope_test.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/tools/azcli/azcli.go
  cli/azd/pkg/tools/azcli/azcli_functions_test.go
  cli/azd/pkg/tools/azcli/azcli_staticwebapp_test.go
  cli/azd/pkg/tools/azcli/azcli_test.go
  cli/azd/pkg/tools/bicep/bicep.go
  cli/azd/pkg/tools/docker/docker.go
  cli/azd/pkg/tools/docker/docker_test.go
  cli/azd/pkg/tools/dotnet/dotnet.go
  cli/azd/pkg/tools/git/git.go
  cli/azd/pkg/tools/github/github.go
  cli/azd/pkg/tools/npm/npm.go
  cli/azd/pkg/tools/python/python.go
  cli/azd/pkg/tools/swa/swa.go
  cli/azd/pkg/tools/swa/swa_test.go
  cli/azd/pkg/tools/tool.go
  cli/azd/test/functional/cli_test.go
  cli/azd/test/mocks/exec/mock_runner.go
  cli/azd/test/mocks/mock_context.go
Due: eng/pipelines/release-cli.yml

Adds additional comments to the new exec package modules
  cli/azd/pkg/exec/command_runner.go
  cli/azd/pkg/exec/runargs.go
  cli/azd/pkg/exec/runargs_test.go
Due: eng/pipelines/release-cli.yml

Updates spelling lint and comments
  .vscode/cspell.global.yaml
  cli/azd/pkg/exec/command_runner.go
  cli/azd/pkg/tools/azcli/azcli.go
  cli/azd/pkg/tools/swa/swa.go
  cli/azd/test/mocks/exec/mock_runner.go
Due: eng/pipelines/release-cli.yml

restore util
  cli/azd/cmd/util.go
Due: eng/pipelines/release-cli.yml

try
  cli/azd/main.go
  cli/azd/pkg/osutil/osversion/osversion_darwin.go
  cli/azd/pkg/osutil/osversion/osversion_linux.go
Due: eng/pipelines/release-cli.yml

Integrate telemetry into `azd` (#558)
  cli/azd/cmd/root.go
  cli/azd/cmd/telemetry.go
  cli/azd/cmd/version.go
  cli/azd/internal/telemetry/events/events.go
  cli/azd/internal/telemetry/events/format.go
  cli/azd/internal/telemetry/events/format_test.go
  cli/azd/internal/telemetry/telemetry.go
  cli/azd/internal/telemetry/telemetry_test.go
  cli/azd/internal/telemetry/tracer.go
  cli/azd/main.go
  cli/azd/pkg/commands/builder.go
  go.mod
Due: eng/pipelines/release-cli.yml

Path conditions:
  eng/pipelines/release-cli.yml: any of: cli, eng/pipelines/release-cli.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
