Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/release-cli.yml:
  stages:
  - stage: BuildAndTest
    jobs:
    - job: BuildCLI
      strategy:
        matrix:
          Windows:
            Pool: azsdk-pool-mms-win-2022-general
            OSVmImage: MMS2022
            BuildTarget: azd-windows-amd64.exe
            BuildOutputName: azd.exe
            BuildTestMsi: true
  ...

eng/pipelines/release-vscode.yml:
  stages:
  - stage: BuildAndTest
    jobs:
    - job: BuildVscode
      strategy:
        matrix:
          Windows:
            Pool: azsdk-pool-mms-win-2022-general
            OSVmImage: MMS2022
          Linux:
            Pool: azsdk-pool-mms-ubuntu-2004-general
            OSVmImage: MMSUbuntu20.04
  ...

eng/pipelines/repoman.yml:
  stages:
  - stage: Validation
    jobs:
    - job: Generate_Repos_For_PR
      condition: "and(\n  succeeded(),\n  or(\n    eq(variables['BuildReasonOverride'], 'PullRequest'),\n    and(\n      eq('', variables['BuildReasonOverride']),\n      eq(variables['Build.Reason'], 'PullRequest')\n    )\n  )\n)"
  ...

eng/pipelines/template-tests.yml:
  jobs:
  - template: /eng/pipelines/templates/jobs/run-template-tests.yml
    parameters:
      AzdVersion: ${{ parameters.AzdVersion }}
      UseAzdVersionFromPrNumber: true
      TemplateList: ${{ parameters.TemplateList }}
      TemplateListFilter: ${{ parameters.TemplateListFilter }}
  ...

Fixes issue with running Tasks that relay on environment configuration path (#2858)
  cli/azd/pkg/environment/manager.go
  cli/azd/pkg/environment/manager_test.go
Due: eng/pipelines/release-cli.yml

Update cli/azd/cmd/env.go
  cli/azd/cmd/env.go
Due: eng/pipelines/release-cli.yml

Updates changelog and version for 1.4.2 patch release
  cli/azd/CHANGELOG.md
  cli/version.txt
Due: eng/pipelines/release-cli.yml

Adds features to changelog
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

Adds thank you to contrib log
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

Updates changelog and version for 1.4.2 patch release (#2860)
  cli/azd/CHANGELOG.md
  cli/version.txt
Due: eng/pipelines/release-cli.yml

Increment CLI version after release
  cli/version.txt
Due: eng/pipelines/release-cli.yml

Increment CLI version after release (#2862)
  cli/version.txt
Due: eng/pipelines/release-cli.yml

First cut: only run relevant jobs, disable building/publishing of docker container in -pr
  eng/pipelines/release-cli.yml
  eng/pipelines/templates/steps/publish-cli.yml
Due: eng/pipelines/release-cli.yml

Add "parameters" to make this a template
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

No parameters
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Move syntax error lower
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Do not run PublishCLI
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Single quotes to prevent interpolation
  eng/pipelines/release-cli.yml
  eng/pipelines/release-vscode.yml
Due: eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml

Dynamic variable expansion
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

More perf and naming changes
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Parens
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

remove packages from constructor
  cli/azd/cmd/env.go
Due: eng/pipelines/release-cli.yml

Not possible through cmd - crucial packages dependency
  cli/azd/cmd/env.go
Due: eng/pipelines/release-cli.yml

feat: clickable url for azd template show
  cli/azd/cmd/templates.go
  cli/azd/pkg/templates/path.go
  cli/azd/pkg/templates/template.go
Due: eng/pipelines/release-cli.yml

Invert logic, only show release workflows in main repo
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Add settings support and placeholder
  cli/azd/internal/scaffold/funcs.go
  cli/azd/internal/scaffold/scaffold.go
  cli/azd/internal/scaffold/spec.go
  cli/azd/resources/scaffold/templates/host-containerapp.bicept
  cli/azd/resources/scaffold/templates/main.bicept
  cli/azd/resources/scaffold/templates/main.parameters.jsont
Due: eng/pipelines/release-cli.yml

fix name
  cli/azd/resources/scaffold/templates/host-containerapp.bicept
Due: eng/pipelines/release-cli.yml

fix env
  cli/azd/resources/scaffold/templates/host-containerapp.bicept
Due: eng/pipelines/release-cli.yml

Support for building other repos (#2869)
  eng/pipelines/release-cli.yml
  eng/pipelines/release-vscode.yml
  eng/pipelines/templates/steps/publish-cli.yml
Due: eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml

azd-persistence feature
  ext/devcontainer/src/azd-persistence/README.md
  ext/devcontainer/src/azd-persistence/devcontainer-feature.json
  ext/devcontainer/src/azd-persistence/install.sh
Due: eng/pipelines/release-vscode.yml

rel
  .github/workflows/devcontainer-feature-release.yml
Due: none

Remove version.txt publishing from CLI release, add to separate stage
  eng/pipelines/release-cli.yml
  eng/scripts/Wait-ChocoPackage.ps1
  eng/scripts/Wait-WinGetPackage.ps1
Due: eng/pipelines/release-cli.yml

Remove template syntax
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

remove temp fix to deploy
  .github/workflows/devcontainer-feature-release.yml
Due: none

revert azd get-key
  cli/azd/cmd/config.go
  cli/azd/cmd/testdata/TestUsage-azd-config.snap
Due: eng/pipelines/release-cli.yml

deprecate azd config list
  cli/azd/cmd/config.go
  cli/azd/cmd/container.go
Due: eng/pipelines/release-cli.yml

Use wingetcreate.exe
  eng/scripts/Wait-WinGetPackage.ps1
Due: none

Update key
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Remove version.txt update from publish-cli.yml
  eng/pipelines/templates/steps/publish-cli.yml
Due: none

update next-steps doc
  cli/azd/resources/scaffold/templates/next-steps.mdt
Due: eng/pipelines/release-cli.yml

rename + style changes
  cli/azd/cmd/templates.go
  cli/azd/pkg/templates/path.go
  cli/azd/pkg/templates/template.go
Due: eng/pipelines/release-cli.yml

feat: clickable url for azd template show (#2867)
  cli/azd/cmd/templates.go
  cli/azd/pkg/templates/path.go
  cli/azd/pkg/templates/template.go
Due: eng/pipelines/release-cli.yml

Fix `azd env get-values` Check environment exists (#2840)
  cli/azd/cmd/env.go
Due: eng/pipelines/release-cli.yml

add devops task to repo (#2623)
  .github/workflows/cspell-misc.yml
  .github/workflows/devops-ext-ci.yml
  .vscode/cspell-devops-ext.txt
  .vscode/cspell.global.yaml
  .vscode/cspell.misc.yaml
  eng/pipelines/release-vscode.yml
  ext/azuredevops/.gitignore
  ext/azuredevops/CONTRIBUTING.md
  ext/azuredevops/LICENSE
  ext/azuredevops/README.md
  ext/azuredevops/icon.png
  ext/azuredevops/setupAzd/.gitignore
  ext/azuredevops/setupAzd/.vscode/launch.json
  ext/azuredevops/setupAzd/NOTICE.txt
  ext/azuredevops/setupAzd/index.ts
  ext/azuredevops/setupAzd/package-lock.json
  ext/azuredevops/setupAzd/package.json
  ext/azuredevops/setupAzd/task.json
  ext/azuredevops/setupAzd/tests/InstallFail.ts
  ext/azuredevops/setupAzd/tests/InstallSuccess.ts
  ext/azuredevops/setupAzd/tests/invalidVersion.ts
  ext/azuredevops/setupAzd/tests/success.ts
  ext/azuredevops/setupAzd/tests/successVersion.ts
  ext/azuredevops/setupAzd/tsconfig.json
  ext/azuredevops/vss-extension.json
Due: eng/pipelines/release-vscode.yml

Path conditions:
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml
  eng/pipelines/release-vscode.yml: any of: ext, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
