Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/release-cli.yml, eng/pipelines/repoman.yml

eng/pipelines/release-cli.yml:
  stages:
  - stage: BuildAndTest
    jobs:
    - job: BuildCLI
      strategy:
        matrix:
          Windows:
            Pool: azsdk-pool-mms-win-2019-general
            OSVmImage: MMS2019
            BuildTarget: azd-windows-amd64.exe
            BuildOutputName: azd.exe
            AZURE_DEV_CI_OS: win
  ...

eng/pipelines/repoman.yml:
  stages:
  - stage: Validation
    jobs:
    - job: Generate_Repos_For_PR
      condition: "and(\n  succeeded(),\n  or(\n    eq(variables['BuildReasonOverride'], 'PullRequest'),\n    and(\n      eq('', variables['BuildReasonOverride']),\n      eq(variables['Build.Reason'], 'PullRequest')\n    )\n  )\n)"
  ...

revert back
  templates/tests/test-templates.sh
Due: eng/pipelines/repoman.yml

new line
  templates/todo/api/python/Dockerfile
Due: eng/pipelines/repoman.yml

-y
  eng/scripts/preinstall-tools.sh
Due: none

Wait for docker to become active
  eng/scripts/preinstall-tools.sh
Due: none

install az
  eng/scripts/preinstall-tools.sh
Due: none

az login needed during tests
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

python3
  eng/scripts/preinstall-tools.sh
Due: none

Pur az CLI install script in temp
  eng/scripts/preinstall-tools.sh
Due: none

apt install python3.8-venv
  eng/scripts/preinstall-tools.sh
Due: none

Too many slashes
  eng/scripts/preinstall-tools.sh
Due: none

minor change on test
  cli/azd/cmd/pipeline_test.go
  cli/azd/cmd/testdata/TestUsage-azd-pipeline-config.snap
Due: eng/pipelines/release-cli.yml

TODO
  eng/scripts/preinstall-tools.sh
Due: none

Full matrix
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Build it all
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Add ARM64 installer support
  cli/installer/install-azd.ps1
  cli/installer/install-azd.sh
Due: eng/pipelines/release-cli.yml

rename ux item
  cli/azd/cmd/actions/action.go
  cli/azd/pkg/input/console.go
  cli/azd/pkg/output/ux/uxitem.go
  cli/azd/test/mocks/console/mock_console.go
Due: eng/pipelines/release-cli.yml

remove comment
  cli/azd/pkg/output/ux/created_resource.go
Due: eng/pipelines/release-cli.yml

using struct for message
  cli/azd/pkg/contracts/envelope.go
  cli/azd/pkg/output/ux/temp_test.go
  cli/azd/pkg/output/ux/title.go
Due: eng/pipelines/release-cli.yml

rewording
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
Due: eng/pipelines/release-cli.yml

Adds Azd CLI credential for C#
  templates/todo/api/csharp-cosmos-sql/Program.cs
  templates/todo/api/csharp-sql-func/Program.cs
  templates/todo/api/csharp-sql/Program.cs
  templates/todo/api/csharp/Program.cs
  templates/todo/common/auth/csharp/AzureDeveloperCliCredential.cs
  templates/todo/projects/csharp-cosmos-sql/.repo/bicep/repo.yaml
  templates/todo/projects/csharp-sql-swa-func/.repo/bicep/repo.yaml
  templates/todo/projects/csharp-sql/.repo/bicep/repo.yaml
Due: eng/pipelines/repoman.yml

Fixes whitespace issue
  templates/todo/common/auth/csharp/AzureDeveloperCliCredential.cs
Due: eng/pipelines/repoman.yml

Fixes spelling lint issues
  .vscode/cspell.global.yaml
Due: none

nehacne core with keyvault secret (#1197)
  templates/common/infra/bicep/core/security/keyvault-secret.bicep
Due: eng/pipelines/repoman.yml

Update `azd pipeline config --help` to include AzDo (#1215)
  cli/azd/cmd/pipeline.go
  cli/azd/cmd/pipeline_test.go
  cli/azd/cmd/testdata/TestUsage-azd-pipeline-config.snap
  cli/azd/cmd/testdata/TestUsage-azd-pipeline.snap
Due: eng/pipelines/release-cli.yml

Updates constant usages
  templates/todo/common/auth/csharp/AzureDeveloperCliCredential.cs
Due: eng/pipelines/repoman.yml

change due to suggestion and update spinner output
  cli/azd/pkg/spin/spin.go
  eng/pipelines/templates/steps/template-test-run-job.yml
Due: eng/pipelines/release-cli.yml

Address feedback
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/pkg/project/service_target_containerapp_test.go
  cli/azd/test/functional/testdata/samples/containerapp/infra/main.bicep
  schemas/v1.0/azure.yaml.json
Due: eng/pipelines/release-cli.yml

remove line
  cli/azd/pkg/infra/provisioning/manager.go
Due: eng/pipelines/release-cli.yml

fix multiple printing for resources
  cli/azd/pkg/infra/azure_resource_manager.go
  cli/azd/pkg/infra/azure_resource_manager_test.go
  cli/azd/pkg/infra/azure_resource_types.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/provisioning_progress_display.go
  cli/azd/pkg/infra/provisioning/provisioning_progress_display_test.go
  cli/azd/pkg/output/ux/created_resource.go
Due: eng/pipelines/release-cli.yml

Update build-tools ref
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

MSI engineering system (#1208)
  cli/installer/windows/local-build.ps1
  cli/installer/windows/test-win-msi.ps1
  eng/pipelines/release-cli.yml
  eng/pipelines/templates/steps/build-msi.yml
  eng/pipelines/templates/steps/publish-cli.yml
  eng/pipelines/templates/steps/setup-go.yml
  eng/scripts/Get-MsiVersion.Tests.ps1
  eng/scripts/Get-MsiVersion.ps1
Due: eng/pipelines/release-cli.yml

Generate a linting error
  templates/todo/projects/csharp-sql/.repo/bicep/infra/main.bicep
Due: eng/pipelines/repoman.yml

Scan .bicep files in hidden folders, add verbose logging to output what is being scanned
  .github/workflows/lint-bicep.yml
  eng/scripts/Test-BicepLint.ps1
Due: none

Revert main.bicep
  templates/todo/projects/csharp-sql/.repo/bicep/infra/main.bicep
Due: eng/pipelines/repoman.yml

Add PR trigger for lint-bicep.yml to trigger on its own
  .github/workflows/lint-bicep.yml
Due: none

ux provision (#1133)
  cli/azd/cmd/actions/action.go
  cli/azd/cmd/infra_create.go
  cli/azd/cmd/init.go
  cli/azd/cmd/root.go
  cli/azd/pkg/contracts/envelope.go
  cli/azd/pkg/infra/azure_resource_manager.go
  cli/azd/pkg/infra/azure_resource_manager_test.go
  cli/azd/pkg/infra/azure_resource_types.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/manager.go
  cli/azd/pkg/infra/provisioning/provisioning_progress_display.go
  cli/azd/pkg/infra/provisioning/provisioning_progress_display_test.go
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider.go
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider_test.go
  cli/azd/pkg/input/console.go
  cli/azd/pkg/output/colors.go
  cli/azd/pkg/output/json.go
  cli/azd/pkg/output/ux/action_result.go
  cli/azd/pkg/output/ux/created_resource.go
  cli/azd/pkg/output/ux/multiline_message.go
  cli/azd/pkg/output/ux/temp_test.go
  cli/azd/pkg/output/ux/title.go
  cli/azd/pkg/output/ux/uxitem.go
  cli/azd/test/mocks/console/mock_console.go
Due: eng/pipelines/release-cli.yml

clean spinner printout
  eng/pipelines/templates/steps/template-test-run-job.yml
Due: none

Switch default branch to `staging` for template tests
  eng/pipelines/template-tests.yml
Due: none

Install validation
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Path conditions:
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
