Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/release-cli.yml, eng/pipelines/repoman.yml

Path conditions:
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml

Disable publishing in code for safety
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Set version and CHANGELOG for unreleased
  cli/azd/CHANGELOG.md
  cli/version.txt
Due: eng/pipelines/release-cli.yml

Use npm to set version (doesn't reformat package.json)
  eng/scripts/Update-VscodeExtensionVersion.ps1
Due: none

Increment VSCode Extension version after release
  ext/vscode/CHANGELOG.md
  ext/vscode/package-lock.json
  ext/vscode/package.json
Due: none

Format changelog to match standard
  ext/vscode/CHANGELOG.md
Due: none

Increment CLI version after release
  cli/azd/CHANGELOG.md
  cli/version.txt
Due: eng/pipelines/release-cli.yml

test
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
Due: eng/pipelines/release-cli.yml

Address feedback
  cli/azd/pkg/environment/deployment_scope.go
  cli/azd/pkg/environment/target_resource.go
  cli/azd/pkg/project/service.go
  cli/azd/pkg/project/service_config.go
  cli/azd/pkg/project/service_target_appservice.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/pkg/project/service_target_functionapp.go
  cli/azd/pkg/project/service_target_staticwebapp.go
  cli/azd/pkg/project/service_test.go
  cli/azd/test/mocks/mock_context.go
  cli/azd/test/mocks/mockarmresources/mockarmresources.go
Due: eng/pipelines/release-cli.yml

Prepare pipelines for merge
  eng/pipelines/release-cli.yml
  eng/pipelines/release-vscode.yml
Due: eng/pipelines/release-cli.yml

Satisfy lll
  cli/azd/pkg/environment/target_resource.go
  cli/azd/pkg/project/project_config_test.go
  cli/azd/pkg/project/service_config.go
  cli/azd/pkg/project/service_target.go
  cli/azd/pkg/project/service_target_appservice.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/pkg/project/service_target_functionapp.go
  cli/azd/pkg/project/service_target_staticwebapp.go
  cli/azd/pkg/project/service_test.go
  cli/azd/test/mocks/mockarmresources/mockarmresources.go
Due: eng/pipelines/release-cli.yml

fix cspell
  cli/azd/.vscode/cspell-azd-dictionary.txt
Due: eng/pipelines/release-cli.yml

Respond to Wei's feedback
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/cmd/deploy.go
  cli/azd/cmd/env.go
  cli/azd/cmd/infra_create.go
  cli/azd/cmd/util_test.go
  cli/azd/pkg/account/manager_test.go
  cli/azd/pkg/infra/azure_resource_manager_test.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/infra/provisioning/manager_test.go
  cli/azd/pkg/infra/provisioning/provisioning_progress_display_test.go
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider_test.go
  cli/azd/pkg/infra/scope.go
  cli/azd/pkg/infra/scope_test.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/project.go
  cli/azd/pkg/project/project_config.go
  cli/azd/pkg/project/project_config_test.go
  cli/azd/pkg/project/project_test.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/pkg/project/service_test.go
  cli/azd/test/mocks/mockazcli/mocks.go
Due: eng/pipelines/release-cli.yml

Remove no longer needed `panicCredential`
  cli/azd/pkg/commands/builder.go
Due: eng/pipelines/release-cli.yml

Update resourceName description
  schemas/v1.0/azure.yaml.json
Due: none

Add release notes to github release
  eng/pipelines/templates/steps/publish-cli.yml
  eng/pipelines/templates/steps/publish-vscode.yml
  eng/scripts/New-ReleaseNotesFile.ps1
Due: none

Test only release notes and tagging
  cli/azd/CHANGELOG.md
  cli/version.txt
  eng/pipelines/templates/steps/publish-cli.yml
  eng/pipelines/templates/steps/publish-vscode.yml
  ext/vscode/CHANGELOG.md
  ext/vscode/package.json
Due: eng/pipelines/release-cli.yml

Use prettier-java for formatting
  templates/todo/api/java/package-lock.json
  templates/todo/api/java/package.json
  templates/todo/api/java/pom.xml
Due: eng/pipelines/repoman.yml

Reformat existing
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/SimpleTodoApplication.java
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/api/ApiUtil.java
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/api/ItemsApi.java
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/api/ListsApi.java
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/configuration/MongoDBConfiguration.java
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/configuration/RFC3339DateFormat.java
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/configuration/StringToTodoStateConverter.java
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/configuration/WebConfiguration.java
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/controller/TodoItemsController.java
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/controller/TodoListsController.java
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/model/TodoItem.java
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/model/TodoList.java
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/model/TodoState.java
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/repository/TodoItemRepository.java
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/repository/TodoListRepository.java
  templates/todo/api/java/src/test/java/com/microsoft/azure/simpletodo/SimpleTodoApplicationTests.java
Due: eng/pipelines/repoman.yml

Reformat codegen
  templates/todo/api/java/.openapi-generator/FILES
  templates/todo/api/java/.openapi-generator/openapi.yaml-default.sha256
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/api/ItemsApi.java
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/api/ListsApi.java
Due: eng/pipelines/repoman.yml

add cspell
  .vscode/cspell-templates.txt
Due: none

More renames
  cli/azd/pkg/project/project_config_test.go
  cli/azd/pkg/project/project_test.go
  cli/azd/pkg/project/service.go
  cli/azd/pkg/project/service_config.go
  cli/azd/pkg/project/service_target_appservice.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/pkg/project/service_target_functionapp.go
  cli/azd/pkg/project/service_target_staticwebapp.go
  cli/azd/pkg/project/service_test.go
Due: eng/pipelines/release-cli.yml

Fix purge option when running `azd down --force --purge` (#1168)
  cli/azd/CHANGELOG.md
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
Due: eng/pipelines/release-cli.yml

git clone
  eng/pipelines/templates/steps/template-test-run-job.yml
Due: none

test
  eng/pipelines/templates/steps/template-test-run-job.yml
Due: none

Correct version parameter
  eng/pipelines/templates/steps/publish-vscode.yml
Due: none

Formatting and title
  eng/pipelines/templates/steps/publish-cli.yml
  eng/pipelines/templates/steps/publish-vscode.yml
Due: none

Remove TerraformCli from Context
  cli/azd/cmd/deploy.go
  cli/azd/cmd/env.go
  cli/azd/cmd/infra_create.go
  cli/azd/cmd/infra_delete.go
  cli/azd/cmd/wire_gen.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/manager.go
  cli/azd/pkg/infra/provisioning/manager_test.go
  cli/azd/pkg/infra/provisioning/provider.go
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider.go
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider_test.go
  cli/azd/pkg/infra/provisioning/test/test_provider.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/project.go
  cli/azd/pkg/project/project_config.go
  cli/azd/pkg/project/project_config_test.go
  cli/azd/pkg/project/project_test.go
  cli/azd/pkg/project/service_config.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/pkg/project/service_test.go
  cli/azd/pkg/tools/terraform/terraform.go
  cli/azd/pkg/tools/terraform/terraform_test.go
Due: eng/pipelines/release-cli.yml

Remove CommandOptions from Context
  cli/azd/internal/global_command_options.go
  cli/azd/pkg/commands/builder.go
  cli/azd/test/functional/cli_test.go
  cli/azd/test/mocks/mock_context.go
Due: eng/pipelines/release-cli.yml

Remove BicepCli from Context
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/tools/bicep/bicep.go
Due: eng/pipelines/release-cli.yml

Remove RegisterDependenciesInContext
  cli/azd/cmd/root.go
  cli/azd/pkg/commands/builder.go
Due: eng/pipelines/release-cli.yml

Remove CommandRunner from Context
  cli/azd/cmd/env.go
  cli/azd/cmd/infra_create.go
  cli/azd/cmd/pipeline.go
  cli/azd/cmd/restore.go
  cli/azd/cmd/sets.go
  cli/azd/cmd/wire_gen.go
  cli/azd/pkg/commands/builder.go
  cli/azd/pkg/commands/pipeline/azdo_provider.go
  cli/azd/pkg/commands/pipeline/github_provider.go
  cli/azd/pkg/commands/pipeline/pipeline.go
  cli/azd/pkg/commands/pipeline/pipeline_manager.go
  cli/azd/pkg/commands/pipeline/pipeline_test.go
  cli/azd/pkg/exec/command_runner.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/framework_service_dotnet.go
  cli/azd/pkg/project/framework_service_dotnet_test.go
  cli/azd/pkg/project/framework_service_maven.go
  cli/azd/pkg/project/framework_service_npm.go
  cli/azd/pkg/project/framework_service_python.go
  cli/azd/pkg/project/project_config.go
  cli/azd/pkg/project/project_test.go
  cli/azd/pkg/project/service_config.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/pkg/tools/azcli/azcli.go
  cli/azd/pkg/tools/azcli/container_registry.go
  cli/azd/pkg/tools/docker/docker.go
  cli/azd/pkg/tools/docker/docker_test.go
  cli/azd/pkg/tools/dotnet/dotnet.go
  cli/azd/pkg/tools/git/git.go
  cli/azd/pkg/tools/github/github.go
  cli/azd/pkg/tools/npm/npm.go
  cli/azd/pkg/tools/python/python.go
  cli/azd/pkg/tools/swa/swa.go
  cli/azd/pkg/tools/swa/swa_test.go
  cli/azd/pkg/tools/terraform/terraform.go
  cli/azd/pkg/tools/tool.go
  cli/azd/test/functional/cli_test.go
  cli/azd/test/mocks/mock_context.go
Due: eng/pipelines/release-cli.yml

Remove Console from Context
  cli/azd/cmd/deploy.go
  cli/azd/cmd/env.go
  cli/azd/cmd/infra_create.go
  cli/azd/cmd/infra_delete.go
  cli/azd/cmd/init.go
  cli/azd/cmd/pipeline.go
  cli/azd/cmd/util.go
  cli/azd/pkg/azureutil/location.go
  cli/azd/pkg/commands/builder.go
  cli/azd/pkg/commands/pipeline/azdo_provider.go
  cli/azd/pkg/commands/pipeline/pipeline.go
  cli/azd/pkg/commands/pipeline/pipeline_manager.go
  cli/azd/pkg/commands/pipeline/pipeline_test.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/infra/provisioning/manager.go
  cli/azd/pkg/infra/provisioning/manager_test.go
  cli/azd/pkg/infra/provisioning/provider.go
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider.go
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider_test.go
  cli/azd/pkg/infra/provisioning/test/test_provider.go
  cli/azd/pkg/input/console.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/project.go
  cli/azd/pkg/project/project_config.go
  cli/azd/pkg/project/project_config_test.go
  cli/azd/pkg/project/project_test.go
  cli/azd/pkg/project/service_config.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/pkg/project/service_test.go
  cli/azd/pkg/templates/template_manager.go
  cli/azd/test/mocks/mock_context.go
Due: eng/pipelines/release-cli.yml

add printout
  eng/pipelines/templates/steps/template-test-run-job.yml
Due: none

wip
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
Due: eng/pipelines/release-cli.yml

Uncomment for PR
  eng/pipelines/templates/steps/publish-vscode.yml
Due: none

Uncomment for PR
  eng/pipelines/templates/steps/publish-cli.yml
Due: none
