Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/release-cli.yml, eng/pipelines/repoman.yml

eng/pipelines/release-cli.yml:
  stages:
  - stage: BuildAndTest
    jobs:
    - job: BuildCLI
      strategy:
        matrix:
          Windows:
            Pool: azsdk-pool-mms-win-2019-general
            OSVmImage: MMS2019
            BuildTarget: azd-windows-amd64.exe
            BuildOutputName: azd.exe
          Linux:
  ...

eng/pipelines/repoman.yml:
  jobs:
  - job: Generate_Repos
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - checkout: self
    - task: NodeTool@0
      inputs:
        versionSpec: 16
  ...

docs
  cli/azd/pkg/commands/pipeline/github_provider.go
  cli/azd/pkg/commands/pipeline/pipeline.go
Due: eng/pipelines/release-cli.yml

Add comment
  eng/scripts/Set-CliVersionInBuild.ps1
Due: none

docs
  cli/azd/pkg/commands/pipeline/pipeline_manager.go
Due: eng/pipelines/release-cli.yml

azdo placeholder for provider
  cli/azd/pkg/commands/pipeline/azdo_provider.go
Due: eng/pipelines/release-cli.yml

update default view for azd monitor
  cli/azd/cmd/monitor.go
Due: eng/pipelines/release-cli.yml

changelog
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

Upgrade go to 1.19 (#581)
  .github/workflows/cli-ci.yml
  eng/pipelines/release-cli.yml
  eng/pipelines/templates/steps/setup-go.yml
  go.mod
Due: eng/pipelines/release-cli.yml

Add supporting functionality
  cli/azd/internal/telemetry/baggage/baggage.go
  cli/azd/internal/telemetry/baggage/baggage_test.go
  cli/azd/internal/telemetry/baggage/context.go
  cli/azd/internal/telemetry/baggage/context_test.go
  cli/azd/internal/telemetry/fields/fields.go
  cli/azd/internal/telemetry/telemetry_context.go
  cli/azd/pkg/environment/environment.go
Due: eng/pipelines/release-cli.yml

Add objectId to telemetry
  cli/azd/cmd/deploy.go
  cli/azd/cmd/env.go
  cli/azd/cmd/infra_create.go
  cli/azd/cmd/infra_delete.go
  cli/azd/cmd/init.go
  cli/azd/cmd/monitor.go
  cli/azd/cmd/pipeline.go
  cli/azd/cmd/util.go
Due: eng/pipelines/release-cli.yml

Add template to telemetry
  cli/azd/internal/telemetry/baggage/baggage.go
  cli/azd/internal/telemetry/baggage/context.go
  cli/azd/internal/telemetry/telemetry_context.go
  cli/azd/internal/useragent.go
  cli/azd/pkg/project/project_config.go
  cli/azd/pkg/tools/azcli/azcli.go
Due: eng/pipelines/release-cli.yml

Update to 1.19
  cli/azd/CONTRIBUTING.md
Due: eng/pipelines/release-cli.yml

checkpoint
  cli/azd/cmd/pipeline.go
  cli/azd/pkg/commands/pipeline/pipeline_manager.go
Due: eng/pipelines/release-cli.yml

update to use commandRunner
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider.go
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider_test.go
  cli/azd/pkg/tools/terraform/terraform.go
Due: eng/pipelines/release-cli.yml

Enable telemetry for CI builds (#577)
  cli/azd/internal/telemetry/telemetry.go
  cli/azd/internal/version.go
  eng/pipelines/release-cli.yml
  eng/pipelines/templates/steps/set-cli-version-cd.yml
  eng/scripts/Set-CliVersionInBuild.ps1
Due: eng/pipelines/release-cli.yml

.
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider.go
Due: eng/pipelines/release-cli.yml

use console from context
  cli/azd/cmd/pipeline.go
  cli/azd/pkg/commands/pipeline/pipeline_manager.go
Due: eng/pipelines/release-cli.yml

Rename to skip-if-short
  cli/azd/test/functional/cli_test.go
Due: eng/pipelines/release-cli.yml

Use TestMain, add flag to ci-test
  cli/azd/ci-test.ps1
  cli/azd/test/functional/cli_test.go
Due: eng/pipelines/release-cli.yml

env with uppercase only
  cli/azd/cmd/env.go
  cli/azd/cmd/infra_delete.go
  cli/azd/cmd/pipeline.go
  cli/azd/cmd/util.go
  cli/azd/pkg/environment/environment.go
  cli/azd/pkg/environment/names.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/infra/provisioning/manager.go
  cli/azd/pkg/infra/provisioning/manager_test.go
  cli/azd/pkg/infra/provisioning/provisioning.go
  cli/azd/pkg/infra/provisioning/test/test_provider.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/framework_service_npm.go
  cli/azd/pkg/project/project_config.go
  cli/azd/pkg/project/project_config_test.go
  cli/azd/pkg/project/project_test.go
  cli/azd/pkg/project/service_config_test.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/test/functional/cli_test.go
Due: eng/pipelines/release-cli.yml

tests
  cli/azd/pkg/environment/environment.go
  cli/azd/pkg/environment/environment_test.go
Due: eng/pipelines/release-cli.yml

test keepers property
  templates/todo/projects/python-mongo/.repo/terraform/infra/main.tf
Due: eng/pipelines/repoman.yml

test
  cli/azd/pkg/environment/environment_test.go
Due: eng/pipelines/release-cli.yml

update resource_token
  templates/todo/projects/python-mongo/.repo/terraform/infra/apps.tf
  templates/todo/projects/python-mongo/.repo/terraform/infra/cosmos.tf
  templates/todo/projects/python-mongo/.repo/terraform/infra/keyvault.tf
  templates/todo/projects/python-mongo/.repo/terraform/infra/loganalytics.tf
  templates/todo/projects/python-mongo/.repo/terraform/infra/main.tf
Due: eng/pipelines/repoman.yml

fmt main.tf
  templates/todo/projects/python-mongo/.repo/terraform/infra/main.tf
Due: eng/pipelines/repoman.yml

.
  templates/todo/projects/python-mongo/.repo/terraform/infra/main.tf
Due: eng/pipelines/repoman.yml

.
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider.go
  cli/azd/pkg/tools/terraform/terraform.go
Due: eng/pipelines/release-cli.yml

Update cli/azd/CONTRIBUTING.md
  cli/azd/CONTRIBUTING.md
Due: eng/pipelines/release-cli.yml

Add app-level context fields (#579)
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/internal/telemetry/fields/fields.go
  cli/azd/internal/telemetry/machine_id.go
  cli/azd/internal/telemetry/resource.go
  cli/azd/internal/telemetry/telemetry.go
  cli/azd/pkg/config/config.go
  cli/azd/pkg/osutil/osversion/osversion.go
  cli/azd/pkg/osutil/osversion/osversion_darwin.go
  cli/azd/pkg/osutil/osversion/osversion_linux.go
  cli/azd/pkg/osutil/osversion/osversion_test.go
  cli/azd/pkg/osutil/osversion/osversion_windows.go
  go.mod
  go.sum
Due: eng/pipelines/release-cli.yml

Adds top level 'infra' configuration section to the azure.yaml schema
  schemas/v1.0/azure.yaml.json
Due: none

Revert deprecation of service/module
  schemas/v1.0/azure.yaml.json
Due: none

Updates schema property descriptions
  schemas/v1.0/azure.yaml.json
Due: none

Reuse spinner instance when available
  cli/azd/cmd/deploy.go
  cli/azd/pkg/infra/provisioning/manager.go
  cli/azd/pkg/spin/spin.go
  cli/azd/pkg/spin/spin_test.go
Due: eng/pipelines/release-cli.yml

Checks for spinner in deploy command
  cli/azd/cmd/deploy.go
Due: eng/pipelines/release-cli.yml

Adds GetOrCreateSpinner
  cli/azd/cmd/deploy.go
  cli/azd/pkg/infra/provisioning/manager.go
  cli/azd/pkg/spin/spin.go
  cli/azd/pkg/spin/spin_test.go
Due: eng/pipelines/release-cli.yml

Fix test and lint
  cli/azd/cmd/env.go
  cli/azd/internal/telemetry/baggage/context.go
  cli/azd/internal/telemetry/telemetry_context.go
  cli/azd/internal/useragent.go
  cli/azd/pkg/project/project_test.go
Due: eng/pipelines/release-cli.yml

Remove tenantID
  cli/azd/internal/telemetry/telemetry_context.go
Due: eng/pipelines/release-cli.yml

Propagate baggage
  cli/azd/internal/telemetry/tracer.go
Due: eng/pipelines/release-cli.yml

Update README for Azure SQL template
  templates/todo/projects/csharp-sql/README.md
  templates/todo/projects/csharp-sql/assets/resources.png
Due: eng/pipelines/repoman.yml

Path conditions:
  eng/pipelines/release-cli.yml: any of: cli, eng/pipelines/release-cli.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
