Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml
  eng/pipelines/release-vscode.yml: any of: ext, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

java .devcontainer files support terraform
  templates/common/.devcontainer/devcontainer.json/java/terraform/devcontainer.json
  templates/todo/projects/java-postgresql/.repo/terraform/repo.yaml
Due: eng/pipelines/repoman.yml

fix spell issues & Dockerfile add psql command line tools
  templates/common/.devcontainer/Dockerfile/postgresql/Dockerfile
  templates/common/infra/terraform/core/database/postgresql/postgresql_variables.tf
  templates/cspell-templates.txt
  templates/todo/projects/java-postgresql/.repo/terraform/repo.yaml
Due: eng/pipelines/repoman.yml

fix spell issues
  templates/common/infra/terraform/core/database/postgresql/postgresql_variables.tf
  templates/cspell-templates.txt
Due: eng/pipelines/repoman.yml

Name
  cli/azd/pkg/auth/manager.go
Due: eng/pipelines/release-cli.yml

#nosec false positives
  cli/azd/pkg/auth/cloudshell_credential.go
Due: eng/pipelines/release-cli.yml

Add "cloudshell" to spelling
  .vscode/cspell.global.yaml
Due: none

match style
  cli/azd/pkg/auth/manager.go
Due: eng/pipelines/release-cli.yml

fix excluding node_modules (#1805)
  cli/azd/pkg/project/framework_service_npm.go
  cli/azd/pkg/project/framework_service_python.go
Due: eng/pipelines/release-cli.yml

address feedback
  cli/azd/cmd/auth.go
  cli/azd/cmd/auth_login.go
  cli/azd/cmd/infra.go
  cli/azd/cmd/root.go
  cli/azd/test/functional/login_test.go
Due: eng/pipelines/release-cli.yml

Restructuring specific command flags (#1801)
  cli/azd/cmd/deploy.go
  cli/azd/cmd/infra_create.go
  cli/azd/cmd/init.go
  cli/azd/cmd/restore.go
  cli/azd/cmd/root.go
  cli/azd/cmd/templates.go
  cli/azd/cmd/testdata/TestUsage-azd-config-get.snap
  cli/azd/cmd/testdata/TestUsage-azd-config-list.snap
  cli/azd/cmd/testdata/TestUsage-azd-deploy.snap
  cli/azd/cmd/testdata/TestUsage-azd-down.snap
  cli/azd/cmd/testdata/TestUsage-azd-env-get-values.snap
  cli/azd/cmd/testdata/TestUsage-azd-env-list.snap
  cli/azd/cmd/testdata/TestUsage-azd-env-refresh.snap
  cli/azd/cmd/testdata/TestUsage-azd-infra-create.snap
  cli/azd/cmd/testdata/TestUsage-azd-infra-delete.snap
  cli/azd/cmd/testdata/TestUsage-azd-login.snap
  cli/azd/cmd/testdata/TestUsage-azd-provision.snap
  cli/azd/cmd/testdata/TestUsage-azd-restore.snap
  cli/azd/cmd/testdata/TestUsage-azd-template-list.snap
  cli/azd/cmd/testdata/TestUsage-azd-template-show.snap
  cli/azd/cmd/testdata/TestUsage-azd-template.snap
  cli/azd/cmd/testdata/TestUsage-azd-up.snap
  cli/azd/cmd/testdata/TestUsage-azd-version.snap
  cli/azd/cmd/testdata/TestUsage-azd.snap
  cli/azd/cmd/up.go
  cli/azd/cmd/usage_test.go
  cli/azd/pkg/output/parameter.go
  cli/azd/test/functional/cli_test.go
  cli/azd/test/functional/telemetry_test.go
Due: eng/pipelines/release-cli.yml

Fix serialization for slice attributes
  cli/azd/internal/telemetry/appinsights-exporter/span_to_envelope.go
  cli/azd/internal/telemetry/appinsights-exporter/span_to_envelope_test.go
Due: eng/pipelines/release-cli.yml

Ensures that docker init calls source framework init
  cli/azd/pkg/project/framework_service_docker.go
Due: eng/pipelines/release-cli.yml

Ensures that docker init calls source framework init (#1813)
  cli/azd/pkg/project/framework_service_docker.go
Due: eng/pipelines/release-cli.yml

Error handling in CloudShell environment
  cli/azd/pkg/auth/cloudshell_credential.go
Due: eng/pipelines/release-cli.yml

Fix serialization for slice attributes (#1812)
  cli/azd/internal/telemetry/appinsights-exporter/span_to_envelope.go
  cli/azd/internal/telemetry/appinsights-exporter/span_to_envelope_test.go
Due: eng/pipelines/release-cli.yml

Adjust command aliases (#1804)
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/cmd/auth.go
  cli/azd/cmd/auth_login.go
  cli/azd/cmd/auth_logout.go
  cli/azd/cmd/cmd_help.go
  cli/azd/cmd/container.go
  cli/azd/cmd/down.go
  cli/azd/cmd/infra.go
  cli/azd/cmd/infra_create.go
  cli/azd/cmd/infra_delete.go
  cli/azd/cmd/middleware/telemetry_test.go
  cli/azd/cmd/provision.go
  cli/azd/cmd/root.go
  cli/azd/cmd/testdata/TestUsage-azd-auth-login.snap
  cli/azd/cmd/testdata/TestUsage-azd-auth-logout.snap
  cli/azd/cmd/testdata/TestUsage-azd-auth.snap
  cli/azd/cmd/testdata/TestUsage-azd-infra-create.snap
  cli/azd/cmd/testdata/TestUsage-azd-infra-delete.snap
  cli/azd/cmd/testdata/TestUsage-azd.snap
  cli/azd/cmd/up.go
  cli/azd/cmd/util.go
  cli/azd/internal/telemetry/events/format.go
  cli/azd/internal/telemetry/events/format_test.go
  cli/azd/pkg/ext/hooks_manager.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/test/functional/cli_test.go
  cli/azd/test/functional/login_test.go
Due: eng/pipelines/release-cli.yml

Remove `azd login` references in azd
  cli/azd/cmd/auth_login.go
  cli/azd/pkg/account/subscriptions_manager.go
  cli/azd/pkg/auth/manager.go
  cli/azd/pkg/contracts/login.go
  cli/azd/pkg/tools/azcli/azcli.go
  cli/azd/test/functional/initialize_test.go
  eng/pipelines/templates/steps/template-test-run-job.yml
  templates/common/.github/workflows/bicep/azure-dev.yml
  templates/common/.github/workflows/terraform/azure-dev.yml
Due: eng/pipelines/release-cli.yml, eng/pipelines/repoman.yml

add logout warning
  cli/azd/cmd/auth_logout.go
Due: eng/pipelines/release-cli.yml

Remove command reference
  cli/azd/test/functional/env_test.go
Due: eng/pipelines/release-cli.yml

ci devcontainer from pr (#1803)
  eng/pipelines/templates/steps/template-test-run-job.yml
  templates/common/infra/bicep/core/storage/storage-account.bicep
Due: eng/pipelines/repoman.yml

template updates for build/package changes (#1771)
  templates/todo/web/react-fluent/Dockerfile
  templates/todo/web/react-fluent/package.json
Due: eng/pipelines/repoman.yml

Upgrade Python 3.8 to 3.10 (#1463)
  templates/common/.devcontainer/Dockerfile/base/Dockerfile
  templates/common/.devcontainer/Dockerfile/func/Dockerfile
  templates/common/.devcontainer/devcontainer.json/csharp/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/java/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/nodejs/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/nodejs/terraform/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/python/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/python/terraform/devcontainer.json
  templates/common/infra/terraform/core/host/appservice/appservicepython/appservicepython_variables.tf
  templates/todo/api/python/Dockerfile
  templates/todo/api/python/pyproject.toml
  templates/todo/common/infra/bicep/app/api-appservice-python.bicep
  templates/todo/projects/python-mongo-swa-func/README.md
  templates/todo/projects/python-mongo/.repo/bicep/README.md
Due: eng/pipelines/repoman.yml

Enhancement of Terraform modules for App Service - Enable free plan (#1496)
  templates/common/infra/terraform/core/host/appservice/appservicenode/appservicenode.tf
  templates/common/infra/terraform/core/host/appservice/appservicenode/appservicenode_variables.tf
  templates/common/infra/terraform/core/host/appservice/appservicepython/appservicepython.tf
  templates/common/infra/terraform/core/host/appservice/appservicepython/appservicepython_variables.tf
Due: eng/pipelines/repoman.yml

Remove `azd login` references (#1815)
  cli/azd/cmd/auth_login.go
  cli/azd/cmd/auth_logout.go
  cli/azd/pkg/account/subscriptions_manager.go
  cli/azd/pkg/auth/manager.go
  cli/azd/pkg/contracts/login.go
  cli/azd/pkg/tools/azcli/azcli.go
  cli/azd/test/functional/env_test.go
  cli/azd/test/functional/initialize_test.go
  eng/pipelines/templates/steps/template-test-run-job.yml
  templates/common/.github/workflows/bicep/azure-dev.yml
  templates/common/.github/workflows/terraform/azure-dev.yml
Due: eng/pipelines/release-cli.yml, eng/pipelines/repoman.yml

Add --all and working directory support
  cli/azd/cmd/deploy.go
  cli/azd/cmd/restore.go
  cli/azd/pkg/project/project_config.go
Due: eng/pipelines/release-cli.yml

revert comment to recheck test-templates
  templates/common/infra/bicep/core/storage/storage-account.bicep
Due: eng/pipelines/repoman.yml

refactor after conflicts resolving
  cli/azd/cmd/container.go
  cli/azd/pkg/project/internal/project_utils.go
  cli/azd/pkg/project/mutedConsole.go
  cli/azd/pkg/project/service_manager.go
  cli/azd/pkg/project/service_target.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/pkg/project/service_target_springapp.go
  cli/azd/pkg/project/silentConsole.go
  cli/azd/pkg/tools/azcli/spring_app.go
Due: eng/pipelines/release-cli.yml

format code
  cli/azd/pkg/project/service_target_containerapp.go
Due: eng/pipelines/release-cli.yml

foo
  templates/todo/api/java/README.md
Due: eng/pipelines/repoman.yml

bar
  templates/todo/api/java/README.md
Due: eng/pipelines/repoman.yml

remove invalid changes
  cli/azd/pkg/infra/provisioning/arm/arm_provider.go
  cli/azd/pkg/infra/provisioning/arm/arm_provider_test.go
  cli/azd/pkg/infra/provisioning/arm/prompt.go
  cli/azd/pkg/infra/provisioning/arm/prompt_test.go
  cli/azd/pkg/infra/provisioning/arm/validator.go
  schemas/v1.0/azure.yaml.json
Due: eng/pipelines/release-cli.yml

support arm template in repo todo-nodejs-mongo
  templates/common/infra/arm/core/database/cosmos/cosmos-account.json
  templates/common/infra/arm/core/database/cosmos/mongo/cosmos-mongo-account.json
  templates/common/infra/arm/core/database/cosmos/mongo/cosmos-mongo-db.json
  templates/common/infra/arm/core/gateway/apim.bicep
  templates/common/infra/arm/core/host/appservice.json
  templates/common/infra/arm/core/host/appserviceplan.json
  templates/common/infra/arm/core/security/keyvault-access.json
  templates/todo/projects/nodejs-mongo/.repo/arm/README.md
  templates/todo/projects/nodejs-mongo/.repo/arm/azure.yaml
  templates/todo/projects/nodejs-mongo/.repo/arm/infra/main.json
  templates/todo/projects/nodejs-mongo/.repo/arm/infra/main.parameters.json
  templates/todo/projects/nodejs-mongo/.repo/arm/repo.yaml
Due: eng/pipelines/repoman.yml

update after code review
  templates/common/.devcontainer/Dockerfile/java/Dockerfile
  templates/common/infra/terraform/core/database/postgresql/postgresql.tf
  templates/common/infra/terraform/core/database/postgresql/postgresql_output.tf
  templates/common/infra/terraform/core/database/postgresql/postgresql_variables.tf
  templates/todo/projects/java-postgresql/.repo/terraform/repo.yaml
Due: eng/pipelines/repoman.yml

remove invalid changes
  cli/azd/cmd/root.go
Due: eng/pipelines/release-cli.yml

fix spell issues
  cli/azd/.vscode/cspell-azd-dictionary.txt
Due: eng/pipelines/release-cli.yml

fix comment
  cli/azd/cmd/deploy.go
Due: eng/pipelines/release-cli.yml

interesting?
  cli/azd/test/functional/deploy_test.go
  cli/azd/test/functional/testdata/cmd/working-directory/deploy.ct
  cli/azd/test/functional/testdata/cmd/working-directory/restore.ct
  go.mod
  go.sum
Due: eng/pipelines/release-cli.yml

Updates error messages to use more generic naming
  cli/azd/pkg/project/resource_manager.go
Due: eng/pipelines/release-cli.yml

cleanup
  cli/azd/cmd/deploy.go
  cli/azd/cmd/restore.go
Due: eng/pipelines/release-cli.yml

add test coverage
  cli/azd/test/functional/cli_test.go
  cli/azd/test/functional/deploy_test.go
  cli/azd/test/functional/restore_test.go
  cli/azd/test/functional/up_test.go
Due: eng/pipelines/release-cli.yml
