Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml
  eng/pipelines/release-vscode.yml: any of: ext, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

Add parameters for AllowPrerelease and CliVersion with defaults (#2417)
  eng/pipelines/templates/steps/publish-cli.yml
Due: none

Fix subscription id
  cli/azd/test/azdcli/cli.go
  cli/azd/test/functional/cli_test.go
  cli/azd/test/functional/testdata/recordings/Test_CLI_InfraCreateAndDelete.yaml
  cli/azd/test/functional/testdata/recordings/Test_CLI_InfraCreateAndDeleteUpperCase.yaml
  cli/azd/test/recording/poll_discard.go
  cli/azd/test/recording/recording.go
Due: eng/pipelines/release-cli.yml

Fix subscription ID saving
  cli/azd/pkg/environment/environment.go
  cli/azd/pkg/prompt/prompter.go
Due: eng/pipelines/release-cli.yml

add cspell
  cli/azd/.vscode/cspell-azd-dictionary.txt
Due: eng/pipelines/release-cli.yml

try termination
  cli/azd/test/recording/proxy.go
Due: eng/pipelines/release-cli.yml

Updates changelog
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

Updates armappcontainers module to v2 beta (#2412)
  cli/azd/CHANGELOG.md
  cli/azd/pkg/containerapps/container_app.go
  cli/azd/pkg/containerapps/container_app_test.go
  cli/azd/pkg/project/service_target_containerapp_test.go
  cli/azd/test/mocks/mockazsdk/container_apps.go
  go.mod
  go.sum
Due: eng/pipelines/release-cli.yml

Validate container app revision during deployment
  cli/azd/pkg/containerapps/container_app.go
  cli/azd/pkg/containerapps/container_app_test.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/pkg/project/service_target_containerapp_test.go
Due: eng/pipelines/release-cli.yml

Updates retry strategy
  cli/azd/pkg/containerapps/container_app.go
Due: eng/pipelines/release-cli.yml

Fixes long lines
  cli/azd/pkg/containerapps/container_app_test.go
Due: eng/pipelines/release-cli.yml

Address PR feedback
  cli/azd/pkg/containerapps/container_app.go
  cli/azd/pkg/containerapps/container_app_test.go
Due: eng/pipelines/release-cli.yml

Update azure-sdk-build-tools Repository Resource Refs in Yaml files (#2404)
  eng/pipelines/release-cli.yml
  eng/pipelines/release-vscode.yml
Due: eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml

Addresses PR feedback
  cli/azd/pkg/project/service_target_containerapp.go
Due: eng/pipelines/release-cli.yml

Apply same logic to RunList
  cli/azd/pkg/exec/command_runner.go
  cli/azd/pkg/tools/python/python.go
Due: eng/pipelines/release-cli.yml

Fixes unit tests
  cli/azd/pkg/project/service_target_containerapp_test.go
Due: eng/pipelines/release-cli.yml

add concurrent handling
  cli/azd/test/recording/poll_discard.go
Due: eng/pipelines/release-cli.yml

Ensure container app supports ingress before shifting traffic
  cli/azd/pkg/project/service_target_containerapp.go
Due: eng/pipelines/release-cli.yml

fix variable handling
  cli/azd/test/recording/recording.go
Due: eng/pipelines/release-cli.yml

address comment
  cli/azd/test/functional/cli_test.go
Due: eng/pipelines/release-cli.yml

add support for concurrent polling
  cli/azd/test/recording/poll_discard.go
  cli/azd/test/recording/poll_discard_test.go
Due: eng/pipelines/release-cli.yml

fix id
  cli/azd/test/recording/poll_discard_test.go
Due: eng/pipelines/release-cli.yml

keep non-polling interactions
  cli/azd/test/recording/poll_discard.go
  cli/azd/test/recording/poll_discard_test.go
Due: eng/pipelines/release-cli.yml

remove Same()
  cli/azd/test/recording/poll_discard.go
  cli/azd/test/recording/poll_discard_test.go
Due: eng/pipelines/release-cli.yml

Disable progress display in test
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/test/azdcli/cli.go
Due: eng/pipelines/release-cli.yml

Create jekyll-gh-pages.yml
  .github/workflows/jekyll-gh-pages.yml
Due: none

fix quickstart commands on the README in the todo projects
  templates/todo/projects/csharp-sql-swa-func/README.md
  templates/todo/projects/csharp-sql/README.md
  templates/todo/projects/java-mongo-aca/README.md
  templates/todo/projects/java-mongo/README.md
  templates/todo/projects/java-postgresql/README.md
  templates/todo/projects/nodejs-mongo-aca/README.md
  templates/todo/projects/nodejs-mongo-aks/README.md
  templates/todo/projects/nodejs-mongo-swa-func/README.md
  templates/todo/projects/python-mongo-aca/README.md
  templates/todo/projects/python-mongo-swa-func/README.md
Due: eng/pipelines/repoman.yml

Uptake changes
  cli/azd/cmd/init.go
  cli/azd/internal/repository/initializer.go
  cli/azd/internal/repository/initializer_test.go
Due: eng/pipelines/release-cli.yml

fix quickstart commands on the README in the todo projects (#2436)
  templates/todo/projects/csharp-sql-swa-func/README.md
  templates/todo/projects/csharp-sql/README.md
  templates/todo/projects/java-mongo-aca/README.md
  templates/todo/projects/java-mongo/README.md
  templates/todo/projects/java-postgresql/README.md
  templates/todo/projects/nodejs-mongo-aca/README.md
  templates/todo/projects/nodejs-mongo-aks/README.md
  templates/todo/projects/nodejs-mongo-swa-func/README.md
  templates/todo/projects/python-mongo-aca/README.md
  templates/todo/projects/python-mongo-swa-func/README.md
Due: eng/pipelines/repoman.yml

Update Bicep to 0.18.4
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/tools/bicep/bicep.go
  cli/azd/pkg/tools/bicep/bicep_test.go
Due: eng/pipelines/release-cli.yml

use prev version for docker in docker
  templates/common/.devcontainer/devcontainer.json/aks/nodejs/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/csharp/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/java/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/nodejs/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/nodejs/terraform/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/python/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/python/terraform/devcontainer.json
Due: eng/pipelines/repoman.yml

try 2.0.0
  templates/common/.devcontainer/devcontainer.json/aks/nodejs/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/csharp/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/java/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/nodejs/terraform/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/python/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/python/terraform/devcontainer.json
Due: eng/pipelines/repoman.yml

moby false
  templates/common/.devcontainer/devcontainer.json/aks/nodejs/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/csharp/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/java/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/nodejs/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/nodejs/terraform/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/python/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/python/terraform/devcontainer.json
Due: eng/pipelines/repoman.yml

Update Bicep to 0.18.4 (#2437)
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/tools/bicep/bicep.go
  cli/azd/pkg/tools/bicep/bicep_test.go
Due: eng/pipelines/release-cli.yml

go latest with azure cli feature
  templates/common/.devcontainer/devcontainer.json/java/terraform/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/nodejs/terraform/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/python/terraform/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/terraform-starter/devcontainer.json
Due: eng/pipelines/repoman.yml

moby true
  templates/common/.devcontainer/devcontainer.json/aks/nodejs/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/csharp/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/java/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/java/terraform/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/nodejs/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/nodejs/terraform/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/python/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/python/terraform/devcontainer.json
Due: eng/pipelines/repoman.yml

use os image for node
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  templates/common/.devcontainer/Dockerfile/java/Dockerfile
  templates/common/.devcontainer/devcontainer.json/java/terraform/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/nodejs/devcontainer.json
Due: eng/pipelines/repoman.yml

use platform
  templates/common/.devcontainer/devcontainer.json/aks/nodejs/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/csharp/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/java/terraform/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/nodejs/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/nodejs/terraform/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/python/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/python/terraform/devcontainer.json
Due: eng/pipelines/repoman.yml

fix java
  templates/common/.devcontainer/Dockerfile/java/Dockerfile
  templates/common/.devcontainer/devcontainer.json/nodejs/devcontainer.json
Due: eng/pipelines/repoman.yml

java
  templates/common/.devcontainer/devcontainer.json/java/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/java/terraform/devcontainer.json
Due: eng/pipelines/repoman.yml

java fix
  templates/common/.devcontainer/devcontainer.json/java/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/java/terraform/devcontainer.json
Due: eng/pipelines/repoman.yml
