Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/release-cli.yml, eng/pipelines/repoman.yml

eng/pipelines/release-cli.yml:
  stages:
  - stage: BuildAndTest
    jobs:
    - job: BuildCLI
      strategy:
        matrix:
          Windows:
            Pool: azsdk-pool-mms-win-2019-general
            OSVmImage: MMS2019
            BuildTarget: azd-windows-amd64.exe
            BuildOutputName: azd.exe
            AZURE_DEV_CI_OS: win
  ...

eng/pipelines/repoman.yml:
  stages:
  - stage: Validation
    jobs:
    - job: Generate_Repos_For_PR
      condition: "and(\n  succeeded(),\n  or(\n    eq(variables['BuildReasonOverride'], 'PullRequest'),\n    and(\n      eq('', variables['BuildReasonOverride']),\n      eq(variables['Build.Reason'], 'PullRequest')\n    )\n  )\n)"
  ...

Rework parameters in Bicep Provider (#1222)
  cli/azd/cmd/util.go
  cli/azd/pkg/azure/arm_parameters.go
  cli/azd/pkg/azure/arm_template.go
  cli/azd/pkg/azureutil/location.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/infra/provisioning/bicep/prompt.go
  cli/azd/pkg/infra/provisioning/bicep/prompt_test.go
  cli/azd/pkg/infra/provisioning/bicep/validator.go
  cli/azd/pkg/infra/provisioning/manager.go
  cli/azd/pkg/infra/scope.go
  cli/azd/pkg/infra/scope_test.go
  cli/azd/pkg/input/console.go
  cli/azd/pkg/tools/azcli/azcli.go
  cli/azd/pkg/tools/azcli/deployments.go
  cli/azd/test/mocks/mockinput/mock_console.go
Due: eng/pipelines/release-cli.yml

Reference doc automation (#1273)
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/cmd/config.go
  cli/azd/cmd/root.go
  cli/azd/cmd/usage_test.go
  cli/azd/docs/docgen.go
  cli/azd/docs/docgen_test.go
  cli/azd/internal/global_command_options.go
  cli/azd/main.go
  eng/pipelines/release-cli.yml
  eng/pipelines/templates/steps/publish-cli.yml
Due: eng/pipelines/release-cli.yml

fix bug
  templates/todo/projects/csharp-sql-swa-func/.repo/bicep/repo.yaml
  templates/todo/projects/java-mongo-aca/.repo/bicep/repo.yaml
  templates/todo/projects/java-mongo/.repo/bicep/repo.yaml
  templates/todo/projects/nodejs-mongo-aca/.repo/bicep/repo.yaml
  templates/todo/projects/nodejs-mongo-swa-func/.repo/bicep/repo.yaml
  templates/todo/projects/nodejs-mongo/.repo/bicep/repo.yaml
  templates/todo/projects/python-mongo-aca/.repo/bicep/repo.yaml
  templates/todo/projects/python-mongo-swa-func/.repo/bicep/repo.yaml
  templates/todo/projects/python-mongo/.repo/bicep/repo.yaml
Due: eng/pipelines/repoman.yml

Set platform architecture in Dockerfiles that install azd (#1284)
  cli/Dockerfile
  templates/common/.devcontainer/Dockerfile/base/Dockerfile
  templates/common/.devcontainer/Dockerfile/func/Dockerfile
Due: eng/pipelines/release-cli.yml, eng/pipelines/repoman.yml

Use private repo
  eng/pipelines/templates/steps/publish-cli.yml
Due: none

Test
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Update repo name
  eng/pipelines/release-cli.yml
  eng/pipelines/templates/steps/publish-cli.yml
Due: eng/pipelines/release-cli.yml

List files
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

More logging, faster loop
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Clone different fork
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Use root repo
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Clean up TODOs
  eng/pipelines/release-cli.yml
  eng/pipelines/templates/steps/publish-cli.yml
Due: eng/pipelines/release-cli.yml

dev/apim
  templates/common/infra/terraform/core/host/apim-apiservice/apim-apiservice.tf
  templates/common/infra/terraform/core/host/apim-apiservice/apim-apiservice_output.tf
  templates/common/infra/terraform/core/host/apim-apiservice/apim-apiservice_variables.tf
  templates/common/infra/terraform/core/host/apimservice/apim-api-policy.xml
  templates/common/infra/terraform/core/host/apimservice/apimservice.tf
  templates/common/infra/terraform/core/host/apimservice/apimservice_output.tf
  templates/common/infra/terraform/core/host/apimservice/apimservice_variables.tf
  templates/todo/projects/python-mongo/.repo/terraform/infra/main.tf
  templates/todo/projects/python-mongo/.repo/terraform/infra/main.tfvars.json
  templates/todo/projects/python-mongo/.repo/terraform/infra/output.tf
  templates/todo/projects/python-mongo/.repo/terraform/infra/variables.tf
  templates/todo/projects/python-mongo/.repo/terraform/repo.yaml
Due: eng/pipelines/repoman.yml

About Changes to Terroform Templates
  templates/common/infra/terraform/core/host/apim-apiservice/apim-apiservice.tf
  templates/common/infra/terraform/core/host/apim-apiservice/apim-apiservice_output.tf
  templates/common/infra/terraform/core/host/apim-apiservice/apim-apiservice_variables.tf
  templates/common/infra/terraform/core/host/apimservice/apimservice.tf
  templates/common/infra/terraform/core/host/apimservice/apimservice_output.tf
  templates/common/infra/terraform/core/host/apimservice/apimservice_variables.tf
  templates/todo/projects/python-mongo/.repo/terraform/infra/main.tf
Due: eng/pipelines/repoman.yml

About Changes to Terraform Templates
  templates/common/infra/terraform/core/host/apim-apiservice/apim-apiservice.tf
Due: eng/pipelines/repoman.yml

fix path format
  templates/common/infra/terraform/core/gateway/apim-api-policy.xml
  templates/common/infra/terraform/core/gateway/apimservice.tf
  templates/common/infra/terraform/core/gateway/apimservice_output.tf
  templates/common/infra/terraform/core/gateway/apimservice_variables.tf
  templates/todo/common/infra/terraform/app/apim-apiservice.tf
  templates/todo/common/infra/terraform/app/apim-apiservice_output.tf
  templates/todo/common/infra/terraform/app/apim-apiservice_variables.tf
Due: eng/pipelines/repoman.yml

fix apim service, some failure about apim-api needs to be fixed next time.
  templates/common/infra/terraform/core/gateway/apim.tf
  templates/common/infra/terraform/core/gateway/apim_output.tf
  templates/common/infra/terraform/core/gateway/apim_variables.tf
  templates/common/infra/terraform/core/gateway/apimservice.tf
  templates/common/infra/terraform/core/gateway/apimservice_output.tf
  templates/todo/common/infra/terraform/app/apim-api.tf
  templates/todo/common/infra/terraform/app/apim-api_output.tf
  templates/todo/common/infra/terraform/app/apim-api_variables.tf
  templates/todo/projects/python-mongo/.repo/terraform/infra/main.tf
  templates/todo/projects/python-mongo/.repo/terraform/infra/output.tf
  templates/todo/projects/python-mongo/.repo/terraform/infra/variables.tf
Due: eng/pipelines/repoman.yml

fix apim-api module
  templates/common/infra/terraform/core/gateway/apim.tf
  templates/common/infra/terraform/core/gateway/apim_variables.tf
  templates/todo/common/infra/terraform/app/apim-api.tf
  templates/todo/common/infra/terraform/app/apim-api_output.tf
  templates/todo/common/infra/terraform/app/apim-api_variables.tf
  templates/todo/projects/python-mongo/.repo/terraform/infra/main.tf
  templates/todo/projects/python-mongo/.repo/terraform/repo.yaml
Due: eng/pipelines/repoman.yml

Fixing #1290 by replacing - with _ when outputing container image env var
  cli/azd/pkg/project/service_target_containerapp.go
Due: eng/pipelines/release-cli.yml

fix output
  templates/todo/projects/python-mongo/.repo/terraform/infra/output.tf
Due: eng/pipelines/repoman.yml

fix format
  templates/common/infra/terraform/core/gateway/apim/apim.tf
  templates/common/infra/terraform/core/gateway/apim/apim_output.tf
  templates/common/infra/terraform/core/gateway/apim/apim_variables.tf
  templates/todo/common/infra/terraform/app/apim-api/apim-api.tf
  templates/todo/common/infra/terraform/app/apim-api/apim-api_output.tf
  templates/todo/common/infra/terraform/app/apim-api/apim-api_variables.tf
  templates/todo/projects/python-mongo/.repo/terraform/infra/main.tf
  templates/todo/projects/python-mongo/.repo/terraform/repo.yaml
Due: eng/pipelines/repoman.yml

fix format about apim and apimApi
  templates/common/infra/terraform/core/gateway/apim-api/apim-api.tf
  templates/common/infra/terraform/core/gateway/apim-api/apim-api_output.tf
  templates/common/infra/terraform/core/gateway/apim-api/apim-api_variables.tf
  templates/todo/projects/python-mongo/.repo/terraform/repo.yaml
Due: eng/pipelines/repoman.yml

fix format about apim and apimApi
  templates/todo/projects/python-mongo/.repo/terraform/infra/main.tf
Due: eng/pipelines/repoman.yml

fix some provision bug
  templates/common/infra/terraform/core/gateway/apim-api/apim-api.tf
  templates/common/infra/terraform/core/gateway/apim-api/apim-api_output.tf
  templates/common/infra/terraform/core/gateway/apim-api/apim-api_variables.tf
  templates/common/infra/terraform/core/gateway/apim/apim.tf
  templates/common/infra/terraform/core/gateway/apim/apim_variables.tf
  templates/todo/projects/python-mongo/.repo/terraform/infra/main.tf
Due: eng/pipelines/repoman.yml

fix format in all tf files
  templates/common/infra/terraform/core/gateway/apim-api/apim-api.tf
  templates/common/infra/terraform/core/gateway/apim/apim.tf
  templates/todo/projects/python-mongo/.repo/terraform/infra/main.tf
Due: eng/pipelines/repoman.yml

change yaml path
  templates/todo/projects/python-mongo/.repo/terraform/repo.yaml
Due: eng/pipelines/repoman.yml

change file path
  templates/todo/projects/python-mongo/.repo/terraform/repo.yaml
Due: eng/pipelines/repoman.yml

fix path bug
  templates/common/infra/terraform/core/gateway/apim-api/apim-api.tf
Due: eng/pipelines/repoman.yml

solve the error
  templates/common/infra/terraform/core/gateway/apim-api/apim-api.tf
  templates/common/infra/terraform/core/gateway/apim/apim.tf
  templates/common/infra/terraform/core/monitor/applicationinsights/applicationinsights_output.tf
  templates/todo/projects/python-mongo/.repo/terraform/infra/main.tf
  templates/todo/projects/python-mongo/.repo/terraform/infra/variables.tf
Due: eng/pipelines/repoman.yml

fix apim bug
  templates/common/infra/terraform/core/gateway/apim-api/apim-api.tf
  templates/common/infra/terraform/core/gateway/apim/apim-api-policy.xml
  templates/todo/projects/python-mongo/.repo/terraform/infra/main.tf
  templates/todo/projects/python-mongo/.repo/terraform/infra/main.tfvars.json
  templates/todo/projects/python-mongo/.repo/terraform/repo.yaml
Due: eng/pipelines/repoman.yml

fix file path bug
  templates/common/infra/terraform/core/gateway/apim-api/apim-api.tf
  templates/common/infra/terraform/core/gateway/apim-api/apim-api_variables.tf
  templates/common/infra/terraform/core/gateway/apim/apim_output.tf
  templates/todo/projects/python-mongo/.repo/terraform/infra/main.tf
Due: eng/pipelines/repoman.yml

add code of terraform templates for nodejs
  templates/todo/projects/nodejs-mongo/.repo/terraform/infra/main.tf
  templates/todo/projects/nodejs-mongo/.repo/terraform/infra/main.tfvars.json
  templates/todo/projects/nodejs-mongo/.repo/terraform/infra/output.tf
  templates/todo/projects/nodejs-mongo/.repo/terraform/infra/variables.tf
  templates/todo/projects/nodejs-mongo/.repo/terraform/repo.yaml
  templates/todo/projects/python-mongo/.repo/terraform/infra/main.tf
Due: eng/pipelines/repoman.yml

Support `secureObject` and `secureString` ARM parameter types
  cli/azd/pkg/azure/arm_template.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/prompt_test.go
Due: eng/pipelines/release-cli.yml

Update cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/pkg/project/service_target_containerapp.go
Due: eng/pipelines/release-cli.yml

Redacting sensitive data when logging commands (#1265)
  cli/azd/.vscode/cspell.yaml
  cli/azd/pkg/exec/command_runner.go
  cli/azd/pkg/exec/util_test.go
Due: eng/pipelines/release-cli.yml

Fix ux, address feedback
  cli/azd/cmd/init.go
  cli/azd/internal/repository/initializer.go
  cli/azd/internal/repository/initializer_test.go
Due: eng/pipelines/release-cli.yml

fix length
  cli/azd/internal/repository/initializer.go
Due: eng/pipelines/release-cli.yml

Path conditions:
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
