Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/release-cli.yml, eng/pipelines/repoman.yml

eng/pipelines/release-cli.yml:
  stages:
  - stage: BuildAndTest
    jobs:
    - job: BuildCLI
      strategy:
        matrix:
          Windows:
            Pool: azsdk-pool-mms-win-2019-general
            OSVmImage: MMS2019
            BuildTarget: azd-windows-amd64.exe
            BuildOutputName: azd.exe
          Linux:
  ...

eng/pipelines/repoman.yml:
  jobs:
  - job: Generate_Repos
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - checkout: self
    - task: NodeTool@0
      inputs:
        versionSpec: 16
  ...

Fix resource group deployment message
  cli/azd/cmd/deploy.go
  cli/azd/cmd/infra_create.go
  cli/azd/cmd/up.go
  cli/azd/pkg/project/project.go
  cli/azd/pkg/project/project_config.go
Due: eng/pipelines/release-cli.yml

Make appInsights optional for app service
  templates/common/infra/bicep/core/host/appservice-dotnet.bicep
  templates/common/infra/bicep/core/host/appservice-node.bicep
  templates/common/infra/bicep/core/host/appservice-python.bicep
  templates/common/infra/bicep/core/host/appservice.bicep
  templates/common/infra/bicep/core/host/functions-node.bicep
  templates/common/infra/bicep/core/host/functions-python.bicep
  templates/common/infra/bicep/core/host/functions.bicep
  templates/todo/common/infra/bicep/app/api-appservice-dotnet.bicep
  templates/todo/common/infra/bicep/app/api-appservice-node.bicep
  templates/todo/common/infra/bicep/app/api-appservice-python.bicep
  templates/todo/common/infra/bicep/app/api-functions-node.bicep
  templates/todo/common/infra/bicep/app/api-functions-python.bicep
  templates/todo/common/infra/bicep/app/web-appservice.bicep
Due: eng/pipelines/repoman.yml

fix comment
  cli/azd/pkg/project/project.go
Due: eng/pipelines/release-cli.yml

Fix spelling
  cli/azd/cmd/up.go
Due: eng/pipelines/release-cli.yml

Fix AZURE_KEY_VAULT_NAME
  templates/todo/projects/csharp-sql/.repo/bicep/infra/resources.bicep
Due: eng/pipelines/repoman.yml

Azdo updates: change log, pager response, avoid pipeline duplicate (#757)
  cli/azd/CHANGELOG.md
  cli/azd/pkg/azdo/paged_response_api.go
  cli/azd/pkg/azdo/pipeline.go
Due: eng/pipelines/release-cli.yml

use main for init a repo
  cli/azd/pkg/tools/git/git.go
Due: eng/pipelines/release-cli.yml

fix artifacts ci
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

do not fail if folder is there
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

do not fail if folder is there (#765)
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Fix cosmos SQL template tests failing due to KeyVault secret failure (#762)
  templates/todo/projects/csharp-sql/.repo/bicep/infra/resources.bicep
Due: eng/pipelines/repoman.yml

remove git config credentials
  cli/azd/pkg/azdo/repository.go
  cli/azd/pkg/commands/pipeline/azdo_provider.go
  cli/azd/pkg/tools/git/git.go
Due: eng/pipelines/release-cli.yml

fix for creating new env
  cli/azd/pkg/azdo/pipeline.go
  cli/azd/pkg/azdo/project.go
  cli/azd/pkg/azdo/repository.go
  cli/azd/pkg/commands/pipeline/azdo_provider.go
  cli/azd/pkg/commands/pipeline/github_provider.go
Due: eng/pipelines/release-cli.yml

Modify Azdo provider default branch to be use the current git branch.
  cli/azd/pkg/azdo/azdo.go
  cli/azd/pkg/commands/pipeline/azdo_provider.go
Due: eng/pipelines/release-cli.yml

Update cli/azd/pkg/tools/git/git.go
  cli/azd/pkg/tools/git/git.go
Due: eng/pipelines/release-cli.yml

Make appInsights optional for app service (#760)
  templates/common/infra/bicep/core/host/appservice-dotnet.bicep
  templates/common/infra/bicep/core/host/appservice-node.bicep
  templates/common/infra/bicep/core/host/appservice-python.bicep
  templates/common/infra/bicep/core/host/appservice.bicep
  templates/common/infra/bicep/core/host/functions-node.bicep
  templates/common/infra/bicep/core/host/functions-python.bicep
  templates/common/infra/bicep/core/host/functions.bicep
  templates/todo/common/infra/bicep/app/api-appservice-dotnet.bicep
  templates/todo/common/infra/bicep/app/api-appservice-node.bicep
  templates/todo/common/infra/bicep/app/api-appservice-python.bicep
  templates/todo/common/infra/bicep/app/api-functions-node.bicep
  templates/todo/common/infra/bicep/app/api-functions-python.bicep
  templates/todo/common/infra/bicep/app/web-appservice.bicep
Due: eng/pipelines/repoman.yml

add error enrichment
  cli/azd/test/functional/cli_test.go
Due: eng/pipelines/release-cli.yml

Fix error in `deploy` with multiple resource groups (#761)
  cli/azd/cmd/deploy.go
  cli/azd/cmd/infra_create.go
  cli/azd/cmd/up.go
  cli/azd/pkg/project/project.go
  cli/azd/pkg/project/project_config.go
  cli/azd/test/functional/cli_test.go
Due: eng/pipelines/release-cli.yml

Add java maven support
  cli/azd/pkg/project/framework_service_maven.go
  cli/azd/pkg/project/service_config.go
  cli/azd/pkg/tools/javac/javac.go
  cli/azd/pkg/tools/javac/javac_test.go
  cli/azd/pkg/tools/maven/maven.go
  cli/azd/pkg/tools/maven/maven_test.go
  cli/azd/test/ostest/ostest.go
  schemas/v1.0/azure.yaml.json
Due: eng/pipelines/release-cli.yml

prettify error message
  cli/azd/pkg/project/framework_service_maven.go
Due: eng/pipelines/release-cli.yml

Updates azcli package to use keyvault go modules
  cli/azd/pkg/cmdsubst/cmdsubst.go
  cli/azd/pkg/cmdsubst/cmdsubst_test.go
  cli/azd/pkg/cmdsubst/secretOrRandomPassword.go
  cli/azd/pkg/convert/util.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/options.go
  cli/azd/pkg/tools/azcli/azcli.go
  cli/azd/pkg/tools/azcli/client_options.go
  cli/azd/pkg/tools/azcli/keyvault.go
  cli/azd/pkg/tools/azcli/resources.go
  go.mod
  go.sum
Due: eng/pipelines/release-cli.yml

Updates unit tests keyvault mocks
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
Due: eng/pipelines/release-cli.yml

address pr comments
  templates/common/infra/terraform/core/database/cosmos/cosmos.tf
  templates/common/infra/terraform/core/database/cosmos/cosmos_output.tf
  templates/common/infra/terraform/core/database/cosmos/cosmos_variables.tf
  templates/common/infra/terraform/core/host/appservice/appservicenode/appservicenode.tf
  templates/common/infra/terraform/core/host/appservice/appservicenode/appservicenode_output.tf
  templates/common/infra/terraform/core/host/appservice/appservicenode/appservicenode_variables.tf
  templates/common/infra/terraform/core/host/appservice/appservicepython/appservicepython.tf
  templates/common/infra/terraform/core/host/appservice/appservicepython/appservicepython_output.tf
  templates/common/infra/terraform/core/host/appservice/appservicepython/appservicepython_variables.tf
  templates/common/infra/terraform/core/host/appserviceplan/appserviceplan.tf
  templates/common/infra/terraform/core/host/appserviceplan/appserviceplan_output.tf
  templates/common/infra/terraform/core/host/appserviceplan/appserviceplan_variables.tf
  templates/common/infra/terraform/core/keyvault/keyvault.tf
  templates/common/infra/terraform/core/keyvault/keyvault_output.tf
  templates/common/infra/terraform/core/keyvault/keyvault_variables.tf
  templates/common/infra/terraform/core/monitor/applicationinsights/applicationinsights.tf
  templates/common/infra/terraform/core/monitor/applicationinsights/applicationinsights_output.tf
  templates/common/infra/terraform/core/monitor/applicationinsights/applicationinsights_variables.tf
  templates/common/infra/terraform/core/monitor/loganalytics/loganalytics.tf
  templates/common/infra/terraform/core/monitor/loganalytics/loganalytics_output.tf
  templates/common/infra/terraform/core/monitor/loganalytics/loganalytics_variables.tf
  templates/todo/projects/nodejs-mongo/.repo/terraform/infra/main.tf
  templates/todo/projects/nodejs-mongo/.repo/terraform/repo.yaml
  templates/todo/projects/python-mongo/.repo/terraform/infra/main.tf
  templates/todo/projects/python-mongo/.repo/terraform/repo.yaml
Due: eng/pipelines/repoman.yml

Reverts options changes
  cli/azd/pkg/infra/provisioning/options.go
Due: eng/pipelines/release-cli.yml

Change AZURE_TENANT to AZURE_TENANT_ID
  templates/todo/projects/csharp-cosmos-sql/.repo/bicep/infra/main.bicep
  templates/todo/projects/csharp-sql/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo-aca/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo-aca/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo/.repo/bicep/infra/main.bicep
Due: eng/pipelines/repoman.yml

rename fn
  cli/azd/pkg/azdo/pipeline.go
Due: eng/pipelines/release-cli.yml

Change AZURE_TENANT to AZURE_TENANT_ID (#772)
  templates/todo/projects/csharp-cosmos-sql/.repo/bicep/infra/main.bicep
  templates/todo/projects/csharp-sql/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo-aca/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo-aca/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo/.repo/bicep/infra/main.bicep
Due: eng/pipelines/repoman.yml

Fixes lint and spelling issues
  .vscode/cspell-templates.txt
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/tools/azcli/azcli.go
Due: eng/pipelines/release-cli.yml

add cspell
  cli/azd/.vscode/cspell-azd-dictionary.txt
Due: eng/pipelines/release-cli.yml

Set executable bits
  cli/azd/pkg/tools/javac/javac_test.go
  cli/azd/pkg/tools/maven/maven_test.go
Due: eng/pipelines/release-cli.yml

Fixes spelling issues
  .vscode/cspell-templates.txt
  .vscode/cspell.global.yaml
Due: none

do not persist PAT
  cli/azd/pkg/azdo/utils.go
  cli/azd/pkg/commands/pipeline/azdo_provider_test.go
Due: eng/pipelines/release-cli.yml

typo
  cli/azd/pkg/commands/pipeline/github_provider.go
Due: eng/pipelines/release-cli.yml

rename identity outputs
  templates/common/infra/terraform/core/database/cosmos/cosmos_output.tf
  templates/common/infra/terraform/core/host/appservice/appservicenode/appservicenode_output.tf
  templates/common/infra/terraform/core/host/appservice/appservicepython/appservicepython_output.tf
  templates/todo/projects/nodejs-mongo/.repo/terraform/infra/main.tf
  templates/todo/projects/python-mongo/.repo/terraform/infra/main.tf
Due: eng/pipelines/repoman.yml

use main for init a repo (#764)
  cli/azd/pkg/tools/git/git.go
Due: eng/pipelines/release-cli.yml

Modify Azdo provider default branch to be use the current git branch. (#769)
  cli/azd/pkg/azdo/azdo.go
  cli/azd/pkg/commands/pipeline/azdo_provider.go
Due: eng/pipelines/release-cli.yml

Updates to Azdo implementation (#766)
  cli/azd/pkg/azdo/pipeline.go
  cli/azd/pkg/azdo/project.go
  cli/azd/pkg/azdo/repository.go
  cli/azd/pkg/commands/pipeline/azdo_provider.go
  cli/azd/pkg/tools/git/git.go
Due: eng/pipelines/release-cli.yml

fix cosmos output
  templates/todo/projects/nodejs-mongo/.repo/terraform/infra/output.tf
Due: eng/pipelines/repoman.yml

fix python template cosmos output
  templates/todo/projects/python-mongo/.repo/terraform/infra/output.tf
Due: eng/pipelines/repoman.yml

update templates to output cosmos key
  templates/todo/projects/nodejs-mongo/.repo/terraform/infra/main.tf
  templates/todo/projects/nodejs-mongo/.repo/terraform/infra/output.tf
  templates/todo/projects/python-mongo/.repo/terraform/infra/main.tf
  templates/todo/projects/python-mongo/.repo/terraform/infra/output.tf
Due: eng/pipelines/repoman.yml

Path conditions:
  eng/pipelines/release-cli.yml: any of: cli, eng/pipelines/release-cli.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
