Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml
  eng/pipelines/release-vscode.yml: any of: ext, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

add firewall rule
  cli/azd/resources/scaffold/templates/db-postgres.bicept
  cli/azd/resources/scaffold/templates/main.bicept
Due: eng/pipelines/release-cli.yml

add frontend support
  cli/azd/internal/repository/infra_gen.go
  cli/azd/resources/resources.go
  cli/azd/resources/scaffold/templates/containerapp.bicept
  cli/azd/resources/scaffold/templates/main.bicept
Due: eng/pipelines/release-cli.yml

cors support
  cli/azd/internal/repository/infra_gen.go
  cli/azd/resources/scaffold/base/shared/apps-env.bicep
  cli/azd/resources/scaffold/templates/containerapp.bicept
  cli/azd/resources/scaffold/templates/main.bicept
Due: eng/pipelines/release-cli.yml

use azd's fetch
  cli/azd/internal/repository/infra_gen.go
  cli/azd/resources/scaffold/base/modules/fetch-container-image.bicep
  cli/azd/resources/scaffold/templates/containerapp.bicept
  cli/azd/resources/scaffold/templates/main.bicept
Due: eng/pipelines/release-cli.yml

simplify generation - use template definitions
  cli/azd/internal/repository/infra_gen.go
  cli/azd/resources/resources.go
  cli/azd/resources/scaffold/templates/db-cosmos.bicept
  cli/azd/resources/scaffold/templates/db-postgre.bicept
  cli/azd/resources/scaffold/templates/host-containerapp.bicept
  cli/azd/resources/scaffold/templates/host-staticwebapp.bicept
  cli/azd/resources/scaffold/templates/main.bicept
  cli/azd/resources/scaffold/templates/main.parameters.jsont
Due: eng/pipelines/release-cli.yml

fix follow-up
  cli/azd/cmd/init.go
Due: eng/pipelines/release-cli.yml

fix firewall
  cli/azd/resources/scaffold/templates/main.bicept
Due: eng/pipelines/release-cli.yml

add healthCheckPath to functions.bicep
  templates/common/infra/bicep/core/host/functions.bicep
Due: eng/pipelines/repoman.yml

Fix roleDefintion typo
  templates/common/infra/bicep/core/database/cosmos/sql/cosmos-sql-db.bicep
Due: eng/pipelines/repoman.yml

comment out docker for now
  cli/azd/internal/repository/detector.go
Due: eng/pipelines/release-cli.yml

removing more old files
  cli/azd/internal/repository/initializer.go
  cli/azd/pkg/templates/match.go
  cli/azd/resources/resources.go
Due: eng/pipelines/release-cli.yml

add ErrorWithSuggestion
  cli/azd/cmd/cobra_builder.go
  cli/azd/pkg/tools/azcli/ad.go
Due: eng/pipelines/release-cli.yml

address lint and test
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/internal/appdetect/appdetect_test.go
  cli/azd/internal/repository/detector_live_test.go
Due: eng/pipelines/release-cli.yml

update functional test
  cli/azd/test/functional/init_test.go
Due: eng/pipelines/release-cli.yml

Fix error in publish-cli.yml
  eng/pipelines/templates/steps/publish-cli.yml
Due: none

Fix roleDefintion typo (#2560)
  templates/common/infra/bicep/core/database/cosmos/sql/cosmos-sql-db.bicep
Due: eng/pipelines/repoman.yml

play nice with existing init logic
  cli/azd/cmd/init.go
Due: eng/pipelines/release-cli.yml

add healthCheckPath to functions.bicep (#2559)
  templates/common/infra/bicep/core/host/functions.bicep
Due: eng/pipelines/repoman.yml

fix: file.Close()
  cli/azd/internal/appdetect/python.go
Due: eng/pipelines/release-cli.yml

[asker] Fix asker possibly stalling indefinitely on non-tty reads
  cli/azd/pkg/input/asker.go
Due: eng/pipelines/release-cli.yml

return io.EOF
  cli/azd/pkg/input/asker.go
Due: eng/pipelines/release-cli.yml

fix remainder tests
  cli/azd/test/functional/init_test.go
  cli/azd/test/functional/telemetry_test.go
Due: eng/pipelines/release-cli.yml

fix asker
  cli/azd/pkg/input/asker.go
Due: eng/pipelines/release-cli.yml

golangci-lint
  cli/azd/cmd/cobra_builder.go
  cli/azd/pkg/tools/azcli/ad.go
Due: eng/pipelines/release-cli.yml

remove progressDisplay
  cli/azd/cmd/build.go
  cli/azd/cmd/deploy.go
  cli/azd/cmd/package.go
  cli/azd/cmd/restore.go
  cli/azd/pkg/project/container_helper.go
  cli/azd/pkg/project/framework_service.go
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/framework_service_dotnet.go
  cli/azd/pkg/project/framework_service_dotnet_test.go
  cli/azd/pkg/project/framework_service_maven.go
  cli/azd/pkg/project/framework_service_maven_test.go
  cli/azd/pkg/project/framework_service_npm.go
  cli/azd/pkg/project/framework_service_npm_test.go
  cli/azd/pkg/project/framework_service_python.go
  cli/azd/pkg/project/framework_service_python_test.go
  cli/azd/pkg/project/service_manager.go
  cli/azd/pkg/project/service_manager_test.go
  cli/azd/pkg/project/service_target.go
  cli/azd/pkg/project/service_target_aks.go
  cli/azd/pkg/project/service_target_aks_test.go
  cli/azd/pkg/project/service_target_appservice.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/pkg/project/service_target_containerapp_test.go
  cli/azd/pkg/project/service_target_functionapp.go
  cli/azd/pkg/project/service_target_springapp.go
  cli/azd/pkg/project/service_target_staticwebapp.go
Due: eng/pipelines/release-cli.yml

fix remainder tests
  cli/azd/pkg/project/service_manager_test.go
Due: eng/pipelines/release-cli.yml

fix comment
  cli/azd/pkg/project/service_manager.go
Due: eng/pipelines/release-cli.yml

Update cognitivesevices.bicep to support new RP API (#2458)
  templates/common/infra/bicep/core/ai/cognitiveservices.bicep
Due: eng/pipelines/repoman.yml

terraform update
  templates/common/infra/terraform/core/database/postgresql/postgresql.tf
  templates/common/infra/terraform/core/database/postgresql/postgresql_output.tf
Due: eng/pipelines/repoman.yml

Fix error in publish-cli.yml (#2562)
  eng/pipelines/templates/steps/publish-cli.yml
Due: none

Fix `azd down` after a failed `azd provision`
  cli/azd/CHANGELOG.md
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/infra/provisioning/bicep/testdata/failed-subscription-deployment.json
Due: eng/pipelines/release-cli.yml

Update cli/azd/CHANGELOG.md
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

Remove extra code from merge
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
Due: eng/pipelines/release-cli.yml

WIP: Support fetching credentials from an external process
  cli/azd/pkg/auth/manager.go
  cli/azd/pkg/auth/remote_credential.go
  cli/azd/test/functional/auth_test.go
  ext/vscode/.vscode/cspell-dictionary.txt
  ext/vscode/package-lock.json
  ext/vscode/package.json
  ext/vscode/package.nls.json
  ext/vscode/src/commands/loginCli.ts
  ext/vscode/src/utils/VsCodeAuthenticationCredential.ts
  ext/vscode/src/utils/authServer.ts
  ext/vscode/src/utils/azureDevCli.ts
  ext/vscode/src/utils/executeAsTask.ts
  ext/vscode/src/utils/process.ts
Due: eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml

Add suggested action message when create service principal failed due to lack of permission (#2344)
  cli/azd/cmd/cobra_builder.go
  cli/azd/pkg/tools/azcli/ad.go
Due: eng/pipelines/release-cli.yml

promote ASA to beta feature (#2500)
  cli/azd/resources/alpha_features.yaml
Due: eng/pipelines/release-cli.yml

Have `azd login` rendezvous with external auth server
  cli/azd/cmd/auth_login.go
  cli/azd/pkg/auth/manager.go
  ext/vscode/src/utils/azureDevCli.ts
Due: eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml

use condition for registering hooks on provision
  cli/azd/cmd/root.go
Due: eng/pipelines/release-cli.yml

Don't fail deployment on failed environment substitution
  cli/azd/CHANGELOG.md
  cli/azd/pkg/tools/kubectl/kubectl.go
  cli/azd/pkg/tools/kubectl/kubectl_test.go
  cli/azd/test/testdata/k8s/config-map.yaml
Due: eng/pipelines/release-cli.yml
