Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/release-cli.yml:
  stages:
  - stage: BuildAndTest
    jobs:
    - job: BuildCLI
      strategy:
        matrix:
          Windows:
            Pool: azsdk-pool-mms-win-2022-general
            OSVmImage: MMS2022
            BuildTarget: azd-windows-amd64.exe
            BuildOutputName: azd.exe
            BuildTestMsi: true
  ...

eng/pipelines/release-vscode.yml:
  stages:
  - stage: BuildAndTest
    jobs:
    - job: BuildVscode
      strategy:
        matrix:
          Windows:
            Pool: azsdk-pool-mms-win-2022-general
            OSVmImage: MMS2022
          Linux:
            Pool: azsdk-pool-mms-ubuntu-2004-general
            OSVmImage: MMSUbuntu20.04
  ...

eng/pipelines/repoman.yml:
  stages:
  - stage: Validation
    jobs:
    - job: Generate_Repos_For_PR
      condition: "and(\n  succeeded(),\n  or(\n    eq(variables['BuildReasonOverride'], 'PullRequest'),\n    and(\n      eq('', variables['BuildReasonOverride']),\n      eq(variables['Build.Reason'], 'PullRequest')\n    )\n  )\n)"
  ...

eng/pipelines/template-tests.yml:
  jobs:
  - template: /eng/pipelines/templates/jobs/run-template-tests.yml
    parameters:
      AzdVersion: ${{ parameters.AzdVersion }}
      UseAzdVersionFromPrNumber: true
      TemplateList: ${{ parameters.TemplateList }}
      TemplateListFilter: ${{ parameters.TemplateListFilter }}
  ...

debug
  cli/azd/pkg/commands/pipeline/pipeline.go
  cli/azd/pkg/commands/pipeline/pipeline_test.go
Due: eng/pipelines/release-cli.yml

readme
  templates/common/.azdo/pipelines/README.md
  templates/todo/projects/csharp-cosmos-sql/README.md
  templates/todo/projects/csharp-sql-swa-func/README.md
  templates/todo/projects/csharp-sql/README.md
  templates/todo/projects/java-mongo-aca/README.md
  templates/todo/projects/java-mongo/README.md
  templates/todo/projects/nodejs-mongo-aca/README.md
  templates/todo/projects/nodejs-mongo-aks/README.md
  templates/todo/projects/nodejs-mongo-swa-func/README.md
  templates/todo/projects/nodejs-mongo/.repo/bicep/README.md
  templates/todo/projects/nodejs-mongo/.repo/terraform/README.md
  templates/todo/projects/python-mongo-aca/README.md
  templates/todo/projects/python-mongo-swa-func/README.md
  templates/todo/projects/python-mongo/.repo/bicep/README.md
  templates/todo/projects/python-mongo/.repo/terraform/README.md
Due: eng/pipelines/repoman.yml

Capitalize Docker in strings
  cli/azd/internal/telemetry/telemetry.go
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/service_manager.go
Due: eng/pipelines/release-cli.yml

Update template display names
  cli/azd/cmd/cmd_help.go
  cli/azd/cmd/init.go
  cli/azd/cmd/templates.go
  cli/azd/cmd/templates_test.go
  cli/azd/cmd/testdata/TestUsage-azd-init.snap
  cli/azd/cmd/testdata/TestUsage-azd-template.snap
  cli/azd/internal/repository/initializer.go
  cli/azd/internal/repository/initializer_test.go
  cli/azd/pkg/templates/path.go
  cli/azd/pkg/templates/template.go
  cli/azd/pkg/templates/template_manager.go
  cli/azd/resources/templates.json
  cli/azd/test/functional/cli_test.go
  cli/azd/test/functional/telemetry_test.go
Due: eng/pipelines/release-cli.yml

Update tests
  cli/azd/cmd/templates_test.go
  cli/azd/pkg/templates/template_manager_test.go
Due: eng/pipelines/release-cli.yml

use -c to execute push for azdo
  cli/azd/pkg/commands/pipeline/azdo_provider.go
  cli/azd/pkg/commands/pipeline/github_provider.go
  cli/azd/pkg/commands/pipeline/pipeline.go
  cli/azd/pkg/commands/pipeline/pipeline_manager.go
Due: eng/pipelines/release-cli.yml

Update `exec.environment` telemetry reporting (#2089)
  cli/azd/internal/telemetry/fields/fields.go
  cli/azd/internal/telemetry/resource/ci.go
  cli/azd/internal/telemetry/resource/exec_environment.go
  cli/azd/test/functional/telemetry_test.go
Due: eng/pipelines/release-cli.yml

Reorder choices
  cli/azd/pkg/templates/template_manager.go
  cli/azd/resources/templates.json
Due: eng/pipelines/release-cli.yml

Capitalize Docker in strings (#2092)
  cli/azd/internal/telemetry/telemetry.go
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/service_manager.go
Due: eng/pipelines/release-cli.yml

Respond to PR Feedback
  cli/azd/cmd/util_test.go
  cli/azd/pkg/azure/tags.go
  cli/azd/pkg/infra/azure_resource_manager.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/project/project_test.go
  cli/azd/pkg/project/resource_manager.go
  cli/azd/pkg/project/service_manager.go
  cli/azd/pkg/project/service_manager_test.go
Due: eng/pipelines/release-cli.yml

add test
  cli/azd/pkg/commands/pipeline/pipeline.go
  cli/azd/pkg/commands/pipeline/pipeline_test.go
Due: eng/pipelines/release-cli.yml

codespaces azdo git config azd only (#2088)
  cli/azd/pkg/azdo/utils.go
  cli/azd/pkg/commands/pipeline/azdo_provider.go
  cli/azd/pkg/commands/pipeline/github_provider.go
  cli/azd/pkg/commands/pipeline/pipeline.go
  cli/azd/pkg/commands/pipeline/pipeline_manager.go
  cli/azd/pkg/exec/command_runner.go
  cli/azd/pkg/exec/runargs.go
  cli/azd/pkg/input/console.go
Due: eng/pipelines/release-cli.yml

update readme
  templates/todo/projects/csharp-cosmos-sql/README.md
  templates/todo/projects/csharp-sql-swa-func/README.md
  templates/todo/projects/csharp-sql/README.md
  templates/todo/projects/java-mongo-aca/README.md
  templates/todo/projects/java-mongo/README.md
  templates/todo/projects/java-postgresql/README.md
  templates/todo/projects/nodejs-mongo-aca/README.md
  templates/todo/projects/nodejs-mongo-aks/README.md
  templates/todo/projects/nodejs-mongo-swa-func/README.md
  templates/todo/projects/nodejs-mongo/.repo/bicep/README.md
  templates/todo/projects/nodejs-mongo/.repo/terraform/README.md
  templates/todo/projects/python-mongo-aca/README.md
  templates/todo/projects/python-mongo-swa-func/README.md
  templates/todo/projects/python-mongo/.repo/bicep/README.md
  templates/todo/projects/python-mongo/.repo/terraform/README.md
Due: eng/pipelines/repoman.yml

add next steps section
  templates/starter/bicep/README.md
  templates/starter/terraform/README.md
Due: eng/pipelines/repoman.yml

adding "GitHub.vscode-github-actions" to devcontainers
  templates/common/.devcontainer/devcontainer.json/aks/nodejs/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/bicep-starter/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/csharp/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/java/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/java/terraform/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/nodejs/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/nodejs/terraform/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/python/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/python/terraform/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/terraform-starter/devcontainer.json
Due: eng/pipelines/repoman.yml

Add links
  templates/starter/bicep/README.md
  templates/starter/terraform/README.md
Due: eng/pipelines/repoman.yml

Use a unique deployment name when provisioning (#2077)
  cli/azd/cmd/util_test.go
  cli/azd/pkg/azure/tags.go
  cli/azd/pkg/infra/azure_resource_manager.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/infra/scope.go
  cli/azd/pkg/infra/scope_test.go
  cli/azd/pkg/project/project_test.go
  cli/azd/pkg/project/resource_manager.go
  cli/azd/pkg/project/service_manager.go
  cli/azd/pkg/project/service_manager_test.go
  cli/azd/pkg/tools/azcli/azcli.go
  cli/azd/pkg/tools/azcli/deployments.go
Due: eng/pipelines/release-cli.yml

golang lint
  cli/azd/pkg/commands/pipeline/azdo_provider.go
  cli/azd/pkg/commands/pipeline/pipeline_test.go
Due: eng/pipelines/release-cli.yml

Add doc, update vscode
  cli/azd/pkg/templates/template.go
  ext/vscode/src/commands/cmdUtil.ts
Due: eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml

update all todo application name and description on readme(#2090)
  templates/common/.azdo/pipelines/README.md
  templates/todo/projects/csharp-cosmos-sql/README.md
  templates/todo/projects/csharp-sql-swa-func/README.md
  templates/todo/projects/csharp-sql/README.md
  templates/todo/projects/java-mongo-aca/README.md
  templates/todo/projects/java-mongo/README.md
  templates/todo/projects/java-postgresql/README.md
  templates/todo/projects/nodejs-mongo-aca/README.md
  templates/todo/projects/nodejs-mongo-aks/README.md
  templates/todo/projects/nodejs-mongo-swa-func/README.md
  templates/todo/projects/nodejs-mongo/.repo/bicep/README.md
  templates/todo/projects/nodejs-mongo/.repo/terraform/README.md
  templates/todo/projects/python-mongo-aca/README.md
  templates/todo/projects/python-mongo-swa-func/README.md
  templates/todo/projects/python-mongo/.repo/bicep/README.md
  templates/todo/projects/python-mongo/.repo/terraform/README.md
Due: eng/pipelines/repoman.yml

Support Resource Group Scoped Deployments
  cli/azd/cmd/deploy.go
  cli/azd/cmd/down.go
  cli/azd/pkg/alpha/alpha_feature.go
  cli/azd/pkg/azure/arm_template.go
  cli/azd/pkg/environment/names.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/infra/provisioning/manager.go
  cli/azd/pkg/infra/provisioning/manager_test.go
  cli/azd/pkg/infra/provisioning/provider.go
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider.go
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider_test.go
  cli/azd/pkg/infra/provisioning/test/test_provider.go
  cli/azd/pkg/project/resource_manager.go
  cli/azd/resources/alpha_features.yaml
Due: eng/pipelines/release-cli.yml

Add azd installed_by pieces
  cli/azd/internal/telemetry/fields/fields.go
  cli/azd/internal/telemetry/resource/installed_by.go
  cli/azd/internal/telemetry/resource/resource.go
Due: eng/pipelines/release-cli.yml

Add choco/brew/deb/rpm .installed-by.txt logic
  cli/installer/choco/tools/chocolateyinstall.ps1
  cli/installer/fpm/installed-by-deb.txt
  cli/installer/fpm/installed-by-rpm.txt
  cli/installer/fpm/test-deb.Dockerfile
  cli/installer/fpm/test-deb.sh
  cli/installer/fpm/test-rpm.Dockerfile
  cli/installer/fpm/test-rpm.sh
  eng/scripts/New-LinuxPackages.ps1
  eng/templates/brew.template
Due: eng/pipelines/release-cli.yml

Remove .env variables in npm build
  cli/azd/pkg/project/framework_service_npm.go
  cli/azd/pkg/tools/npm/npm.go
Due: eng/pipelines/release-cli.yml

Move comments
  cli/azd/pkg/project/framework_service_npm.go
  cli/azd/pkg/tools/npm/npm.go
Due: eng/pipelines/release-cli.yml

Add changelog entry
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

correct error string message for os
  cli/azd/pkg/commands/pipeline/pipeline_test.go
Due: eng/pipelines/release-cli.yml

modify ymlExist function
  cli/azd/pkg/commands/pipeline/pipeline.go
Due: eng/pipelines/release-cli.yml

Address feedback
  cli/azd/cmd/pipeline.go
  cli/azd/cmd/testdata/TestUsage-azd-pipeline-config.snap
  cli/azd/cmd/up.go
  cli/azd/pkg/infra/provisioning/manager.go
  cli/azd/pkg/infra/provisioning/util.go
Due: eng/pipelines/release-cli.yml

Refine comments
  cli/azd/cmd/pipeline.go
  cli/azd/pkg/infra/provisioning/util.go
Due: eng/pipelines/release-cli.yml

Revert Path rename
  cli/azd/cmd/templates.go
  cli/azd/pkg/templates/template.go
  cli/azd/pkg/templates/template_manager.go
  cli/azd/pkg/templates/template_manager_test.go
  cli/azd/resources/templates.json
  ext/vscode/src/commands/cmdUtil.ts
Due: eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml

Fix missing rename
  cli/azd/pkg/templates/template.go
  cli/azd/pkg/templates/template_manager_test.go
Due: eng/pipelines/release-cli.yml

Fix omitted fiile
  cli/azd/cmd/init.go
Due: eng/pipelines/release-cli.yml

Ensure generated deployment name is not too long
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
Due: eng/pipelines/release-cli.yml

Update cli/azd/internal/telemetry/resource/installed_by.go
  cli/azd/internal/telemetry/resource/installed_by.go
Due: eng/pipelines/release-cli.yml

Add error check for yml and ssh for `azd pipeline config` (#2094)
  cli/azd/pkg/commands/pipeline/azdo_provider.go
  cli/azd/pkg/commands/pipeline/azdo_provider_test.go
  cli/azd/pkg/commands/pipeline/pipeline.go
  cli/azd/pkg/commands/pipeline/pipeline_test.go
Due: eng/pipelines/release-cli.yml

Add .installed-by.txt support to azd client and released installers (#2099)
  cli/azd/internal/telemetry/fields/fields.go
  cli/azd/internal/telemetry/resource/installed_by.go
  cli/azd/internal/telemetry/resource/resource.go
  cli/installer/choco/tools/chocolateyinstall.ps1
  cli/installer/fpm/installed-by-deb.txt
  cli/installer/fpm/installed-by-rpm.txt
  cli/installer/fpm/test-deb.Dockerfile
  cli/installer/fpm/test-deb.sh
  cli/installer/fpm/test-rpm.Dockerfile
  cli/installer/fpm/test-rpm.sh
  eng/scripts/New-LinuxPackages.ps1
  eng/templates/brew.template
Due: eng/pipelines/release-cli.yml

Remove env variable overrides in `npm build` (#2100)
  cli/azd/CHANGELOG.md
  cli/azd/pkg/project/framework_service_npm.go
  cli/azd/pkg/tools/npm/npm.go
Due: eng/pipelines/release-cli.yml

Display better names in `azd init` (#2093)
  cli/azd/cmd/cmd_help.go
  cli/azd/cmd/init.go
  cli/azd/cmd/templates.go
  cli/azd/cmd/templates_test.go
  cli/azd/cmd/testdata/TestUsage-azd-init.snap
  cli/azd/cmd/testdata/TestUsage-azd-template.snap
  cli/azd/internal/repository/initializer.go
  cli/azd/internal/repository/initializer_test.go
  cli/azd/pkg/templates/path.go
  cli/azd/pkg/templates/template.go
  cli/azd/pkg/templates/template_manager.go
  cli/azd/pkg/templates/template_manager_test.go
  cli/azd/resources/templates.json
  cli/azd/test/functional/cli_test.go
  cli/azd/test/functional/telemetry_test.go
Due: eng/pipelines/release-cli.yml

Ensure generated deployment name is not too long (#2103)
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
Due: eng/pipelines/release-cli.yml

Path conditions:
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml
  eng/pipelines/release-vscode.yml: any of: ext, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
