Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/release-cli.yml, eng/pipelines/repoman.yml

Path conditions:
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml

Fix return and add log
  cli/azd/pkg/commands/pipeline/github_provider.go
Due: eng/pipelines/release-cli.yml

check path
  eng/pipelines/template-tests.yml
Due: none

Add template test
  cli/azd/cmd/templates_test.go
Due: eng/pipelines/release-cli.yml

Push remaining
  cli/azd/cmd/templates_test.go
Due: eng/pipelines/release-cli.yml

WIP
  cli/azd/cmd/sets.go
  cli/azd/pkg/auth/cache_windows.go
  cli/azd/pkg/auth/file_cache.go
  cli/azd/pkg/auth/manager.go
  cli/azd/pkg/auth/memory_cache.go
  cli/azd/test/functional/testdata/samples/webapp/src/dotnet/webapp.csproj
  go.mod
Due: eng/pipelines/release-cli.yml

Update python-mongo
  templates/todo/common/infra/bicep/app/api-appservice-dotnet.bicep
  templates/todo/common/infra/bicep/app/api-appservice-java.bicep
  templates/todo/common/infra/bicep/app/api-appservice-node.bicep
  templates/todo/common/infra/bicep/app/api-appservice-python.bicep
  templates/todo/projects/nodejs-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo/.repo/bicep/infra/resources.bicep
  templates/todo/projects/python-mongo/.repo/bicep/repo.yaml
Due: eng/pipelines/repoman.yml

Allow name overrides, name in main, remove resources.bicep
  templates/common/infra/bicep/core/database/cosmos/cosmos-account.bicep
  templates/common/infra/bicep/core/database/cosmos/mongo/cosmos-mongo-account.bicep
  templates/common/infra/bicep/core/database/cosmos/mongo/cosmos-mongo-db.bicep
  templates/common/infra/bicep/core/host/appservice.bicep
  templates/common/infra/bicep/core/host/appserviceplan.bicep
  templates/common/infra/bicep/core/monitor/applicationinsights-dashboard.bicep
  templates/common/infra/bicep/core/monitor/applicationinsights.bicep
  templates/common/infra/bicep/core/monitor/loganalytics.bicep
  templates/common/infra/bicep/core/monitor/monitoring.bicep
  templates/common/infra/bicep/core/security/keyvault-access.bicep
  templates/common/infra/bicep/core/security/keyvault.bicep
  templates/todo/common/infra/bicep/app/api-appservice-node.bicep
  templates/todo/common/infra/bicep/app/cosmos-mongo-db.bicep
  templates/todo/common/infra/bicep/app/web-appservice.bicep
  templates/todo/projects/nodejs-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo/.repo/bicep/infra/resources.bicep
  templates/todo/projects/nodejs-mongo/.repo/bicep/repo.yaml
Due: eng/pipelines/repoman.yml

Add csharp-cosmos-sql
  templates/common/infra/bicep/core/database/cosmos/cosmos-account.bicep
  templates/common/infra/bicep/core/database/cosmos/mongo/cosmos-mongo-account.bicep
  templates/common/infra/bicep/core/database/cosmos/sql/cosmos-sql-account.bicep
  templates/common/infra/bicep/core/database/cosmos/sql/cosmos-sql-db.bicep
  templates/common/infra/bicep/core/database/cosmos/sql/cosmos-sql-role-def.bicep
  templates/todo/common/infra/bicep/app/cosmos-sql-db.bicep
  templates/todo/projects/csharp-cosmos-sql/.repo/bicep/infra/main.bicep
  templates/todo/projects/csharp-cosmos-sql/.repo/bicep/infra/resources.bicep
  templates/todo/projects/nodejs-mongo-aca/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo/.repo/bicep/infra/main.bicep
Due: eng/pipelines/repoman.yml

Add csharp-sql
  templates/common/infra/bicep/core/database/sqlserver/sqlserver.bicep
  templates/todo/common/infra/bicep/app/sqlserver.bicep
  templates/todo/projects/csharp-sql/.repo/bicep/infra/main.bicep
  templates/todo/projects/csharp-sql/.repo/bicep/infra/resources.bicep
Due: eng/pipelines/repoman.yml

Sort params
  templates/todo/projects/csharp-cosmos-sql/.repo/bicep/infra/main.bicep
  templates/todo/projects/java-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo-swa-func/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo-swa-func/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo/.repo/bicep/infra/main.bicep
Due: eng/pipelines/repoman.yml

Add rest of templates
  templates/todo/common/infra/bicep/app/web-staticwebapp.bicep
  templates/todo/projects/csharp-cosmos-sql/.repo/bicep/infra/main.bicep
  templates/todo/projects/csharp-sql-swa-func/.repo/bicep/infra/main.bicep
  templates/todo/projects/csharp-sql-swa-func/.repo/bicep/infra/resources.bicep
  templates/todo/projects/csharp-sql/.repo/bicep/infra/main.bicep
  templates/todo/projects/java-mongo-aca/.repo/bicep/infra/main.bicep
  templates/todo/projects/java-mongo-aca/.repo/bicep/infra/resources.bicep
  templates/todo/projects/java-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/java-mongo/.repo/bicep/infra/resources.bicep
  templates/todo/projects/nodejs-mongo-aca/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo-swa-func/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo-swa-func/.repo/bicep/infra/resources.bicep
  templates/todo/projects/nodejs-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo-aca/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo-aca/.repo/bicep/infra/resources.bicep
  templates/todo/projects/python-mongo-swa-func/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo-swa-func/.repo/bicep/infra/resources.bicep
  templates/todo/projects/python-mongo/.repo/bicep/infra/main.bicep
Due: eng/pipelines/repoman.yml

Update to correct api-functions
  templates/todo/projects/nodejs-mongo-swa-func/.repo/bicep/infra/main.bicep
Due: eng/pipelines/repoman.yml

Switch python to no build
  templates/todo/common/infra/bicep/app/api-appservice-python.bicep
Due: eng/pipelines/repoman.yml

Update output var names to match what azd expects
  templates/common/infra/bicep/core/host/container-app.bicep
  templates/todo/common/infra/bicep/app/api-appservice-dotnet.bicep
  templates/todo/common/infra/bicep/app/api-appservice-java.bicep
  templates/todo/common/infra/bicep/app/api-appservice-node.bicep
  templates/todo/common/infra/bicep/app/api-appservice-python.bicep
  templates/todo/common/infra/bicep/app/api-container-app.bicep
  templates/todo/common/infra/bicep/app/api-functions-dotnet-isolated.bicep
  templates/todo/common/infra/bicep/app/api-functions-node.bicep
  templates/todo/common/infra/bicep/app/api-functions-python.bicep
  templates/todo/common/infra/bicep/app/web-appservice.bicep
  templates/todo/common/infra/bicep/app/web-container-app.bicep
  templates/todo/common/infra/bicep/app/web-staticwebapp.bicep
  templates/todo/projects/csharp-cosmos-sql/.repo/bicep/infra/main.bicep
  templates/todo/projects/csharp-sql-swa-func/.repo/bicep/infra/main.bicep
  templates/todo/projects/csharp-sql/.repo/bicep/infra/main.bicep
  templates/todo/projects/java-mongo-aca/.repo/bicep/infra/main.bicep
  templates/todo/projects/java-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo-aca/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo-swa-func/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo-aca/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo-swa-func/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo/.repo/bicep/infra/main.bicep
Due: eng/pipelines/repoman.yml

Update optional parameter help text.
  templates/todo/projects/csharp-cosmos-sql/.repo/bicep/infra/main.bicep
  templates/todo/projects/csharp-sql-swa-func/.repo/bicep/infra/main.bicep
  templates/todo/projects/csharp-sql/.repo/bicep/infra/main.bicep
  templates/todo/projects/java-mongo-aca/.repo/bicep/infra/main.bicep
  templates/todo/projects/java-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo-aca/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo-swa-func/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo-aca/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo-swa-func/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo/.repo/bicep/infra/main.bicep
Due: eng/pipelines/repoman.yml

clean cmd
  eng/pipelines/template-tests.yml
Due: none

give permission
  eng/pipelines/template-tests.yml
Due: none

install azd
  eng/pipelines/template-tests.yml
Due: none

Remove todo default from main
  templates/todo/projects/csharp-cosmos-sql/.repo/bicep/infra/main.bicep
  templates/todo/projects/csharp-sql-swa-func/.repo/bicep/infra/main.bicep
  templates/todo/projects/csharp-sql/.repo/bicep/infra/main.bicep
  templates/todo/projects/java-mongo-aca/.repo/bicep/infra/main.bicep
  templates/todo/projects/java-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo-aca/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo-swa-func/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo-aca/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo-swa-func/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo/.repo/bicep/infra/main.bicep
Due: eng/pipelines/repoman.yml

Remove whitespace.
  ext/vscode/src/views/workspace/AzureDevCliApplication.ts
Due: none

try
  eng/pipelines/template-tests.yml
Due: none

Hardcode installation
  eng/pipelines/templates/steps/install-azd-live-sh.yml
Due: none

WIP
  cli/azd/cmd/logout.go
  cli/azd/cmd/root.go
  cli/azd/cmd/sets.go
  cli/azd/cmd/wire.go
  cli/azd/cmd/wire_gen.go
  cli/azd/pkg/auth/manager.go
Due: eng/pipelines/release-cli.yml

install npm
  eng/pipelines/template-tests.yml
Due: none

Use azdev container
  eng/pipelines/template-tests.yml
Due: none

WIP
  cli/azd/pkg/auth/manager.go
Due: eng/pipelines/release-cli.yml

Make sure db value is set in modules
  templates/todo/common/infra/bicep/app/cosmos-mongo-db.bicep
  templates/todo/common/infra/bicep/app/cosmos-sql-db.bicep
  templates/todo/common/infra/bicep/app/sqlserver.bicep
Due: eng/pipelines/repoman.yml

Allow template-test to run against PR
  eng/pipelines/template-tests.yml
  eng/pipelines/templates/steps/install-azd-live-sh.yml
Due: none

try default
  eng/pipelines/template-tests.yml
Due: none

try unset
  eng/pipelines/template-tests.yml
Due: none

meaningful defaults
  eng/pipelines/template-tests.yml
Due: none

Use var for defaultdbname
  templates/todo/common/infra/bicep/app/cosmos-mongo-db.bicep
  templates/todo/common/infra/bicep/app/cosmos-sql-db.bicep
  templates/todo/common/infra/bicep/app/sqlserver.bicep
Due: eng/pipelines/repoman.yml

Better descriptions
  eng/pipelines/template-tests.yml
Due: none

WIP
  cli/azd/pkg/auth/azd_credential.go
  cli/azd/pkg/auth/cache_posix.go
  cli/azd/pkg/auth/cache_windows.go
  cli/azd/pkg/auth/file_cache.go
  cli/azd/pkg/auth/manager.go
  cli/azd/pkg/auth/memory_cache.go
  cli/azd/pkg/infra/provisioning/provisioning_progress_display.go
Due: eng/pipelines/release-cli.yml

switch variable syntax
  eng/pipelines/template-tests.yml
Due: none

test
  templates/todo/api/java/README.md
Due: eng/pipelines/repoman.yml

npm install
  eng/pipelines/template-tests.yml
Due: none

Move install logic
  eng/pipelines/template-tests.yml
  eng/pipelines/templates/steps/install-azd-live-sh.yml
Due: none
