Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/release-cli.yml:
  stages:
  - stage: BuildAndTest
    jobs:
    - job: BuildCLI
      strategy:
        matrix:
          Windows:
            Pool: azsdk-pool-mms-win-2022-general
            OSVmImage: MMS2022
            BuildTarget: azd-windows-amd64.exe
            BuildOutputName: azd.exe
            BuildTestMsi: true
  ...

eng/pipelines/release-vscode.yml:
  stages:
  - stage: BuildAndTest
    jobs:
    - job: BuildVscode
      strategy:
        matrix:
          Windows:
            Pool: azsdk-pool-mms-win-2022-general
            OSVmImage: MMS2022
          Linux:
            Pool: azsdk-pool-mms-ubuntu-2004-general
            OSVmImage: MMSUbuntu20.04
  ...

eng/pipelines/repoman.yml:
  stages:
  - stage: Validation
    jobs:
    - job: Generate_Repos_For_PR
      condition: "and(\n  succeeded(),\n  or(\n    eq(variables['BuildReasonOverride'], 'PullRequest'),\n    and(\n      eq('', variables['BuildReasonOverride']),\n      eq(variables['Build.Reason'], 'PullRequest')\n    )\n  )\n)"
  ...

eng/pipelines/template-tests.yml:
  jobs:
  - template: /eng/pipelines/templates/jobs/run-template-tests.yml
    parameters:
      AzdVersion: ${{ parameters.AzdVersion }}
      UseAzdVersionFromPrNumber: true
      TemplateList: ${{ parameters.TemplateList }}
      TemplateListFilter: ${{ parameters.TemplateListFilter }}
  ...

Revert "Fix terraform tests"
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider_test.go
Due: eng/pipelines/release-cli.yml

Undo terraform change
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider.go
Due: eng/pipelines/release-cli.yml

undo terraform test change
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider_test.go
Due: eng/pipelines/release-cli.yml

Add infra folder to minimal template (#2113)
  cli/azd/internal/repository/initializer.go
  cli/azd/internal/repository/initializer_test.go
  cli/azd/pkg/environment/azdcontext/azdcontext.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/project/project.go
  cli/azd/resources/minimal/main.bicep
  cli/azd/resources/minimal/main.parameters.json
  cli/azd/resources/resources.go
  cli/azd/test/functional/cli_test.go
  cli/azd/test/functional/init_test.go
  cli/azd/test/functional/telemetry_test.go
Due: eng/pipelines/release-cli.yml

Fix name logic in CI. Make default test list configurable
  eng/pipelines/template-tests.yml
  eng/pipelines/templates/steps/template-test-run-job.yml
  eng/scripts/Set-TemplateTestMatrixVariable.ps1
  templates/tests/test-templates.sh
Due: eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Rename to 'all'
  eng/pipelines/template-tests.yml
  eng/pipelines/templates/jobs/run-template-tests.yml
  eng/pipelines/templates/steps/template-test-generate-jobs.yml
  eng/scripts/Set-TemplateTestMatrixVariable.ps1
Due: eng/pipelines/template-tests.yml

update doc
  eng/pipelines/template-tests.yml
  eng/pipelines/templates/jobs/run-template-tests.yml
  eng/pipelines/templates/steps/template-test-generate-jobs.yml
Due: eng/pipelines/template-tests.yml

add workaround for starter
  templates/tests/test-templates.sh
Due: eng/pipelines/repoman.yml

Fix maven test failing when not installed (#2115)
  cli/azd/pkg/tools/maven/maven_test.go
Due: eng/pipelines/release-cli.yml

Fix template tests (#2114)
  eng/pipelines/template-tests.yml
  eng/pipelines/templates/jobs/run-template-tests.yml
  eng/pipelines/templates/steps/template-test-generate-jobs.yml
  eng/pipelines/templates/steps/template-test-run-job.yml
  eng/scripts/Set-TemplateTestMatrixVariable.ps1
  templates/tests/test-templates.sh
Due: eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Bump `@microsoft/vscode-azext-utils` dependency
  ext/vscode/package-lock.json
  ext/vscode/package.json
Due: eng/pipelines/release-vscode.yml

Fix webpacking
  ext/vscode/webpack.config.js
Due: eng/pipelines/release-vscode.yml

Fix webpack again
  ext/vscode/webpack.config.js
Due: eng/pipelines/release-vscode.yml

Add ms correlation policy
  cli/azd/pkg/azsdk/ms_correlation_policy.go
  cli/azd/pkg/azsdk/ms_correlation_policy_test.go
Due: eng/pipelines/release-cli.yml

Cleanup
  ext/vscode/package-lock.json
  ext/vscode/package.json
  ext/vscode/webpack.config.js
Due: eng/pipelines/release-vscode.yml

Add schema to validate azure.yaml
  ext/vscode/package.json
Due: eng/pipelines/release-vscode.yml

Save me from myself
  ext/vscode/.vscode/settings.json
Due: eng/pipelines/release-vscode.yml

Add uptake
  cli/azd/pkg/azsdk/ms_correlation_policy_test.go
  cli/azd/pkg/tools/azcli/azcli.go
  cli/azd/pkg/tools/azcli/container_registry.go
  cli/azd/pkg/tools/azcli/managed_clusters.go
  cli/azd/pkg/tools/azcli/spring_app.go
  cli/azd/pkg/tools/azcli/user_profile.go
Due: eng/pipelines/release-cli.yml

Better naming and comments
  cli/azd/pkg/azsdk/ms_correlation_policy.go
  cli/azd/pkg/azsdk/ms_correlation_policy_test.go
Due: eng/pipelines/release-cli.yml

Bump `@microsoft/vscode-azext-utils` dependency (#2121)
  ext/vscode/package-lock.json
  ext/vscode/package.json
  ext/vscode/webpack.config.js
Due: eng/pipelines/release-vscode.yml

Add YAML validation contribution point (#2122)
  ext/vscode/.vscode/settings.json
  ext/vscode/package.json
Due: eng/pipelines/release-vscode.yml

refactor for msgraph
  cli/azd/pkg/azsdk/ms_correlation_policy.go
  cli/azd/pkg/tools/azcli/user_profile.go
Due: eng/pipelines/release-cli.yml

Adds support to set github variables in addition to secrets
  cli/azd/pkg/commands/pipeline/github_provider.go
  cli/azd/pkg/output/ux/created_repo_secret.go
  cli/azd/pkg/output/ux/created_repo_variable.go
  cli/azd/pkg/tools/github/github.go
Due: eng/pipelines/release-cli.yml

Renames to 'created_repo_value'
  cli/azd/pkg/commands/pipeline/github_provider.go
  cli/azd/pkg/output/ux/created_repo_value.go
Due: eng/pipelines/release-cli.yml

Updates ACA to perform a preprovision check to see azd environment
  cli/azd/cmd/provision.go
  cli/azd/pkg/ext/event_dispatcher.go
  cli/azd/pkg/project/service_config_test.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/pkg/project/service_target_containerapp_test.go
Due: eng/pipelines/release-cli.yml

Fixes unit tests
  cli/azd/pkg/project/project_config_test.go
Due: eng/pipelines/release-cli.yml

Updates azd env var to 'SERVICE_XXX_RESOURCE_EXISTS'
  cli/azd/pkg/project/service_target_containerapp.go
Due: eng/pipelines/release-cli.yml

rename file
  cli/azd/pkg/azsdk/correlation_policy.go
  cli/azd/pkg/azsdk/correlation_policy_test.go
Due: eng/pipelines/release-cli.yml

Update DefaultClientOptionsBuilder
  cli/azd/pkg/azsdk/azsdk.go
  cli/azd/pkg/azsdk/client_options_builder.go
  cli/azd/pkg/containerapps/container_app.go
Due: eng/pipelines/release-cli.yml

Updates error messages
  cli/azd/pkg/commands/pipeline/github_provider.go
Due: eng/pipelines/release-cli.yml

Add trace ID printout
  cli/azd/cmd/actions/action.go
  cli/azd/cmd/cobra_builder.go
  cli/azd/cmd/middleware/telemetry.go
  cli/azd/pkg/tools/azcli/azure_deployment_error.go
  cli/azd/pkg/tools/azcli/azure_deployment_error_test.go
  cli/azd/pkg/tools/azcli/deployments.go
  cli/azd/pkg/tools/azcli/samples/arm_sample_error_01.json
  cli/azd/pkg/tools/azcli/samples/arm_sample_error_01.txt
  cli/azd/pkg/tools/azcli/samples/arm_sample_error_02.json
  cli/azd/pkg/tools/azcli/samples/arm_sample_error_02.txt
  cli/azd/pkg/tools/azcli/samples/arm_sample_error_03.json
  cli/azd/pkg/tools/azcli/samples/arm_sample_error_03.txt
  cli/azd/pkg/tools/azcli/samples/arm_sample_error_04.json
  cli/azd/pkg/tools/azcli/samples/arm_sample_error_04.txt
Due: eng/pipelines/release-cli.yml

ACA preprovision check to seed azd environment (#2052)
  cli/azd/cmd/provision.go
  cli/azd/pkg/ext/event_dispatcher.go
  cli/azd/pkg/project/project_config_test.go
  cli/azd/pkg/project/service_config_test.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/pkg/project/service_target_containerapp_test.go
Due: eng/pipelines/release-cli.yml

Add TraceID to printout
  cli/azd/cmd/actions/action.go
  cli/azd/cmd/cobra_builder.go
  cli/azd/cmd/middleware/middleware.go
  cli/azd/cmd/middleware/telemetry.go
Due: eng/pipelines/release-cli.yml

Respond to PR Feedback
  cli/azd/cmd/deploy.go
  cli/azd/pkg/alpha/alpha_feature.go
  cli/azd/pkg/azure/arm_template.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/provider.go
  cli/azd/pkg/input/console.go
  cli/azd/test/mocks/mockinput/mock_console.go
Due: eng/pipelines/release-cli.yml

Adds support to set github variables in addition to secrets (#2125)
  cli/azd/pkg/commands/pipeline/github_provider.go
  cli/azd/pkg/output/ux/created_repo_secret.go
  cli/azd/pkg/output/ux/created_repo_value.go
  cli/azd/pkg/tools/github/github.go
Due: eng/pipelines/release-cli.yml

Fix comment
  cli/azd/pkg/azsdk/client_options_builder.go
Due: eng/pipelines/release-cli.yml

adding "GitHub.vscode-github-actions" to devcontainers (#2095)
  templates/common/.devcontainer/devcontainer.json/aks/nodejs/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/bicep-starter/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/csharp/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/java/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/java/terraform/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/nodejs/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/nodejs/terraform/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/python/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/python/terraform/devcontainer.json
  templates/common/.devcontainer/devcontainer.json/terraform-starter/devcontainer.json
Due: eng/pipelines/repoman.yml

Updates name to more unique guid
  templates/common/infra/bicep/core/security/registry-access.bicep
Due: eng/pipelines/repoman.yml

Address feedback
  cli/azd/cmd/cobra_builder.go
  cli/azd/cmd/middleware/telemetry.go
Due: eng/pipelines/release-cli.yml

Add Test
  cli/azd/.vscode/launch.json
  cli/azd/pkg/alpha/alpha_feature_manager.go
  cli/azd/pkg/azure/arm_template.go
  cli/azd/test/functional/testdata/samples/storage-rg/azure.yaml
  cli/azd/test/functional/testdata/samples/storage-rg/infra/main.bicep
  cli/azd/test/functional/testdata/samples/storage-rg/infra/main.parameters.json
  cli/azd/test/functional/up_test.go
Due: eng/pipelines/release-cli.yml

Path conditions:
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml
  eng/pipelines/release-vscode.yml: any of: ext, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
