Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/release-cli.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/release-cli.yml:
  stages:
  - stage: BuildAndTest
    jobs:
    - job: BuildCLI
      strategy:
        matrix:
          Windows:
            Pool: azsdk-pool-mms-win-2019-general
            OSVmImage: MMS2019
            BuildTarget: azd-windows-amd64.exe
            BuildOutputName: azd.exe
            BuildTestMsi: true
  ...

eng/pipelines/repoman.yml:
  stages:
  - stage: Validation
    jobs:
    - job: Generate_Repos_For_PR
      condition: "and(\n  succeeded(),\n  or(\n    eq(variables['BuildReasonOverride'], 'PullRequest'),\n    and(\n      eq('', variables['BuildReasonOverride']),\n      eq(variables['Build.Reason'], 'PullRequest')\n    )\n  )\n)"
  ...

eng/pipelines/template-tests.yml:
  jobs:
  - template: /eng/pipelines/templates/jobs/run-template-tests.yml
    parameters:
      AzdVersion: ${{ parameters.AzdVersion }}
      UseAzdVersionFromPrNumber: true
      TemplateList: ${{ parameters.TemplateList }}
      TemplateListFilter: ${{ parameters.TemplateListFilter }}
  ...

Condition on az-login
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Update cli/azd/CHANGELOG.md
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

Remove testing
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Increment CLI version after release (#1376)
  cli/azd/CHANGELOG.md
  cli/version.txt
Due: eng/pipelines/release-cli.yml

wip
  cli/azd/pkg/commands/pipeline/pipeline.go
Due: eng/pipelines/release-cli.yml

wip
  cli/azd/cmd/pipeline.go
Due: eng/pipelines/release-cli.yml

Remove trailing whitespace in sqlserver.bicep (#1378)
  templates/common/infra/bicep/core/database/sqlserver/sqlserver.bicep
Due: eng/pipelines/repoman.yml

add AZD_DEBUG_FORCE_NO_TTY
  cli/azd/pkg/input/console.go
  eng/pipelines/templates/steps/template-test-run-job.yml
Due: eng/pipelines/release-cli.yml

Fix `azd up --template` so it can initialize a new project
  cli/azd/cmd/deploy.go
  cli/azd/cmd/infra_create.go
  cli/azd/test/functional/cli_test.go
Due: eng/pipelines/release-cli.yml

Prepare for release
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

Update CHANGELOG.md
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

s/issues/pull/
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

Install script sign artifacts (#1387)
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Fix `azd up --template` so it can initialize a new project (#1394)
  cli/azd/CHANGELOG.md
  cli/azd/cmd/deploy.go
  cli/azd/cmd/infra_create.go
  cli/azd/test/functional/cli_test.go
Due: eng/pipelines/release-cli.yml

wip
  cli/azd/internal/repository/initializer.go
  cli/azd/pkg/commands/pipeline/azdo_provider.go
  cli/azd/pkg/commands/pipeline/github_provider.go
  cli/azd/pkg/commands/pipeline/pipeline_manager.go
  cli/azd/pkg/contracts/envelope.go
  cli/azd/pkg/output/ux/warning.go
Due: eng/pipelines/release-cli.yml

Increment CLI version after release
  cli/azd/CHANGELOG.md
  cli/version.txt
Due: eng/pipelines/release-cli.yml

APIM configuration to connect app
  templates/todo/common/infra/bicep/app/apim-api.bicep
  templates/todo/projects/csharp-cosmos-sql/.repo/bicep/infra/main.bicep
  templates/todo/projects/csharp-sql-swa-func/.repo/bicep/infra/main.bicep
  templates/todo/projects/csharp-sql/.repo/bicep/infra/main.bicep
  templates/todo/projects/java-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo-swa-func/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo-swa-func/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo/.repo/bicep/infra/main.bicep
Due: eng/pipelines/repoman.yml

Revert unintended change
  templates/todo/common/infra/bicep/app/apim-api.bicep
Due: eng/pipelines/repoman.yml

add AZD_DEBUG_FORCE_NO_TTY to console package
  cli/azd/pkg/input/console.go
Due: eng/pipelines/release-cli.yml

Add ftpsState as a param to App Service module (#1345)
  templates/common/infra/bicep/core/host/appservice.bicep
Due: eng/pipelines/repoman.yml

wip
  cli/azd/pkg/azdo/utils.go
  cli/azd/pkg/commands/pipeline/azdo_provider.go
  cli/azd/pkg/commands/pipeline/github_provider.go
  cli/azd/pkg/commands/pipeline/pipeline.go
  cli/azd/pkg/commands/pipeline/pipeline_manager.go
  cli/azd/pkg/input/console.go
  cli/azd/pkg/output/ux/warning.go
Due: eng/pipelines/release-cli.yml

wip
  cli/azd/pkg/azdo/service_connection.go
  cli/azd/pkg/commands/pipeline/azdo_provider.go
  cli/azd/pkg/commands/pipeline/github_provider.go
  cli/azd/pkg/commands/pipeline/pipeline_manager.go
  cli/azd/pkg/output/ux/created_repo_secret.go
Due: eng/pipelines/release-cli.yml

wip
  cli/azd/pkg/commands/pipeline/pipeline_manager.go
  cli/azd/pkg/tools/git/git.go
Due: eng/pipelines/release-cli.yml

Pin DockerInstaller so builds succeed
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Comments
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Factor out `getResults` method for environment listing
  ext/vscode/src/telemetry/telemetryId.ts
  ext/vscode/src/views/workspace/AzureDevCliEnvironments.ts
Due: none

Pin DockerInstaller task (#1408)
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Adds action middleware concepts for extensibility spike (#1117)
  .vscode/cspell.global.yaml
  cli/azd/pkg/environment/environment.go
  cli/azd/pkg/ext/hooks.go
  cli/azd/pkg/ext/hooks_test.go
  cli/azd/pkg/ext/models.go
  cli/azd/pkg/project/project_config.go
  cli/azd/pkg/project/service.go
  cli/azd/pkg/project/service_config.go
  cli/azd/pkg/project/service_test.go
  cli/azd/pkg/tools/bash/bash.go
  cli/azd/pkg/tools/bash/bash_test.go
  cli/azd/pkg/tools/powershell/powershell.go
  cli/azd/pkg/tools/powershell/powershell_test.go
  cli/azd/pkg/tools/script.go
Due: eng/pipelines/release-cli.yml

Removes project/service updates
  cli/azd/pkg/project/project_config.go
  cli/azd/pkg/project/service.go
  cli/azd/pkg/project/service_config.go
  cli/azd/pkg/project/service_test.go
Due: eng/pipelines/release-cli.yml

Adds more script config validations
  cli/azd/pkg/ext/hooks.go
  cli/azd/pkg/ext/hooks_test.go
  cli/azd/pkg/ext/models.go
  cli/azd/pkg/project/framework_service_npm.go
Due: eng/pipelines/release-cli.yml

Updates long lines
  cli/azd/pkg/ext/hooks.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
Due: eng/pipelines/release-cli.yml

Splits out reading script configurations from executing them
  cli/azd/pkg/ext/hooks.go
  cli/azd/pkg/ext/hooks_manager.go
  cli/azd/pkg/ext/hooks_manager_test.go
  cli/azd/pkg/ext/hooks_runner.go
  cli/azd/pkg/ext/hooks_runner_test.go
  cli/azd/pkg/ext/models.go
Due: eng/pipelines/release-cli.yml

test
  cli/azd/pkg/ext/hooks.go
  cli/azd/pkg/ext/hooks_manager.go
  cli/azd/pkg/ext/hooks_runner.go
  cli/azd/pkg/ext/hooks_test.go
Due: eng/pipelines/release-cli.yml

Updates spelling linter
  .vscode/cspell.global.yaml
Due: none

Begin scaffolding reveal methods
  ext/vscode/src/commands/azureWorkspace/reveal.ts
  ext/vscode/src/commands/azureWorkspace/wizard/PickEnvironmentStep.ts
  ext/vscode/src/commands/azureWorkspace/wizard/PickResourceGroupStep.ts
  ext/vscode/src/commands/azureWorkspace/wizard/PickResourceStep.ts
  ext/vscode/src/commands/azureWorkspace/wizard/RevealStep.ts
  ext/vscode/src/commands/azureWorkspace/wizard/SkipIfOneStep.ts
  ext/vscode/src/utils/getAzureResourceExtensionApi.ts
  ext/vscode/src/views/workspace/scheduleRegisterWorkspaceComponents.ts
Due: none

Factor out providers of show results / env list
  ext/vscode/src/services/AzureDevEnvListProvider.ts
  ext/vscode/src/services/AzureDevShowProvider.ts
  ext/vscode/src/views/workspace/AzureDevCliApplication.ts
  ext/vscode/src/views/workspace/AzureDevCliEnvironments.ts
  ext/vscode/src/views/workspace/AzureDevCliWorkspaceResourceBranchDataProvider.ts
Due: none

Use common provider code to find picks
  ext/vscode/src/commands/azureWorkspace/reveal.ts
  ext/vscode/src/commands/azureWorkspace/wizard/PickEnvironmentStep.ts
  ext/vscode/src/commands/azureWorkspace/wizard/PickResourceGroupStep.ts
  ext/vscode/src/commands/azureWorkspace/wizard/PickResourceStep.ts
  ext/vscode/src/utils/parseAzureResourceId.ts
Due: none

Set up release steps for publishing
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Update dependency
  ext/vscode/package-lock.json
  ext/vscode/package.json
  ext/vscode/src/views/workspace/AzureDevCliWorkspaceResourceProvider.ts
Due: none

Path conditions:
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
