Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/release-cli.yml, eng/pipelines/repoman.yml

eng/pipelines/release-cli.yml:
  stages:
  - stage: BuildAndTest
    jobs:
    - job: BuildCLI
      strategy:
        matrix:
          Windows:
            Pool: azsdk-pool-mms-win-2019-general
            OSVmImage: MMS2019
            BuildTarget: azd-windows-amd64.exe
            BuildOutputName: azd.exe
            AZURE_DEV_CI_OS: win
  ...

eng/pipelines/repoman.yml:
  jobs:
  - job: Generate_Repos
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - checkout: self
    - task: NodeTool@0
      inputs:
        versionSpec: 16
  ...

Update cli-app image
  cli/Dockerfile
Due: eng/pipelines/release-cli.yml

Enable telemetry for prod (#785)
  cli/azd/internal/telemetry/appinsights-exporter/endpoint_config.go
  cli/azd/internal/telemetry/appinsights-exporter/endpoint_config_test.go
  cli/azd/internal/telemetry/telemetry.go
  cli/azd/internal/telemetry/telemetry_context.go
  cli/azd/internal/telemetry/telemetry_test.go
  cli/azd/internal/version.go
Due: eng/pipelines/release-cli.yml

Print Azure deployment link only when deployment has started (#795)
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/infra/provisioning/provisioning_progress_display.go
  cli/azd/pkg/infra/provisioning/provisioning_progress_display_test.go
Due: eng/pipelines/release-cli.yml

Add installer telemetry and testing
  cli/installer/install-azd-report.sh
  cli/installer/install-azd.ps1
  cli/installer/install-azd.sh
  cli/installer/telemetry/linux.sh.telemetry.csv
  cli/installer/telemetry/linux.telemetry.json
  cli/installer/telemetry/macos11.sh.telemetry.csv
  cli/installer/telemetry/macos11.telemetry.json
  cli/installer/telemetry/macos12.sh.telemetry.csv
  cli/installer/telemetry/macos12.telemetry.json
  cli/installer/telemetry/windows.powershell.telemetry.json
  cli/installer/telemetry/windows.pwsh.telemetry.json
  cli/installer/test-installer-containers.ps1
  cli/installer/test-pwsh-xplat-install.ps1
  cli/installer/test-telemetry-functions.ps1
  cli/installer/test-telemetry-functions.sh
  cli/installer/test-win-install.ps1
  cli/installer/test-windows-install.cmd
  cli/installer/test-windows-uninstall.cmd
  cli/installer/test/Dockerfile.alpine
  cli/installer/test/Dockerfile.alpine.pwsh
  cli/installer/test/Dockerfile.centos
  cli/installer/test/Dockerfile.debian
  cli/installer/test/Dockerfile.debian.pwsh
  cli/installer/test/Dockerfile.fedora
  cli/installer/test/Dockerfile.ubuntu
  cli/installer/test/Dockerfile.ubuntu.pwsh
  cli/installer/test/telemetry/alpine.pwsh.telemetry.json
  cli/installer/test/telemetry/alpine.sh.telemetry.csv
  cli/installer/test/telemetry/centos.sh.telemetry.csv
  cli/installer/test/telemetry/debian.pwsh.telemetry.json
  cli/installer/test/telemetry/debian.sh.telemetry.csv
  cli/installer/test/telemetry/fedora.sh.telemetry.csv
  cli/installer/test/telemetry/ubuntu.pwsh.telemetry.json
  cli/installer/test/telemetry/ubuntu.sh.telemetry.csv
  eng/pipelines/release-cli.yml
  eng/pipelines/templates/steps/install-bicep.yml
  eng/pipelines/templates/steps/publish-cli.yml
Due: eng/pipelines/release-cli.yml

linter
  cli/azd/pkg/azdo/profile.go
  cli/azd/pkg/azdo/utils.go
Due: eng/pipelines/release-cli.yml

Add installer telemetry and testing (#801)
  cli/installer/install-azd-report.sh
  cli/installer/install-azd.ps1
  cli/installer/install-azd.sh
  cli/installer/telemetry/linux.sh.telemetry.csv
  cli/installer/telemetry/linux.telemetry.json
  cli/installer/telemetry/macos11.sh.telemetry.csv
  cli/installer/telemetry/macos11.telemetry.json
  cli/installer/telemetry/macos12.sh.telemetry.csv
  cli/installer/telemetry/macos12.telemetry.json
  cli/installer/telemetry/windows.powershell.telemetry.json
  cli/installer/telemetry/windows.pwsh.telemetry.json
  cli/installer/test-installer-containers.ps1
  cli/installer/test-pwsh-xplat-install.ps1
  cli/installer/test-telemetry-functions.ps1
  cli/installer/test-telemetry-functions.sh
  cli/installer/test-win-install.ps1
  cli/installer/test-windows-install.cmd
  cli/installer/test-windows-uninstall.cmd
  cli/installer/test/Dockerfile.alpine
  cli/installer/test/Dockerfile.alpine.pwsh
  cli/installer/test/Dockerfile.centos
  cli/installer/test/Dockerfile.debian
  cli/installer/test/Dockerfile.debian.pwsh
  cli/installer/test/Dockerfile.fedora
  cli/installer/test/Dockerfile.ubuntu
  cli/installer/test/Dockerfile.ubuntu.pwsh
  cli/installer/test/telemetry/alpine.pwsh.telemetry.json
  cli/installer/test/telemetry/alpine.sh.telemetry.csv
  cli/installer/test/telemetry/centos.sh.telemetry.csv
  cli/installer/test/telemetry/debian.pwsh.telemetry.json
  cli/installer/test/telemetry/debian.sh.telemetry.csv
  cli/installer/test/telemetry/fedora.sh.telemetry.csv
  cli/installer/test/telemetry/ubuntu.pwsh.telemetry.json
  cli/installer/test/telemetry/ubuntu.sh.telemetry.csv
  eng/pipelines/release-cli.yml
  eng/pipelines/templates/steps/install-bicep.yml
  eng/pipelines/templates/steps/publish-cli.yml
Due: eng/pipelines/release-cli.yml

reduce parsing
  cli/azd/pkg/azdo/utils.go
Due: eng/pipelines/release-cli.yml

Switch up to new design
  cli/azd/cmd/deploy.go
  cli/azd/cmd/infra.go
  cli/azd/cmd/infra_create.go
  cli/azd/cmd/init.go
  cli/azd/cmd/provision.go
  cli/azd/cmd/root.go
  cli/azd/cmd/sets.go
  cli/azd/cmd/up.go
  cli/azd/cmd/wire.go
  cli/azd/cmd/wire_gen.go
  cli/azd/pkg/action/action.go
  cli/azd/pkg/output/parameter.go
  cli/azd/pkg/tools/git/git.go
Due: eng/pipelines/release-cli.yml

Add `name` property to JSON output for `show`
  cli/azd/cmd/models/show.go
  cli/azd/cmd/show.go
Due: eng/pipelines/release-cli.yml

remove poc
  azd-wired/cmd/actions/deploy.go
  azd-wired/cmd/actions/init.go
  azd-wired/cmd/actions/up.go
  azd-wired/cmd/deploy.go
  azd-wired/cmd/init.go
  azd-wired/cmd/root.go
  azd-wired/cmd/up.go
  azd-wired/cmd/wire.go
  azd-wired/cmd/wire_gen.go
  azd-wired/go.mod
  azd-wired/go.sum
  azd-wired/main.go
  azd-wired/pkg/action/action.go
  azd-wired/pkg/azddir/azddir.go
Due: none

Update go.mod and go.sum
  go.mod
  go.sum
Due: eng/pipelines/release-cli.yml

use 3 retries for pushing code (#796)
  cli/azd/pkg/commands/pipeline/pipeline_manager.go
Due: eng/pipelines/release-cli.yml

Fix errors and cleanup
  cli/azd/cmd/action/action.go
  cli/azd/cmd/deploy.go
  cli/azd/cmd/infra_create.go
  cli/azd/cmd/init.go
  cli/azd/cmd/root.go
  cli/azd/cmd/sets.go
  cli/azd/cmd/wire_gen.go
  cli/azd/pkg/output/parameter.go
  cli/azd/pkg/tools/git/git.go
Due: eng/pipelines/release-cli.yml

Rename `models` package to `contracts`
  cli/azd/cmd/contracts/show.go
  cli/azd/cmd/show.go
Due: eng/pipelines/release-cli.yml

removes missing Service Attention label condition
  .github/fabricbot.json
Due: none

setting up automation for github repo (#665)
  .github/fabricbot.json
Due: none

update azdo references to DevOps
  cli/azd/pkg/azdo/project.go
  cli/azd/pkg/commands/pipeline/azdo_provider.go
Due: eng/pipelines/release-cli.yml

Update infra delete
  cli/azd/cmd/down.go
  cli/azd/cmd/infra.go
  cli/azd/cmd/infra_delete.go
  cli/azd/cmd/root.go
  cli/azd/cmd/sets.go
  cli/azd/cmd/wire.go
  cli/azd/cmd/wire_gen.go
Due: eng/pipelines/release-cli.yml

Upgrade dependencies
  templates/todo/api/java/pom.xml
Due: eng/pipelines/repoman.yml

address pr comments
  templates/common/infra/terraform/core/host/appservice/appservicenode/appservicenode_output.tf
  templates/common/infra/terraform/core/host/appservice/appservicepython/appservicepython_output.tf
  templates/common/infra/terraform/core/keyvault/keyvault.tf
  templates/common/infra/terraform/core/keyvault/keyvault_output.tf
  templates/common/infra/terraform/core/keyvault/keyvault_variables.tf
  templates/common/infra/terraform/core/security/keyvault/keyvault.tf
  templates/common/infra/terraform/core/security/keyvault/keyvault_output.tf
  templates/common/infra/terraform/core/security/keyvault/keyvault_variables.tf
  templates/todo/projects/nodejs-mongo/.repo/terraform/infra/main.tf
  templates/todo/projects/nodejs-mongo/.repo/terraform/infra/output.tf
  templates/todo/projects/python-mongo/.repo/terraform/infra/main.tf
  templates/todo/projects/python-mongo/.repo/terraform/infra/output.tf
  templates/todo/projects/python-mongo/.repo/terraform/repo.yaml
Due: eng/pipelines/repoman.yml

update modejs repo.yaml
  templates/todo/projects/nodejs-mongo/.repo/terraform/repo.yaml
Due: eng/pipelines/repoman.yml

Progress
  eng/pipelines/release-cli.yml
  eng/scripts/Update-VscodeExtensionVersion.ps1
Due: eng/pipelines/release-cli.yml

Import required parts of eng/common
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Helpers/git-helpers.ps1
  eng/common/scripts/Invoke-DevOpsAPI.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/SemVer.ps1
  eng/common/scripts/Update-ChangeLog.ps1
  eng/common/scripts/Verify-ChangeLog.ps1
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/common.ps1
  eng/common/scripts/git-helpers.ps1
  eng/common/scripts/logging.ps1
Due: none

Update CLI version and changelog
  eng/scripts/Update-CliVersion.ps1
  eng/scripts/tests/Update-CliVersion.constants.ps1
  eng/scripts/tests/Update-CliVersion.tests.ps1
Due: none

Add eng/common assets
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/git-push-changes.yml
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/git-branch-push.ps1
Due: none

Add vscode extension updating
  eng/pipelines/release-vscode.yml
  eng/scripts/Update-CliVersion.ps1
  eng/scripts/Update-VscodeExtensionVersion.Tests.ps1
  eng/scripts/Update-VscodeExtensionVersion.ps1
Due: none

Review feedback
  eng/scripts/Update-CliVersion.ps1
  eng/scripts/tests/Update-CliVersion.tests.ps1
Due: none

Parameters
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Disable publishing in code for safety
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Use existing create-pull-request.yml
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Migrate CHANGELOG.md to use conventional titles
  ext/vscode/CHANGELOG.md
Due: none

Increment VSCode Extesnion version after release
  ext/vscode/CHANGELOG.md
  ext/vscode/package.json
Due: none

reorder cleanup
  cli/Dockerfile
Due: eng/pipelines/release-cli.yml

Update changelog
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

bump version
  cli/version.txt
Due: eng/pipelines/release-cli.yml

reword
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

fix terraform provider test
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider_test.go
Due: eng/pipelines/release-cli.yml

Update changelog (#816)
  cli/azd/CHANGELOG.md
  cli/version.txt
Due: eng/pipelines/release-cli.yml

bump version
  cli/azd/CHANGELOG.md
  cli/version.txt
Due: eng/pipelines/release-cli.yml

Path conditions:
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
