Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

Path conditions:
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml
  eng/pipelines/release-vscode.yml: any of: ext, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml

More logging
  cli/installer/windows/test-win-msi.ps1
Due: eng/pipelines/release-cli.yml

decouple from entrypoint
  templates/todo/web/react-fluent/Dockerfile
  templates/todo/web/react-fluent/entrypoint.sh
  templates/todo/web/react-fluent/gen-env-config.js
  templates/todo/web/react-fluent/package.json
  templates/todo/web/react-fluent/src/config/index.ts
Due: eng/pipelines/repoman.yml

remove build injection
  cli/azd/pkg/project/framework_service_npm.go
Due: eng/pipelines/release-cli.yml

add hooks
  templates/todo/projects/csharp-sql-swa-func/.repo/bicep/azure.yaml
  templates/todo/projects/nodejs-mongo-swa-func/.repo/bicep/azure.yaml
  templates/todo/projects/python-mongo-swa-func/.repo/bicep/azure.yaml
Due: eng/pipelines/repoman.yml

Disable telemetry during MSI test (#1830)
  cli/installer/windows/test-win-msi.ps1
  eng/pipelines/release-cli.yml
Due: eng/pipelines/release-cli.yml

Try settings append
  templates/common/infra/bicep/core/host/appservice-appsettings-append.bicep
  templates/common/infra/bicep/core/host/appservice-appsettings.bicep
  templates/todo/projects/csharp-sql/.repo/bicep/infra/main.bicep
  templates/todo/projects/java-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo/.repo/bicep/infra/main.bicep
Due: eng/pipelines/repoman.yml

Fix yaml pipeline
  eng/pipelines/templates/steps/template-test-run-job.yml
Due: none

Reorder azd commands / new package command (#1775)
  cli/azd/cmd/build.go
  cli/azd/cmd/container.go
  cli/azd/cmd/deploy.go
  cli/azd/cmd/middleware/middleware.go
  cli/azd/cmd/package.go
  cli/azd/cmd/restore.go
  cli/azd/cmd/root.go
  cli/azd/cmd/testdata/TestUsage-azd.snap
  cli/azd/cmd/util.go
  cli/azd/pkg/input/console.go
  cli/azd/pkg/output/ux/endpoint.go
  cli/azd/pkg/project/container_helper.go
  cli/azd/pkg/project/container_helper_test.go
  cli/azd/pkg/project/framework_service.go
  cli/azd/pkg/project/framework_service_docker.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/framework_service_dotnet.go
  cli/azd/pkg/project/framework_service_maven.go
  cli/azd/pkg/project/framework_service_npm.go
  cli/azd/pkg/project/framework_service_python.go
  cli/azd/pkg/project/project_manager.go
  cli/azd/pkg/project/project_utils.go
  cli/azd/pkg/project/service_manager.go
  cli/azd/pkg/project/service_manager_test.go
  cli/azd/pkg/project/service_models.go
  cli/azd/pkg/project/service_target.go
  cli/azd/pkg/project/service_target_aks.go
  cli/azd/pkg/project/service_target_aks_test.go
  cli/azd/pkg/project/service_target_appservice.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/pkg/project/service_target_functionapp.go
  cli/azd/pkg/project/service_target_staticwebapp.go
  cli/azd/pkg/tools/docker/docker.go
  cli/azd/pkg/tools/docker/docker_test.go
Due: eng/pipelines/release-cli.yml

fix install
  eng/pipelines/templates/steps/template-test-run-job.yml
Due: none

warning message
  cli/azd/pkg/alpha/alpha_feature.go
  cli/azd/pkg/infra/provisioning/provider.go
Due: eng/pipelines/release-cli.yml

cl
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

Adding `Alpha Features` (#1715)
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/CHANGELOG.md
  cli/azd/cmd/config.go
  cli/azd/cmd/container.go
  cli/azd/cmd/deploy.go
  cli/azd/cmd/down.go
  cli/azd/cmd/env.go
  cli/azd/cmd/provision.go
  cli/azd/cmd/testdata/TestUsage-azd-config-get.snap
  cli/azd/cmd/testdata/TestUsage-azd-config-list-alpha.snap
  cli/azd/cmd/testdata/TestUsage-azd-config-reset.snap
  cli/azd/cmd/testdata/TestUsage-azd-config-set.snap
  cli/azd/cmd/testdata/TestUsage-azd-config-unset.snap
  cli/azd/cmd/testdata/TestUsage-azd-config.snap
  cli/azd/docs/alpha-features.md
  cli/azd/pkg/alpha/alpha_feature.go
  cli/azd/pkg/alpha/alpha_feature_manager.go
  cli/azd/pkg/alpha/alpha_feature_test.go
  cli/azd/pkg/alpha/alpha_features.go
  cli/azd/pkg/infra/provisioning/manager.go
  cli/azd/pkg/infra/provisioning/manager_test.go
  cli/azd/pkg/infra/provisioning/provider.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/resources/alpha_features.yaml
  cli/azd/resources/resources.go
  cli/azd/test/functional/cli_test.go
  cli/azd/test/mocks/mock_context.go
  eng/pipelines/templates/steps/template-test-run-job.yml
  schemas/v1.0/azure.yaml.json
  templates/common/.azdo/pipelines/terraform/azure-dev.yml
  templates/common/.github/workflows/terraform/azure-dev.yml
  templates/todo/projects/nodejs-mongo/.repo/terraform/README.md
  templates/todo/projects/python-mongo/.repo/terraform/README.md
Due: eng/pipelines/release-cli.yml, eng/pipelines/repoman.yml

Ask fewer questions during `init` (#1752)
  cli/azd/cmd/container.go
  cli/azd/cmd/deploy.go
  cli/azd/cmd/down.go
  cli/azd/cmd/env.go
  cli/azd/cmd/init.go
  cli/azd/cmd/monitor.go
  cli/azd/cmd/pipeline.go
  cli/azd/cmd/provision.go
  cli/azd/cmd/restore.go
  cli/azd/cmd/show.go
  cli/azd/cmd/util.go
  cli/azd/cmd/util_test.go
  cli/azd/pkg/account/manager.go
  cli/azd/pkg/account/manager_test.go
  cli/azd/pkg/azureutil/principal.go
  cli/azd/pkg/environment/azdcontext/azdcontext.go
  cli/azd/pkg/environment/environment.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/infra/provisioning/bicep/prompt.go
  cli/azd/pkg/infra/provisioning/bicep/prompt_test.go
  cli/azd/pkg/infra/provisioning/manager.go
  cli/azd/pkg/infra/provisioning/manager_test.go
  cli/azd/pkg/infra/provisioning/provider.go
  cli/azd/pkg/infra/provisioning/provisioning.go
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider.go
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider_test.go
  cli/azd/pkg/infra/provisioning/test/test_provider.go
  cli/azd/pkg/infra/provisioning/util.go
  cli/azd/pkg/infra/provisioning/util_test.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/pkg/tools/azcli/user_profile.go
  cli/azd/pkg/tools/azcli/user_profile_test.go
  cli/azd/test/functional/cli_test.go
  cli/azd/test/functional/deploy_test.go
  cli/azd/test/functional/env_test.go
  cli/azd/test/functional/restore_test.go
  cli/azd/test/functional/telemetry_test.go
  cli/azd/test/functional/up_test.go
  cli/azd/test/mocks/mockaccount/mock_manager.go
Due: eng/pipelines/release-cli.yml

Attempt MSI clean-up of ~/.azd/bin
  cli/installer/windows/azd.wxs
  cli/installer/windows/ui.wxs
Due: eng/pipelines/release-cli.yml

Refactor ASA support, using jar to deploy apps
  cli/azd/pkg/project/mutedConsole.go
  cli/azd/pkg/project/project.go
  cli/azd/pkg/project/service_config.go
  cli/azd/pkg/project/service_manager.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/pkg/project/service_target_springapp.go
  cli/azd/pkg/project/service_target_springapp_test.go
  cli/azd/pkg/tools/azcli/azcli.go
  cli/azd/pkg/tools/azcli/spring_app.go
  go.mod
  go.sum
Due: eng/pipelines/release-cli.yml

fix spell issue and remove unuseful property
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/pkg/project/service_target_springapp.go
Due: eng/pipelines/release-cli.yml

fix error after code merge from upstream
  cli/azd/pkg/project/service_target_springapp.go
Due: eng/pipelines/release-cli.yml

fix golangci-lint error
  cli/azd/pkg/project/service_target_springapp.go
  cli/azd/pkg/tools/azcli/spring_app.go
Due: eng/pipelines/release-cli.yml

add springapp test sample
  cli/azd/test/functional/testdata/samples/springapp/azure.yaml
  cli/azd/test/functional/testdata/samples/springapp/infra/main.tf
  cli/azd/test/functional/testdata/samples/springapp/infra/main.tfvars.json
  cli/azd/test/functional/testdata/samples/springapp/infra/modules/springapps/springapps.tf
  cli/azd/test/functional/testdata/samples/springapp/infra/modules/springapps/springapps_variable.tf
  cli/azd/test/functional/testdata/samples/springapp/infra/provider.tf
  cli/azd/test/functional/testdata/samples/springapp/infra/variables.tf
  cli/azd/test/functional/testdata/samples/springapp/pom.xml
  cli/azd/test/functional/testdata/samples/springapp/src/main/java/com/microsoft/azure/webapp/WebappApplication.java
  cli/azd/test/functional/testdata/samples/springapp/src/main/java/com/microsoft/azure/webapp/web/HelloController.java
  cli/azd/test/functional/testdata/samples/springapp/src/main/resources/application.properties
  cli/azd/test/functional/testdata/samples/springapp/src/test/java/com/microsoft/azure/webapp/WebappApplicationTests.java
Due: eng/pipelines/release-cli.yml

Revert changes to remove entrypoint
  templates/todo/web/react-fluent/Dockerfile
  templates/todo/web/react-fluent/entrypoint.js
  templates/todo/web/react-fluent/entrypoint.sh
  templates/todo/web/react-fluent/package.json
  templates/todo/web/react-fluent/src/config/index.ts
Due: eng/pipelines/repoman.yml

add interactive for debugging
  templates/todo/projects/csharp-sql-swa-func/.repo/bicep/azure.yaml
  templates/todo/projects/nodejs-mongo-swa-func/.repo/bicep/azure.yaml
  templates/todo/projects/python-mongo-swa-func/.repo/bicep/azure.yaml
  templates/todo/web/react-fluent/gen-env-config.js
Due: eng/pipelines/repoman.yml

Make explicit packaging folder
  cli/azd/pkg/project/framework_service_dotnet.go
  cli/azd/pkg/project/framework_service_maven.go
  cli/azd/pkg/project/framework_service_npm.go
  cli/azd/pkg/project/framework_service_python.go
  cli/azd/test/functional/testdata/samples/.gitignore
  templates/todo/projects/csharp-sql-swa-func/.repo/bicep/azure.yaml
  templates/todo/projects/nodejs-mongo-swa-func/.repo/bicep/azure.yaml
  templates/todo/projects/python-mongo-swa-func/.repo/bicep/azure.yaml
Due: eng/pipelines/release-cli.yml, eng/pipelines/repoman.yml

Add Attach to Process configuration for use with `AZD_DEBUG` (#1432)
  cli/azd/.vscode/launch.json
  cli/azd/CONTRIBUTING.md
Due: eng/pipelines/release-cli.yml

update message
  cli/azd/pkg/alpha/alpha_feature.go
Due: eng/pipelines/release-cli.yml

ux
  cli/azd/pkg/alpha/alpha_feature.go
Due: eng/pipelines/release-cli.yml

Fix tests
  cli/azd/internal/repository/initializer.go
  cli/azd/pkg/project/framework_service_dotnet.go
  cli/azd/pkg/project/framework_service_dotnet_test.go
  cli/azd/pkg/project/framework_service_maven.go
  cli/azd/pkg/project/framework_service_npm.go
  cli/azd/pkg/project/framework_service_python.go
  cli/azd/pkg/project/project_utils.go
Due: eng/pipelines/release-cli.yml

Matt's feedback
  ext/vscode/package.nls.json
Due: eng/pipelines/release-vscode.yml

fix test assertions
  cli/azd/internal/repository/testdata/empty/gitignore_created.txt
  cli/azd/internal/repository/testdata/empty/gitignore_with_env.txt
Due: eng/pipelines/release-cli.yml

Fix deploy not showing on individual services
  ext/vscode/package.json
Due: eng/pipelines/release-vscode.yml

Bump packages
  ext/vscode/package-lock.json
  ext/vscode/package.json
Due: eng/pipelines/release-vscode.yml

Revert hook changes
  templates/todo/projects/csharp-sql-swa-func/.repo/bicep/azure.yaml
  templates/todo/projects/nodejs-mongo-swa-func/.repo/bicep/azure.yaml
  templates/todo/projects/python-mongo-swa-func/.repo/bicep/azure.yaml
Due: eng/pipelines/repoman.yml

Revert package changes
  cli/azd/pkg/project/framework_service_dotnet.go
  cli/azd/pkg/project/framework_service_dotnet_test.go
  cli/azd/pkg/project/framework_service_maven.go
  cli/azd/pkg/project/framework_service_npm.go
  cli/azd/pkg/project/framework_service_python.go
  cli/azd/pkg/project/project_utils.go
Due: eng/pipelines/release-cli.yml

revert gitignore changes
  cli/azd/internal/repository/initializer.go
  cli/azd/internal/repository/testdata/empty/gitignore_created.txt
  cli/azd/internal/repository/testdata/empty/gitignore_with_env.txt
  cli/azd/test/functional/testdata/samples/.gitignore
Due: eng/pipelines/release-cli.yml

address feedback
  templates/common/infra/bicep/core/host/appservice-appsettings-append.bicep
  templates/todo/projects/csharp-cosmos-sql/.repo/bicep/infra/main.bicep
  templates/todo/projects/csharp-sql/.repo/bicep/infra/main.bicep
  templates/todo/projects/java-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo/.repo/terraform/infra/main.tf
  templates/todo/projects/python-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo/.repo/terraform/infra/main.tf
Due: eng/pipelines/repoman.yml

run package before provision in up flow
  cli/azd/cmd/up.go
Due: eng/pipelines/release-cli.yml

RemoveExistingProducts later to fix RemoveFiles
  cli/installer/windows/azd.wxs
Due: eng/pipelines/release-cli.yml

explicitly skip package, fix project init
  cli/azd/cmd/deploy.go
  cli/azd/cmd/package.go
  cli/azd/cmd/restore.go
  cli/azd/cmd/up.go
Due: eng/pipelines/release-cli.yml

switch to reapplying state
  templates/common/infra/bicep/core/host/appservice-appsettings-append.bicep
  templates/common/infra/bicep/core/host/appservice-appsettings.bicep
  templates/todo/projects/csharp-cosmos-sql/.repo/bicep/infra/main.bicep
  templates/todo/projects/csharp-sql/.repo/bicep/infra/main.bicep
  templates/todo/projects/java-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo/.repo/bicep/infra/main.bicep
Due: eng/pipelines/repoman.yml

Updates app service configuration to generate env-config.js
  templates/common/infra/bicep/core/host/appservice-appsettings-union.bicep
  templates/common/infra/bicep/core/host/appservice-appsettings.bicep
  templates/todo/common/infra/bicep/app/web-appservice.bicep
  templates/todo/projects/java-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo/.repo/bicep/infra/main.bicep
  templates/todo/web/react-fluent/entrypoint.sh
  templates/todo/web/react-fluent/package.json
Due: eng/pipelines/repoman.yml

Updates donet templtes
  templates/todo/projects/csharp-cosmos-sql/.repo/bicep/infra/main.bicep
  templates/todo/projects/csharp-sql/.repo/bicep/infra/main.bicep
Due: eng/pipelines/repoman.yml
