Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/release-cli.yml:
  stages:
  - stage: BuildAndTest
    jobs:
    - job: BuildCLI
      strategy:
        matrix:
          Windows:
            Pool: azsdk-pool-mms-win-2022-general
            OSVmImage: MMS2022
            BuildTarget: azd-windows-amd64.exe
            BuildOutputName: azd.exe
            BuildTestMsi: true
  ...

eng/pipelines/release-vscode.yml:
  stages:
  - stage: BuildAndTest
    jobs:
    - job: BuildVscode
      strategy:
        matrix:
          Windows:
            Pool: azsdk-pool-mms-win-2022-general
            OSVmImage: MMS2022
          Linux:
            Pool: azsdk-pool-mms-ubuntu-2004-general
            OSVmImage: MMSUbuntu20.04
  ...

eng/pipelines/repoman.yml:
  stages:
  - stage: Validation
    jobs:
    - job: Generate_Repos_For_PR
      condition: "and(\n  succeeded(),\n  or(\n    eq(variables['BuildReasonOverride'], 'PullRequest'),\n    and(\n      eq('', variables['BuildReasonOverride']),\n      eq(variables['Build.Reason'], 'PullRequest')\n    )\n  )\n)"
  ...

eng/pipelines/template-tests.yml:
  jobs:
  - template: /eng/pipelines/templates/jobs/run-template-tests.yml
    parameters:
      AzdVersion: ${{ parameters.AzdVersion }}
      UseAzdVersionFromPrNumber: true
      TemplateList: ${{ parameters.TemplateList }}
      TemplateListFilter: ${{ parameters.TemplateListFilter }}
  ...

Allow empty settings to conditionally update appsettings
  templates/common/infra/bicep/core/host/appservice.bicep
Due: eng/pipelines/repoman.yml

fix for swa
  templates/todo/projects/csharp-sql-swa-func/.repo/bicep/azure.yaml
  templates/todo/projects/nodejs-mongo-swa-func/.repo/bicep/azure.yaml
  templates/todo/projects/python-mongo-swa-func/.repo/bicep/azure.yaml
Due: eng/pipelines/repoman.yml

fix for appservice
  templates/todo/common/infra/bicep/app/web-appservice.bicep
  templates/todo/web/react-fluent/package.json
Due: eng/pipelines/repoman.yml

remove hook debugging
  templates/todo/projects/csharp-sql-swa-func/.repo/bicep/azure.yaml
  templates/todo/projects/nodejs-mongo-swa-func/.repo/bicep/azure.yaml
  templates/todo/projects/python-mongo-swa-func/.repo/bicep/azure.yaml
Due: eng/pipelines/repoman.yml

refactor settings
  templates/common/infra/bicep/core/host/appservice-settings.bicep
  templates/common/infra/bicep/core/host/appservice.bicep
  templates/todo/projects/csharp-cosmos-sql/.repo/bicep/infra/main.bicep
  templates/todo/projects/csharp-sql/.repo/bicep/infra/main.bicep
  templates/todo/projects/java-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo/.repo/bicep/infra/main.bicep
Due: eng/pipelines/repoman.yml

revert web-initial
  templates/todo/projects/java-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo/.repo/bicep/infra/main.bicep
Due: eng/pipelines/repoman.yml

fix kind logic
  templates/common/infra/bicep/core/host/appservice-settings.bicep
Due: eng/pipelines/repoman.yml

remaining changes
  templates/todo/projects/nodejs-mongo/.repo/terraform/infra/main.tf
  templates/todo/projects/python-mongo/.repo/terraform/infra/main.tf
  templates/todo/web/react-fluent/entrypoint.sh
Due: eng/pipelines/repoman.yml

fix lint
  templates/todo/projects/python-mongo/.repo/bicep/infra/main.bicep
Due: eng/pipelines/repoman.yml

Updates for docker file
  templates/common/infra/bicep/core/host/appservice.bicep
  templates/todo/web/react-fluent/entrypoint.sh
Due: eng/pipelines/repoman.yml

Updates to app settings
  templates/common/infra/bicep/core/host/appservice-appsettings-union.bicep
  templates/common/infra/bicep/core/host/appservice-appsettings.bicep
  templates/common/infra/bicep/core/host/appservice.bicep
  templates/todo/common/infra/bicep/app/web-appservice.bicep
Due: eng/pipelines/repoman.yml

Updates description
  templates/common/infra/bicep/core/host/appservice-appsettings.bicep
Due: eng/pipelines/repoman.yml

Fixes spell lint issues
  .vscode/cspell.global.yaml
Due: none

Revert changes to get clean diff
  templates/common/infra/bicep/core/host/appservice.bicep
  templates/todo/common/infra/bicep/app/web-appservice.bicep
  templates/todo/projects/csharp-cosmos-sql/.repo/bicep/infra/main.bicep
  templates/todo/projects/csharp-sql/.repo/bicep/infra/main.bicep
  templates/todo/projects/java-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo/.repo/terraform/infra/main.tf
  templates/todo/projects/python-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo/.repo/terraform/infra/main.tf
Due: eng/pipelines/repoman.yml

Updates terraform app settings
  templates/todo/projects/nodejs-mongo/.repo/terraform/infra/main.tf
  templates/todo/projects/python-mongo/.repo/terraform/infra/main.tf
Due: eng/pipelines/repoman.yml

Add prompt at front
  cli/azd/cmd/deploy.go
  cli/azd/cmd/up.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/infra/provisioning/manager.go
  cli/azd/pkg/infra/provisioning/provider.go
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider.go
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider_test.go
  cli/azd/pkg/infra/provisioning/test/test_provider.go
  cli/azd/pkg/infra/provisioning/util.go
Due: eng/pipelines/release-cli.yml

swa azure.yaml updates
  templates/todo/projects/csharp-sql-swa-func/.repo/bicep/azure.yaml
  templates/todo/projects/nodejs-mongo-swa-func/.repo/bicep/azure.yaml
  templates/todo/projects/python-mongo-swa-func/.repo/bicep/azure.yaml
Due: eng/pipelines/repoman.yml

remove incorrect if
  cli/azd/cmd/up.go
Due: eng/pipelines/release-cli.yml

revert template changes
  templates/todo/projects/csharp-sql-swa-func/.repo/bicep/azure.yaml
  templates/todo/projects/nodejs-mongo-swa-func/.repo/bicep/azure.yaml
  templates/todo/projects/python-mongo-swa-func/.repo/bicep/azure.yaml
  templates/todo/web/react-fluent/entrypoint.sh
  templates/todo/web/react-fluent/package.json
Due: eng/pipelines/repoman.yml

remove
  templates/common/infra/bicep/core/host/appservice-settings.bicep
Due: eng/pipelines/repoman.yml

Update AppService to support custom entrypoint for dynamic configuration (#1841)
  .vscode/cspell.global.yaml
  templates/common/infra/bicep/core/host/appservice-appsettings.bicep
  templates/common/infra/bicep/core/host/appservice.bicep
  templates/todo/common/infra/bicep/app/web-appservice.bicep
  templates/todo/projects/csharp-cosmos-sql/.repo/bicep/infra/main.bicep
  templates/todo/projects/csharp-sql-swa-func/.repo/bicep/azure.yaml
  templates/todo/projects/csharp-sql/.repo/bicep/infra/main.bicep
  templates/todo/projects/java-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo-swa-func/.repo/bicep/azure.yaml
  templates/todo/projects/nodejs-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/nodejs-mongo/.repo/terraform/infra/main.tf
  templates/todo/projects/python-mongo-swa-func/.repo/bicep/azure.yaml
  templates/todo/projects/python-mongo/.repo/bicep/infra/main.bicep
  templates/todo/projects/python-mongo/.repo/terraform/infra/main.tf
  templates/todo/web/react-fluent/entrypoint.sh
  templates/todo/web/react-fluent/package.json
Due: eng/pipelines/repoman.yml

fix test assertion
  cli/azd/test/functional/cli_test.go
Due: eng/pipelines/release-cli.yml

Reorder packaging step in `up` flow (#1831)
  cli/azd/cmd/deploy.go
  cli/azd/cmd/package.go
  cli/azd/cmd/restore.go
  cli/azd/cmd/up.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep/bicep_provider_test.go
  cli/azd/pkg/infra/provisioning/manager.go
  cli/azd/pkg/infra/provisioning/provider.go
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider.go
  cli/azd/pkg/infra/provisioning/terraform/terraform_provider_test.go
  cli/azd/pkg/infra/provisioning/test/test_provider.go
  cli/azd/pkg/infra/provisioning/util.go
  cli/azd/test/functional/cli_test.go
  eng/pipelines/templates/steps/template-test-run-job.yml
Due: eng/pipelines/release-cli.yml

Update messaging for deprecated commands/flags
  cli/azd/cmd/auth_login.go
  cli/azd/cmd/auth_logout.go
  cli/azd/cmd/infra_create.go
  cli/azd/cmd/infra_delete.go
  cli/azd/cmd/provision.go
  cli/azd/cmd/up.go
Due: eng/pipelines/release-cli.yml

Remove '--service' usage in templates
  templates/todo/projects/csharp-cosmos-sql/.vscode/tasks.json
  templates/todo/projects/csharp-sql-swa-func/.vscode/tasks.json
  templates/todo/projects/csharp-sql/.vscode/tasks.json
  templates/todo/projects/java-mongo-aca/.vscode/tasks.json
  templates/todo/projects/java-mongo/.vscode/tasks.json
  templates/todo/projects/nodejs-mongo-aca/.vscode/tasks.json
  templates/todo/projects/nodejs-mongo-aks/.vscode/tasks.json
  templates/todo/projects/nodejs-mongo-swa-func/.vscode/tasks.json
  templates/todo/projects/nodejs-mongo/.vscode/tasks.json
  templates/todo/projects/python-mongo-aca/.vscode/tasks.json
  templates/todo/projects/python-mongo-swa-func/.vscode/tasks.json
  templates/todo/projects/python-mongo/.vscode/tasks.json
Due: eng/pipelines/repoman.yml

Remove build influence
  cli/azd/pkg/project/framework_service_dotnet.go
  cli/azd/pkg/project/framework_service_npm.go
Due: eng/pipelines/release-cli.yml

Fix inaccurate comments
  cli/azd/pkg/project/framework_service_dotnet.go
  cli/azd/pkg/project/framework_service_npm.go
Due: eng/pipelines/release-cli.yml

Get tenant ID from token in CloudShell scenarios
  cli/azd/pkg/account/subscriptions_manager.go
  cli/azd/pkg/auth/cloudshell_credential.go
  cli/azd/pkg/auth/manager.go
  cli/azd/pkg/auth/token.go
  cli/azd/pkg/auth/token_test.go
  cli/azd/pkg/azureutil/principal.go
  cli/azd/pkg/azureutil/principal_test.go
Due: eng/pipelines/release-cli.yml

Add context to tests
  cli/azd/pkg/account/manager_test.go
  cli/azd/pkg/account/subscriptions_manager_test.go
Due: eng/pipelines/release-cli.yml

CloudShell Credential Tests
  cli/azd/pkg/auth/cloudshell_credential.go
  cli/azd/pkg/auth/cloudshell_credential_test.go
  cli/azd/pkg/auth/manager_test.go
Due: eng/pipelines/release-cli.yml

Be explicit about `--all`
  ext/vscode/src/commands/deploy.ts
  ext/vscode/src/commands/restore.ts
Due: eng/pipelines/release-vscode.yml

Scope to a single modal delete prompt
  ext/vscode/src/commands/down.ts
Due: eng/pipelines/release-vscode.yml

Add a missing word
  ext/vscode/src/commands/down.ts
Due: eng/pipelines/release-vscode.yml

Delete extra button
  ext/vscode/src/commands/down.ts
Due: eng/pipelines/release-vscode.yml

Reorder
  ext/vscode/src/commands/down.ts
Due: eng/pipelines/release-vscode.yml

Check for empty or nil resource types
  .vscode/cspell.global.yaml
  cli/azd/pkg/infra/azure_resource_manager.go
  cli/azd/pkg/stringutil/stringutil.go
  cli/azd/pkg/stringutil/stringutil_test.go
Due: eng/pipelines/release-cli.yml

Fix bad merge
  ext/vscode/src/utils/azureDevCli.ts
Due: eng/pipelines/release-vscode.yml

Rename package to with generic funcs
  cli/azd/pkg/compare/compare.go
  cli/azd/pkg/compare/compare_test.go
  cli/azd/pkg/infra/azure_resource_manager.go
  cli/azd/pkg/stringutil/stringutil.go
Due: eng/pipelines/release-cli.yml

Repackage `swa` in `up` flow
  cli/azd/pkg/project/service_manager.go
Due: eng/pipelines/release-cli.yml

Add support for package command
  ext/vscode/package.json
  ext/vscode/package.nls.json
  ext/vscode/src/commands/packageCli.ts
  ext/vscode/src/commands/registerCommands.ts
  ext/vscode/src/telemetry/telemetryId.ts
Due: eng/pipelines/release-vscode.yml

Path conditions:
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml
  eng/pipelines/release-vscode.yml: any of: ext, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
