Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/release-cli.yml, eng/pipelines/release-vscode.yml, eng/pipelines/repoman.yml, eng/pipelines/template-tests.yml

eng/pipelines/release-cli.yml:
  stages:
  - stage: BuildAndTest
    jobs:
    - job: BuildCLI
      strategy:
        matrix:
          Windows:
            Pool: azsdk-pool-mms-win-2022-general
            OSVmImage: MMS2022
            BuildTarget: azd-windows-amd64.exe
            BuildOutputName: azd.exe
            BuildTestMsi: true
  ...

eng/pipelines/release-vscode.yml:
  stages:
  - stage: BuildAndTest
    jobs:
    - job: BuildVscode
      strategy:
        matrix:
          Windows:
            Pool: azsdk-pool-mms-win-2022-general
            OSVmImage: MMS2022
          Linux:
            Pool: azsdk-pool-mms-ubuntu-2004-general
            OSVmImage: MMSUbuntu20.04
  ...

eng/pipelines/repoman.yml:
  stages:
  - stage: Validation
    jobs:
    - job: Generate_Repos_For_PR
      condition: "and(\n  succeeded(),\n  or(\n    eq(variables['BuildReasonOverride'], 'PullRequest'),\n    and(\n      eq('', variables['BuildReasonOverride']),\n      eq(variables['Build.Reason'], 'PullRequest')\n    )\n  )\n)"
  ...

eng/pipelines/template-tests.yml:
  jobs:
  - template: /eng/pipelines/templates/jobs/run-template-tests.yml
    parameters:
      AzdVersion: ${{ parameters.AzdVersion }}
      UseAzdVersionFromPrNumber: true
      TemplateList: ${{ parameters.TemplateList }}
      TemplateListFilter: ${{ parameters.TemplateListFilter }}
  ...

update config
  cli/azd/internal/appdetect/config.go
Due: eng/pipelines/release-cli.yml

fallback back to prompt
  cli/azd/cmd/init.go
  cli/azd/pkg/templates/match.go
Due: eng/pipelines/release-cli.yml

add failing test
  cli/azd/test/functional/env_test.go
Due: eng/pipelines/release-cli.yml

Use flag parsing
  cli/azd/cmd/container.go
  cli/azd/cmd/util.go
Due: eng/pipelines/release-cli.yml

Fix comment
  cli/azd/cmd/container.go
Due: eng/pipelines/release-cli.yml

Update `CODEOWNERS` paths: fix invalid paths
  .github/CODEOWNERS
Due: none

Suggest installation of AZD from extension (#1511)
  ext/vscode/package.json
  ext/vscode/package.nls.json
  ext/vscode/src/commands/installCli.ts
  ext/vscode/src/commands/registerCommands.ts
  ext/vscode/src/utils/azureDevCli.ts
Due: eng/pipelines/release-vscode.yml

Use webpack watch as default build task
  ext/vscode/.vscode/extensions.json
  ext/vscode/.vscode/tasks.json
Due: eng/pipelines/release-vscode.yml

Update nuspec to use valid links (chicken and egg problem)
  cli/installer/choco/azd.nuspec
Due: eng/pipelines/release-cli.yml

Remove LICENSE.txt copy
  cli/installer/choco/tools/LICENSE.txt
Due: eng/pipelines/release-cli.yml

Increment CLI version after release
  cli/azd/CHANGELOG.md
  cli/version.txt
Due: eng/pipelines/release-cli.yml

Progress on Choco package generation
  cli/installer/choco/azd.nuspec
  cli/installer/choco/tools/LICENSE.txt
  cli/installer/choco/tools/VERIFICATION.txt
  cli/installer/choco/tools/chocolateyinstall.ps1
  cli/installer/choco/tools/chocolateyuninstall.ps1
  eng/pipelines/templates/steps/publish-cli-choco.yml
  eng/scripts/New-ChocoPackage.ps1
Due: eng/pipelines/release-cli.yml

Include LICENSE.txt file
  eng/scripts/New-ChocoPackage.ps1
Due: none

Specify tag directly
  eng/pipelines/templates/steps/publish-cli-choco.yml
Due: none

Update nuspec formatting, add iconUrl
  cli/installer/choco/azd.nuspec
Due: eng/pipelines/release-cli.yml

Add icon URL
  cli/installer/choco/azd.nuspec
Due: eng/pipelines/release-cli.yml

Tie into release yaml with safeties in place
  eng/pipelines/release-cli.yml
  eng/pipelines/templates/steps/publish-cli-choco.yml
Due: eng/pipelines/release-cli.yml

Embedded packages do not require SHA
  cli/installer/choco/azd.nuspec
  cli/installer/choco/tools/VERIFICATION.txt
  cli/installer/choco/tools/chocolateyinstall.ps1
  eng/pipelines/templates/steps/publish-cli-choco.yml
  eng/scripts/New-ChocoPackage.ps1
Due: eng/pipelines/release-cli.yml

Implement release gating on AllowPrerelease
  eng/pipelines/templates/steps/publish-cli-choco.yml
  eng/scripts/Test-ShouldReleasePackageVersion.Tests.ps1
  eng/scripts/Test-ShouldReleasePackageVersion.ps1
Due: none

Fix TODOs
  eng/pipelines/release-cli.yml
  eng/pipelines/templates/steps/publish-cli-choco.yml
Due: eng/pipelines/release-cli.yml

Comment wording
  eng/scripts/New-ChocoPackage.ps1
Due: none

More consistent artifact naming
  eng/pipelines/templates/steps/publish-cli-choco.yml
Due: none

Fix environment flag not respected (#1534)
  cli/azd/cmd/container.go
  cli/azd/cmd/util.go
  cli/azd/test/functional/env_test.go
Due: eng/pipelines/release-cli.yml

Use webpack watch as default build task (#1536)
  ext/vscode/.vscode/extensions.json
  ext/vscode/.vscode/tasks.json
Due: eng/pipelines/release-vscode.yml

Update changelog entry for `0.6.0-beta.2`
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

Update `CODEOWNERS` paths: fix invalid paths (#1535)
  .github/CODEOWNERS
Due: none

Apply suggestions from code review
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

Update cli/azd/CHANGELOG.md
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

Update CHANGELOG.md
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

Update changelog entry for `0.6.0-beta.2` (#1540)
  cli/azd/CHANGELOG.md
Due: eng/pipelines/release-cli.yml

Fix initialization test
  cli/azd/cmd/actions_test.go
  cli/azd/cmd/util.go
  cli/azd/test/azdcli/cli_test.go
  cli/azd/test/functional/initialize_test.go
Due: eng/pipelines/release-cli.yml

rename test
  cli/azd/test/functional/initialize_test.go
Due: eng/pipelines/release-cli.yml

remove extra test
  cli/azd/test/azdcli/cli_test.go
Due: eng/pipelines/release-cli.yml

update java spring dependencies
  templates/todo/api/java/pom.xml
Due: eng/pipelines/repoman.yml

make developer errors panic
  cli/azd/cmd/container.go
Due: eng/pipelines/release-cli.yml

update javax to jakarta
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/api/ApiUtil.java
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/api/ItemsApi.java
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/api/ListsApi.java
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/controller/TodoListsController.java
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/model/TodoItem.java
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/model/TodoList.java
  templates/todo/api/java/src/main/java/com/microsoft/azure/simpletodo/model/TodoState.java
Due: eng/pipelines/repoman.yml

Path conditions:
  eng/pipelines/release-cli.yml: any of: go.mod, cli, eng/pipelines/release-cli.yml
  eng/pipelines/release-vscode.yml: any of: ext, eng/pipelines/release-vscode.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml: any of: eng/templates/**/*template-test*.yml, eng/pipelines/template-tests.yml
