Repository Azure/azure-dev: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/release-cli.yml, eng/pipelines/repoman.yml

Path conditions:
  eng/pipelines/release-cli.yml: any of: cli, eng/pipelines/release-cli.yml
  eng/pipelines/repoman.yml: any of: generators, templates, eng/pipelines/repoman.yml

Deployment nesting
  eng/pipelines/repoman.yml
Due: eng/pipelines/repoman.yml

Jobs
  eng/pipelines/repoman.yml
Due: eng/pipelines/repoman.yml

Repoman support for arbitrary base branch
  generators/repo/src/commands/generate.ts
  generators/repo/src/tools/git.ts
Due: eng/pipelines/repoman.yml

Explicitly TargetBranchName
  eng/pipelines/repoman.yml
Due: eng/pipelines/repoman.yml

Environment variable naming
  eng/pipelines/repoman.yml
Due: eng/pipelines/repoman.yml

Add test2.txt
  templates/common/test2.txt
Due: eng/pipelines/repoman.yml

Repoman: use staging branch
  eng/pipelines/repoman.yml
  eng/pipelines/templates/steps/repoman-generate.yml
  eng/scripts/Invoke-RepomanGenerate.ps1
  generators/repo/README.md
  generators/repo/src/commands/generate.ts
  generators/repo/src/index.ts
Due: eng/pipelines/repoman.yml

Use staging branch
  eng/pipelines/repoman.yml
Due: eng/pipelines/repoman.yml

Move conditions to higher level
  eng/pipelines/repoman.yml
Due: eng/pipelines/repoman.yml

BaseBranchName
  eng/pipelines/repoman.yml
Due: eng/pipelines/repoman.yml

Add test.txt
  templates/common/test.txt
Due: eng/pipelines/repoman.yml

Condition inside the job
  eng/pipelines/repoman.yml
Due: eng/pipelines/repoman.yml

Remove test.txt
  templates/common/test.txt
Due: eng/pipelines/repoman.yml

Remove test2.txt
  templates/common/test2.txt
Due: eng/pipelines/repoman.yml

Specify a base branch for repoman-generate.yml
  eng/pipelines/repoman.yml
Due: eng/pipelines/repoman.yml

Stages
  eng/pipelines/repoman.yml
Due: eng/pipelines/repoman.yml

Add staging branch/remote configuration to repo.yaml
  templates/todo/projects/csharp-cosmos-sql/repo.yaml
  templates/todo/projects/csharp-mongo/repo.yaml
  templates/todo/projects/csharp-sql/repo.yaml
  templates/todo/projects/nodejs-mongo-aca/repo.yaml
  templates/todo/projects/nodejs-mongo-swa-func/repo.yaml
  templates/todo/projects/nodejs-mongo/repo.yaml
  templates/todo/projects/python-mongo-aca/repo.yaml
  templates/todo/projects/python-mongo-swa-func/repo.yaml
  templates/todo/projects/python-mongo/repo.yaml
Due: eng/pipelines/repoman.yml

Repoman: always checkout defaultBranch, yml: specify RemoteName
  eng/pipelines/repoman.yml
  eng/pipelines/templates/steps/repoman-generate.yml
  generators/repo/src/commands/generate.ts
Due: eng/pipelines/repoman.yml

Revert repoman changes
  generators/repo/README.md
  generators/repo/src/commands/generate.ts
  generators/repo/src/index.ts
  generators/repo/src/tools/git.ts
Due: eng/pipelines/repoman.yml

repoman: ensure default branch exists
  generators/repo/src/commands/generate.ts
  templates/todo/projects/csharp-sql/repo.yaml
Due: eng/pipelines/repoman.yml

Set up CD trigger
  eng/pipelines/repoman.yml
Due: eng/pipelines/repoman.yml

Parameters
  eng/pipelines/templates/steps/repoman-generate.yml
  eng/scripts/Invoke-RepomanGenerate.ps1
Due: none

RemoteName
  eng/pipelines/repoman.yml
Due: eng/pipelines/repoman.yml

Repo cleanup
  eng/pipelines/repoman.yml
  eng/pipelines/template-tests.yml
Due: eng/pipelines/repoman.yml

Use staging branch
  templates/todo/projects/csharp-cosmos-sql/repo.yaml
  templates/todo/projects/csharp-mongo/repo.yaml
  templates/todo/projects/csharp-sql/repo.yaml
  templates/todo/projects/nodejs-mongo-aca/repo.yaml
  templates/todo/projects/nodejs-mongo-swa-func/repo.yaml
  templates/todo/projects/nodejs-mongo/repo.yaml
  templates/todo/projects/python-mongo-aca/repo.yaml
  templates/todo/projects/python-mongo-swa-func/repo.yaml
  templates/todo/projects/python-mongo/repo.yaml
Due: eng/pipelines/repoman.yml

Add cleanup test
  cli/azd/internal/telemetry/storage.go
  cli/azd/internal/telemetry/storage_test.go
Due: eng/pipelines/release-cli.yml

az version and extensions should force json output (#461)
  cli/azd/pkg/tools/azcli.go
Due: eng/pipelines/release-cli.yml

add test case and use ReplaceAllString
  cli/azd/pkg/executil/executil.go
  cli/azd/pkg/executil/executil_test.go
Due: eng/pipelines/release-cli.yml

use map literal and apply on stderr.String()
  cli/azd/pkg/executil/executil.go
Due: eng/pipelines/release-cli.yml

align better
  cli/azd/pkg/executil/executil.go
Due: eng/pipelines/release-cli.yml

use os to fix "io/ioutil" deprecation
  cli/azd/cmd/infra_create.go
  cli/azd/pkg/environment/azd_context.go
  cli/azd/pkg/project/project_config.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/test/functional/cli_test.go
Due: eng/pipelines/release-cli.yml

naming
  cli/azd/pkg/executil/executil_test.go
Due: eng/pipelines/release-cli.yml

Adds some channel sync in unit tests
  cli/azd/pkg/async/task.go
  cli/azd/pkg/async/task_test.go
  cli/azd/pkg/project/framework_service_docker_test.go
Due: eng/pipelines/release-cli.yml

Use `eastus2` not `eastus` as default location
  eng/pipelines/template-tests.yml
Due: none

Fixed more channel sync issues in unit tests
  cli/azd/pkg/async/task_test.go
  cli/azd/pkg/project/framework_service_docker_test.go
Due: eng/pipelines/release-cli.yml

Infra Provision/Deploy provider model (#172)
  cli/azd/.vscode/cspell-azd-dictionary.txt
  cli/azd/cmd/env.go
  cli/azd/cmd/infra_create.go
  cli/azd/cmd/infra_delete.go
  cli/azd/pkg/async/task.go
  cli/azd/pkg/async/task_context.go
  cli/azd/pkg/async/task_test.go
  cli/azd/pkg/environment/azd_context.go
  cli/azd/pkg/infra/azure_resource_manager.go
  cli/azd/pkg/infra/provisioning/bicep_provider.go
  cli/azd/pkg/infra/provisioning/bicep_provider_test.go
  cli/azd/pkg/infra/provisioning/manager.go
  cli/azd/pkg/infra/provisioning/manager_test.go
  cli/azd/pkg/infra/provisioning/preview.go
  cli/azd/pkg/infra/provisioning/preview_test.go
  cli/azd/pkg/infra/provisioning/provider.go
  cli/azd/pkg/infra/provisioning/provisioning.go
  cli/azd/pkg/infra/provisioning/scope.go
  cli/azd/pkg/infra/provisioning/test_provider.go
  cli/azd/pkg/input/asker.go
  cli/azd/pkg/input/console.go
  cli/azd/pkg/project/framework_service_docker_test.go
  cli/azd/pkg/project/project_config.go
  cli/azd/pkg/project/service_config.go
  cli/azd/pkg/project/service_target_containerapp.go
  cli/azd/pkg/tools/bicep.go
  cli/azd/pkg/tools/tool.go
  cli/azd/test/functional/cli_test.go
  cli/azd/test/mocks/mock_console.go
  cli/azd/test/mocks/mock_executil.go
Due: eng/pipelines/release-cli.yml

Adds additional args to event args
  cli/azd/pkg/project/project_config.go
  cli/azd/pkg/project/project_config_test.go
Due: eng/pipelines/release-cli.yml
